{% extends 'dashboard.html' %}
{% load static %}


 
{% block require %}
 

    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

 

{% endblock %}



{% block page_title %}
Etablissements accès au GAR
{% endblock %}


{% block page_menu_right %}
{% include 'association/menubar.html' %} 
{% endblock %}

 


{% block body %}

    <section class="content_main">     
 
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <label>id Distributeur  : 832020065_0000000000000000</label> 
            </div>
        </div>

        {% if error %}
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="aler alert-danger">Erreur de récupération des établissements</div> 
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <table class="table table-sacado  table-hover ordering_tab_1000">
                    <thead>
                        <tr>
                            <th>Nom</th> 
                            <th>idAbonnement</th>
                            <th>debutValidite</th>
                            <th>finValidite</th>
                            <th>categorie Affectation</th>
                            <th>nb Licence Enseignant</th>
                            <th>nb Licence Eleve</th>
                            <th>nb Licence AutrePersonnel</th>
                            <th>nb Licence ProfDoc</th>
                            <th>Supression</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in dataset %}
                            <tr>
                                <form action="{% url 'direct_update_abonnement_gar' %}" method="POST"  enctype='multipart/form-data'>{% csrf_token %}
                                <td>
                                    {{ data.name }}
                                    <input type="hidden" name="idAbonnement" value="{{ data.idAbonnement }}"/>
                                    <input type="hidden" name="debutValidite" value="{{ data.debutValidite }}"/>

                                </td> 
                                <td>
                                    {{ data.idAbonnement }}
                                </td> 
                                <td>
                                    {{ data.debutValidite }}
                                </td>
                                <td>
                                    <input type="date" name="finValidite" value="{{ data.finValidite }}" class="form-control"/>
                                </td>
                                <td>
                                    {{ data.categorieAffectation }}
                                </td> 
                                <td>
                                    {{ data.nbLicenceEnseignant }}
                                </td>
                                <td>
                                    <input type="number" name="nbLicenceEleve" value="{{ data.nbLicenceEleve }}" class="form-control"/>
                                </td>
                                <td>
                                    {{ data.nbLicenceAutrePersonnel }}
                                </td>
                                <td>
                                    {{ data.nbLicenceProfDoc }}
                                </td>
                                <td>
                                    {% if data.idAbonnement %}
                                    <a href="{% url 'delete_abonnement_gar'  data.idAbonnement  %}" class="btn btn-xs btn-danger"  onclick="return TestDelete(' cet abonnement ')"><i class="fa fa-trash"></i></a>

                                    <label><input type="checkbox" name="is_primaire" value="1" />Primaire ?</label>
                                    <input type="submit" name="submit" value="Modifier" class="btn btn-xs btn-primary" />
                                    {% endif %}
                                </td>
                                </form>                                
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}


    </section>
{% endblock %}

 