{% extends 'dashboard.html' %}
{% load static %}


 
{% block require %}
 

    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

 

{% endblock %}



{% block page_title %}
Etablissements accès au GAR
{% endblock %}


{% block page_menu_right %}
{% include 'association/menubar.html' %} 
{% endblock %}

 


{% block body %}

    <section class="content_main">     
 
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <label>id Distributeur  : 832020065_0000000000000000</label> 
            </div>
        </div>

        {% if error %}
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="aler alert-danger">Erreur de récupération des établissements</div> 
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <table class="table table-bordered table-hover ordering_tab_1000">
                    <thead>
                        <tr>
                            <th>Nom</th> 
                            <th>idAbonnement</th>
                            <th>debutValidite</th>
                            <th>finValidite</th>
                            <th>categorie Affectation</th>
                            <th>nb Licence Enseignant</th>
                            <th>nb Licence Eleve</th>
                            <th>nb Licence AutrePersonnel</th>
                            <th>nb Licence ProfDoc</th>
                            <th>Supression</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in dataset %}
                            <tr>
                                <td>
                                    {{ data.name }}
                                </td> 
                                <td>
                                    {{ data.idAbonnement }}
                                </td> 
                                <td>
                                    {{ data.debutValidite }}
                                </td>
                                <td>
                                    {{ data.finValidite }}
                                </td>
                                <td>
                                    {{ data.categorieAffectation }}
                                </td> 
                                <td>
                                    {{ data.nbLicenceEnseignant }}
                                </td>
                                <td>
                                    {{ data.nbLicenceEleve }}
                                </td>
                                <td>
                                    {{ data.nbLicenceAutrePersonnel }}
                                </td>
                                <td>
                                    {{ data.nbLicenceProfDoc }}
                                </td>
                                <td>
                                    {% if data.idAbonnement %}
                                    <a href="{% url 'delete_abonnement_gar'  data.idAbonnement  %}" class="btn btn-xs btn-danger"  onclick="return TestDelete(' cet abonnement ')"><i class="fa fa-trash"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}


    </section>
{% endblock %}

 