{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


   
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
{% endblock %} 


{% block page_title %}
    <a href="{% url 'association_index' %}" ><i class="fa fa-cloud"></i> </a> Comptabilité </a>
{% endblock %} 

{% block page_menu_right %}


{% include 'association/menubar.html' %}



{% endblock %}


{% block body %}
<section class="content_main"> 
    {% if request.user.is_board %}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <h1 class="thin">Comptes SacAdo année 2021</h1>
        </div>
    </div>
    <div class="row alert alert-info">
        <!-- ./col -->
        <div class="col-lg-4 col-md-4 col-xs-6">
        
             Total des charges : {{ charge }} €
        </div>

        <div class="col-lg-4 col-md-4 col-xs-6">
            
             Total des produits : {{ actif }} €
        </div>

        <div class="col-lg-4 col-md-4 col-xs-6">
             Résultat de l'année : {{ result }} €
        </div>
 
    </div>

 


    <hr/>

    <div class="row alert alert-warning">
        <div class="col-lg-6 col-md-4 col-xs-6">
            <table class="table bg_white">
                <tr>
                    <td>Nombre d'établissements adhérents</td>
                    <td>{{ nb_schools }}</td>
                </tr>
                <tr>
                    <td>dont établissement français</td>
                    <td>{{ nb_schools_fr }}</td>
                </tr>
                <tr>
                    <td>dont établissement de l'étranger</td>
                    <td>{{ nb_schools_no_fr }}</td>
                </tr>
                <tr style="background-color: #fcf8e3">
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>En attente de paiement</td>
                    <td>{{ nb_schools_no_pay }}</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-6 col-md-4 col-xs-6">
            <table class="table bg_white">
                <tr>
                    <td><b>Paiements encaissés</b></td>
                    <td><b>{{ actif }} €</b></td>
                </tr>

                <tr style="background-color: #fcf8e3">
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>En attente de paiement</td>
                    <td>{{ product }} €</td>
                </tr>                
                <tr style="background-color: #fcf8e3">
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Total attendu</td>
                    <td>{{ total }} €</td>
                </tr>


            </table>
        </div>
 
    </div>

 

    
    <div class="col-lg-12 col-xs-12">
        <table class="table bg_white">
            {% for a in abonnements %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ a.school.name }}</td>
                <td>{{ a.school.town }}</td>
                <td>{{ a.school.country.name }}</td>
                <td>{% for u in a.school.admin %} <li>{{u.get_full_name}}, {{u.email}}</li> {% endfor %}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% endif %} 


</section> 
{% endblock %}