{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}




{% block page_title %}  
    <a href="{% url 'association_index' %}" ><i class="fa fa-cloud"></i> </a>  Prospection client - {{ som }} envois
{% endblock %}

{% block page_menu_right %}
{% include 'association/menubar.html' %}
{% endblock %}
 

{% block body %}     
<div class="content_main">
    <form action="" method="POST">
        {% csrf_token %}

 
            <div class="row">              
                <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                        <label>Destinataires : </label><br/>
                        {% for teacher in teachers %}
                            <label class="btn btn-{% if teacher.user.proposections.count %}new{% else %}sacado{% endif %}"><input type="checkbox" value="{{ teacher.user.id }}" name="teacher_ids">{{ teacher.user.last_name }}{{ teacher.user.first_name }}</label>
                        {% endfor %}
                    </div>
                </div>
            </div>            
            <div class="row">              
                <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                        <label>Objet</label>
                        <input name="objet" type="text" class="form-control"  />
                    </div>
                </div>
            </div>            
            <div class="row"> 
                <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                        <label>Message</label>
                        <textarea name="message" rows="10" class="form-control" required="">Suite à votre inscription, vous n'avez pas créé de groupe dans SACADO.***Nous souhaiterions connaitre les raisons : Ergonomie peu intuitive, pas le temps, je me suis trompé d'application, je n'aime pas ... ***Si vous avez un peu temps pour nous répondre, nous en serions ravis. ***Nous répondre à Sacado : sacado.asso@gmail.com ***Cordialement.</textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <div class="form-group">
                        <input value="Envoi" type="submit" class="btn btn-primary"   />
                        <a href="javascript:history.back()"><input type="button" value="Annuler"
                                                                   class="btn btn-default "/></a>
                    </div>
                </div>    
            </div>
 
    </form>
</div>  
{% endblock %}