<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>SacAdo</title>
</head>
<body>
  Charges des processus, debut du log : {{ date }}
  <br>
  <span style="color:blue">mysqld</span> max = {{maxmysqld}}
  <br>
  <span style="color:red">Daphné</span>  max = {{maxdaphne}}
  <br>

  <canvas id="top" width="550" height="350">
</canvas>

<canvas id="topLastHour" width="300" height="350">
</canvas>


<script>
var canvas = document.getElementById( "top" );
var context = canvas.getContext( "2d" );
var h = 300;   
var w = 550;
 
  context.beginPath();  
  context.moveTo(1,1);  
  context.lineTo(w,1);  
  context.lineTo(w,h);
  context.lineTo(1,h);
  context.lineTo(1,1);
  maxmax=Math.max({{ maxdaphne | safe }} ,{{ maxmysqld | safe }});
  ngrad =  Math.floor(maxmax/100+1);
  console.log(maxmax,ngrad);
  
  for (i=0;i<ngrad;i++){
      context.moveTo(1,h-i*h/ngrad);
      context.lineTo(w,h-i*h/ngrad);
  }
  start={{ tab.0.0 | safe }};

  duree={{ end | safe }}-start; // duree du log
  ratiox=w/(duree);
  ratioy=h/ngrad/100; 
  for (i=Math.floor(start);i<=Math.floor(start+duree);i++) {
      context.moveTo((i-start)*ratiox,0);
      context.lineTo((i-start)*ratiox,h);
      context.fillText(i,(i-start)*ratiox,310);
  }
      context.stroke();            
      
  
  // daphne
  context.beginPath();
  context.strokeStyle = "red";
  context.beginPath();
  context.moveTo(0,{{ tab.0.1| safe }}*ratioy);
   {% for ligne in tab %}context.lineTo(({{ ligne.0 | safe }}-start)*ratiox,h-{{ ligne.1 | safe }}*ratioy);
{% endfor %}
  context.stroke();
  // mysqld
  context.beginPath();
  context.strokeStyle = "blue";
  context.beginPath();
  context.moveTo(0,{{ tab.0.2| safe }}*ratioy);
   {% for ligne in tab %}context.lineTo(({{ ligne.0 | safe }}-start)*ratiox,h-{{ ligne.2 | safe }} *ratioy);
{% endfor %}
  context.stroke();


var canvas = document.getElementById( "topLastHour" );
var context = canvas.getContext( "2d" );
var h = 300;   
var w = 350;
 
  context.beginPath();  
  context.moveTo(1,1);  
  context.lineTo(w,1);  
  context.lineTo(w,h);
  context.lineTo(1,h);
  context.lineTo(1,1);
  maxmax=Math.max({{ maxdaphne | safe }} ,{{ maxmysqld | safe }});
  ngrad =  Math.floor(maxmax/100+1);
  console.log(maxmax,ngrad);
  
  for (i=0;i<ngrad;i++){
      context.moveTo(1,h-i*h/ngrad);
      context.lineTo(w,h-i*h/ngrad);
  }
  start={{ lastHour.0.0 | safe }};

  duree={{ end | safe }}-start; // duree du log
  ratiox=w/(duree);
  ratioy=h/ngrad/100; 
  for (i=Math.floor(start);i<=Math.floor(start+duree);i++) {
      context.moveTo((i-start)*ratiox,0);
      context.lineTo((i-start)*ratiox,h);
      context.fillText(i,(i-start)*ratiox,310);
  }
      context.stroke();            
      
  console.log({{lastHour}});
  // daphne
  context.beginPath();
  context.strokeStyle = "red";
  context.beginPath();
  context.moveTo(0,{{ lastHour.0.1| safe }}*ratioy);
   {% for ligne in tab %}context.lineTo(({{ ligne.0 | safe }}-start)*ratiox,h-{{ ligne.1 | safe }}*ratioy);
{% endfor %}
  context.stroke();
  // mysqld
  context.beginPath();
  context.strokeStyle = "blue";
  context.beginPath();
  context.moveTo(0,{{ lastHour.0.2| safe }}*ratioy);
   {% for ligne in tab %}context.lineTo(({{ ligne.0 | safe }}-start)*ratiox,h-{{ ligne.2 | safe }} *ratioy);
{% endfor %}
  context.stroke();


</script>
</body>



</html>

 
