{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


   
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
{% endblock %} 


{% block page_title %}
    <i class="fa fa-cloud"></i> Tableau de bord de l'association</a>
{% endblock %} 

{% block page_menu_right %}
    <p>{{ school.name }}</p>
{% endblock %}


{% block body %}
<section class="content_main"> 
    {% if request.user.is_superuser %}
 
    <div class="row">
        <!-- ./col -->
        <div class="col-lg-3 col-md-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                     <span style="font-size: 35px">Facturation </span>
                 </div>
 

                <a href="{% url 'list_accountings'  %}" class="small-box-footer"><i
                        class="fa fa-arrow-circle-right"></i> En détails </a>
 
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                     <span style="font-size: 35px">Membres </span>
                </div>

                <p style="text-align: center"><br/><br/>
                <span class="counter">{{ nb_schools }}</span><br/>
                Etablissements  </p>

                <a href="{% url 'list_associate' %}" class="small-box-footer"><i
                        class="fa fa-arrow-circle-right"></i> En détails </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                     <span style="font-size: 35px">Documents </span>
                </div>

                <a href="{% url 'list_documents' %}" class="small-box-footer"><i
                        class="fa fa-arrow-circle-right"></i> En détails </a>
            </div>
        </div>

            <!-- ./col -->
        <div class="col-lg-3 col-md-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                     <span style="font-size: 35px">Tarifs </span>
                 </div>
 

                <a href="{% url 'list_rates'  %}" class="small-box-footer"><i
                        class="fa fa-arrow-circle-right"></i> En détails </a>
 
            </div>
        </div>
    </div>

 


    <hr/>

    <div class="row">
        <div class="col-lg-3 col-3 text-center">
            <span class="counter">{{ nb_teachers }}</span>
            <p>Enseignants</p>
        </div>
        <div class="col-lg-3 col-3 text-center">
            <span class="counter">{{ nb_students }}</span>
            <p>Elèves</p>
            <div>
                <a href="{% url 'reset_all_students_sacado' %}" class="btn btn-danger" onclick="return TestDelete('les données élèves... action irréversible')">Effacer les données élèves par lot de 150</a>
            </div>
        </div>
        <div class="col-lg-3 col-3 text-center">
            <span class="counter">{{ nb_exercises }}</span>
            <p>Supports </p>
        </div>
        <div class="col-lg-3 col-3 text-center">
            <span class="counter">{{ nb_answers }}</span>
            <p>Exercices traités  </p>
        </div>



    </div>




    {% endif %} 


</section> 
{% endblock %}