{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 
    {% if accounting %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4_withoutMathJax.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    <script>
        require(['script/ajax-accounting_complement']);
    </script> 
    {% endif %}
 
    <script>
        require(['script/ajax-accounting']);
    </script> 
{% endblock %}


{% block page_title %}  
    <a href="{% url 'association_index' %}" ><i class="fa fa-cloud"></i> </a>  Nouvelle opération comptable
{% endblock %}

{% block page_menu_right %}
{% include 'association/menubar.html' %}
{% endblock %}
 

{% block body %}     
<div class="content_main">
    <form action="" method="POST">
        {% csrf_token %}

        <div class="row alert alert-warning">                
            <div class="row">              
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <label>Date</label>
                        <input name="date" type="date" class="form-control" required />
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <label>Montant</label>
                        {{ form.amount |add_class:"form-control"|attr:"placeholder: Montant"}} 
                        {{ form.amount.errors }}
                    </div>
                </div>
            </div>
            <div class="row"> 
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <label>Compte créditeur</label>
                        <select name="plan_id_c" class="form-control select2" >
                            {% for p in plan %}
                            <option value="{{p.code}}">{{p.code}}. {{p.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>    
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <label>Compte débiteur</label>
                        <select name="plan_id_d" class="form-control select2" >
                            {% for p in plan %}
                            <option value="{{p.code}}">{{p.code}}. {{p.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
                  
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <label>Attention, une fois cette opération enregistrée, elle sera consignée dans le journal des comptes sans pouvoir être modifiée.</label>
                </div>    
            </div>


            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <div class="form-group">
                        <input value="Enregistrer la transaction" type="submit" class="btn btn-primary"   />
                        <a href="javascript:history.back()"><input type="button" value="Annuler"
                                                                   class="btn btn-default "/></a>
                    </div>
                </div>    
            </div>
        </div>
    </form>
</div>  
{% endblock %}