{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


   
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2_withoutMathJax.js' %}"></script>
{% endblock %} 



{% block page_title %}
    <a href="{% url 'association_index' %}" ><i class="fa fa-cloud"></i> </a> Opérations en attente 
{% endblock %} 



{% block page_menu_right %}
    {% include 'association/menubar.html' %}
{% endblock %}


{% block body %}
<section class="content_main"> 
    {% if request.user.is_board %}

    <div class="col-lg-12 col-xs-12">
        <table class="table bg_white standard_tab_sort300">
            <thead>
                <tr>
                    <td></td>
                    <td>Nom</td>
                    <td>Ville</td>
                    <td>Date</td>
                    <td>Admins</td>
                </tr>
            </thead>
            {% for c in customers %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'update_school_admin'  c.school.id %}">{{ c.school.name|lower|capfirst }}</a></td>
                <td>{{ c.school.town }}</td>
                <td>{{ c.school.date }}</td>
                <td>{% for u in c.school.admin %} <li>{{u.get_full_name}}, {{u.email}}</li> {% endfor %}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% endif %} 


</section> 
{% endblock %}