{% extends 'dashboard.html' %}
{% load static %}


 
{% block require %}
 

    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3_withoutMathJax.js' %}"></script>

     <script>
        require(['script/ajax-list_accounting']);
    </script> 

{% endblock %}



{% block page_title %}
        <a href="{% url 'association_index' %}" ><i class="fa fa-cloud"></i> </a> Journal des opérations 

        {% if tp == 0 %}Client{% elif tp == 1 %}Achats{% elif   'list_paypal' in request.path  %} PAYPAL {% else %}Banque CA{% endif %}

        <a href="#" data-toggle='modal' data-target='#e_bilans' class="btn btn-default btn-xs"> <i class="fa fa-file-excel-o fa-xs text-success"></i> Exporter le bilan</a>
        <a href="#" data-toggle='modal' data-target='#p_bilans' class="btn btn-default btn-xs"> <i class="fa fa-file-pdf-o fa-xs text-danger"></i> Imprimer le bilan</a>
{% endblock %}

{% block page_menu_right %}
{% include 'association/menubar.html' %} 
{% endblock %}

 

{% block body %}
<section class="content_main"> 
    <div class="row">
        <div class="col-sm-12 col-md-12">
        <div class="col-sm-12 col-md-12 encours">
            <div class="col-sm-4 col-md-3">
                <label>Encours.  Mois
                    <select name="month" id="month" class="control-form">
                        <option value="1" {% if this_month == 1 %}selected{% endif %}>Janv.</option>
                        <option value="2" {% if this_month == 2 %}selected{% endif %}>Févr.</option>
                        <option value="3" {% if this_month == 3 %}selected{% endif %}>Mars</option>
                        <option value="4" {% if this_month == 4 %}selected{% endif %}>Avril</option>
                        <option value="5" {% if this_month == 5 %}selected{% endif %}>Mai</option>
                        <option value="6" {% if this_month == 6 %}selected{% endif %}>Juin</option>
                        <option value="7" {% if this_month == 7 %}selected{% endif %}>Juil.</option>
                        <option value="8" {% if this_month == 8 %}selected{% endif %}>Aout</option>
                        <option value="9" {% if this_month == 9 %}selected{% endif %}>Sept.</option>
                        <option value="10" {% if this_month == 10 %}selected{% endif %}>Oct.</option>
                        <option value="11" {% if this_month == 11 %}selected{% endif %}>Nov.</option>
                        <option value="12" {% if this_month == 12 %}selected{% endif %}>Déc.</option>
                    </select>  
                :</label> <span id="this_month"><b>{{ total_month }} €</b></span>
            </div>
 
            <div class="col-sm-4 col-md-2">
                <label>Année {{active_year}} : <b>{{ total_shoolyear}} € </b></label><br/>
            </div>
            <div class="col-sm-4 col-md-5">
                <label>du <input name="from_date" type="date"  id="from_date" class="control-form period">  au : <input name="to_date" id="to_date" type="date" class="control-form period"> <b> <span id="this_period"></span> </b></label>
            </div>
        </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-12 col-md-12">
            <table   class="{% if tp < 2 %}standard_tab_sort300_no_paiement{% else %}standard_tab_sort300{% endif %} table table-bordered table-hover table-striped">
                <thead>
                <tr>  
                    <td style="width:120px">Date paiement</td> 
                    <td style="width:40px">Id </td>                       
                    <td style="width:120px">Chrono</td>                     
                    <td  >{% if tp == 2 %}Client/Fournisseurs{% elif tp == 1 %}Fournisseurs/autre{% elif tp == 0 %}Client{% endif %}   </td>
                    <td style="width:25%">Libellé </td>

                    <td style="width:80px">{% if tp == 2 %}Entrée{% elif tp == 1 %}Paiement fait{% elif tp == 3 %}Entrée{% else %}Montant{% endif %}  </td>
                    <td style="width:80px">{% if tp == 2 %}Sortie{% elif tp == 1 %}Montant{% elif tp == 3 %}Sortie{% else %}Paiement{% endif %}</td>

                    <td style="width:80px">Solde</td>

                    {% if tp == 0 %}<td>Comptes</td>{% endif %}
                </tr>
                </thead>
                <tbody>
                    {% for accounting in accountings %}
                        <tr id="this_tr_{{ accounting.id }}" class="this_tr_all"> 
                            <td>
                                <span >{{ accounting.date_payment|date:"Y-m-d" }} </span> 
                            </td>
                            <td>
                                <span >{{ accounting.id }} </span> 
                            </td>
                            <td>
                                <span >{{ accounting.chrono }}</span> 
                            </td>   
                            <td><span class="helper_tip"><a href="{% url 'update_accounting'  accounting.id tp %}" >
                                {% if accounting.beneficiaire  %} {{ accounting.beneficiaire }} {% else %}{{ accounting.school.name }}, {{ accounting.school.country.name }} {% endif %}
                                    <div class="helper_tip_text" > {{ accounting.observation|safe }}</div>
                                </a></span>
 
                                <a href="{% url 'print_accounting'  accounting.id %}" class="pull-right" style="margin-right:10px" title="Imprimer"><i class="fa fa-print"></i> </a>
                                <a href="{% url 'show_accounting'  accounting.id %}" class="pull-right" style="margin-right:10px" title="Voir"><i class="fa fa-eye"></i> </a>
                                {% if accounting.is_display    %}
                                <a href="{% url 'create_avoir'  accounting.id %}" class="pull-right" style="margin-right:10px" title="Créer un avoir"><i class="fa fa-times text-danger"></i> </a>
                                {% endif %}
                            </td> 
                            <td>
                                {%  if accounting.mode == "par virement bancaire" %}
                                    <span class="helper_tip"> <i class="fa fa-send"></i>
                                        <div class="helper_tip_text" >par virement bancaire</div>
                                    </span>
                                {% elif accounting.mode == "en espèces" %}
                                    <span class="helper_tip"> <i class="fa fa-euro"></i>
                                        <div class="helper_tip_text" >Espèces</div>
                                    </span>
                                {% elif accounting.mode == "par mandatement administratif" %}
                                    <span class="helper_tip"> <i class="fa fa-envelop"></i>
                                        <div class="helper_tip_text" >Mandat administratif</div>
                                    </span>
                                {% elif accounting.mode == "par carte de crédit" %}
                                    <span class="helper_tip"> <i class="fa fa-credit-card"></i>
                                        <div class="helper_tip_text" >par carte de crédit</div>
                                    </span>
                                {% endif %}
                                {% if accounting.forme == "FACTURE" %}
                                    {{ accounting.objet|safe  }}
                                {% else %}
                                    {{ accounting.observation|safe }}
                                {% endif %}

                                {%  if accounting.mode == "Période de test" %}
                                    <span class="text-danger">Période d'essai jusqu'au {{ accounting.abonnement.date_stop|date:"d N Y" }}</span>
                                {% endif %}  
                            </td>

                            {% if tp == 2 or tp == 3 %}
                                <td style="width:80px">
                                    {% if  accounting.is_credit  %}<span class="text-success">{{ accounting.amount }} €</span>{% endif %}
                                </td>
                                <td style="width:80px">
                                    {% if not accounting.is_credit  %}<span class="text-danger">{{ accounting.amount }} €</span>{% endif %}
                                </td>
                            {% elif tp == 1 %}
                                <td style="width:80px">
                                     <span class="text-danger">{{ accounting.amount }} €</span> 
                                </td>                            
                                <td style="width:80px">
                                    {% if accounting.date_payment  %}<span class="text-success">{{ accounting.amount }} €</span>{% endif %} 
                                </td>
                            {% else %}
                           
                                <td style="width:80px">
                                    {% if accounting.plan.code > 700 %}<span class="text-danger">{{ accounting.amount }} €</span>{% endif %}
                                </td>
                                <td style="width:80px">
                                    {% if accounting.date_payment  %}<span class="text-success">{{ accounting.amount }} €</span>{% endif %}
                                </td> 
                            {% endif %}
                                <td style="width:80px">
                                    {% if tp == 2 %}
                                        {{ accounting.total_solde }} € 
                                    {% elif tp == 0  %}
                                        {{ accounting.solde }} € 
                                    {% elif tp == 3 %}
                                        {{ accounting.total_solde_paypal }} € 
                                    {% else %}
                                        {{ accounting.solde }}                                        
                                    {% endif %}
                                </td>

                            {% if tp == 0 %}
                            <td style="width:80px">
                                {% if tp == 0 and accounting.is_cpca == 1 %}
                                    <span style="color:red">487</span> <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                    <div class="helper_tip_text" >Client produits constatés d'avance</div>
                                </span>
                                {% elif tp < 2 %}{{ accounting.plan.code }}
                                <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                    <div class="helper_tip_text" >{{ accounting.plan }}</div>
                                </span>
                                {% endif %}
                            </td>
                            {% endif %}
                        </tr>

                    {% endfor %}

                    {% if tp == 0 %}
                        <tr style="background-color: #F0F0F0">
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>                                
                            <td> </td>
                            <td> {{ accounting_no_payment }} </td>
                            <td> {{ accounting_amount }}     </td> 
                            <td> </td>
                            <td> </td> 
                        </tr>
                    {% endif %}

                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 col-md-12">     
                <a href="javascript:history.back()"  class="btn btn-default " >Retour </a>
        </div>
    </div>
</section>
 



<div class="modal fade" id="eyeglasses" tabindex="-1" role="dialog" aria-labelledby="eyeglasses">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2  >Historique et solde Client <span id="client_id"></span></h2>
            </div>
            <div class="modal-body" id="historic_client">
               
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="e_bilans" tabindex="-1" role="dialog" aria-labelledby="e_bilans">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1  class='sacado'  >Exporter le bilan au format tableur</h1>
            </div>
            <div class="modal-body">
                <form action="{%  url 'export_bilan' %}" method="POST"  >
                        {% csrf_token %} 
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">
                            <div class="form-group">
                                <label>Date de début </label>   
                                <input type="date" name="date_start" class="form-control"/>
                            </div>
                        </div> 
                        <div class="col-lg-6 col-xs-12">
                            <div class="form-group">   
                                <label>Date de début </label>    
                                <input type="date" name="date_end" class="form-control"/>
                            </div>
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">  
                            <div class="form-group">  
                                <input type="submit" class="btn btn-success" value="Exporter" />
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            </div>        
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="p_bilans" tabindex="-1" role="dialog" aria-labelledby="p_bilans">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1  class='sacado'  >Imprimer le bilan en pdf</h1>
            </div>
            <div class="modal-body">
                <form action="{%  url 'print_bilan' %}" method="POST"  >
                        {% csrf_token %} 
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">
                            <div class="form-group">
                                <label>Date de début </label>   
                                <input type="date" name="date_start" class="form-control"/>
                            </div>
                        </div> 
                        <div class="col-lg-6 col-xs-12">
                            <div class="form-group">   
                                <label>Date de début </label>    
                                <input type="date" name="date_end" class="form-control"/>
                            </div>
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">  
                            <div class="form-group">  
                                <input type="submit" class="btn btn-primary" value="Télécharger" />
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            </div>        
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>





{% endblock %}