


<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle no_button"> L'association <b class="caret"></b> </a>
    <ul   class="dropdown-menu clearfix pull-right" role="menu">
        <li>
            <a href="{% url 'association_index' %}" class="no_button">Accueil</a>
        </li>

        <li>
            <a href="{% url 'statistiques' %}" class="no_button">Les statistiques</a>
        </li> 
    </ul>
</li>




<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle no_button"> Opérations <b class="caret"></b> </a>
    <ul   class="dropdown-menu clearfix pull-right" role="menu">
        <li>
            <a href="{% url 'create_accounting' 0 0 %}" > Nouvelle opération Client   </a>   
        </li>
        <li>
            <a href="{% url 'list_accountings' 0 %}"  class="no_button" > 
                Journal opérations Client
            </a> 
        </li> 
        {% comment %}
        <li class="divider"></li>
        <li>
            <a href="{% url 'create_accounting' 1 0 %}" > Nouvelle opération Fournisseur    </a>   
        </li>
        <li>
            <a href="{% url 'list_accountings' 1 %}"  class="no_button" > 
                Journal opérations Fournisseur 
            </a> 
        </li> 
        {% endcomment %}
        <li class="divider"></li>
        <li>
            <a href="{% url 'create_accounting' 2 0 %}" > Nouvelle opération Bancaire </a>  
        </li>
        <li>
            <a href="{% url 'list_accountings' 2 %}"  class="no_button" > Journal opérations bancaires  CA</a> 
        </li>
        <li>
         <a href="{% url 'list_paypal' %}" class="no_button">Journal opérations bancaires Paypal</a>
        </li>





    </ul>
</li>
 


<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle no_button"> Suivi Clients <b class="caret"></b> </a>
    <ul class="dropdown-menu clearfix pull-right" role="menu">
        <li>
            <a href="{% url 'adhesions' %}" class="no_button">Abonnés <b>{{ nb_customers }}</b></a>   
        </li>
        <li>
            <a href="{% url 'pending_adhesions' %}" class="no_button">En attente <b>{{ nb_pendings }}</b></a>   
        </li>
        <li>
            <a href="{% url 'prospec_to_adhesions' %}"  class="no_button" >Ex clients <b>{{ nb_else }}</b></a> 
        </li>
        <li class="divider"></li>
        <li>
            <a href="{% url 'new_customer'  %}"  class="no_button" > Nouveau client</a> 
        </li>
        <li class="divider"></li>
        <li>
            <a href="{% url 'prospec_schools' %}"  class="no_button" >Enseignants non affectés</a> 
        </li> 
        {% comment %}
        <li>
            <a href="{% url 'list_historic_schools'  %}"  class="no_button" > Historique</a> 
        </li>
        {% endcomment %}
        <li class="divider"></li>
        <li>
            <a href="{% url 'abonnements_gar'  %}" >Abonnements aux GAR </a>  
        </li>
        
    </ul>
</li>

 




<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle no_button"> Comptabilité <b class="caret"></b> </a>
    <ul   class="dropdown-menu clearfix pull-right" role="menu">


        <li>
            <a href="{% url 'create_accountancy' %}" class="no_button">Nouvelle opération comptable</a>
        </li>

        <li>
            <a href="{% url 'list_accountancy' %}" class="no_button">Journal de comptabilité</a>
        </li> 
        <li class="divider"></li>
        <li>
            <a href="{% url 'bank_bilan' %}" class="no_button">Bilan</a>
        </li>
        <li>
            <a href="{% url 'activeyears' %}" class="no_button">Archive</a>
        </li>

        <li>
         <a href="{% url 'accountings' %}" class="no_button">Bilan synthétique</a>
        </li>

        <li class="divider"></li>

        <li>
            <a href="{% url 'print_balance' %}" class="no_button"><i class="bi bi-file-earmark-pdf text-danger"></i> Imprimer la Balance</a>   
        </li>

        <li>
            <a href="{% url 'print_big_book' %}"  class="no_button" ><i class="bi bi-file-earmark-pdf text-danger"></i> Imprimer le Grand livre</a> 
        </li>  


    </ul>
</li>


 


