<li>
 <a href="{% url 'accountings' %}" class="no_button">Introduction</a>
</li>
<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle no_button"> Opérations <b class="caret"></b> </a>
    <ul   class="dropdown-menu clearfix pull-right" role="menu">
        <li>
            <a href="{% url 'create_accounting' 0 %}" > Nouvelle opération Client   </a>   
        </li>
        <li>
            <a href="{% url 'list_accountings' 0 %}"  class="no_button" > 
                Journal opérations Client
            </a> 
        </li> 
        {% comment %}
        <li class="divider"></li>
        <li>
            <a href="{% url 'create_accounting' 1 %}" > Nouvelle opération Fournisseur    </a>   
        </li>
        <li>
            <a href="{% url 'list_accountings' 1 %}"  class="no_button" > 
                Journal opérations Fournisseur 
            </a> 
        </li> 
        {% endcomment %}
        <li class="divider"></li>
        <li>
            <a href="{% url 'create_accounting' 2 %}" > Nouvelle opération Bancaire </a>  
        </li>
        <li>
            <a href="{% url 'list_accountings' 2 %}"  class="no_button" > Journal opérations bancaires  CA</a> 
        </li>
        <li>
         <a href="{% url 'list_paypal' %}" class="no_button">Journal opérations bancaires Paypal</a>
        </li>
    </ul>
</li>
 


<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle no_button"> Suivi Clients <b class="caret"></b> </a>
    <ul   class="dropdown-menu clearfix pull-right" role="menu">
        <li>
            <a href="{% url 'adhesions' %}" class="no_button">Abonnements</a>   
        </li>
        <li class="divider"></li>
        <li>
            <a href="{% url 'all_schools' %}"  class="no_button" > 
                Fichier Clients
            </a> 
        </li> 
        <li class="divider"></li>
        <li>
            <a href="{% url 'list_accountings' 0 %}"  class="no_button" > 
                Prospection Clients
            </a> 
        </li>
    </ul>
</li>

 




<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle no_button"> Comptabilité <b class="caret"></b> </a>
    <ul   class="dropdown-menu clearfix pull-right" role="menu">


        <li>
            <a href="{% url 'create_accountancy' %}" class="no_button">Nouvelle opération comptable</a>
        </li>

        <li>
            <a href="{% url 'list_accountancy' %}" class="no_button">Journal de comptabilité</a>
        </li> 
        <li class="divider"></li>
        <li>
            <a href="{% url 'bank_bilan' %}" class="no_button">Bilan</a>
        </li>
        <li>
            <a href="{% url 'archive_accountancy' %}" class="no_button">Archive</a>
        </li>
        <li class="divider"></li>

        <li>
            <a href="{% url 'print_balance' %}" class="no_button"><i class="bi bi-printer"></i> Imprimer la Balance</a>   
        </li>

        <li>
            <a href="{% url 'print_big_book' %}"  class="no_button" ><i class="bi bi-printer"></i> Imprimer le Grand livre</a> 
        </li>  


    </ul>
</li>


 


