{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


   
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
{% endblock %} 


{% block page_title %}
    <i class="fa fa-cloud"></i> Tableau de bord de l'association</a>
{% endblock %} 


{% block page_menu_right %}
    <li><a href="{% url 'index' %}" class="btn btn-sacado">Tableau de bord</a></li>
{% endblock %}


{% block body %}
<section class="content_main"> 
    {% if request.user.is_board %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <h1>Statistiques du <b>{{ date_start }}</b> au <b>{{ date_stop }}</b></h1>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-6" align="center">
            <div class="round" style="background-color: #5d4391;margin-top:0px">
                <h1 style="color: #FFF;font-size: 90px; padding-top:40px">  {{ nb_inscriptions }}</h1>
            </div>
            <p>inscriptions</p>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6" align="center">
            <div class="round" style="background-color: #5d4391;margin-top:0px">
                <h1 style="color: #FFF;font-size: 90px; padding-top:40px"> {{ nb_students }}</h1>
            </div>
            <p>élèves</p>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6" align="center">
            <div class="round" style="background-color: #5d4391;margin-top:0px;">
                <h1 style="color: #FFF;font-size: 90px; padding-top:40px"> {{ nb_teachers }}</h1>
            </div>
            <p>enseignants</p>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6" align="center">
            <div class="round" style="background-color: #5d4391;margin-top:0px;">
                <h1 style="color: #FFF;font-size: 90px; padding-top:40px">{{ nb_connexions }}</h1>
            </div>
            <p>connexions</p>
        </div>
    </div>

    <hr/>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
            <canvas id="myChart_inscriptions" style="width:100%;max-height:400px"></canvas>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
            <canvas id="myChart_teachers" style="width:100%;max-height:400px"></canvas>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
            <canvas id="myChart_students" style="width:100%;max-height:400px"></canvas>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
            <canvas id="myChart_connexions" style="width:100%;max-height:400px"></canvas>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 text-center">
            <canvas id="myChart_answers" style="width:100%;max-height:400px"></canvas>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6 text-center">
            <table class="table">
                <tr><th>Inscriptions par pays</th><th>Nombre</th></tr>
                {% for c in all_countries %}
                <tr><td>{{ c.country }}</td><td>{{ c.nb }}</td></tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
</section> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
 
<script>

 
const newList =  "{{ string_days }}".split(",")

var xValues    =  newList   ;
var Values_ins =  {{ nb_inscriptions_string }} ;
var Values_stu =  {{ nb_students_string }} ;
var Values_tea =  {{ nb_teachers_string }} ;
var Values_con =  {{ nb_connexions_string }} ;
var Values_ans =  {{ nb_answers_string }} ;
 



new Chart("myChart_inscriptions", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: ["violet", "violet","violet","violet","violet", "violet","violet", ],
      data: Values_ins
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Statistiques des INSCRIPTIONS sur les 7 derniers jours"
    }
  }
});


new Chart("myChart_teachers", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: ["brown", "brown","brown","brown","brown", "brown","brown", ],
      data: Values_tea
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Statistiques des inscriptions ENSEIGNANT sur les 7 derniers jours"
    }
  }
});

new Chart("myChart_students", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: ["orange", "orange","orange","orange","orange", "orange","orange", ],
      data: Values_stu
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Statistiques des inscriptions ELEVES sur les 7 derniers jours"
    }
  }
});

new Chart("myChart_connexions", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: ["blue", "blue","blue","blue","blue", "blue","blue", ],
      data: Values_con
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Statistiques des CONNEXIONS sur les 7 derniers jours"
    }
  }
});

new Chart("myChart_answers", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: ["green", "green","green","green","green", "green","green", ],
      data: Values_ans
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Statistiques d'EXERCICES FAITS sur les 7 derniers jours"
    }
  }
});

</script>
{% endblock %}

 

