{% extends 'dashboard.html' %}
{% load static %}


 
{% block require %}
 

{% endblock %}



{% block page_title %}
        Supprime les supportfile inutilisés de la base > {{ level }}
{% endblock %}

{% block page_menu_right %}

{% endblock %}

 

{% block body %}
 
 
<section class="content_main"> 

 
    <div class="row">

        <div class="col-xs-5 col-md-5">
            {% for name in names %}
                <h2>{{ name.level}}</h2>
                {% for data in name.urls %}
                    <li class='sanspuce'> {{ data.url }}</li> 
                {% endfor %}
            {% endfor %}
        </div>

    </div>


    <div class="row">
        <div class="col-xs-12 col-md-12">  
            <a href="{% url 'to_clean_database' level.id  1 %}" class="btn btn-danger">Nettoyage de la base</a>   
            <a href="javascript:history.back()"  class="btn btn-default " >Retour </a>
        </div>
    </div>
</section>

            

{% endblock %}