{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}



{% block require %}
    <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common4.js' %}"></script> 
{% endblock %}


 
{% block page_title %}
    Clôturer mon compte
{% endblock %}



 

 
{% block body %}
<section class="content_list"> 
    <div class="row" >
        <div class="col-xs-12 col-md-12" >
            <div class="alert alert-danger" >
                Attention, la suppression de votre compte supprime <strong>intégralement</strong> toutes les données qui lui sont associées. <a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees/" target="_blank">(Article 17 , chapitre III , RGPD)</a>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-12 col-md-12" >
                {% if user %}
                    <a href="{% url 'close_my_account' user.id  %}" class="btn btn-danger" onclick="return TestDelete('ce compte')">Clôturer mon compte</a>
                {% endif %}
            <a href="javascript:history.back()"  class="btn btn-default" > Annuler </a>
        </div>  
    </div>    
</section>

{% endblock %}