{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}



{% block require %}
    <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common4.js' %}"></script> 
{% endblock %}


 
{% block page_title %}
    <span   style="color:{{ group.color|contrast_color_title }}" ><i class="fa fa-mortar-board"></i> </span>
{% if group %} <a href="{% url 'list_parcours_group' group.id %}" style="color:{{ group.color|contrast_color_title }}" >{{ group }}</a> {% endif %} 
    {% if request.user.user_type == 2 %}
        {% if not students %}
            {% if sprev_id %}<a href="{% url 'detail_student' sprev_id  %}"  class="btn btn-default"> Elève précédent </a>{% endif  %}{{ student |truncatechars:"30" }} {% if snext_id %}<a href="{% url 'detail_student' snext_id  %}"  class="btn btn-default"> Elève suivant</a>{% endif  %}
        {% else %}

            {% if 'detail_student_theme' in request.path %}
                {% if sprev_id %}<a href="{% url 'detail_student_theme' sprev_id theme.id %}"  class="btn btn-default"> Elève précédent </a>{% endif  %}
                <select name="select_sudent" id="select_student" style="width:250px; font-size: 20px;" onchange="location = this.value;">
                {% for stdt in students %}
                    <option value="{% url 'detail_student_theme' stdt.user.id  theme.id %}" {% if stdt.user.id == student.user.id %} selected {% endif %}>
                        {{ stdt|truncatechars:"30" }}
                    </option>
                {% endfor %}
                </select>

                {% if snext_id %}<a href="{% url 'detail_student_theme' snext_id theme.id %}"  class="btn btn-default"> Elève suivant</a>{% endif  %}

            {% elif 'detail_student_parcours' in request.path %}
                {% if sprev_id %}<a href="{% url 'detail_student_parcours' sprev_id  parcours.id %}"  class="btn btn-default"> Elève précédent </a>{% endif  %}

                <select name="select_sudent" id="select_student" style="width:250px; font-size: 20px;"  onchange="location = this.value;">
                {% for stdt in students %}
                    <option value="{% url 'detail_student_parcours' stdt.user.id  parcours.id %}" {% if stdt.user.id == student.user.id %} selected {% endif %}>
                        {{ stdt|truncatechars:"30" }}
                    </option>
                {% endfor %}
                </select>

                {% if snext_id %}<a href="{% url 'detail_student_parcours' snext_id  parcours.id %}"  class="btn btn-default"> Elève suivant</a>{% endif  %}

            {% elif 'detail_student_all_views' in request.path %}
                {% if sprev_id %}<a href="{% url 'detail_student_all_views' sprev_id  %}"  class="btn btn-default"> Elève précédent </a>{% endif  %}

                <select name="select_sudent" id="select_student" style="width:250px; font-size: 20px;"  onchange="location = this.value;">
                {% for stdt in students %}
                    <option value="{% url 'detail_student_all_views' stdt.user.id  %}" {% if stdt.user.id == student.user.id %} selected {% endif %}>
                        {{ stdt|truncatechars:"30" }}
                    </option>
                {% endfor %}
                </select>

                {% if snext_id %}<a href="{% url 'detail_student_all_views' snext_id  %}"  class="btn btn-default"> Elève suivant</a>{% endif  %}
    
            {% endif %}
        {% endif %}
    {% else %}

        <img width="25px" src="{% static 'img/angle-right.png' %}"/> <small>Suivis</small>
        
    {% endif %}

{% endblock %}



{% block page_menu_right %}

    {% if request.user.user_type == 0 %}
        <li><a href="{% url 'detail_student_all_views' user.id %}"  class="no_button"  style="font-size:18px;"> Mon suivi</a></li>
    {% else %}

        <li><a href="{% url 'result_group' group.id  %}"  class="no_button"  style="font-size:18px;"> Tout le groupe</a></li>

        <li><a href="{% url 'detail_student_all_views' student.user.id  %}"  class="no_button"  style="font-size:18px;{% if 'detail_student_all_views' in request.path %}color:#007EE2{% endif %}"> Synthèse</a></li>
    {% endif %}


        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle no_button"  style="font-size:18px;{% if 'detail_student_theme' in request.path %}color:#007EE2{% endif %}"> Suivi par thème </a>
            <ul id="products-menu" class="dropdown-menu clearfix pull-right" role="menu">
                <li {% if 'detail_student/' in request.path %} class="active" {% endif %} ><a href="{% url 'detail_student'  student.user.id  %}" > Général</a></li>
                <li class="divider"></li>
                {% for thm in themes %}
                     <li {% if 'detail_student_theme/' in request.path and thm.id == theme.id %}  class="active" {% endif %}><a href="{% url 'detail_student_theme'  student.user.id  thm.id  %}" > {{ thm }}</a></li>
                {% endfor %}
            </ul>
        </li>


        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle no_button"  style="font-size:18px;{% if 'detail_student_parcours' in request.path %}color:#007EE2{% endif %}"> Suivi par Parcours </a>
            <ul id="products-menu" class="dropdown-menu clearfix pull-right" role="menu">
                {% for prcrs in parcourses|dictsortreversed:"is_publish" %} <!-- prcrs permet de comparer parcours avec prcrs et d'activer la classe active si affiché -->
                    <li {% if 'detail_student_parcours/' in request.path and prcrs.id == parcours.id %}  class="active" {% endif %}>
                        <a href="{% url 'detail_student_parcours'  student.user.id  prcrs.id  %}" {% if not prcrs.is_publish %} style="color:#BBB" {% endif %} >
                            <i class="fa fa-caret-right"></i> {{ prcrs.title }}    
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>



{% endblock %}

 
{% block body %}
<section class="content_list"> 
    <div class="col-xs-12 col-md-12" >
 

        {% block datae %}
            <table class="table table-bordered table-hover standard_tab_sort300">
                <thead>
                    <tr style="color:#FFF;background-color: {{ group.color }}">
                        <td>{{ group.name }}<img width="25px" src="{% static 'img/angle-right-white.png' %}"/>    Savoir faire</td>
                        <td style="width:150px">Score</td>
                    </tr>
                </thead>
                <tbody>
                {% for theme in datas %} 
                    <tr class="no_padding" style="color:#FFF;background-color: {{ group.color }};opacity:0.6">
                        <td> {{ theme.name }} 
                        </td>  
                        <td> </td>              
                    </tr>   
                        {% for exercise in theme.exercises %} 
                        <tr class="no_padding"  {% if not exercise.is_publish %} style="background-color:#F0F0F0"{% endif %} >
                            <td {% if exercise.is_publish %} style="padding:0px" {% endif %}> 
                                <div {% if exercise.is_publish %} style="border-left: 4px solid #00AC18; padding:10px;min-height:53px"{% endif %} >
                                <small><strong>{{ theme.name }}</strong></small>
                                {{exercise.name.knowledge.name }} {% if exercise.name.supportfile.annoncement %} - <em>{{exercise.name.supportfile.annoncement|cleanhtml }} </em> {% endif %}
                                </div>  
                            </td>
                            <td style="text-align: center"> 
                                {% for sta  in exercise.scores  %}     
                                    {% if sta.point != "" %}
                                        <a class="markdown
                                                {% if sta.point < 30 %}
                                                 red 
                                                {% elif sta.point < 60 %}
                                                orange
                                                {% elif sta.point < 80 %}
                                                green
                                                {% else %}
                                                darkgreen
                                                {% endif %}">
                                            {{ sta.point }}
                                        </a>
                                    {% else %}
                                        <a class="markdown"   > 
                                              {{ sta.point }}
                                        </a>
                                    {% endif %}

                                {% endfor %}




                            </td>
                        </tr>
                        {% endfor %}


                    
                {% endfor %}  
                </tbody>      
            </table>
       
        {% endblock %}
 
    </div>

</section>

{% endblock %}