{% extends 'layout.html' %}
{% load item_tags %}
{% load widget_tweaks %}
{% load static %}


{% block require %}
           
{% endblock %}  
   
{% block general_js %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common_teacher_register.js' %}"></script>
    <script type="text/javascript">
    require(['script/accueil_teacher_register']); 
    </script>
{% endblock %} 

{% block body %}

<div class="container" style="padding-top:30px">
    <form action="{%  url 'register_teacher' %}" method="POST" id="teacher_form"   > 
        {% csrf_token %}
        <div class="row">

          <div class="col-lg-5 col-xs-12">
 
                <h2 class="sacado">Enseignants</h2>
 
 
                <h4>Devenir membre  <span class="sacado">SACADO</span> GRATUITEMENT</h4>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group"><label>Sélectionner le pays  <small>+de 60 000 établissements en France. Prévoir un peu d'attente.</small></label>
                                <select id="id_country_school" name="country_school" class="form-control select2" required>
                                    <option value=" ">--------------</option>
                                    {% for c in countries %}
                                        <option value="{{ c.id }}">{{ c.name }}</option>
                                    {%  endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group"><label>Sélectionner la ville</label>
                                <select id="id_town_school" name="town_school" class="form-control select2">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group"><label>Sélectionner l'établissement</label>
                                <select id="id_school" name="school" class="form-control select2" required>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group"> Vous n'avez pas trouvé votre établissement, <a href="{% url 'index' %}#contact">Nous contacter</a>.
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">  
                            <div class="form-group">                
                                <h4>Inscrire son établissement à l'asso  <span class="sacado">SACADO</span></h4> 
                            </div>    
                        </div> 

                        <div class="col-lg-12 col-md-12 col-xs-12">  
                            <div class="form-group">
                                Cette inscription couvre l'ensemble des enseignants de votre établissement et tous les élèves. Elle ouvre les droits à la récupération des cours, des parcours, des quizz <span class="sacado">SACADO</span>  déjà créés, au suivi des acquisitions, à la gestion de la co-animation, à un espace de stockage accru, à des images de présentation, à la mutualisation des ressources, aux exportations PRONOTE ou CSV,.... <br/>Optez pour la version établissement. 
                                <a href="#" data-toggle='modal' data-target='#sacadopopup' class="btn btn-ss_index"> En savoir plus.</a>
                            </div>    
                        </div>                   
                    </div> 


          </div>
          <div class="col-lg-1 col-xs-12">
          </div>
          <div class="col-lg-6 col-xs-12">
                <div id="show_form_teacher">
                    {% include 'user_form.html' %}
                    <div class="row">
                        <div class="col-lg-6 col-xs-6">   
                            <div class="form-group"><input name="envoi" type="submit" class="btn btn-primary sendit" value="S'inscrire" /></div>
                        </div>        
                        <div class="col-lg-6 col-xs-6">   
                            <a href="javascript:history.back()"  class="btn btn-default pull-right" >Retour</a> 
                        </div>             
                    </div> 
                </div>           
          </div>
        </div>
    </form> 
</div>

{% endblock %}