{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    <script>
        require(['script/ajax-demand']);
    </script> 
    
{% endblock %}

 

{% block page_title %}
       Demandes 
{% endblock %}


{% block page_menu_right %}

{% endblock %}




{% block css_files %}
{% endblock %}


{% block body %}
<section class="content_main">  



    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <form action="" method="POST" enctype='multipart/form-data'> 
                {% csrf_token %}
                        <table class="table  table-hover display100" style="width:100%">
                               <thead>
                                <tr>
                                    <td>Précision</td>
                                    <td>Date</td>
                                    <td>Fichier</td>
                                    <td>Savoir faire</td>
                                    <td>Theme</td>
                                    <td>Niveau</td>  
                                    <td>Demandeur</td>    
                                </tr>
                            </thead>
                            <tbody>
                                {% for demand in demands %}

                                    <tr {% if demand.done %} style="background:#e6e2dd"{% endif %} >
                                        <td>{% if  not demand.done %} <input type="checkbox" name="done" id="id_done{{ demand.id }}" data-id="{{ demand.id }}"  class="select_done"/>{% endif %} {{demand.demand|safe}}</td>
                                        <td>{{demand.date_created|date:"d-m-Y" }}</td>
                                        <td>{% if demand.file %} <a href="{{ demand.file.url  }}" target="_blank" > Lire </a>{% endif %}</td>
                                        <td>{{demand.knowledge.name}}</td>
                                        <td>{{demand.theme.name}}</td>
                                        <td>{{demand.level.shortname}}</td>  
                                        <td>{{demand.teacher.user.get_full_name}}</td>
                                    </tr>

                                {% endfor %}
                            </tbody>
                        </table>
            </form>
       </div>                  
</section>
{% endblock %} 