*.log
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
local_settings.py
db.sqlite3

env
.idea
sacado/settings_prod


static/

staticfiles/ckeditor/
staticfiles/uploads/
staticfiles/img/img_psd 
logs/

media/
