*.log
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
local_settings.py
db.sqlite3

env
.idea
sacado/settings_prod
sacado/settings.py

static/

staticfiles/ckeditor/
staticfiles/uploads/
staticfiles/img/img_psd 
logs/

media/
sacado/settings.py
qcm/__pycache__/views.cpython-36.pyc
