
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


<div class="row">
    <div class="col-xs-12 col-md-6">


        <label>Titre : </label><b> {{ bibliotex.title}} </b><br/>
        <label>Modifier le titre : </label><input type="text" name="new_title" class="form-control" maxlength="30" placeholder="Nouveau titre (30 caractères max)"><br/>
        <label>Imprimer le titre ? <input type="checkbox" name="print_title"  id="print_title" checked></label>
        <hr/>    	
        <label>Imprimer les savoir faire ? <input type="checkbox" name="knowledges"  id="knowledges"></label><br/>
        <label>Imprimer les compétences ? <input type="checkbox" name="skills" id="skills"></label><br/>

        <label>Imprimer les savoir faire et compétences en entête ? <input type="checkbox" name="sf_skills_first" value="yes"></label>

        <label>Imprimer les exercices des parcours liés ? <input type="checkbox" name="linked_exercises" value="yes" ></label>

        <hr/>
        <label>Texte personnalisé : </label><input type="text" name="texte_supplement" class="form-control" maxlength="255">
        <hr/>
        <label>Imprimer la correction ? <input type="checkbox" name="correction" id="correction"></label>

    </div> 
    <div class="col-xs-12 col-md-6">
        Sélectionner les exercices à télécharger : <label>(tous)  <input type="checkbox" name="relationtexs" id="select_all_these_items" checked></label><br/>
        {% for relationtex in  relationtexs %}
            <label>
            	<i class="fa fa-fw fa-{% if relationtex.is_publish %}eye text-green{% else%}eye-slash text-danger{% endif %}"></i> {{ relationtex.exotex.title }}  
                <input type="checkbox" name="relationtexs" class="items_to_be_selected"  value="{{ relationtex.id }}" checked>
                {% if relationtex.relationships.count %}<i class="bi bi-link"></i>{% endif%}
            </label><br/>
        {% endfor %}
        <hr/>
        <label>Encadrer les exercices ? <input type="checkbox" name="print_frame"></label><br/>
        <label>Imprimer le titre des exercices ? <input type="checkbox" name="all_titles"></label><br/>
        <label>Imprimer sur deux colonnes ? <input type="checkbox" name="columns"></label><br/>
        <label>Imprimer en format paysage ? <input type="checkbox" name="landscape"></label><br/>
        <label>Imprimer des lignes de remplissage élève ? <input type="checkbox" name="multido"></label>
     </div> 
</div>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <hr/>
        <button type="submit" class="btn btn-primary" > Télécharger la BiblioTex </button>   
        <a href="#"  class="btn btn-default" class="close" data-dismiss="modal" aria-label="Close">Fermer</a>
     </div> 
</div>



<script>
    MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
</script>