{% load static %}
{% load widget_tweaks %}
{% load item_tags %}
           
 
<div  class="box box-widget widget-user-2"  
      style="{% if bibliotex.vignette %}background-image: url('{{ bibliotex.vignette.url }}'); background-size: cover; {% endif %}background-color:{{bibliotex.color }};height:300px">
    <div class="handler widget-user-header" style="height:150px">
        <!-- Add signet to folder -->
 
        {% if bibliotex.is_annale %}
        <div class="annale_box">
            <div class="rounda">
                Annale
            </div>
        </div>
        {% endif %}




        <div class="box_title_vignette"  style="padding:4px; opacity:0.95;background-color:{{bibliotex.color }};color:{{color|contrast_color }};font-weight: 100;top:120px">

                   
                {% if bibliotex.title|length > 26 %}
                <span class="helper_tip" style=" font-size:16px;">{{ bibliotex.title|truncatechars:"26" }}
                    <div class="helper_tip_text_right" style="font-size:14px;">{{ bibliotex.title }}</div>
                </span>
                {% elif bibliotex.title|length > 22 %}
                    {{ bibliotex.title|truncatechars:"22"}}
                {% else %}
                    {{ bibliotex.title}}
                {% endif %}
   
        </div>
    </div>
    <!-- box-footer DES FONCTIONNALITES  -->
    <div class="box-footer" style="position: relative; padding-top: 0px;height:150px">
 
        <div class="row dossier"  style="padding-top: 5px;padding-bottom: 5px;margin-bottom: 5px; padding-left :-10px;font-size:20px"> 
            <div class="col-xs-6 col-md-6 col-lg-6"> 
                {{  bibliotex.relationtex.nb_exotexs }} exercice{{  bibliotex.relationtex.nb_exotexs|pluralize }} 
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3" align="center"> 
                <a href="{% url 'show_bibliotex' bibliotex.id  %}" style="font-size:20px" target="_blank"><i class="bi bi-eye"></i></a> 
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3" align="center"> 
                <a  href="#" data-toggle='modal' data-target='#duplication_modal' style="font-size:20px" 
                    id='duplication_document' 
                    data-document_id='{{ bibliotex.id }}' data-document_title='{{ bibliotex.title }}'><i class="bi bi-clipboard-plus"></i>
                </a>  
            </div>
        </div>

        <div class="row"> 
            <div class="col-xs-12 col-md-12 col-lg-12 skill_knowledge_bibliotex_title">
                Thèmes : <span style="font-variant-caps:normal;font-size:15px;color:#222;" >                        
                {% for t in bibliotex.themes %}
                    {{ t.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}</span>
            </div> 
        </div>


        <div class="row box_shared_label_last"> 
            <div class="col-xs-6 col-md-6 col-lg-6">

                <div class="row"> 
                    <div class="col-xs-12 col-md-12 col-lg-12 skill_knowledge_bibliotex_title">
                        Savoir faire ciblés <small>{{ bibliotex.knowledges|length }}</small>
                        <span class="helper_tip"> <i class="bi bi-eye"></i>
                            <div class="helper_tip_no_width" >
                                {% for k in bibliotex.knowledges %}
                                    <li style="font-variant-caps:normal;list-style: square">{{ k.name }}</li>
                                {% endfor %}
                            </div>
                        </span>
                    </div> 
                </div>

                <div class="row"> 
                    <div class="col-xs-12 col-md-12 col-lg-12 skill_knowledge_bibliotex_title">
                        Compétences ciblées <small>{{ bibliotex.skills|length }}</small>
                        <span class="helper_tip"> <i class="bi bi-eye"></i>
                            <div class="helper_tip_text" >
                                {% for s in bibliotex.skills %}
                                    <li style="font-variant-caps:normal;list-style: square">{{ s.name }}</li>
                                {% endfor %}

                            </div>
                        </span>
                    </div>
                </div> 
            </div> 
            <div class="col-xs-6 col-md-6 col-lg-6"  align="center">
                <hr/>
                <label><small>{{ bibliotex.teacher.user.first_name }}   {{ bibliotex.teacher.user.last_name }}  </small></label>
            </div> 
        </div> 
    </div>    
</div>   