{% load static %}
{% load widget_tweaks %}
{% load item_tags %}
           
 
<div  class="box box-widget widget-user-2 sorter_bibliotex"  data-id="{{ bibliotex.id }}"
      style="padding:10px 10px 0px 10px; cursor: move;{% if bibliotex.vignette %}background-image: url('{{ bibliotex.vignette.url }}'); background-size: cover; {% endif %}">
    <div class="handler widget-user-header widget_bibliotex">
        <!-- Add signet to folder -->

        <div>
            <a href="{% url 'show_bibliotex' bibliotex.id  %}" style="font-size:20px;font-weight:600" >             
                {% if bibliotex.title|length > 50 %}
                <span class="helper_tip">{{ bibliotex.title|truncatechars:"50" }}
                    <div class="helper_tip_text_right" style="font-size:14px;">{{ bibliotex.title }}</div>
                </span>
                {% else %}
                    {{ bibliotex.title}}
                {% endif %}
            </a>   
        </div>


        <div class="exo_tex_scrollbar">     
            {% for e in  bibliotex.exotexs.all %}
                <li class="list_exotex_in_tag sanspuce">{{ forloop.counter}}. {{ e.title|truncatechars:40}}</li>
            {% endfor %}
 
        </div> 





        <div class="group_show  no_visu_on_load" id="group_show{{bibliotex.id }}"> 
            <label>Cette bibliotex est attribuée à</label>
            {% for g in bibliotex.groups.all %}
                <li class="sanspuce">{{ g.name }} [{{ g.just_students_count }} élèves]</li>
            {% endfor %}
            <br/>
            <label>et aux dossiers</label>
            {% for f in bibliotex.folders.all %}
                <li class="sanspuce">{{ f.title }} [{{ f.folder_only_students_count.nb }} élèves]</li>
            {% endfor %}
            <div style="clear:both"></div>
        </div>



        <div class="group_show  no_visu_on_load" id="bibliotex_show{{bibliotex.id }}"> 
             <div class="row"> 
                <div class="col-xs-12 col-md-12 col-lg-12 skill_knowledge_bibliotex_title">
                    <b>Savoir faire ciblés</b>
                </div> 
            </div>
            {% for k in bibliotex.knowledges %}
            <div class="row"> 
                <div class="col-xs-12 col-md-12 col-lg-12 skill_knowledge_body">
                    {{ k.name }}
                </div> 
            </div>
            {% endfor %}
            <div class="row"> 
                <div class="col-xs-12 col-md-12 col-lg-12 skill_knowledge_bibliotex_title">
                    <b>compétences ciblées</b>
                </div> 
            </div>
            <div class="row"> 
                <div class="col-xs-12 col-md-12 col-lg-12 skill_knowledge_body">
                    {% for s in bibliotex.skills %}
                        {{ s }}. 
                    {% endfor %}
                </div> 
            </div>
            <div style="clear:both"></div>
        </div>


        <!-- Fenetre des options -->
        <div class="group_show  no_visu_on_load" id="bibliotex_options{{bibliotex.id }}"> 
            <div class="row extend" align="center"> 
                <div class="col-lg-6 col-xs-6">
                    <a href="#" data-toggle='modal' data-target='#print_bibliotex'  data-action="print_bibliotex_out" data-relationtex_id="{{ bibliotex.id }}" class="action_exotex edit" title="Imprimer"><i class="bi bi-printer"></i> 
                    </a>
                </div>
                <div class="col-lg-6 col-xs-6">
                    <a href="{% url 'exercise_bibliotex_peuplate' bibliotex.id  %}" class="edit" title="Ajouter des exercices" ><i class="bi bi-plus-circle-dotted"></i>  </a> 
                </div> 
            </div>

            <div class="row" align="center">  
                <div class="col-lg-6 col-xs-6">
                    <a href="{% url 'exercise_bibliotex_individualise' bibliotex.id  %}" class="edit" title="Individualiser" ><i class="bi bi-person"></i> </a> 
                </div>
                <div class="col-lg-6 col-xs-6">
                    <a href="{% url 'update_bibliotex' bibliotex.id  %}" class="edit" title="Dupliquer" ><i class="bi bi-clipboard-plus"></i> </a> 
                </div>
            </div>
        </div>
        <!-- ================================ -->



        <span style="cursor:pointer" data-bibliotex_id="{{bibliotex.id }}" class="overlay_show white" >
            <div id="disc{{bibliotex.id }}" class="{% if not bibliotex.is_publish %}
                            disc_persistant
                        {% else %}
                            disc 
                        {% endif %}" style="background-color:{% if bibliotex.is_publish %}#00a65a{% else  %}#dd4b39{% endif  %} "> 
                 <i class="fa fa-circle-o-notch"></i>
            </div>
        </span> 

        <div class="overlay   no_visu_on_load" id="overlay_show{{bibliotex.id }}"> 
            <div class="overlay_expand">
                <a href="#" data-bibliotex_id="{{bibliotex.id }}" class="overlay_show pull-right">
                    <i class="fa fa-times"></i>
                </a>
                <div class="btn-group"  style="padding:0px;margin:0px;">
                    <span style="cursor:pointer" class="btn btn-default btn-publisher publisher" id="publisher{{bibliotex.id}}" 
                            data-bibliotex_id="{{bibliotex.id}}" data-statut="{{ bibliotex.is_publish }}">  
                        <i class="fa fa-circle-o-notch"></i>
                    </span>
                    <span class="legend-btn legend-btn-{% if not bibliotex.is_publish %}danger{% else  %}success{% endif  %} size15" id="bibliotex_publisher{{bibliotex.id}}" style="cursor:auto" >  
                      {% if bibliotex.is_publish %} Publié  {% else %} Non publié {% endif  %} 
                    </span>
                </div>
                <br>
                {% if bibliotex.is_publish %}
                <span class="text-success" id="accueil_text_color{{ bibliotex.id }}">{% if bibliotex.is_evaluation %}Cette évaluation{% else %}Cette Bibliotex{% endif %} <span id="accueil_visible{{bibliotex.id }}">est</span> visible par vos élèves.</span>
                {% else %}
                <span class="text-danger" id="accueil_text_color{{ bibliotex.id }}">{% if bibliotex.is_evaluation %}Cette évaluation{% else %}Cette Bibliotex{% endif %} <span id="accueil_visible{{bibliotex.id }}">n'est pas</span> visible par vos élèves.</span>
                {% endif %}
            </div>
        </div>


 

    </div>

    <!-- box-footer DES FONCTIONNALITES  -->



    <div class="box-footer" style="position: relative; padding-top: 0px;">
 
 

        <div class="row"> 
           <div class="col-lg-3 col-xs-3">
                <a href="{% url 'update_bibliotex' bibliotex.id  %}" class="edit" title="Configuration"><i class="bi bi-gear"></i>   </a> 
            </div>

            <div class="col-lg-3 col-xs-3">
                <span href="#" class="edit group_shower" data-group_id="{{bibliotex.id }}"  title="Groupes attribués"><i class="bi bi-people"></i> </span>
                </span>
            </div> 


             
            <div class="col-lg-3 col-xs-3">
                <span href="#" class="edit bibliotex_shower" data-bibliotex_id="{{bibliotex.id }}"  title="Compétences et savoir faire"><i class="bi bi-c-circle"></i> 
                </span>
            </div> 
            <div class="col-lg-3 col-xs-3">
                <a href="javascript: void(0)" data-bibliotex_id="{{ bibliotex.id}}" class="edit open_options_bibliotex pull-right" title="Ouvrir les options" >
                    <i class="fa fa-ellipsis-v" style="font-size:14px;padding-top: 2px;"></i>
                </a>
            </div> 
        </div>

    </div>
</div>    
