{% load static %}
{% load widget_tweaks %}
{% load item_tags %}
           
{%  get_is_selected  exotex  bibliotex as  is_selected %} 
<div class="exotex">

    <div>
        <label class="container_checkbox">

            <input type="checkbox"  data-exotex_id="{{ exotex.id }}"  data-bibliotex_id="{{ bibliotex.id}}" class="selector_exotex" name="exotexs"
                   id="selected_exotex{{ exotex.id }}"  data-statut="{{ is_selected }}" {% if is_selected %}checked{% endif  %}/>
            <span class="checkmark" ></span>

            <span class="container_checkbox_title">{{ exotex.title }} </span>

            <small class="pull-right">
                {% for s in exotex.skills.all %}
                    {{ s.name }}.
                {% endfor %}
            </small>

        </label> 
    </div>

    <div class="consigne fontsize12">
        {{ exotex.knowledge.name }} {% if exotex.knowledges.all|length > 0 %}<br/>{% endif %}
        {% for k in exotex.knowledges.all %}
            {{ k.name }} {% if not forloop.last %}<br/> {% endif %}
        {% endfor %}
    </div>
    {{ exotex.content_html|safe }}

</div>
 
 