{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 

    {% if exotex %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    <script>
        require(['script/ajax-exotex_create']);
    </script> 
    {% endif %}

    <script>
        require(['script/ajax-exotex']);
    </script> 
 

{% endblock %}

 

{% block page_title %}
 
    {% include 'bibliotex/logo.html' %} Fichier Latex 
    {% if knowledge  %}
    <small>         
        {{ knowledge.level.shortname }}, {{ knowledge.theme.name }},  {{ knowledge.name|truncatechars:"80" }}
    </small>  
    {% endif %} 
 
{% endblock %}


{% block page_menu_right %}
 
{% endblock %}


{% block body %}
<style>
ul#id_skills li{
    list-style: none;
}
</style>

<div class="content_main">
    {% block body_exotex %}
    <div class="col-xs-12 col-md-12">
        <form action="" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="row" id="standard_layer">
                {% if knowledge %}

                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            {{ form.title.label_tag }} <small>Optionnel</small> 
                            {{ form.title |add_class:"form-control textarea_more_shown"  }}
                            {{ form.title.errors }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            {{ form.point.label_tag }} <small>Optionnel</small> 
                            {{ form.point |add_class:"form-control"  }}
                            {{ form.point.errors }}
                        </div>
                    </div>
                </div> 
                    {% if request.user.is_superuser %}
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                    <label>Enseignement :</label>
                                    {{ form.subject |add_class:"form-control select2" }}
                                    {{ form.subject.errors }}
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <label>Niveau :</label>
                                {{ form.level |add_class:"form-control select2" }}
                                {{ form.level.errors }}
                            </div>
                            <div class="col-xs-12 col-md-4">
                                {{ form.theme.label_tag }}
                                {{ form.theme |add_class:"form-control select2" }}
                                {{ form.theme.errors }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12"> 
                                <label>Savoir faire  </label> :<small> Obligatoire</small>                   
                                {{ form.knowledge|add_class:"form-control select2" }}
                                {{ form.knowledge.errors }}
                            </div>
                        </div>
                    {% else %}  

                        <input value="{{ knowledge.theme.subject.id }}" name="subject" id="id_subject" type="hidden" />
                        <input value="{{ knowledge.level.id }}" name="level" id="id_level" type="hidden" />
                        <input value="{{ knowledge.theme.id }}" name="theme" id="id_theme" type="hidden" />
                        <input value="{{ knowledge.id }}" name="knowledge" id="id_knowledge" type="hidden" />
                    {% endif %}
                {% else %}  
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                         <div class="alert alert-sacado">Choisir l'enseignement, le niveau et le thème pour afficher les savoir faire ciblés.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                            <label>Enseignement :</label>
                            {{ form.subject |add_class:"form-control select2" }}
                            {{ form.subject.errors }}
                        <div class="form-group">
                            <label>Niveau :</label>
                            {{ form.level |add_class:"form-control select2" }}
                            {{ form.level.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.theme.label_tag }}
                            {{ form.theme |add_class:"form-control select2" }}
                            {{ form.theme.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.title.label_tag }} 
                            {{ form.title |add_class:"form-control textarea_more_shown"  }}
                            {{ form.title.errors }}
                        </div>
                        <div class="form-group"> 
                            <label>Savoir faire  </label> :<small> Obligatoire</small>                   
                            {{ form.knowledge|add_class:"form-control select2" }}
                            {{ form.knowledge.errors }}
                        </div>
                        {% if  request.user.is_superuser %}
                            <div class="form-group">
                                {{ form.point.label_tag }} <small>Optionnel (utile si utilisation en DS)</small> 
                                {{ form.point |add_class:"form-control"  }}
                                {{ form.point.errors }}
                            </div>
                        {% else %}
                            <div class="form-group"> 
                                <label>Compétences ciblées </label>                        
                                {{ form.skills|add_class:"form-control select2" }}
                                {{ form.skills.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <div class="form-group" id="knowledge_list" style="height:450px; overflow-y: auto">
                           
                        </div>
                    </div>
                </div> 
                {% endif %}  
                {% if request.user.is_superuser %}
                <div class="row"> 

                    <div class="col-xs-12 col-md-4">
                        <div class="form-group"> 
                            <label>Compétences ciblées </label>                        
                            {{ form.skills|add_class:"form-control select2" }}
                            {{ form.skills.errors }}
                        </div>
                    </div>
                </div>                    
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <table class="table table-sacado borderless">
                            <tr>     
                                <td>{{ form.duration.label_tag }} </td>
                            <tr>    
                            </tr> 
                                <td>{{ form.duration |add_class:"form-control" }}{{ form.duration.errors }}</td>
                            </tr> 
                        </table>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <table class="table table-sacado borderless">
                            <tr>     
                                <td>{{ form.calculator.label_tag }} </td>
                                <td>{{ form.calculator |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Autorisée"|attr:"data-off:Interdite"}}{{ form.calculator.errors }}</td>
                            </tr> 
                            <tr>
                                <td>{{ form.is_share.label_tag }}
                                    <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                        <div class="helper_tip_text" >Mutualisation à l'ensemble des collègues de son établissement (si version établissement)</div>
                                    </span>
                                </td>
                                <td>{{ form.is_share |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}{{ form.is_share.errors }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <table class="table table-sacado borderless">
                            <tr>
                                <td>{{ form.is_python.label_tag }}<span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                        <div class="helper_tip_text" >contient du Python.</div></span></td>
                                <td>{{ form.is_python |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}{{ form.is_python.errors }}</td>
                            </tr> 
                            <tr>
                                <td>{{ form.is_scratch.label_tag }}<span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                        <div class="helper_tip_text" >contient du Scratch.</div></span></td>
                                <td>{{ form.is_scratch |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}{{ form.is_scratch.errors }}</td>
                            </tr> 
                        </table>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <table class="table table-sacado borderless">
                            <tr>
                                <td>{{ form.is_tableur.label_tag }}
                                    <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                        <div class="helper_tip_text" >nécessite un tableur.</div>
                                    </span></td>
                                <td>{{ form.is_tableur |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                                {{ form.is_tableur.errors }}</td>
                            </tr> 
                            <tr>
                                <td>{{ form.is_annals.label_tag }}</td>
                                <td>{{ form.is_annals |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                                {{ form.is_annals.errors }}</td>
                            </tr> 
                        </table>
                    </div>

                    <div class="col-xs-12 col-md-2">
                        <table class="table table-sacado borderless">
                            <tr>
                                <td>{{ form.is_read.label_tag }}
                                    <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                        <div class="helper_tip_text" >Vérification par un tiers.</div>
                                    </span></td>
                                <td>{{ form.is_read |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                                {{ form.is_read.errors }}</td>
                            </tr> 
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            {{ form.content.label_tag }} <small>Pour les graphiques, seul le package TikZ fonctionne</small>.<br/>
                            {{ form.content|add_class:"form-control textarea_more_shown"|attr:"rows:15"   }}
                            {{ form.content.errors }}
                        </div>
                    </div>
                   
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
      
                                {{ form.content_html.label_tag }} <small>Enoncé en html (enregistrement rapide)</small><br/>
                                {{ form.content_html|add_class:"form-control textarea_more_shown"|attr:"rows:15"   }}
                                {{ form.content.errors }}
                         
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">                        
                        <div class="form-group"> 
                            {{ form.correction.label_tag }} <br/>   
                            {{ form.correction|add_class:"form-control textarea_more_shown"|attr:"rows:15" }}
                            {{ form.correction.errors }}
                        </div>
                    </div>
           
                    <div class="col-xs-12 col-md-6">                        
                        <div class="form-group">                        
                            {{ form.correction_html.label_tag }}  <br/>      
                            {{ form.correction_html|add_class:"form-control textarea_more_shown"|attr:"rows:15" }}
                            {{ form.correction_html.errors }}
                                                  
                        </div>
                    </div> 
         
                </div>   
                {% else %}
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            {{ form.content.label_tag }} <small>Pour les graphiques, seul le package TikZ fonctionne</small>.<br/>
                            {{ form.content|add_class:"form-control textarea_more_shown"|attr:"rows:15"   }}
                            {{ form.content.errors }}
                        </div>
                    </div>
                   
 
           
                    <div class="col-xs-12 col-md-6">                        
                        <div class="form-group">                        
                            {{ form.correction.label_tag }}  <br/>      
                            {{ form.correction|add_class:"form-control textarea_more_shown"|attr:"rows:15" }}
                            {{ form.correction.errors }}
                                                  
                        </div>
                    </div> 
         
                </div>  
                {% endif %}   

                <div class="row">
                    <div class="col-xs-12 col-md-4">                        
                        <div class="form-group"> 
                            <a href="javascript:void(0);" class="btn btn-sacado" id="click_to_display_latex" ><i class="bi bi-eye"></i> Visualisation du latex en pdf</a> 
                        </div>
                    </div> 
                    <div class="col-xs-12 col-md-4">                        
                        <div class="form-group" id="waiting_loader"> 
                        </div>
                    </div> 
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group" id="error_loader"> 
                        </div>               
                    </div> 
                </div>  
                {% if knowledge %}
                <div class="row">
                    <div class="col-xs-12 col-md-12">                        
                        <div class="form-group">                        
                            {{ form.exercises.label_tag }}  <br/>      
                            {{ form.exercises|add_class:"form-control select2" }}
                            {{ form.exercises.errors }}
                                                  
                        </div>
                    </div> 
                </div> 
                {% endif %}
                <div class="row" style="margin-top:15px" >
                    <div class="col-xs-3 col-md-3">
                        <div class="form-group">
                            <input value="Enregistrer" type="submit" class="btn btn-primary" id="click_button" />
                            <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default "/></a>
                        </div>
                    </div>   
                    {% if exotex and exotex != 'init' %}
                        <div class="col-xs-9 col-md-9">  
                            <div class="form-group">
                                <a href="{% url 'delete_exotex' exotex.id   %}" class="btn btn-danger" style="margin-left:5px" onclick="return TestDelete('cet exercice')" > 
                                    <i class="fa fa-trash"> </i>   Supprimer
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
    {% endblock %}
    
</div>
{% endblock %}
