{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    <script>
        require(['script/ajax-bibliotex-peuplate','script/ajax-supportfile']);
    </script> 
{% endblock %} 


{% block page_title %}
        {% include 'bibliotex/logo.html' %}    {% include 'qcm/breadcrumb.html' %} <img src="{% static 'img/angle-right.png' %}" width="25px"/> 
        {{ bibliotex }} <img src="{% static 'img/angle-right.png' %}" width="25px"/> 
{% endblock %}



{% block page_menu_right %}
 
{% endblock %}



{% block styleMk4ht %}
    <link rel="stylesheet" href="{% static 'css/styleMk4ht.css' %}">  
{% endblock %}

{% block body %}  
<section class="content_main">
    <div class="col-xs-12 col-md-12">
 
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div id="loader">
                </div>
                <div id="content_exercises" class="list_choice_bibliotex">
                </div>

                <form action="" method="POST" enctype='multipart/form-data'>
 
                        <input id="bibliotex_id" value="{{ bibliotex.id }}" type="hidden"/>
                        {% csrf_token %} 
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <label>Choisir une matière et un niveau :</label>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <select name="subject_id" id="subject_id" class="form-control select2 level_search">
                                {% for s in teacher.subjects.all %}
                                    <option value="{{ s.id }}" >{{ s.name }}</option>
                                {% endfor%}
                                </select>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <select name="level_id" id="level_id" class="form-control select2 level_search">
                                {% for l in levels %}
                                    <option value="{{ l.id }}">{{ l.name }}</option>
                                {% endfor%}
                                </select>
                            </div>
                        </div>
  
                        <div class="row">
                            <div class="col-xs-12" id="body_search_result" > 
                            </div>
                        </div>
                    </div>
                </form>
 
                    

                <div style="clear: both;"> </div>
            </div>
        </div> 
         <div class="row">
            <div class="col-xs-12 col-md-12">
                {% if group_id and folder_id %}
                    <a href="{% url 'list_sub_parcours_group' group_id folder_id %}" class="btn btn-sacado">Enregistrer</a>                
                {% elif group_id %}
                    <a href="{% url 'list_parcours_group' group_id %}" class="btn btn-sacado">Enregistrer</a>
                {% else %} 
                    <a href="{% url 'my_bibliotexs' %}" class="btn btn-sacado"> Enregistrer </a> 
                {% endif %}
            </div>
        </div>  
    </div>
</section>  

                    


<div class="modal fade" id="show_exotex_by_pop" tabindex="-1" role="dialog" aria-labelledby="show_exotex_by_pop">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
             
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 

            </div>
            <div class="modal-body">
 
            </div>
        </div>
    </div> 
</div>

{% endblock %}

 
 
 
       
 
 