{% load static %}
{% load widget_tweaks %}
{% load item_tags %}
           
 
<div class="exotex container_checkbox">

    <div>
        <label>             
            <input type="checkbox"  data-exotex_id="{{ relationtex.exotex.id }}"  data-bibliotex_id="{{ relationtex.bibliotex.id}}" class="selector_exotex" 
                   id="selected_exotex{{ relationtex.exotex.id }}"  data-statut="True" checked />
            <span class="check_exotex"></span>
            {{ relationtex.exotex.title }} 
        </label> 
        <small class="pull-right">
            {% for s in relationtex.exotex.skills.all %}
                {{ s.name }}.
            {% endfor %}
        </small>
    </div>
    <div class="consigne fontsize12">
        {{ relationtex.exotex.knowledge.name }} {% if relationtex.exotex.knowledges.all|length > 0 %}<br/>{% endif %}
        {% for k in relationtex.exotex.knowledges.all %}
            {{ k.name }} {% if not forloop.last %}<br/> {% endif %}
        {% endfor %}
    </div>
    {{ relationtex.exotex.content }}


</div>