{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


{% block styleMk4ht %}
    <link rel="stylesheet" href="{% static 'css/styleMk4ht.css' %}"> 
{% endblock %} 



   
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    <script>
        require(['script/ajax-bibliotex']);
    </script> 
{% endblock %} 

  
{% block page_title %}


       {% include 'qcm/breadcrumb.html' %} 




     {{ bibliotex.title }} <img src="{% static 'img/angle-right.png' %}"/>  



{% endblock %}


{% block page_menu_right %}


    {% if request.user.user_type == 0 and not parcours.is_sequence %}
            {% include 'qcm/submenu_parcours_student.html' %}
    {% endif %}

{% endblock %}




{% block body %}
<form action="" method="POST" enctype='multipart/form-data'> 
<section class="content_container"  id="bibliotex_sortable">
<input type="hidden" value="{{ bibliotex.id }}" name="bibliotex" id="bibliotex" /><!-- pour le tri -->
{% csrf_token %}
{% for r in relationtexs %} 
    {% if request.user.user_type == 2 or r.is_publish %}
    <div class="col-xs-12 col-md-6 col-lg-6 new_exotex new_exotex_width relationtex_sorter" style="margin-bottom:20px;padding-top:10px;" data-relationtex_id ="{{r.id}}" style="cursor: move;">
        <div style="padding-left:10px;">
        <label class="number_exotex" style="margin:0px;font-size:18px">Exercice {{ forloop.counter }}</label>  
            {% if request.user.user_type == 2 %}
            <span class="pull-right action_exotex"  data-action="display" data-relationtex_id="{{ r.id }}" id="display{{ r.id }}"> 
                <a href="javascript:void();" class="exotex_div_menu_label" ><i class="bi bi-{% if r.is_publish %}eye text-success{% else %}eye-slash text-danger{% endif %}"></i></a>
            </span>
            {% endif %}

            {% if r.exotex.calculator  %}
                 <img src="{% static 'img/calculator.png' %}" width="24px"   />
            {% else %}
                 <img src="{% static 'img/no_calculator.png' %}" width="24px"    />
            {% endif %}
            {% if r.exotex.is_python  %}
                  <img src="{% static 'img/is_python.png' %}" width="20px" />
            {% endif %}
            {% if r.exotex.is_scratch  %}
                  <img src="{% static 'img/is_scratch.png' %}" width="20px" />
            {% endif %}
            {% if r.exotex.is_tableur  %}
                  <img src="{% static 'img/is_tableur.png' %}" width="20px" />
            {% endif %}

            <a href="#" class="expand_video" data-exotex_id="{{ r.exotex.id }}"><i class="bi bi-webcam"></i> </a>

            {% if request.user.user_type == 2 %}
                
 
                {% if r.relationships.count %}
                    <span class="show_exotex_knowledges"> <i class="bi bi-link"  style="font-size:18px"></i>
                        <div class="exotex_knowledges text-blue">
                            {% for relationship in r.relationships.all %}
                                {% if 'underlayer' in relationship.exercise.supportfile.imagefile.url %}
                                    <img src="{{ relationship.exercise.supportfile.qtype_logo.url }}" class="image_thumb_parcours_link_exotex"   />
                                {% else %}
                                    <img src="{{ relationship.exercise.supportfile.imagefile.url }}" class="image_thumb_parcours_link_exotex"  />
                                {% endif %}
                            {% endfor %}                            
                        </div>
                    </span>  
                {% endif %}


            {% elif request.user.user_type == 0 and r.is_publish_cor %}
                {% if r.correction  or r.exotex.correction  %}
                    <a href="javascript:void();" data-r_id="{{ r.id }}" class="select_correction"><i class="fa fa-copyright" title="Correction"></i></a>
                {% endif %}
            {% endif %}


        </div>

        <div  class="container_checkbox_title" style="padding:5px 10px 10px 10px;font-size:20px!important">{{ r.exotex.title }} </div>




        <div class="menu_exotex">


            <div class="three_dots">
                <i class="bi bi-three-dots-vertical"></i>
            </div>

            {% if request.user.is_superuser %}
            <li class="relative_div_exotex">  
                <a href="{% url 'update_relationtex' r.id  %}" class="exotex_div_menu_label" ><i class="bi bi-gear"></i><span class="legend_exotex_parameter"> Configurer </span></a>
            </li>
            {% endif %}
            <li class="relative_div_exotex action_exotex  {% if not r.is_publish %}no_visu_on_load{% endif %}"> 
                <span class="exotex_div_menu_label" ><i class="bi bi-cc-square"></i>
                    <span class="legend_exotex_parameter show_this_exotex_knowledges"> Savoir faire et compétences
                        <div class="show_this_exotex_knowledges_display text-blue" style="font-size:12px; font-family: 'MJXc-TeX-main-R', 'MJXc-TeX-main-Rw';">
                            {% for s in r.exotex.skills.all %}
                                {{ s.name }}.
                            {% endfor %}                            
                            <hr/>
                            {{ r.exotex.knowledge.name }} {% if r.exotex.knowledges.all|length > 0 %}<br/>{% endif %}
                            {% for k in r.exotex.knowledges.all %}
                                {{ k.name }} {% if not forloop.last %}<br/> {% endif %}
                            {% endfor %}
                        </div>
                    </span>
                </span>
            </li>



            <li class="relative_div_exotex action_exotex {% if not r.is_publish %}no_visu_on_load{% endif %}"  data-action="print" data-relationtex_id="{{ r.id }}">  
                <span data-toggle='modal' data-target='#print_exotex' class="exotex_div_menu_label"><i class="bi bi-printer"></i> <span class="legend_exotex_parameter"> Télécharger en pdf </span> </span> 
            </li>
            {% if request.user.is_teacher %}
            <li class="relative_div_exotex action_print_tex  {% if not r.is_publish %}no_visu_on_load{% endif %}"   data-relationtex_id="{{ r.id }}">  
                <span data-toggle='modal' data-target='#print_tex' class="exotex_div_menu_label"><img src="{% static 'img/tex.png' %}" width="20px" style="padding:3px"> <span class="legend_exotex_parameter"> Afficher le code source </span> </span> 
            </li>
            {% if request.user.is_superuser %}
                {% if sacado_asso %}
                <li class="relative_div_exotex  {% if not r.is_publish %}no_visu_on_load{% endif %}">  
                    <a href="{% url 'link_to_relationship' r.id  %}" class="exotex_div_menu_label" ><i class="bi bi-link"></i><span class="legend_exotex_parameter"> Lier à des exercices </span></a>
                </li>
                {% else %}
                <li class="relative_div_exotex  {% if not r.is_publish %}no_visu_on_load_important{% endif %}">  
                    <a href="#" class="exotex_div_menu_label" title="Version Etablissement requise" ><i class="bi bi-link"></i><span class="legend_exotex_parameter"> Lier à des exercices (V. etab.)</span></a>
                </li>
                {% endif %}
            {% endif %}
             
            {%  if group %}
            <li class="relative_div_exotex action_exotex  {% if not r.is_publish %}no_visu_on_load{% endif %}" > 
                <a href="javascript:void(0);" data-target="#individualise_tex{{ r.id }}"  data-toggle='modal' class="exotex_div_menu_label" ><i class="bi bi-person"></i></i><span class="legend_exotex_parameter"> Individualiser l'exercice</span></a>
            </li>
            {%  endif %}

            <li class="relative_div_exotex action_exotex  {% if not r.is_publish %}no_visu_on_load{% endif %}"  data-action="students" data-relationtex_id="{{ r.id }}" onclick="return TestDelete('cet exercice')" > 
                <a href="{% url 'unset_exotex_in_bibliotex' r.id %}" class="exotex_div_menu_label" ><i class="bi bi-x"></i><span class="legend_exotex_parameter"> Supprimer de cette bibliotex</span></a>
            </li>
            {%  endif %}
 
        </div>
        <div class="body_exotex">

            <div id="content{{ r.exotex.id }}" class="relationtex{{ r.id }} {% if not r.is_publish %}no_visu_on_load_important{% endif %}">
                {% if r.content_html %}
                {{ r.content_html|safe }}
                {% else %}
                {{ r.exotex.content_html|safe }}
                {% endif %}
            </div>  
            {% if request.user.is_teacher %}
            {% if r.correction  or r.exotex.correction  %}<hr/>
                   
                    <a href="javascript:void();" data-relationtex_id="{{ r.id }}" class="printer_correction" id="print_correction{{ r.id }}"  >
                    {% if r.is_publish_cor %}
                          <i class="fa fa-eye text-success pull-right" title="Correction : Publier"></i>
                    {% else %}
                          <i class="fa fa-eye-slash text-danger pull-right" title="Correction : Publier"></i>
                    {% endif %}
                    </a>
                    <a href="javascript:void();" data-r_id="{{ r.id }}" class="select_correction" > Correction <i class="fa fa-caret-down"></i></a>

                    <a href="#" class="expand_video_correction" data-exotex_id="{{ r.id }}"><i class="bi bi-webcam"></i> </a>


                    <div id="correction{{ r.id }}" class="no_visu_on_load {% if r.is_publish_cor %}exotex_correction{% else %}exotex_correction_no_display{% endif %}"> 
                 
                            {% if r.correction_html %}
                                {{ r.correction_html|safe }} 
                            {% else %}
                                {{ r.exotex.correction_html|safe }} 
                            {% endif %}
                      
                    </div>
            {% endif %}
            {% endif %} 
            <div class="parcours_is_stop" id="tex_{{ r.id }}"><pre>{{ r.exotex.content }}</pre></div>
        </div>


    </div>

        {% if group %}

        <div class="modal fade" id="individualise_tex{{ r.id }}" tabindex="-1" role="dialog" aria-labelledby="individualise_tex{{ r.id }}">
            <div class="modal-dialog" role="document" style="width:70%">
                <div class="modal-content" >
                    <div class="modal-header">     
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> 

                        <h2>Individualiser l'exercice</h2>  
                    </div>
                    <div class="modal-body">
                         <div class="row"  >
                            <div class="col-sm-12 col-md-6" >        
          
                                
                  
                                {% if r.calculator %}
                                  <img src="{% static 'img/calculator.png' %}" width="20px" />
                                {% else %}
                                  <img src="{% static 'img/no_calculator.png' %}"  width="20px" />
                                {% endif  %} {{ r.exotex.title|cleanhtml|capfirst }} 
                                <span id="loading{{ relationtex.id }}" class="pull-right"></span>
                               
                
                                 {% if r.is_publish %} 
                                    <span class="pull-right" style="clear: both; width:150px; padding:5px; border-radius: 4px; background-color: #00a65a; color: #FFF"> Exercice publié </span> 
                                 {% else %}
                                    <span class="pull-right" style="clear: both; width:150px; padding:5px; border-radius: 4px; background-color: #cb2131; color: #FFF"> Exercice non publié </span> 
                                 {% endif %}

                                <hr/>
                                {% if r.r %}
                                    {{ relationtex.content_html|safe }} 
                                 {% else %}
                                    {{ r.exotex.content_html|safe }} 
                                 {% endif %}
                            </div> 
                            <div  class="col-sm-12 col-md-6">
                                    <span class="btn btn-info select_student" 
                                        id="selecteur{{r.exercise.id}}"    
                                        data-student_id="0"   data-custom=0
                                        data-relationtex_id="{{ r.id }}" 
                                        data-statut="False" style="min-width:75px; margin:1px; margin-right:0px" >Tous

                                        <input  type="checkbox"  style="display:none"
                                        data-student_id="0"    
                                        data-relationtex_id="{{ r.id }}" 
                                        data-statut="False"    />
                                    </span>
                                    <span class="btn btn-warning select_student" 
                                        id="selecteur{{r.exercise.id}}"    
                                        data-student_id="0" 
                                        data-relationtex_id="{{ r.id }}" 
                                        data-statut="True" style="min-width:75px; margin:1px; margin-left:0px" >Aucun

                                        <input  type="checkbox"  style="display:none"
                                        data-student_id="0"    data-custom=0
                                        data-relationtex_id="{{ r.id }}" 
                                        data-statut="True" />
                                    </span>
                                
                                {% get_only_students bibliotex group as  only_students %} 
                                 {%  for s in  only_students.students.all %}

                                    {% get_exercise s relationtex as has_it %}
                                    <span class="btn btn-{% if has_it %}success{% else  %}default{% endif  %} select_student selected_student{{relationtex.id}} selected_studentExo{{s.user.id }}" 
                                        id="student{{relationtex.id}}-{{s.user.id }}"
                                        data-student_id="{{ s.user.id }}" data-relationtex_id="{{ relationtex.id }}"  data-statut="{% if has_it %}True{% else  %}False{% endif  %}"  
                                        style="min-width:155px; margin:1px"/>{{ s.user.last_name }} {{ s.user.first_name|truncatechars:4 }}
                                    </span>
                                {%  endfor %}
                               
                            </div>   
                        </div> 
                    </div>
                </div>
            </div> 
        </div>
         {%  endif %}

     {% endif %}


{% endfor %}

    {% if request.user.is_teacher %}
    <div class="col-xs-12 col-md-6 col-lg-6 new_exotex new_exotex_empty" style="margin-bottom:20px;padding:60px;text-align: center"  >
   
         
                <a href="{% url 'set_exotex_in_bibliotex' bibliotex.id  %}" class="new_exotex_empty_button" title="Créer des exercices" ><i class="bi bi-plus-circle-dotted"></i></a>


                <a href="{% url 'exercise_bibliotex_peuplate' bibliotex.id  %}" class="new_exotex_empty_button" title="Dupliquer des exercices" ><i class="bi bi-file-plus"></i></a> 


    </div>
    {%  endif %}
<div style="clear:both"></div>
        <a href="javascript:history.back()"><input type="button" value="Retour" class="btn btn-default "/></a>  

</section> 
</form>



<div class="modal fade" id="print_exotex" tabindex="-1" role="dialog" aria-labelledby="print_exotex">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >

            <form action="{% url 'print_exotex' %}" method="POST" enctype='multipart/form-data'> 
                {% csrf_token %}
                <div class="modal-header">     
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                    <h2 id="print_exotex_title">  </h2> 
                    <input type="hidden" id="print_exotex_id"  name="print_exotex_id">  
                </div>
                <div class="modal-body" id="print_exotex_body">
     
                </div>
            </form>

        </div>
    </div> 
</div>

 

<div class="modal fade" id="print_bibliotex" tabindex="-1" role="dialog" aria-labelledby="print_bibliotex">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >

            <form action="{% url 'print_bibliotex' %}" method="POST" enctype='multipart/form-data'> 
                {% csrf_token %}
                <div class="modal-header">     
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                    <h2 id="print_bibliotex_title">  </h2> 
                    <input type="hidden" id="print_bibliotex_id"  name="print_bibliotex_id">  
                </div>
                <div class="modal-body" id="print_bibliotex_body">
     
                </div>
            </form>

        </div>
    </div> 
</div>



<div class="modal fade" id="individualise_exotex" tabindex="-1" role="dialog" aria-labelledby="individualise_exotex">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >

            <form action="#" method="POST" enctype='multipart/form-data'> 
                {% csrf_token %}
                <div class="modal-header">     
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                    <h2 id="individualise_exotex_title">  </h2> 
                    <input type="hidden" id="individualise_exotex_id"  name="individualise_exotex_id">  
                </div>
                <div class="modal-body" id="individualise_exotex_body">
     
                </div>
            </form>

        </div>
    </div> 
</div>


<div class="modal fade" id="results_exotex" tabindex="-1" role="dialog" aria-labelledby="results_exotex">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >

            <form action="#" method="POST" enctype='multipart/form-data'> 
                {% csrf_token %}
                <div class="modal-header">     
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                    <h2 id="results_exotex_title">  </h2> 
                    <input type="hidden" id="results_exotex_id"  name="results_exotex_id">  
                </div>
                <div class="modal-body" id="results_exotex_body">
     
                </div>
            </form>

        </div>
    </div> 
</div>



<div class="modal fade" id="print_tex" tabindex="-1" role="dialog" aria-labelledby="print_tex">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >
            <div class="modal-header">   Copier et coller le code source  
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h2 id="print_exotex_title">  </h2>  
            </div>
            <div class="modal-body" id="print_tex_body">
 
            </div>
        </div>
    </div> 
</div>


{% endblock %}                        
 
 