

<form action="" method="POST" enctype='multipart/form-data' style="font-size:20px">  {% csrf_token %} 


<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-new {% if  'result_parcours_skill' in request.path %} active {% endif %}"> Paramètres <b class="caret"></b> </a>
    <ul class="dropdown-menu clearfix pull-right" role="menu">

        <li {% if 'update' in request.path %}class="active"{% endif %}>
            <a href="javascript:void(0);" ><i class="bi bi-gear"></i> Configurer</a>
        </li> 
        <li>
            <a href="#" data-toggle='modal' data-target='#print_bibliotex'  data-action="print_bibliotex" data-relationtex_id="{{ bibliotex.id }}" class="action_exotex">
                <i class="bi bi-printer"></i> Télécharger en pdf 
            </a>
        </li>
 
        <li {% if 'update' in request.path %}class="active"{% endif %}>

        <a  href="#" data-toggle='modal' data-target='#duplication_modal'  class="edit" title="Dupliquer"  
                    id='duplication_document' 
                    data-document_id='{{ bibliotex.id }}' data-document_title='{{ bibliotex.title }}'><i class="bi bi-clipboard-plus"></i> Dupliquer</a> 
        </li>
        <li {% if 'individualise' in request.path %}class="active"{% endif %}>
            <a href="{% url 'exercise_bibliotex_individualise' bibliotex.id  %}"  ><i class="bi bi-people"></i> Individualiser</a> 
        </li>
        {% comment %}
        <li {% if 'results' in request.path %}class="active"{% endif %}>
            <a  href="{% url 'exercise_bibliotex_results' bibliotex.id %}"  ><i class="bi bi-bar-chart"></i> Lire les résultats</a> 
        </li>
        {% endcomment %}
        <li class="divider"></li>       
        <li {% if 'change_publications/' in request.path %} class="active" {% endif %}>
            {% if folder %}
            <a href="{% url 'change_publications_in_all_exotex' folder.id  bibliotex.id  %}" ><i class="fa fa-circle-o-notch"></i> Gérer les publications</a> 
            {% else %}
            <a href="{% url 'change_publications_in_all_exotex' 0 bibliotex.id  %}" ><i class="fa fa-circle-o-notch"></i> Gérer les publications</a> 
            {% endif %}
        </li>
    </ul>
</li>
</form>