{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}
 
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

{% endblock %}



{% block page_title %}
    <i class="bi bi-lightning"></i> Mes progressions
    
    <ul>{% include 'schedule/submenu_config.html' %}</ul>
    

{% endblock %}





{% block page_menu_right %}

  

{% endblock %}

 

{% block body %}

<section class="content_main"> 
    <div class="row">




        {% for group in groups %}

            <div class="col-xs-6 col-md-4 col-lg-3" >
                <div class="small-box" style="background-color:{{ group.color }}; height:250px">
                <!-- modal qui affiche la liste des élèves -->
                    <div class="inner" style="color:white;opacity:0.9"><br/>
                        <span style="color:{{ group.color|contrast_color }};font-size: 35px">{{ group.name |truncatechars:"14" }} </span>  <br/><br><br>


                     
                         <br/> <br/>

                    </div>

                        
 
                    <div class="small-box-footer" >

                        <div class="row">                                      
                            <div class="col-lg-12 col-xs-12" style="padding-right:10px; margin-bottom: 18px; margin-top: 12px">
                            
                                <a href="" class="btn btn-default btn-accueil" style="width:280px;color:{{ group.color}}"> 
                                    Accéder aux Progressions                             
                                </a>
                        


                            </div>
                        </div>



                        <div class="row" align="center">                                      
                            <div class="col-lg-4 col-xs-4" >
                                <a href="" style="color:{{ group.color|contrast_color }}"> 
                                   <i class="bi bi-gear"></i>                           
                                </a>
                            </div>
                            <div class="col-lg-4 col-xs-4" >
                                <a href="" style="color:{{ group.color|contrast_color }}"> 
                                   <i class="bi bi-printer"></i>                           
                                </a>
                            </div>
                            <div class="col-lg-4 col-xs-4" >
                                <a href="" style="color:{{ group.color|contrast_color }}"> 
                                   <i class="bi bi-plus-circle-dotted"></i>                           
                                </a>
                            </div>
                        </div>

                       
                    </div>
                </div>
            </div>
        {% endfor %}




    </div>
</section>

{% endblock %}


 

     
 


 
{% block modale %}


{% endblock %}