{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SacAdo</title>
    <link href="{% static 'index/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}"/>
    <link href="{% static 'index/css/style_layout.css' %}" rel="stylesheet">
    <link href="{% static 'index/css/style_reset.css' %}" rel="stylesheet">

</head>
 

<body>

<section>
    <a class="navbar-brand sacado" href="{% url 'index' %}"><img src="{% static 'img/sacadoA1.png' %}" height="30px" style="vertical-align: middle;"/>   SACADO </a>
{% block alert %}
    <div class="alert alert-danger">
        Saisissez un nom d’utilisateur et un mot de passe valides. Remarquez que chacun de ces champs est sensible à la
        casse (différenciation des majuscules/minuscules).
    </div>
{% endblock  %}

{% block reset %}
    <div class="container has-text-centered column is-4 is-offset-4">
        <h3 class="title has-text-grey">Connexion</h3>
        <p class="subtitle has-text-grey">Vous avez déja un compte.</p>
        <div class="box">
            <form method="post">
                {% csrf_token %}
                        <input class="input is-large" name="username" type="text" placeholder="Nom d'utilisateur"autofocus="">

                        <input class="input is-large" name="password" type="password" placeholder="Mot de passe">
 
                        <input class="btn btn-primary full_width" type="submit" value="Se connecter" />
            </form>
        </div>
        <a href="#"  data-toggle='modal' data-target='#lostpasswordModal' style="font-size:12px; color : #ef635c;">Identifiants oubliés ?</a>
    </div>

{% endblock  %}
</section>

<section>
    <div class="row" style="text-align: right;">
        <a href="javascript:history.back()" style="color:#FFF; font-size:20px">Retour</a>
    </div>
</section>


<div class="modal fade" id="lostpasswordModal" tabindex="-1" role="dialog" aria-labelledby="lostpasswordModal" aria-hidden="true" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class='sacado'  >Mot de passe oublié</h4>
            </div>
            <div class="modal-body">

                            Pour des raisons de sécurité, il n'est pas possible de récupérer votre mot de passe. <b>Vous devez renseigner ci-dessous l'adresse électronique que vous avez utilisé lors de votre inscription.</b>
                            Vous allez recevoir un courriel sur cette adresse contenant un lien permettant de réinitialiser votre mot de passe.<br/> <b>Pour les élèves :</b> Si vous n'avez pas renseigné d'adresse électronique lors de votre inscription, vous ne pouvez pas récupérer votre mot de passe sans passer par votre enseignant.
                             

                    <hr>
                <form action="{%  url 'password_reset' %}" method="POST"  >
                {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <input id="id_email" name="email" tupe="email" placeholder="Renseigner votre courriel" class="form-control" required style="width:90%" />
                            </div>
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">   
                            <div class="form-group"><input name="envoi" type="submit" class="btn btn-primary" value="Nouveau mot de passe" /></div>
                        </div> 
                    </div> 
                </form>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>          
        </div>          
    </div>
</div>


<script src="{% static 'index/lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'index/lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'index/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script> 

</body>
</html>