{% extends 'registration/login.html' %}



{% block alert %}
{% endblock %}



{% block reset %}

<div  style="margin-top:100px">
  {% if validlink %}
    <h3>Nouveau mot de passe</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Nouveau mot de passe" />
    </form>
  {% else %}
    <div class="alert alert-success">
      Le lien de changement de mot de passe n'est pas valide. Il a peut-être déjà été utilisé. Demandez un nouveau mot de passe.
    </div>
</div>
 
  {% endif %}



{% endblock %}