{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}

{% block require %}

    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

{% endblock %}



{% block page_title %}
     Thèmes  
{% endblock %}    
 




{% block page_menu_right %}
    <li><a href="{% url 'create_theme' %}" class="btn btn-new pull-right" ><i class="fa fa-plus"></i> Nouveau Thème</a>  
{% endblock %}</li> 



{% block  body %} 

<section class="content_main"> 
    <h1>Theme</h1>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            {{ str_theme|safe }}
        </div>
    </div>
    <hr/>
    <h1>Attendu</h1>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            {{ str_waiting|safe }}
        </div>
    </div>

    <hr/>
    <h1>Savoir faire</h1>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            {{ str_knowledge|safe }}
        </div>
    </div>

    <hr/>
    <h1>Skill</h1>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            {{ str_skill|safe }}
        </div>
    </div>

</section>

 

{% endblock  %}   


 