    {% if  not  teacher.user.school %}
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="alert alert-danger">
                Vous ne pouvez pas cloner d'exercice. Pour activer cette fonctionnalité, il faut utiliser la version établissement.
            </div> 
        </div>
    </div>
    <hr>     
    {% endif  %}

    <label>Titre du cours : </label>{{ course.title }}
    <hr> 

 
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                {% for p in parcourses|dictsort:"title" %}
                    <label style="margin-bottom:4px" class="btn btn-default"><input value="{{ p.id }}" name="get_parcourses" type="checkbox" /> {{ p }} {% if p.is_evaluation %}<i class="fa fa-trophy"></i> {% endif %}</label>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                {% if teacher.user.school %}
                <a href="#" class="btn btn-primary clone_to" data-course_id = '{{ course.id }}'  data-dismiss="modal" aria-label="Close" >Cloner ce cours dans mes parcours</a>
                {% else %}
                <span class="btn btn-primary">Cloner ce cours dans mes parcours</span>
                {% endif  %}
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
</script>

