{% load static %}
{% load item_tags %}

 
 
<h1 class="thin">  <span id="this_course_title">{{ course.title }} - {{ course.id }}</span>   
    <a href="{% url 'update_course' course.id parcours.id %}" style="font-size: 12px; margin-right:10px;" class="pull-right">Modifier ce cours</a> 
    <a href="#"  data-toggle='modal' data-target='#view_course'  data-course_id="{{ course.id }}"  style="font-size: 12px; margin-right:10px;" class="pull-right course_viewer">Vidéoprojeter ce cours</a>
</h1>
<hr>
<div >{{ course.annoncement|decode|safe }} </div>

 

 
 
<script type="text/javascript">
    MathJax.Hub.Queue(["Typeset",MathJax.Hub]);




        // Affiche dans la modal la liste des élèves du groupe sélectionné
        $('.projection').on('click', function () {
            var content = $(this).html();
            $("body").append('<div class="projection_div"  id="projection_div" ><span class="pull-right closer_projection_div"><i class="fa fa-times"></i></span>'+content+'</div>');
        });



        // Affiche dans la modal la liste des élèves du groupe sélectionné
        $(document).on('click', ".closer_projection_div", function () {
             $("#projection_div").remove();
        });
 


</script>
