    

    {% if  not  teacher.sacado %}
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="alert alert-danger">
                Vous ne pouvez pas cloner d'exercice. Pour activer cette fonctionnalité, il faut utiliser la version établissement.
            </div> 
        </div>
    </div>
    <hr>     
    {% endif  %}

    {% if course %}
    <label>Titre du chapitre : {{ course.title }}</label>
    {% else %} 
    <label>Cours intégral</label>
    {% endif %} 
    <hr> 

 
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                {% for p in parcourses|dictsort:"title" %}
                    <label style="margin-bottom:4px" class="btn btn-default"><input value="{{ p.id }}" name="get_parcourses" type="checkbox" /> {{ p }} 
                        {% if p.level.shortname %}({{ p.level.shortname }}) {% endif %} 

                        {% if p.is_evaluation %}<i class="fa fa-trophy"></i> {% endif %}</label>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                {% if teacher.sacado %}
                    {% if course %}
                        <a href="#" class="btn btn-primary clone_to" data-course_id = '{{ course.id }}' data-all_parcours=0  data-dismiss="modal" aria-label="Close" >Cloner ce chapitre dans les parcours sélectionnés</a>
                    {% else %}
                        <a href="#" class="btn btn-primary clone_to" data-course_id = '{{ course.id }}' data-all_parcours=1  data-dismiss="modal" aria-label="Close" >Cloner le cours complet dans les parcours sélectionnés</a>
                    {% endif %} 
                {% else %}
                    {% if course %}
                        <span class="btn btn-default">Cloner ce chapitre dans les parcours sélectionnés</span>
                    {% else %}
                        <span class="btn btn-default">Cloner le cours intégral dans les parcours sélectionnés</span>
                    {% endif %} 
                {% endif  %}
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
</script>