{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

 

        <div class="col-sm-12 col-md-12">
            {% regroup courses by parcours as parcours_list  %}
            {% for parcours in parcours_list  %}
                <div class="card_course">
                    <div class="course_title" >

                         
                            {% if parcours.grouper.title|length > 25 %} 
                               <span title="{{ parcours.grouper.title }}" style="cursor: help"> {{ parcours.grouper.title|truncatechars:25 }}</span>
                            {% else %} 
                            {{ parcours.grouper.title }} 
                            {% endif %} 
                            {% if parcours.grouper.level %} 
                            <span class="course_level" >{{ parcours.grouper.level  }}</span>
                            {% endif %}                             
                            <a href="#" data-toggle='modal' data-target='#clone_course' data-course_id =0 data-parcours_id = '{{ parcours.grouper.id  }}' class="pull-right  getter_course edit"><i class="fa fa-plus fa-xs"></i></a>
                    </div>
                    <div class="course_body" >
                    {% for course in parcours.list  %}
                        <li class="course_section">
                            {% if course.title|length > 32 %} 
                              <span title="{{ course.title }}" style="cursor: help">{{ course.title|truncatechars:32 }} </span>
                            {% else %} 
                            {{ course.title }} 
                            {% endif %}

                            <a href="#" data-toggle='modal' data-target='#clone_course' data-course_id = '{{ course.id }}' data-parcours_id =0  class="pull-right  getter_course edit"><i class="fa fa-plus fa-xs"></i></a>
                            <a href="#" data-toggle='modal' data-target='#get_course' data-course_id = '{{ course.id }}'  data-parcours_id =0 class="pull-right shower_course edit"><i class="fa fa-eye fa-xs"></i></a>
                        </li> 
                    {% endfor %}
                    </div>
                </div>
                {% empty %} 
                    <div class="alert alert-danger"> Aucun résultat de votre recherche  </div> 

                {% endfor %} 
        </div>
 






 

<script type="text/javascript">


        // Affiche dans la modal le modèle pour récupérer un exercice custom
        $('.shower_course').on('click', function (event) {

            let course_id = $(this).attr("data-course_id");
            let csrf_token = $("input[name='csrfmiddlewaretoken']").val();

            $.ajax(
                {
                    type: "POST",
                    dataType: "json",
                    data: {
                        'course_id': course_id,
                        csrfmiddlewaretoken: csrf_token
                    },
                    url: "parcours_shower_course",
                    success: function (data) {

                        $('#get_course_title').html(data.title);
                        $('#get_course_body').html(data.html);
                    }
                }
            )
         });




        // Affiche dans la modal le modèle pour récupérer un exercice custom
        $('.getter_course').on('click', function (event) {

            let course_id = $(this).attr("data-course_id");
            let csrf_token = $("input[name='csrfmiddlewaretoken']").val();
            let parcours_id = $(this).attr("data-parcours_id");
            let checkbox_value = "";
            let all_parcours = $(this).attr("data-all_parcours"); 

            $.ajax(
                {
                    type: "POST",
                    dataType: "json",
                    data: {
                        'course_id': course_id,
                        'parcours_id': parcours_id,
                        csrfmiddlewaretoken: csrf_token
                    },
                    url: "parcours_get_course",
                    success: function (data) {

                        $('#get_course_result').html(data.html);

                    }
                }
            )
         });









    MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
</script>