{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2_mini.js' %}"></script>
    <script>
        require(['script/ajax-parcours']);
        require(['script/ajax-parcours_inside_data']);
    </script> 
{% endblock %}

 

{% block page_title %}
   <i class="fa fa-desktop sacado_color_text"></i> Mes cours
{% endblock %}






{% block page_menu_right %}

    {% include 'qcm/course/submenu_creation_course.html' %}
   
{% endblock %}




{% block body  %} 

<section class="content_list"> 
{% include 'preloader.html' %}

 
<form action="{% url 'actioner' %}" method="POST" enctype='multipart/form-data'>
    <div class="row">    
        <div class="col-sm-12 col-md-12">
            {% csrf_token %}
            <table class="table table-hovered borderless display_no_details100"  style="width:100%" >
                <thead> 
                    <tr> 
                        <th style="width:20px"></th>
                        <th style="width:50px">Favori 
                        </th>
                        <th style="width:50px; ">
                            <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                            <div class="helper_tip_text" style="text-align: right" ><i class="fa fa-star text-success"></i> Accessible<br/>depuis un groupe <br/> <i class="fa fa-star text-default"></i> Inaccessible<br/>depuis un groupe </div>
                            </span>
                        </th>            
                        <th style="width:300px">Nom</th>
                        <th></th>
                        <th>Matière</th>
                        <th>Niveau</th>
                        <th style="width:250px">Groupe </th>
                        <th>Mutualisation</th>
                        <th>CoAnim.</th>
                        <th style="width:150px">Publication 
                            <span class="helper_tip"> 
                            <i class="fa fa-question-circle"></i>
                            <div class="helper_tip_text" >Publié signifie Accessible pour les élèves. </div>
                            </span>
                        </th>                    
                    </tr> 
                </thead>
                <tbody>
                {% for folder in folders|dictsortreversed:"is_favorite" %}
                    <tr style="{% if not folder.is_publish %} border-left-color:#cb2131; border-left-style: 3px solid;{% endif  %}height:60px"  class="selected_tr"  id="tr{{ forloop.counter }}" >
                        <td style="position:relative; text-align:center;"> 
                        </td>  
                        <td style="text-align:center;" ></td> 
                        <td style="position:relative; text-align:center; 
                                    background-image:url({% if folder.vignette %}{{ folder.vignette.url }}{% endif %});
                                    background-repeat: no-repeat;
                                    background-size: 50px 50px;"> 
                        </td> 
                        <td {% if folder.is_folder %} style="padding-top:15px" {% endif %} >
                                <span   class="accordion" data-target="{{ forloop.counter }}"  >{{ folder.title }}  </span>
                                {% if is_lock %}<span class="helper_tip"><i class="fa fa-lock"></i><div class="helper_tip_text_right">Le parcours est verrouillé. Il n'est plus possible de soumettre des exercices.</div></span>{% endif %}
                        </td>  
                        <td>
                            <span   class="accordion" data-target="{{ forloop.counter }}"  > <i class="fa fa-chevron-down" id="pop{{ forloop.counter }}" ></i></span>
                        </td>
                        <td></td>
                        <td>{{  folder.level  }}</td> 
                        <td style="position:relative"></td>
                        <td style="width:150px;" ><td>
                        <td style="width:150px;"></td>
                    </tr>
                    {% block list_of_evaluation %}
                        {% for parcours in folder.parcours.all %}  
                            {% if not parcours.is_evaluation %}
                            <tr  style="display:none"   class="collapsed subparcours{{ forloop.parentloop.counter }}"  >
                                {% include 'qcm/list_parcours_data.html' %}
                            </tr>
                            {% endif %}  
                        {% endfor  %}
                    {% endblock  %}

                {% endfor  %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">    
        <div class="col-sm-12 col-md-12">
            <table class="table table-hovered borderless display_no_details100"  style="width:100%" >
                <thead> 
                    <tr> 
                        <th style="width:30px"></th> 
                        <th style="width:50px">
                            <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                            <div class="helper_tip_text" style="text-align: right" ><i class="fa fa-star text-success"></i> Accessible<br/>depuis un dossier <br/> <i class="fa fa-star text-default"></i> Inaccessible<br/>depuis un dossier </div>
                            </span>    
                        </th> 
                        <th style="width:300px">Titre</th>
                        <th></th>
                        <th>Matière</th>
                        <th>Niveau</th>
                        <th style="width:300px">Groupe
                            <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                            <div class="helper_tip_text" >Le profil élève d'un enseignant n'est pas pris en compte. </div>
                            </span>

                        </th>
                        <th  style="width:150px;" >Mutualisation</th>
                        <th>Associations</th>
                        <th style="width:160px">Publication 
                            <span class="helper_tip"> 
                            <i class="fa fa-question-circle"></i>
                            <div class="helper_tip_text" >Publié signifie Accessible pour les élèves. </div>
                            </span>
                        </th>
                    </tr> 
                </thead>
                <tbody> 
                {% for parcours in parcourses|dictsortreversed:"is_favorite" %}
                    <tr >
                       {% include 'qcm/list_parcours_data.html' %}
                    </tr>
                {% endfor  %} 

                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="margin-top:50px">
        <div class="col-sm-12 col-md-12">
            <button class="btn btn-default" name="action" value="archiver" onclick="return TestArchive('ces dossiers/fichiers')"> 
                <i class="fa fa-archive"> </i>   Archiver la sélection
            </button>
            <button class="btn btn-default" name="action" value="deleter" onclick="return TestDelete('ces dossiers/fichiers')"> 
                <i class="fa fa-trash"> </i>   Supprimer la sélection
            </button>
        </div>
    </div>
</form>
 
</section>
 
 
{% endblock  %}   

 