{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


   
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

    <script>
        require(['script/ajax-course']);
    </script> 
{% endblock %} 

  
{% block page_title %}
    <i class="fa fa-laptop"></i> Les cours mutualisés 
{% endblock %}

{% block page_menu_right %}

    <li> <a href="{% url 'parcours' %}"   class="btn btn-new"> Mes parcours</a> </li>

{% endblock %}


{% block body %}
<section class="content_main">
<form method="POST"> 
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <table class="table  table-hover display100" id="table_course" style="width:100%">
                <thead> 
                    <tr>
                        <td>Titre</td>
                        <td>Parcours d'origine</td>
                        <td>Auteur</td>
                        <td></td>
                    </tr>
                </thead> 
                <tbody>
                    {% for course in courses  %} 
                        
                        <tr id="tr{{ course.id }}"> 
                            <td>
                               {{ course.title }} <a href="#" data-toggle='modal' data-target='#get_course' data-course_id = '{{ course.id }}' class="shower_course"><i class="fa fa-eye"></i></a> 
                            </td>
                            <td>
                               {{ course.parcours.title }} 
                            </td> 
                            <td>
                                {{ course.teacher }}
                            </td>
                            <td>
                                <a href="#" data-toggle='modal' data-target='#clone_course' data-course_id = '{{ course.id }}' class="btn btn-primary getter_course">Cloner <br>ce cours</a>
                            </td>
                        </tr>            
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
</form>     
</section>


<div class="modal fade" id="get_course" tabindex="-1" role="dialog" aria-labelledby="get_course">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h2 id="get_course_title" >Voir un cours</h2>
            </div>

            <div class="modal-body" id="get_course_body">
 
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="clone_course" tabindex="-1" role="dialog" aria-labelledby="clone_course">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h2  class='sacado'  >Cloner un cours</h2>
            </div>
            <form method="POST">
                <div class="modal-body" id="get_course_result">
     
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}

