{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
    <script>
        require(['script/ajax-parcours']);
    </script> 
    
{% endblock %}

 

{% block page_title %}
       <a href="{% url 'show_parcours_student' parcours.id %}" style="color:{{ parcours.color|contrast_color_title }}"><i class="fa fa-desktop"></i> {{ parcours }} </a><img src="{% static 'img/angle-right.png' %}"/> 
       <small>   Cours </small>   
{% endblock %}


{% block page_menu_right %}
 
        <a href="javascript:history.back()"><input type="button" value="Retour" class="btn btn-default "/></a>
 
{% endblock %}




{% block css_files %}
{% endblock %}


{% block body %}
<section class="content_main">  



    <div class="row">
        <div class="col-md-4 col-xs-12 col-lg-3">
            {% if request.user.user_type == 2 %}
            <a href="{%  url 'create_course' 0 parcours.id %}" class="btn btn-danger full_width"> Créer un nouveau cours </a>
            <hr>
            {% endif %}

            <ul class="nav nav-pills nav-stacked admin-menu">
                {% for course in courses %}
                    <li class="{% if forloop.first %}active{% endif %} menu_course">
                        <a href="#" data-target-id="course{{forloop.counter0}}"> {{ course.title }}</a>
                         
                    </li>
                {% endfor %}

            </ul>
        </div>



        <div class="col-md-8 col-xs-12 col-lg-9">
        {% for course in courses %}

            <div class="admin-content" id="course{{forloop.counter0}}">
                <h1 class="thin">  {{ course.title }}  {% if course.is_paired %}  <a href="{%  url 'update_course' course.id parcours.id %}" class="btn btn-danger pull-right"> Contribuer à ce cours </a> {% endif %}</h1>
                <hr>

                {{ course.annoncement|decode|safe }} 
            </div>
        {% endfor %}
      </div>
         
    </div>




</section>


<script type="text/javascript">
    MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
</script>

{% endblock %} 