{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
    <script>
        require(['script/ajax-parcours']);
    </script> 

{% endblock %}

 

{% block page_title %}
<span style="color:{{ parcours.color|contrast_color_title }}"><i class="fa fa-desktop"></i> </span>
    {% include 'qcm/breadcrumb.html' %}
    <small>  Cours   </small>
{% endblock %}


{% block page_menu_right %}
    {% if request.user.user_type == 2 %}
        {% include 'qcm/submenu_parcours.html' %}
    {% endif %}
{% endblock %}




{% block css_files %}
{% endblock %}


{% block body %}    

<section class="content_main">  



    <div class="row">
        <div class="col-md-4 col-xs-12 col-lg-3">
            {% if request.user.user_type == 2 and not parcours.is_folder %}
            <a href="{%  url 'create_course' 0 parcours.id %}" class="btn btn-danger full_width"> Créer un nouveau cours </a>
            <hr>
            {% endif %}
            <form action="" method="POST"> 
            {% csrf_token %}
            <ul class="nav nav-pills nav-stacked admin-menu" id="course_sortable">
                <input type="hidden" value="{{ parcours.id }}" name="parcours_id" id="parcours_id"/>
                {% for course in courses %}
                    <li class="{% if forloop.first %}active{% endif %} menu_course">
                        <a href="#" data-target-id="course{{forloop.counter0}}">  <i class="{% if course.is_publish %}fa fa-eye{% else %}fa fa-eye-slash{% endif %}" style="font-size: 12px"></i>  {{ course.title }}

                            {% if course.relationships.count > 0 %} <sup title="Cours lié à une section"><i class="fa fa-paperclip" style="font-size:8px" ></i></sup> {% endif %}


                            <img src="{% static 'img/order_handler_white.png' %}" class="pull-right"/></a>
                        <input type="hidden" value="{{ course.id }}" class="course_sort" /> 
                    </li>
                {% endfor %}
            </ul>
            </form>
        </div>
        {% for course in courses %}
            <div class="col-md-8 col-xs-12 col-lg-9  admin-content" id="course{{forloop.counter0}}">
                <h1 class="thin">  {{ course.title }}   
                    <a href="{% url 'update_course' course.id parcours.id %}" style="font-size: 12px; margin-right:10px;" class="pull-right">Modifier ce cours</a> 
                    <a href="#"  data-toggle='modal' data-target='#view_course'  data-course_id="{{ course.id }}"  style="font-size: 12px; margin-right:10px;" class="pull-right course_viewer">Vidéoprojeter ce cours</a>
                </h1>
                <hr>
                {{ course.annoncement|decode|safe }} 
            </div>
        {% empty %} 
            <div class="col-md-8 col-xs-12 col-lg-9">
                <div class="alert alert-danger">Aucun cours n'est associé à ce parcours.</div> 
            </div>
        {% endfor %} 
    </div>

 
<div class="modal fade" id="view_course" tabindex="-1" role="dialog" aria-labelledby="view_course">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class='thin' id="title_course"> </h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
            </div>
            <div class="modal-body" id="body_course">
            </div>
        </div>
    </div>
</div>




</section>



{% endblock %} 