    {{ customexercise.instruction|safe }}
    <hr> 
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <a href="#" class="btn btn-primary clone_to" data-exercise_id = '{{ customexercise.id }}' data-cloner = 0  >Cloner cet exercice dans mes exercices</a>
        </div>
    </div>

    <hr>
 
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                {% for p in parcourses|dictsort:"title" %}
                    <label style="margin-bottom:4px" class="btn btn-default"><input value="{{ p.id }}" name="get_parcourses" type="checkbox" /> {{ p }} </label>
                {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                <a href="#" class="btn btn-primary clone_to" data-exercise_id = '{{ customexercise.id }}' data-cloner = 1 >Cloner cet exercice dans mes parcours</a>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
</script>

