{% load static %}
{% load widget_tweaks %}    

<li class="book_chapters_in_menu sorter_chapter {% if ch.id == organiser %}book_chapters_in_menu_selected{% endif %}" {% if ch.id == organiser %}book_chapters_in_menu_selected{% endif %}" data-chapter_id='{{ ch.id }}' id='chapter{{ ch.id }}'>
    <span class="book_chapter_number">{{ new_counter}}.</span> 

    <a href="javascript:void(0);" class="get_inside_chapter_div {% if ch.id == organiser %}color_white{% endif %}" id="this_parcours_title{{ch.id}}" data-book_id='{{ book.id}}' data-chapter_id='{{ ch.id }}'>
    {{ ch.title|truncatechars:28|lower|capfirst }}
    </a>
 


    <a href="javascript:void(0);" class="ajax_delete_chapter this_menu_tabs pull-right" data-book='{{ book.id }}' data-chapter_id='{{ ch.id }}'
        title="Supprimer le chapitre"><i class="bi bi-trash"></i></a>

    <a href="{% url 'duplicate_parcours_organiser' ch.id  %}" class="this_menu_tabs pull-right" title="Dupliquer le chapitre (utile pour découper le chapitre en parties)"><i class="bi bi-clipboard-plus"></i></a>

    <a href="javascript:void(0);" class="in_out_progression this_menu_tabs pull-right" data-in='1' data-book='{{ book.id }}' data-chapter_id='{{ ch.id }}' data-title="{{ ch.title }}"
        title="Sortir ce chapitre de la progression"><i class="bi bi-database-x"></i></a>

    <a href="#" data-toggle='modal' data-target='#book_new_chapter' class="this_menu_tabs pull-right get_the_title" title="Renommer le chapitre"  data-title="{{ ch.title }}" data-chapter_id="{{ ch.id }}"><i class="bi bi-pen"></i></a> 

</li>



