{% load item_tags %}
{% load static %}

 

<div class="col-sm-12 col-md-7">
 
{% if c_e %}
 
{% block annotate %} 
<!-- Caractéristique pour les AJAX pour la correction en ligne -->
<input type="hidden" id="answer_id" value="{{ c_e.id}}" />
<input type="hidden" id="custom" value="1" />
<!-- Caractéristique pour les AJAX pour la correction en ligne -->
{% endblock %}

    <div id="corrector"> 
        {% if customexercise.is_file and c_e.file %}
            {% for image in images_pdf %}
                <img src="{{ image }}" width="100%"/>
            {% endfor %}
        {%  elif customexercise.is_python or  customexercise.is_scratch %}
            <pre>{{ c_e.answer|safe }}</pre>
        {%  elif customexercise.is_text %}
            {{ c_e.answer|safe }}
        {%  elif customexercise.is_image    %} 
            {% for img in images_pdf %}
                <img src="{{ img.image.url }}" width="100%"/>
                {% if not forloop.last %}<hr/>{% endif %}
            {% endfor %}
        {% endif %}

        {% for c in customannotations %} 
             <div id="{{ c.attr_id }}" class="{{ c.classe }}" style="{{ c.style }}">{{ c.content|safe }}</div>
        {% endfor %}
 
    </div>


{% else %}

    <div class="alert alert-danger">  
        Document non rendu
    </div>
{% endif %}
</div>
<div class="col-sm-12 col-md-1" style="padding-right:0px">  
</div>
<div class="col-sm-12 col-md-4" style="padding-right:0px">   
    {% if customexercise.is_mark %}

        {% get_mark_to_this customexercise student parcours_id as this_mark %}  
    <div class="row">
        <div class="col-sm-6 col-md-4" style="padding-top: 5px">  
        Note sur {{customexercise.mark}}
        </div>
        <div class="col-sm-5 col-md-3">  
        <input  type="number" {% if this_mark.is_marked %} value="{{ this_mark.marked }}" {% endif %} max="{{customexercise.mark}}" min="0"  data-customexercise_id="{{customexercise.id}}"
                step="0.25" data-parcours_id="{{ parcours_id }}" name="mark" class="form-control" data-student_id="{{student.user.id}}" id="mark_evaluate"  value =0  /> 
        </div>
        <div class="col-sm-1 col-md-1" id="mark_sign">  
        </div>
    </div>    
    <hr>   
    {% endif %}



    {% include 'qcm/correction_tools.html' %}


    {% if customexercise.knowledges.all|length > 0 %}
    <table class="table table-bordered table-hover fontsize_14">
        <tr style="background-color: #F0F0F0">
            <td>Savoir faire</td><td>NE</td><td><i class="fa fa-circle text-danger"></i></td><td><i class="fa fa-circle text-warning"></i></td><td><i class="fa fa-circle text-success"></i></td><td><i class="fa fa-circle text-primary"></i></td>
        </tr>
        {% for knowledge in  customexercise.knowledges.all %}
            {% get_result_k_s customexercise knowledge student parcours_id 0 as result_answer %} 
            <tr>
                <td>{{ knowledge }}</td>
                <td>
                    <input  type="radio" {% if result_answer == 0 %} checked {% endif %}  data-customexercise_id="{{customexercise.id}}" data-knowledge_id="{{knowledge.id}}" data-skill_id="" 
                            data-parcours_id="{{ parcours_id }}" name="knowledge{{ knowledge.id }}" value="0" data-student_id="{{student.user.id}}" class="evaluate" />                               

                </td>
                <td>
                    <input  type="radio" {% if result_answer == 1 %} checked {% endif %}  data-customexercise_id="{{customexercise.id}}"  data-knowledge_id="{{knowledge.id}}" data-skill_id="" 
                            data-parcours_id="{{ parcours_id }}" name="knowledge{{ knowledge.id }}" value="1" data-student_id="{{student.user.id}}" class="evaluate" />                               

                </td>
                <td>
                    <input  type="radio" {% if result_answer == 2 %} checked {% endif %}   data-customexercise_id="{{customexercise.id}}"  data-knowledge_id="{{knowledge.id}}" data-skill_id=""  
                            data-parcours_id="{{ parcours_id }}" name="knowledge{{ knowledge.id }}" value="2" data-student_id="{{student.user.id}}" class="evaluate" />
                </td>
                <td>
                    <input type="radio" {% if result_answer == 3 %} checked {% endif %}   data-customexercise_id="{{customexercise.id}}"  data-knowledge_id="{{knowledge.id}}" data-skill_id=""  
                           data-parcours_id="{{ parcours_id }}"  name="knowledge{{ knowledge.id }}" value="3" data-student_id="{{student.user.id}}" class="evaluate" />
                </td>
                <td>
                    <input type="radio" {% if result_answer == 4 %} checked {% endif %}   data-customexercise_id="{{customexercise.id}}"  data-knowledge_id="{{knowledge.id}}" data-skill_id="" 
                           data-parcours_id="{{ parcours_id }}" name="knowledge{{ knowledge.id }}" value="4"  data-student_id="{{student.user.id}}" class="evaluate" />
                </td>
            </tr>
        {% endfor %}            
    </table>  
    {% endif %} 
    {% if customexercise.skills.all|length > 0 %} 
    <table class="table table-bordered table-hover fontsize_14">
        <tr style="background-color: #F0F0F0">
            <td>Compétences</td><td>NE</td><td><i class="fa fa-square text-danger"></i></td><td><i class="fa fa-square text-warning"></i></td><td><i class="fa fa-square text-success"></i></td><td><i class="fa fa-square text-primary"></i></td>
        </tr>
        {% for s in  customexercise.skills.all %} 
            {% get_result_k_s customexercise s student parcours_id 1 as result_answer %}
            <tr>
                <td>{{ s }}</td>
                <td>
                    <input type="radio" name="skill{{s.id}}" value="0"   {% if result_answer == 0 %} checked {% endif %}  data-skill_id="{{s.id}}" data-knowledge_id="" data-parcours_id="{{ parcours_id }}"
                    data-student_id="{{student.user.id}}"  data-customexercise_id="{{customexercise.id}}"  class="evaluate" />
                </td>

                <td>
                    <input type="radio" name="skill{{s.id}}" value="1"   {% if result_answer == 1 %} checked {% endif %}  data-skill_id="{{s.id}}" data-knowledge_id="" data-parcours_id="{{ parcours_id }}"
                    data-student_id="{{student.user.id}}"  data-customexercise_id="{{customexercise.id}}"  class="evaluate" />
                </td>
                <td>
                    <input type="radio" name="skill{{s.id}}" value="2"   {% if result_answer == 2 %} checked {% endif %}  data-skill_id="{{s.id}}" data-knowledge_id="" data-parcours_id="{{ parcours_id }}"
                    data-student_id="{{student.user.id}}"  data-customexercise_id="{{customexercise.id}}"  class="evaluate" />
                 </td>
                <td>
                    <input type="radio" name="skill{{s.id}}" value="3"   {% if result_answer == 3 %} checked {% endif %}  data-skill_id="{{s.id}}" data-knowledge_id="" data-parcours_id="{{ parcours_id }}"
                    data-student_id="{{student.user.id}}"  data-customexercise_id="{{customexercise.id}}"  class="evaluate" />
                </td>
                <td>
                    <input type="radio" name="skill{{s.id}}" value="4"   {% if result_answer == 4 %} checked {% endif %}  data-skill_id="{{s.id}}" data-knowledge_id="" data-parcours_id="{{ parcours_id }}"
                    data-student_id="{{student.user.id}}"  data-customexercise_id="{{customexercise.id}}"  class="evaluate" />
                </td>
            </tr>
         {% endfor %}
    </table>     
    <hr>
    {% endif %} 

    <h5>Commentaire <span id="comment_result" style="color:#228b22 ; font-size:12px"></span></h5>
    <textarea class="form-control" name="comment" id="comment">{% if c_e.comment %}{{ c_e.comment }}{% endif %}</textarea>

            <div class="row" style="margin-top:10px">
                <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                        <a href="#" class="btn btn-primary save_comment margin_space5" data-saver=0 data-parcours_id="{{ parcours_id}}"   data-student_id="{{student.user.id}}"  data-customexercise_id="{{customexercise.id}}" >Enregistrer </a>
                        
<!--                         <a href="#" class="btn btn-primary save_comment margin_space5" data-saver=1 data-parcours_id="{{ parcours_id}}"   data-student_id="{{student.user.id}}"  data-customexercise_id="{{customexercise.id}}" >Enregistrer et conserver</a> -->

                        {% if c_e and  teacher.user.school %}  
                        <a href="#" data-toggle='modal' data-target='#audio_comment' class="btn btn-primary margin_space5" ><i class="fa fa-microphone"></i> Commentaire Audio </a>
                        {% elif teacher.user.school %}  
                        <a href="#" data-toggle='modal' data-target='#audio_comment' class="btn btn-primary margin_space5" ><i class="fa fa-microphone"></i> Commentaire Audio </a>
                        {% else %}   
                        <a href="#" class="btn btn-primary margin_space5" ><i class="fa fa-microphone"></i> Commentaire Audio 
                                <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                    <div class="helper_tip_text" >Version établissement.</div>
                                </span>
                        </a>
                        {% endif %}
 

                        <a href="javascript:history.back()"><input type="button" value="Annuler"
                                                                   class="btn btn-default "/></a>
                    </div>
                </div> 
            </div>

            <div class="row" style="margin-top:10px" id="response_div">
                <div class="col-sm-12 col-md-12" style="color:#cb2131"  id="response">
                    {% if c_e.audio %}
                    <audio controls>
                      <source src="{{ c_e.audio.url }}" type="audio/mpeg">
                      <span class="text-danger">Votre navigateur ne lit pas l'audio.</span>
                    </audio>
                    {% endif %}
                </div> 
            </div>
</div>
 

 