
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}

{% if group %} 

<a href="{% url 'index'  %}" style="color:{{ group.color|contrast_color_title }}"><i class="bi bi-people"></i></a> <img src="{% static 'img/angle-right.png' %}"/>


<a href="{% url 'list_parcours_group' group.id %}" style="color:{{ group.color }}" >{% include 'group/group_labelname.html' %}</a> <img src="{% static 'img/angle-right.png' %}"/>  {% endif %} 

{% if folder and group %}  
	<a href="{% url 'list_sub_parcours_group' group.id folder.id %}"   class="helper_tip" style="font-size:16px;color:{{ folder.color }}" > {{ folder.title|truncatechars:"25" }}</a>
		{% if folder.title.count > 25 %}
	            <div class="helper_tip_text_right thin" style="font-size:16px; color:{{ folder.color }};">
	                 {{ folder.title }} 
	            </div>
		</span> 
	 	{% endif %}  

		<img src="{% static 'img/angle-right.png' %}"/>  


{% elif folder and not group %} 

	<a href="{% url 'index' %}" style="color:{{ folder.color }}" >Tableau de bord </a>   
	<img src="{% static 'img/angle-right.png' %}"/> 



	<span class="helper_tip" style="font-size:16px;color:{{ folder.color }}" > {{ folder.title|truncatechars:"25" }}
	{% if folder.title.count > 25 %}
            <div class="helper_tip_text_right thin" style="font-size:16px; color:{{ folder.color }};">
                 {{ folder.title }} 
            </div>
	</span> <img src="{% static 'img/angle-right.png' %}"/>  
 	{% endif %}     
{% endif %}  

{% if parcours %} 
	<a href="{% url 'show_parcours' 0 parcours.id %}" class="helper_tip" style="font-size:16px; color:{{ parcours.color }}" >
	{{ parcours.title|truncatechars:"25" }}  

	{% if parcours.title.count > 25 %}
        <div class="helper_tip_text_right thin" style="font-size:16px; color:{{ parcours.color }};">
             {{ parcours.title }}   
        </div>
 	{% endif %}  

	</a>   <img src="{% static 'img/angle-right.png' %}"/> 
 
{% endif %} 
