{% load static %}
{% load item_tags %}
{% load widget_tweaks %}                     

<div class="card_freeze" style="{% if not relation.is_publish %}background-color: #F5F5F5{% else %}background:#FFF{% endif %}" id="card{{relation.id}}">
    <!-- Entete de la card  -->
    <div class="card-body" style="height:37px;">
          <input type="hidden" value="{{ relation.exercise.id }}" name="input_exercise_id" class="div_exercise_id"/><!--  sert à classer les thèmes  -->
          <a href="" style="cursor:move;" class="move_inside" style="color:{{ parcours.color }}"> 
          {% if not relation.is_publish %}<span style="color:#F5F5F5">{{ nb_exo_only|index:forloop.counter0 }}.</span>{% else %}{{ nb_exo_visible|index:forloop.counter0 }}.{% endif %}
          </a>
                       
          <div class="card-score">
 
              {%  get_percent_student_done_parcours_exercice   relation.exercise    parcours   students_from_p_or_g   as    data %}
 
 
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ data.percent }}%;{% if not relation.is_publish %}color: #F5F5F5{% endif %};background-color: {{relation.parcours.color }};" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100">{{ data.percent }}%</div>
              </div>
          </div>
          <span class="label_progress_bar" style="color:{{relation.parcours.color }}">{{ data.nb_done }}/{{ data.nb }}</span> 
          {% if relation.exercise.supportfile.calculator %}
            <img src="{% static 'img/calculator.png' %}" class="pull-right" width="35px" />
          {% else %}
            <img src="{% static 'img/no_calculator.png' %}" class="pull-right" width="35px" />
          {% endif  %}
    </div>   
    <!-- Fin Entete de la card  -->

    <!-- Partie sur laquelle est posée l'image  -->                  
    <div class="card-image">
          <!-- Publication  -->
          <div href="#card{{relation.id}}" class="action_content {% if  relation.is_publish %}btn btn-success{% else %}btn btn-danger{% endif %}"  style="position: absolute; right : 0px; top:90px;" id="publisher{{relation.id}}"  data-relationship_id="{{relation.id}}" data-statut="{{relation.is_publish }}" >   
              {% if  relation.is_publish %}Publié{% elif relation.start %}{{ relation.start }}{% else %}Dépublié{% endif %}
          </div>

          <!-- Tache  -->
          <div href="#card{{relation.id}}" class="btn btn-{% if  relation.date_limit %}success{% else %}default{% endif %} select_task"  style="position: absolute; right : 0px; top:120px;" id="pub_task{{relation.id}}" data-relationship_id="{{relation.id}}" data-statut="{{relation.is_task }}" >   
              <span id="loading{{ relation.id }}"></span>{% if  relation.date_limit %}{{relation.date_limit }}{% else %}Tâche ?{% endif %}
          </div>


          <!-- Pop up de la date de la tache d'un exercice  -->
          <div id="detail_dateur{{relation.id}}" class="card-dateur"  > 
                Pour le ? <span href="#card{{relation.id}}" class="select_task_close" data-relationship_id="{{relation.id}}"><i class="fa fa-times pull-right"></i></span><br/>
                <input type="type" name="dateur" data-relationship_id="{{relation.id}}" data-type ="1" value="{{ relation.date_limit|date:"Y-m-d" }}" class="datepicker dateur pull-right" />
          </div>

          <!-- Pop up de la date de publication d'un exercice  -->
          <div id="detail_pub{{relation.id}}" class="card-dateur"  > 
                Date de publication ? <span href="#card{{relation.id}}" class="select_publish_close" data-relationship_id="{{relation.id}}"><i class="fa fa-times pull-right"></i></span><br/>
                <input type="type" name="start" data-relationship_id="{{relation.id}}" data-type ="0" value="{{ relation.date_limit|date:"Y-m-d" }}" class="datepicker dateur pull-right" />
          </div>

          <!-- Pop up de la durée et du nombre de situation d'un exercice  -->
          <div id="details{{relation.id}}" class="card-dateur"  > 
                <span href="#card{{relation.id}}" class="select_details_close" data-relationship_id="{{relation.id}}"><i class="fa fa-times pull-right"></i></span><br/>
               <div class="row">
                    <div class="col-sm-2 col-md-1">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="col-sm-4 col-md-5">
                        <input type="type" name="duration" data-relationship_id="{{relation.id}}" id="duration{{relation.id}}"  data-type ="2"  value="{{ relation.duration }}" class="details_relation" /> min.
                    </div>
                    <div class="col-sm-1 col-md-1">
                        <i class="fa fa-save"></i>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <input type="type" name="situation" data-relationship_id="{{relation.id}}" id="situation{{relation.id}}"   data-type ="2"  value="{{ relation.situation  }}" class="details_relation" />
                    </div>
                </div> 
          </div>

          <!-- Pop up de partage d'un exercice  -->
          <div id="share{{ relation.id }}" class="card-dateur"  > 
                <span href="#card{{relation.id}}" class="select_share_close" data-relationship_id="{{relation.id}}"><i class="fa fa-times pull-right"></i></span><br/>
                <a href="http://parcours.erlm.tn/qcm/show_this_exercise/{{ relation.exercise.id }}/" target="_blank" style="font-size:11px"><i class="fa fa-eye"></i> Vers l'exercice</a><br>
                <span href="#card{{relation.id}}" class="copy" data-exercise_id="{{ relation.exercise.id}}" data-relationship_id="{{ relation.id}}"  data-parcours_id="{{ relation.parcours.id}}" style="font-size:11px"><i class="fa fa-clipboard"></i> Copier pour coller dans une autre page</span>
          </div>

          <!-- Pop up des compétences d'un exercice  -->
          <div id="skill{{ relation.id }}" class="card-skill"> Compétences visées
              <span   class="select_skill_close pull-right" data-relationship_id="{{relation.id}}"><i class="fa fa-times"></i></span>
                {% for skill in skills %}
                      <label style="font-size:10px">
                      <input type="checkbox" name="skills" data-relationship_id="{{relation.id}}" value="{{skill.id}}" class="skill_selector" {% if skill in relation.skills %} checked {% endif %}  />
                      {{ skill }}
                      </label>{% if not forloop.last %}<br>{% endif %}
                {% endfor %}
 
          </div>



          <!--  Image de la card  -->
          <a href="#card{{relation.id}}" class="detail_parcours"  data-exercise_id="{{ relation.exercise.id }}"  data-num_exo="{{ forloop.counter}}" data-parcours_id="{% if group.id %}{{ group.id}}{% else %}{{ parcours.id }}{% endif %}">
               <img src="../../../static/uploads/{{ relation.exercise.supportfile.imagefile }}"  class="image_parcours_order"  >
          </a> 

          {% if  relation.is_evaluation %}
          <a href="{% url 'create_evaluation' relation.parcours.id  relation.exercise.id  %}" class="btn btn-info"  style="position: absolute; right : 0px; top:150px;"><i class="fa fa-graduation-cap"></i> {{ relation.start }}, {{ relation.beginner }}   </a>
          {% endif %}

        <!--  Barre d'outil de la card  -->
        <div class="card-text" style="background-color:{{ parcours.color }}; text-align:center">
            <!-- Appel de la fenetre remédiation 
                  Appel ajax vers la modale qui est dans la page dashboard : id="remediation"
            -->

            <span style="font-size:9px">{{  relation.relationship_remediation.all|length }}</span>
            <span class="white horizontalmargin5"><a href="#" data-target="#remediation" data-relationship_id="{{ relation.id }}"  data-toggle='modal' class="white remediation"><i class="fa fa-life-ring"></i></a></span> 
            <!-- Appel des compétences -->
            <span class="white horizontalmargin5">{{ relation.exercise.supportfile.code }}</span>  
            <!-- Appel des compétences -->
            <span class="white select_skills horizontalmargin5"  data-relationship_id="{{ relation.id }}" id="skill{{relation.id}}"><i class="fa fa-cogs"></i> </span>             
            <!-- Appel des situations et durée -->
            <span class="white select_details horizontalmargin5"  data-relationship_id="{{ relation.id }}" id="clock{{relation.id}}"><!-- l'id permet de modifier après ajax le temps -->
                <i class="fa fa-clock-o"></i> {{ relation.duration }} min. 
            </span>
            <!-- Appel des situations et durée -->
            <span class="white select_details horizontalmargin5"  data-relationship_id="{{ relation.id }}" id="save{{relation.id}}"><!-- l'id permet de modifier après ajax le nombre de situation -->
                <i class="fa fa-save"></i> {{ relation.situation}}  
            </span>
            <!-- Appel de partage  -->
            <span  class="sharer horizontalmargin5" data-relationship_id="{{ relation.id }}" >
                <img src="{% static 'img/external-link.png' %}" width="15px" /><i class="fa fa-trash"></i> 
            </span>                                    
            <!-- Suppression de l'exercice dans ce parcours  -->
            <a href="{% url 'delete_relationship' relation.id %}" class="white horizontalmargin5"    onclick="return TestDelete('cet exercice de ce parcours')"  >
                <i class="fa fa-trash"></i> 
            </a>


            {% if not relation.is_publish and not relation.start %}<br>
            <span href="#card{{relation.id}}" title="Date de publication" class="select_publish white horizontalmargin5" id="select_publish{{relation.id}}" data-relationship_id="{{relation.id}}" data-statut="{{relation.is_publish }}" >
                <i class="fa fa-calendar-check"> </i> <span style="font-size:12px">Date de publication ?</span>  
            </span>
            {% endif %}
        </div>
    </div>
    <!-- Partie sur laquelle est posée l'image  -->   
</div> 