{% load static %}
{% load widget_tweaks %}
{% load item_tags %}

    

<div  class="box box-widget widget-user-2 folder_sorter" >


        <div class="handler widget-user-header">
            <!-- Add signet to folder --> 


            <!-- Fin de la fenetre  -->
            <!--EXPORTATION  -->
         

            <div style="{% if parcours %}color:{{ parcours.color }}{% else %}color:{{ group.color }}{% endif %}">
                {{ docperso.format_html|safe  }}
            </div>


            <div class="box_title_vignette"> 
                {% if docperso.file %}
                <a href="{{ docperso.file.url}}"  target="_blank">
                    <span class="helper_tip" style="color:{{ parcours.color }};font-size:20px;font-weight: 100">{{ docperso.title|truncatechars:"25" }}
                        <div class="helper_tip_text_right">{{ docperso.title }}</div>
                    </span>
                </a>
                {% else %}
                <a href="{{ docperso.link }}" target="_blank">
                    <span class="helper_tip" style="color:{{ parcours.color }};font-size:20px;font-weight: 100">{{ docperso.title|truncatechars:"25" }}
                        <div class="helper_tip_text_right">{{ docperso.title }}</div>
                    </span>
                </a>
                {% endif %}
            </div>
        </div>        
        <!-- box-footer DES FONCTIONNALITES  -->

          

</div>   