{% load static %}
{% load widget_tweaks %}
{% load item_tags %}

 
<div class="box-footer" style="position: relative; padding-top: 0px;">
    {% if group and folder  %}    
    {% get_data_parcours_evaluations_from_group_folder folder group as dataset %} 
    <div class="row dossier"> 
        <div class="col-xs-4 col-md-4 col-lg-4"> 
            <span id="is_publish_label{{ folder.id }}">
                {% if folder.is_publish %}
                    publié <i class="fa fa-circle text-success"></i> 
                {% else %}
                    <span class="text-danger">non publié <i class="fa fa-circle"></i> 
                {% endif %}
            </span><br/>
            {{  dataset.nb_flashpack }} flashpack{{ dataset.nb_flashpack|pluralize }}
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4"> 
            {{  dataset.nb_parcours }} parcours  <br/>
            {{  dataset.nb_evaluations }} évaluat°  
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4"> 
            {{  dataset.nb_bibliotex }} biblioTex  


            <a href="javascript: void(0)" data-parcours_id="{{ folder.id}}" class="open_options pull-right" title="Ouvrir les options" ><i class="fa fa-ellipsis-v" style="font-size:16px;padding-top: 5px;"></i></a>
            <br/>
            {{  dataset.nb_quizzes }} quizz   
        </div>
    </div>
    {% else %} 
    <div class="row dossier"> 
        <div class="col-xs-12 col-md-12 col-lg-12"> 
            <a href="javascript: void(0)" data-parcours_id="{{ folder.id}}" class="open_options pull-right" title="Ouvrir les options" ><i class="fa fa-ellipsis-v" style="font-size:16px;padding-top: 5px;"></i></a> 
        </div>
    </div>
    {% endif %} 
 
                   
    {% if folder.folder_only_students_count.nb > 0 %}  
    <div class="row extend_parcours">

        <div class="col-xs-4 col-md-4 col-lg-4">
        {% if group and folder.folder_only_students_count.nb > 0 %}      
            <a href="{% url 'update_folder' folder.id  group.id  %}" class="edit" style="color:{{ folder.color}};"><i class="bi bi-gear"></i> <span class="label_icon">Config.</span> </a>
        {% else %}    
            <a href="{% url 'update_folder' folder.id  0  %}" class="edit" style="color:{{ folder.color}};"><i class="bi bi-gear"></i> <span class="label_icon">Config.</span> </a>
        {% endif %}
        </div>


        <div class="col-xs-4 col-md-4 col-lg-4">
            <a  href="{% url 'result_parcours' folder.id 1 %}" class="edit" target="_blank"><i class="fa fa-fw fa-mortar-board"></i> <span class="label_icon">Suivis <img src="{% static 'img/external-link.png' %}" width="7px" ></span>
            </a>   
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4">
            <span href="javascript:void()" class="edit group_shower" data-parcours_id="{{folder.id }}" {% if dataset.is_students %} style="color:{{ folder.color }}" {% endif %} >
                <i class="fa fa-fw fa-users"></i> <span class="label_icon">Élèves</span>  
            </span>
        </div> 
    </div> 
    {% endif %}   
</div>

