{% load static %}
{% load widget_tweaks %}
{% load item_tags %}
           

<div  class="box box-widget widget-user-2 folder_sorter"  data-parcours_id ="{{folder.id}}"  
      style="cursor: move;{% if folder.vignette %}background-image: url('{{ folder.vignette.url }}'); background-size: cover; {% endif %}background-color:{{folder.color }};">
    {% with folder.data_parcours_evaluations as dataset %}
    <div class="handler widget-user-header">
        <!-- Add signet to folder -->
        <img src="{% static 'img/rabat_dossier.png' %}" class="rabat_dossier" />


        <div class="group_show  group_show{{folder.id }} no_visu_on_load"> 
            {% with folder.folder_only_students_count as data %}
                {% csrf_token %}
                <a  href="#principal_section" class="vue menuactionparcours" data-toggle='modal' style="float:left; margin-right:10px"  
                    data-group_name='{{ group.name }}' data-parcours_id='{{ folder.id }}' data-target='#listing'> 
                    <span class="label label-default"> {{ data.nb }}<i class="fa fa-users"></i></span>
                </a> 
 
            <font style="font-size:11px; color:#AAA"> 
                {% for s in data.only_students|dictsort:"user.last_name"  %}
                <a  href="#principal_section" class="detail_student_parcours"  data-student_id="{{ s.user.id }}"  
                    data-parcours_id="{{ folder.id }}" >{{s}}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
               {% endwith %} 
            </font>
            <div style="clear:both"></div>
        </div>

        <a href="#" data-parcours_id="{{folder.id }}" class="overlay_show white">
        <div class="disc   disc{{folder.id }}" style="background-color:{% if folder.is_publish %}#00a65a{% else  %}#dd4b39{% endif  %} "> 
             <i class="fa fa-circle-o-notch"></i>
        </div>
        </a> 

 
        <!-- Fenetre accessible par l'icone qui montre les parcours  -->
        <div class="group_show no_visu_on_load" id="folder{{folder.id }}" style="font-size:12px; color:#AAA"> 
            <h4  style="border-bottom: 1px solid {{ parcours.color }}; color:{{ folder.color }};">
                <a href="#" class="subparcours_show_close pull-right" data-parcours_id="{{folder.id}}" style="color:{{ folder.color }};"><i class="fa fa-times"></i></a>
                Parcours 
            </h4> 
            {% for p in dataset.parcours   %} 
                <li class="sans_puce" {% if p.is_publish %} style="color:{{ folder.color }};"{% endif %}>{{ p.title }}   </li> 
            {% endfor %}
        </div>
        <!-- Fenetre accessible par l'icone qui montre les evaluations  -->
        <div class="group_show no_visu_on_load" id="evaluations_in{{folder.id }}" style="font-size:12px; color:#AAA"> 
            <h4  style="border-bottom: 1px solid {{ parcours.color }}; color:{{ folder.color }};">
                <a href="#" class="subparcours_show_close pull-right" data-parcours_id="{{folder.id}}" style="color:{{ folder.color }};"><i class="fa fa-times"></i></a>
                Evaluations 
            </h4> 
            {% for p in dataset.evaluations  %} 
                <li class="sans_puce" {% if p.is_publish %} style="color:{{ folder.color }};"{% endif %}>{{ p.title }}   </li> 
            {% endfor %}
        </div>



        <!-- Fenetre accessible par le disc   -->

        <div class="overlay  overlay_show{{folder.id }} no_visu_on_load" > 
            <div class="overlay_expand">
                <a href="#" data-parcours_id="{{folder.id }}" class="overlay_show pull-right">
                    <i class="fa fa-times"></i>
                </a>
  
 
                    <div class="btn-group"  style="padding:0px;margin:0px;">
                        <a href="#" class="btn btn-default btn-publisher  publisher"  data-from="2" id="folder_publisher{{folder.id}}" 
                            data-parcours_id="{{folder.id}}" data-statut="{{folder.is_publish }}">  
                            <i class="fa fa-circle-o-notch"></i>
                        </a><span class="legend-btn legend-btn-{% if not folder.is_publish %}danger{% else  %}success{% endif  %} size15" id="parcours_statut{{folder.id}}" style="cursor:auto" >  
                          {% if folder.is_publish %} Publié  {% else %} Non publié {% endif  %} 
                        </span>
                    </div>
 
                {% if folder.teacher != teacher %}<br><small  style="color:{{ folder.color }};"><b>Propriétaire :</b>    {{ folder.teacher }}</small>{% endif %}
                <br>
                <span class="label_icon" style="color:{{ parcours.color }};">
 
                        {{  folder.start|date:"d N Y H:i"  }}   
                        {% if folder.stop %}
                           - {{  folder.stop|date:"d N Y H:i"  }}     
                        {% endif %}                                
 
                </span>
            </div>
        </div>
        <!-- Fin de la fenetre  -->
        <!--EXPORTATION  -->
 
        {% if folder.vignette %}                
            <div class="box_title_underlay_vignette" style="background-color:{{ folder.color }};">
            </div> 
        {% endif  %}
        <div class="box_title_vignette"> 
 
            <a href="{% url 'list_sub_parcours_group' group.id folder.id  %}" style="color:{{ folder.color|contrast_color }};">
                {% if folder.is_pending_folder_correction %}
                <i class="fa fa-copyright pull-right" style="font-size:12px;color:{{ folder.color|contrast_color }};" title="Copies à corriger" ></i> 
                {% endif %}


                {% if folder.title|length > 20 %}
                    <span class="helper_tip" style="color:{{ folder.color|contrast_color }};font-size:20px">{{ folder.title|truncatechars:"22" }}<div class="helper_tip_text_right">{{ folder.title }}</div></span>
                    <span style="font-size:12px"> {{ folder.parcours.count}} <i class="fa fa-th"></i> </span>
                {% else %}
                    {{ folder.title}}
                    <span style="font-size:12px"> {{ folder.parcours.count}} parcours </span>
                {% endif %}

                {% if folder.is_folder_real_time %}
                    <sup class="white" title="En composition" style="font-size:12px" >
                        <i class="fa fa-fw fa-clock"></i> 
                    </sup>
                {% endif %}
            </a>
        </div>
    </div>

    <!-- box-footer DES FONCTIONNALITES  -->


    <div class="box-footer" style="position: relative">
        <div class="dossier">
            D<br/>O<br/>S<br/>S<br/>I<br/>E<br/>R 
        </div>  
        <div class="row extend"> 
            <div class="col-xs-1 col-md-1 col-lg-1"> 
            </div>
            <div class="col-xs-5 col-md-5 col-lg-5">
                <a href="{% url 'update_folder' folder.id  group.id  %}"  class="edit"><i class="fa fa-fw fa-cogs"></i> <span class="label_icon">Config.</span> </a>
            </div> 
            <div class="col-xs-5 col-md-5 col-lg-5">
                <a  href="{% url 'result_parcours' folder.id 1 %}" class="edit" target="_blank"><i class="fa fa-fw fa-mortar-board"></i> <span class="label_icon">Suivis <img src="{% static 'img/external-link.png' %}" width="7px" ></span>
                </a>   
            </div>
        </div>
        <div class="row extend">
            <div class="col-xs-1 col-md-1 col-lg-1">  
            </div>
            <div class="col-xs-5 col-md-5 col-lg-5">
 
                <span href="#"  class="edit click_evaluations_show"   data-parcours_id="{{folder.id }}"  {% if dataset.is_evaluations_exists   %} style="color:{{ folder.color }}" {% endif %}>
                    <i class="fa fa-fw fa-trophy"></i> <span class="label_icon">Evaluations</span> 
                </span>

                <a href="{% url 'create_evaluation' folder.id %}" style="font-size: 14px" class="edit" title="Ajouter un évaluation à ce dossier">   
                     <i class="fa fa-plus-circle"></i> 
                </a>

            </div> 
            <div class="col-xs-5 col-md-5 col-lg-5">
                <a  href="{% url 'detail_task_parcours' folder.id 0 0 %}"   class="edit" {% if dataset.is_folder_task_exists %} style="color:{{ folder.color }}" {% endif %}>
                    {% if not folder.is_task_exists %}<i class="fa fa-fw fa-calendar"></i>{% else %}<i class="fa fa-fw fa-calendar-check"></i>{% endif %}
                     <span class="label_icon">Tâches</span>
                </a> 
            </div>                     
        </div> 
        <div class="row">
            <div class="col-xs-1 col-md-1 col-lg-1"> </div>
            <div class="col-xs-5 col-md-5 col-lg-5">
                <span href="#"  class="edit click_parcours_show"   data-parcours_id="{{folder.id }}"  {% if dataset.is_parcours_exists %} style="color:{{ folder.color }}" {% endif %}>
                    <i class="fa fa-fw fa-folder{% if dataset.nb_parcours > 1 %}-open{% endif%}"></i> <span class="label_icon">Parcours</span> 
                </span>

                <a href="{% url 'create_parcours' folder.id %}" style="font-size: 14px" class="edit" title="Ajouter un parcours à ce dossier">   
                     <i class="fa fa-plus-circle"></i> 
                </a>

            </div> 
            <div class="col-xs-5 col-md-5 col-lg-5">

                <a href="{% url 'show_course' 0 folder.id   %}"  class="edit" {% if dataset.is_folder_courses_exists %} style="color:{{ folder.color }}" {% endif %} >
                    <i class="fa fa-fw fa-desktop"></i>  <span class="label_icon">Cours</span>
                </a>



                <span href="#" class="edit group_shower pull-right" data-parcours_id="{{folder.id }}" {% if dataset.is_students %} style="color:{{ folder.color }}" {% endif %} >
                    <i class="fa fa-fw fa-users"></i>  
                </span>


            </div>                    
        </div> 
    </div>
    {% endwith %}
 
</div>   