{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 
    {% if parcours %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    {% endif %}

    <script>
        require(['script/ajax-parcours']);
    </script> 

    {% block require_complement %}
        {% if not parcours %}
            <script>
                require(['script/ajax-parcours-complement']);
            </script> 
        {% endif %}
    {% endblock %} 

{% endblock %} 


{% block page_title %}
 
    <span style="color:{{ group.color }}"><i class="fa fa-folder"></i> </span> 
 

      {% include 'qcm/breadcrumb.html' %}


    <small>
    {% if parcours %}
        Configuration du dossier
    {% else %}
         Nouveau dossier   
    {% endif %}
    </small>  
{% endblock %}




{% block page_menu_right %} 
 
{% endblock %}

 


{% block body %}  
<section class="content_main">

    {% if parcours %}
        {% if parcours.author != parcours.teacher and parcours.teacher != request.user.teacher %}
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="alert alert-info">
                    Le dossier est créé par <b>{{ parcours.author }}</b> pour {% if parcours.teacher.user.civilite == "Mme" %}sa{% else %}son{% endif %} collège <b>{{ parcours.teacher }}</b>
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}

    <form action="" method="POST" enctype='multipart/form-data'> 
    <div class="row">
        <div class="col-sm-12 col-md-8">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        {{ form.title.label_tag }} <label> <small>(Inférieur à 18 lettres)</small></label>
                        {{ form.title |add_class:"form-control" }}
                        {{ form.title.errors }}
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label> Niveau :</label><br/>
                        {{ form.level |add_class:"form-control select2" }}
                        {{ form.level.errors }}
                    </div>
                </div>
                <div class="col-sm-12  col-md-3  col-lg-3">
                      {{ form.color.label_tag }}      
                                <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                    <div class="helper_tip_text" >La couleur permet une reconnaissance rapide.</div>
                                </span>
                      <div id="color-picker-component" class="input-group colorpicker-component">
                          {{ form.color.as_hidden }}
                          <span class="input-group-addon"><i></i></span>
                      </div>
                </div>
            </div> 
            <div class="row">
 

                <div class="col-sm-6 col-md-6  col-lg-6">
                    {% if sacado_asso %}  
                    <div class="form-group">
                        <label>Dossier partagé avec <small>(facultatif)</small></label><br>
 
                            {{ form.coteachers|add_class:"form-control select2"}}
                            {{ form.coteachers.errors }}
 
                    </div>
                    {% else %}
                        <div class="alert alert-danger"><small>Co-animation uniquement avec la version établissement.</small></div>
                    {% endif %}


                    <div class="form-group list_choice">         
                    <label>Choisir les élèves parmi</label>{% if not group %}</br>{% endif %}

                        {% if group %}
                            {% with group.just_students.all as this_group  %}
                            <label class="pull-right"><input type="checkbox" value="{{ group.id }}" name="groups" class="select_all" {% if this_group.count == 0 %} checked {% endif %} /><small> tous</small> 
                            </label>
                            <br>
                            <div id="demo{{ group.id }}" >
                                    <div class="form-group">
                                        {% for s in this_group|dictsort:"user.last_name"  %}

                                            <label>
                                                <input type = "checkbox" 
                                                        class="selector check_if_check" 
                                                        name="students" 
                                                        value="{{ s.user.id }}"

                                                        {% if parcours %}
                                                         {% get_in_parcours  s parcours  as bool  %}

                                                                {% if bool  %}checked {% endif %}

                                                        {% endif %} > 
 
                                                        {{ s.user|title}}
                                            </label><br>
                                        {% endfor %}
                                    </div>
                            </div>
                            {% endwith %}
                        {% else %}

                            {% for group in group.just_students.all %}
 
                                {% if group.just_students.count > 0 %}
                                    <a data-toggle="collapse" data-target="#demo{{ group.id }}" style="color:{{ group.color}};cursor:pointer">
                                        {{ group.name|truncatechars:15 }} <small><i class="fa fa-caret-down"></i></small> 
                                    </a> 
                                    <label class="pull-right">
                                        <input type="checkbox" value="{{ group.id }}" name="groups"
                                            {% if request.session.group_id %}
                                                {% if  request.session.group_id == group.id %}checked {% endif %}
                                            {% else %}
                                                {% if group.students.count == students_checked  %}checked {% endif %}
                                            {% endif %}
                                            class="select_all check_if_check" /><small> tous  </small> 
                                    </label>
                                {% else %}
                                    <span style="color:{{ group.color}}">
                                       <small><i class="fa fa-caret-right"></i></small>  {{ group.name|truncatechars:15 }} 
                                    </span> 
                                    <small style="color:#cb2131">Groupe sans élève. Ce parcours ne lui sera pas affecté.</small>
                                {% endif %}<br>

                              <div id="demo{{ group.id }}" class="collapse" >
                                    <div class="form-group">
                                        {% for s in group.just_students.all|dictsort:"user.last_name"  %}

                                            <label>
                                                <input type = "checkbox" 
                                                        class="selector check_if_check" 
                                                        name="students" 
                                                        value="{{ s.user.id}}"

                                                        {% if parcours %}
                                                         {% get_in_parcours  s parcours  as bool  %}

                                                                {% if bool  %}checked {% endif %}

                                                        {% endif %} > 
                                                        {{ s.user|title}}
                                            </label><br>
                                        {% endfor %}
                                    </div>
                              </div>
                              <div style="height:5px"></div>
 
                            {% endfor %}



                            {% if share_groups|length > 0 %}<hr><label>Groupes co-animés</label><br>{% endif %}
                            {% for sg in share_groups %}
                            <a data-toggle="collapse" data-target="#demosg{{ sg.group.id }}" style="color:{{ sg.group.color}};cursor:pointer">
                                {{ sg.group.name }} <small><i class="fa fa-caret-down"></i></small> </a> 
                                {% if sg.group.just_students.count > 0 %}<label class="pull-right"><input type="checkbox" value="{{ sg.group.id }}" name="groups"
                                                                                                    {% if request.session.group_id %}
                                                                                                        {% if  request.session.group_id == sg.group.id %}checked {% endif %}
                                                                                                    {% else %}
                                                                                                        {% if sg.group.students.count == students_checked  %}checked {% endif %}
                                                                                                    {% endif %}
                                                                                                    class="select_all_sg" /><small> tous  </small> </label>{% endif %}<br>

                              <div id="demosg{{ sg.group.id }}" class="collapse" >
                                    <div class="form-group">
                                        {% for s in sg.group.just_students.all|dictsort:"user.last_name"  %}
                                            <label>
                                                <input type = "checkbox" 
                                                        class="selector check_if_check" 
                                                        name="students" 
                                                        value="{{ s.user.id}}"

                                                        {% if parcours %}
                                                         {% get_in_parcours  s parcours  as bool  %}
                                                            {% if bool  %}
                                                                checked
                                                            {% endif %} 
                                                        {% endif %} > 
                                                        {{ s.user|title}}
                                            </label><br>
                                        {% endfor %}
                                    </div>
                              </div>
                              <div style="height:5px"></div>
                            {% endfor %}


                        {% endif %} 
                    </div>
                </div>


                <div class="col-sm-6 col-md-6  col-lg-6" style="position: relative">
                    {% if not group %}
                        <div class="form-group">
                            <label> Enseignement :</label><br/>
                            {{ form.subject |add_class:"form-control select2" }}
                            {{ form.subject.errors }}
                        </div>
                    {% endif %}


                    {% include 'qcm/insert_vignettes.html' %}




                    <hr/>
                    <label><b>Cocher les parcours à insérer dans ce dossier</b></label>
                    {% for p in parcourses|dictsort:"title" %}
                        {% get_is_leaf p parcours as is_leaf %}
                        <li class="sanspuce folder_line" id="delete_from_folder{{ p.id }}">
                            <label><input type="checkbox" name="subparcours" value="{{ p.id }}" {% if is_leaf %} checked {% endif %}  /> {{ p.title }}
                            <div class="background_parcours" {% if not p.vignette %} style="background-color: {{ p.color }}" {% endif %}>
                                {% if p.vignette %}
                                    <img src="{{ p.vignette.url }}" />
                                {% endif %}
                                <div style="position: absolute; left:0px; padding-left:10px; opacity: 0.9; width:300px; bottom:0px;color:{{ p.color|contrast_color }};{% if p.vignette %}background-color: {{ p.color }}{% endif %}">
                                    <h4 class="thin">{{ p.level }}
                                        {% if p.is_evaluation %}
                                             - Evaluation 
                                        {% endif %}

                                        <a href="#" data-parcours_id="{{ p.id }}"  onclick="return TestDelete('{% if p.is_evaluation %}cette évaluation{% else %}ce parcours{% endif %}')"
                                            class="delete_from_folder pull-right" 
                                            style="padding-right:10px; font-size:16px;color:{{ p.color|contrast_color }}"><i class="fa fa-trash"></i>
                                        </a>
                                        {% if group.id %}
                                        <a href="{% url 'update_parcours' p.id group.id %}"  class="pull-right" 
                                            style="padding-right:10px; font-size:16px;color:{{ p.color|contrast_color }}"><i class="fa fa-pencil-square"></i>
                                        </a>
                                        {% else %}
                                        <a href="{% url 'update_parcours' p.id 0 %}"  class="pull-right" 
                                            style="padding-right:10px; font-size:16px;color:{{ p.color|contrast_color }}"><i class="fa fa-pencil-square"></i>
                                        </a>
                                        {% endif %}
                                    </h4>
                            </div>
                            </label>
                        </li>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">                      
            <table class="table">
                    <tr>
                        <td>{{ form.is_publish.label_tag }}</td>
                        <td>{{ form.is_publish |attr:"data-toggle:toggle" |attr:"data-onstyle:success"|attr:"data-offstyle:danger"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
                        <td>{{ form.is_publish.errors }}</td>
                    </tr>

                    <tr class="publication_div">
                        <td><label>Date de publication</label></td>
                        <td>{{ form.start|add_class:"form-control datetimepicker"}}</td>
                        <td></td>
                    </tr>
                    <tr class="publication_div">
                        <td>{{ form.stop.label_tag }} 
                                <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                    <div class="helper_tip_text" >Le parcours reste publié mais la soumission des exercices est interdite après la date renseignée. Pour dépublier, utiliser le bouton de publication.</div>
                                </span>
                        </td>
                        <td>{{ form.stop|add_class:"form-control datetimepicker"}}</td>
                        <td>{{ form.stop.errors}}{% for error in form.non_field_errors %}
                                <p class="alert alert-danger">{{error}}</p>
                            {% endfor %}</td>
                    </tr>
    
                    <tr>
                        <td>{{ form.is_favorite.label_tag }} <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                <div class="helper_tip_text" >Si coché, le parcours est accessible depuis le.s groupe.s au.x.quel.s il est rattaché. Sinon il n'est accessible que depuis la liste de vos parcours.</div>
                            </span></td>
                        <td>{{ form.is_favorite |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
                        <td>{{ form.is_favorite.errors }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.is_share.label_tag }}<span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                <div class="helper_tip_text" >Si coché, le parcours est proposé à l'ensemble des collègues de SACADO. Si vous n'avez pas la version établissement, le parcours n'est pas mutualisé par défaut.</div></td>
                        <td>{{ form.is_share |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
                        <td>{{ form.is_share.errors }}</td>
                    </tr>
                        
            </table>
        </div>
    </div>



    <div class="row" style="margin-top:40px">
        <div class="col-sm-12 col-md-8">
            <div class="form-group">
                {% if parcours  %}
                    <input value="Modifier sans affecter d'élève (rapide)" type="submit" name="saver" class="btn btn-primary" onclick="return check_if_checked()" />
                    <input value="Modifier et réaffecter des élèves" type="submit" name="affectation" class="btn btn-darkgreen" onclick="return check_if_checked()" />
                {% else  %}
                    <input value="Enregistrer" type="submit" name="saver" class="btn btn-primary" onclick="return check_if_checked()" />
                {% endif %}
                <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default"/></a>
            </div>
        </div> 

        <div class="col-sm-12 col-md-4">
        {% if parcours  %}
                {% if parcours.is_archive %}
                    <a href="{% url 'folder_unarchive' parcours.id   %}" class="btn btn-warning"> 
                        <i class="fa fa-th"> </i>   Désarchiver
                    </a>
                {% else %}
                    <a href="{% url 'folder_archive' parcours.id  %}" class="btn btn-warning"  onclick="return TestArchive('ce dossier')"> 
                        <i class="fa fa-archive"> </i>   Archiver
                    </a>
                {% endif %}

                {% if group %}
                    <a href="{% url 'delete_folder' parcours.id  group.id %}" class="btn btn-danger"  onclick="return TestDeleteFolder('ce dossier')"> 
                        <i class="fa fa-trash"> </i>   Supprimer
                    </a>
 
                {% else %}
                    <a href="{% url 'delete_folder' parcours.id  0 %}" class="btn btn-danger"  onclick="return TestDeleteFolder('ce dossier')"> 
                        <i class="fa fa-trash"> </i>   Supprimer
                    </a>
                {% endif %}  


        {% endif %}  

        </div>
    </div>  
 
    </form>      
</section>   





{% endblock %}


      
 
 