{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 
    {% if parcours %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    {% endif %}

    <script>
        require(['script/ajax-parcours']);
    </script> 

 


{% endblock %} 


{% block page_title %}
    {% if parcours %}
        <span style="color:{{ parcours.color }}"><i class="fa fa-map"></i> {{ parcours }}    </span>   <small><img src="{% static 'img/angle-right.png' %}"/> Modification</small>   
    {% else %}
       <i class="fa fa-map"></i> Nouveau parcours   
    {% endif %}

{% endblock %}




{% block page_menu_right %}    

{% endblock %}

  <li> <a href="{% url 'all_parcourses' %}"   class="no_button"> Tous les parcours</a></li>




{% block body %}
 
  
     
<section class="content_main">
    <div class="col-sm-12 col-md-12">

        <form action="" method="POST" enctype='multipart/form-data'> 
        {% if not parcours %}  
            <div class="row" style="font-size: 20px">
                <div class="col-sm-12 col-md-12">
                    <div class="alert alert-info">
                        <i class="fa fa-warning"></i> Pour associer un parcours à un groupe, tout ou partie, il faut cocher <strong>au moins</strong> un élève de ce groupe. Une fois le parcours créé, vous pourrez choisir ses exercices via l'interface du parcours depuis l'un des groupes associés. 
                        <br>Si le parcours ne contient aucun élève, il n'est accessible que depuis la rubrique <i class="fa fa-map"></i> Parcours, dans le menu vertical à gauche.
                    </div>
                </div>
            </div> 
        {% endif %}

            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        {{ form.title.label_tag }} <label> <small>(Inférieur à 18 lettres)</small></label>
                        {{ form.title |add_class:"form-control" }}
                        {{ form.title.errors }}
                    </div>
                </div>
                <div class="col-sm-12  col-md-3  col-lg-2">
                      {{ form.color.label_tag }}
                      <div id="color-picker-component" class="input-group colorpicker-component">
                          {{ form.color.as_hidden }}
                          <span class="input-group-addon"><i></i></span>
                      </div>
                </div>
                <div class="col-sm-4  col-md-3  col-lg-1">
                    <div class="form-group">
                        {{ form.is_favorite.label_tag }} <br>
                        {{ form.is_favorite |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                        {{ form.is_favorite.errors }}
                    </div>
                </div>
                <div class="col-sm-4  col-md-4  col-lg-2">
                    <div class="form-group">
                        {{ form.is_share.label_tag }} <br>
                        {{ form.is_share |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                        {{ form.is_share.errors }}
                    </div>
                </div>
                <div class="col-sm-4  col-md-4  col-lg-2">
                    <div class="form-group">
                        {{ form.is_evaluation.label_tag }}<br>
                        {% if parcours.is_evaluation %} 
                        {{ form.is_evaluation |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}} 
                        {% else %} 
                        {{ form.is_evaluation|add_class:"is_evaluation" |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}} 
                        {% endif %} 
                        {{ form.is_evaluation.errors }}
                    </div>
                </div>
                <div class="col-sm-4  col-md-4  col-lg-2">
                    <div class="form-group">
                        {{ form.is_publish.label_tag }} <br>
                        {{ form.is_publish |attr:"data-toggle:toggle" |attr:"data-onstyle:success"|attr:"data-offstyle:danger"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                        {{ form.is_publish.errors }}
                    </div>
                </div>   
            </div> 
            <div class="row">
                <div class="col-sm-6 col-md-4   col-lg-3">
                    <div class="form-group list_choice">         
                    <label>Choisir les élèves parmi</label>   <br>  
                        {% for group in groups %}
                        <a data-toggle="collapse" data-target="#demo{{ forloop.counter }}" style="color:{{ group.color}};cursor:pointer">
                            {{ group.name }} <small><i class="fa fa-caret-down"></i></small> </a> 
                            {% if group.students.count > 0 %}<label class="pull-right"><input type="checkbox" value="{{ forloop.counter }}" 
                                                                                                {% if group.students.count == students_checked %}checked {% endif %}
                                                                                                class="select_all" /><small> tous </small> </label>{% endif %}<br>

                          <div id="demo{{ forloop.counter }}" class="collapse" >
                                <div class="form-group">
                                    {% for s in group.students.all|dictsort:"user.last_name"  %}

                                        <label>
                                            <input type = "checkbox" 
                                                    class="selector" 
                                                    name="students" 
                                                    value="{{ s.user.id}}"
                                                    {% if parcours %}
                                                     {% get_in_parcours  s parcours  as bool  %}
                                                        {% if bool %} checked {% endif %}
                                                    {% endif %} > 
                                                    {{ s.user|title}}
                                        </label><br>
                                    {% endfor %}
                                </div>
                          </div>
                          <div style="height:5px"></div>
                        {% endfor %}
                    </div>
                    <div class="form-group" style="font-size:12px">      
                        <div class="alert alert-danger">      
                            <i class="fa fa-warning"></i> Un parcours commun à plusieurs groupes partage ses données à chaque groupe. Créer un parcours par groupe sinon.
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3  col-lg-4">

                        {{ form.vignette.label_tag }} <span style="font-size: 10px">format recommandé: l:450px h:300px </span>
                        {{ form.vignette|add_class:"btn btn-default" }} 
                        {{ form.vignette.errors }}
                {% if   parcours %} 
                    <div style="height:20px"></div>
                    {% if parcours.parcours_group.id %}
                    <a href="{% url 'populate_parcours' parcours.parcours_group.id   %}" class="btn btn-{% if parcours.exercises.all|length > 0 %}default{% else %}danger{% endif %}" ><i class="fa fa-tasks"></i> Selectionner les exercices </a>   
                    {% elif parcours.id %}
                    <a href="{% url 'peuplate_parcours' parcours.id   %}" class="btn btn-{% if parcours.exercises.all|length > 0 %}default{% else %}danger{% endif %}" ><i class="fa fa-tasks"></i> Selectionner les exercices</a>   
                    {% endif %}
                {% endif %}   
                </div>

                
                <div class="col-sm-12 col-md-5  col-lg-5"> 

                    <div {% if not  parcours.is_evaluation %} id="details_evaluation" {% endif %} >
                        <table class="table">
                            <tr>
                                <td>{{ form.duration.label_tag }} </td>
                                <td>{{ form.duration |add_class:"form-control"|attr:"placeHolder:15:00"}}</td>
                                <td>{{ form.duration.errors}}</td>
                            </tr>
                            <tr>
                                <td>Date de passation</td>
                                <td>{{ form.start|add_class:"form-control datepicker"}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>{{ form.starter.label_tag }} </td>
                                <td>{{ form.starter |add_class:"form-control"|attr:"placeHolder:15:00"}}</td>
                                <td>{{ form.starter.errors}}</td>
                            </tr>
                            <tr>
                                <td colspan="3"><small>Pour dépublier, compléter les champs suivants</small></td>
                            </tr>
                            <tr>
                                <td>{{ form.stop.label_tag }}</td>
                                <td>{{ form.stop|add_class:"form-control datepicker"}}</td>
                                <td>{{ form.stop.errors}}</td>
                            </tr>
                            <tr>
                                <td>{{ form.stopper.label_tag }} </td>
                                <td>{{ form.stopper  |add_class:"form-control"|attr:"placeHolder:16:00"}}</td>
                                <td>{{ form.stopper.errors}}</td>
                            </tr>
                        </table>
                    </div>

                    <div class="alert alert-info" {% if not  parcours.is_evaluation %} id="explain_evaluation" {% endif %} >
                        La durée de l'évaluation est la somme des durées de chaque exercice + le temps de chargement (à renseigner en minutes)
                    </div>




                </div>
            </div> 
            <div class="row" style="margin-top:40px">
                <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                        <input value="Enregistrer ce parcours" type="submit" class="btn btn-sacado"/>
                        <a href="javascript:history.back()"><input type="button" value="Annuler"
                                                                   class="btn btn-default "/></a>
                    </div>
                </div> 
            </div>   
            <div class="row">
                <div class="col-sm-12 col-md-12">
                {% if parcours %}
 
                        <a href="{% url 'delete_parcours' parcours.id  idg  %}" class="btn btn-danger"  onclick="return TestDelete('ce parcours')"> 
                            <i class="fa fa-trash"> </i>   Supprimer
                        </a>
 
                {% endif %}  
                </div>
            </div>  
        </form>
 
     
    </div>   
</section>   





    <div class="modal fade bd-example-modal-lg" id="help"  tabindex="-1" role="dialog" aria-labelledby="help" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" style="margin:0px!important">
 
            {% if user.user_type == 2 %}
                <div class="modal-content help" >
                    <div class="helpdiv_help_menu_left_bar">                
                        <img src="{% static 'img/fleche_left_up.png' %}" width="40px" />
                        <div class="help_menu_left_bar">
                           <br><i class="fa fa-user"></i> Compte : Déconnexion/Mon profil/Changer mon mot de passe/Clôturer mon compte/Notifications
                           <br><i class="fa fa-tachometer-alt"></i> Tableau de bord : Vers le tableau de bord, cette page
                           <br><i class="fa fa-map"></i> Parcours : Liste de tous mes parcours pour leur configuration.
                           <br><i class="fa fa-inbox"></i>  Messages : Messagerie succinte vers les membres de sacado et mes groupes.
                        </div>
                    </div>

                    <div class="helpdiv_full_width"  style="margin-top:200px">
                        <div class="row" >
                            <div class="col-sm-6 col-md-4  col-lg-3">
                                Titre du parcours.<small><br> Moins de 18 lettres pour une meilleure visualisation du titre</small>
                            </div>
                            <div class="col-sm-6 col-md-2  col-lg-2">
                                Couleur.<br><small> Différencier le parcours</small>
                            </div>
                            <div class="col-sm-3 col-md-1  col-lg-1">
                                Favori ?<br><small> Affiche le parcours sur le tableau de bord</small>
                            </div>
                            <div class="col-sm-6 col-md-4  col-lg-4">
                                Partagé ?<br><small> Partage avec la<br>communuauté</small>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-sm-6 col-md-4  col-lg-3">
                                 <br><br>Proposer le parcours à ses élèves. <br>Cocher tous pour l'attribuer à tous <img src="{% static 'img/fleche_up_right.png' %}" width="40px" style="vertical-align:bottom" /><br>les élèves du groupe.
                            </div>
                            <div class="col-sm-6 col-md-3  col-lg-3">
                                Image. <small>Pour illustrer le parcours<br> Attention aux dimensions. Format : 1,5/1</small>
                            </div>
 
                        </div>
                    </div>
 

  


 

 
                    <div class="helpdiv_help_menu_right_bar">             

 
 
                        <div class="help_menu_left_bar" style="margin-top:280px">
                           Espace Evaluation<br> <small>Evaluation ? ouvre un espace pour écrire le jour, l'heure de l'évaluation. La durée de l'évaluation est automatiquement calculée. L'évaluation ne s'arrête pas à la fin de sa durée. Par contre, les résultats donnent le temps mis par chaque élève pour réaliser cette évaluation.<br>Le temps de chargement correspond au temps de chargement entre deux exercices. Compter 15 secondes entre deux exercices.</small>
                        </div>

                    </div>
 
                        
 
                    <div class="helpdiv_help_title_page"  style="left:500px;">
                        titre de page
                    </div>




                    <div class="helpdiv_help_acces"  style="top:45px;right:50px; padding:10px">
                        Publication du parcours  <img src="{% static 'img/fleche_up_right.png' %}" width="40px" style="vertical-align:bottom" />
                    </div>


 



<!-- 


                    
                    <div class="helpdiv_help_groupe"   style="top:130px;left:160px;width:500px">
                         Nom du groupe obligatoire <span style="margin-left:50px">Niveau obligatoire</span>
                         <br><br><br><br> <span style="margin-left:150px;text-align: right">Suivi parent : cocher oui si vous voulez que les</span>
                         <br> <span style="margin-left:150px;text-align: right">parents de vos élèves accèdent à leurs résultats</span>
                         <br> <span style="margin-left:150px;text-align: right">Ils devront s'inscrire et se lier à leur enfants.</span>
                        
                    </div>
 -->


                </div>
            {% endif %}
        </div>
    </div>








{% endblock %}


      
 
 