{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 
    {% if parcours %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    {% endif %}

    <script>
        require(['script/ajax-parcours']);
    </script> 

    {% block require_complement %}
        {% if not parcours %}
            <script>
                require(['script/ajax-parcours-complement']);
            </script> 
        {% endif %}
    {% endblock %} 

{% endblock %} 


{% block page_title %}

    {% if parcours %}
    <span style="color:{{ parcours.color }}"><i class="fa fa-th"></i> </span> 
    {% endif %}

      {% include 'qcm/breadcrumb.html' %}



    {% if parcours %}
        <small>Configuration</small>   
    {% else %}
         Nouveau parcours 
    {% endif %}

{% endblock %}




{% block page_menu_right %} 
    {% if parcours %}
        {% include 'qcm/submenu_parcours.html' %}
    {% endif %} 
{% endblock %}

 


{% block body %}  
<section class="content_main">
    <div class="col-sm-12 col-md-12">
        <form action="" method="POST" enctype='multipart/form-data'> 
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        {{ form.title.label_tag }} <label> <small>(Inférieur à 18 lettres)</small></label>
                        {{ form.title |add_class:"form-control" }}
                        {{ form.title.errors }}
                    </div>
                </div>
                <div class="col-sm-12  col-md-3  col-lg-2">
                      {{ form.color.label_tag }}      
                                <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                    <div class="helper_tip_text" >La couleur permet une reconnaissance rapide.</div>
                                </span>
                      <div id="color-picker-component" class="input-group colorpicker-component">
                          {{ form.color.as_hidden }}
                          <span class="input-group-addon"><i></i></span>
                      </div>
                </div>
                {% block evaluation_choices %}     
                <div class="col-sm-4  col-md-3  col-lg-2">
                    <div class="form-group">
                        {{ form.is_favorite.label_tag  }} 
                                <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                    <div class="helper_tip_text" >Si coché, le parcours est accessible depuis le.s groupe.s au.x.quel.s il est rattaché. Sinon il n'est accessible que depuis la liste de vos parcours.</div>
                                </span> <br>
                        {{ form.is_favorite |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                        {{ form.is_favorite.errors }}
                        
                    </div>
                </div>
                <div class="col-sm-4  col-md-4  col-lg-2">
                    <div class="form-group">
                        {{ form.is_share.label_tag }}                                 
                                <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                    <div class="helper_tip_text" >Si coché, le parcours est proposé à l'ensemble des collègues de SACADO. Si vous n'avez pas la version établissement, le parcours n'est pas mutualisé par défaut.</div>
                                </span><br>
                        {{ form.is_share |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                        {{ form.is_share.errors }}
                    </div>
                </div>
                {% endblock %}
                <div class="col-sm-4  col-md-4  col-lg-2">
                    <div class="form-group">
                        {{ form.is_publish.label_tag }} <br>
                        {{ form.is_publish |attr:"data-toggle:toggle" |attr:"data-onstyle:success"|attr:"data-offstyle:danger"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                        {{ form.is_publish.errors }}
                    </div>
                </div>   
            </div> 
            <div class="row">
                <div class="col-sm-6 col-md-4   col-lg-3">
                    <div class="form-group list_choice">         
                    <label>Choisir les élèves parmi</label>   <br>  
                        {% for group in groups %}
                        <a data-toggle="collapse" data-target="#demo{{ forloop.counter }}" style="color:{{ group.color}};cursor:pointer">
                            {{ group.name }} <small><i class="fa fa-caret-down"></i></small> </a> 
                            {% if group.students.count > 0 %}<label class="pull-right"><input type="checkbox" value="{{ forloop.counter }}" 
                                                                                                {% if request.session.group_id %}
                                                                                                    {% if  request.session.group_id == group.id %}checked {% endif %}
                                                                                                {% else %}
                                                                                                    {% if group.students.count == students_checked  %}checked {% endif %}
                                                                                                {% endif %}
                                                                                                class="select_all" /><small> tous  </small> </label>{% endif %}<br>

                          <div id="demo{{ forloop.counter }}" class="collapse" >
                                <div class="form-group">
                                    {% for s in group.students.all|dictsort:"user.last_name"  %}

                                        <label>
                                            <input type = "checkbox" 
                                                    class="selector" 
                                                    name="students" 
                                                    value="{{ s.user.id}}"

                                                    {% if parcours %}
                                                     {% get_in_parcours  s parcours  as bool  %}

                                                        {% if group_id %}
                                                            {% if  group_id == group.id  %}checked {% endif %}
                                                        {% else %}
                                                            {% if bool  %}checked {% endif %}
                                                        {% endif %}
                                                    {% endif %} > 
                                                    {{ s.user|title}}
                                        </label><br>
                                    {% endfor %}
                                </div>
                          </div>
                          <div style="height:5px"></div>
                        {% endfor %}
                        {% if share_groups|length > 0 %}<hr><label>Groupes co-animés</label><br>{% endif %}
                        {% for sg in share_groups %}
                        <a data-toggle="collapse" data-target="#demosg{{ forloop.counter }}" style="color:{{ sg.group.color}};cursor:pointer">
                            {{ sg.group.name }} <small><i class="fa fa-caret-down"></i></small> </a> 
                            {% if sg.group.students.count > 0 %}<label class="pull-right"><input type="checkbox" value="{{ forloop.counter }}" 
                                                                                                {% if request.session.group_id %}
                                                                                                    {% if  request.session.group_id == sg.group.id %}checked {% endif %}
                                                                                                {% else %}
                                                                                                    {% if sg.group.students.count == students_checked  %}checked {% endif %}
                                                                                                {% endif %}
                                                                                                class="select_all_sg" /><small> tous  </small> </label>{% endif %}<br>

                          <div id="demosg{{ forloop.counter }}" class="collapse" >
                                <div class="form-group">
                                    {% for s in sg.group.students.all|dictsort:"user.last_name"  %}
                                        <label>
                                            <input type = "checkbox" 
                                                    class="selector" 
                                                    name="students_sg" 
                                                    value="{{ s.user.id}}"

                                                    {% if parcours %}
                                                     {% get_in_parcours  s parcours  as bool  %}

                                                        {% if group_id %}
                                                            {% if  group_id == sg.group.id  %}checked {% endif %}
                                                        {% else %}
                                                            {% if bool  %}checked {% endif %}
                                                        {% endif %}
                                                    {% endif %} > 
                                                    {{ s.user|title}}
                                        </label><br>
                                    {% endfor %}
                                </div>
                          </div>
                          <div style="height:5px"></div>
                        {% endfor %}

                    </div>
                    {% if groups|length > 1 %}
                    <div class="form-group" style="font-size:12px">      
                        <div class="alert alert-danger">      
                            <i class="fa fa-warning"></i> Lorsque plusieurs groupes sont cochés, le parcours est partagé entre ses groupes.
                        </div>
                    </div>
                    {% endif %}

                </div>

                <div class="col-sm-6 col-md-3  col-lg-4">

                        {{ form.vignette.label_tag }}   <span class="helper_tip"> <i class="fa fa-question-circle"></i> <span style="font-size:12px">(facultatif)</span>
                                    <div class="helper_tip_text" >format recommandé: l:450px h:300px <br>La vignette se superpose à la couleur du parcours qui ne sera pas visible selon la taille de l'image. </div>
                                </span> 
                        {{ form.vignette|add_class:"btn btn-default" }} 
                        {{ form.vignette.errors }}
                        
                {% if   parcours %} 
                    <div style="height:20px"></div>
                    <a href="{% url 'peuplate_parcours' parcours.id   %}" class="btn btn-{% if parcours.exercises.all|length > 0 %}default{% else %}danger{% endif %}" ><i class="fa fa-tasks"></i> Sélectionner les exercices</a>   
                {% endif %}   
                </div>

                {% block evaluation %}                 
                <div class="col-sm-12 col-md-5 col-lg-5" id="publication_div"> 
                    <table class="table">
                        <tr>
                            <td><label>Date de publication</label></td>
                            <td>{{ form.start|add_class:"form-control datetimepicker"}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{ form.stop.label_tag }} 
                                    <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                        <div class="helper_tip_text" >Le parcours reste publié mais la soumission des exercices est interdite après la date renseignée. Pour dépublier, utiliser le bouton de publication.</div>
                                    </span>
                            </td>
                            <td>{{ form.stop|add_class:"form-control datetimepicker"}}</td>
                            <td>{{ form.stop.errors}}{% for error in form.non_field_errors %}
                                    <p class="alert alert-danger">{{error}}</p>
                                {% endfor %}</td>
                        </tr>
                    </table>
                </div>
                {% endblock %}                
            </div> 

            {% block save_evaluation %}
            <div class="row" style="margin-top:40px">
                <div class="col-sm-12 col-md-8">
                    <div class="form-group">
                        <input value="Enregistrer ce parcours" type="submit" class="btn btn-primary"/>

                        <input value="Enregistrer ce parcours et choisir les exercices" type="submit" name="save_and_choose" class="btn btn-primary"/>
                        <a href="javascript:history.back()"><input type="button" value="Annuler"
                                                                   class="btn btn-default "/></a>
                    </div>
                </div> 
 
                <div class="col-sm-12 col-md-4">
                {% if parcours %}

                        {% if parcours.is_archive %}
                            <a href="{% url 'unarchive_parcours' parcours.id  idg  %}" class="btn btn-warning"> 
                                <i class="fa fa-th"> </i>   Désarchiver
                            </a>
                        {% else %}
                            <a href="{% url 'archive_parcours' parcours.id  idg  %}" class="btn btn-warning"  onclick="return TestArchive('ce parcours')"> 
                                <i class="fa fa-archive"> </i>   Archiver
                            </a>
                        {% endif %}
                        
                        <a href="{% url 'delete_parcours' parcours.id  idg  %}" class="btn btn-danger"  onclick="return TestDelete('ce parcours')"> 
                            <i class="fa fa-trash"> </i>   Supprimer
                        </a>

 


 
                {% endif %}  
                </div>
            </div>  
            {% endblock %}

        </form>
 
     
    </div>   
</section>   





    <div class="modal fade bd-example-modal-lg" id="help"  tabindex="-1" role="dialog" aria-labelledby="help" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" style="margin:0px!important">
 
            {% if user.user_type == 2 %}
                <div class="modal-content help" >
                    <div class="helpdiv_help_menu_left_bar">                
                        <img src="{% static 'img/fleche_left_up.png' %}" width="40px" />
                        <div class="help_menu_left_bar">
                           <br><i class="fa fa-user"></i> Compte : Déconnexion/Mon profil/Changer mon mot de passe/Clôturer mon compte/Notifications
                           <br><i class="fa fa-tachometer-alt"></i> Tableau de bord : Vers le tableau de bord, cette page
                           <br><i class="fa fa-th"></i> Parcours : Liste de tous mes parcours pour leur configuration.
                           <br><i class="fa fa-inbox"></i>  Messages : Messagerie succinte vers les membres de sacado et mes groupes.
                        </div>
                    </div>

                    <div class="helpdiv_full_width"  style="margin-top:200px">
                        <div class="row" >
                            <div class="col-sm-6 col-md-4  col-lg-3">
                                Titre du parcours.<small><br> Moins de 18 lettres pour une meilleure visualisation du titre</small>
                            </div>
                            <div class="col-sm-6 col-md-2  col-lg-2">
                                Couleur.<br><small> Différencier le parcours</small>
                            </div>
                            <div class="col-sm-3 col-md-1  col-lg-1">
                                Favori ?<br><small> Affiche le parcours sur le tableau de bord</small>
                            </div>
                            <div class="col-sm-6 col-md-4  col-lg-4">
                                Partagé ?<br><small> Partage avec la<br>communuauté</small>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-sm-6 col-md-4  col-lg-3">
                                 <br><br>Proposer le parcours à ses élèves. <br>Cocher tous pour l'attribuer à tous <img src="{% static 'img/fleche_up_right.png' %}" width="40px" style="vertical-align:bottom" /><br>les élèves du groupe.
                            </div>
                            <div class="col-sm-6 col-md-3  col-lg-3">
                                Image. <small>Pour illustrer le parcours<br> Attention aux dimensions. Format : 1,5/1</small>
                            </div>
 
                        </div>
                    </div>
 

  


 

 
                    <div class="helpdiv_help_menu_right_bar">             

 
 
                        <div class="help_menu_left_bar" style="margin-top:280px">
                           Espace Evaluation<br> <small>Evaluation ? ouvre un espace pour écrire le jour, l'heure de l'évaluation. La durée de l'évaluation est automatiquement calculée. L'évaluation ne s'arrête pas à la fin de sa durée. Par contre, les résultats donnent le temps mis par chaque élève pour réaliser cette évaluation.<br>Le temps de chargement correspond au temps de chargement entre deux exercices. Compter 15 secondes entre deux exercices.</small>
                        </div>

                    </div>
 
                        
 
                    <div class="helpdiv_help_title_page"  style="left:500px;">
                        titre de page
                    </div>




                    <div class="helpdiv_help_acces"  style="top:45px;right:50px; padding:10px">
                        Publication du parcours  <img src="{% static 'img/fleche_up_right.png' %}" width="40px" style="vertical-align:bottom" />
                    </div>


 



<!-- 


                    
                    <div class="helpdiv_help_groupe"   style="top:130px;left:160px;width:500px">
                         Nom du groupe obligatoire <span style="margin-left:50px">Niveau obligatoire</span>
                         <br><br><br><br> <span style="margin-left:150px;text-align: right">Suivi parent : cocher oui si vous voulez que les</span>
                         <br> <span style="margin-left:150px;text-align: right">parents de vos élèves accèdent à leurs résultats</span>
                         <br> <span style="margin-left:150px;text-align: right">Ils devront s'inscrire et se lier à leur enfants.</span>
                        
                    </div>
 -->


                </div>
            {% endif %}
        </div>
    </div>








{% endblock %}


      
 
 