{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 
 
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
 

    <script>
        require(['script/ajax-parcours']);
    </script> 

    {% block require_complement %}
        {% if not folder %}
            <script>
                require(['script/ajax-parcours-complement']);
            </script> 
        {% endif %}
    {% endblock %} 

{% endblock %} 


{% block page_title %}
 
    <span style="color:{{ group.color }}"><i class="fa fa-folder"></i> </span> 
 

      {% include 'qcm/breadcrumb.html' %}
 
    <small style="color : #3b9d26">  
    {% if folder %}
        Configuration du dossier
    {% else %}
         Nouveau dossier   
    {% endif %}
    </small>  
{% endblock %}


{% block page_menu_right %}



    {% include 'qcm/submenu_creation_evaluation.html' %}

    {% include 'qcm/submenu_creation_new_parcours.html' %}

    {% include 'qcm/submenu_creation_folder.html' %}

{% endblock %}

 


{% block body %}  
<section class="content_main">

    {% if folder %}
        {% if folder.author != folder.teacher and folder.teacher != request.user.teacher %}
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="alert alert-info">
                    Le dossier est créé par <b>{{ folder.author }}</b> pour {% if folder.teacher.user.civilite == "Mme" %}sa{% else %}son{% endif %} collègue <b>{{ folder.teacher }}</b>
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}

    <form action="" method="POST" enctype='multipart/form-data'> 
    <div class="row">

                <span style="display: none;">{{ form.groups|add_class:"select_all"}}</span>

        <div class="col-sm-12 col-md-4">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-9">
                    <div class="form-group">
                        {{ form.title.label_tag }} <label> <small>(Inférieur à 18 lettres)</small></label>
                        {{ form.title |add_class:"form-control" }}
                        {{ form.title.errors }}
                    </div>
                </div>
                        {{ form.subject.as_hidden}}
                        {{ form.level.as_hidden  }}
                <div class="col-sm-12  col-md-4  col-lg-3">
                      {{ form.color.label_tag }}      
                                <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                    <div class="helper_tip_text" >La couleur permet une reconnaissance rapide.</div>
                                </span>
                      <div id="color-picker-component" class="input-group colorpicker-component">
                          {{ form.color.as_hidden }}
                          <span class="input-group-addon"><i></i></span>
                      </div>
                </div>
            </div> 

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <label><b>Partager ce dossier entre</b></label>
                        {{ form.groups|add_class:"groups_selector"  }}
                </div>
                <div class="col-sm-12 col-md-6" style="overflow-y:auto;height: 350px ">
                    <label><b>Cocher les parcours à insérer </b></label>
                    {% if not form.parcours  %}
                          <div class="alert alert-warning">
                                <small>Aucun parcours n'est créé encore dans ce niveau et cet enseignement</small>
                          </div>
                    {% else  %} 
                            {{ form.parcours|add_class:"subparcours_selector"  }}
                    {% endif  %}
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4" style="position: relative">
            {% if not group %}  
            <div class="row">          
                <div class="col-sm-12 col-md-6" >
                    <div class="form-group">
                        <label> Enseignement :</label><br/>
                        {{ form.subject |add_class:"form-control select2" }}
                        {{ form.subject.errors }}
                    </div>
                </div>    
                <div class="col-sm-12 col-md-6" >
                    <div class="form-group">
                        <label> Niveau :</label><br/>
                        {{ form.level |add_class:"form-control select2" }}
                        {{ form.level.errors }}
                    </div>
                </div> 
            </div> 
            {% endif %}


            {% include 'qcm/insert_vignettes.html' %}

        </div>

        <div class="col-sm-12 col-md-4">                      
            <table class="table borderless">
                    <tr>
                        <td>{{ form.is_publish.label_tag }}
                            <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                <div class="helper_tip_text" >Visible par les élèves.</div>
                            </span>
                        </td>
                        <td>{{ form.is_publish |attr:"data-toggle:toggle" |attr:"data-onstyle:success"|attr:"data-offstyle:danger"|attr:"data-on:Oui"|attr:"data-off:Non"}} </td>
                        <td>{{ form.is_publish.errors }}</td>
                    </tr>

                    <tr class="publication_div">
                        <td><label>Date de publication</label> 
                            <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                <div class="helper_tip_text" >Date à partir de laquelle le dossier est publié.<br/>
                                <span class="text-danger">Pour modifier la date, vider le champ.</span>
                                </div>
                            </span>
                        </td>
                        <td>{{ form.start|add_class:"form-control datetimepicker"}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{ form.is_favorite.label_tag }} <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                <div class="helper_tip_text" >Accessible depuis son tableau de bord.</div>
                            </span></td>
                        <td>{{ form.is_favorite |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
                        <td>{{ form.is_favorite.errors }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.is_share.label_tag }}<span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                                                <div class="helper_tip_text" >Mutualisation à l'ensemble des collègues de son établissement (si version établissement)</div>
                        </td>
                        <td>{{ form.is_share |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
                        <td>{{ form.is_share.errors }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.stop.label_tag }} 
                            <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                <div class="helper_tip_text" >Le dossier n'est pus publié à partir de cette date. 
                                    <br/> 
                                    <span class="text-danger">Pour modifier la date, vider le champ.</span>
                                </div>
                            </span>
                        </td>
                        <td>{{ form.stop|add_class:"form-control datetimepicker"}}</td>
                        <td>{{ form.stop.errors}}{% for error in form.non_field_errors %}
                                <p class="alert alert-danger">{{error}}</p>
                            {% endfor %}</td>
                    </tr>  
            </table>
        </div>
    </div>



    <div class="row" style="margin-top:40px">
        <div class="col-sm-12 col-md-8">
            <div class="form-group">
 
                <input value="Enregistrer" type="submit"  class="btn btn-primary" onclick="return check_if_checked()" />
 
                <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default"/></a>
            </div>
        </div> 

        <div class="col-sm-12 col-md-4">
        {% if folder  %}
                {% if folder.is_archive %}
                    <a href="{% url 'folder_unarchive' folder.id   %}" class="btn btn-warning"> 
                        <i class="fa fa-th"> </i>   Désarchiver
                    </a>
                {% else %}
                    <a href="{% url 'folder_archive' folder.id  %}" class="btn btn-warning"  onclick="return TestArchive('ce dossier')"> 
                        <i class="fa fa-archive"> </i>   Archiver
                    </a>
                {% endif %}

                {% if group %}
                    <a href="{% url 'delete_folder' folder.id  group.id %}" class="btn btn-danger"  onclick="return TestDeleteFolder('ce dossier')"> 
                        <i class="fa fa-trash"> </i>   Supprimer
                    </a>
 
                {% else %}
                    <a href="{% url 'delete_folder' folder.id  0 %}" class="btn btn-danger"  onclick="return TestDeleteFolder('ce dossier')"> 
                        <i class="fa fa-trash"> </i>   Supprimer
                    </a>
                {% endif %}  


        {% endif %}  

        </div>
    </div>  
 
    </form> 

</section>   





{% endblock %}


      
 
 