{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 
    {% if parcours %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    {% endif %}

    <script>
        require(['script/ajax-parcours']);
    </script> 

{% endblock %} 


 
   
{% block page_title %}
    <i class="fa fa-cogs" style="color:{{ group.color }}"></i> <span style="color:{{ group.color }}"> Publication des exercices pour {{ group }}</span> 
{% endblock %}

{% block page_menu_right %}
 
    <li> <a href="{% url 'index' %}"    class="no_button" />Mes groupes</a></li>


    <li>
        <span class="btn btn-{% if not parcours.is_publish %}danger{% else  %}success{% endif  %}" style="cursor:none">  {% if parcours.is_publish %} Parcours publié  {% else %} Parcours dépublié {% endif  %}</span> 
    </li>
{% endblock %}
 
{% block body %}         
<div class="col-xs-12 col-md-12" >
    <div class="content_main"> 
        <form action="#" method="POST" enctype='multipart/form-data'> 
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <table class="table  table-hover" style="width:100%">
                        <thead>
                            <tr><td></td><td></td><td></td></tr>
                        </thead>
                        <tbody>
                            {% for theme in data  %} 
                                <tr style="background:{{parcours.color}}; color:#eee">
                                    <td></td><td> {{theme.name}} </td> <td></td>
                                </tr>
                                {% for knowledge in theme.knowledges  %}   
                                    {% if knowledge.exercises %} 
                                            <tr style="background:#F1F1F1"><td></td>
                                                <td class="listingtd">
                                                    {{ knowledge.name.name|capfirst }} 
                                                    {% if request.user.is_superuser and '/admin' in request.path %}
                                                        <a href="{% url 'create_exercise_knowledge' knowledge.name.id %}" class="pull-right edit"><i class='fa fa-plus' style="margin-left:10px;font-size: 10px"></i></a>
                                                    {% endif %}
                                                </td><td></td>
                                            </tr>
                                            {% for e in knowledge.exercises  %}
                                                {%  get_is_selected  e  parcours  as  e_is_selected %} 
                                                <tr>
                                                    <td>
                                                        <!-- Selection des exercices -->
 
                                                        <label class="container_checkbox">
                                                        <input type="checkbox"  data-exercise_id="{{ e.id }}" data-parcours_id="{{ parcours.id }}"
                                                                name="exercises" id="selector_e{{ e.id }}"  data-statut="{{ e_is_selected }}"
                                                                {% if e_is_selected %}checked{% endif  %} 
                                                                class="selector_e" /><span class="checkmark"></span>
                                                        </label>

                                                        <!-- Selection des exercices -->
                                                    </td>
                                                    <td>
                                                        <label for="selector_e{{ e.id }}" class="label_select_checkbox">  
                                                        {% if user.is_superuser and '/admin' in request.path %}
                                                            <a href="{% url 'show_this_exercise'  e.id   %}"   >  
                                                                <img src="{% static 'uploads/' %}{{ e.supportfile.imagefile }}" class="imagefile">
                                                            </a>


                                                            <a href="{% url 'update_supportfile'  e.supportfile.id   %}" class="listing" style="font-size: 18px">
                                                                {{ e.supportfile.annoncement|cleanhtml|capfirst }} 
                                                            </a> 

                                                        {%  else %}
                                                            <a href="{% url 'show_this_exercise'  e.id   %}" >
                                                            <img src="{% static 'uploads/' %}{{ e.supportfile.imagefile }}" class="imagefile">
                                                            </a> 
                                                          
                                                                {{ e.supportfile.annoncement|cleanhtml|capfirst }} 
                                                           
                                                        {% endif %}
                                                         {% if e.calculator %}
                                                          <img src="{% static 'img/calculator.png' %}" width="30px" />
                                                        {% else %}
                                                          <img src="{% static 'img/no_calculator.png' %}"  width="30px" />
                                                        {% endif  %}   
                                                             <br>
                                                                 <small>   
                                                                    <i class="fa fa-barcode"></i> {{ e.supportfile.code }}  {% if e.supportfile.annoncement|make_list|length < 120 %}<br>{% endif %} 
                                                                    <i class="fa fa-clock-o"></i> {{ e.supportfile.duration }} minutes {% if e.supportfile.annoncement|make_list|length < 120 %}<br>{% endif %}
                                                                    <i class="fa fa-save"></i> {{ e.supportfile.situation}} situation{{ e.supportfile.situation|pluralize}} minimum
                                                                </small>
                                                        </label>
                                                    
                                                    </td>
                                                    <td>
                                                        {% for r in e.exercise_remediation.all %}
                                                            <a href="../../{{ r.mediation }}" target="_blank">
                                                                {% if r.mstyle %} 
                                                                    <img src="{% static 'img/ggb.png' %}" width="20px" />
                                                                {% else %}
                                                                    <img src="{% static 'img/pdf.png' %}" width="20px" />
                                                                {% endif %}
                                                             </a>
                                                        {% endfor %}
                                                        {% if request.user.is_superuser  and '/admin' in request.path %}
                                                            <a href="{% url 'create_remediation'  e.id   %}" class="pull-right edit" style="margin-left:5px; font-size: 10px"> 
                                                                <i class="fa fa-plus thin"></i>   
                                                            </a> 
                                                        {% endif %}                                                          
                                                    </td>
                                                </tr>
                                            {% endfor %} 
                                    {% else %} 
                                            <tr><td></td> 
                                                <td>
                                                    {{ knowledge.name }} 
                                                    {% if request.user.is_superuser and '/admin' in request.path %}
                                                    <a href="{% url 'create_exercise_knowledge' knowledge.name.id %}" class="edit"><i class='fa fa-plus pull-right' style="font-size: 10px"></i></a>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                    {% endif %}                                            
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

     
     
            <div class="row">
     

     

                <div class="col-sm-12 col-md-8">
                    <div class="form-group">
                        <a href="javascript:history.back()"><input type="button" value="Annuler"
                                                                   class="btn btn-subsacado "/></a>
                    </div>
                </div>



     
     

            </div>   
        </form>
     
    </div>    
</div> 


<div class="modal fade bd-example-modal-lg" id="help"  tabindex="-1" role="dialog" aria-labelledby="help" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="margin:0px!important">

        {% if user.user_type == 2 %}
            <div class="modal-content help" >
 


                <div class="helpdiv_help_title_page"  style="margin-top:130px;left:175px">
                    <img src="{% static 'img/fleche_bottom_left.png' %}" width="40px" />

                    <div class="help_groupe" style="float:left" >
                        Cocher/décocher pour placer un exercice dans le parcours. Enregistrement automatique.
                    </div>

                </div>

                <div class="helpdiv_help_acces" style="margin-top:50px">
                    Indicateur de publication du parcours<img src="{% static 'img/fleche_up_right.png' %}" width="40px" style="vertical-align: bottom" />
                </div>


                <div class="helpdiv_help_acces" style="margin-top:40px;right:140px;border-top: 2px #FFF solid">
                    Menu contextuel
                </div>



                <div class="helpdiv_help_title_page"  style="margin-top:200px;left:500px">

                    <div class="help_groupe" style="float:left" >
                       Code de l'exercice<br>Durée estimée<br>Nombre de situations requises pour l'enregistrement du score.
                    </div>

                </div>


                <div class="helpdiv_help_menu_right_bar" style="margin-top:100px">            

                    <br><br> <br><br> <img src="{% static 'img/fleche_bottom_left.png' %}" width="40px" />
                    <div class="help_groupe" style="float:left" >
 
                            <h2>Liste des exercices</h2> 
                            Au chargement de la page, la liste des exercices déjà dans le parcours est montrée.<br><br> 
                            Après la sélection des niveaux et thèmes, la liste des exercices souhaitée apparait.<br><i class="fa fa-warning"></i> Seuls les savoir faire du niveau du groupe seront évalués.
                            <br><br>
                            Passer la souris sur une vignette pour l'agrandir.

 
                    </div>

                </div>
 
                    

            </div>
        {% endif %}
    </div>
</div>

 {% endblock %}

 
 
 
       
 
 