{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3_withoutMathJax.js' %}"></script>
    <script>
        // require(['script/ajax-exercise','script/ajax-exercise_form']);
        require(['script/ajax-support_creator']);
    </script>     
    {% if   supportfile %}
        {% if supportfile.qtype == 7 or  supportfile.qtype == 9 %}
        <script>
            require(['script/add-ckeditor_update_customexercise']);
        </script> 
        {% endif %}
    {% else %}
        <script>
            require(['script/ajax-support_creator_create']);
        </script> 
    {% endif %}
{% endblock %}

{% block page_title %}
<div id="new_style"><i class="bi bi-explicit-fill sacado_color_text"></i> 
    <small> 
    {% if supportfile %}  
        {{ supportfile.qtype_title }} <img src="{% static 'img/angle-right.png' %}" width="25px"/> <b>{{ qt.title}}</b>
    {% else %} 
        Création d'exercice  <img src="{% static 'img/angle-right.png' %}" width="25px"/> <b>{{ qt.title}}</b>
    {% endif %}
    {% if knowledge  %}
        {{ knowledge.level.shortname }}, {{ knowledge.theme.name }},  {{ knowledge.name|truncatechars:"80" }}
    {% endif %}     
    </small>  
</div>
{% endblock %}


{% block page_menu_right %}

    {% for qt in qtypes %}

    <div class="col-xs-2 col-sm-1 col-md-1" align='center' style="margin-bottom:5px"> 
        <a href="{% url 'create_supportfile' qt.id 0  %}">
            <div style="font-size:{% if qt.id == 1 %}0.25{% elif qt.id == 3 or qt.id  == 4 or qt.id  == 5 %}0.2{% else %}0.3{% endif %}em" 
                 class="qtypes_logo {% if qt.id == 19 or qt.id == 20  %}qtypes_choice_square{% endif %} {% if qt.id ==  qtype  %}qtypes_logo_active{% endif %}" title="{{ qt.title}} {% if qt.id == 19 or qt.id == 20  %}à correction manuelle sur l'interface SACADO{% else %}auto-correctif{% endif %} "   >
                {% if qt.imagefile %}<img src="{{ qt.imagefile.url }}" width="20px" /> {% else %}{{ qt.html|safe }}{% endif %}
            </div>
        </a>               
    </div>
    {% endfor %}


{% endblock %}



{% block body %}

<div class="content_main">

    <div class="col-xs-12 col-md-12">
        <form action="" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="row" id="standard_layer">
                {% if knowledge and not supportfile %}
                    <input value="{{ knowledge.level.id }}" name="level" id="id_level" type="hidden" />
                    <input value="{{ knowledge.theme.id }}" name="theme" id="id_theme" type="hidden" />
                    <input value="{{ knowledge.id }}" name="knowledge" id="id_knowledge" type="hidden" />
                    <div class="form_card">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <label>Compétences ciblées : </label>
                                {{ form.skills |add_class:"form-control select2" }}
                                {{ form.skills.errors }}
                            </div>
                        </div>
                    </div>
                {% else %} 


                <div class="form_card">
                    <div class="row">
                        <div class="col-sm-12 col-md-4  col-lg-3">
                            <label>Enseignement :</label>
                            <select id="id_subject" name="subject" class="form-control select2"> 
                                <option value="">---------</option>
                                {% for s in subjects %}
                                <option value="{{ s.id }}" {% if supportfile.knowledge.theme.subject.id == s.id  %}selected{% endif %}>{{ s.name }}</option>
                                {% endfor %}
                            </select>
                        </div>   
                        <div class="col-sm-12 col-md-4  col-lg-5">
                                {{ form.theme.label_tag }}
                                {{ form.theme |add_class:"form-control select2 knowledge_skills" }}
                                {{ form.theme.errors }}
                        </div>
                        <div class="col-sm-12 col-md-4  col-lg-4">
                            <label>Compétences ciblées : </label>
                            {{ form.skills |add_class:"form-control select2" }}
                            {{ form.skills.errors }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4  col-lg-3">
                            <div class="form-group">
                                <label>Niveau :</label>
                                {{ form.level |add_class:"form-control select2 knowledge_skills" }}
                                {{ form.level.errors }}
                            </div>
                        </div>    
                        <div class="col-sm-12 col-md-8 col-lg-9">
                            <div class="form-group">
                                <label>Savoir faire :</label><br>
                                {{ form.knowledge |add_class:"form-control select2 knowledge_skills" }}
                                {{ form.knowledge.errors }}
                            </div>
                        </div>
                    </div>
                </div>

                {% endif %}  
  

                {% block body_qtype %}
    
                {% endblock %}




                <div class="row">
                    <div class="col-sm-4 col-md-2" >
                        <div class="form-group">
                            <input value="Enregistrer" type="submit" class="btn btn-primary" id="click_button" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <div class="form-group">
                            <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default "/></a>
                        </div>
                    </div>
                    {% if supportfile %}
                    <div class="col-sm-4 col-md-3">
                        <div class="form-group">
                            {% if supportfile.all_parcourses.count  %}            
                                <a href="#" class="btn btn-info" disabled > 
                                    Suppression impossible. Exercice utilisé dans un parcours.
                                </a>
                            {% else %}                                         
                                <a href="{% url 'delete_supportfile' supportfile.id   %}" class="btn btn-danger" onclick="return TestDelete('cet exercice')" > 
                                    <i class="fa fa-trash"> </i>   Supprimer
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}                    
                </div>   
            </div>
        </form>
    </div>
    {% endblock %}

</div>

