{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 
    {% if parcours %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    {% endif %}

    <script>
        require(['script/ajax-parcours']);
    </script> 

    {% block require_complement %}
        {% if not parcours %}
            <script>
                require(['script/ajax-parcours-complement']);
 
            </script> 
        {% endif %}
    {% endblock %} 

{% endblock %} 


{% block page_title %}

      {% include 'qcm/breadcrumb.html' %}

    <small>  
        {% if parcours %}
            Configuration 
        {% else %}
             Nouveau parcours 
        {% endif %}
    </small>  
{% endblock %}




{% block page_menu_right %} 
    {% if parcours %}
        {% include 'qcm/submenu_parcours.html' %}
    {% endif %} 
{% endblock %}

 


{% block body %}  
<section class="content_main">
    <form action="" method="POST" enctype='multipart/form-data'>
    <div class="row">
        <div class="col-sm-12 col-md-8">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-4">
                    <div class="form-group">
                        {{ form.title.label_tag }} <label> <small>(Inférieur à 18 lettres)</small></label>
                        {{ form.title |add_class:"form-control" }}
                        {{ form.title.errors }}
                    </div>
                </div>


                <div class="col-sm-12 col-md-3 col-lg-2">
                    <div class="form-group">
                        {% if parcours %}
                        <label>  Code unique : </label><br/>
                            <b>{{ parcours.code }}</b>
                        {% endif %}
 
                    </div>
                </div>

                <div class="col-sm-12  col-md-3  col-lg-2">
                      {{ form.color.label_tag }}      
                                <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                    <div class="helper_tip_text" >La couleur permet une reconnaissance rapide.</div>
                                </span>
                      <div id="color-picker-component" class="input-group colorpicker-component">
                          {{ form.color.as_hidden }}
                          <span class="input-group-addon"><i></i></span>
                      </div>
                </div>


                <div class="col-sm-12  col-md-3  col-lg-4">
                    <div class="form-group">
                        <label>Enseignement <span class="helper_tip"> <i class="fa fa-question-circle"></i> 
                                    <div class="helper_tip_text" >Renseigner la matière  liée à ce parcours. Il vous sera cependant possible de choisir des exercices d'une autre matière. Par exemple, un enseignant de SPC doit renseigner ici SPC et pourra choisir des exercices de Maths plus tard dans ce parcours de SPC. </div>
                                </span> :
                        </label>
                        {{ form.subject |add_class:"form-control select2"|attr:"required" }}
                        {{ form.subject.errors }}
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-sm-6 col-md-6   col-lg-6">
                    <div class="form-group list_choice">         
                    <label>Choisir les élèves parmi</label>   <br>  
                        {% for group in groups %}
                            {% if group.students.count > 0 %}
                                <a data-toggle="collapse" data-target="#demo{{ group.id }}" style="color:{{ group.color}};cursor:pointer">
                                    {{ group.name|truncatechars:15 }} <small><i class="fa fa-caret-down"></i></small> 
                                </a> 
                                <label class="pull-right">
                                    <input type="checkbox" value="{{ group.id }}" name="groups"
                                        {% if request.session.group_id %}
                                            {% if  request.session.group_id == group.id %}checked {% endif %}
                                        {% else %}
                                            {% if group.students.count == students_checked  %}checked {% endif %}
                                        {% endif %}
                                        class="select_all" /><small> tous  </small> 
                                </label>
                            {% else %}
                                <span style="color:{{ group.color}}">
                                   <small><i class="fa fa-caret-right"></i></small>  {{ group.name|truncatechars:15 }} 
                                </span> 
                                <small style="color:#cb2131">Groupe sans élève. Ce parcours ne lui sera pas affecté.</small>
                            {% endif %}<br>

                          <div id="demo{{ group.id }}" class="collapse" >
                                <div class="form-group">
                                    {% for s in group.students.all|dictsort:"user.last_name"  %}

                                        <label>
                                            <input type = "checkbox" 
                                                    class="selector check_if_check" 
                                                    name="students" 
                                                    value="{{ s.user.id}}"

                                                    {% if parcours %}
                                                     {% get_in_parcours  s parcours  as bool  %}

                                                        {% if group_id %}
                                                            {% if  group_id == group.id  %}checked {% endif %}
                                                        {% else %}
                                                            {% if bool  %}checked {% endif %}
                                                        {% endif %}
                                                    {% endif %} > 
                                                    {{ s.user|title}}
                                        </label><br>
                                    {% endfor %}
                                </div>
                          </div>
                          <div style="height:5px"></div>
                        {% endfor %}
                        {% if share_groups|length > 0 %}<hr><label>Groupes co-animés</label><br>{% endif %}
                        {% for sg in share_groups %}
                        <a data-toggle="collapse" data-target="#demosg{{ sg.group.id }}" style="color:{{ sg.group.color}};cursor:pointer">
                            {{ sg.group.name }} <small><i class="fa fa-caret-down"></i></small> </a> 
                            {% if sg.group.students.count > 0 %}<label class="pull-right"><input type="checkbox" value="{{ sg.group.id }}" name="groups"
                                                                                                {% if request.session.group_id %}
                                                                                                    {% if  request.session.group_id == sg.group.id %}checked {% endif %}
                                                                                                {% else %}
                                                                                                    {% if sg.group.students.count == students_checked  %}checked {% endif %}
                                                                                                {% endif %}
                                                                                                class="select_all_sg" /><small> tous  </small> </label>{% endif %}<br>

                          <div id="demosg{{ sg.group.id }}" class="collapse" >
                                <div class="form-group">
                                    {% for s in sg.group.students.all|dictsort:"user.last_name"  %}
                                        <label>
                                            <input type = "checkbox" 
                                                    class="selector check_if_check" 
                                                    name="students_sg" 
                                                    value="{{ s.user.id}}"

                                                    {% if parcours %}
                                                     {% get_in_parcours  s parcours  as bool  %}

                                                        {% if group_id %}
                                                            {% if  group_id == sg.group.id  %}checked {% endif %}
                                                        {% else %}
                                                            {% if bool  %}checked {% endif %}
                                                        {% endif %}
                                                    {% endif %} > 
                                                    {{ s.user|title}}
                                        </label><br>
                                    {% endfor %}
                                </div>
                          </div>
                          <div style="height:5px"></div>
                        {% endfor %}
                    </div>





                    {% if groups|length > 1 %}
                    <div class="form-group" style="font-size:12px">           
                        <i class="fa fa-warning"></i> Lorsque plusieurs groupes sont cochés, le parcours est partagé entre ces groupes.
                    </div>
                    {% endif %}
                </div>
                <div class="col-sm-6 col-md-6  col-lg-6">
                    
                    <div class="form-group">
                        <label>Niveau d'enseignement :</label>  
                        {{ form.level|add_class:"form-control select2"|attr:"required"}}
                        {{ form.level.errors }}
                    </div>

                    <div class="form-group">
                        {% if sacado_asso %}
                            {% if group %}
                         
                                {% if teacher.user.id != group.teacher.user.id %}
                                <div class="alert alert-danger">                                   
                                    <small>Le propriétaire de ce groupe est <b>{{ group.teacher }}</b>. Vous devriez le sélectionner pour qu'il voit ce parcours dans son tableau de bord.</small>
                                    <label>Parcours co animé avec <span style="font-size:12px">(facultatif)</span></label>
                                    {{ form.coteachers|add_class:"form-control select2"}}
                                    {{ form.coteachers.errors }}
                                </div>                                    
                                {% endif %}

                            {% else %}
                                <label>Parcours co animé avec : <span style="font-size:12px">(facultatif)</span></label>
                                {{ form.coteachers|add_class:"form-control select2"}}
                                {{ form.coteachers.errors }}
                            {% endif %}
                        {% else %}
                            <label>Parcours co animé avec <span style="font-size:12px">(facultatif)</span></label><br>
                            <div class="alert alert-danger"><small>Co-animation uniquement avec la version établissement.</small></div>
                        {% endif %}
                    </div>

 


                    {% include 'qcm/insert_vignettes.html' %}

 




                    {% if not parcours.is_folder %} 
                    <div class="form-group"> 
                        {% if  parcours %} 
                            <div style="height:20px"></div>
                            <a href="{% url 'peuplate_parcours' parcours.id   %}" class="btn btn-{% if parcours.exercises.all|length > 0 %}default{% else %}danger{% endif %}" ><i class="fa fa-tasks"></i> Sélectionner les exercices</a>   
                        {% endif %}   
                    </div>
                    {% endif %}  
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">                      
            <table class="table">
                    <tr>
                        <td>{{ form.is_publish.label_tag }} <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                <div class="helper_tip_text" >Si Non, les élèves ne l'ont pas dans leur tableau de bord et donc ne le voient pas.</div>
                            </span></td>
                        <td>{{ form.is_publish |attr:"data-toggle:toggle" |attr:"data-onstyle:success"|attr:"data-offstyle:danger"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
                        <td>{{ form.is_publish.errors }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.is_favorite.label_tag }} <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                <div class="helper_tip_text" >Si Oui, l'évaluation est accessible depuis le.s groupe.s au.x.quel.s elle est rattachée. Sinon elle n'est accessible que depuis la liste de vos évaluations.</div>
                            </span></td>
                        <td>{{ form.is_favorite |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
                        <td>{{ form.is_favorite.errors }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.is_share.label_tag }}<span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                <div class="helper_tip_text" >Si Oui, l'évaluation est proposée à l'ensemble des collègues de SACADO. Si vous n'avez pas la version établissement, l'évaluation n'est pas mutualisée par défaut.</div></td>
                        <td>{{ form.is_share |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
                        <td>{{ form.is_share.errors }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.zoom.label_tag }}<span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                <div class="helper_tip_text" >Si Oui, une loupe propose d'agrandir la vignette.</div></td>
                        <td>{{ form.zoom |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
                        <td>{{ form.zoom.errors }}</td>
                    </tr>
                    {% block evaluation %}
                    <tr class="publication_div">
                        <td><label>Date de publication :</label>  
                            <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                    <div class="helper_tip_text" >
                                        Pour modifier la date, supprimer entièrement la date pour obtenir le calendrier actuel. Sinon avec le format anglais natif, vous risquez des soucis de calendrier.
                                    </div>
                            </span>
                        </td>
                        <td>{{ form.start|add_class:"form-control datetimepicker"}}</td>
                        <td></td>
                    </tr>
                    <tr class="publication_div">
                        <td>{{ form.stop.label_tag }} 
                                <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                    <div class="helper_tip_text" >
                                        <small>Le parcours reste publié mais la soumission des exercices est interdite après la date renseignée. Pour dépublier, utiliser le bouton de publication.<br/>
                                        Pour modifier la date, supprimer entièrement la date pour obtenir le calendrier actuel. Sinon avec le format anglais natif, vous risquez des soucis de calendrier.</small>
                                    </div>
                                </span>
                        </td>
                        <td>{{ form.stop|add_class:"form-control datetimepicker"}}</td>
                        <td>{{ form.stop.errors}}{% for error in form.non_field_errors %}
                                <p class="alert alert-danger">{{error}}</p>
                            {% endfor %}</td>
                    </tr>
                    {% endblock %}

                    <!-- affiche la possibilité de mettre le parcours dans un dossier si le parcours est créé hors du dossier -->
                    {% if idp == 0 or parcours %}
                     <tr id="folder_parcours">
                        <td><label>Transformer ce parcours en dossier ?</label></td>
                        <td>{{ form.is_folder|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
                        <td>{{ form.is_folder.errors }}</td>
                    </tr>


                    <tr>
                        <td>{{ form.is_leaf.label_tag }}<span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                <div class="helper_tip_text" >Si Oui, le parcours est inclus dans un dossier.</div></td>
                        <td>{{ form.is_leaf |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
                        <td>{{ form.is_leaf.errors }}</td>
                    </tr>
 
                     <tr id="folder_parcours">
                        <td><label>Dossier cible</label><span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                <div class="helper_tip_text" >Dossier dans lequel le parcours doit être inclus.</div></td>
                        <td>{{ form.folder_parcours|add_class:"form-control select2" }}</td>
                        <td>{{ form.folder_parcours.errors }}</td>
                    </tr>

                    {% endif %}





                    {% block evaluation_choices %}     
 

                    <tr>
                        <td>{{ form.is_achievement.label_tag }}<span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                <div class="helper_tip_text" >Permet aux élèves de regarder l'avancement (en %) de leurs camarades sur le parcours.</div></td>
                        <td>{{ form.is_achievement |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
                        <td>{{ form.is_achievement.errors }}</td>
                    </tr> 
                    {% endblock %}
            </table>
        </div>
    </div>


    {% block save_evaluation %}
    <div class="row" style="margin-top:40px">
        <div class="col-sm-12 col-md-7">
            <div class="form-group">
                <input value="Enregistrer ce parcours" type="submit" class="btn btn-primary" onclick="return check_if_checked()" />

                <input value="Enregistrer ce parcours et choisir les exercices" type="submit" name="save_and_choose" class="btn btn-primary" onclick="return check_if_checked();"/>
                <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default "/></a>
 
 
            </div>
        </div> 

        <div class="col-sm-12 col-md-5">
        {% if parcours %}
                
                <a href="{% url 'clone_parcours' parcours.id  1 %}" class="btn btn-info"  onclick="return TestDuplicate('ce parcours')"> 
                    <i class="fa fa-clone"> </i>   Dupliquer
                </a>
 
                {% if parcours.is_archive %}
                    <a href="{% url 'unarchive_parcours' parcours.id  idg  %}" class="btn btn-warning"> 
                        <i class="fa fa-th"> </i>   Désarchiver
                    </a>
                {% else %}
                    <a href="{% url 'archive_parcours' parcours.id  idg  %}" class="btn btn-warning"  onclick="return TestArchive('ce parcours')"> 
                        <i class="fa fa-archive"> </i>   Archiver
                    </a>
                {% endif %}
                <a href="{% url 'delete_parcours' parcours.id  idg  %}" class="btn btn-danger"  onclick="return TestDelete('ce parcours')"> 
                    <i class="fa fa-trash"> </i>   Supprimer
                </a>
    
        {% endif %}  
        </div>
    </div>  
    {% endblock %}
    </form>      
</section>   





{% endblock %}


      
 
 