{% load static %}
{% load widget_tweaks %}         
 
{% for section in sections %}
<div class="book_main_page_section"  id="book_main_page_section{{ section.id }}" data-over_section_id="{{ section.id }}" style="border-color: {{ section.color}}" >
    <div class="book_main_page_section_title" id="book_main_page_section_title{{ section.id }}" style="background-color: {{ section.color}}">
        <i class="fa fa-sort this_sorter_handle"></i> <span id="section_title{{ section.id }}">{{ section.title }}</span>   

        <a href="javascript:void(0);" class="publish_section white" title="Visible en projection" data-section_id="{{ section.id }}">{% if section.is_publish %}<i class="bi bi-eye"></i>{% else %}<i class="bi bi-eye-slash"></i>{% endif %}</a>                

        <a href="javascript:void(0);" data-toggle='modal' data-target='#update_section' class="section_up_and_del white" title="Modifier" data-section_id = "{{ section.id }}"><i class="bi bi-pen"></i></a>
        
        <a href="javascript:void(0);" class="delete_section white" title="Supprimer" data-section_id="{{ section.id }}"><i class="bi bi-trash"></i></a>
    </div> 
    <div class="book_main_page_body {% if not section.is_publish %}opacity_color{% endif %}" id="book_main_page_body{{ section.id }}" data-over_section_id="{{ section.id }}">
        {% for document in section.documents.all|dictsort:'ranking' %}
            <div class="book_main_page_section_document_detail" id="this_document{{ document.id }}" data-document_id="{{ document.id }}"  data-section_id="{{ section.id }}" >
                <i class="bi bi-arrows-move book_main_page_section_document_move"></i>

                

                {% if document.doctype ==  0 %}
                <a href="javascript:void();" data-toggle='modal' class="show_this_document" data-target='#show_this_document' title="Voir : {{document.title}}" data-document_id="{{ document.id }}" >
                     {{ document.icon_doctype.icon|safe}}
                </a>

                {% elif document.doctype == 5 %}

                <a href="#" data-toggle='modal' class="show_this_document" data-target='#show_this_document' title="Voir  {{document.title}}" data-document_id="{{ document.id }}"  data-this_type='{{ document.doctype }}'>
                    {{ document.title|truncatechars:30|safe  }}
                </a>

                {% elif document.doctype ==  10 and  document.icon_doctype.file %}
                <a href="{% url document.icon_doctype.file document.icon_doctype.support_id %}" target="_blank" >
                     {{ document.icon_doctype.icon|safe}}<br/>
                     {{ document.title|truncatechars:30|safe}}
                </a>
                {% else %}
                <a href="{% url document.icon_doctype.url document.icon_doctype.support_id %}" target="_blank" >
                     {{ document.icon_doctype.icon|safe}}<br/>
                     {{ document.title|truncatechars:30|safe}}
                </a> 


                {% endif %} 
                <br/> 
                <span id="span_this_document_is_done{{ document.id }}">{% if document.is_done %}<i class="fa fa-check this_document_is_done"></i>{% endif %}</span>
                <small>
                    <a href="javascript:void(0);" class="book_main_page_section_document_eraser" title="Supprimer {{document.title}}" data-document_id="{{ document.id }}" onclick="return TestDelete('{{document.title}}')"><i class="bi bi-trash text-danger"></i></a>
                </small>
            </div>
        {% endfor %}
    </div> 

        <a href="javascript:void(0);" data-toggle='modal' data-target='#chapter_new_document' class="selector_book_section_document" title="Ajouter" data-chapter_id="{{ chapter.id }}" data-section_title="{{  section.title }}" data-section_id="{{  section.id }}"><i class="bi bi-file-plus-fill book_main_page_section_document_section"></i></a>        
    <div style="clear:both"></div>
</div>
{% endfor %}


<div class="row" align="center">
    <div class="col-sm-12 col-md-12">
         <a href="javascript:void();" data-toggle='modal' data-target='#chapter_new_section' class="btn btn-primary get_this_chapter_inside_modal" title="Ajouter" data-chapter_id="{{ chapter.id }}"><i class="bi bi-plus-circle-dotted"></i> Nouvelle section</a>
    </div>
</div>