{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


<div class="row">
    <div class="col-xs-6 col-md-4 col-lg-3">


        Sommaire des parcours<a href="#" data-toggle='modal' data-target='#book_add_new_chapter' id="new_chapter_button" class="btn btn-xs btn-sacado pull-right"><i class="bi bi-plus-circle"></i></a>
        <hr/>
        <div id="droppable_sommary">    
        {% for ch in chapters %}
            <li class="book_chapters_in_menu sorter_chapter {% if ch.id == organiser %}book_chapters_in_menu_selected{% endif %}" data-chapter_id='{{ ch.id }}' id='chapter{{ ch.id }}'>
                <span class="book_chapter_number">{{ forloop.counter}}.</span> 
                <a href="javascript:void(0);" class="get_inside_chapter_div  {% if ch.id == organiser %}color_white{% endif %}" id="this_parcours_title{{ch.id}}" data-book_id='{{ book.id}}' data-chapter_id='{{ ch.id }}'>
                {{ ch.title|truncatechars:28|lower|capfirst }}
                </a>
                <a href="javascript:void(0);" class="ajax_delete_chapter this_menu_tabs pull-right" data-book='{{ book.id }}' data-chapter_id='{{ ch.id }}' data-title="{{ ch.title }}"
                    title="Supprimer le chapitre"><i class="bi bi-trash"></i></a>

                <a href="{% url 'duplicate_parcours_organiser' ch.id  %}" class="this_menu_tabs pull-right" title="Dupliquer le chapitre (utile pour découper le chapitre en parties)"><i class="bi bi-clipboard-plus"></i></a>

                <a href="javascript:void(0);" class="in_out_progression this_menu_tabs pull-right" data-in='1' data-book='{{ book.id }}' data-chapter_id='{{ ch.id }}'   data-title="{{ ch.title }}"
                    title="Sortir ce chapitre de la progression"><i class="bi bi-database-x"></i></a>

                <a href="#" data-toggle='modal' data-target='#book_new_chapter' class="this_menu_tabs pull-right get_the_title" title="Renommer le chapitre"  data-title="{{ ch.title }}" data-chapter_id="{{ ch.id }}"><i class="bi bi-pen"></i></a> 

            </li>
        {% endfor %}
        </div>

        <div id="out_sommary">  
            <hr/>
        {% for ch in chapterbis %}
            <li class="book_chapters_in_menu sorter_chapter {% if ch.id == organiser %}book_chapters_in_menu_selected{% endif %}" data-chapter_id='{{ ch.id }}' id='chapter{{ ch.id }}'>
                <span class="book_chapter_number">{{ forloop.counter}}.</span> 
                <a href="javascript:void(0);" class="get_inside_chapter_div  {% if ch.id == organiser %}color_white{% endif %}" id="this_parcours_title{{ch.id}}" data-book_id='{{ book.id}}' data-chapter_id='{{ ch.id }}'>
                {{ ch.title|truncatechars:28|lower|capfirst }}
                </a>


                <a href="javascript:void(0);" class="ajax_delete_chapter this_menu_tabs pull-right" data-book='{{ book.id }}' data-chapter_id='{{ ch.id }}' data-title="{{ ch.title }}"
                    title="Supprimer le chapitre"><i class="bi bi-trash"></i></a>

                <a href="{% url 'duplicate_parcours_organiser' ch.id  %}" class="this_menu_tabs pull-right" title="Dupliquer le chapitre (utile pour découper le chapitre en parties)"><i class="bi bi-clipboard-plus"></i></a> 


                <a href="javascript:void(0);" class="in_out_progression this_menu_tabs pull-right" data-in='0' data-book='{{ book.id }}' data-chapter_id='{{ ch.id }}' data-title="{{ ch.title }}"
                    title="Remettre ce chapitre de la progression"><i class="bi bi-database-x"></i></a>


                <a href="#" data-toggle='modal' data-target='#book_new_chapter' class="this_menu_tabs pull-right get_the_title" title="Renommer le chapitre"  data-title="{{ ch.title }}" data-chapter_id="{{ ch.id }}"><i class="bi bi-pen"></i></a> 

            </li>
        {% endfor %}
        </div>

            <a href="{% url 'initialize_all_chapters' book.id group.id %}" class="btn btn-default btn-xs" {% if chapters %} onclick="return reset_all_chapters()"{% endif %}>{% if chapters %}MaJ {% else %}Initialisation {% endif %} des chapitres 
            </a>
            <a href="#" data-toggle='modal' data-target='#book_duplicate_summary' class="btn btn-default btn-xs" title="Dupliquer ce sommaire" data-chapter_id="{{ ch.id }}">Dupliquer</a> 


    </div>
    <div class="col-xs-6 col-md-8 col-lg-9">
        <div id="dropzone">

            {% if not sections %}

                {% if not chapters %}
                <h1 style="margin:20px;font-size:35px;" class="sacado_color_text">Préparez vos documents et vidéo-projetez en classe</h1>

                Cet organiser permet de <span class="sacado_color_text">synthétiser tous vos documents</span> par parcours/chapitres pour créer vos <span class="sacado_color_text">séquences</span> de classe. 

                <ul  style="margin-top:20px;">

                    <li class="sanspuce" style="margin-bottom:20px;"><span class="sacado_color_text" style="font-weight:normal">1. Initialisez vos chapitres.</span> <br/><small>Sacado transforme vos parcours en chapitres, en important par défaut tous les cours, 4 exercices, 4 quiz et tous les exercices des Bibliotex.</small> </li>
                    <li class="sanspuce" style="margin-bottom:20px;"><span class="sacado_color_text" style="font-weight:normal">2. Cliquez sur un chapitre et organisez vos documents par sections. </span> <br/><small>Sacado donne accès à tous vos documents pour les choisir et les intégrer dans votre organiser.</small> </li>
                    <li class="sanspuce"><span class="sacado_color_text" style="font-weight:normal">3. Vidéo-projetez le chapitre en classe et enregistrez votre progression.</span> </li>

                </ul>

                <div style="margin:20px;font-size:20px;" class="text-success">Vous avez {{ group.group_parcours.count }} parcours convertibles en chapitres dans ce groupe.</div>
                {% else %}

                <h1 style="margin:50px;font-size:80px;" class="sacado_color_text">Préparez vos documents <br/><br/>Vidéo-projetez en classe</h1>

                {% endif %}
                <div align='center'>
                <img src="{% static 'img/video_proj.jpg' %}" />
                </div>

            {% else %}

                {% include 'qcm/get_inside_chapter_div.html' %}

            {% endif %}
        </div>
    </div>
</div>  

<div class="modal fade" id="book_new_chapter" tabindex="-1" role="dialog" aria-labelledby="book_new_chapter">
    <div class="modal-dialog modal-lg" role="document"  style="width:750px">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h3>Renommer le chapitre</h3>              
            </div>
            <div class="modal-body">
                <form method="POST" action="" enctype='multipart/form-data' id="new_chapter">                    
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <input type="text" name="rename_chapter"  id="rename_chapter" class="form-control" maxlength="30">
                            </div>
                            <input name="is_update" id="is_update" type="hidden" />
                            <input name="pk_chapter_id" id="pk_chapter_id" type="hidden" /> 
                        </div>    
                        <div class="col-sm-12 col-md-12">         
                            <a href="javascript:void(0)" class="btn btn-primary" id="submit_rename_parcours">Enregistrer</button>   
                            <a href="javascript:history.back()" data-dismiss="modal" ><input type="button" value="Annuler" class="btn btn-default"   /></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>

<div class="modal fade" id="book_add_new_chapter" tabindex="-1" role="dialog" aria-labelledby="book_add_new_chapter">
    <div class="modal-dialog modal-lg" role="document"  style="width:750px">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h3>Ajouter un chapitre <small>(il ne sera pas ajouté comme parcours)</small></h3>              
            </div>
            <div class="modal-body">
                <form method="POST" action="" enctype='multipart/form-data' id="add_new_chapter">                    
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>Titre : </label>
                                <input type="text" name="add_chapter"  id="add_chapter" class="form-control" maxlength="30">
                            </div>
                        </div>    
                        <div class="col-sm-12 col-md-12">         
                            <a href="javascript:void(0)" class="btn btn-primary" id="submit_add_chapter" data-book_id="{{ book.id }}" >Enregistrer</button>   
                            <a href="javascript:history.back()" data-dismiss="modal" ><input type="button" value="Annuler" class="btn btn-default"   /></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>

<div class="modal fade" id="chapter_new_document" tabindex="-1" role="dialog" aria-labelledby="chapter_new_document">
    <div class="modal-dialog modal-lg" role="document"  style="width:1000px">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h4>Ajouter un document à <span id="this_document_section_title"></span>. <small> Choisir vos documents existants</small></h4>              
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                    <form method="POST" action="" enctype='multipart/form-data'>
                        <input type="hidden" name="book_section_id_get" id="book_section_id_get"  id="book_section_id_get" />
                        <input type="hidden" name="book_subject_id" id="book_subject_id" value="{{ book.subject.id }}" />
                        <input type="hidden" name="book_level_id"  id="book_level_id" value="{{ book.level.id }}" />
                        <input type="hidden" name="book_chapter_id" id="book_chapter_id"    />
                        {% csrf_token %}


                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <a href="javascript:void();" class="selector_existant_book_document_choice existant_book_document_choice" data-type="Course" id="this_type_document5">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-c-square" viewBox="0 0 14 14">
                                                <path d="M8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z"/>
                                                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2Zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2Z"/>
                                            </svg>
                                        Cours
                                    </a>
                                    <a href="javascript:void();" class="selector_existant_book_document_choice existant_book_document_choice" data-type="GGB" id="this_type_document3"> 
                                        <i class="bi bi-explicit"></i> Exercice SACADO
                                    </a>
                                    <a href="javascript:void();" class="selector_existant_book_document_choice existant_book_document_choice" data-type="QF" id="this_type_document9">
                                        <i class="bi bi-lightning"></i> Questions flash
                                    </a>
                                    <a href="javascript:void();" class="selector_existant_book_document_choice existant_book_document_choice" data-type="Quizz" id="this_type_document4">
                                        <i class="bi bi-aspect-ratio"></i> Quizz
                                    </a>
                                    <a href="javascript:void();" class="selector_existant_book_document_choice existant_book_document_choice" data-type="DocPerso" id="this_type_document3">
                                        <i class="bi bi-aspect-ratio"></i> Doc Perso
                                    </a>
                                    <a href="javascript:void();" class="selector_existant_book_document_choice existant_book_document_choice" data-type="BiblioTex" id="this_type_document6">
                                         <i class="bi bi-bootstrap"></i> BiblioTex
                                    </a>
                                    <a href="javascript:void();" class="selector_existant_book_document_choice existant_book_document_choice" data-type="Exotex" id="this_type_document7"> 
                                        <i class="bi bi-explicit-fill"></i> Exercice LaTeX
                                    </a>
                                    <a href="javascript:void();" class="selector_existant_book_document_choice existant_book_document_choice" data-type="Flashpack" id="this_type_document8">
                                        <i class="bi bi-stack"></i> Flashpack
                                    </a>
                                    {% if request.user.is_superuser %}
                                    <a href="javascript:void();" class="selector_existant_book_document_choice existant_book_document_choice" data-type="Bloc" id="this_type_document11">
                                        <i class="bi bi-app"></i> Bloc
                                    </a>
                                    {% endif %}

                                </div>
                            </div>  
                        </div> 
                        <div id="show_document_by_type" align='center'>

                        </div> 
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>

<div class="modal fade" id="chapter_new_section" tabindex="-1" role="dialog" aria-labelledby="chapter_new_section">
    <div class="modal-dialog modal-lg" role="document"  style="width:500px">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h2>Nouvelle section</h2>              
            </div>
            <div class="modal-body" id='modal_document_body' >
                <form method="POST" action="" enctype='multipart/form-data'  id='new_form_sec'> 
                    {% csrf_token %}                          
                    <input type="hidden" name="chapter_id" id="chapter_id_inside_modal"/>
                    <div class="row">
                        <div class="col-sm-12 col-md-12"> 
                            <label>Titre :</label><br/> 
                            {{ formsec.title|add_class:"form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12"> 
                            <div class="form-group">
                            <label>Bordure :</label>  
                                <a href="#"><i class="fa fa-square fa-2x selector_section_color" data-color="5D4391" style="color:#5D4391"></i></a>
                                <a href="#"><i class="fa fa-square fa-2x selector_section_color" data-color="AD4B91" style="color:#AD4B91"></i></a>
                                <a href="#"><i class="fa fa-square fa-2x selector_section_color" data-color="A31512" style="color:#A31512"></i></a>
                                <a href="#"><i class="fa fa-square fa-2x selector_section_color" data-color="E76080" style="color:#E76080"></i></a>                                             
                                <a href="#"><i class="fa fa-square fa-2x selector_section_color" data-color="FF8B69" style="color:#FF8B69"></i></a>
                                <a href="#"><i class="fa fa-square fa-2x selector_section_color" data-color="FFC05C" style="color:#FFC05C"></i></a> 
                                <a href="#"><i class="fa fa-square fa-2x selector_section_color" data-color="0960B5" style="color:#0960B5"></i></a>
                                <a href="#"><i class="fa fa-square fa-2x selector_section_color" data-color="0093CA" style="color:#0093CA"></i></a>
                                <a href="#"><i class="fa fa-square fa-2x selector_section_color" data-color="00A7B8" style="color:#00A7B8"></i></a>
                                <a href="#"><i class="fa fa-square fa-2x selector_section_color" data-color="00B999" style="color:#00B999"></i></a>
                            {{ formsec.color.as_hidden }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">         
                                <a href="javascript:void(0)" class="btn btn-primary" id="new_section_modal_creator"  >Enregistrer</a>   
                                <a href="javascript:history.back()" data-dismiss="modal" ><input type="button" value="Annuler" class="btn btn-default"   /></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>

<div class="modal fade" id="update_section" tabindex="-1" role="dialog" aria-labelledby="update_section">
    <div class="modal-dialog modal-lg" role="document"  style="width:300px">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h2>Modifier la section</h2>              
            </div>
            <div class="modal-body" >
                <form method="POST" action="" enctype='multipart/form-data' id='update_form_sec'> 
                    {% csrf_token %}                          
                    <input type="hidden" id="section_id" name="section_id" />
                    <div class="row">
                        <div class="col-sm-12 col-md-12">         
                            {{ formsec.title|add_class:"form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12"> 
                            <div class="form-group">
                            <label>Bordure :</label><br/>  
                                        <a href="#"><i class="fa fa-square fa-2x selector_section_color_update" data-color="9274C7" style="color:#9274C7"></i></a>
                                        <a href="#"><i class="fa fa-square fa-2x selector_section_color_update" data-color="AD4B91" style="color:#AD4B91"></i></a>
                                        <a href="#"><i class="fa fa-square fa-2x selector_section_color_update" data-color="A31512" style="color:#A31512"></i></a>
                                        <a href="#"><i class="fa fa-square fa-2x selector_section_color_update" data-color="E76080" style="color:#E76080"></i></a>                                             
                                        <a href="#"><i class="fa fa-square fa-2x selector_section_color_update" data-color="FF8B69" style="color:#FF8B69"></i></a>
                                        <a href="#"><i class="fa fa-square fa-2x selector_section_color_update" data-color="FFC05C" style="color:#FFC05C"></i></a> 
                                        <a href="#"><i class="fa fa-square fa-2x selector_section_color_update" data-color="0960B5" style="color:#0960B5"></i></a>
                                        <a href="#"><i class="fa fa-square fa-2x selector_section_color_update" data-color="0093CA" style="color:#0093CA"></i></a>
                                        <a href="#"><i class="fa fa-square fa-2x selector_section_color_update" data-color="00A7B8" style="color:#00A7B8"></i></a>
                                        <a href="#"><i class="fa fa-square fa-2x selector_section_color_update" data-color="00B999" style="color:#00B999"></i></a>
                            {{ formsec.color.as_hidden }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">         
                            <a href="javascript:void(0)" class="btn btn-primary" id="save_section">Enregistrer</a>   
                            <a href="javascript:history.back()" data-dismiss="modal" ><input type="button" value="Annuler" class="btn btn-default"   /></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>

<div class="modal fade" id="show_this_document" tabindex="-1" role="dialog" aria-labelledby="show_this_document">
    <div class="modal-dialog modal-lg" role="document"  style="width:1100px">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h2 id='show_modal_document_title' ></h2>              
            </div>
            <div class="modal-body">
                <div class="row" >
                    <div class="col-sm-12 col-md-12" id='show_modal_document_body'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12"> 
                        <a href="javascript:history.back()" data-dismiss="modal" ><input type="button" value="Fermer la fenêtre" class="btn btn-default"   /></a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>



<div class="modal fade" id="book_duplicate_summary" tabindex="-1" role="dialog" aria-labelledby="book_duplicate_summary">
    <div class="modal-dialog modal-lg" role="document"  style="width:750px">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h4>{{ group.name }} <img src="{% static 'img/angle-right.png' %}"/> Dupliquer le sommaire</h4>              
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'book_duplicate_summary' %}" enctype='multipart/form-data' id="new_chapter"> 
                    {% csrf_token %}   
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <label>Choisir les groupes destinations.<small class="text-danger">Si l'organiser d'un groupe n'est pas vide, il sera complété par cet organiser.</small></label>
                        </div>
                    </div>             
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <input type="hidden" name='group_id' value="{{ group.id }}" />
                            <input type="hidden" name='book_id' value="{{ book.id }}" />
                            <div class="form-group">
                                {% for grp in groups %}
                                    <li class="sanspuce">
                                        <label>
                                            <input type="checkbox" name="group_ids" value="{{ grp.id}}">
                                            <i class="fa fa-square" style="color: {{grp.color}}"></i> {{ grp.name }}  
                                        </label>
                                    </li>
                                {% empty %}
                                    <label class="text-danger">Vous devez posséder au moins un groupe. </label>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <li class="sanspuce"><label>Format</label></li>
                                <li class="sanspuce"><label><input type="radio" name="format_new" value="yes"> Créer un sommaire indépendant pour chaque groupe.</label></li>
                                <li class="sanspuce"><label><input type="radio" name="format_new" value="no"> Associer ces groupes à ce sommaire. <small>Ce sommaire sera visible depuis tous les groupes liés et sa modification sera effective dans tous les groupes liés.</small></label></li>                               
                            </div>
                        </div>    
                        <div class="col-sm-12 col-md-12">         
                            <button type="submit" class="btn btn-primary" id="submit_duplicate_symmary">Enregistrer</button>   
                            <a href="javascript:history.back()" data-dismiss="modal" ><input type="button" value="Annuler" class="btn btn-default"   /></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>