{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
 
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4_mini.js' %}"></script>
 
    <script>
        require(['script/ajax-parcours','script/ajax-organiser' ]);
    </script> 

<style>
.extend_parcours .col-xs-4, .extend_parcours .col-xs-4, .extend_parcours .col-md-4, .extend_parcours .col-lg-4 {
    padding-right: 0px!important;
}
</style>    
{% endblock %}

 

{% block page_title %}
    {% include 'qcm/breadcrumb.html' %} <small>Tous les documents du groupe</small>
{% endblock %}


{% block page_menu_right %}
    {% include 'group/submenu_group.html' %}
{% endblock %}


{% block css_files %}
{% endblock %}



{% block body  %}

<style type="text/css"> 
.navbar {
    margin-bottom: 15px!important;
}
</style>


{% include 'preloader.html' %}

<section class="content_list" id="principal_section"> 

    {% if role %}
        {% include 'qcm/submenu_tabs.html' %}
    {% endif %}




    <div class="tab-content">
        <div class="tab-pane {% if organiser %}active{% endif %}" id="0">

            {% include 'qcm/group_organiser.html' %}

        </div>

        <div class="tab-pane  {% if nb_folders and not organiser %}active{% endif %}" id="1">
            <div class="row" style="margin-bottom: 20px"> 

                <div class="col-xs-12 ">
                    <a href="{% url 'create_folder' group.id %}" class="btn btn-xs btn-sacado"><i class="bi bi-plus-circle-dotted"></i> <span class="btn_label">Créer un nouveau dossier</span></a>
 
                    <a href="{% url 'all_folders' %}" class="btn btn-xs btn-sacado"><i class="bi bi-clipboard-plus"></i>  <span class="btn_label">Dupliquer un dossier mutualisé</span></a>
                </div>
            </div>

            <form action="" methode="POST" id="folders_sortable"> 
                {% for folder in folders  %}  
                    {% include 'qcm/folder_tag.html' %}
                {% endfor %}
            </form> 


            <div style="clear:both"></div>
        </div>

        <div class="tab-pane {% if not nb_folders and not organiser %}active{% endif %}" id="2">
            <form action="" methode="POST" id="parcours_sortable"> 

 
            <div class="row" style="margin-bottom: 20px"> 

                <div class="col-xs-12 ">
                    <label>
                        <small>Parcours externes aux {{nb_folders}} dossiers</small>
                        <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                <div class="helper_tip_text_right" >Possibilité de les affecter dans un dossier avec <i class="bi bi-gear"></i>.</div>
                        </span>
                    </label>
                    <a href="{% url 'create_parcours' 0 %}" class="btn btn-xs btn-sacado"><i class="bi bi-plus-circle-dotted"></i> <span class="btn_label">Créer un nouveau parcours</span></a>
 
                    <a href="{% url 'all_parcourses' 0 %}" class="btn btn-xs btn-sacado"><i class="bi bi-clipboard-plus"></i>  <span class="btn_label">Dupliquer un parcours mutualisé</span></a>
                </div>
            </div>

            {% for parcours in parcourses  %}  
                
                {% include 'qcm/parcours_evaluation_tag.html' %}

            {% endfor %}
            </form><div style="clear:both"></div>
        </div>

        <div class="tab-pane" id="3">
            <form action="" methode="POST" id="evaluations_sortable">
            <div class="row" style="margin-bottom: 20px"> 
                <div class="col-xs-12 ">
                    <label>
                        <small>Evaluations externes aux {{nb_folders}} dossiers</small>
                        <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                <div class="helper_tip_text_right" >Possibilité de les affecter dans un dossier avec <i class="bi bi-gear"></i>.</div>
                        </span>
                    </label>
                    {% if sacado_asso %} 
                    <a href="{% url 'create_evaluation' 0 %}" class="btn btn-xs btn-sacado"><i class="bi bi-plus-circle-dotted"></i><span class="btn_label"> Créer une nouvelle évaluation</span></a>
                    <a href="{% url 'all_parcourses' 1 %}" class="btn btn-xs btn-sacado"><i class="bi bi-clipboard-plus"></i>  <span class="btn_label">Dupliquer une évaluation mutualisée</span></a>
                    {% else %}
                        <a href="#" class="btn btn-xs btn-sacado no_sacado_asso" title="Version Etablissement requise"><i class="bi bi-plus-circle-dotted"></i> <span class="btn_label">Créer une nouvelle évaluation</span></a>
                        <a href="#" class="btn btn-xs btn-sacado no_sacado_asso" title="Version Etablissement requise"><i class="bi bi-clipboard-plus"></i>  <span class="btn_label">Dupliquer une nouvelle mutualisée </span></a>    
                    {% endif %}
                </div>
            </div>
            {% for parcours in evaluations  %}  
                {% include 'qcm/parcours_evaluation_tag.html' %}
            {% endfor %}
            </form><div style="clear:both"></div>
        </div>
        <div class="tab-pane" id="4">
            <div class="row" style="margin-bottom: 20px"> 
                <div class="col-xs-12 ">
                    <label>
                        <small>Doc. perso. externes aux {{nb_folders}} dossiers</small>
                        <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                <div class="helper_tip_text_right" >Possibilité de les affecter dans un dossier avec <i class="bi bi-gear"></i>.</div>
                        </span>
                    </label>
                    <a href="{% url 'create_docperso_parcours' 0 %}" class="btn btn-xs btn-sacado"><i class="bi bi-plus-circle-dotted"></i><span class="btn_label">  Créer un nouveau document</span></a>
 
                </div>
            </div>
            <form action="" methode="POST" id="docperso_sortable">
            {% for docperso in docpersos %}   
                  {% include 'qcm/docperso_tag.html' %} 
            {% endfor %}
            </form>

            <div style="clear:both"></div>
        </div>
        <div class="tab-pane" id="5">
            <div class="row" style="margin-bottom: 20px"> 
                <div class="col-xs-12 ">
                    <label>
                        <small>Questions flash externes aux {{nb_folders}} dossiers</small>
                        <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                <div class="helper_tip_text_right" >Possibilité de les affecter dans un dossier avec <i class="bi bi-gear"></i>.</div>
                        </span>
                    </label>
                    <a href="{% url 'create_questions_flash' group.level.id %}" class="btn btn-xs btn-sacado"><i class="bi bi-plus-circle-dotted"></i><span class="btn_label">  Créer des questions flash</span></a>
                </div>
            </div>
            {% include 'qcm/list_questions_flash_by_group.html' %}
        </div>
        <div class="tab-pane" id="6">
            <div class="row" style="margin-bottom: 20px"> 
                <div class="col-xs-12 ">
                    <label>
                        <small>Quiz externes aux {{nb_folders}} dossiers</small>
                        <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                <div class="helper_tip_text_right" >Possibilité de les affecter dans un dossier avec <i class="bi bi-gear"></i>.</div>
                        </span>
                    </label>
                    {% if sacado_asso %} 
                        <a href="{% url 'create_quizz'  %}" class="btn btn-xs btn-sacado"><i class="bi bi-plus-circle-dotted"></i><span class="btn_label"> Créer un nouveau quiz</span></a>
                        <a href="{% url 'all_quizzes'   %}" class="btn btn-xs btn-sacado"><i class="bi bi-clipboard-plus"></i><span class="btn_label">  Dupliquer un quiz mutualisé</span></a>       
                    {% else %}
                        <a href="#" class="btn btn-xs btn-sacado no_sacado_asso" title="Version Etablissement requise"><i class="bi bi-plus-circle-dotted"></i><span class="btn_label"> Créer un nouveau quiz</span></a>
                        <a href="#" class="btn btn-xs btn-sacado no_sacado_asso" title="Version Etablissement requise"><i class="bi bi-clipboard-plus"></i>  <span class="btn_label">Dupliquer un quiz mutualisé </span></a>    
                    {% endif %}
                </div>
            </div>            
            <form action="" methode="POST" id="quizz_sortable"> 
            {% for quizz in quizzes %}   
                  {% include 'tool/quizz_tag.html' %} 
            {% endfor %}
            </form>
            <div style="clear:both"></div>
        </div>
        <div class="tab-pane" id="7">
            <div class="row" style="margin-bottom: 20px"> 

                <div class="col-xs-12 ">
                    <label>
                        <small>Bibliotex externes aux {{nb_folders}} dossiers</small>
                        <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                <div class="helper_tip_text_right" >Possibilité de les affecter dans un dossier avec <i class="bi bi-gear"></i>.</div>
                        </span>
                    </label>
                    <a href="{% url 'create_bibliotex' 0 %}" class="btn btn-xs btn-sacado"><i class="bi bi-plus-circle-dotted"></i> <span class="btn_label">Créer une nouvelle bibliotex </span></a>
 
                    <a href="{% url 'bibliotexs' %}" class="btn btn-xs btn-sacado"><i class="bi bi-clipboard-plus"></i>  <span class="btn_label">Dupliquer une bibliotex mutualisée</span></a>
                    <a href="https://sacado.xyz/ressources/tuto_bibliotex.pdf"  class="btn btn-xs btn-sacado" target="_blank"> Tuto Bibliotex <img src="{% static 'img/pdf.png'  %}" width="15px"/></a> 
                </div>
            </div>

            <form action="" methode="POST" id="bibliotex_sortable"> 
            {% for bibliotex in bibliotexs %}   
                {% include 'bibliotex/bibliotex_tag.html' %} 
            {% endfor %}
            </form>

            <div style="clear:both"></div>
        </div>
        <div class="tab-pane" id="8">

            <div class="row" style="margin-bottom: 20px"> 
                <div class="col-xs-12 ">
                    <label>
                        <small>Flashpack externes aux {{nb_folders}} dossiers</small>
                        <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                <div class="helper_tip_text_right" >Possibilité de les affecter dans un dossier avec <i class="bi bi-gear"></i>.</div>
                        </span>
                    </label>
                    {% if sacado_asso %} 
                        <a href="{% url 'create_flashpack' 0  %}" class="btn btn-xs btn-sacado"><i class="bi bi-plus-circle-dotted"></i><span class="btn_label"> Créer un nouveau flashpack</span></a>   
                        <a href="{% url 'flashpacks' %}"   class="btn btn-xs btn-sacado"><i class="bi bi-clipboard-plus"></i>  <span class="btn_label">Dupliquer un flashpack mutualisé</span> </a>
                    {% else %}
                        <a href="#"  class="btn btn-xs btn-sacado no_sacado_asso" title="Version Etablissement requise"><i class="bi bi-plus-circle-dotted"></i> <span class="btn_label">Créer un flashpack</span></a>
                        <a href="#"  class="btn btn-xs btn-sacado no_sacado_asso" title="Version Etablissement requise"><i class="bi bi-clipboard-plus"></i> <span class="btn_label">Dupliquer un flashpack mutualisé</span></a>      
                    {% endif %}
                </div>
            </div>
            <form action="" methode="POST" id="flashpack_sortable"> 
            {% for flashpack in flashpacks %}   
                  {% include 'flashcard/flashpack_tag.html' %} 
            {% endfor %}
            </form>
            <div style="clear:both"></div>
        </div>
    </div>
</section>

<div class="modal fade" id="parcours_default_modal" tabindex="-1" role="dialog" aria-labelledby="parcours_default_modal">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h2 class="thin sacado">Les parcours par défaut</h2>
                Ces parcours contiennent tous les exercices proposés par <span class="sacado">sacado</span> dans le thème proposé.
                <div id="remediation_shower"> 
                    {% include 'qcm/parcours_default.html' %}
                </div> 
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="listing" tabindex="-1" role="dialog" aria-labelledby="listing" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>                
                <h5 class="modal-title" id="exampleModalLabel">Liste des élèves - <span id="modal_group_name"></span></h5>
            </div>
            <div class="modal-body">
                <div id="list_students"></div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="print_bibliotex" tabindex="-1" role="dialog" aria-labelledby="print_bibliotex">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >

            <form action="{% url 'print_bibliotex' %}" method="POST" enctype='multipart/form-data'> 
                {% csrf_token %}
                <div class="modal-header">     
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                    <h2 id="print_bibliotex_title">  </h2> 
                    <input type="hidden" id="print_bibliotex_id"  name="print_bibliotex_id">  
                </div>
                <div class="modal-body" id="print_bibliotex_body">
     
                </div>
            </form>

        </div>
    </div> 
</div> 


{% include 'bibliotex/duplication_modal.html' %}


{% endblock  %}   
