{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
 
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3_mini.js' %}"></script>
 
    <script>
        require(['script/ajax-parcours']);
    </script> 


{% endblock %}

 

{% block page_title %}
       <span style="color:{{ group.color|contrast_color_title }}"><i class="fa fa-th"></i> {{ group }}       </span>  
{% endblock %}

{% block page_menu_right %}


{% include 'group/submenu_group.html' %}


{% include 'qcm/submenu_creation_evaluation.html' %}


<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-new"> Créer un parcours <b class="caret"></b> </a>

    <ul id="products-menu" class="dropdown-menu clearfix pull-right" role="menu">
 
 
        <li> <a href="{% url 'create_parcours' %}"  >  + Nouveau Parcours</a> </li> 
        <li> <a href="{% url 'all_parcourses' %}"   > Parcours mutualisés</a></li>         
        <li> <a href="#" data-toggle="modal" data-target="#parcours_default_modal"   > Parcours par défaut</a></li>


    </ul>
</li>  



 


{% endblock %}

{% block css_files %}
{% endblock %}



{% block body  %}
<section class="content_list" id="principal_section"> 


 
    {% regroup parcours_tab by is_evaluation as list_parcours %} 


    {% for parcours_sort in list_parcours %}  
    <div class="row"></div>
   {% if  parcours_sort.grouper %}<h1 class="thin" id="evaluation">Evaluations favorites</h1>{% else %}<h1 class="thin"> Parcours favoris</h1>{% endif %}  

        {% for parcours in parcours_sort.list %}  
  
        <div  class="box box-widget widget-user-2"  
              style="{% if parcours.vignette %}background-image: url('{{ parcours.vignette.url }}'); background-size: cover; {% else %} background-color:{{parcours.color }}{% endif %};">
              <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="handler widget-user-header">

                <div class="group_show  group_show{{parcours.id }}"> 
                    <form action="#" method="POST">
                                {% csrf_token %}
                        <a  href="#principal_section" class="vue menuactionparcours" data-toggle='modal' style="float:left; margin-right:10px"  
                            data-group_name='{{ group.name }}' data-parcours_id='{{ parcours.id }}' data-target='#listing'> 
                            {% get_parcours_group_students_count parcours group as parcours_group_students %}
                            <span class="label label-default"> {{ parcours_group_students.nb }}<i class="fa fa-users"></i></span>
                        </a> 
                    </form>
                    <font style="font-size:11px; color:#AAA">
                        {% for s in   parcours_group_students.students|dictsort:"user.last_name"  %}
                        <a  href="#principal_section" class="detail_student_parcours"  data-student_id="{{ s.user.id }}"  
                            data-parcours_id="{{ parcours.id }}" >{{s}}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </font>
                    <div style="clear:both"></div>
                </div>

                <a href="#" data-parcours_id="{{parcours.id }}" class="overlay_show white">
                <div class="disc disc{{parcours.id }}" style="background-color:{% if parcours.is_publish %}#00a65a{% else  %}#dd4b39{% endif  %};"> 
                     <i class="fa fa-circle-o-notch"></i>
                </div>
                </a> 


                <!-- Fenetre accessible par le disc   -->

                <div class="overlay  overlay_show{{parcours.id }}" style="height:100px"> 
                    <div class="overlay_expand">
                        <a href="#" data-parcours_id="{{parcours.id }}" class="overlay_show pull-right">
                                <i class="fa fa-times"></i>
                        </a>

                        <form action="" method="POST" enctype='multipart/form-data'>     
                            {% csrf_token %}
                            <div class="btn-group"  style="padding:0px;margin:0px;">
                                <a href="#" class="btn btn-default publisher"  data-from="2" id="parcours_publisher{{parcours.id}}" 
                                    data-parcours_id="{{parcours.id}}" data-statut="{{parcours.is_publish }}">  
                                    <i class="fa fa-circle-o-notch"></i>
                                </a><span class="legend-btn legend-btn-{% if not parcours.is_publish %}danger{% else  %}success{% endif  %} size15" id="parcours_statut{{parcours.id}}" style="cursor:auto" >  
                                  {% if parcours.is_publish %} Publié  {% else %} Dépublié {% endif  %} 
                                </span>
                            </div>
                        </form>
                        <br>
                        <span class="label_icon" style="color:{{ parcours.color }};">
                            {% if parcours.is_evaluation %}
                                {{  parcours.start|date:"d N Y"  }},  {{  parcours.starter  }} 
                                {% if parcours.stop %}
                                   - {{  parcours.stop|date:"d N Y"  }}{% if parcours.stopper %}, {{  parcours.stopper  }} {% endif %}    
                                {% endif %}                                
                            {% endif %}
                        </span>
                    </div>
                </div>
                <!-- Fin de la fenetre  -->
                <!--EXPORTATION  -->
                <div class="group_show  overlay_export{{parcours.id }}"> 
                    <div class="overlay_expand">
                        <h4 style="color:{{parcours.color }}">Exportation CSV 
                        <a href="#" class="export_shower pull-right" data-parcours_id="{{parcours.id }}"><i class="fa fa-times"></i> </a>
                        <br><small>Pour exporter vers Pronote, les listes d'élèves Pronote et SACADO doivent être identiques.<span id="loading_export{{ parcours.id }}"></span></small></h4>
                        {% if request.user.is_extra %}
                        <form action="{% url 'export_note' group.id parcours.id  %}" method="POST" enctype='multipart/form-data'>     {% csrf_token %}
                            <div class="col-md-6 col-lg-6 col-xs-6">
                                <input type="text" class="form-control" placeholder ="Noté sur ?" name="on_mark" id="on_mark{{ parcours.id }}" />
                            </div>
 
                            <div class="col-md-6 col-lg-6 col-xs-6" style="padding-left:5px">
                                <button href="#" class="btn btn-primary exportation_de_note" type="submit" data-parcours_id="{{parcours.id }}"  data-group_id="{{group.id }}"  > Export de notes</button>
                            </div>
                        </form>
                        {% else %}
                            <span style="color:red;font-size: 14px">Action non permise</span>
                        {% endif %}
                    </div> 
                </div>
                <!-- Fin de la fenetre  -->
                {% if parcours.is_evaluation %}   
                    <div class="icon_evaluation">
                        <i class="fa fa-bullseye"></i> 
                    </div>
                {% endif %}
                {% if parcours.vignette %}                
                    <div class="box_title_underlay_vignette" style="background-color:{{ parcours.color }};">
                    </div> 
                {% endif  %}
                <div class="box_title_vignette"> 
                    <a href="{% url 'show_parcours'  parcours.id  %}" style="color:{{ parcours.color|contrast_color }};"> {{ parcours.title|truncatechars:"18" }}
                        <span style="font-size:12px"> 
                            {{ parcours.nb_exercises }} exercice{{ parcours.nb_exercises|pluralize }}, 
                                {% if parcours.is_evaluation %}{{  parcours.evaluation_duration|int_minutes  }}{% else %}{{  parcours.duration_overall|int_minutes }} {% endif %}min.

                        </span>
                    </a>
                    {% if parcours.group_list|length > 1 %}
                    <span class="shared" style="color:{{ parcours.color }};">Parcours partagé</span>
                    {% endif %} 
                </div>
            </div>
            <div class="box-footer">
                <div class="row extend"> 
                    <div class="col-lg-4 col-xs-4">
                    {% if parcours.is_evaluation %}
                        <a href="{% url 'update_evaluation' parcours.id  group.id  %}"  class="edit"><i class="fa fa-fw fa-cogs"></i> <span class="label_icon">Config.</span> </a>
                    {% else  %}
                        <a href="{% url 'update_parcours' parcours.id  group.id  %}"  class="edit"><i class="fa fa-fw fa-cogs"></i> <span class="label_icon">Config.</span> </a>
                    {% endif  %}
                    </div>                      
                    <div class="col-lg-4 col-xs-4">
                        <a href="{% url 'show_course' 0 parcours.id   %}"  class="edit"><i class="fa fa-fw fa-desktop"></i> <span class="label_icon">Cours </span> </a>
                    </div>   
                    <div class="col-lg-4 col-xs-4">
                        <a href="{% url 'parcours_tasks_and_publishes' parcours.id %}"  class="edit"><i class="fa fa-fw fa-indent"></i> <span class="label_icon">Section.</span> </a>
                    </div>  
                </div>
                <div class="row extend">                              
                    <div class="col-lg-4 col-xs-4">
                        <a href="{% url 'peuplate_parcours' parcours.id   %}" class="edit"><i class="fa fa-fw fa-cloud"></i> <span class="label_icon">Sélect.</span>
                        </a>  
                    </div>  
                    <div class="col-lg-4 col-xs-4">
                        <a  href="{% url 'result_parcours_knowledge' parcours.id  %}" class="edit"><i class="fa fa-fw fa-mortar-board"></i> <span class="label_icon">Suivis</span>
                        </a>   
                    </div>

                    <div class="col-lg-4 col-xs-4">
                        {% if not parcours.is_evaluation %}
                        <a  href="{% url 'detail_task_parcours' parcours.id 0  %}"   class="edit"   >
                            {% if not parcours.is_task_exists %}<i class="fa fa-fw fa-calendar"></i>{% else %}<i class="fa fa-fw fa-calendar-check"></i>{% endif %}
                             <span class="label_icon">Tâches</span>
                        </a>  
                        {% else %} 
                        <a href="#" class="edit export_shower" data-parcours_id="{{parcours.id }}"><i class="fa fa-fw fa-upload"></i>  <span class="label_icon">Export</span>
                        </a>
                        {% endif %} 
                    </div>
                </div>
                <div class="row">  
                    <div class="col-lg-4 col-xs-4">
                        <a href="{% url 'individualise_parcours' parcours.id  %}" class="edit" ><i class="fa fa-fw fa-user"></i> <span class="label_icon">Individual.</span>
                        </a> 
                    </div> 
                    <div class="col-lg-4 col-xs-4">
                        <a  href="{% url 'stat_parcours' parcours.id %}" class="edit"><i class="fa fa-fw fa-bar-chart"></i>  <span class="label_icon">{% if parcours.is_evaluation %} Résultats{% else  %}Stats {% endif %}</span>
                        </a>   
                    </div>
                    <div class="col-lg-4 col-xs-4">
                        <a href="#" class="edit group_shower" data-parcours_id="{{parcours.id }}"><i class="fa fa-fw fa-users"></i>  <span class="label_icon">Elèves</span>
                        </a>
                    </div> 
                </div>
            </div>
        </div>   
        {% endfor %}
     
    {% empty %}

        <div class="row"> 
            <div class="col-sm-12 col-md-12">
                <div class="alert alert-danger">Aucun parcours n'est affecté à ce groupe. Tant qu'un groupe ne contient pas d'élève, <strong>vous ne pouvez pas lui attribuer de parcours</strong>. Lorsque vos parcours sont créés, les élèves les rejoignent directement dès leur inscrition via le lien <span style="color:#271942">https://sacado.xyz/group/{{ group.code }}</span><br>
                <i class="fa fa-bullhorn"></i> <strong>Préparer</strong> maintenant vos parcours, <strong>publier</strong>.  
                </div>
            </div>
        </div>
        
        <div class="row"> 
            <div class="col-sm-12 col-md-12">
                <h2 class='thin'><i class="fa fa-recycle"></i> 3 façons de disposer de parcours avec <span class="sacado">sacado</span></h2>  
                    

                        <ol><i class="fa fa-hand-o-right"></i> Les parcours par défaut (Recommandé pour une première utilisation) <p> Ces parcours contiennent tous les exercices  de  {{ group.level}} proposés par <span class="sacado">sacado</span>, classés par le thème. Vous pouvez les utiliser directement, leur ajouter, leur supprimer des exercices.<br>Choisir le parcours souhaité <a href="#" data-toggle="modal" data-target="#parcours_default_modal"   ><i class="fa fa-caret-right"></i>  Parcours par défaut</a><p></ol>
                        <ol><i class="fa fa-hand-o-right"></i>  Les parcours mutualisés <p>La mutualisation des parcours vous permet de choisir un parcours déjà existant prêt à l'emploi. Il vous sera possible de le modifier un fois cloné. <br>Récupérer un parcours existant d'un enseignant mutualisateur <a href="{% url 'all_parcourses' %}"   ><i class="fa fa-caret-right"></i> Parcours mutualisés</a></p></ol>
                        <ol><i class="fa fa-hand-o-right"></i>  Les parcours personnalisés <p>Vous souhaitez tout paramétrer et créer le parcours en simplement quelques clics. Cet espace vous est dédié.<br>  Créer votre parcours personnalisé dans un premier temps puis sélectionner les exercices de votre choix. <a href="{% url 'create_parcours' %}"   ><i class="fa fa-caret-right"></i>  Nouveau parcours</a></p></ol>



            </div>
        </div>

    {% endfor %}


  
</section>

<div class="modal fade" id="parcours_default_modal" tabindex="-1" role="dialog" aria-labelledby="parcours_default_modal">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h2 class="thin sacado">Les parcours par défaut</h2>
                Ces parcours contiennent tous les exercices proposés par <span class="sacado">sacado</span> dans le thème proposé.
                <div id="remediation_shower"> 
                    {% include 'qcm/parcours_default.html' %}
                </div> 
            </div>
        </div>
    </div>
</div>

    <div class="modal fade bd-example-modal-lg" id="listing" tabindex="-1" role="dialog" aria-labelledby="listing" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>                
                    <h5 class="modal-title" id="exampleModalLabel">Liste des élèves - <span id="modal_group_name"></span></h5>
                </div>
                <div class="modal-body">
                    <div id="list_students"></div>
                </div>
            </div>
        </div>
    </div>


 

{% endblock  %}   
