{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
 
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2_mini.js' %}"></script>
 
    <script>
        require(['script/ajax-parcours']);
    </script> 


{% endblock %}

 

{% block page_title %}
    <i class="fa fa-th"></i> Tous mes parcours  <img width="25px" src="{% static 'img/angle-right.png' %}"/>   
{% endblock %}

{% block page_menu_right %}
  <li> <a href="{% url 'index' %}"    class="btn btn-new" style="margin-right:5px"  > Parcours par défaut </a></li>
  <li> <a href="{% url 'all_parcourses' %}"   class="btn btn-new" style="margin-right:5px" > Parcours mutualisés</a></li>
  <li> <a href="{% url 'create_parcours' %}"   class="btn btn-new" >  Nouveau parcours</a> </li>  
{% endblock %}




{% block body  %} 
<style>
body{
    overflow: hidden;
}
</style> 
<section class="content_list"> 
{% if parcourses %}
<div class="row">    
   <div class="col-sm-12 col-md-12">
        <table class="table table-hovered standard_tab_sort"  style="width:100%">
            <thead> 
                <tr> 
                    <th style="width:2px"></th>                  
                    <th>Nom</th>
                    <th>Niveau</th>
                    <th>Groupes affectés</th>
                    <th>Elèves</th>
                    <th>Publication</th>                    
                </tr> 
            </thead>
            <tbody>
            {% for parcours in parcourses %}
                    <tr style="{% if not parcours.is_publish %}background-color:#F4F4F4;{% endif  %}">
                        <td style="text-align:center">
                            <span class="fa-stack">
                              <i class="fa fa-{% if parcours.is_evaluation %}bullseye{% else %}square{% endif  %} fa-2x" style="color: {{ parcours.color }} ;"></i>
                              {% if parcours.is_favorite %}<i class="fa fa-star fa-stack-1x" style="font-size: 12px; color:#FFF" ></i>{% endif  %}
                            </span>
                        </td>  
                        <td>
                            <a href="{% url 'update_parcours' parcours.id 0 %}" > {{ parcours.title }} {% if parcours.linked %}(Par défaut){% endif %} <i class="fa fa-pencil-square pull-right" aria-hidden="true"></i></a>
                             <div style="font-size:14px;margin-top:-5px;">
                                {{ parcours.nb_exercises }} exercice{{ parcours.nb_exercises|pluralize }} - {% if parcours.is_evaluation %}{{  parcours.evaluation_duration|int_minutes  }}{% else %}{{  parcours.duration_overall|int_minutes }} {% endif %}min. 
                                <div><a href="{% url 'peuplate_parcours' parcours.id %}" style="font-size: 12px;"><i class="fa fa-laptop"></i> Sélectionner les exercices</a> </div>

                                <div><a href="{% url 'show_parcours' parcours.id   %}"  style="font-size: 12px;"><i class="fa fa-th"></i> Gérer  le parcours</a></div>

                                <div><a href="{% url 'detail_task_parcours' parcours.id 0  %}" style="font-size: 12px;"><i class="fa fa-calendar-check-o"></i> Voir les taches  </a>  </div>
                                {% if request.session.group_id %}
                                <div><a href="{% url 'result_parcours' parcours.id  %}" style="font-size: 12px;"><i class="fa fa-mortar-board"></i> Suivi du parcours par élève</a></div> 
                                <div><a href="{% url 'result_parcours_knowledge' parcours.id   %}" style="font-size: 12px;"><i class="fa fa-trophy" style="font-size: 12px"></i> Suivi du parcours par savoir faire </a></div>
                                {% endif %}
                            </div>
                        </td> 
                        <td>
                            {% for l in  parcours.level_list  %}
                                <small>{{ l }}{% if not forloop.last %}, {% endif %}</small>
                            {% endfor %}
                        </td> 
                        <td>
                            {% for g in  parcours.group_list  %}
                                {% get_parcours_group_students_count parcours g as nb_st %}
                                <a href="{% url 'list_parcours_group' g.id %}"><small>{{ g }} <small>({{ nb_st.nb}})</small>{% if not forloop.last %}, {% endif %}</small></a>

                            {% empty %}
                                <i class="fa fa-warning"></i> <span style="font-size:12px;color:#c70000;">Non affecté </span><a href="{% url 'update_parcours' parcours.id 0 %}" class="btn btn-xs btn-danger">{{ p.students.count }}<i class="fa fa-users"></i> Affecter des élèves à {% if p.is_evaluation %}cette évaluation{% else %}ce parcours{% endif %}</a> 
                            {% endfor %}
                        </td>
                        <td>
                            <form action="#" method="POST">
                                {% csrf_token %}
                                <a  href="#groupe_name_anchor{{ group.name.id }}" class="vue menuactionparcours" data-toggle='modal' style="float:left; margin-right:10px"  
                                    data-group_name='{{ group.name }}' data-parcours_id='{{ parcours.id }}' data-target='#listing'> 
                                    <span class="label label-default"> {{ parcours.students.count }}<i class="fa fa-users"></i></span>
                                </a>
                            </form>
                        </td>
                        <td>
                        <form action="" method="POST" enctype='multipart/form-data'>     
                            {% csrf_token %}
                            <div class="btn-group"  style="padding:0px;margin:0px;">
                                <a href="#" class="btn btn-default publisher"  data-from="1" id="parcours_publisher{{parcours.id}}" 
                                    data-parcours_id="{{parcours.id}}" data-statut="{{parcours.is_publish }}">  
                                    <i class="fa fa-circle-o-notch"></i>
                                </a><span class="btn btn-{% if not parcours.is_publish %}danger{% else  %}success{% endif  %}" id="parcours_statut{{parcours.id}}" style="cursor:auto" >  
                                  {% if parcours.is_publish %} Publié  {% else %} Dépublié {% endif  %} 
                                </span>
                            </div>
                        </form>
                        <br>
                        <span class="label_icon" style="color:{{ parcours.color   }};">
                            {% if parcours.is_evaluation %}
                                {{  parcours.start|date:"d N Y"  }},  {{  parcours.starter  }} 
                                {% if parcours.stop %}
                                   - {{  parcours.stop|date:"d N Y"  }}{% if parcours.stopper %}, {{  parcours.stopper  }} {% endif %}    
                                {% endif %}                                
                            {% endif %}
                        </span>
                        </td>
                    </tr>
            {% endfor  %} 
            </tbody>
        </table>
    </div>
</div>
{% else %}

<div class="row"> 
    <div class="col-sm-12 col-md-12">
        <h2 class='thin'><i class="fa fa-th"></i> Les parcours  <span class="sacado">sacado</span></h2>  
            <ol><i class="fa fa-hand-o-right"></i> Un même parcours à plusieurs groupes. <p>Si vous avez plusieurs classes de même niveau, vous pouvez créer un seul parcours et l'attribuer à chaque classe. <i class="fa fa-warning"></i> Les données du parcours seront partagées aux deux groupes et seront indissociables. Pour individualiser les exercices par élève, il faudra utiliser l'icone <i class="fa fa-user"></i> du parcours.</p></ol>
            <ol><i class="fa fa-hand-o-right"></i> Un parcours par groupe. <p>Cette option vous permet plus de flexibilité.</p></ol>
                
            <div class="alert alert-danger">Tant qu'un groupe ne contient pas d'élève, vous ne pouvez pas lui attribuer de parcours. Les parcours sont rattachés au groupe par leurs élèves.<i class="fa fa-bullhorn"></i>  <strong>Commencez à le préparer et assignez-le ensuite à vos élèves.</strong></div>
    </div>
</div>    
<div class="row"> 
    <div class="col-sm-12 col-md-12">
        <h2 class='thin'><i class="fa fa-recycle"></i> 3 façons de disposer de parcours avec <span class="sacado">sacado</span></h2>  
            

                <ol><i class="fa fa-hand-o-right"></i> Les parcours par défaut (Recommandé pour une première utilisation) <p> Ces parcours contiennent tous les exercices proposés par <span class="sacado">sacado</span>, classés par le thème dans le niveau {{ group.level}}. Vous pouvez les utiliser comme proposés, leur ajouter, supprimer des exercices.<br>Ces parcours dépendent du niveau du groupe. Pour les créer, il faut se passer par un groupe <a href="{% url 'index' %}"  ><i class="fa fa-caret-right"></i>  Parcours par défaut</a><p></ol>
                <ol><i class="fa fa-hand-o-right"></i>  Les parcours mutualisés <p>La mutualisation des parcours vous permet de choisir un parcours déjà existant prêt à l'emploi. Il vous sera possible de le modifier un fois cloné. <br>Récupérer un parcours existant d'un enseignant mutualisateur <a href="{% url 'all_parcourses' %}"   ><i class="fa fa-caret-right"></i> Parcours mutualisés</a></p></ol>
                <ol><i class="fa fa-hand-o-right"></i>  Les parcours personnalisés <p>Vous souhaitez tout paramétrer et créer le parcours en simplement quelques clics. Cet espace vous est dédié.<br>  Créer votre parcours personnalisé <a href="{% url 'create_parcours' %}"   ><i class="fa fa-caret-right"></i>  Nouveau parcours</a></p></ol>



    </div>
</div>
{% endif  %}








</section>

    <div class="modal fade bd-example-modal-lg" id="listing" tabindex="-1" role="dialog" aria-labelledby="listing" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>                
                    <h5 class="modal-title">Liste des élèves - <span id="modal_group_name"></span></h5>
                </div>
                <div class="modal-body">
                    <div id="list_students"></div>
                </div>
            </div>
        </div>
    </div>


{% endblock  %}   


 