{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
 
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
 
    <script>
        require(['script/ajax-parcours']);
    </script> 

<style>
.extend_parcours .col-xs-4, .extend_parcours .col-xs-4, .extend_parcours .col-md-4, .extend_parcours .col-lg-4 {
    padding-right: 0px!important;
}
</style>    
{% endblock %}

 

{% block page_title %}
    <span style="color:{{ group.color|contrast_color_title }}"><i class="bi bi-people"></i>      </span>          {% include 'qcm/breadcrumb.html' %}
    {% if role %}
           <ul> {% include 'qcm/submenu_creation.html' %}</ul>
    {% endif %}
{% endblock %}


{% block page_menu_right %}
    {% include 'group/submenu_group.html' %}
{% endblock %}


{% block css_files %}
{% endblock %}



{% block body  %}

<style type="text/css"> 
.navbar {
    margin-bottom: 15px!important;
}
</style>


{% include 'preloader.html' %}

<section class="content_list" id="principal_section"> 

    
    <div class="row"> 

        <div class="col-xs-6 col-md-3">
            <a href="{% url 'list_questions_flash_by_group' group.id %}" class="btn btn-sacado"><i class="bi bi-speedometer2"></i> Bureau virtuel de {% include 'group/group_labelname.html' %}</a>
        </div>

        <div class="col-xs-6 col-md-3">
            <a href="{% url 'list_questions_flash_by_group' group.id %}" class="btn btn-sacado"><i class="bi bi-webcam"></i>  Questions flash de {% include 'group/group_labelname.html' %}</a>
        </div>
    </div>


    {% if nb_folders %} 
    <div class="row"> 
        <div class="col-xs-12 col-md-12">
            <div class="section_bloc">
            <h1 class="thin"><i class="fa fa-folder-open" ></i> Dossiers</h1> 
                <form action="" methode="POST" id="folders_sortable"> 
                {% for folder in folders  %}  
                    {% include 'qcm/folder_tag.html' %}
                {% endfor %}
                </form> 
                <div style="clear:both"></div>
            </div>

        </div>
    </div>
    {% endif %}

    
    {% if sequences %}
    <div class="row">
        <div class="col-xs-12 col-md-12">            
            <div class="section_bloc">
                <h1 class="thin"> <i class="bi bi-ladder" ></i> Séquences    </h1>
                <div class="row"> 
                    <div class="col-xs-12 col-md-12">
                        {% for parcours in sequences %}   
                              {% include 'qcm/parcours_evaluation_tag.html' %} 
                        {% endfor %}
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
    {% endif %}


    
    {% if parcourses.count > 0 %} 
    <div class="row"> 
        <div class="col-xs-12 col-md-12">            <div class="section_bloc">
            <h1 class="thin"> <i class="fa fa-th" ></i> Parcours  {% if folders %} <small>externes aux {{nb_folders}} dossiers</small>{% endif %} <span class="helper_tip"> <i class="fa fa-question-circle" style="font-size:25px"></i>
                                <div class="helper_tip_text_right" >Vous avez la possibilité de les affecter dans un dossier avec <i class="bi bi-gear"></i>.</div>
                            </span></h1>  
                <form action="" methode="POST" id="parcours_sortable"> 
                {% for parcours in parcourses  %}  
                    
                    {% include 'qcm/parcours_evaluation_tag.html' %}
         
                {% endfor %}
                </form>
                <div style="clear:both"></div>
            </div>

        </div>
    </div>
    {% endif %}
    
     
    {% if evaluations.count > 0 %} 
    <div class="row"> 
        <div class="col-xs-12 col-md-12">           
            <div class="section_bloc">
            <h1 class="thin" id="evaluation"><i class="fa fa-trophy" ></i> Evaluations {% if folders %} <small>externes aux {{nb_folders}} dossiers</small>{% endif %}<span class="helper_tip"> <i class="fa fa-question-circle" style="font-size:25px"></i>
                                <div class="helper_tip_text_right" >Vous avez la possibilité de les affecter dans un dossier avec <i class="bi bi-gear"></i>.</div>
                            </span></h1> 
                <form action="" methode="POST" id="evaluations_sortable">
                {% for parcours in evaluations  %}  
                    
                    {% include 'qcm/parcours_evaluation_tag.html' %}
         
                {% endfor %}
                </form>
                <div style="clear:both"></div>
            </div>

        </div>
    </div>
    {% endif %}

    {% if docpersos %}
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="section_bloc">
                <h1 class="thin"><i class="bi bi-files" ></i> Documents personnels {% if folders %} <small>externes aux {{nb_folders}} dossiers</small>{% endif %} <span class="helper_tip"> <i class="fa fa-question-circle" style="font-size:25px"></i>
                                    <div class="helper_tip_text_right" >Vous avez la possibilité de les affecter dans un parcours avec <i class="bi bi-gear"></i>.</div>
                                </span></h1>
                <div class="row"> 
                    <div class="col-xs-12 col-md-12">
                        {% for docperso in docpersos %}   
                              {% include 'qcm/docperso_tag.html' %} 
                        {% endfor %}
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>

        </div>
    </div>
    {% endif %}

    {% if quizzes %}
    <div class="row">
        <div class="col-xs-12 col-md-12">            
            <div class="section_bloc">
            <h1 class="thin"><i class="bi bi-aspect-ratio" ></i> Quiz {% if folders %} <small>externes aux {{nb_folders}} dossiers</small>{% endif %} <span class="helper_tip"> <i class="fa fa-question-circle" style="font-size:25px"></i>
                                <div class="helper_tip_text_right" >Vous avez la possibilité de les affecter dans un dossier ou un parcours avec <i class="bi bi-gear"></i>.</div>
                            </span></h1>
            <div class="row"> 
                <div class="col-xs-12 col-md-12">
                    {% for quizz in quizzes %}   
                          {% include 'tool/quizz_tag.html' %} 
                    {% endfor %}
                </div>
            </div>
                <div style="clear:both"></div>
            </div>

        </div>
    </div>    
    {% endif %}
    {% if bibliotexs %}
    <div class="row">
        <div class="col-xs-12 col-md-12">            
            <div class="section_bloc">
                <h1 class="thin"><i class="bi bi-bootstrap" ></i> BiblioTex {% if folders %} <small>externes aux {{nb_folders}} dossiers</small>{% endif %} <span class="helper_tip"> <i class="fa fa-question-circle" style="font-size:25px"></i>
                                    <div class="helper_tip_text_right" >Vous avez la possibilité de les affecter dans un dossier ou un parcours avec <i class="bi bi-gear"></i>.</div>
                                </span>
                </h1>
                <div class="row"> 
                    <div class="col-xs-12 col-md-12">
                        {% for bibliotex in bibliotexs %}   
                              {% include 'bibliotex/bibliotex_tag.html' %} 
                        {% endfor %}
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if flashpacks %}
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="section_bloc">
                <h1 class="thin"><i class="bi bi-stack" ></i> Flashpacks {% if folders %} <small>externes aux {{nb_folders}} dossiers</small>{% endif %} <span class="helper_tip"> <i class="fa fa-question-circle" style="font-size:25px"></i>
                                    <div class="helper_tip_text_right" >Vous avez la possibilité de les affecter dans un dossier ou un parcours avec <i class="bi bi-gear"></i>.</div>
                                </span></h1>
                <div class="row"> 
                    <div class="col-xs-12 col-md-12">
                        {% for flashpack in flashpacks %}   
                              {% include 'flashcard/flashpack_tag.html' %} 
                        {% endfor %}
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>

        </div>
    </div>
    {% endif %}



    {% if nb_bases == 0 %} 
        {% if role %}
        <div class="row"> 
            <div class="col-xs-12 col-md-12">
                <div class="alert alert-setup">
                    <h2 class='thin'> 2 façons de disposer d'un parcours </h2>  
                    
                        <ol><i class="fa fa-hand-o-right"></i> <label style="font-size:18px"> Les parcours personnalisés</label> 
                            <p>Vous souhaitez tout paramétrer et créer le parcours en simplement quelques clics. Cet espace vous est dédié.<br>  Créer votre parcours personnalisé dans un premier temps puis sélectionner les exercices de votre choix. 
                                
                            </p>
                        </ol>

                        <ol><i class="fa fa-hand-o-right"></i> <label style="font-size:18px"> Les parcours mutualisés</label> 
                            <p>La mutualisation des parcours vous permet de sélectionner tous les parcours de l'équipe SACADO ou de récupérer un parcours mutualisé par un enseignant de votre établissement. Il vous sera possible de le modifier une fois cloné.
                            </p>
                        </ol>

                </div>
                <h3 class='thin' style="color:white">Conseils : Classer vos parcours par dossier - 2 approches au choix.</h3> 
                <div class="col-xs-6 col-md-6 col-lg-4">
                    <div class="alert alert-setup">
                        <ol>Méthode privilégiée <i class="fa fa-check text-success"></i> </ol>
                        <ol><label style="font-size:18px">1. Créer un dossier</label> </ol>
                        <ol><label style="font-size:18px">2. Depuis le dossier, créer vos parcours</label></ol>
                        <div align="center">
                        <img src="{% static 'img/dossier2.png' %}" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6 col-lg-4">
                    <div class="alert alert-setup">
                        <ol><label style="font-size:18px">1. Créer vos parcours</label> </ol>
                        <ol><label style="font-size:18px">2. Créer votre dossier</label></ol>
                        <ol><label style="font-size:18px">3. Inclure les parcours créés dans le dossier</label></ol>
                        <div align="center">
                        <img src="{% static 'img/dossier1.png' %}"  />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            <div class="row"> 
                <div class="col-xs-12 col-md-12">
                    <div class="alert alert-sacado">Aucun parcours n'est affecté à ce groupe. 
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
</section>

<div class="modal fade" id="parcours_default_modal" tabindex="-1" role="dialog" aria-labelledby="parcours_default_modal">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h2 class="thin sacado">Les parcours par défaut</h2>
                Ces parcours contiennent tous les exercices proposés par <span class="sacado">sacado</span> dans le thème proposé.
                <div id="remediation_shower"> 
                    {% include 'qcm/parcours_default.html' %}
                </div> 
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="listing" tabindex="-1" role="dialog" aria-labelledby="listing" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>                
                <h5 class="modal-title" id="exampleModalLabel">Liste des élèves - <span id="modal_group_name"></span></h5>
            </div>
            <div class="modal-body">
                <div id="list_students"></div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="print_bibliotex" tabindex="-1" role="dialog" aria-labelledby="print_bibliotex">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >

            <form action="{% url 'print_bibliotex' %}" method="POST" enctype='multipart/form-data'> 
                {% csrf_token %}
                <div class="modal-header">     
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                    <h2 id="print_bibliotex_title">  </h2> 
                    <input type="hidden" id="print_bibliotex_id"  name="print_bibliotex_id">  
                </div>
                <div class="modal-body" id="print_bibliotex_body">
     
                </div>
            </form>

        </div>
    </div> 
</div> 

{% endblock  %}   
