{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    <script>
        require(['script/ajax-list-exercise']);
    </script> 
{% endblock %}


{% block page_title %}
    <i class="bi bi-explicit-fill sacado_color_text"></i> Les exercices SACADO en consultation
{% endblock %}

{% block page_menu_right %}



    <li> <a href="{% url 'my_own_exercises' %}" class="btn btn-new"> Mes exercices</a> </li>


    {% if request.user.is_superuser and  '/admin' in request.path %}
    <li ><a href="{% url 'create_supportfile' 100 0 %}"   class="btn btn-new"><img width="25px" src="{% static 'img/plus.png' %}"/> Nouveau support GGB </a> </li> 
    {% endif  %}

{% endblock %}


{% block body %}
{% include 'preloader.html' %}
<section class="content_container">
    {% if datas %}
        {% include 'searching_bar.html' %}

        <div id="content_exercises">
            <div class="alert alert-sacado" style="margin-top:20px;">
                {% if teacher.levels.count == 0 %} 
                <div class="row">
                    <div class="col-xs-2 col-md-1" align="center">
                        <i class="fa fa-warning fa-3x text-warning"></i>
                    </div>
                    <div class="col-xs-10 col-md-11">
                        
                        <br/>Si aucun niveau n'apparait, vous devez sélectionner vos niveaux d'enseignement <a href="{% url 'profile' %}" class="btn btn-sacado">Sélectionner mes niveaux d'enseignement</a>
                    </div>
                </div>
                {% endif %}
                <div class="row"> 
                    <div class="col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <h1 class="sacado_color_text"> Aides et conseils pour construire vos parcours</h1>
                            </div>
                        </div>  
                        <div class="row">
                            <div class="col-xs-6 col-md-2">
                                <a href="{% url 'create_group' %}" class="no_decoration">  
                                    <div  class="round-border" style="margin-top: 40px;margin-bottom: 40px;"> 
                                        1.<br/>  
                                        Créer <br> un  <br/>  
                                        groupe 
                                    </div>                                        
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-2">
                                <a href="{% url 'create_folder' 0 %}" class="no_decoration">
                                    <div  class="round-border" style="margin-top: 40px;margin-bottom: 40px;"> 
                                        2.<br/> 
                                        Créer <br> un<br/> 
                                        dossier<br/> 
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-2">
                                <a href="{% url 'create_parcours' 0 %}" class="no_decoration">
                                    <div class="round-border" style="margin-top: 40px;margin-bottom: 40px;"> 
                                        3.<br> 
                                        Inclure <br> un <br/> 
                                        parcours <br/>  
                                    </div>                                    
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-2">
                                <a href="#" class="no_decoration">
                                    <div class="round-border" style="margin-top: 40px;margin-bottom: 40px; background-color: #efe9ff;" title="vos ne pouvez pas y accéder directement depuis ce lien."> 
                                        4.<br> 
                                        Choisir <br/> les <br/> 
                                        exercices <br/>  
                                    </div>                                    
                                </a>
                            </div>
                            <div class="col-xs-12 col-md-4" style="font-size:24px;">
                            
                                        <b>Mais aussi</b>, créer
                                        des exercices,  créer des quizz, des bibliotex, des flashpacks et les inclure dans vos parcours.
     
                            </div>
                        </div>  


                        {% if not sacado_asso %}
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
 
                                <img src="{% static 'img/conseil.png' %}" width="50px" style="float:left;margin-right:30px"/>  Avec la <b>version Etablissement</b> 
                                <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                    <div class="helper_tip_text" > 
                                        Payante.<br/> 
                                        moins de 500 élèves : 100€ <br/>
                                        moins de 1000 élèves : 200€ <br/>
                                        moins de 1500 élèves : 300€ <br/>
                                        plus de 1500 élèves : 350€ <br/>
                                        en commande directe. <br/>Majoration si commande par eMLS.
                                    </div>
                                </span>
                               , clonez directement les dossiers avec leurs parcours d'exercices d'apprentissage proposés par SACADO. <br/> En <b>10 minutes</b>, tout SACADO est prêt à l'emploi. {% if not is_gar_check %}<br/> Il ne reste qu'à inscrire vos élèves ou leur donner un lien d'inscription.{% endif %}
                                <br/> <br/> <a href="{% url 'ask_school_adhesion' %}" class="btn btn-sacado">Opter pour la version établissement</a> 
     
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>  
        </div>
    {% else %}

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="alert alert-danger">
                <i class="fa fa-warning fa-2x"></i> Avant de visiter les exercices par niveau, vous devez choisir vos <a href="{% url 'profile' %}">niveaux préférés</a>.
            </div>
        </div>
    </div>

    {% endif %}

</section>
{% endblock %}