{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
 
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4_withoutMathJax.js' %}"></script>
 
    <script>
        require(['script/ajax-parcours']);
    </script> 


{% endblock %}

 

{% block page_title %}
       <span style="color:{{ group.color  }}"><i class="fa fa-folder-open"></i></span>  

        {% include 'qcm/breadcrumb_student.html' %}
{% endblock %}

{% block page_menu_right %}


{% endblock %}

{% block css_files %}
{% endblock %}



{% block body  %}

{% include 'preloader.html' %}

<section class="content_list" id="principal_section"> 

 <form action="" methode="POST" >  
 
            {% for parcours in parcourses %}
                {% get_percent parcours student as data %}  
                {% get_min_score parcours student as data_min %}
                <div  class="box box-widget widget-user-2 folder_sorter"  style="{% if parcours.vignette %}background-image: url('{{parcours.vignette.url }}');{% endif  %} background-size: 100% 100%;background-color:{{parcours.color }}"> 
                    <div class="handler widget-user-header">
                         {% if  student.user.school %}  
                            {% if  data_min.boolean %}
                            <div class="background_badge" >
                            <i class="fa fa-trophy" style="color:{{ data_min.colored }};font-size: {{ data_min.size }};z-index:999999; "></i><br/><font style="font-size:12px;color:{{parcours.color }};">{{ data_min.label }}</font>
                            </div>
                            {% endif  %}
                        {% endif  %}
                  
                        {% if parcours.vignette %}                
                            <div class="box_title_underlay_vignette" style="background-color:{{ parcours.color }};">
                            </div> 
                        {% endif  %}
                        <div class="box_title_vignette"> 
                            {% if parcours.title|length > 30 %}
                                <span class="helper_tip" style="color:{{ parcours.color|contrast_color }};font-size:20px;font-weight: 100;cursor:help">
                                    {{ parcours.title|truncatechars:"30" }}
                                    <div class="helper_tip_text_right">{{ parcours.title }}</div>
                                </span>
                            {% else  %}
                                 <span style="color:{{ parcours.color|contrast_color }};font-size:20px;font-weight: 100">{{ parcours.title }}</span>
                            {% endif  %}
                        </div>
                        <div style="font-size:47px;color:#39fa5a;opacity:0.5;position: absolute;right:0px;font-weight: 100;top:125px;z-index:99; " >{{ data.pc }}%</div>
                    </div>
                    <div style="width:{{ data.pc }}%; height:3px; background-color: #39fa5a;font-size:6px;text-align: right;color:#FFF;position: absolute;top:170px;z-index:99;border-radius :0% 10% 10% 0%;"></div>
                    <!-- box-footer DES FONCTIONNALITES  -->
                    <div class="box-footer" style="position: relative; padding-top: 2px;">

                        <div class="row extend_student" > 
                            <div class="col-xs-4 col-md-4 col-lg-4" align="center"> 
                                <a href="{% url 'show_course_student' 0 parcours.id %}"><div class="extend_student_body"><i class="fa fa-mortar-board"></i></div></a>
                                <div class="extend_student_nb">{{ data_min.nb_cours }}</div>                                
                                <div class="extend_student_title">Cours</div>                                
                            </div>
                            <div class="col-xs-4 col-md-4 col-lg-4" align="center"> 
                                <a href="{% url 'show_parcours_student' parcours.id   %}"><div class="extend_student_body"><i class="fa fa-laptop"></i></div></a> 
                                <div class="extend_student_nb">{{  data_min.nb_exercise }}</div>                                                                 
                                <div class="extend_student_title">Exercices</div>
                            </div>
                            <div class="col-xs-4 col-md-4 col-lg-4" align="center">  
                                <a href="{% url 'list_parcours_quizz_student' parcours.id %}"><div class="extend_student_body"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></div></a>
                                <div class="extend_student_nb">{{ data_min.nb_quizz }}</div>                                                                
                                <div class="extend_student_title">Quizz</div>
                            </div>    
                        </div>
                    </div>
                </div>   
            {% endfor  %}   
            {%  if evaluations %}
            <div class="row"></div> 
            <h2 class='thin'>Mes évaluations</h2>
                {%  for evaluation in  evaluations %} 
                    {% get_min_score evaluation student as data_min %} 
                    <div class="small-box-student" style="background-color:{{evaluation.color }};color:{{evaluation.color|contrast_color }};">
                        {% if  student.user.school %}  
                            {% if  data_min.boolean %}
                            <div class="background_badge" >
                            <i class="fa fa-trophy" style="color:{{ data_min.colored }};font-size: {{ data_min.size }} "></i><br/><font style="font-size:12px;color:{{parcours.color }};">{{ data_min.label }}</font>
                            </div>
                            {% endif  %}
                        {% endif  %}
                        <div class="icon-student">
                            <small><i class="fa fa-graduation-cap"></i></small>
                        </div>
                        <div class="small-box-footer-max">
                            <h2 class="white thin">{{ evaluation.title }} 
                                {% if  evaluation.stop %}{% if  evaluation.stop < today %}<sup><i class="fa fa-lock fa-xs" style="font-size:12px;"></i></sup>{% endif %}{% endif %}  
                            </h2>
                           
                            <div style="text-align: center; margin-top: 20px; margin-bottom: 20px">
                             <a href="{% url 'show_parcours_student' evaluation.id  %}" class="btn btn-default btn-accueil"><i class="fa fa-arrow-circle-right"></i> Démarrer</a>
                            </div>
                            <p>
                                <div class="col-md-6  col-lg-6  col-sm-6">
                                    <i class="fa fa-clock-o"></i>  {{ evaluation.evaluation_duration }} min 
                                </div>
                                <div class="col-md-6  col-lg-6  col-sm-6">
                                    {{ evaluation.nb_exercises }} exercice{{ evaluation.exercises.count|pluralize }} 
                                </div>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %} 
</form>
  
</section>

 

{% endblock  %}   
