{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
 
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
 
    <script>
        require(['script/ajax-parcours']);
    </script> 


{% endblock %}

 

{% block page_title %}
    <i class="fa fa-map"></i> Tous mes parcours  <img width="25px" src="{% static 'img/angle-right.png' %}"/>   
{% endblock %}

{% block page_menu_right %}
  <li> <a href="{% url 'all_parcourses' %}"   class="no_button"> Tous les parcours</a></li>
  <li> <a href="{% url 'create_parcours' %}"   class="btn btn-new" ><img width="15px" src="{% static 'img/plus.png' %}"/> Nouveau parcours</a> </li>
{% endblock %}





{% block body  %} 
<style>
body{
    overflow: hidden;
}
</style> 
<section class="content_list"> 

<div class="row">    
   <div class="col-sm-12 col-md-12">
        <table class="table_search display_no_details20"  style="width:100%">
            <thead> 
                <tr> 
                    <th style="width:2px"></th>                  
                    <th style="width:150px"></th>
                    <th style="width:80px"></th>
                    <th></th>
                    <th style="width:100px"></th>
                    <th style="width:100px"></th>
                </tr> 
            </thead>
            <tbody>

            {% if parcourses_no_affect %}
                    <tr>
                        <td></td> 
                        <td class="no_border"><h2 class="thin"> Non affectés <a class="collapser" style="font-size:16px" data-group="0" href="#" style="margin-top: 10px"><i class="fa fa-caret-down"></i></a></h2></td>
                        <td> </td>
                        <td></td><td></td><td></td>
                    </tr>
            {% endif %}
            {% for p in parcourses_no_affect %}
                    <tr class="spacer_up collapside0" style="width:250px;{% if not p.is_publish %}background-color:#eee;{% endif  %}">
                            <td style="background-color: {{ p.color }} ;"></td> 
                            <td class="spacer_up"></td>
                            <td class="spacer_up"></td>
                            <td class="spacer_up"></td>
                            <td class="spacer_up"></td>
                            <td class="spacer_up"></td>
                    </tr> 
                    <tr class="collapside0" style="{% if not p.is_publish %}background-color:#eee;{% endif  %}">
                        <td style="background-color: {{ p.color }} ;"></td> 
                        <td>
                            <a href="{% url 'update_parcours' p.id 0 %}">{{ p.title }}  </a>
                            <br>
                            <span style="font-size:14px">{{ p.nb_exercises }} exercice{{ p.nb_exercises|pluralize }} - {% if p.is_evaluation %}{{  p.evaluation_duration|int_minutes }}{% else %}{{  p.duration_overall|int_minutes }} {% endif %}min.</span>
                            <a href="{% url 'show_parcours' p.id %}" class="btn btn-{% if p.is_publish %}success{% else %}danger{% endif  %} " >
                                {% if p.is_publish %}
                                    <i class="fa fa-eye"></i> Voir {% if p.is_evaluation %}l'évaluation publiée{% else %}le parcours publié{% endif %}  
                                {% else %}
                                    <i class="fa fa-eye-slash"></i> Voir {% if p.is_evaluation %}l'évaluation non publiée{% else %}le  parcours non publié{% endif %}  
                                {% endif  %} 
                            </a><br>
                            <font style="font-size:12px">
                            {% if p.is_evaluation %}
                                Date de publication : {{  p.start|date:"d N Y"  }} à  {{  p.starter  }} 
                                {% if p.stop %}
                                    <br>Fin de publication : {{  p.stop|date:"d N Y"  }} {% if p.stopper %}à {{  p.stopper  }} {% endif %}    
                                {% endif %}                                
                            {% endif %}
                            </font>
                        </td>
                        <td>
                        {% for e in  p.exercises.all  %}
                            {% if not e.is_title %}
                                {% ifchanged %}
                                    <small>{{ e.level.name  }}</small> 
                                {% endifchanged %}
                            {% endif %}
                        {% endfor %}
                        </td>
                        <td>  
                        <a href="{% url 'update_parcours' p.id 0 %}" class="label label-danger">{{ p.students.count }}<i class="fa fa-users"></i> Affecter des élèves à {% if p.is_evaluation %}cette évaluation{% else %}ce parcours{% endif %}</a>  
                        </td>
                        <td>


                            
 
                            <a href="{% url 'peuplate_parcours' p.id   %}" class="btn btn-gestsacado" ><i class="fa fa-laptop"></i> Sélectionner les exercices</a>   
 
                            <a href="{% url 'organize_parcours' p.id %}"  class="btn btn-gestsacado" ><i class="fa fa-th-large"></i>  Gérer le parcours </a> 
                            <a href="{% url 'parcours_tasks_and_publishes' p.id %}"  class="btn btn-gestsacado" > <i class="fa fa-tasks"></i> Gérer le parcours </a> 


                            
                            <a href="{% url 'individualise_parcours' p.id %}" class="btn btn-gestsacado" ><i class="fa fa-user"></i> Individualiser le parcours</a> 

                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr class="spacer collapside0" style="{% if not p.is_publish %}background-color:#eee;{% endif  %}">
                    <td style="background-color: {{ p.color }} ;"></td> 
                    <td class="spacer" style="width:250px;"></td><td class="spacer"></td><td class="spacer"></td><td class="spacer"></td><td class="spacer"></td>
                    </tr>
            {% endfor %}



            {% for group in group_tab %}
                    <tr>
                        <td style="background-color: {{ parcours.color }} ;"></td> 
                        <td class="no_border"><h2 class="thin" id="groupe_name_anchor{{ group.id }}">  {{ group.name }} <a class="collapser" style="font-size:16px" data-group="{{ group.name.id}}" href="#"><i class="fa fa-caret-down"></i></a>
                            <small class="thin">    <a href="{% url 'list_parcours_group' group.name.id %}">En détails</a></small> </h2></td>
                        <td></td>
                        <td></td><td></td><td></td>
                    </tr>

                    {% for parcours in group.parcourses %}
                     
                        {% include 'qcm/list_parcours_body.html' %}

                    {% empty %}
                    <tr> 
                        <td >
                            <div class="alert alert-danger">Aucun parcours créé. </div>
                        </td>
                        <td></td><td></td> <td></td> 
                    </tr>
                    {% endfor %}
                
    
            {% endfor  %} 
            </tbody>
        </table>
    </div>
</div>

</section>

    <div class="modal fade bd-example-modal-lg" id="listing" tabindex="-1" role="dialog" aria-labelledby="listing" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>                
                    <h5 class="modal-title">Liste des élèves - <span id="modal_group_name"></span></h5>
                </div>
                <div class="modal-body">
                    <div id="list_students"></div>
                </div>
            </div>
        </div>
    </div>


{% endblock  %}   


 