{% extends 'qcm/list_parcours.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2_mini.js' %}"></script>
    <script>
        require(['script/ajax-parcours']);
    </script> 
{% endblock %}

 

{% block page_title %}
    <i class="fa fa-folder"></i> Mes dossiers 
{% endblock %}

{% block page_menu_right %}

    <li><a href="{% url 'create_evaluation' 0 %}" class="btn btn-new-evaluation">Nouvelle évaluation</a></li>
    <li><a href="{% url 'create_folder' 0 %}" class="btn btn-green">Nouveau dossier</a></li>

    <li><a href="{% url 'evaluations_archives' %}"  class="no_button"><i class="fa fa-archive"></i> Evaluation{{ nb_archive|pluralize }} archivé{{ nb_archive|pluralize }} ({{ nb_archive }})</a></li>
{% endblock %}


{% block typo_eval_parcours  %}
    <h1 class="thin" style="margin-bottom:0px;"><i class="fa fa-trophy"></i> Mes évaluations</h1> 
{% endblock  %}

{% block modal_boxes  %} 
 
{% endblock  %}   


 