 
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}
 
 
<form action="{% url 'delete_all_questions_flash' %}" method="POST" enctype='multipart/form-data'>     
    {% csrf_token %}
    <section class="content_main"> 
        <table class="table table-sacado table-hovered ordering_tab_1000"  style="position:relative; width:100%" >
            <thead> 
                <tr> 
                    <th style="width:30px"><input type="checkbox" id="select_all_these_items" /></th>
                    <th style="width:80px">Date</th>
                    <th style="width:200px">Titre & Savoir faire ciblés</th>
                    <th>Nb questions</th>
                    <th>Support</th>
                    <th></th>
                    <th></th>
                </tr> 
            </thead>
            <tbody>
                {% for q in qflashs %}
                <tr> 
                    <td><input type="checkbox"  name="selected_checkbox" value="{{ q.id }}" class="items_to_be_selected" /></td>
                    <td>{{ q.date_modified|date:"Y-m-d" }}</td> 
                    <td>{% if q.title %}<small>{{ q.title}}</small>{% endif %}
                        {% for ma in q.mentaltitles.all %}
                        <li class="sanspuce">{{ ma }}  
                            <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                <div class="helper_tip_text" style="width:400px" >
                                    {% for m in q.mental_activities %}<b>+</b> {{ m }}{% if not forloop.last %}<br/>{% endif %}{% endfor %}
                                </div>
                            </span>
                        </li>
                        {% endfor %}
                    </td>
                    <td>{{ q.nb_slide }} <small>[{{ q.duration|time_done }}]</small></td> 
                    <td>
                        <a href="{% url 'show_questions_flash' q.id %}" title="Projeter les questions"><i class="bi bi-webcam"></i></a>
 
                        <a href="#" data-toggle='modal' data-target='#quizz_to_pdf_modal' data-title="{{ q.title }}"  data-idq="{{ q.id }}"  class="quizz_to_pdf_modal"  title="Télécharger les questions en pdf"><i class="bi bi-file-pdf"></i>    </a>

                    </td>
                    <td>  
                        <a href="{% url 'delete_questions_flash' q.id %}" title="Supprimer les questions" onclick="return TestDelete('ces Questions flash')"><i class="bi bi-trash"></i></a>
                    </td>
                    <td>
                        <div class="btn-group"  style="padding:0px;margin:0px;">
                            <a href="javascript:void(0);" 
                                class="btn btn-xs btn-{% if not q.is_publish %}danger{% else  %}success{% endif  %} qf_publisher"  data-qflash_id ="{{q.id}}"  id="qf_publish{{q.id}}"  >  
                              {% if q.is_publish %} Publié  {% else %} Non publié {% endif  %} 
                            </a>
                        </div>   
                    </td>
                </tr> 
                {% endfor %}
            </tbody>
        </table>
        {% if qflash %}
        <button type="sbmit" class="btn btn-danger" onclick="return TestDelete('ces Questions flashs')"><i class="bi bi-trash"></i> Supprimer les questions sélectionnées</button>
        {% endif %}

    </section>
</form>

 <div class="modal fade" id="quizz_to_pdf_modal" tabindex="-1" role="dialog" aria-labelledby="quizz_to_pdf_modal">
    <div class="modal-dialog" role="document" style="width: 750px;">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h1 class='thin'><i class="bi bi-printer"></i> Imprimer <span id="idq_title"></span> en pdf</h1>
            </div>
            <div class="modal-body">
                <form action="{% url 'print_qf_to_pdf' %}" method="POST">
                    <div class="row">            {% csrf_token %}
                        <div class="col-xs-12 col-md-12"> 
                            <input type="hidden" id="index_idq" name="idq" />
                            <table class="table table-sacado borderless">
                                <tr>
                                    <td>Imprimer le corrigé ? <small>Feuille séparée</small></td>
                                    <td><input type="checkbox" name="is_correction" data-toggle="toggle" data-onstyle="primary" data-offstyle="default" data-on="Oui" data-off="Non"/>
                                </tr>                                
                                <tr style="display:none;">
                                    <td>Noter ?</td>
                                    <td><input type="checkbox" name="is_mark" data-toggle="toggle" data-onstyle="primary" data-offstyle="default" data-on="Oui" data-off="Non"/>
                                </tr>
                                <tr style="display:none;">
                                    <td>Modifier les points par question ?  <small>1 par défaut</small></td>
                                    <td><input type="number" name="point"  value="1" min="0" />
                                </tr>
                            </table>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12"> 
                            <div class="form-group">
                                <input value="Valider" type="submit" class="btn btn-primary"/>
                                <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default "/></a>
                            </div>
                        </div>    
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 

 