{% extends 'qcm/list_evaluations.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}




 

{% block page_title %}
    <i class="bi bi-trophy sacado_color_text"></i> Mes évaluations archivées
{% endblock %}


{% block page_menu_right %}

    <li><a href="{% url 'evaluations' %}"  class="no_button">Mes évaluations</a></li>

{% endblock %}





{% block archive %}
 
            <button class="btn btn-default" name="action" value="archiver" onclick="return TestArchive('ces dossiers/fichiers')"> 
                <i class="bi bi-archive"> </i>   Desarchiver la sélection
            </button>
 
{% endblock  %}   


 