{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


   
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>


    <script>
        require(['script/ajax-parcours_shared']);
    </script> 

{% endblock %} 

  
{% block page_title %}


    {% if parcours %} 
        {% include 'qcm/breadcrumb.html' %}
     {% endif  %}   
        <small> Les {% if is_eval == 1 %}évaluations mutualisées{% elif is_eval == 2 %}séquences mutualisées{% else %}parcours mutualisés{% endif  %}   </small>

 


{% endblock %}

{% block page_menu_right %}





    {% if is_eval == 1  %}
    <li> <a href="{% url 'evaluations' %}"   class="btn btn-new-evaluation"> Mes évaluations</a> </li>
    {% elif is_eval == 2 %}
    <li> <a href="{% url 'sequences' %}"   class="btn btn-new"> Mes sequences</a> </li>
    {% else %}
    <li> <a href="{% url 'parcours' %}"   class="btn btn-new"> Mes parcours</a> </li>
    {% endif %}

{% endblock %}


{% block body %}
<section class="content_main">

<!-- Module de recherche -->
<form method="POST"> 
    <div class="row search_bar" style="margin-left:0px; margin-right:0px; ">

        <div class="col-xs-12 col-md-4 col-lg-3">
                <select id="id_subject" name="subject" class="form-control select2">
                    {% for s in teacher.subjects.all %}
                        <option value="{{s.id}}">{{ s.name }}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="col-xs-12 col-md-3 col-lg-2">
                <select id="id_level" name="level" class="form-control select2" >
                    <option value=" ">Choisir un niveau</option>
                    {% for l in teacher.levels.all|dictsort:"ranking" %}
                        <option value="{{l.id}}">{{ l.name }}</option>
                    {% endfor %}
                </select>

                {% if group %}
                    <input id="level_group_comparaison" value="{{group.level.id}}" type="hidden" /> 
                    <input id="is_level_group_comparaison" value="yes" type="hidden" /> 
                {% endif %}

        </div>
        <div class="col-xs-12 col-md-5 col-lg-3">
 

                <select id="id_theme" name="theme" class="form-control select2" multiple>
                    <option value=" ">Choisir un niveau puis un thème</option>
                </select>

        </div>
        <div class="col-xs-12 col-md-12 col-lg-4">

                <input type="text" name="keywords" id="keywords" placeholder="Mots-clés" class="form-control" />
                <input type="hidden" name="is_eval" id="is_eval"  value="{{ is_eval }}" />

        </div>
    </div>
    {% csrf_token %}
            <div class="row" align="center">
                <div id="loader">
                </div>
            </div>  

    {% if parcours %}
         <input type="hidden" name="parcours_id" id="parcours_id" value="{{parcours.id }}"/>
    {% endif %}

               
    <div class="row">
        <div class="col-xs-12 col-md-12">
        {% comment %}
            <div class="alert alert-sacado">            
                
         
                    <img src="{% static 'img/conseil.png' %}" height="40px" />

                <span id="before_choice"> 
                    Lors de votre recherche, vos parcours ne vous sont pas montrés. Ils sont déjà à vous. Seuls les parcours de votre établissement et de l'équipe SACADO vous sont proposés.  Les niveaux et enseignements proposés sont ceux de votre profil. Si vous souhaitez plus de niveaux ou plus d'enseignements, <a href="{% url 'profile' %}" >ajoutez-les dans votre profil</a>.
                </span>

                <span class="no_visu_on_load" id="after_choice"> Adapter l'affichage de votre recherche
                        <input id="listing"  type="checkbox" data-toggle="toggle" data-onstyle="primary" data-offstyle="default" data-on="Liste" data-off="Vignettes" data-width="130"/> 
                </span>
            
            </div>
        {% endcomment %}
        </div>
    </div>
                

  
    <div class="row" id="courses_details">


        <div class="col-xs-12 col-md-12">
            <div style="margin-top:50px">
                <div class="col-xs-12 col-md-12  form_card">
                    Pour trouver des {% if is_eval %}évaluations mutualisées {% else %}parcours mutualisés {% endif  %} , vous devez :   
                    <ol>Sélectionner une matière</ol>
                    <ol>Sélectionner un niveau</ol>
                    <ol>Sélectionner un thème</ol> 
                    <ol>ou choisir un mot clé</ol>
                </div>
            </div>
        </div>

    </div>
 

</form>     
</section>


<div class="modal fade" id="get_course" tabindex="-1" role="dialog" aria-labelledby="get_course">
    <div class="modal-dialog" role="document"  style="width:850px">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h2 id="get_course_title" >Voir un cours</h2>
            </div>

            <div class="modal-body" id="get_course_body">
 
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="clone_course" tabindex="-1" role="dialog" aria-labelledby="clone_course">
    <div class="modal-dialog" role="document" style="width:850px">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <label >Cloner dans un ou plusieurs de mes parcours ci-dessous </label>
            </div>
            <form method="POST">
                <div class="modal-body" id="get_course_result">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="duplication_modal" tabindex="-1" role="dialog" aria-labelledby="duplication_modal">
    <div class="modal-dialog modal-lg" role="document">                
        <form action="" method="POST" enctype='multipart/form-data' id="duplicate_form"> 
        <div class="modal-content" >
            <div class="modal-header">     
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h2>Duplication dans vos groupes du parcours : <span id="this_document_title"></span></h2>
            </div>
            <div class="modal-body">
                <p class="text-index_blue">Voici vos groupes du même niveau que  {% include 'group/group_labelname.html' %} et leurs dossiers eventuels. Cocher ceux dans lesquels vous souhaitez placer ou rattacher votre parcours.</p>

                    {% csrf_token %}<input type="hidden" name="this_document_id" id="this_document_id" />
                    <div class="row">
                    {% for grp in same_level_groups %}
                    <div class="col-xs-6 card_modal_search exercise_body_shared" style="height:350px">
                        <div class="quizz_item" style="background-color:{{ grp.color }}">
                            <label  class="btn btn-sacado">Groupe : {{ grp.name|truncatechars:22 }} <input type="checkbox" name="groups" value="{{ grp.id }}" {% if group.id == grp.id %} checked {% endif %}  class="group_name" /> </label>
                            <div class="form_card {% if group.id == grp.id %}no_visu_on_load{% endif %}" style="padding : 15px 5px "><label>Dossiers associés</label> 
                            {% for folder in  grp.group_folders.all  %}
                                <div class="quizz_item"> 
                                    <label class="btn btn-sacado full_width" style="color:{{ folder.color }}; border:color:{{ folder.color }}">{{ folder.title|truncatechars:29 }} <input type="checkbox" name="folders" value="{{ folder.id }}" /></label>
                                </div>
                            {% endfor %} 
                            </div>
                        </div>
                    </div>
                    {% endfor %} 
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="javascript:void();" class="btn btn-primary" id="duplicate_button_action"  data-dismiss="modal"  >Dupliquer le parcours <span id="this_document_label"></span></a>
                        </div>
                    </div>       
            </div>
        </div>
        </form> 
    </div> 
</div>
{% endblock %}

   