{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
 
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4_withoutMathJax.js' %}"></script>
 
    <script>
        require(['script/ajax-parcours']);
    </script> 


{% endblock %}

 

{% block page_title %}
<span  style="color:{{ parcours.color }}"><i class="bi bi-list-ul"></i>  
 

        {% include 'qcm/breadcrumb_student.html' %}   <span style="color:{{ parcours.color  }}"> <small class="thin">Les quizz</small></span>  
{% endblock %}

{% block page_menu_right %}


        
    {% include 'qcm/submenu_parcours_student.html' %}

  
{% endblock %}

{% block css_files %}
{% endblock %}



{% block body  %}

{% include 'preloader.html' %}

<section class="content_list" id="principal_section"> 

    
        {% for q in quizzes %}
                {% if q.vignette %}
                <div class="col-xs-6 col-md-4 col-lg-3"> 
                    <div class="card" style="float:none; height:225px;width:250px">
                        <img src="{{ q.vignette.url }}" width="250px" height="150px" border=0 />
                        <a {% if q.is_numeric and not q.is_video %} href="{% url 'goto_quizz_student' q.id  %}" target="_blank"{% else %} href="{% url 'show_quizz_student' q.id  %}" {% endif %}  style="font-weight: normal;"> 
                            <div style="padding: 10px;width:100%; height:75px">
                                {{ q.title|truncatechars:28 }} <small><br/><i class="fa fa-barcode fa-xs"></i> {{ q.code }} <br/> {{ q.questions.count }} diapos</small> 
                            </div> 
                            
                        </a>
                    </div>
                </div>
                {% else %}
                <div class="col-xs-6 col-md-4 col-lg-3" > 
                    <div class="card" style="float:none; height:250px;width:250px;position: relative;">
                        <img src="{% static 'img/quizz.jpg' %}" width="250px" border=0  />
                        <a {% if q.is_numeric and not q.is_video %} href="{% url 'goto_quizz_student' q.id  %}" target="_blank"{% else %} href="{% url 'show_quizz_student' q.id  %}" {% endif %}  style="font-weight: normal"> 
                            <div style="padding: 10px;width:100%; height:75px; position:absolute;bottom: 0px">
                                {{ q.title|truncatechars:28 }} <small><br/><i class="fa fa-barcode fa-xs"></i> {{ q.code }} <br/> {{ q.questions.count }} diapos</small> 
                            </div> 
                            
                        </a>
                    </div>
                </div>
                {% endif %}
        {% endfor %}

 

  
</section>

 

{% endblock  %}   

 