{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}


    {% block require %}
    <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common3.js' %}"></script>
    {% endblock %}


 

{% block page_title %}
      <i class="fa fa-{% if  'parcours_task_and_publish' in request.path %}calendar-o{% else %}cogs{% endif %}" style="color:{{ parcours.color }}"></i> <span style="color:{{ parcours.color }}">{{ parcours.title }} </span>   <small style="font-weight: 100" ><img src="{% static 'img/angle-right.png' %}"/> Par défaut     <img src="{% static 'img/angle-right.png' %}"/>
      {% if  'parcours_task_and_publish' in request.path %}
      Tâches et publications
      {% else %}
      Ordonner les exercices
      {% endif %}
      </small>
{% endblock %}



{% block page_menu_right %}

    {% include 'qcm/submenu_parcours.html' %}

 
     <li><a href="{% url 'index'  %}"  class="no_button"/> Mes groupes</a> </li>





{% endblock %}



{% block body %} 
<style>
    body{
      overflow: hidden;
    }
</style>



<div class="col-sm-12 col-md-12">
    <section class="content_list"> 
        <form action="#" method="POST"> 
        <input type="hidden" value="{{ parcours.id }}" name="parcours" id="parcours"/>
        {% csrf_token %} 
          <div class="row">
                  {% for data in data_tab %}
                  <div  class="panel-section"  id="theme{{ data.theme.id }}" style="clear:both" />
                      <input type="hidden" value="{{ data.theme.id }}" name="input_theme_id" class="div_theme_id"/><!--  sert à classer les thèmes  -->
                      <div class="panel-title"> 
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter}}" class="listing" style="font-size:24px;padding-left:15px;clear:both">
                              <i class="fa fa-caret-right"></i> {{ data.theme }} 
                          </a>
                          {% get_all_details  data.theme  parcours as detail_theme %} 
                          <div class="pull-right" style="font-size: 20px; margin-top: 7px;">
                              <span style="margin-right: 15px;">Exercices publiés : <strong>{{ detail_theme.pub}}</strong>/<strong>{{ detail_theme.total}}</strong></span>
                              <span style="margin-right: 15px;">Tâches proposées : <strong>{{detail_theme.done}}</strong></span>
                              <span> en cours : <strong>{{detail_theme.in_air}}</strong></span>
                          </div>
                      </div>
                      <div id="collapse{{ forloop.counter}}" class="panel-collapse collapse in">
                          <div class="exercise_sortable" id="miseEnAttenteDashboard"><!--  sert à classer les exercices  -->
                              {% for relation in data.relationships|dictsort:"order" %} 
                                  {%  if relation.exercise.supportfile.is_title %}       
                                      <h2 class="listing thin" style="width:100%; clear:both; margin-left:20px"> {{ relation.exercise.supportfile.annoncement|cleanhtml|capfirst }}</h2>
                                  {%  elif relation.exercise.supportfile.is_subtitle %}
                                      <h3 class="listing thin" style="width:100%; clear:both; margin-left:20px"> {{ relation.exercise.supportfile.annoncement|cleanhtml|capfirst }}</h3>
                                  {% else %}  
                                        {% include 'qcm/details_card.html' %}
                                  {% endif %} 
                              {% endfor %}
                          </div>
                      </div>
                  </div>
                  {% empty %}
                      <h3 class="thin" style="padding-left: 10px">Aucun thème</h3>
                  {% endfor %}

          </div>
        </form>
 
    </section>
</div>



<div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="help">
    <div class="modal-dialog" role="document"  style="width:700px;">
        <div class="modal-content" style="padding-top :0px;">
            <div class="modal-header">
                <h4>Détail d'un exercice.</4>
                Pour organiser l'ordre dans le parcours, glisser et déposer les exercices.
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">   
                         <img src="{% static 'img/card_details.jpg' %}">
                    </div>   
                </div> 
            </div>
        </div>
    </div>
</div>

{% include 'qcm/order_list.html' %}

{% endblock %}


 