{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}


    {% block require %}
    <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common3.js' %}"></script>
    {% endblock %}


 

{% block page_title %}
      <i class="fa fa-{% if  'parcours_task_and_publish' in request.path %}calendar-o{% else %}cogs{% endif %}" style="color:{{ parcours.color }}"></i> <span style="color:{{ parcours.color }}">{{ parcours.title }} </span>   <small style="font-weight: 100" ><img src="{% static 'img/angle-right.png' %}"/> Par défaut   <img src="{% static 'img/angle-right.png' %}"/>
      {% if  'parcours_task_and_publish' in request.path %}
      Tâches et publications
      {% else %}
      Ordonner les exercices
      {% endif %}
      </small>
{% endblock %}



{% block page_menu_right %}
   <li>
        <a href="{% url 'populate_parcours'  parcours.parcours_group.id %}"   class="no_button"><i class="fa fa-tasks"></i> Sélectionner les exercices</a> 
    </li>
    <li>
        <span class="btn btn-{% if not parcours.is_publish %}danger{% else  %}success{% endif  %}" style="cursor:default">  
          {% if parcours.is_publish %} Parcours publié  {% else %} Parcours dépublié {% endif  %} 
        </span>
 
    </li>
{% endblock %}





{% block body %} 
<style>
.panel {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

</style>
<div class="col-sm-12 col-md-12">
    <section class="content_main"> 
        <form action="" method="POST"> 
        <input type="hidden" value="{{ parcours.id }}" name="parcours" id="parcours"/>
        {% csrf_token %} 
          <div class="row">
              <div class="well">             
                  <div class="accordion" >
                  {% for data in data_tab %}
                  <div  class="panel-section {% if not forloop.last %} separation_dashed{% endif %}"  id="theme{{ data.theme.id }}" />
                      <input type="hidden" value="{{ data.theme.id }}" name="input_theme_id" class="div_theme_id"/> 
                      <div class="panel-title"> 
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter}}" class="listing" style="font-size:24px;padding-left:15px;">
                              <i class="fa fa-caret-right"></i> {{ data.theme }} 
                          </a>
                          {% get_all_details  data.theme  parcours as detail_theme %} 
                          <div class="pull-right" style="font-size: 20px; margin-top: 7px;">
                              <span style="margin-right: 15px;">Exercices publiés : <strong>{{ detail_theme.pub}}</strong>/<strong>{{ detail_theme.total}}</strong></span>
                              <span style="margin-right: 15px;">Tâches proposées : <strong>{{detail_theme.done}}</strong></span>
                              <span> en cours : <strong>{{detail_theme.in_air}}</strong></span>
                          </div>
                      </div>
                      <div id="collapse{{ forloop.counter}}" class="panel-collapse collapse">
                          <div class="panel panel-default exercise_sortable" style="border-radius:5px" id="miseEnAttenteDashboard"><!--  sert à classer les exercices  -->
                              {% for relationship in data.relationships|dictsort:"order" %} 
                                  <div class="panel-body   {% if not forloop.last %} separation_dashed{% endif %}" 
                                        style="line-height: 30px; {% if not forloop.first %} border-bottom-right-radius:5px; border-bottom-left-radius:5px;{% endif %} 
                                                                  {% if not forloop.last %} border-top-right-radius:5px; border-top-left-radius:5px;{% endif %}
                                                                  {% if theme.list|length == 1 %} border-radius:5px; {% endif %}
                                                                  {% if relationship.exercise.is_publish %}border-left: #1fd14c solid 2px;{% endif %}">
<!--  Partie toujours visible de l'exercice  -->
                                      <div class="header_exercise">                       
                                          <input type="hidden" value="{{ relationship.exercise.id }}" name="input_exercise_id" class="div_exercise_id"/><!--  sert à classer les thèmes  -->
                                          <span id="pub_task{{relationship.id}}">{% if relationship.date_limit > today %}<span class="label label-success">Tâche</span>{% endif %}</span> 

 
                                          {% if relationship.exercise.supportfile.annoncement %}
                                          <a href="{% url 'show_this_exercise' relationship.exercise.id   %}" class="listing" >  {{ relationship.exercise.supportfile.annoncement|cleanhtml|capfirst }}</a>
                                          {% else %}
                                          <a href="{% url 'show_this_exercise' relationship.exercise.id   %}" class="listing" >  {{ relationship.exercise.knowledge.name|capfirst }}</a>
                                          {% endif %}


                                          <a data-toggle="collapse" href="#collapside{{ forloop.counter}}"><i class="fa fa-caret-down"></i></a>                                           
                                          <div class="pull-right"> 
                                              <a href="#" class="btn btn-{% if not relationship.is_publish %}default{% else  %}success{% endif  %} action_content" style="margin-left:5px;" id="publisher{{relationship.id}}"  data-relationship_id="{{relationship.id}}" data-status="{{relationship.is_publish }}" >
                                                {% if relationship.is_publish %} Publié  {% else %} Dépublié {% endif  %} 
                                              </a>
                                              <a data-toggle="collapse" 
                                                          href="#collapside{{ forloop.counter}}" 
                                                          class="btn btn-default" 
                                                          style="margin-left:5px;"  data-relationship_id="{{relationship.id}}">
                                                  Tâche ?  
                                              </a>
                                          </div>
                                      </div>
<!--  Partie collapsable de l'exercice  -->
                                      <div id="collapside{{ forloop.counter}}" class="collapse">
                                          <div class="pull-right"> 

                                              <br/>
                                              <div id="starter{{relationship.id}}" style="display:{% if relationship.is_publish %}none{% else %}block{% endif  %} " >
                                              Publication le<br/>
                                              <input type="type" name="starter" data-relationship_id="{{relationship.id}}" data-type ="0" value="{{ relationship.start|date:"Y-m-d" }}" class="datepicker dates" />
                                              </div>


                                                
                                              <div id="task_detail{{relationship.id}}">
                                                Tâche pour le <br/>
                                                <input type="type" name="dateur" data-relationship_id="{{relationship.id}}" data-type ="1" value="{{ relationship.date_limit|date:"Y-m-d" }}" class="datepicker dates" />
                                              </div>
                                          </div>
                                              <a href="{% url 'show_this_exercise' relationship.exercise.id   %}" > <img src="../../../../static/uploads/{{ relationship.exercise.supportfile.imagefile }}" class="imagefile"></a>
                                              {{ relationship.exercise.supportfile.annoncement|cleanhtml|capfirst }}                                                    
                                              {% if relationship.exercise.supportfile.calculator %}
                                                  <img src="{% static 'img/calculator.png' %}" width="30px" />
                                              {% else %}
                                                  <img src="{% static 'img/no_calculator.png' %}"  width="30px" />
                                              {% endif  %}   <br>
                                            <span style="font-size:16px;">    
                                                <i class="fa fa-barcode"></i> {{ relationship.exercise.supportfile.code }} {% if relationship.exercise.knowledge.name|make_list|length < 140 %}<br>{% endif %}
                                                <i class="fa fa-clock-o"></i> {{ relationship.exercise.supportfile.duration }} minutes {% if relationship.exercise.knowledge.name|make_list|length < 140 %}<br>{% endif %}
                                                <i class="fa fa-save"></i> {{ relationship.exercise.supportfile.situation}} situation{{ relationship.exercise.supportfile.situation|pluralize}}  minimum
                                            </span>
                                      </div>
<!--  fin Partie collapsable de l'exercice  -->
                                  </div>
                               {% endfor %}


                          </div>
                      </div>
                  </div>
                  {% empty %}
                      <h3 class="thin" style="padding-left: 10px">Aucun thème</h3>
                  {% endfor %}
                  </div>
              </div>
          </div>
        </form>
        <div class="row">
            <div  style="margin-top: 20px">
                <div class="form-group">
                    <a href="{% url 'index' %}"  class="btn btn-subsacado "/><i class='fa fa-users'></i> Retour vers Mes groupes</a>
                    {% if parcours %}
                    <a href="javascript:history.back()"  class="btn btn-subsacado "/><i class='fa fa-map'></i> Retour vers {{ parcours }}</a>
                    {% endif %}
                    <a href="{% url 'parcours' %}"  class="btn btn-subsacado "/><i class='fa fa-map'></i> Retour vers Mes parcours</a>
                </div>

            </div>
        </div>
    </section>
</div>
{% endblock %}


 