{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}


{% block require %}
    <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common3.js' %}"></script> 
    <script>
        require(['script/ajax-real-time-parcours']);
    </script>
{% endblock %}



{% block page_title %}

    {% if parcours %}
    <span style="color:{{ parcours.color }}"><i class="bi bi-clock-history"></i> </span> 
    {% endif %}

      {% include 'qcm/breadcrumb.html' %}

       <small>  Suivi en temps réel</small>


{% endblock %}




{% block page_menu_right %}  
    {% include 'qcm/submenu_parcours.html' %}
{% endblock %}





{% block body %}
 

<section class="real_time_list" > 
 
<div class="row">
    <div class="col-sm-12 col-md-12">
        Visualiser le message : <span id="app"></span>
    </div>
</div>

 
{% csrf_token %} 
<input type="hidden" name="parcours_id" id="parcours_id" value="{{ parcours.id }}" />
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <table  class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th style="width:150px">Nom et prénom</th>

                    {% for rc in rcs %}
                    <th style="position: relative;" class="sub_over">
                        {% if rc.exercise.supportfile.imagefile %}
                        <img src="{{ rc.exercise.supportfile.imagefile.url }}" width="150px" class="imagefile" />
                        {% else %} <span class="th_real_time_label">{{ rc.instruction|safe|truncatewords:"20" }}</span>
                        <img src="{% static 'img/custom_exercise.jpg' %}" width="150px" class="imagefile" />
                        {% endif %}
                    </th> 
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for student in  students %}

                        <tr class="init" id="tr_student_{{ student.user.id }}">
                            <td style="min-width:250px;" id="student_is_live_{{ student.user.id }}"  >
                                {{ student |truncatechars:"30" }}     
                            </td>
                            {% for rc in rcs %}

                                {% if rc.exercise %}
                                <td style="text-align:center" id="rc_{{ rc.parcours.id }}_{{ rc.exercise.id }}_tr_student_{{ student.user.id }}">
                                    <canvas id="{{rc.exercise.id}}|{{student.user.id}}" width="80" height="12"></canvas>
                                </td>
                                {% else %}
                                <td style="text-align:center" id="rc_{{ parcours.id }}_{{ rc.id }}_tr_student_{{ student.user.id }}" class="init">
                                    <span class="is_tr_display"><i class="fa fa-circle text-default fa-xs "></i></span>
                                    <a href="{% url 'correction_exercise' rc.id parcours.id student.user.id  %}" class = "init_link no_visual_link" ><i class='fa fa-eye text-success'></i></a>
                                </td>
                                {% endif  %}
                            {% endfor %}   
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div> 

 

 <div
     style="width: 400px;
     border-style : solid;
     min-height: 120px;
     max-height: 300px;
     _Height: 120px; // Compatible IE6, give high-internal element
     overflow, open father tag
     margin-left: auto;
     margin-right: auto;
     padding: 3px;
     outline: 0; // Firefox browser's DIV will have a dotted box whenthe focus of the editable mode
     border: 1px solid #a0b3d6;
     font-size: 12px;
     word-wrap: break-Word; // Allow long words or URL addresses to nextline
     overflow-x: hidden;
     overflow-y: auto;
     _overflow-y: visible;"
      id="chat" contenteditable="true" >Messages à destination de tous
les élèves</div>
     <br>
     <input type="text" onchange="PostMessageGeneral()" id="entreechat">

 

</section>

 

{% endblock %} 