{% load static %}
{% load item_tags %}

 
 

{% get_score  relationship.exercise  student as score %}

{% if score != "" %}
    <a class="markdown
            {% if score < stage.low %}
             red 
            {% elif score < stage.medium  %}
            orange
            {% elif score < stage.up  %}
            green
            {% else %}
            darkgreen
            {% endif %}"
          href="{% url 'show_this_exercise'  relationship.exercise.id   %}" data-container="body"
          data-toggle="popover" 
          data-trigger="hover" data-placement="top"
          data-content="{{ relationship.exercise.knowledge.name }}">
        {{ score }}
    </a>
{% else %}
    <a class="markdown"                                                   
          href="{% url 'show_this_exercise' relationship.exercise.id %}" data-container="body"
          data-toggle="popover"  
          data-trigger="hover"
          title="Exercice" data-placement="top"
          data-content="{{ relationship.exercise.knowledge.name }}"> 
          {{ score }}
    </a>
{% endif %}

