{% load static %}
{% load item_tags %}

 

{% if relationship.parcours.is_evaluation  %}

    {% get_score_student_for_this  relationship  student as score %}

    {% if score  %}
        <a class="helper_tip markdown
                {% if score < stage.low %}
                 red 
                {% elif score < stage.medium  %}
                orange
                {% elif score < stage.up  %}
                green
                {% else %}
                darkgreen
                {% endif %}"
              href="{% url 'show_this_exercise'  relationship.exercise.id   %}" 
              target="_blank" >
     

                  {{ score.point }}<div class="helper_tip_text">{{ relationship.exercise.knowledge.name }}</div>

     

        </a>
    {% else %}
        <a class="markdown helper_tip" href="{% url 'show_this_exercise'  relationship.exercise.id   %}" target="_blank"  >

                 <div class="helper_tip_text">{{ relationship.exercise.knowledge.name }}</div>
     
        </a>
    {% endif %}


{% else %} 

      {% get_score  relationship.exercise  student as score %}

      {% if score > 0 %}
          <a class="helper_tip markdown
                  {% if score < stage.low %}
                   red 
                  {% elif score < stage.medium  %}
                  orange
                  {% elif score < stage.up  %}
                  green
                  {% else %}
                  darkgreen
                  {% endif %}"
                href="{% url 'show_this_exercise'  relationship.exercise.id   %}" 
                target="_blank" >
                    {{ score }}<div class="helper_tip_text">{{ relationship.exercise.knowledge.name }}</div>
          </a>
      {% else %}
          <a class="markdown helper_tip" href="{% url 'show_this_exercise'  relationship.exercise.id   %}" target="_blank"  >

                    {{ score }}<div class="helper_tip_text">{{ relationship.exercise.knowledge.name }}</div>
       
          </a>
      {% endif %}

{% endif %}


