{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}
 
{% block page_title %}
 <a href="{% url 'show_parcours_student' relation.parcours.id %}" style="color:{{ parcours.color }}">
  <i class="fa fa-desktop"></i> {{ relation.parcours }}
  </a> <img src="{% static 'img/angle-right.png' %}"/> 
  <small> {{ relation.exercise.knowledge.name }}</small>
{% endblock %}

{% block page_menu_right %}
  {% if relation.exercise.supportfile.title %} <li style="margin-top:15px"><em><p>{{ relation.exercise.supportfile.title  }} </p></em></li>   
  {% elif relation.exercise.supportfile.annoncement %} <li style="margin-top:15px"><em><p>{{ relation.exercise.supportfile.annoncement|safe  }} </p></em></li>  {% endif %}
{% endblock %}


{% block require %}
  <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common3.js' %}"></script>  
  <script>
     require(['script/ajax-score']);
  </script>  
{% endblock %} 

{% block body  %}  


<section class="content_main content_main_exercise">
 
 


    <div class="col-sm-0 col-md-1 col-lg-1 full_screen_size">
        <div class="calculator double_bottom_padding">
        {% if relation.exercise.supportfile.calculator %}
          <img src="{% static 'img/calculator.png' %}"  class="img_size_square_75" />
        {% else %}
          <img src="{% static 'img/no_calculator.png' %}"    class="img_size_square_75" />
        {% endif  %} 
        </div>
        <div class="horloge">
            {% if relation.duration == 5 %}
              <img src="{% static 'img/horloge5.png' %}"   class="img_size_square_75" />
            {% elif relation.duration == 10 %}
              <img src="{% static 'img/horloge10.png' %}"   class="img_size_square_75" />
            {% elif relation.duration == 15 %}
              <img src="{% static 'img/horloge15.png' %}"   class="img_size_square_75" />
            {% elif relation.duration == 20 %}
              <img src="{% static 'img/horloge20.png' %}"   class="img_size_square_75"  />
            {% elif relation.duration == 25 %}
              <img src="{% static 'img/horloge25.png' %}"   class="img_size_square_75"  />
            {% elif relation.duration == 30 %}
              <img src="{% static 'img/horloge30.png' %}"   class="img_size_square_75" />
            {% elif relation.duration == 35 %}
              <img src="{% static 'img/horloge35.png' %}"    class="img_size_square_75" />
            {% elif relation.duration == 40 %}
              <img src="{% static 'img/horloge40.png' %}"   class="img_size_square_75"/>
            {% elif relation.duration == 45 %}
              <img src="{% static 'img/horloge45.png' %}"    class="img_size_square_75" />
            {% elif relation.duration == 50 %}
              <img src="{% static 'img/horloge50.png' %}"   class="img_size_square_75" />
            {% elif relation.duration == 55 %}
              <img src="{% static 'img/horloge55.png' %}"   class="img_size_square_75" />
            {% elif relation.duration == 60 %}
              <img src="{% static 'img/horloge60.png' %}"   class="img_size_square_75" />
            {% else %}
              <img src="{% static 'img/horloge15.png' %}"   class="img_size_square_75" />
            {% endif  %} 
            <p> {{ relation.duration }} minute{{ relation.duration|pluralize }}</p>
        </div>
        <div class="situation">
            <img src="{% static 'img/situation.png' %}"  class="img_size_square_75" />
            <p>{{ relation.situation }} situation{{ relation.situation|pluralize }}</p>
        </div>
        <div class="barcode">
            <i class="fa fa-barcode fa-4x"></i>
            <p>{{ relation.exercise.supportfile.code }}</p>
        </div>
    </div>  
    <div class="col-sm-10 col-md-8 col-lg-8">

      {% for remediation in relation.relationship_remediation.all %}

          {% if remediation.consigne %}
          <audio controls>
              <source src="{{ remediation.mediation.url }}" type="audio/mpeg">
              <span class="text-danger">Votre navigateur ne lit pas l'audio.</span>
          </audio>
          {% endif %}

      {% endfor  %} 


      <form action="{% url 'store_the_score_relation_ajax'  %}" method="POST" enctype='multipart/form-data'>   
        {% csrf_token %}  
          <div id="preloader">
            <div class="alert alert-danger" role="alert" id="message_alert">
                <i class="fa fa-warning"></i> Si vous voyez ce message après 15 secondes, l'exercice ne s'est pas chargé correctement. Rechargez votre page.<br> Sous Windows, appuyez simultanement sur CTRL et la touche F5
            </div>
          </div>

          <div class='justify-content-center'  style="position:relative">

              <div style="position:absolute;bottom:80px;font-size: 12px;width:50px;color:#0d72ac;left:780px;">
                  Mode plein <br> écran <br>
                  <img src="{% static 'img/flechebleue.png' %}" style="position:absolute; right:30px;"/>            
              </div>

              <div class = 'col-auto' id='ggb_applet_container' style="display:none" ></div>
          </div>

       
                  <div class="form-group">  
                    {% if user.user_type == 0 %}  
                        {% get_is_lock parcours today as is_lock %} 
                        {% if not is_lock %}
                          <input  class="btn btn-primary"   type="submit" id="submit_button_relation"  value="Enregistrer le résultat"  />
                        {% else %}  

                          <div class="alert alert-danger"><small><b>Soumisssion interdite.</b> <a href="{% url 'profile' %}">Vous n'avez peut être pas renseigné votre fuseau horaire</a> ou avez dépassé la date permise. Contacter votre enseignant. </small></div>

                        {% endif %}               
                    {% endif %}   
                      <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default "/></a>
                      

                      <!-- ligne d'enregistrement -->
                      <input id="relation" name="relation_id"  type="hidden" value="{{ relation.id }}"/>
                      <input id="start_time" name="start_time"  type="hidden" value="{{ start_time }}"/>
                      <input id="numexo" name="numexo" type="hidden"  />
                      <input id="score" name="score" type="hidden"  />
                      <input id="situation" name="situation"  type="hidden" value="{{ relation.situation }}"/> 
                      <!-- fin ligne d'enregistrement -->


                  </div>
            
      </form>
    </div> 
    <div class="col-sm-2 col-md-1 col-lg-1">

      {% if relation.relationship_remediation.all|length > 0 %}
      <h1 class="thin">Aides</h1>
         {% for remediation in relation.relationship_remediation.all %}
              <a href="#" data-target="#remediation_viewer" data-remediation_id="{{ remediation.id }}" data-is_custom="0"  data-url="0" data-toggle='modal' class="white remediation_viewer btn btn-default full_width">
                  {% include 'qcm/remediation_choices.html' %}
              </a><br/><br/>
          {% endfor  %} 
      {% endif  %}
    </div>
    <div class="col-sm-12 col-md-2 col-lg-2">
        {% if user.user_type == 2 %}
            <form action="{% url 'add_exercice_in_a_parcours' %}" method="POST" enctype='multipart/form-data'>   {% csrf_token %}
                <input type="hidden" id="id_exercise"  name="exercise" required="" value="{{ exercise.id }}">
                 Attribuer cet exercice à un parcours 
                <input type="hidden" id="exercises_parcours"  name="exercises_parcours" required="" value="{% for p in parcours %}{%  get_is_selected   exercise  p   as is_sel  %}{% if is_sel %}{{ p.id }}{% endif %}{% if not forloop.last %}-{% endif %}{% endfor %}">
                 <table class = "table">
                {% for p in parcours %}
                    <tr>{% if p %} {%  get_is_selected   exercise  p   as is_sel  %} {% endif %} 
                        <td><label><input type="checkbox" id="id_parcours"  name="parcours"  value="{{ p.id }}"  {% if is_sel %} checked{% endif %}> {{ p.title }}</label></td>
                        <td>Ordre. <input type="number" id="id_orders" class="form-control" name="orders" min="0" step ="1" > </td>
                    </tr>
                {% empty %}
                    <tr><td><small>Pour attribuer cet exercice à un parcours, il faut <a href="{% url 'create_parcours' 0 %}" class="btn-primary">créer un parcours</a>.</small></td></tr>
                {% endfor %}
                </table>


                {% if parcours|length > 0 %}
                <div class="form-group">
                  <input value="Associer/Dissocier" type="submit" class="btn btn-primary"/>
                </div>
                {% endif %}

            </form>
        {% endif  %}  

        {% if not relation.parcours.is_evaluation %}
        {% if relation.relationships_courses.all|length > 0 %}      
          <h4 style="color:{{ relation.parcours.color }}">Le cours </h4>
          <ul class="nav nav-pills nav-stacked admin-menu">
              {% for course in relation.relationships_courses.all %}
                  <li class="{% if forloop.first %}active{% endif %} menu_course">
                      <a href="#" data-toggle='modal' data-target='#menu_course{{ forloop.counter }}'  data-relation_id='{{ relation.id }}' class="header_shower"> {{ course.title }}</a> 
                      <div class="modal fade" id="menu_course{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="menu_course{{ forloop.counter }}">
                          <div class="modal-dialog" role="document"  style="width:95%;color:#000">
                              <div class="modal-content" style="padding-top :0px;">
                                  <div class="modal-header">
                                      <h3>{{ course.title }}
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button> 
                                      </h3>
                                  </div>
                                  <div class="modal-body">
                                      <div class="row">
                                          <div class="col-lg-12 col-xs-12">   
                                              {{ course.annoncement|safe }}
                                          </div>   
                                      </div> 
                                  </div>
                              </div>
                          </div>
                      </div>
                  </li>
              {% endfor %}

          </ul>
          <hr/>
        {% endif %}    
        {% endif %}  




              <div class="row">
                  <div class="col-lg-12 col-xs-12"> 
                    <div class="form-group"> 
                        <a href="#" id='error_set' class="pull-right btn btn-warning" >Signaler <span class="label_plus"> un problème sur cet exercice</span> ? </a>
                    </div>
                 </div>                     
              </div> 
              <div class="row">
                  <div class="col-lg-12 col-xs-12"> 
                    <div class="form-group" id='form_error_set'> 
                        <form action="" method="POST">    {% csrf_token %}
                            <div class="form-group">
                                <textarea name="message" id="message"   class="form-control" placeholder="Vous devez décrire le problème brièvement. Merci."></textarea>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-xs-12">   
                                    <div class="form-group">
                                        <a id="error_sender" data-from ="0" data-exercise_id="{{ exercise.id }}" class="pull-right btn btn-warning">Signaler</a>
                                    </div>
                                </div>  
                                <div class="col-lg-12 col-xs-12">   
                                    <div class="verif_sender">
                                    </div>
                                </div>  
                            </div> 
                        </form>
                    </div>
                 </div>                     
            </div> 
    </div>  












    <script type="text/javascript" src="{% static 'js/lib/geogebra.js' %}"></script>
                  <!-- Additional Javascript for Geogebra exercises -->
    <!-- <script type="text/javascript" src="https://cdn.geogebra.org/apps/deployggb.js"></script> -->
    <script type="text/javascript">
          // parameters of the geogebra app

        console.log("ouverture de JS");


        var parameters = {
                "appname":"classic",
                "id":"ggb_applet_container",
              "prerelease":false,
              "width":{{ exercise.supportfile.width }},
              "height":{{ exercise.supportfile.height }},
              "showToolBar":{{ exercise.supportfile.toolBar|lower }},
              "showfullscreenbutton":true,
              "borderColor":"#f5f8fd",
              "showMenuBar":{{ exercise.supportfile.menuBar|lower }},
              "showAlgebraInput":{{ exercise.supportfile.algebraInput|lower }},
              "showResetIcon":{{ exercise.supportfile.resetIcon|lower }},
              "enableLabelDrags":false,
              "enableShiftDragZoom":{{ exercise.supportfile.dragZoom|lower }},
              "enableRightClick":false,
              "capturingThreshold":null,
              "showToolBarHelp":false,
              "errorDialogsActive":false,
              "useBrowserForJS":false,
              "langage":"en",
              "filename":"{{ exercise.supportfile.ggbfile.url }}",
               "appletOnLoad" :  function(applet) { 

                        applet.setValue("situation",{{ relation.situation }});

                }

        };

 




        var applet = new GGBApplet('5.0', parameters,true);
        // Geogebra applet creation
        applet.inject('ggb_applet_container', 'preferHTML5');  
 

    </script>
    
    <div style="height:20px"></div>

</section>


{% endblock  %}   

 
