{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 
    {% if parcours %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    {% endif %}

    <script>
        require(['script/ajax-parcours']);
    </script> 

{% endblock %} 





 
 

{% block page_title %}
<span  style="color:{{ parcours.color }}"> <i class="fa fa-th"></i>   {{ parcours }} 
 
 
<img src="{% static 'img/angle-right.png' %}"/> 
<small class="thin">{{ nb_exercises }} exercice{{ nb_exercises|pluralize }}</small> </span>
{% endblock %}

{% block page_menu_right %} 
{% if today %}
 <font style="font-size:16px">{{ today|date:"d N Y, H:i" }}</font> <a href="{%  url 'profile' %}" style="font-size:11px" title="Régler le fuseau horaire"><i class="fa fa-clock"></i></a>
{% endif %}
{% endblock %}

 

{% block body %}
 
      
<section class="content_list"> 


    <div class="row">
        <div class="col-lg-{% if courses|length > 0 %}10{% else %}12{% endif %} col-xs-12">
            {% for relation in relationships %}
                {%  if relation.exercise.supportfile.is_title %}       
                    <h2 class="listing thin" style="width:100%; clear:both"> 
                        {% if relation.is_header_of_section  %}
                            <a href="#" data-toggle='modal' data-target='#head_of_section'    data-relation_id='{{ relation.id }}'  class="header_shower" title="Cours associé à cette section">{{ relation.exercise.supportfile.annoncement|cleanhtml|capfirst }} <sup><i class="fa fa-desktop" style="font-size: 9px"></i></sup></a>
                        {% else %}
                            {{ relation.exercise.supportfile.annoncement|cleanhtml|capfirst }}
                        {% endif %}
                    </h2>

                {%  elif relation.exercise.supportfile.is_subtitle %}
                    <h3 class="listing thin" style="padding-left: 30px; width:100%; clear:both"> 
                        {% if relation.is_header_of_section %}
                            <a href="#" data-toggle='modal' data-target='#head_of_section'  data-relation_id='{{ relation.id }}' class="header_shower" title="Cours associé à cette sous-section">{{ relation.exercise.supportfile.annoncement|cleanhtml|capfirst }} <sup><i class="fa fa-desktop" style="font-size: 9px"></i></sup></a>
                        {% else %}
                            {{ relation.exercise.supportfile.annoncement|cleanhtml|capfirst }}
                        {% endif %}
                    </h3>
               {% else %} 
                    {% get_constraint_to_this_relationship  relation  student as    under_score   %}
                    {%  get_last_score_and_time   relation.exercise   relation.parcours   student    as    data %}
                    {%  get_noggb_data   relation   student    as    noggb_data %}
                    <!-- div de résultat SACADO corrigé par le prof -->                    
                    <div class="card_freeze" {% if data.score %} style="opacity:0.8" {% endif %}>


                            <div id="div_results{{ relation.id }}" class="div_results" >
                                <div class="row">
                                    <div class="col-sm-12 col-md-12"> <a href="#" class="div_results_close pull-right" data-relation_id="{{relation.id}}"><i class="fa fa-times"></i></a>     
                                      {% if noggb_data.comment %}
                                        <label  style="font-size: 10px;font-weight: 600">Commentaire :</label> {{ noggb_data.comment }} 
                                        <hr style="padding:0px; margin:10px 0px"/> 
                                      {% endif %}
                                      {% if noggb_data.audio %}
                                        <audio controls  class="dv_results">
                                          <source src="{{ noggb_data.audio.url }}" type="audio/mpeg">
                                          <span class="text-danger">Votre navigateur ne lit pas l'audio.</span>
                                        </audio>
                                        <hr style="padding:0px; margin:10px 0px"/> 
                                      {% endif %}
                                    </div>
                                </div>                            
                                <div class="row">
                                    <div class="col-sm-12 col-md-12"> 
                                        <a href="#" data-toggle='modal' data-target='#my_production' 
                                                        class="read_my_production pull-right" data-student_id="{{ student.user.id}}" data-custom=0 
                                                        data-exercise_id="{{ relation.id}}">
                                            <b> Voir ma copie</b>
                                        </a>   
                                        <label  style="font-size: 10px;font-weight: 600">Compétences 
                                           
                                        </label>
                                          {% for d in noggb_data.skills.all %} 
                                            <li class="sanspuce" style="font-size: 10px;">{{d.skill.name }}  <i class="fa fa-square
                                                {% if d.point < stage.low %}
                                                 text-danger 
                                                {% elif d.point < stage.medium  %}
                                                 text-warning 
                                                {% elif d.point < stage.up  %}
                                                 text-success 
                                                {% else %}
                                                 text-primary 
                                                {% endif %}"></i>  </li>
                                          {% endfor %}
                                    </div>
                                </div>   
                            </div>                           

                        <!-- Fin de div de résultat -->
                        <!-- Si l'exercice est bloqué, on pose une div par-dessus -->
                        {% if  under_score %} <!-- under_score = l'exercice est sous contrainte car l'élève n'a pas obtenu les résultats suffisants-->
                            <div class="under_constraint"> <!-- div de fond pour opacité -->
                            </div>    
                            <div class="label_under_constraint"> <!-- Texte -->
                                <div class="row">
                                    <div class="interdit_under_constraint">
                                        <i class="fa fa-minus-circle fa-4x" style="color:#dd4b39"></i>
                                    </div> 
                                    <div class="text_under_constraint">
                                        Pour accéder à cet exercice, vous devez réussir les exercices ci-dessous avec les scores minimum donnés.
                                    </div>
                                </div>
             
                                <div  class="clear_under_constraint">
                                    <div class="col-xs-12 col-md-12">
                                        {% if relation.relationship_constraint.all|length == forloop.counter0 %} <br> <br>
                                            <span class="text-red"> Tous les exercices précédents avec 

                                              {% for constraint in relation.relationship_constraint.all %}
                                                    {% if forloop.last %}  {{ constraint.scoremin }}% {% endif %} 
                                              {% endfor %}
                                            </span>
                                        {% else %}   

                                              {% for constraint in relation.relationship_constraint.all %}
                                                    <div class="text-red"  style="font-size: 12px;"><i class="fa fa-minus-circle"></i> {{ constraint }}</div>
                                              {% endfor %}

                                        {% endif %} 
                                    </div>
                                </div>
                            </div>
                            <div class="date_under_constraint"><!-- div de la date centrée -->
                                {% if  relation.date_limit %}
                                    {% if not data.score %} 
                                        <div  class="btn btn-danger" >   
                                              Avant le {{relation.date_limit|date:"d N Y" }}
                                        </div>
                                    {% endif %}    
                                {% endif %}  
                            </div>
                        {% endif %} 


                        <div class="card-body student">
                            <span style="font-size: 40px; padding-left:3px;float:left; padding-top: 10px; {% if not data.score %} color: {{ relation.parcours.color}} ;  {% endif %} ">
                                {{ nb_exo_only|index:forloop.counter0 }}.</span> 
                            <div class="card-score-student">

                                {% get_is_submitted relation student as submitter %}
                                {% if submitter %}
                                <div style="font-size: 10px; text-align: center; position: absolute; top:0px; background-color: {{ relation.parcours.color}}; color: #FFF; border-radius: 4px;z-index: 9">En attente<br> de correction</div>
                                {% endif %}

                                {% if data.score or data.score > -1 %}
                                    <span class="markdown
                                            {% if data.score < 30 %}
                                             red 
                                            {% elif data.score < 60 %}
                                            orange
                                            {% elif data.score < 80 %}
                                            green
                                            {% else %}
                                            darkgreen
                                            {% endif %}">
                                        {{ data.score }}
                                    </span> 
                                    {% if relation.exercise.supportfile.is_ggbfile %}
                                        <font style="font-size:10px">{{ data.time}}</font>
                                    {% endif %} 

                                {% else %}
                                    <span class="markdown"> 
                                           
                                    </span>
                                {% endif %}
                            </div>
                            {% if relation.exercise.supportfile.calculator %}
                              <img src="{% static 'img/calculator.png' %}" class="pull-right" width="35px" />
                            {% else %}
                              <img src="{% static 'img/no_calculator.png' %}" class="pull-right"   width="35px" />
                            {% endif  %} 
                        </div>                    
                        <div class="card-image">


                            {% if student %}
                                {% if relation.exercise.supportfile.is_ggbfile %}          
                                <a href="{% if not is_lock %}{% url 'execute_exercise'  relation.parcours.id  relation.exercise.id   %}{% endif %}">  <img src="{{ relation.exercise.supportfile.imagefile.url }}"  class="image_parcours" {% if not relation.is_publish %} style="opacity:0.8" {% endif %}    ></a>
                                {% else %}
                                    {% get_this_exercise_is_locked  student relation relation.parcours 0 today as is_blck %}
                                    {% if is_blck %}

                                        <div class="alert alert-danger" style="position: absolute; z-index:9; top:100px;font-size:12px;border-radius: 0px 4px 4px  0px;"> 
                                              <i class="fa fa-lock"></i> <span class="hidden_lock"> {{ customexercise.lock|date:"d-m-Y à H:i" }}</span>
                                        </div>
                                        <a href="#"> 
                                            <img src="{{ relation.exercise.supportfile.imagefile.url }}"  class="image_parcours" {% if not relation.is_publish %} style="opacity:0.8" {% endif %}  >
                                        </a>
                                    {% else %}
                                        <a href="{% url 'write_exercise'  relation.id   %}"> 
                                            <img src="{{ relation.exercise.supportfile.imagefile.url }}"  class="image_parcours" {% if not relation.is_publish %} style="opacity:0.8" {% endif %}  >
                                        </a>
                                    {% endif %}
                                {% endif  %}
                            {% else %}
                            <a href="#" class="detail_parcours"  data-exercise_id="{{ relation.exercise.id }}"  data-num_exo="{{ forloop.counter}}"
                                                       data-parcours_id="{{ parcours.id }}">
                                                        <img src="{{ relation.exercise.supportfile.imagefile.url }}" class="image_parcours" {% if not relation.is_publish %} style="opacity:0.6" {% endif %}  >
                                                       </a> 
                            {% endif  %}
                            {% if  relation.date_limit %}
                                {% if not data.score %} 
                                    <div  class="btn btn-danger"  style="position: absolute; right : 0px; top:120px;">   
                                          Avant le {{relation.date_limit|date:"d N Y" }}
                                    </div>
                                {% endif %}    
                            {% endif %}   
                            <div class="card-text" style="background-color:{{ parcours.color }};color:{{ parcours.color|contrast_color }}">
                                <i class="fa fa-fw fa-barcode"></i> {{ relation.exercise.supportfile.code }}
                                <i class="fa fa-fw fa-clock-o"></i> {{ relation.duration }} min.
                                <i class="fa fa-fw fa-save"></i> {{ relation.situation}}
                                
                                {% if not relation.parcours.is_evaluation %}
                                {% if relation.relationships_courses.all|length > 0 %}  
                                    <i class="fa fa-fw fa-desktop"></i>
                                {% endif  %}
                                {% endif  %}



                                {% if noggb_data.is_corrected %}
                                    <span class="pull-right selector_div_result" data-relation_id ="{{ relation.id }}"  data-custom=0 ><i class="fa fa-trophy"></i></span>
                                {% else %}
                                    {% if submitter %}
                                        {% if not relation.exercise.supportfile.is_ggbfile %}  
                                        <span class="pull-right selector_div_result" data-relation_id ="{{ relation.id }}"  data-custom=0 ><i class="fa fa-copy"></i></span>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% if relation.relationship_mastering.all|length > 0 %}
                                <a href="{% url 'mastering_student_show' relation.id %}" target="_blank" class="helper_tip_card" style="color:{{ parcours.color|contrast_color }}">
                                    <i class="fa fa-fw fa-sitemap pull-right"></i>
                                    <div class="helper_tip_text_card" >Cet exercice ouvre un parcours de maitrise.</div>
                                </a>
                                {% endif  %}
                                {% if relation.relationship_remediation.all|length > 0 %}
                                    <span class="helper_tip_card"><i class="fa fa-fw fa-paperclip pull-right" style="color:{{ parcours.color|contrast_color }}"></i>
                                    <div class="helper_tip_text_card" >Cet exercice contient une aide extérieure ou une consigne orale.</div>
                                </span>
                                {% endif  %}
                            </div>
                        </div>
                    </div> 
                {% endif %}          
            {% endfor %}
         

            {% for customexercise in customexercises %}
                {% get_score_student_for_this customexercise student as score %}
                {% get_is_submit customexercise parcours student as submitter %}
                {% get_all_results_custom customexercise student parcours as data %} 
                    <div class="card_freeze"  {% if score %} style="opacity:0.8" {% endif %}  >
                        <!-- div de résultat -->
                        {% if submitter %}
                            <div id="div_results_custom{{ customexercise.id }}" class="div_results" >
                                {% if data %}
                                <div class="row">
                                    <div class="col-sm-12 col-md-12"> <a href="#" class="div_results_custom_close pull-right" data-customexercise_id="{{customexercise.id}}"><i class="fa fa-times"></i></a>     
                                      {% if data.point %}
                                        <label  style="font-size: 10px;font-weight: 600;">Note : {{ data.point }}/{{ customexercise.mark }} </label><br>
                                      {% endif %}
                                      {% if data.comment %}
                                        <label  style="font-size: 10px;font-weight: 600">Commentaire :</label> {{ data.comment }} 
                                        <hr style="padding:0px; margin:10px 0px"/> 
                                      {% endif %}  
                                      {% if data.audio %}
                                        <audio controls >
                                          <source src="{{ data.audio.url }}" type="audio/mpeg">
                                          <span class="text-danger">Votre navigateur ne lit pas l'audio.</span>
                                        </audio>
                                        <hr style="padding:0px; margin:10px 0px"/> 
                                      {% endif %}
                                    </div>
                                </div>  
                                {% endif %}  
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">  
                                        <a href="#" data-toggle='modal' data-target='#my_production' 
                                                        class="read_my_production pull-right" data-student_id="{{ student.user.id}}" data-custom=1 
                                                        data-exercise_id="{{ customexercise.id}}">
                                            <b> Voir ma copie {% if customexercise.is_publish_cor %}+ corrigé {% endif %}</b>
                                        </a>  
                                        <label  style="font-size: 10px;font-weight: 600">Compétences</label>
                                          {% for d in data.skills.all %} 
                                            <li class="sanspuce" style="font-size: 10px;">{{d.skill.name }}  <i class="fa fa-square
                                                {% if d.point < stage.low %}
                                                 text-danger 
                                                {% elif d.point < stage.medium  %}
                                                 text-warning 
                                                {% elif d.point < stage.up  %}
                                                 text-success 
                                                {% else %}
                                                 text-primary 
                                                {% endif %}"></i>  </li>
                                          {% endfor %}
                                    </div>
                                </div>  
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">   
                                        <label  style="font-size: 10px;font-weight: 600;">Savoir faire </label>
                                          {% for dt in data.knowledges.all %}
                                            <li class="sanspuce" style="font-size: 10px;">{{dt.knowledge.name }}  <i class="fa fa-square
                                                {% if dt.point < stage.low %}
                                                 text-danger 
                                                {% elif dt.point < stage.medium  %}
                                                 text-warning 
                                                {% elif dt.point < stage.up  %}
                                                 text-success 
                                                {% else %}
                                                 text-primary 
                                                {% endif %}"></i></li>
                                          {% endfor %} 
                                    </div>
                               </div>   
                            </div>
                        {% endif %}                              
                        {% if data.is_corrected %}
                            <div class="teacher_corrected"  >
                                {% if data.point %}
                                    <label  style="font-size: 12px;font-weight: 600;">{{ data.point }}/{{ customexercise.mark }} </label>
                                {% else %}
                                    Exercice non noté
                                {% endif %}
                            </div>                             
                        {% endif %}
                        <!-- Fin de div de résultat -->

                        <div class="card-body student">
                            <span style="font-size: 40px; padding-left:3px;float:left; padding-top: 10px; {% if not score %} color: {{ parcours.color}} ;  {% endif %} ">
                                {{ nb_exo_only_c|index:forloop.counter0 }}.</span> 
                            <div class="card-score-student"  >

                            {% if submitter %}
                            <div style="font-size: 10px; text-align: center; position: absolute; top:0px; background-color: {{ parcours.color}}; color: #FFF; border-radius: 4px">En attente<br> de correction</div>
                            {% endif %}
                            </div>
                            {% if customexercise.calculator %}
                              <img src="{% static 'img/calculator.png' %}" class="pull-right" width="35px" />
                            {% else %}
                              <img src="{% static 'img/no_calculator.png' %}" class="pull-right"   width="35px" />
                            {% endif  %} 
                        </div> 
                        <div class="card-image"> 
         
                          <div style="position: absolute; left : 30px; top:41px;" id="annoncement{{customexercise.id}}"   >   
                              <span class="helper_tip btn btn-default">Consigne
                                <div class="helper_tip_text_right">{{customexercise.instruction|insert_tags:45|safe}} </div> 
                              </span>
                          </div>

                            {% get_this_exercise_is_locked  student customexercise parcours  1 today as is_blck %}

                            {% if is_blck %}
                                {% if customexercise.imagefile %} 
                                    <img src="{{ customexercise.imagefile.url }}"  class="image_parcours" >
                                {% else %}
                                    <img src="{% static 'img/custom_exercise.png' %}"  class="image_parcours" >
                                {% endif %}
                                <div class="alert alert-danger" style="position: absolute; z-index:7; top:100px; border-radius: 0px 4px 4px 0px;"> 
                                    <i class="fa fa-lock"></i> 
                                </div>  
                            {% else %}


                                <a href="{% url 'write_custom_exercise' customexercise.id parcours.id %}"> 
                                    {% if customexercise.imagefile %} 
                                        <img src="{{ customexercise.imagefile.url }}"  class="image_parcours" >
                                    {% else %}
                                        <img src="{% static 'img/custom_exercise.png' %}"  class="image_parcours" >
                                    {% endif %}
                                </a>
                            {% endif %}    

                            {% if  customexercise.date_limit %}
                                {% if not customexercise.score %} 
                                    <div  class="btn btn-danger"  style="position: absolute; right : 0px; top:120px;">   
                                        Avant le {{customexercise.date_limit|date:"d N Y" }}
                                    </div>
                                {% endif %}    
                            {% endif %} 
              
                            <div class="card-text" style="background-color:{{ parcours.color }};color:{{ parcours.color|contrast_color }}">
                                <i class="fa fa-fw fa-barcode"></i> {{ customexercise.code }}
                                <i class="fa fa-fw fa-clock-o"></i> {{ customexercise.duration }} min



                                {% if customexercise.customexercise_remediation.all|length > 0 %}
                                    <span class="helper_tip_card"><i class="fa fa-fw fa-paperclip" style="color:{{ parcours.color|contrast_color }}"></i>
                                            <div class="helper_tip_text_card" >Cet exercice contient une aide extérieure ou une consigne orale.</div>
                                </span>
                                {% endif  %}


                               {% if customexercise.customexercise_mastering_custom.all|length > 0 %}
                                <a href="{% url 'mastering_custom_student_show' customexercise.id %}" target="_blank" style="color:{{ parcours.color|contrast_color }}">
                                    <i class="fa fa-fw fa-sitemap pull-right"></i>
                                </a>
                                {% endif  %}

                                {% if data.is_corrected %}
                                    <span class="pull-right selector_div_result_custom" data-customexercise_id ="{{ customexercise.id }}"  data-custom=1 ><i class="fa fa-trophy"></i></span>
                                {% else %}                            
                                    {% if submitter %}
                                        <span class="pull-right selector_div_result_custom" data-customexercise_id ="{{ customexercise.id }}"  data-custom=1 ><i class="fa fa-copy"></i></span>
                                    {% endif %}
                                {% endif %}

                            </div>
                        </div>
                    </div>               
            {% endfor %}
        </div>


        {% if courses|length > 0 %}      
        <div class="col-lg-2 col-xs-12">
            <h4 style="color:{{ parcours.color }}">Le cours du parcours</h4>
            <ul class="nav nav-pills nav-stacked admin-menu">
                {% for course in courses %}
                    <li class="{% if forloop.first %}active{% endif %} menu_course">
                        <a href="#" data-toggle='modal' data-target='#menu_course{{ forloop.counter }}'  data-relation_id='{{ relation.id }}' class="header_shower"> {{ course.title }}</a> 
                    

                        <div class="modal fade" id="menu_course{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="menu_course{{ forloop.counter }}">
                            <div class="modal-dialog" role="document"  style="width:95%;color:#000">
                                <div class="modal-content" style="padding-top :0px;">
                                    <div class="modal-header">
                                        <h3>{{ course.title }}
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button> 
                                        </h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-xs-12">   
                                                {{ course.annoncement|safe }}
                                            </div>   
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>

                {% endfor %}

            </ul>
        </div>
        {% endif %}          
    </div>
</section>
 

<div class="modal fade" id="head_of_section" tabindex="-1" role="dialog" aria-labelledby="head_of_section">
    <div class="modal-dialog" role="document"  style="width:95%;">
        <div class="modal-content" style="padding-top :0px;">
            <div class="modal-header">
                <h3>Cours associé
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">   
                        <div id="courses_from_section"></div>
                    </div>   
                </div> 
            </div>
        </div>
    </div>
</div>
   

<div class="modal fade" id="my_production" tabindex="-1" role="dialog" aria-labelledby="my_production">
    <div class="modal-dialog" role="document"  style="width:95%;">
        <div class="modal-content" style="padding-top :0px;">
            <div class="modal-header">
                <h3>Travail rendu
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">   
                        <div id="my_production_paper"></div>
                    </div>   
                </div> 
            </div>
        </div>
    </div>
</div>



{% endblock %}

 
 
 
 