{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 

    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>

    <script>
        require(['script/ajax-parcours']);
    </script> 
{% endblock %} 


 

{% block page_title %}
<span style="color:{{ parcours.color }}"><i class="fa fa-th"></i> </span>

    {% include 'qcm/breadcrumb.html' %}

<small >{{ parcours.nb_exercises }} exercice{{ parcours.nb_exercises|pluralize }}</small> </span>
{% endblock %}




{% block page_menu_right %}

    {% include 'qcm/submenu_parcours.html' %}
 
{% endblock %}

 

{% block body %}

<style type="text/css">
body{
    overflow: hidden;
}  

#response_div{
    display:none;
}
</style>

{% include 'preloader.html' %}
<div class="row" id="response_div">
    <div class="col-sm-12 col-md-12">
        <div class="alert alert-success" id="response">Votre commentaire audio est enregistré</div>
    </div>
</div>

<form action="" methode="POST">      
<section class="content_list exercise_sortable" id="miseEnAttenteDashboard">
 
 
{% if parcours.stop %}
<div class="row" >
    <div class="col-sm-12 col-md-12">
        <div class="alert alert-danger" >{% if parcours.is_evaluation %}Cette évaluation est verrouillée {% else %}Ce parcours est verrouillé {% endif %} à partir du <b>{{ parcours.stop|date:"d F Y à H:i" }}</b></div>
    </div>
</div>
{% endif %}





<input type="hidden" value="{{ parcours.id }}" name="parcours" id="parcours"/>
    {% for relation in relationships %}
        {%  if relation.exercise.supportfile.is_title %}     
            <h2 class="listing thin" style="padding-left: 30px; width:100%; clear:both"> 
                {% if relation.is_header_of_section  %}
                    <a href="#" data-toggle='modal' data-target='#head_of_section'    data-relation_id='{{ relation.id }}'  class="header_shower" title="Cours associé à cette section">                       
                        {% if  relation.exercise.supportfile.title %}  
                            {{  relation.exercise.supportfile.title|cleanhtml|capfirst }}  
                        {% else %}
                            {{ relation.exercise.supportfile.annoncement|cleanhtml }}
                        {% endif %}   <sup><i class="fa fa-desktop" style="font-size: 9px"></i></sup></a>
                {% else %}
                    {% if  relation.exercise.supportfile.title %}  
                        {{  relation.exercise.supportfile.title|cleanhtml|capfirst }}  
                    {% else %}
                        {{ relation.exercise.supportfile.annoncement|cleanhtml }}
                    {% endif %}
                {% endif %}
            </h2>
        {%  elif relation.exercise.supportfile.is_subtitle %}
            <h3 class="listing thin" style="padding-left: 30px; width:100%; clear:both"> 
                {% if relation.is_header_of_section %}
                    <a href="#" data-toggle='modal' data-target='#head_of_section'  data-relation_id='{{ relation.id }}' class="header_shower" title="Cours associé à cette sous-section">{{ relation.exercise.supportfile.annoncement|cleanhtml|capfirst }} <sup><i class="fa fa-desktop" style="font-size: 9px"></i></sup></a>
                {% else %}
                    {{ relation.exercise.supportfile.annoncement|cleanhtml|capfirst }}
                {% endif %}
            </h3>
        {% else %}  
            {% include 'qcm/details_card.html' %}
        {% endif %}  
 

    {% endfor %}



    {% for customexercise in customexercises %}
        {% include 'qcm/details_card_custom.html' %}
    {% endfor %}


    {% if customexercises|length == 0 and relationships|length == 0 %}
        {% if parcours.is_folder %}
            <div class="row">
                <div class="col-sm-12 col-md-1">
                </div>
                <div class="col-sm-12 col-md-2" style="margin :40px 0px 0px 0px">
                    <i class="fa fa-folder-open fa-10x" style="color: {{ parcours.color }}"></i>
                </div>
                <div class="col-sm-12 col-md-9" style="margin :40px 0px 0px 0px">
                    <p>Ce parcours est un dossier. </p>
                    <p>Pour lui attribuer des parcours, revenir à votre tableau de bord.</p>
                    <p><a href="{% url 'index' %}" >Choisir ses sous-parcours associés.</a></p>
                </div>
            </div>


        {% else %}
            <div class="row">
                <div class="col-sm-3 col-md-3" style="margin:40px">
                <a href="{% url 'peuplate_parcours' parcours.id   %}" class="btn btn-danger"> Associer des exercices SACADO à {% if parcours.is_evaluation %} cette évaluation {% else %} ce parcours{% endif %}</a>  
                </div> 
                <div class="col-sm-3 col-md-3" style="margin:40px">
                <a href="{% url 'parcours_create_custom_exercise' parcours.id 0  %}" class="btn btn-danger"> Créer un exercice personnalisé dans {% if parcours.is_evaluation %} cette évaluation {% else %} ce parcours{% endif %}</a>  
                </div> 
            </div> 
        {% endif %}
    {% endif %}



    {% if sacado_asso %}
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                {% if parcours.teacher != teacher  and  parcours.is_share %}
                    <a href="{% url 'clone_parcours' parcours.id 0 %}" class="btn btn-primary">Cloner ce parcours </a>    
                    <a href="{% url 'clone_parcours' parcours.id 1 %}" class="btn btn-primary">Cloner ce parcours avec le cour associé</a>  
                {% endif %} 
                <input type="button" value="Retour" class="btn btn-default" onclick="javascript:history.back()"/>
            </div>
        </div>
    </div>  
    {% endif %}  

</section>
</form>

 
 
<div class="modal fade" id="head_of_section" tabindex="-1" role="dialog" aria-labelledby="head_of_section">
    <div class="modal-dialog" role="document"  style="width:95%;">
        <div class="modal-content" style="padding-top :0px;">
            <div class="modal-header">
                <h3>Cours associé
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                </h3>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">   
                              <div id="courses_from_section"></div>
                        </div>   
                    </div> 
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="remediation" tabindex="-1" role="dialog" aria-labelledby="remediation">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
             
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h2  class='sacado'  >Ajouter une aide, une consigne</h2>
            </div>
            <div class="modal-body">
                <div id="remediation_form">
                </div>
                 <div class="row audio" id="audio" >
                    <form enctype="multipart/form-data" action="" method="post">                    
                        <div class="col-sm-12 col-md-12"> 
                            <label>Audio</label>           
                            <div class="form-group">
                                <div id="controls">
                                    <button type="button" id="recordButton" class="btn btn-danger"><i class="fa fa-microphone"></i></button>
                                    <button type="button" id="pauseButton" disabled  class="btn btn-default"><i class="fa fa-pause"></i> </button>
                                    <button type="button" id="stopButton" disabled  class="btn btn-default"><i class="fa fa-stop"></i></button>
                                </div>
                                <div id="formats"></div>
                                <label><small>Vous pouvez vous enregistrer plusieurs fois pour déterminer la meilleure prise.</small></label>
                                <ol id="recordingsList"></ol>
                                <!-- inserting these scripts at the end to be able to use all the elements in the DOM  -->
                                <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
                                <script src="{% static 'js/script/recorder_voice.js' %}"></script>
                            </div>
                        </div>                
                        <input name="id_relationship" id="id_relationship" type="hidden" />
                        <input name="id_parcours" id="id_parcours" type="hidden" value="{{ parcours.id }}" />
                    </form>                    
                </div> 
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="change_parcours" tabindex="-1" role="dialog" aria-labelledby="change_parcours">
    <div class="modal-dialog" role="document" >
        <div class="modal-content" style="padding-top :0px;">
            <form action="{% url 'replace_exercise_into_parcours' %}" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
                <div class="modal-header">
                    <h3>Déplacer un exercice   
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">   
                            <input  name="change_parcours_exercise_id" type="hidden" id="change_parcours_exercise_id"   />
                            <input  name="change_parcours_parcours_id" type="hidden" id="change_parcours_parcours_id"   />
                            <input  name="change_parcours_custom" type="hidden" id="change_parcours_custom"   />                            
                        </div>   
                    </div> 

                    <div class="row">
                        <div class="col-lg-12 col-xs-12">  
                                Si vous souhaitez conserver cet exercice dans le parcours actuel, 
                                cocher aussi le parcours actuel signalé. Sinon l'exercice sera déplacé et n'apparaitra plus dans ce parcours.                       
                        </div>   
                    </div> 
                    <hr/>

                    <div class="row">
                        <div class="col-lg-12 col-xs-12"> 
                            <div class="form-group">
                                {% for p in parcours_group %}

                                   <label> 
                                        <input type="checkbox" name="change_into_parcours" id="change_into_parcours{{ p.id }}"  value="{{ p.id }}" /> 
                                        {% if p.id == parcours.id %}<b>{{ p.title}} <i class="fa fa-hand-o-right"></i> Parcours actuel</b>{% else %} {{ p.title}} {% endif%}
                                    </label>
                                    <br>

                                {% endfor %}
                            </div>
                        </div>   
                    </div> 

                    <div class="row">
                        <div class="col-lg-12 col-xs-12"> 
                            <div class="form-group">
                                <input  value="Déplacer cet exercice dans ces parcours" 
                                        type="submit" class="btn btn-primary" 
                                        onclick="changeExerciceIntoParcours()" />
                                <a href="#" class="btn btn-default" data-dismiss="modal" aria-label="Close">Fermer</a>
                            </div>
                        </div>   
                    </div> 
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

 
 
 
 