{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 
    {% if parcours %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    {% endif %}

    <script>
        require(['script/ajax-parcours']);
    </script> 

{% endblock %} 





 
 

{% block page_title %}
<span  style="color:{{ parcours.color|contrast_color_title }}"> <i class="fa fa-th"></i>   {{ parcours }} 
 
 
<img src="{% static 'img/angle-right.png' %}"/> 
<small class="thin">{{ nb_exercises }} exercice{{ nb_exercises|pluralize }}</small> </span>
{% endblock %}

{% block page_menu_right %}
{% if today %}
 <font style="font-size:16px">{{ today|date:"d N Y, H:i" }}</font> <a href="{%  url 'profile' %}" style="font-size:11px" title="Régler le fuseau horaire"><i class="fa fa-clock"></i></a>
{% endif %}
{% endblock %}

 

{% block body %}
 
      
<section class="content_list"> 

    {% for relation in relationships %}
        {%  if relation.exercise.supportfile.is_title %}       
            <h2 class="listing thin" style="width:100%; clear:both"> 
                {% if relation.is_header_of_section  %}
                    <a href="#" data-toggle='modal' data-target='#head_of_section'    data-relation_id='{{ relation.id }}'  class="header_shower" title="Cours associé à cette section">{{ relation.exercise.supportfile.annoncement|cleanhtml|capfirst }} <sup><i class="fa fa-desktop" style="font-size: 9px"></i></sup></a>
                {% else %}
                    {{ relation.exercise.supportfile.annoncement|cleanhtml|capfirst }}
                {% endif %}
            </h2>



        {%  elif relation.exercise.supportfile.is_subtitle %}
            <h3 class="listing thin" style="padding-left: 30px; width:100%; clear:both"> 
                {% if relation.is_header_of_section %}
                    <a href="#" data-toggle='modal' data-target='#head_of_section'  data-relation_id='{{ relation.id }}' class="header_shower" title="Cours associé à cette sous-section">{{ relation.exercise.supportfile.annoncement|cleanhtml|capfirst }} <sup><i class="fa fa-desktop" style="font-size: 9px"></i></sup></a>
                {% else %}
                    {{ relation.exercise.supportfile.annoncement|cleanhtml|capfirst }}
                {% endif %}
            </h3>
       {% else %} 
            {% get_constraint_to_this_relationship  relation  student as    under_score   %}

            {%  get_last_score_and_time   relation.exercise   relation.parcours   student    as    data %}
            <div class="card_freeze" {% if data.score %} style="opacity:0.3" {% endif %}>
               
                <!-- Si l'exercice est bloqué, on pose une div par-dessus -->
                {% if  under_score %} <!-- under_score = l'exercice est sous contrainte car l'élève n'a pas obtenu les résultats suffisants-->
                    <div class="under_constraint"> <!-- div de fond pour opacité -->
                    </div>    
                    <div class="label_under_constraint"> <!-- Texte -->
                        <div class="row">
                            <div class="interdit_under_constraint">
                                <i class="fa fa-minus-circle fa-4x" style="color:#dd4b39"></i>
                            </div> 
                            <div class="text_under_constraint">
                                Pour accéder à cet exercice, vous devez réussir les exercices ci-dessous avec les scores minimum donnés.
                            </div>
                        </div>
     
                        <div  class="clear_under_constraint">
                            <div class="col-xs-12 col-md-12">
                                {% if relation.relationship_constraint.all|length == forloop.counter0 %} <br> <br>
                                    <span class="text-red"> Tous les exercices précédents avec 

                                      {% for constraint in relation.relationship_constraint.all %}
                                            {% if forloop.last %}  {{ constraint.scoremin }}% {% endif %} 
                                      {% endfor %}
                                    </span>
                                {% else %}   

                                      {% for constraint in relation.relationship_constraint.all %}
                                            <div class="text-red"  style="font-size: 12px;"><i class="fa fa-minus-circle"></i> {{ constraint }}</div>
                                      {% endfor %}

                                {% endif %} 
                            </div>
                        </div>
                    </div>
                    <div class="date_under_constraint"><!-- div de la date centrée -->
                        {% if  relation.date_limit %}
                            {% if not data.score %} 
                                <div  class="btn btn-danger" >   
                                      Avant le {{relation.date_limit|date:"d N Y" }}
                                </div>
                            {% endif %}    
                        {% endif %}  
                    </div>
                {% endif %} 


                <div class="card-body student">
                    <span style="font-size: 40px; padding-left:3px;float:left; padding-top: 10px; {% if not data.score %} color: {{ relation.parcours.color}} ;  {% endif %} ">
                        {{ nb_exo_only|index:forloop.counter0 }}.</span> 
                    <div class="card-score-student"  >
                      
                            {% if data.score or data.score > -1 %}
                                <span class="markdown
                                        {% if data.score < 30 %}
                                         red 
                                        {% elif data.score < 60 %}
                                        orange
                                        {% elif data.score < 80 %}
                                        green
                                        {% else %}
                                        darkgreen
                                        {% endif %}">
                                    {{ data.score }}
                                </span> <font style="font-size:10px">{{ data.time}}</font>
                            {% else %}
                                <span class="markdown"> 
                                       
                                </span>
                            {% endif %}
                    </div>
                    {% if relation.exercise.supportfile.calculator %}
                      <img src="{% static 'img/calculator.png' %}" class="pull-right" width="35px" />
                    {% else %}
                      <img src="{% static 'img/no_calculator.png' %}" class="pull-right"   width="35px" />
                    {% endif  %} 
                </div>                    
                <div class="card-image">
                    {% if student %}
                    <a href="{% url 'execute_exercise'  relation.parcours.id  relation.exercise.id   %}">  <img src="{{ relation.exercise.supportfile.imagefile.url }}"  class="image_parcours" {% if not relation.is_publish %} style="opacity:0.3" {% endif %}    ></a>
                    {% else %}
                    <a href="#" class="detail_parcours"  data-exercise_id="{{ relation.exercise.id }}"  data-num_exo="{{ forloop.counter}}"
                                               data-parcours_id="{{ parcours.id }}">
                                                <img src="{{ relation.exercise.supportfile.imagefile.url }}" class="image_parcours" {% if not relation.is_publish %} style="opacity:0.3" {% endif %}  >
                                               </a> 
                    {% endif  %}
                    {% if  relation.date_limit %}
                        {% if not data.score %} 
                            <div  class="btn btn-danger"  style="position: absolute; right : 0px; top:120px;">   
                                  Avant le {{relation.date_limit|date:"d N Y" }}
                            </div>
                        {% endif %}    
                    {% endif %}   
                    <div class="card-text" style="background-color:{{ parcours.color }};color:{{ parcours.color|contrast_color }}">
                        <i class="fa fa-fw fa-barcode"></i> {{ relation.exercise.supportfile.code }}
                        <i class="fa fa-fw fa-clock-o"></i> {{ relation.duration }} min.
                        <i class="fa fa-fw fa-save"></i> {{ relation.situation}}
                        {% for remediation in relation.relationship_remediation.all %}
                            <a href="#" data-target="#remediation_viewer" data-remediation_id="{{ remediation.id }}"  data-toggle='modal' class="white remediation_viewer pull-right">
                                {% if remediation.sort %}
                                    <img src="{%  static 'img/video.png' %}" width="30px" />
                                {% else %}
                                    <img src="{%  static 'img/pdf.png' %}" width="20px" />
                                {% endif  %}
                            </a>
                        {% endfor  %}   
                    </div>
                </div>
            </div> 
        {% endif %}          
    {% endfor %}

</section>
 

 <div class="modal fade" id="head_of_section" tabindex="-1" role="dialog" aria-labelledby="head_of_section">
    <div class="modal-dialog" role="document"  style="width:95%;">
        <div class="modal-content" style="padding-top :0px;">
            <div class="modal-header">
                <h3>Cours associé
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                </h3>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">   
                              <div id="courses_from_section"></div>
                        </div>   
                    </div> 
            </div>
        </div>
    </div>
</div>



 
   
{% endblock %}

 
 
 
 