{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 
    {% if parcours %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    {% endif %}

    <script>
        require(['script/ajax-parcours']);
    </script> 

{% endblock %} 





 

{% block page_title %}
<span  style="color:{{ parcours.color }}"> <i class="fa fa-map"></i>   {{ parcours }} 
 
 
<img src="{% static 'img/angle-right.png' %}"/> 
<small class="thin">{{ nb_exercises }} exercice{{ nb_exercises|pluralize }}</small> </span>
{% endblock %}

{% block page_menu_right %}
      <li>
        <form action="" method="POST" enctype='multipart/form-data'>     {% csrf_token %}
        <a href="#" class="btn btn-{% if not parcours.is_publish %}danger{% else  %}success{% endif  %} action_content" style="margin-top:-5px;margin-left:15px;padding:7px;font-size:18px;font-weight: 100" id="parcours_publisher"  data-parcours_id="{{parcours.id}}" data-status="{{parcours.is_publish }}" >  
          {% if parcours.is_publish %} Parcours publié  {% else %} Parcours dépublié {% endif  %} 
        </a>
        </form>
    </li>
    <li><a href="javascript:history.back()"><input type="button" value="Mes parcours"  style="margin-top:-8px;margin-left:15px;padding:7px;font-size:18px;font-weight: 100"  class="btn btn-subsacado "/></a></li>
{% endblock %}

 

{% block body %}
 
      
<section class="content_list"> 

    {% for data in relationships %}
        {%  if data.levela.exercise.supportfile.is_title %}       
            <h2 class="listing thin" style="width:100%; clear:both"> {{ data.levela.exercise.supportfile.annoncement|cleanhtml|capfirst }}</h2>
            {% for lb in data.levelb %}  
                {%  if lb.exercise.supportfile.is_subtitle %}
                    <h3 class="listing thin" style="width:100%; clear:both"> {{ lb.exercise.supportfile.annoncement|cleanhtml|capfirst }}</h3>
                    {% for lc in lb.levelc %}  
                        <div class="card" {% if not lc.is_publish %} style="background-color: #CCC" {% endif %}>
                            <div class="card-body">
                                <span style="font-size: 40px; padding-left:3px;float:left; padding-top: 10px;">{% if not lc.is_publish %}<span style="color:#CCC">{{ forloop.counter|add:"-1"}}.</span>{% else %}{{ forloop.counter }}.{% endif %}</span> 
                                    <div class="card-score">
                                        {%  get_percent_student_done_parcours_exercice   lc.exercise    parcours    as    percent %}
                                        <div class="progress">
                                          <div class="progress-bar bg-success" role="progressbar" style="width: {{ percent }}%;" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100">{{ percent }}%</div>
                                        </div>
                                    </div>
                                    {% if lc.exercise.supportfile.calculator %}
                                      <img src="{% static 'img/calculator.png' %}" class="pull-right" width="35px" />
                                    {% else %}
                                      <img src="{% static 'img/no_calculator.png' %}" class="pull-right"   width="35px" />
                                    {% endif  %}  
                            </div>                    
                            <div class="card-image">
                                {% if student %}
                                <a href="{% url 'show_this_exercise'  lc.exercise.id   %}">  <img src="../../../static/uploads/{{ lc.exercise.supportfile.imagefile }}" class="image_parcours" class="image_parcours" {% if not lc.is_publish %} style="opacity:0.5" {% endif %}   ></a>
                                {% else %}
                                <a href="#" class="detail_parcours"  data-exercise_id="{{ lc.exercise.id }}"  data-num_exo="{{ forloop.counter}}"
                                                           data-parcours_id="{{ parcours.id }}">
                                                            <img src="../../../static/uploads/{{ lc.imagefile }}" class="image_parcours" {% if not lc.is_publish %} style="opacity:0.5" {% endif %}  >
                                                           </a> 
                                {% endif  %}


                                <div class="card-text" style="background-color:{{ parcours.color }}">
                                    <i class="fa fa-barcode"></i> {{ lc.exercise.supportfile.code }}  
                                    <i class="fa fa-clock-o"></i> {{ lc.exercise.supportfile.duration }} min.
                                    <i class="fa fa-users"></i> {{ lc.exercise.supportfile.situation}}
                                </div>
                            </div>
                        </div> 
                        {% if forloop.counter|divisibleby:"4"  %}
                            <div style="clear:both"></div>
                        {% endif %} 

                    {% endfor %}
                {%  else %} 
                    <div class="card" {% if not lb.is_publish %} style="background-color: #CCC" {% endif %} >
                        <div class="card-body">
                            <span style="font-size: 40px; padding-left:3px;float:left; padding-top: 10px;">{% if not lb.is_publish %}<span style="color:#CCC">{{ forloop.counter|add:"-1"}}.</span>{% else %}{{ forloop.counter }}.{% endif %}</span> 
                                <div class="card-score">
                                    {%  get_percent_student_done_parcours_exercice   lb.exercise    parcours    as    percent %}
                                    <div class="progress">
                                      <div class="progress-bar bg-success" role="progressbar" style="width: {{ percent }}%;" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100">{{ percent }}%</div>
                                    </div>
                                </div>
                                {% if lb.exercise.supportfile.calculator %}
                                  <img src="{% static 'img/calculator.png' %}" class="pull-right" width="35px" />
                                {% else %}
                                  <img src="{% static 'img/no_calculator.png' %}" class="pull-right"   width="35px" />
                                {% endif  %}  
                        </div>                    
                        <div class="card-image">
                            {% if student %}
                            <a href="{% url 'show_this_exercise'  lb.exercise.id   %}">  <img src="../../../static/uploads/{{ lb.imagefile }}" class="image_parcours" class="image_parcours" {% if not lb.is_publish %} style="opacity:0.5" {% endif %}   ></a>
                            {% else %}
                            <a href="#" class="detail_parcours"  data-exercise_id="{{ lb.exercise.id }}"    data-num_exo="{{ forloop.counter}}"
                                                       data-parcours_id="{{ parcours.id }}">
                                                        <img src="../../../static/uploads/{{ lb.exercise.supportfile.imagefile }}" class="image_parcours" class="image_parcours" {% if not lb.is_publish %} style="opacity:0.5" {% endif %}   >
                                                       </a> 
                            {% endif  %}
                            <div class="card-text" style="background-color:{{ parcours.color }}">
                                <i class="fa fa-barcode"></i> {{ lb.exercise.supportfile.code }}  
                                <i class="fa fa-clock-o"></i> {{ lb.exercise.supportfile.duration }} min.
                                <i class="fa fa-save"></i> {{ lb.exercise.supportfile.situation}}
                            </div>
                        </div>
                    </div> 
                    {% if  forloop.counter|divisibleby:"4"  %}
                            <div style="clear:both"></div>
                    {% endif %} 
                {% endif %}                    
            {% endfor %}
        {%  else %}

            {%  for la in data.levela %} 
            <div class="card" {% if not la.is_publish %} style="background-color: #CCC" {% endif %}>
                <div class="card-body">
                    <span style="font-size: 40px; padding-left:3px;float:left; padding-top: 10px;">{% if not la.is_publish %}<span style="color:#CCC">{{ forloop.counter|add:"-1"}}.</span>{% else %}{{ forloop.counter }}.{% endif %}</span> 
                        <div class="card-score">
                            {%  get_percent_student_done_parcours_exercice   la.exercise   parcours    as    percent %}
                            <div class="progress">
                              <div class="progress-bar bg-success" role="progressbar" style="width: {{ percent }}%;" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100">{{ percent }}%</div>
                            </div>
                        </div>
                        {% if la.exercise.supportfile.calculator %}
                          <img src="{% static 'img/calculator.png' %}" class="pull-right" width="35px" />
                        {% else %}
                          <img src="{% static 'img/no_calculator.png' %}" class="pull-right"   width="35px" />
                        {% endif  %}  
                </div>                    
                <div class="card-image">

                    {% if student %}
                    <a href="{% url 'show_this_exercise'  a.exercise.id   %}">  <img src="../../../static/uploads/{{ la.exercise.supportfile.imagefile }}" class="image_parcours"  class="image_parcours" {% if not la.is_publish %} style="opacity:0.5" {% endif %}  ></a>
                    {% else %}
                    <a href="#" class="detail_parcours"  data-exercise_id="{{ la.exercise.id }}"    data-num_exo="{{ forloop.counter}}"
                                               data-parcours_id="{{ parcours.id }}">
                                                <img src="../../../static/uploads/{{ la.exercise.supportfile.imagefile }}" class="image_parcours"  {% if not la.is_publish %} style="opacity:0.5" {% endif %}   >
                                               </a> 
                    {% endif  %}

                    <div class="card-text" style="background-color:{{ parcours.color }}">
                        <i class="fa fa-barcode"></i> {{ la.exercise.supportfile.code }}  
                        <i class="fa fa-clock-o"></i> {{ la.exercise.supportfile.duration }} min.
                        <i class="fa fa-save"></i> {{ la.exercise.supportfile.situation}}
                    </div>
                </div>
            </div> 
            {% if  forloop.counter|divisibleby:"4"  %}
                    <div style="clear:both"></div>
            {% endif %} 
            {% endfor %} 



        {% endif %}          

    {% endfor %}



    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
    {% if parcours.teacher != teacher %}                <a href="{% url 'clone_parcours' parcours.id %}" class="btn btn-sacado">Cloner ce parcours</a>    {% endif %} 
                <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default "/></a>
            </div>
        </div>
         
    </div>  
  


</section>
 
   
{% endblock %}

 
 
 
 