{% load static %}
{% load widget_tweaks %}
{% load item_tags %}

    <ul class="nav nav-tabs">
        <li {% if organiser %}class="active"{% endif %} >
            <a href="#0" data-toggle="tab" class="selector_tabs" data-id="0"  data-bg="{{ group.color }}" data-color="{{ group.color|contrast_color }}">
                <i class="fa fa-dashboard" ></i> <span class="legend_menu_tabs">Organiser</span></span>
            </a>
        </li>
        <li {% if nb_folders and not organiser %}class="active"{% endif %}>
            <a href="#1" data-toggle="tab" data-id="1" class="selector_tabs" data-bg="{{ group.color }}" data-color="{{ group.color|contrast_color }}"><i class="fa fa-folder-open" ></i> <span class="legend_menu_tabs">Dossiers </span><span class="fontLabel">{{ folders.count }}</span>
            </a>
        </li>
        <li {% if not nb_folders and not organiser %}class="active"{% endif %}>
            <a href="#2" data-toggle="tab" class="selector_tabs" data-id="2"   data-bg="{{ group.color }}" data-color="{{ group.color|contrast_color }}">
                <i class="fa fa-th" ></i><span class="legend_menu_tabs"> Parcours </span><span class="fontLabel">{{ parcourses.count }}</span> 
            </a>
        </li>
        <li>
            <a href="#3" data-toggle="tab" class="selector_tabs" data-id="3"  data-bg="{{ group.color }}" data-color="{{ group.color|contrast_color }}"><i class="fa fa-trophy" ></i><span class="legend_menu_tabs"> Evaluations </span><span class="fontLabel">{{ evaluations.count }}</span>
            </a>
        </li>
        <li>
            <a href="#4" data-toggle="tab" class="selector_tabs" data-id="4"  data-bg="{{ group.color }}" data-color="{{ group.color|contrast_color }}"><i class="bi bi-files" ></i><span class="legend_menu_tabs"> Docs persos </span><span class="fontLabel">{{ docpersos.count }}</span>
            </a>
        </li>
        <li>
            <a href="#5" data-toggle="tab" class="selector_tabs" data-id="5"  data-bg="{{ group.color }}" data-color="{{ group.color|contrast_color }}"><i class="bi bi-lightning" ></i><span class="legend_menu_tabs"> Questions flash</span> <span class="fontLabel">{{ qflashs.count }}</span> 
            </a>
        </li>
        <li>
            <a href="#6" data-toggle="tab" class="selector_tabs" data-id="6"  data-bg="{{ group.color }}" data-color="{{ group.color|contrast_color }}"><i class="bi bi-aspect-ratio" ></i><span class="legend_menu_tabs"> Quiz </span><span class="fontLabel">{{ quizzes.count }}</span> 
            </a>
        </li>
        <li>
            <a href="#7" data-toggle="tab" class="selector_tabs" data-id="7" data-bg="{{ group.color }}" data-color="{{ group.color|contrast_color }}"><i class="bi bi-bootstrap" ></i><span class="legend_menu_tabs"> BiblioTex </span><span class="fontLabel">{{ bibliotexs.count }}</span>
            </a>
        </li>
        <li>
            <a href="#8" data-toggle="tab" class="selector_tabs" data-id="8"  data-bg="{{ group.color }}" data-color="{{ group.color|contrast_color }}"><i class="bi bi-stack" ></i><span class="legend_menu_tabs"> Flashpack </span><span class="fontLabel">{{ flashpacks.count }}</span>
            </a>
        </li>
    </ul>