<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-new"> Nouveau parcours <b class="caret"></b> </a>

    <ul id="products-menu" class="dropdown-menu clearfix pull-right" role="menu">

        {% if folder %}
        <li> <a href="{% url 'create_parcours' folder.id %}"  > Créer un parcours  </a> </li>
        {% else %}
        <li> <a href="{% url 'create_parcours' 0 %}"  > Créer un parcours <em class="text-danger">externe à un dossier</em></a> </li>
        {% endif %}
        <li>{% if sacado_asso %} 
        		<a href="{% url 'all_parcourses' 0 %}" > Récupérer un parcours mutualisé</a>
        	{% else %}
        		<a href="#"  class="no_sacado_asso" > Récupérer un parcours mutualisé</a> 
        	{% endif %}
        </li>
        {% if '/parcours_group/' in request.path  %}
        <li> <a href="#" data-toggle="modal" data-target="#parcours_default_modal"> Récupérer un parcours par défaut</a></li>
        {% endif %} 
    </ul>
</li> 