{% load static %}



<li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle no_button {% if 'parcours_result/' in request.path or  'parcours_result_knowledge/' in request.path  or 'result_parcours_exercise_students/' in request.path %} active {% endif %}"> Suivis d'acquisition <b class="caret"></b> </a>

    <ul id="products-menu" class="dropdown-menu clearfix pull-right" role="menu">
        <li {% if 'parcours_result/' in request.path %} class="active" {% endif %}><a href="{% url 'result_parcours' parcours.id  %}"  class="no_button" ><i class="fa fa-mortar-board fa-fw"></i> Lire le suivi par élève </a> </li> 
        <li {% if 'parcours_result_knowledge/' in request.path %} class="active" {% endif %}><a href="{% url 'result_parcours_knowledge' parcours.id %}"  class="no_button" ><i class="fa fa-trophy fa-fw"></i> Lire le suivi par savoir faire </a> </li>             
        
        {% if group_id %}
        <li {% if 'result_parcours_exercise_students/' in request.path %} class="active" {% endif %}><a href="{% url 'result_parcours_exercise_students' parcours.id    %}"  class="no_button" ><i class="fa fa-tasks fa-fw"></i> Lire le suivi par exercice </a> </li>
        {% endif %}
        <li class="divider"></li>
        <li><a href="{% url 'export_knowledge' parcours.id    %}"  class="no_button" ><i class="fa fa-download fa-fw"></i> Exporter les résultats de savoir faire csv</a></li>          
        <li><a href="{% url 'export_skill' parcours.id    %}"  class="no_button" ><i class="fa fa-download fa-fw"></i> Exporter les résultats de compétences csv</a></li>        
    </ul>
</li> 

{% if role %}

<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle no_button {% if 'parcours_show/' in request.path or 'parcours_update/' in request.path or 'parcours_peuplate/' in request.path or 'parcours_tasks_and_publishes/' in request.path  or 'parcours_individualise/' in request.path  or 'parcours_stat/' in request.path   %} active{% endif %}"> Paramètres {% if parcours.is_evaluation %}  de l'évaluation {% else %} du parcours {% endif %} <b class="caret"></b> </a>
    <ul id="products-menu" class="dropdown-menu clearfix pull-right" role="menu">
        <li {% if 'parcours_show/' in request.path %} class="active" {% endif %}><a href="{% url 'show_parcours' parcours.id   %}"><i class="fa fa-th fa-fw"></i> Voir {% if parcours.is_evaluation %}  l'évaluation {% else %} le parcours {% endif %}</a>   </li>   
        {% if group_id %}
            {% if parcours.is_evaluation %}
                <li {% if 'evaluation_update/' in request.path %} class="active" {% endif %}><a href="{% url 'update_evaluation' parcours.id group_id  %}"><i class="fa fa-cogs fa-fw"></i> Modifier l'évaluation</a>   </li>
            {% else %} 
                <li {% if 'parcours_update/' in request.path %} class="active" {% endif %}><a href="{% url 'update_parcours' parcours.id group_id  %}"><i class="fa fa-cogs fa-fw"></i> Modifier le parcours</a>   </li>
            {% endif %} 
        {% else %}  
            {% if parcours.is_evaluation %}
                <li {% if 'evaluation_update/' in request.path %} class="active" {% endif %}><a href="{% url 'update_evaluation' parcours.id 0 %}"><i class="fa fa-cogs fa-fw"></i> Modifier l'évaluation</a>   </li>
            {% else %} 
                <li {% if 'parcours_update/' in request.path %} class="active" {% endif %}><a href="{% url 'update_parcours' parcours.id 0  %}"><i class="fa fa-cogs fa-fw"></i> Modifier le parcours</a>   </li>
            {% endif %} 
        {% endif %} 


        <li {% if 'show_course/' in request.path %} class="active" {% endif %}><a href="{% url 'show_course' 0 parcours.id   %}"><i class="fa fa-desktop fa-fw"></i> Voir les cours</a>   </li>
        <li {% if 'parcours_peuplate/' in request.path %} class="active" {% endif %}><a href="{% url 'peuplate_parcours' parcours.id   %}"><i class="fa fa-laptop fa-fw"></i> Sélectionner les exercices</a>   </li>
        <li><a href="#"  class="no_button" id="handler_order_exercises" ><img src="{% static 'img/order_handler.png' %}" style="margin-right:10px; margin-left:3px"/> Organiser les exercices </a> </li>  
        <li {% if 'parcours_tasks_and_publishes/' in request.path %} class="active" {% endif %}><a href="{% url 'parcours_tasks_and_publishes' parcours.id %}" ><i class="fa fa-indent fa-fw"></i> Gérer les sections</a></li>  

        {% if group_id %}
        <li {% if 'parcours_individualise/' in request.path %} class="active" {% endif %}><a href="{% url 'individualise_parcours' parcours.id  %}" ><i class="fa fa-user fa-fw"></i> Individualiser les exercices</a> </li> 
        {% endif %} 
        <li {% if 'parcours_stat/' in request.path %} class="active" {% endif %}><a href="{% url 'stat_parcours' parcours.id %}" ><i class="fa fa-bar-chart fa-fw"></i> Lire les {% if parcours.is_evaluation %}résultats de l'évaluation{% else  %}stats du parcours {% endif %} </a>   </li>
    </ul>
</li> 
{% endif %}



{% if not '_update' in request.path  %}
<li>
    <form action="" method="POST" enctype='multipart/form-data'>     
        {% csrf_token %}
        <div class="btn-group"  style="padding:0px;margin:0px;">

            <a href="#" class="btn btn-default publisher"  data-from="2" id="parcours_publisher{{parcours.id}}" data-parcours_id="{{parcours.id}}" data-statut="{{parcours.is_publish }}">  
                <i class="fa fa-circle-o-notch"></i>
            </a><span class="legend-btn legend-btn-{% if not parcours.is_publish %}danger{% else  %}success{% endif  %}" id="parcours_statut{{parcours.id}}" style="cursor:auto"  >  
              {% if parcours.is_publish %} Publié  {% else %} Dépublié {% endif  %} 
            </span>

        </div>
    </form>
</li>
{% endif %} 

