<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pyodide in Action</title>
    <style type="text/css" media="screen">
        #editor { 
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .container {
            width: 80%;
            height: 500px;
            margin: auto;
            padding: 10px;
        }
        .one {
            width: 50%;
            height: 500px;
            float: left;
        }
        .two {
            margin-left: 50%;
            height: 500px;
        }

    </style>
<script src="https://cdn.jsdelivr.net/pyodide/v0.20.0/full/pyodide.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.4/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.4/ext-static_highlight.js"></script>
</head>

<body>

    <div class="container">
        <div class="one">
            <pre id="editor" style="width: 1225px;height:500px;"></pre>
        </div>
    </div>

    <button id="run_code">Run Code!!!</button><br>

    <br>

    <textarea rows=10 cols=30 id=output style="margin: 0px; width: 1210px; height: 461px;">Loading and compiling...</textarea><br>

    <script type="text/javascript">
            var editor;
            var output_pane;
     output.value = "Initializing...\n";
      // init Pyodide
      async function main() {
        let pyodide = await loadPyodide();
        output.value += "Ready!\n";
        return pyodide;
      }
      let pyodideReadyPromise = main();


            function appendOutput(msg) {
                // used to add program output to the textarea
                output_pane.value = output_pane.value + '\n' + msg;
                output_pane.scrollTop = output_pane.scrollHeight;
            }

            function configEditor(){
                // configure the ace editor to make it usable
                editor = ace.edit("editor");
                editor.setTheme("ace/theme/monokai");
                editor.session.setMode("ace/mode/python");
                editor.setShowPrintMargin(false);
                editor.setBehavioursEnabled(true);
                editor.setFontSize(18);
            }

            async function runCode(code_to_run) {
                // run the code from the editor and display the output in the textarea
                console.logs = [];

                let promise = new Promise((resolve, reject) => {
                    pyodide.runPython(code_to_run)
                    resolve(true)
                }).catch(err => {
                    alert("unknown error: " + err)
                });

                let result = await promise;
                if (result) { appendOutput(console.logs.join('\n')); }
            }


            document.addEventListener('DOMContentLoaded', (event) => {

                output_pane = document.getElementById("output");

                document.getElementById("run_code").addEventListener('click', function () {
                    runCode(editor.getValue());
                });

                // Capture the output from Pyodide and add it to an array
                console.stdlog = console.log.bind(console);
                console.logs = [];
                console.log = function(){
                    console.logs.push(Array.from(arguments));
                    console.stdlog.apply(console, arguments);
                }
                
                configEditor();
            });



    </script>

</body></html>
