<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/pyodide/v0.20.0/full/pyodide.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js" integrity="sha512-yUUc0qWm2rhM7X0EFe82LNnv2moqArj5nro/w1bi05A09hRVeIZbN6jlMoyu0+4I/Bu4Ck/85JQIU82T82M28w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/languages/python.min.js" integrity="sha512-U5B5W+dwLVKgk2d4TWuG7p9MFhK8wQtIXmBJSUNRpj2WFMBvYN7CrM+/3jUL80qyVrmdo/bUSq1Na84R67toeQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  hljs.configure({languages:"python"});
</script>
  </head>
  <body>

   <p>
   Execution d'un code python sur le client...
    </p>
    <textarea id="code" value="sum([1, 2, 3, 4, 5])" /></textarea>
<button onclick="evaluatePython()">Run</button>
<button onclick="couleur()">Coloration syntaxique</button>

    <br />
    <br />
    <div>Output:</div>
    <textarea id="output" style="width: 100%;" rows="6" disabled></textarea>

    <script>
      const output = document.getElementById("output");
      const code = document.getElementById("code");

      function addToOutput(s) {
        output.value += ">>>" + code.value + "\n" + s + "\n";
      }

      output.value = "Initializing...\n";
      // init Pyodide
      async function main() {
        let pyodide = await loadPyodide();
        output.value += "Ready!\n";
        return pyodide;
      }
      let pyodideReadyPromise = main();

      async function evaluatePython() {
        let pyodide = await pyodideReadyPromise;
        try {
            //let output = pyodide.runPython(code.value);
	    let output = pyodide.eval_code(code.value);
          addToOutput(output);
        } catch (err) {
            addToOutput(err);
	
        }
      }
    document.addEventListener('DOMContentLoaded', (event) => {
     
                // Capture the output from Pyodide and add it to an array
                console.stdlog = console.log.bind(console);
                console.logs = [];
                console.log = function(){
                    console.logs.push(Array.from(arguments));
                    console.stdlog.apply(console, arguments);
                }
                
    });

      
    </script>
  </body>
</html>
