{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}



{% block python %}

 
<script src="{% static 'basthon/ace/ace.js' %}"></script>
<script src="{% static 'basthon/ace/ext-language_tools.js' %}"></script>
{% endblock %}




{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    <script>
        require(['script/ajax-quizz-create']);
    </script>
    {% if mental %} 
    <script>
        require(['script/ajax-question-flash_update-ace']);
    </script>
    {% else %}
    <script>
        require(['script/ajax-question-flash', 'script/question_flash_ace-ckeditor']);
    </script>
    {% endif %}
{% endblock %}

 

{% block page_title %}
    <span class="sacado_color_text"><i class="bi bi-lightning"></i></span>  
       Les questions flash <img src="{% static 'img/angle-right.png' %}" width="25px"/> {{level.name}}
{% endblock %}



{% block page_menu_right %}
     <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-new"> Questions flash <i class="fa fa-caret-down"></i></a>

        <ul id="products-menu" class="dropdown-menu clearfix pull-right" role="menu">
            {% for l in levels %}       
            <li> 
                <a href="{% url 'admin_mentals' l.id  %}">{{ l.name }}</a>
            </li> 
            {% endfor %}   
        </ul>
    </li> 
{% endblock %}

 

{% block css_files %}
{% endblock %}


{% block body %}
<style type="text/css">
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
}
#id_div_script {
    float:none;
    width: 100%;
    height: 40vh;
    border-radius: 0.6vw;
    margin: 0px;
    padding-top: 0px;
}
#id_script {
    display:none;
}
</style>
<section class="content_main"> 
    <h4 class="thin">Savoir faire </h4>
    <form action="" method="POST"  enctype='multipart/form-data' class="form_card">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12 form-group">
                <label>Titre</label>
                {{ form.content|add_class:"form-control" }}
                {{ form.content.errors }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3 form-group">
                <label>Niveaux</label>
                {{ form.levels|add_class:"form-control select2" }}
                {{ form.levels.errors }}
            </div> 
            <div class="col-sm-6 col-md-6 form-group">
                <label>Thème </label>
                {% if mental %} 
                    <a href="{%  url 'admin_create_update_mentaltitle' mental.mentaltitle.id %}"><i class="bi bi-pencil"></i></a> 
                {% else %}
                    <a href="{%  url 'admin_create_update_mentaltitle' 0 %}"><i class="bi bi-plus-circle"></i></a> 
                {% endif %}
                {{ form.mentaltitle|add_class:"form-control select2"|attr:"required" }}
                {{ form.mentaltitle.errors }}
            </div>
            <div class="col-sm-6 col-md-2 form-group">
                <label>Ordre</label>
                {{ form.ranking|add_class:"form-control"  }}
                {{ form.ranking.errors }}
            </div>
            <div class="col-sm-6 col-md-1 form-group">
                <label>En ligne ?</label><br/>
                {{ form.is_display |attr:"data-toggle:toggle" |attr:"data-onstyle:success"|attr:"data-offstyle:danger"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                {{ form.is_display.errors }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label>Variables : ( Séparer les variables par ; sans espace) </label>
                {{ form.variables|add_class:"form-control play_alea" }}
                {{ form.variables.errors }}

                <label>Code html/TeX :  </label>                 
                {{ form.html }}
                {{ form.html.errors }}
                <span class="formula">\$ \input[name][4em]{valeur par défaut} \$</span> <small>pour utiliser des input dans les formules LaTeX. Utiliser le séparateur de variable _##_ dans le code Python</small>
                <div class="form-group">
                    <label>Dessin ? : <small><a href="javascript:void()" id="select_parcours_div">Choix possibles :</a> </small> </label>                 
                    {{ form.jquery|add_class:"form-control play_alea" }}
                    {{ form.jquery.errors }}
                    
                    <div id="parcours_div">
                        <table class="table">
                            <tr>
                                <td>abscisse(x,y,u,s)</td><td><b>x</b> origine, <b>y</b> extrêmité, <b>u</b> unité de graduation, <b>s</b>ubdivision : 1 ou 10; 

                                    <img src="{% static 'img/mode_emploi_abscisse.jpg' %}" />


                                </td>
                            </tr>
                            <tr>
                                <td>pythagore(a)</td><td>0 : aléatoire </td>
                            </tr>
                            <tr>
                                <td>thales(a)</td><td>0 : aléatoire , 1 : voile , 2 papillon</td>
                            </tr>
                            <tr>
                                <td>pizza(n,d);a,b;g,h</td><td><b>n</b>umérateur renvoie un nombre entre 0 et n, <b>d</b>énominateur. n dans [a;b] et d dans [g;h].  Si d est fixé, remplacer d par sa valeur. </td>
                            </tr>
                            <tr>
                                <td>chocolat(n,d,f);a,b;g,h</td><td><b>n</b>umérateur renvoie un nombre entre 0 et n, <b>d</b>énominateur , <b>f</b>ormat : nombre de carreaux par ligne  [f=d si 0] et n dans [a;b] et d dans [g;h].  Si d est fixé, remplacer d par sa valeur.  </td>
                            </tr>
                        </table> 
                    </div>
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <label>Code Python : <small><span class="formula_answer">answer</span> en fonction des variables utilisées dans le code html/TeX. Séparateur de variable : _##_ </small></label>                
                <div id="id_div_script"></div>
                {{ form.script }}
                {{ form.script.errors }}
                <small class="text-danger">3 variables obligatoires => <span class="formula_answer">title(str)</span>= énoncé | <span class="formula_answer">answer(int/str)</span>= réponse attendue <br/> <span class="formula_answer">wans(str)</span>= rédaction de la réponse</small>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
                <div class="form-group">
                    <input value="Créer" type="submit" id="on_submit" class="btn btn-primary" name="mental"   />
                    <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default "/></a>
                </div>
            </div>
        </div>
    </form> 
</section>
{% endblock %} 