{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}



{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    <script>
        require(['script/ajax-quizz-create','script/ajax-question-flash']);
    </script>  
 
{% endblock %}

 

{% block page_title %}
    <span class="sacado_color_text"><i class="bi bi-lightning"></i></span>  
       Les questions flash <img src="{% static 'img/angle-right.png' %}" width="25px"/> {{level.name}}

{% endblock %}



{% block page_menu_right %}
    <a href="{% url 'admin_create_update_mentaltitle' 0   %}" class="btn btn-new pull-right">+ Thème de savoir faire</a> 
    <a href="{% url 'admin_create_update_mental' 0  %}" class="btn btn-new pull-right">+ Savoir faire de QF</a>  

{% endblock %}

 

{% block css_files %}
{% endblock %}


{% block body %}
<style type="text/css">
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
}
</style>
<section class="content_main"> 
    <div class="row">
        <div class="col-sm-12 col-md-12 form_card">
            <table class="table table-sacado  table-hover standard_tab_sort2000" style="width:100%">
              <thead>
                  <tr>
                    <th>Contenu</th>
                    <th>Enseignement</th>           
                    <th>Niveaux</th> 
                    <th>Ordre</th>
                  </tr>
              </thead>
              <tbody>
                    {% regroup mentals by mentaltitle as mental_list %}

                    {% for mt in mental_list %}
                    
                        <tr class="opener out" id ="{{mt.grouper.id}}">
                            <td style="color:white;background-color: #5d4391"><i class="fa fa-caret-right"></i> {{ mt.grouper.title }}
                              <small><a href="{%  url 'admin_delete_mentaltitle' mt.grouper.id %}" class="pull-right" style="color:white"  onclick="return TestDelete('ce thème')"><i class="fa fa-trash"></i></a></small>                           
                              <small><a href="{%  url 'admin_create_update_mentaltitle' mt.grouper.id %}" class="pull-right"  style="color:white;padding-right:20px" ><i class="bi bi-pencil"></i></a></small>

                            </td>
                            <td style="color:white;background-color: #5d4391"> </td> 
                            <td style="color:white;background-color: #5d4391"> </td>           
                            <td style="color:white;background-color: #5d4391"> </td> 
                        </tr>

                        {% for mental in mt.list %}
                        <tr id="{{mt.grouper.id}}" class="opener_k opened{{ mt.grouper.id }} out"  id="{{ mental.id}}">
                          <td {% if not mental.is_display %} style='border-left:5px solid red'{% endif %}>
                                <a href="{% url 'admin_create_update_mental' mental.id %}">
                                {% if mental.test %}
                                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-sign-stop" viewBox="0 0 16 16">
                                    <path d="M3.16 10.08c-.931 0-1.447-.493-1.494-1.132h.653c.065.346.396.583.891.583.524 0 .83-.246.83-.62 0-.303-.203-.467-.637-.572l-.656-.164c-.61-.147-.978-.51-.978-1.078 0-.706.597-1.184 1.444-1.184.853 0 1.386.475 1.436 1.087h-.645c-.064-.32-.352-.542-.797-.542-.472 0-.77.246-.77.6 0 .261.196.437.553.522l.654.161c.673.164 1.06.487 1.06 1.11 0 .736-.574 1.228-1.544 1.228Zm3.427-3.51V10h-.665V6.57H4.753V6h3.006v.568H6.587Z"/>
                                    <path fill-rule="evenodd" d="M11.045 7.73v.544c0 1.131-.636 1.805-1.661 1.805-1.026 0-1.664-.674-1.664-1.805V7.73c0-1.136.638-1.807 1.664-1.807 1.025 0 1.66.674 1.66 1.807Zm-.674.547v-.553c0-.827-.422-1.234-.987-1.234-.572 0-.99.407-.99 1.234v.553c0 .83.418 1.237.99 1.237.565 0 .987-.408.987-1.237Zm1.15-2.276h1.535c.82 0 1.316.55 1.316 1.292 0 .747-.501 1.289-1.321 1.289h-.865V10h-.665V6.001Zm1.436 2.036c.463 0 .735-.272.735-.744s-.272-.741-.735-.741h-.774v1.485h.774Z"/>
                                    <path fill-rule="evenodd" d="M4.893 0a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146A.5.5 0 0 0 11.107 0H4.893ZM1 5.1 5.1 1h5.8L15 5.1v5.8L10.9 15H5.1L1 10.9V5.1Z"/>
                                  </svg>
                                {% endif %}
                                {% if mental.script == "" %}<img src="{% static 'img/python_logo.png' %}" style='width:15px' /> {% endif %}
                                {% if not mental.html  %}<img src="{% static 'img/html.png' %}" style='width:15px' /> {% endif %}
                                {{ mental.content }}
                                </a>

                                <a href="{%  url 'admin_delete_mental' mental.id %}" class="pull-right"  onclick="return TestDelete('ce savoir faire')"><i class="fa fa-trash"></i></a>
                                <a href="{%  url 'admin_duplicate_mental' mental.id %}" class="pull-right" style="padding-right:10px" ><i class="bi bi-clipboard-plus"></i></a>
                                {% if mental.script != "" %}<span class="pull-right" style="padding-right:10px"><img src="{% static 'img/python_logo.png' %}" style='width:15px' /></span>{% endif %}
                                {% if mental.html  %}<span class="pull-right" style="padding-right:10px"><img src="{% static 'img/html.png' %}" style='width:15px' /></span>{% endif %}
                          </td>
                          <td>
                                {{ mental.mentaltitle.subject.shortname }} 
                          </td>
                          <td>     
                                {% for l in mental.levels.all %}                 
                                    {{ l.shortname  }}{% if not forloop.last %}, {% endif %}
                                {% endfor %} 
                          </td> 
                          <td>
                                {{ mental.ranking }} 
                          </td>
                        </tr>                    
                        {% endfor %}
                    {% endfor %}
              </tbody>
        </table>

        </div>

    </div>
</section>
{% endblock %} 