{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}



{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    <script>
        require(['script/ajax-quizz-create','script/ajax-question-flash']);
    </script>  
 
{% endblock %}

 

{% block page_title %}
    <span class="sacado_color_text"><i class="bi bi-lightning"></i></span>  
       Nouveau thème des questions flash <img src="{% static 'img/angle-right.png' %}" width="25px"/>
{% endblock %}



{% block page_menu_right %}



    <a href="{% url 'admin_mentaltitles'      %}" class="btn btn-new pull-right"> Thème de savoir faire</a> 
    <a href="{% url 'admin_create_update_mental' 0  %}" class="btn btn-new pull-right">+ Savoir faire de QF</a>  
 
 


    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-new"> Questions flash <i class="fa fa-caret-down"></i></a>

        <ul id="products-menu" class="dropdown-menu clearfix pull-right" role="menu">
            {% for l in levels %}       
            <li> 
                <a href="{% url 'admin_mentals' l.id  %}">{{ l.name }}</a>
            </li> 
            {% endfor %}   
        </ul>
    </li>  

{% endblock %}

 

{% block css_files %}
{% endblock %}


{% block body %}
<style type="text/css">
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
}
</style>
<section class="content_main"> 
 
    <div class="row">
        <div class="col-sm-6">
            <form action="" method="POST"  enctype='multipart/form-data' class="form_card">
               {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label>Titre </label>
                        {{ form.title |add_class:"form-control"  }}
                        {{ form.title.errors }}
                    </div>
                </div>    
                <div class="row">
                    <div class="col-sm-7 form-group">
                        <label>Enseignement</label>
                        {{ form.subjects|add_class:"form-control select2" }}
                        {{ form.subjects.errors }}
                    </div> 
                    <div class="col-sm-3 form-group">
                        <label>En ligne ?</label><br/>
                        {{ form.is_display |attr:"data-toggle:toggle" |attr:"data-onstyle:success"|attr:"data-offstyle:danger"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                        {{ form.is_display.errors }}
                    </div>                                      
                    <div class="col-sm-2 form-group">
                        <label>Ordre</label>
                        {{ form.ranking |add_class:"form-control"  }}
                        {{ form.ranking.errors }}
                    </div>
                </div>  
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label>Niveaux</label>
                        {{ form.levels|add_class:"form-control select2" }}
                        {{ form.levels.errors }}
                    </div> 
                </div>  
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <div class="form-group">
                            <input value="Créer" type="submit" class="btn btn-primary" name="mental" value="no" />
                        </div>
                    </div>
                </div>
            </form> 
        </div>
</section>
{% endblock %} 