{% load static %}
{% load widget_tweaks %}
{% load item_tags %}

<div class="form_card"> 
{% if is_quizz %}

    {% for question in all_questions %}
        <div class="card" style="width:300px;height:300px;margin:15px;overflow: hidden;padding: 10px;">
            <div class="card_title">
                {% if question.calculator  %}                            
                <img src="{% static 'img/calculator.png' %}" width ="20px" class="pull-right" />  
                {% else %}
                <img src="{% static 'img/no_calculator.png' %}" width ="20px" class="pull-right" /> 
                {% endif %}                              
                {% if question.qtype == 1  %}
                    <label>{% if question.is_correct %}<b>Vrai</b>/faux{% else %}Vrai/<b>faux</b>{% endif %}. </label>
                {% elif question.qtype == 2  %}
                     <label>    Réponse rédigée </label> 
                {% elif question.qtype == 3  %}
                       <label> QCM. </label> 
                {% else %} 
                      <label>  QCS. </label>
                {% endif %}
                <label class="btn btn-xs btn-sacado"><input type="checkbox" value="{{ question.id}}" name="question_ids" />Récupérer cette question</label> 
                <br/>
                <div>{{ question.title|safe }}</div>                        
            </div>

            <div class="card_body">

                <br/>
                {% if question.imagefile %}
                    <p style="text-align:center">
                        <img src="{{ question.imagefile.url }}" width ="200px" />
                    </p>
                {% endif %}
                <br/>
                {% for c in question.choices.all %}
                    <label>{{ c }}</label> {% if not forloop.last%}ou{% endif %}

                {% endfor  %}

            </div>
        </div>
    {% empty %}

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="alert alert-danger">
                    Aucune question ne correspond à cette recherche.
                </div>
            </div>
        </div>

    {% endfor %}
{% else %}     
<table class="table table-hover borderless display1000" style="width:100%;" >
    <thead> 
        <tr>
            <th></th><th></th>
        </tr>
    </thead> 
    <tbody>
        {% for all_mental  in all_mentals %}   
            <tr class="title_tr">
                <td style="width:85%"> {{ all_mental.level.name  }} </td><td ></td>
            </tr>
            
            {% for all_mental_sub  in all_mental.sub %} 
                <tr class="subtitle_tr opener out"   id="{{ all_mental_sub.mentaltitle.id }}">
                    <td style="width:85%">
                        <input type="checkbox" class="class_select_all_these_items" data-document_id="{{ all_mental_sub.mentaltitle.id }}" /> <i class="fa fa-caret-right"></i> {{ all_mental_sub.mentaltitle.title }} 
                    </td> 
                    <td>Temps par question</td>
                </tr> 
                {% for m in all_mental_sub.mentals.all %}
                    {% if m %}
                    <tr style="background:white; cursor: pointer;" class="opener_k opened{{ all_mental_sub.mentaltitle.id }} out no_visu_on_load colored_tr" >
                        {% get_question_is_already_used m teacher as is_already_used %}
                        <td >
                            <label {% if is_already_used.date %} class="text-success" title="Déjà utilisé le {{ is_already_used.date|date:'Y-m-d' }}"{% endif %}  > 
                                <input type="checkbox" value="{{m.id }}" name="mental_ids"  class="groupcheckbox these_items_to_be_selected{{ all_mental_sub.mentaltitle.id }}" /> {{ m.content }}   
                            </label> 
                        </td> 
                        <td >
                            <small>{{ m.duration }} secondes </small>
                        </td>  
                    </tr> 
                    {% endif %} 
                {% endfor %}
            {% endfor %}
        {% empty %}
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="alert alert-danger">
                        Aucune question ne correspond à cette recherche.
                    </div>
                </div>
            </div>
        {% endfor %}
    </tbody>
</table> 
{% endif %}
</div>


<script>
 MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
</script>