{% for q in quizz %}
 
	<div class="quizz_card" style=" border-radius: 5px; float:left;
							{% if q.vignette %}
								background-image: url('{{ q.vignette.url }}'); background-size: cover; 
							{% endif %}">
		<div style="padding:10px">
			<h2 class="thin">{{ q.title }}</h2>
			<p>{{ q.questions.count }} diapo-questions</p>

			<p><a href="{% url 'show_quizz_shared' q.id %}" target="_blank">Voir le quizz</a></p>

			<p><a href="{% url 'clone_quizz' q.id %}">Récupérer le quizz</a></p>

		</div>
	</div>
 
{% endfor %}
 