{% extends 'tool/list_quizzes.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>

    <script>        
        require(['script/ajax-quizz-complement']);
        require(['script/ajax-quizz-shared']);        
    </script> 

{% endblock %}



{% block page_title %}
        {% if parcours %}
            <a href="{% url 'show_parcours' 0 parcours.id %}" style="color:parcours.color" > {{ parcours.title }} </a><img src="{% static 'img/angle-right.png' %}"/> Les quizz mutualisés
        {% else %}
             <i class="fa fa-tasks sacado_color_text"></i> Les quizz mutualisés 
        {% endif %}
{% endblock %}

 
{% block page_menu_right %}
         <a href="{% url 'list_quizzes' %}"  class="btn btn-new" >Mes quizz  </a> 
{% endblock %}


{% block body  %}  
<style type="text/css">body{overflow-x: hidden;}</style>
<section class="content_main"> 
    <form action="" method="POST" enctype='multipart/form-data'>  
    {% csrf_token %}
    <div class="row search_bar" >
        <div class="col-sm-12 col-md-2 col-lg-2">
                <select id="id_subject" name="subject" class="form-control select2">
                    {% for s in teacher.subjects.all %}
                        <option value="{{s.id}}">{{ s.shortname }}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="col-sm-10 col-md-2 col-lg-2">
                <select id="id_level" name="level" class="form-control select2" >
                    <option value=" ">Choisir un niveau</option>
                    {% for l in teacher.levels.all|dictsort:"ranking" %}
                        <option value="{{l.id}}">{{ l.name }}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="col-sm-2 col-md-1 col-lg-1">
            <div class="form-group" id="loading">
            </div>
        </div>

        <div class="col-sm-12 col-md-5 col-lg-5">
                <select id="thm_id" name="theme" class="form-control select2" multiple>
                    <option value=" ">Choisir un niveau puis un thème</option>
                </select>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
                <input type="text" name="keywords" id="keywords" placeholder="Mots-clés" class="form-control" />
                <input type="hidden" name="is_eval" id="is_eval"  value="{{ is_eval }}" />
        </div>


    </div>


    
 
    <div id="parcours_details"  style="margin-top:20px">
            <div id="loading">
            </div>

            <div class="col-sm-12 col-md-12">
 

                        <div class="col-sm-12 col-md-12  form_card">
                            Pour trouver des quizz mutualisés, vous devez :                
                            <div style="height:20px"></div>
                            <ol>Sélectionner une matière</ol>
                            <ol>Sélectionner un niveau</ol>
                            <ol>Sélectionner un thème</ol> 
                            <ol>ou choisir un mot clé</ol>
                        </div>

    

            </div>
    </div>
 
  
    </form>  
</section>




<div class="modal fade" id="quizz_choice" tabindex="-1" role="dialog" aria-labelledby="quizz_choice">
    <div class="modal-dialog" role="document" style="width: 750px;">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h1 class='thin'>Création du quizz</h1>
            </div>
            <div class="modal-body">
                <form action="{% url 'create_quizz' %}" method="POST"  enctype='multipart/form-data'>
                    {% include 'tool/form_quizz_items.html' %}
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="duplication_modal" tabindex="-1" role="dialog" aria-labelledby="duplication_modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" >
            <div class="modal-header">     
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h2>Duplication du quizz : <span id="this_document_title"></span></h2>
            </div>
            <div class="modal-body">
                <p>Voici vos groupes avec leurs dossiers éventuels et leurs parcours. Cocher les emplacements dans lesquels vous souhaitez placer ou rattacher votre Quizz. Si un parcours est partagé, ne le cocher qu'une seule fois.</p>
                <form action="" method="POST" enctype='multipart/form-data' id="duplicate_form"> 
                    {% csrf_token %}<input type="hidden" name="this_document_id" id="this_document_id" />
                    <div class="row">
                    {% for group in teacher.groups.all %}
                    <div class="col-sm-6 card_modal_search exercise_body_shared">
                        <div class="quizz_item" style="background-color:{{ group.color }}">
                            <label  class="btn btn-sacado"> {{ group.name }} <input type="checkbox" name="groups" value="{{ group.id }}" /> </label> 
                        
                        {% for folder in  group.group_folders.all  %}
                            <div class="quizz_item"> <label class="btn btn-warning">{{ folder.title }} <input type="checkbox" name="folders" value="{{ folder.id }}" /></label> <hr/>
                                {% for parcours in folder.parcours.all %}
                                    <label class="btn btn-default full_width" style="background-color:{{ parcours.color }};color:{{ parcours.color|contrast_color }}">{{ parcours.title }} <input type="checkbox" name="parcourses" value="{{ parcours.id }}" /></label>
                                {% endfor %}
                            </div>
                        {% endfor %} 
                        </div>
                    </div>
                    {% endfor %} 
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="javascript:void();" class="btn btn-primary" id="duplicate_button_action"  data-dismiss="modal"  >Dupliquer le quizz <span id="this_document_label"></span></a>
                        </div>
                    </div>
                </form> 
                <small class="text-green_index"><em>Pour modifier mes niveaux, aller dans Mon compte ou sur votre avatar puis dans Mon profil ou <a href="{% url 'profile' %}">cliquer ici</a></em></small>          
            </div>
        </div>
    </div> 
</div>
{% endblock  %}   