
{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}



{% block require %}

    {% if question %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common5.js' %}"></script>
    <script>
        require(['script/ajax-quizz-update']);
    </script> 
    {% else %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
    <script>
        require(['script/ajax-quizz-complement']);
    </script> 
    {% endif %}


    {% if quizz.is_video %}
    <script>
       require(['script/ajax-quizz']);
    </script>
    {% else %}
    <script>
        require(['script/add-ckeditor']); 
    </script> 
    {% endif %}
{% endblock %}
 
 


{% block page_title %}
   Créateur de question 
   {% if quizz %}pour quizz
   <img width="25px" src="{% static 'img/angle-right.png' %}"/> <a href="{% url 'update_quizz' quizz.id %}"> <small>{{ quizz.title }}  ({{ quizz.duration|time_done }}) </small></a>
   {% endif  %}
   <img width="25px" src="{% static 'img/angle-right.png' %}"/> 
   {% if knowledge %}<small> {{ knowledge.level.name }} <img width="25px" src="{% static 'img/angle-right.png' %}"/> {% endif %}
     {{   title_type_of_question  }}  <img width="25px" src="{% static 'img/angle-right.png' %}"/> {{ knowledge.name }} 
   </small>
{% endblock %}


{% block page_menu_right %}

    {% if quizz  %}
        {% if quizz.is_numeric %}
        <a href="{% url 'goto_quizz_numeric' quizz.id %}" target="_blank" class="btn btn-new">Lire le quizz</a>
        {% else  %}
        <a href="{% url 'show_quizz' quizz.id %}" target="_blank" class="btn btn-new">Lire le quizz</a>
        {% endif %}

        <a href="{% url 'list_quizzes'  %}" target="_blank" class="btn btn-new">Mes quizz</a>
    {% endif %}

{% endblock %}







{% block body %}
{% block uploader %}
<link rel="stylesheet" href="{% static 'css/uploader.css' %}">
{% endblock %}
<section class="content_list"> 
    <div class="row">
        {% if quizz  %}
        <div class="col-sm-12 col-md-2">
            {% if quizz.is_random  %}

                <div class="form-group">
                    <h3>{{ quizz.subject}}  </h3> 
                </div>
                 <div class="form-group">
                    {% for l in quizz.levels.all %} <li class="sanspuce">{{ l.name }}</li> {% endfor %}   
                </div>
                 <div class="form-group">
                    {% for t in quizz.themes.all %} <li class="sanspuce">{{ t.name }}</li> {% endfor %}   
                </div>
            {% else  %}
                <form action="#" method="POST" >
                    <div class="quizz_list_question">
                        <ul id="questions_sortable_list">
                            {% for question in questions %}
                                {% include 'tool/list_of_question.html' %}
                            {% endfor %}
                        </ul>
                    </div>
                </form>
                <div class="question_bank" >
                    {% if sacado_asso %}
                    <a href="#" data-toggle='modal' data-target='#question_choice' class="btn btn-quizz_bank" >Banque de questions</a> 
                    {% else %}
                    <a href="#"   class="btn btn-quizz_bank no_sacado" title="Version Etablissement requise" >Banque de questions</a> 
                    {% endif %} 
                </div>
                {% if parcours.is_sequence %}
                <div class="question_bank" >
                    <a href="{% url 'show_parcours' 0 parcours.id %}" class="btn btn-default">
                        Retour à la séquence {{ parcours.title }}
                    </a> 
                </div>
                {% endif %} 
            {% endif %}
        </div>
        {% endif %}
        <div class="col-sm-12 col-md-{% if quizz  %}10{% else %}12{% endif %}" >  
            <form action="#" method="POST" id="question_form"  enctype='multipart/form-data' >
            {% csrf_token %}    
            {% if quizz  %}<input type="hidden" name="quizz_id" id="quizz_id" value="{{ quizz.id }}" /> {% endif %}
            <input type="hidden" name="qtype" id="qtype" value="{{ qtype }}" /> 
                <div id="body_question"> 

                    {% block type_of_question %} 
                            <!-- ============================================================================ -->
                            <!-- ============================================================================ -->
                            <!-- ============== Gestion du randomize dans les questions ======================-->
                            <!-- ============================================================================ -->
                            <!-- ============================================================================ -->
                            {% if request.user.is_superuser and not quizz.is_video %}
                            <div class="row">
                                <div class="col-sm-12 col-md-5"> 
                                    <label>Enoncé</label>
                                    <a href="#" id="show_randomize_zone" class="btn btn-sacado {% if qtype == 1 or qtype == 5 or qtype == 6 or qtype == 7 or qtype == 8 or qtype == 9 or qtype == 11 or qtype == 12 or qtype == 13 or qtype == 14   or qtype == 18 %} no_visu_on_load {% endif %}">
                                        <label>Question à variables numériques aléatoires ? <span class="helper_tip"> <i class="fa fa-question-circle"></i> 
                                                                                    <div class="helper_tip_text" >Placer des variables aléatoires<br/> dans l'énoncé et les réponses.</div>
                                                                                </span>
                                        </label>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row no_visu_on_load" id="randomize_zone">
                                <div class="col-sm-12 col-md-12 alert alert-sacado">
                                    <div class="row">
                                        <div class="col-sm-11 col-md-11">
                                             
                                        </div>                                        
                                        <div class="col-sm-12 col-md-12 controls">
                                            <h4 class="thin">Déclaration des variables aléatoires <a href="#" id="new_item" class="btn btn-info add_more_question" >+ variable</a></h4>
                                        </div>

                                    </div>
                                    {{ form_var.management_form }} 

                                    <script id="rowToClone_question" type="text/template">
                                        <div id="duplicate_question">  
                                            <div class="col-sm-12 col-md-6 qrandom">
                                                    <div class="col-sm-2 col-md-2"> 
                                                            <label>Nom : </label>  <br/>{{ form_var.empty_form.name|add_class:"form-control"|attr:"placeholder:a" }} 
                                                    </div>

                                                    <div class="col-sm-3 col-md-2" > 
                                                            <label>Nb entier ?</label> <br/>
                                                            {{ form_var.empty_form.is_integer|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non" }} 
                                                    </div>
                                                    <div class="col-sm-2 col-md-2" > 
                                                                <label>0 exclus ?</label> <br/> 
                                                                {{ form_var.empty_form.is_notnull|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non" }} 
                                                    </div>
                                                    <div class="col-sm-2 col-md-2" > 
                                                                <label>Min.</label> <br/> 
                                                                {{ form_var.empty_form.minimum|add_class:"form-control" }} 
                                                    </div>
                                                    <div class="col-sm-2 col-md-2" > 
                                                            <label>Max.</label>  <br/>
                                                            {{ form_var.empty_form.maximum|add_class:"form-control" }} 
                                                    </div>
                                                    <div class="col-sm-1 col-md-2">
                                                        <div class="delete_button_question"></div>
                                                    </div>                                 
                                            </div>
                                        </div>
                                    </script>                            
                                    <div id="formsetZone_question">  
                                    </div>
                                </div>  

                                <div class="alert alert-danger">
                                    <div class="col-sm-12 col-md-12">
                                        <i class="fa fa-warning"></i> Ne pas utiliser dans votre énoncé et réponses les noms de vos variables pour désigner autre chose que vos variables.  
                                    </div>
                                </div>

                            </div> 
                            
                            <!-- ============================================================================ -->
                            <!-- ============================================================================ -->
                            <!-- ==========  Fin de la gestion du randomize dans les questions  ============= -->
                            <!-- ============================================================================ -->
                            <!-- ============================================================================ -->
                            <div class="row" >
                                <div class="col-sm-10 col-md-11" >  
                                    {{ form.title|add_class:"quizz_box quizz_font40" |attr:"placeholder:Ecrire votre question ici" |attr:"rows:3"|attr:"required"  }}
                                </div>
                                <div class="col-sm-2 col-md-1" > 
                                        <label>Taille de police</label><br/>
                                    {{ form.size|add_class:"form-control select2"  }}
                                </div>
                            </div>

                            {% if not quizz.is_video %}
                                <div class="row" > 
                                    <div class="col-sm-12 col-md-12 form-group">
                                        <a href="#" id="show_latex_formula" class="btn btn-sacado"><label> Ecriture de la question par formule <img src="{% static 'img/tex.png' %}" width="15px" /> ? </label> </a> 
                                    </div>
                                </div> 
                                <div class="row no_visu_on_load" id="latex_formula" > 
                                    <div class="col-sm-12 col-md-12">
                                        <span style="line-height: 1.7em">Utiliser 
                                            <span class="formula">\input[name][3em]{valeur par défaut}</span> 
                                            pour placer le champ à compléter. <br/>
                                            <span class="formula">\$ \frac{\input[num1][1em]{}}{\input[deno1][1em]{2}} \$</span> 
                                            affiche :  <img src="{% static 'img/formula.png' %}"/>
                                            <hr/>
                                            Pour la réponse attendue par champ, écrire dans l'emplacement "réponse.s attendue.s" (ci-dessous) les réponses au format <span class="formula_answer">name=reponse</span> séparées par <span class="formula">_##_</span>.  <span class="formula">num=4_##_deno=-5</span> signifie que la réponse du champ <span class="formula_answer">num</span> est 4 et la réponse du champ <span class="formula_answer">deno</span> est $-5$.</span>
                                    </div>
                                </div>  
                            {% endif  %}
                            <div class="row " >
                                <div class="col-sm-6 col-md-2" align="center" >  
                                    {% if quizz.is_video %}
                                    <div class="quizz_assets">
                                        <label>Durée</label><br/>
                                        {{ form.duration|add_class:"quizz_input quizz_input50" |attr:"placeholder:Ecrire votre question ici" |attr:"rows:1"|attr:"value:20" }}<label>s. </label>
                                    </div>
                                    {% endif %}
                                    {% if not quizz.is_video %}
                                    <div class="quizz_assets">
                                        <label>Point</label><br>
                                        {{ form.point|add_class:"quizz_input"|attr:"min:5"|attr:"max:100"|attr:"rows:1"|attr:"value:100"|attr:"step:5" }}  
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="col-sm-6 col-md-2" align="center" > 
                                    <div class="quizz_assets" id="check_calculator">
                                       <label>Calculatrice</label><br>
                                        {{ form.calculator  }} 
                                    </div>
                                    <div class="quizz_assets"  id="check_publish">
                                        <label>Publication</label><br>
                                        {{ form.is_publish  }} 
                                    </div>
                                </div>
 

                                {% if sacado_asso %}
                                <div class="col-sm-12 col-md-1" align="center" >
                                    <div class="quizz_assets" style="height:110px">
                                       <label>Support</label><br>
                                       <label><a href="#" id="support_audio" >Audio</a></label><br/>
                                       <label><a href="#" id="support_video" >Vidéo</a></label><br/>
                                       <label><a href="#" id="support_image" >Image</a></label><br/>
                                       <label><a href="#" id="support_audio_image" >Audio&Image</a></label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-7" align="center" > 
                                    <div id="drop_zone_image" class="{% if question.imagefile %}allowed_display{% else %}not_allowed_display{% endif %}">
                                        <div id="drop_zone" class="drop-zone">
                                            {% if question.imagefile  %}
                                                <p  style="font-size:18px">Remplacer votre image ici. MAX : 700px par 600px (500ko)</p>
                                                <img src="{{ question.imagefile.url }}" {% if question.width %}width="{{ question.width }}px"{% else %}width="300px"{% endif %} />
                                            {% else %} 
                                                <p class="title">Déposer votre image ici <div style="font-size:20px">MAX : 700px par 600px (500ko)</div></p>
                                            {% endif %}  
                                            <div class="preview-container"></div>
                                        
                                        {{ form.imagefile|attr:"multiple" }}
                                        </div>

                                        <div class="row">  
  
                                            <div class="col-sm-6 col-md-6" align="center" > 
                                                <label>Largeur <em>(optionnel)</em> :</label>
                                                {{ form.width }} px
                                            </div>
                                            <div class="col-sm-6 col-md-6" align="center" > 
                                                <label>Hauteur <em>(optionnel)</em> :</label>
                                                {{ form.height }} px
                                            </div>
                                        </div>



                                    </div>
                                    <div id="video_div" class="{% if question.video %}allowed_display{% else %}not_allowed_display{% endif %}"><br/><br/>
                                        {{ form.video|attr:"placeholder:Coller le code iframe de votre vidéo ici"|attr:"rows:5"  }}<br/><br/>
                                    </div>
                                    <div id="audio_div" class="{% if question.audio %}allowed_display{% else %}not_allowed_display{% endif %}">
                                        <label style="font-size:20px">Choix d'un fichier audio</label><br/><br/>
                                        {{ form.audio|add_class:"btn btn-default" }}
                                    </div>
                                </div> 

                                {% else %}
                                        <div class="col-sm-12 col-md-8" align="center">
                                            <div class="alert alert-danger">
                                                Pour inclure des images, des vidéos ou de l'audio, vous devez avoir la version établissement.
                                            </div>  
                                        </div>
                                {% endif %}
                            </div>
                    {% endblock %}



                    {% if qtype > 0 %}                    

                        {% if qtype < 5 %}<div style="height:30px"></div>{% endif %}
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group"> <label> Savoir faire ciblé :</label>
                                    {{ form.knowledge|add_class:"form-control select2"  }}
                                </div>                            
                            </div>
                        </div>

                        {% block details %}
                            {% if qtype != 2 %} 
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">                       
                                        <label><em>Couleur de fond des choix possibles</em></label> {{ form.theme |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Coloré"|attr:"data-off:Blanc"}}
                                        <label><em>Lors de la création des choix de réponse, le fond reste coloré.</em></label>
                                    </div>                            
                                </div>
                            </div>
                            {% endif %}
                        {% endblock %}                            
                        {% if request.user.is_superuser and not quizz.is_video %}
                            <div class="row">
                                <div class="col-sm-12 col-md-4"> 
                                    <a href="#" id="show_pseudorandomize_zone" class="{% if qtype == 1 or qtype == 2 or qtype == 3 or qtype == 4 or qtype == 10 %} no_visu_on_load {% endif %}btn btn-sacado">
                                        <label>Question pseudo-aléatoire ? <span class="helper_tip"> <i class="fa fa-question-circle"></i> 
                                                                                <div class="helper_tip_text" >
                                                                                    Nombre de choix de réponses <br/>
                                                                                    proposées parmi les réponses<br/> 
                                                                                    enregistrées. Ex : Si vous<br/> 
                                                                                    enregistrez 20 réponses<br/>
                                                                                    possibles et que vous<br/>
                                                                                    inscrivez 5, 5 réponses<br/> 
                                                                                    seront aléatoirement choisies<br/>
                                                                                    parmi les 20. <br/>
                                                                                    Dans le cas d'un QCM/QCS,<br/> au moins une sera valide.</div>
                                                                            </span>
                                        </label>
                                    </a>
                                </div>
                                <div class="col-sm-12 col-md-8">
                                    <span class="row no_visu_on_load btn-sacado" id="pseudorandomize_zone">
                                        {% if qtype == 5 %}
                                            <label> Nombre de paires proposées parmi les paires enregistrées ci-dessous </label>
                                        {% elif qtype == 6 %}
                                            <label> Nombre de correspondances proposées parmi les correspondances enregistrées ci-dessous </label>
                                        {% elif qtype == 7 %}
                                            <label> Nombre de locutions proposées parmi les locutions/textes séparés par une ligne horizontale (dernier bouton)</label>
                                        {% elif qtype == 8 %}
                                            <label> Nombre d'items à classer parmi les items enregistrés ci-dessous. Garder l'ordre de classement.</label>
                                        {% elif qtype == 9 %}
                                            <label> Nombre de locutions proposées parmi les locutions/textes séparés par une ligne horizontale (dernier bouton)</label>
                                        {% elif qtype == 11 or qtype == 12 or qtype == 13  %}
                                            <label> Nombre de mots proposés parmi les mots enregistrés ci-dessous </label>
                                        {% elif qtype == 14 %}
                                            <label> Nombre de thèmes proposés parmi les thèmes enregistrés ci-dessous </label>
                                        {% elif qtype == 15 %}
                                            <label> Nombre d'éléments à positionner parmi les éléments enregistrés ci-dessous </label>

                                        {% elif qtype == 18 %}
                                            <label> Nombre d'étiquettes à placer parmi les étiquettes enregistrées ci-dessous </label>
                                        {% endif %}

                                             {{ form.pseudoalea_nb }}
                                    </span>                                    
                                </div>
                            </div>
                        {% endif %}
                    {% endif %} 




                    {% block type_of_choices %}
                        {% if qtype == 2 %} 

                            {% if quizz.is_result %}
                            <div class="row" > 
                                <div class="col-sm-6 col-md-6 form-group">  
                                        {{ form.answer|add_class:"quizz_box quizz_font30" |attr:"placeholder:Réponse.s attendue.s" |attr:"rows:1"  }}
                                        <small>Si plusieurs réponses, le séparateur est ____ (4 tirets du bas) sans espace entre les réponses. Exemple : motA____motB____motC sont trois réponses possibles.</small>
                                </div>
                                <div class="col-sm-6 col-md-6 form-group">  
                                    {{ form.writinganswer|add_class:"quizz_box quizz_font30" |attr:"placeholder:Rédaction de la réponse affichée" |attr:"rows:1"  }}
                                    <small><img src="{% static 'img/tex.png' %}" width="20px" /> Utiliser le dollar $ comme intégrateur de formule.</small>
                                </div>
                            </div>
                            {% else %} 
                            <div class="row" > 
                                <div class="col-sm-12 col-md-12 form-group">  
                                        {{ form.answer|add_class:"quizz_box quizz_font30" |attr:"placeholder:Réponse.s attendue.s" |attr:"rows:1"  }}
                                        <small><em>Si plusieurs réponses, le séparateur est ____ (4 tirets - underscore) sans espace entre les réponses. Exemple :</em> motA____motB____motC <em>sont trois réponses possibles.</em></small>
                                </div>
                            </div>
                            {% endif %} 
                        {% endif %}  
                    {% endblock %}

                    {% block add_more %} 
                    {% endblock %}  

                    {% if qtype > 0 %}

                    <div class="row" style="margin-top: 20px;" >
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group"> 
                                {% if quizz %}
                                <span data-toggle="modal" data-target="#overview" class="btn btn-info btn-lg"  id="this_question_display_overview" > <i class="fa fa-eye"></i> Aperçu de la question</span>
                                {% endif %}
                                <input value="Enregistrer" type="submit" class="btn btn-primary  btn-lg" id="click_button" />
                                {% if quizz %}
                                <a href="{% url 'create_question'  quizz.id  0 %}"><input type="button" value="Changer de type de question" class="btn btn-default btn-lg"/></a> 
                                {% else %}
                                <a href="{% url 'admin_create_question_ia'  knowledge.id  0 %}"><input type="button" value="Changer de type de question" class="btn btn-default btn-lg"/></a> 
                                {% endif %}
                            </div>                            
                        </div>
                    </div>
                    {% endif %}
                </div>

            </form>

        </div>
    </div>
</section>
{% if quizz %}
<div class="modal fade" id="question_choice" tabindex="-1" role="dialog" aria-labelledby="question_choice">
    <div class="modal-dialog" role="document" style="width: 100%;">
        <div class="modal-content" >
            <div class="modal-header"  style="background-color: #F0F0F0">
                <form action="#" method="POST" enctype='multipart/form-data' >
                    {% csrf_token %} 
                    <div class="col-sm-12 col-md-2">
                        <input name="search_question" id="search_question" placeholder="mots clés de 3 lettres min."  class="form-control" />
                        <input type="hidden" name="quizz_id" id="quizz_id" value="{{ quizz.id }}" /> 
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <select name="search_question_waiting" id="search_question_waiting" class="form-control">
                            <option value="">Sélectionner un attendu</option>
                            {% for w in waitings %}
                                <option value="{{ w.id }}">{{ w.name }}</option>
                            {% endfor %}
                        </select>  
                    </div>
                    <div class="col-sm-12 col-md-5">
                        <select name="search_question_knowledge" id="search_question_knowledge" class="form-control">
                            <option value="">Sélectionner un attendu</option>
                        </select>  
                    </div>
                    <div class="col-sm-12 col-md-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> 
                    </div>
                </form>
            </div>

            <div class="modal-body" id='questions_finder'>

            </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="overview" tabindex="-1" role="dialog" aria-labelledby="overview">
    <div class="modal-dialog" role="document" style="width: 1000px;">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
            </div>
            <div class="modal-body">
                <div class="row">  
                    <div class="col-sm-2 col-md-2" align="left">
                         
                    </div>
                    <div class="col-sm-8 col-md-8" align="center" id="type_of_question">

                    </div>
                    <div class="col-sm-2 col-md-2" align="right">
                        <div class="countdown instruction" id="overview_duration" > 
                    
                        </div>
                    </div>
                </div> 
                <div class="row">  
                    <div class="col-sm-12 col-md-12" align="center">
                        <h1 class="thin" id="overview_text"> </h1>
                    </div>
                </div> 
                <div class="row">  
                    <div class="col-sm-12 col-md-12" align="center">
                         <img id="overview_imagefile" /> 
                    </div>
                </div>
                <div class="row">  
                    <div class="col-sm-12 col-md-12" align="center" id="overview_audio"> 
                    </div>
                </div>
                <div class="row">  
                    <div class="col-sm-12 col-md-12" align="center" id="overview_video"> 

                    </div>
                </div>
                <hr/> 
                <div class="row" id="overview_answers" >  
 
                </div>
            </div>
        </div>
    </div>
</div> 
{% endif %}

{% endblock %} 

 