{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}



{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    <script>
        require(['script/ajax-quizz']);
    </script> 
{% endblock %}
 

{% block page_title %}
   Créateur de quizz 
   {% if quizz %}
   <img width="25px" src="{% static 'img/angle-right.png' %}"/> <a href="{% url 'update_quizz' quizz.id %}"> <small>{{ quizz.title }}</small></a>
   {% endif  %}
   <img width="25px" src="{% static 'img/angle-right.png' %}"/> 
   <small> 
    {{ title_type_of_question }} 
   </small>
{% endblock %}


{% block page_menu_right %}
    <a href="{% url 'list_quizzes'  %}" target="_blank" class="btn btn-new">Mes quizz</a>
    <a href="{% url 'show_quizz' quizz.id %}" target="_blank" class="btn btn-new">Voir le quizz</a>
{% endblock %}



{% block body %}
<link rel="stylesheet" href="{% static 'css/uploader.css' %}">
<section class="content_list"> 

        <div class="row">
            <div class="col-sm-12 col-md-2">
 
                {% if quizz.is_random  %}
  
                    <div class="form-group">
                        <h3>{{ quizz.subject}}  </h3> 
                    </div>
                     <div class="form-group">
                        {% for l in quizz.levels.all %} <li class="sanspuce">{{ l }}</li> {% endfor %}   
                    </div>
                     <div class="form-group">
                        {% for t in quizz.themes.all %} <li class="sanspuce">{{ t }}</li> {% endfor %}   
                    </div>

                {% else  %}
 
                <form action="#" method="POST"  >
                    <div class="quizz_list_question">
                        <ul id="questions_sortable_list">
                            {% for question in questions %}
                                {% include 'tool/list_of_question.html' %}
                            {% endfor %}
                        </ul>
                    </div>
                </form>
                
<!--                  <div class="question_bank" >
                    <a href="#" data-toggle='modal' data-target='#question_choice' class="btn btn-quizz_bank" >Banque de questions</a> 
                </div> -->

                {% endif %}



            </div>

            <div class="col-sm-12 col-md-10" >  
                <form action="#" method="POST" id="question_form"  enctype='multipart/form-data' >
                {% csrf_token %}    
                <input type="hidden" name="quizz_id" id="quizz_id" value="{{ quizz.id }}" /> 
                <input type="hidden" name="qtype" id="qtype" value="{{ qtype }}" /> 
                    <div id="body_question"> 
                        {% block type_of_question %} 

                                <div class="row" >
                                    <div class="col-sm-12 col-md-12" >  
                                        {{ form.title|add_class:"quizz_box quizz_font40" |attr:"placeholder:Ecrire votre question ici" |attr:"rows:1"|attr:"required"  }}
                                    </div>
                                </div>
                                <div class="row margin40" >
                                    <div class="col-sm-6 col-md-2" align="center" >  
                                        <div class="quizz_assets">
                                            <label>Durée</label><br/>
                                            {{ form.duration|add_class:"quizz_input quizz_input50" |attr:"placeholder:Ecrire votre question ici" |attr:"rows:1"|attr:"value:20" }}<label>s. </label>
                                        </div>
                                        <div class="quizz_assets">
                                            <label>Point</label><br>
                                            {{ form.point|add_class:"quizz_input"|attr:"min:200"|attr:"max:2000"|attr:"step:200"|attr:"rows:1"|attr:"value:1000" }}  
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-2" align="center" > 
                                        <div class="quizz_assets" id="check_calculator">
                                           <label>Calculatrice</label><br>
                                            {{ form.calculator  }} 
                                        </div>
                                        <div class="quizz_assets"  id="check_publish">
                                            <label>Publication</label><br>
                                            {{ form.is_publish  }} 
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-8" align="center" > 
                                        <div id="drop_zone" class="drop-zone">
                                          <p class="title">Déposer votre image ici <div style="font-size:20px">MAX : 700px par 600px</div></p>
                                          <div class="preview-container"></div>
                                        </div>
 
                                            {{ form.imagefile|attr:"multiple" }} 
                                    </div>  
                                </div>
                        {% endblock %} 
                        {% block type_of_choices %}    

                        {% endblock %}
                    </div>


                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">                            
                                {% if qtype > 0 %}
                                    <input value="Enregistrer" type="submit" class="btn btn-primary  btn-lg" id="click_button" />
                                    <a href="{% url 'create_question'  quizz.id  0 %}"><input type="button" value="Changer de type de question" class="btn btn-default btn-lg"/></a>
                                {% else %}
                                    {% if quizz.questions.count > 0 %}
                                    <a href="{% url 'create_question'  quizz.id  0 %}" class="btn btn-primary  btn-lg" ><i class="fa fa-eye"></i> Visionner le quizz</a>
                                    {% endif %}
                                {% endif %}
                            </div>                            
                        </div>
                    </div>



                </form>

            </div>
        </div>
  
</section>


 
 

{% endblock %} 