<!DOCTYPE html>
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}
<html lang="en">
<head>
	<title>Capture d'images</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- cropzee.js -->
	<script src="{% static 'js/lib/cropzee.js' %}" defer></script>
	<!--  -->
 
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/AdminLTEperso.css' %}"> 
</head>
<body>



    <div class="col-sm-12 col-md-12" align="center"> 
             <div class="row" style="margin:10px">
                <div class="col-sm-12 col-md-12"> 

                	<h1 class="thin">Capture par smartphone</h1>

                </div>
            </div>


        <form action="{% url 'create_videocopy' %}" method="POST"  enctype='multipart/form-data'>
            {% csrf_token %}

            <div class="row" style="margin:10px">
                <div class="col-sm-12 col-md-12"> 

                	{{ form.image|add_class:"btn btn-default" }}

                </div>
            </div>

            <div class="row" style="margin:10px">
                <div class="col-sm-12 col-md-12">


                    <div class="form-group">
						 	<label for="id_image" class="image-previewer" data-cropzee="id_image"> </label>
							
                    </div>
                </div>
            </div>
 
            <div class="row">
                <div class="col-sm-12 col-md-12"> 
                    <div class="form-group">
                        <input value="Télécharger dans la bibliothèque" type="submit" class="btn btn-primary"  {% if not sacado_asso %}  disabled  title='La version établissement est requise.' {% endif %}/>
                    </div>
                </div>
            </div>
            <div class="row"  style="margin:10px">
                <div class="col-sm-12 col-md-12"> 
                    <div class="form-group">
                        <a href="{% url 'list_videocopy' %}" class="btn btn-default">Annuler, retour à ma bibliothèque</a>
                    </div>
                </div>
            </div>
        </form>

    </div>


	<script>
		$(document).ready(function(){
			$("#id_image").cropzee({startSize: [250, 250, 'px'],});
		});
	</script>
</body>
</html>