{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}



{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    <script>
        require(['script/ajax-quizz-create','script/ajax-question-flash']);
    </script>  
 
{% endblock %}

 

{% block page_title %}
     <i class="bi bi-lightning"></i>  
    {% include 'qcm/breadcrumb.html' %} 

    {% if quizz %} <img src="{% static 'img/angle-right.png' %}" width="25px"/> <small> Configuration</small> {% else %} Nouvelles questions flash {% endif %}

    {% include 'modes.html' %}
{% endblock %}



{% block page_menu_right %}

{% endblock %}

 

{% block css_files %}
{% endblock %}


{% block body %}
<style type="text/css">
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
}
</style>
<section class="content_main"> 
    <form action="" method="POST"  enctype='multipart/form-data'>
    	{% csrf_token %}
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-9 form_card">
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Titre des questions flash <small>(optionnel)</small></label>
                            {{ form.title |add_class:"form-control"|attr:"value:Questions flash" }}
                            {{ form.title.errors }}
                        </div>
                        <div class="col-xs-6 text-danger">
                            <label>Actuellement, les questions flash ne sont proposées qu'en Maths du CP à la 4è. Notre équipe développe les autres niveaux. </label>
                        </div>
                    </div>
                    <div class="row form-group">  
                        <div class='col-xs-12 col-md-4'>
                            {% comment %}
                            <table class="table table-sacado borderless">
                                <tr>
                                    <td>Nombre de questions</td>
                                    <td style="width:80px">{{ form.nb_slide|add_class:"form-control"  }}</td>
                                    <td>{{ form.nb_slide.errors }}</td>
                                </tr>
                                <tr style="display:none">
                                    <td class="no_border">Numérique ?  <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                                    <div class="helper_tip_text" >Passation sur un ordinateur, un smartphone, une tablette.</div>
                                                </span> 
                                    </td>
                                    <td>{{ form.is_numeric|attr:"data-toggle:toggle"|attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"|attr:"data-width:130" }}
                                    </td>
                                    <td></td>
                                </tr> 
                                <tr id="is_video_div" style="display:none">
                                    <td class="no_border">{{ form.is_video.label_tag }}</td>
                                    <td>{{ form.is_video|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Numérique"|attr:"data-off:Papier"|attr:"data-width:130" }}</td>
                                    <td></td>
                                </tr>
                            </table>
                            {% endcomment %}
                            <label>Nombre de questions</label><br/>
                            {{ form.nb_slide|add_class:"form-control" }}
                            {{ form.nb_slide.errors }}
                        </div>
                        <div class="col-xs-12 col-md-5">
                            {% comment %}
                            <label>Enseignement</label>
                            {{ form.subject|add_class:"form-control select2" }}
                            {{ form.subject.errors }}<input name="levels" type="hidden" value="{{ level.id }}" />
                            {% endcomment %}
                            <label>Niveau</label>
                            {{ form.levels|add_class:"form-control select2" }}
                            {{ form.levels.errors }}
                            <input id="id_subject"  name="subject" type="hidden" value="1" />
                            <input name="color" type="hidden" value="#5d4391" /> 
                            
                        </div>
                    </div> 
                    <div class="row setup_ggb {% if bibliotex or group %}no_visu{% endif %}">
                        <div class="col-xs-12 col-md-4" >   
                            <div class="form-group form_card"> 
                                <label>Affecter à mon groupe  </label> {% if group %}
                                        <span class="helper_tip"> <i class="fa fa-question-circle"></i> 
                                            <div class="helper_tip_text" >Les groupes proposés sont du même niveau que le groupe {% include 'group/group_labelname.html' %} {% if folder %} et contiennent le dossier {{ folder.title }}.{% endif %} </div>
                                        </span> {% endif %}
                                <div class="alert alert-sacado" style="overflow-y: auto;height: 200px;"  id="grplist">
                                {{ form.groups|add_class:"select_all" }}
                                {{ form.groups.errors }}
                                </div>
                            </div>
                        </div>                            


                        <div class="col-xs-12 col-md-4" >
                            <div class="form-group form_card">
                            {% if quizz or folder or group  %}                                
                            
                                <label>Inclure dans le  dossier </label><span class="helper_tip"> <i class="fa fa-question-circle"></i> 
                                    <div class="helper_tip_text" >Facultatif, mais permet d'organiser ses documents.</div>
                                </span>
                                <div class="alert alert-sacado" style="overflow-y: auto;height: 200px;" id="cblist"> 
                                    {% for folder in group.folders_not_in_trash %}  
                                        <label for="id_folders_{{forloop.counter}}">
                                            <input type="checkbox" id="id_folders_{{forloop.counter}}" class="select_folders" name="folders" value="{{folder.id}}" {% if folder in quizz.folders.all %}checked{% endif %} /> {{folder.title}}
                                        </label>
                                            <br/>
                                    {% endfor %}
                                </div>
                            {% else %}

                                <label>Inclure dans le  dossier </label><span class="helper_tip"> <i class="fa fa-question-circle"></i> 
                                    <div class="helper_tip_text" >Facultatif, mais permet d'organiser ses documents.</div>
                                </span> 
                                <div class="alert alert-sacado"style="overflow-y: auto;height: 200px;" id="cblist">
                                    <label class="text-danger"><i class="fa fa-warning"></i>Choisir au moins un groupe.</label>
                                </div>

                            {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group form_card">  
                                <label>Associer à un parcours  </label><span class="helper_tip"> <i class="fa fa-question-circle"></i> 
                                    <div class="helper_tip_text" >Facultatif, mais permet d'organiser ses documents.</div>
                                </span>                                          
                                {% if quizz  or folder  %}
                                    <div class="alert alert-sacado"  style="overflow-y: auto;height: 200px;" id="pclist">
                                    {% for parcours in  folder.parcours_not_in_trash %}  
                                        <label for="id_folders_{{forloop.counter}}">
                                            <input type="checkbox" id="id_folders_{{forloop.counter}}"  name="parcours" value="{{parcours.id}}" {% if parcours in quizz.parcours.all %}checked{% endif %} /> {{parcours.title}}</label><br/>
                                    {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="alert alert-sacado" id="pclist" style="overflow-y: auto;height: 200px;">
                                        <label class="text-danger"><i class="fa fa-warning"></i> Choisir au moins un dossier.</label>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div> 
                </div>            

               
                <div class='col-xs-12 col-md-3' >
                    <table class="table table-sacado borderless form_card   setup_ggb no_visu">
                        <tr style="display:none">
                            <td>{{ form.is_publish.label_tag }} <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                    <div class="helper_tip_text" >Visible par les élèves.</div>
                                </span></td>
                            <td>{{ form.is_publish |attr:"data-toggle:toggle" |attr:"data-onstyle:success"|attr:"data-offstyle:danger"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
                            <td>{{ form.is_publish.errors }}</td>
                        </tr>
                        <tr style="display:none" id="publication_div">
                            <td><label>Date de publication :</label>  
                                <span class="helper_tip"> <i class="fa fa-question-circle"></i> 
                                    <div class="helper_tip_text" >Date à partir de laquelle le parcours est publié.<br/>
                                    <span class="text-danger">Pour modifier la date, vider le champ.</span>
                                    </div>
                                </span>
                            </td>
                            <td>{{ form.start|add_class:"form-control datetimepicker"}}</td>
                            <td></td>
                        </tr>

                        <tr style="display:none">
                            <td>{{ form.is_share.label_tag }} 
                                <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                    <div class="helper_tip_text" >Si Mutualisé, vos collègues peuvent le lire. Il est alors préférable de renseigner l'enseignement, le niveau et le thème pour le retrouver plus facilement.</div>
                                </span> 
                            </td>
                            <td> {{ form.is_share|attr:"data-toggle:toggle"|attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non" }}  </td>
                        </tr>                            

                        <tr style="display:none">
                            <td class="no_border">{{ form.is_result.label_tag }} 
                                <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                    <div class="helper_tip_text" >Affiche les réponses pour les élèves dans leur espace. Utile après la passation. Attention de faire passer tous les groupes avant l'affichage.</div>
                                </span> 
                            </td>
                            <td>{{ form.is_result|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non" }}  </td>
                        </tr>
                        <tr>
                            <td class="no_border">{{ form.is_result_final.label_tag }} 
                                <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                    <div class="helper_tip_text" >Affiche les réponses en fin de quizz ou entre chaque question.  Les durées d'affichage de la question et de la réponse sont égales.</div>
                                </span> 
                            </td>
                            <td colspan="2">{{ form.is_result_final|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Fin de quizz"|attr:"data-off:Intercalée"|attr:"data-width:130" }}  </td>
                        </tr>
                        <tr class="div_interslide">
                            <td class="no_border"> Variation de la durée <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                            <div class="helper_tip_text" >Permet de ralentir (+) ou d'accélérer (-) la durée donnée dans les formats de question.</div>
                                        </span> </td>
                            <td style="width:80px">{{ form.delta_duration|add_class:"form-control" }}</td>
                            <td><small>sec.</small></td>
                        </tr>
                    </table>


                    <div class="col-xs-6 col-md-6 form_card"   style="margin-top: 20px;"> 
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#ask_question" class="btn btn-sacado">Proposer <br/>un type de <br/>question flash</a>
                        <div id="sender_qf_ok" class="text-success"></div>
                    </div> 

                </div> 

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12" style="margin-top: 10px" id="question_choice_style">
                {% if level %}
                <table class="table table-hover borderless display1000" style="width:100%;" >
                    <thead> 
                        <tr>
                            <th></th><th></th>
                        </tr>
                    </thead> 
                    <tbody>
                        {% for all_mental  in all_mentals %}   
                            <tr class="title_tr">
                                <td style="width:85%"> {{ all_mental.level.name  }} </td><td ></td>
                            </tr>
                            
                            {% for all_mental_sub  in all_mental.sub %} 
                                <tr class="subtitle_tr opener out"   id="{{ all_mental_sub.mentaltitle.id }}">
                                    <td style="width:85%">
                                        <input type="checkbox" class="class_select_all_these_items" data-document_id="{{ all_mental_sub.mentaltitle.id }}" /> <i class="fa fa-caret-right"></i> {{ all_mental_sub.mentaltitle.title }} 
                                    </td> 
                                    <td>Temps par question</td>
                                </tr> 
                                {% for m in all_mental_sub.mentals.all %}
                                    {% if m %}
                                    <tr style="background:white; cursor: pointer;" class="opener_k opened{{ all_mental_sub.mentaltitle.id }} out no_visu_on_load colored_tr" >
                                        {% get_question_is_already_used m teacher as is_already_used %}
                                        <td >
                                            <label {% if is_already_used.date %} class="text-success" title="Déjà utilisé le {{ is_already_used.date|date:'Y-m-d' }}"{% endif %}  > 
                                                <input type="checkbox" value="{{m.id }}" name="mental_ids"  class="groupcheckbox these_items_to_be_selected{{ all_mental_sub.mentaltitle.id }}" /> {{ m.content }}   
                                            </label> 
                                        </td> 
                                        <td >
                                            <small>{{ m.duration }} secondes </small>
                                        </td>  
                                    </tr> 
                                    {% endif %} 
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-danger">
                    Choisir au moins un niveau.
                </div>
                {% endif %}
            </div> 
        </div>
	    <div class="row">
	        <div class="col-xs-6 col-md-6"> 
	            <div class="form-group">
	                <input value="Générer" id="create_questions_flash" type="submit" class="btn btn-primary" />
	                <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default "/></a>
	            </div>
	        </div> 
 	    </div>
 
    </form>  
</section>


<div class="modal fade" id="ask_question" tabindex="-1" role="dialog" aria-labelledby="ask_question">
    <div class="modal-dialog modal-maxsize" role="document">
        <div class="modal-content" >
            <div class="modal-header">            
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h4>...et SACADO le code pour vous. </h4>  
            </div>
            <div class="modal-body">
                <form  action="" method="POST">
                    {% csrf_token %}
                    <div class="row">  
                        <div class='col-xs-12'>
                            <div class='form-group'> 
                                <input type="text" name="title" id="title"  class="form-control" required placeholder="Titre" />
                            </div>
                        </div>
                    </div>  
                    <div class="row">  
                        <div class='col-xs-12'>
                            <div class='form-group'> 
                                <select name="level" id="level"  class="form-control select2"  required>
                                    <option value="Maternelle">Maternelle</option>
                                    <option value="CP">CP</option>
                                    <option value="CE 1">CE 1</option>
                                    <option value="CE 2">CE 2</option>
                                    <option value="CM 1">CM 1</option>
                                    <option value="CM 2">CM 2</option>
                                    <option value="6 ème">6 ème</option>
                                    <option value="5 ème">5 ème</option>
                                    <option value="4 ème">4 ème</option>
                                    <option value="3 ème">3 ème</option>
                                    <option value="2 nde">2 nde</option>
                                    <option value="1 ère">1 ère</option>
                                    <option value="T ale">T ale</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">  
                        <div class='col-xs-12'>
                            <div class='form-group'> 
                                <textarea name="enonce"  id="enonce"  class="form-control" required placeholder="Enoncé ou exemple"></textarea> 
                            </div>
                        </div>    
                    </div>
                    <div class="row">  
                        <div class='col-xs-12'>
                            <div class='form-group'> 
                                <a href="javascript:void(0);" id="send_qf_to_sacado" class="btn btn-sacado">Envoyer l'énoncé</a> 
                            </div>
                        </div>    
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>

{% endblock %} 