{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}



{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    <script>
        require(['script/ajax-quizz-create','script/ajax-question-flash']);
    </script>  
 
{% endblock %}

 

{% block page_title %}
    <span class="sacado_color_text"><i class="bi bi-lightning"></i></span>  
    {% include 'qcm/breadcrumb.html' %}

    {% if quizz %} <img src="{% static 'img/angle-right.png' %}" width="25px"/> <small> Configuration</small> {% else %} Nouvelles questions flash {% endif %}

    {% include 'modes.html' %}
{% endblock %}



{% block page_menu_right %}

    <a href="{% url 'list_questions_flash'   %}" class="btn btn-new pull-right">Mes questions flash</a>  

{% endblock %}

 

{% block css_files %}
{% endblock %}


{% block body %}
<style type="text/css">
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
}
</style>
<section class="content_main"> 
    <form action="" method="POST"  enctype='multipart/form-data'>
    	{% csrf_token %}
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-md-6 form_card">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Titre des questions flash</label>
                            {{ form.title |add_class:"form-control"|attr:"value:Questions flash" }}
                            {{ form.title.errors }}
                        </div>
                        <div class="col-sm-6 text-danger">
                            Actuellement, les questions flash ne sont proposées qu'en Maths 
                        </div>
                    </div>
                    <div class="row form-group">  
                        <div class="col-sm-12 col-md-5">
                            {% comment %}
                            <label>Enseignement</label>
                            {{ form.subject|add_class:"form-control select2" }}
                            {{ form.subject.errors }}
                            {% endcomment %}

                            <input id="id_subject"  name="subject" type="hidden" value="1" />
                            <input name="color" type="hidden" value="#5d4391" /> 
                                <label>Niveaux</label>
                                {{ form.levels|add_class:"form-control select2" }}
                                {{ form.levels.errors }}
                        </div>
                        <div class='col-sm-12 col-md-7'>
                            <table class="table table-sacado borderless">
                                <tr>
                                    <td>Nombre de questions <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                            <div class="helper_tip_text" >Visibles par les élèves.</div>
                                        </span></td>
                                    <td style="width:80px">{{ form.nb_slide|add_class:"form-control"  }}</td>
                                    <td>{{ form.nb_slide.errors }}</td>
                                </tr>
                                <tr style="display:none">
                                    <td class="no_border">Numérique ?  <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                                    <div class="helper_tip_text" >Passation sur un ordinateur, un smartphone, une tablette.</div>
                                                </span> 
                                    </td>
                                    <td>{{ form.is_numeric|attr:"data-toggle:toggle"|attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"|attr:"data-width:130" }}
                                    </td>
                                    <td></td>
                                </tr> 
                                <tr id="is_video_div" style="display:none">
                                    <td class="no_border">{{ form.is_video.label_tag }}</td>
                                    <td>{{ form.is_video|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Numérique"|attr:"data-off:Papier"|attr:"data-width:130" }}</td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>    
                </div>            
                <div class="col-sm-12 col-md-6 setup_ggb no_visu">
                    <div class="row ">
                        <div class="col-sm-12 col-md-6">
                            <div class="exercise_body_shared no_visu form_card" style="height: 270px;">
                                <label>Attribuer aux groupes</label> 
                                {{ form.groups|add_class:"select_all"   }}
                                {{ form.groups.errors }}
                            </div>
 
                        </div>
                        <div class='col-sm-12 col-md-6 form_card'  style="height: 270px;">
                            <table class="table table-sacado borderless ">
                                <tr>
                                    <td>{{ form.is_publish.label_tag }} <span class="helper_tip"> <i class="fa fa-question-circle"></i>
                                            <div class="helper_tip_text" >Visible par les élèves.</div>
                                        </span></td>
                                    <td>{{ form.is_publish |attr:"data-toggle:toggle" |attr:"data-onstyle:success"|attr:"data-offstyle:danger"|attr:"data-on:Oui"|attr:"data-off:Non"}}</td>
                                    <td>{{ form.is_publish.errors }}</td>
                                </tr>
                                <tr id="publication_div">
                                    <td><label>Date de publication :</label>  
                                        <span class="helper_tip"> <i class="fa fa-question-circle"></i> 
                                            <div class="helper_tip_text" >Date à partir de laquelle le parcours est publié.<br/>
                                            <span class="text-danger">Pour modifier la date, vider le champ.</span>
                                            </div>
                                        </span>
                                    </td>
                                    <td>{{ form.start|add_class:"form-control datetimepicker"}}</td>
                                    <td></td>
                                </tr>

                                <tr style="display:none">
                                    <td>{{ form.is_share.label_tag }} 
                                        <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                            <div class="helper_tip_text" >Si Mutualisé, vos collègues peuvent le lire. Il est alors préférable de renseigner l'enseignement, le niveau et le thème pour le retrouver plus facilement.</div>
                                        </span> 
                                    </td>
                                    <td> {{ form.is_share|attr:"data-toggle:toggle"|attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non" }}  </td>
                                </tr>                            
     
                                <tr style="display:none">
                                    <td class="no_border">{{ form.is_result.label_tag }} 
                                        <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                            <div class="helper_tip_text" >Affiche les réponses pour les élèves dans leur espace. Utile après la passation. Attention de faire passer tous les groupes avant l'affichage.</div>
                                        </span> 
                                    </td>
                                    <td>{{ form.is_result|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non" }}  </td>
                                </tr>


                                <tr>
                                    <td class="no_border">{{ form.is_result_final.label_tag }} 
                                        <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                            <div class="helper_tip_text" >Affiche les réponses en fin de quizz ou entre chaque question.  Les durées d'affichage de la question et de la réponse sont égales.</div>
                                        </span> 
                                    </td>
                                    <td colspan="2">{{ form.is_result_final|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Fin de quizz"|attr:"data-off:Intercalée"|attr:"data-width:130" }}  </td>
                                </tr>
                                <tr class="div_interslide">
                                    <td class="no_border"> {{ form.interslide.label_tag }} <span class="helper_tip"> <i class="fa fa-question-circle"></i>  
                                                    <div class="helper_tip_text" >Pour les transitions automatisées, en mode auto déclenché des vidéo-projections.</div>
                                                </span> </td>
                                    <td style="width:80px">{{ form.interslide|add_class:"form-control" }}</td>
                                    <td><small>sec.</small></td>
                                </tr>









                            </table>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12" style="margin-top: 10px" id="question_choice_style">
                <div class="alert alert_white">
                Les questions flash sont proposées jusqu'au niveau CM2. Les niveaux de Sixième à Terminale sont en cours de construction.
                </div>
            </div> 
        </div>
	    <div class="row">
	        <div class="col-sm-6 col-md-6"> 
	            <div class="form-group">
	                <input value="Générer" id="create_questions_flash" type="submit" class="btn btn-primary" />
	                <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default "/></a>
	            </div>
	        </div> 
 	    </div>
 
    </form>  
</section>
{% endblock %} 