{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


   
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

    <script>
        require(['script/ajax-supportfile']);
    </script> 


{% endblock %} 

  
{% block page_title %}
     Les savoir faire par niveau<img src="{% static 'img/angle-right.png' %}"/> {{ level.name }}
{% endblock %}

{% block page_menu_right %}
    <a href="{% url 'list_sf_bo' 0 %}" class="btn btn-default" >Liste des niveaux</a>
{% endblock %}


{% block body %}
<section class="content_container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            {% if level %}
                <table class="table table-hover display1000" style="width:100%" >
                    <thead> 
                        <tr>
                            <th></th>
                        </tr>
                    </thead> 
                    <tbody>  
                        {% regroup waitings by theme as theme_list %}
                        {% for theme in theme_list  %} 
                            <tr style="background:#5d4391; color:white">
                                <td style="width:85%;">{{theme.grouper.subject.name}} : {{theme.grouper.name}}</td> 
                            </tr> 
                            {% for waiting in theme.list  %}
                                <tr style="background:#aa98cd; cursor: pointer; color: white " class="opener out"  id="{{ waiting.id }}">
                                    <td style="width:85%"><i class="fa fa-caret-right"></i> {{waiting.name}}  </td> 
                                </tr>  
                                {% for knowledge in waiting.knowledges.all  %}
                                    <tr style="background:#d4cbe6; cursor: pointer; color: #5d4391" class="listingtd opener_k opened{{ waiting.id }} out"  id="{{ knowledge.id}}"> 
                                        <td>
                                            {{ knowledge.name|capfirst }} 
                                        </td>
                                    </tr>
                                {% endfor %}  
                            {% endfor %}
                        {% endfor %}  
                    </tbody>
                </table>
            {% else %}

                {% for s in subjects %}
                    <h3 class="thin"> {{ s.name }}. <small>Sélectionner un niveau</small></h3>
                    {% for l in levels %}
                        {% with slug=s.id|create_slug:l.id %}
                        <a href="{% url 'list_sf_bo'  slug %}" class="btn btn-sacado" >{{ l.shortname }}</a>
                        {% endwith %}
                    {% endfor %}
                    {% if s.id == 1 %}
                        <h4 class="thin">    Repères de progressivité : 
                           <a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/73/2/02-Maths-CP-attendus-eduscol_1114732.pdf" target="_blank" class="btn btn-sacado" > CP</a>

                            <a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/73/4/04-Maths-CE1-attendus-eduscol_1114734.pdf" target="_blank" class="btn btn-sacado" > CE1</a>

                            <a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/73/6/06-Maths-CE2-attendus-eduscol_1114736.pdf" target="_blank" class="btn btn-sacado" > CE2</a>


                            <a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/73/8/08-Maths-CM1-attendus-eduscol_1114738.pdf" target="_blank" class="btn btn-sacado" >CM1</a>

                            <a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/74/0/10-Maths-CM2-attendus-eduscol_1114740.pdf" target="_blank" class="btn btn-sacado" >CM2</a>

                            <a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/74/2/12-Maths-6e-attendus-eduscol_1114742.pdf" target="_blank" class="btn btn-sacado" >6<sup>ème</sup></a> 


                            <a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/74/4/14-Maths-5e-attendus-eduscol_1114744.pdf" target="_blank" class="btn btn-sacado" >5<sup>ème</sup></a> 

                            <a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/74/6/16-Maths-4e-attendus-eduscol_1114746.pdf" target="_blank" class="btn btn-sacado" >4<sup>ème</sup>  </a>

                            <a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/74/8/18-Maths-3e-attendus-eduscol_1114748.pdf" target="_blank" class="btn btn-sacado" >3<sup>ème</sup> </a>
                        </h4>



 
                    {% endif %}
                    <hr/>
                {% endfor %}
            {% endif %}
        </div>
    </div> 
</section>
{% endblock %}                        

 

 