{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}
 
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>


    <script>
        require(['script/ajax-tool']);
    </script> 

{% endblock %}



{% block page_title %}
        <a href="{% url 'index' %}" ><i class="fa fa-cloud"></i> </a> Les outils pédagogiques
{% endblock %}

{% block page_menu_right %}

    {% if request.user.is_superuser %}
        <a href="" data-toggle="modal" data-target="#toolChoice" class="btn btn-new pull-right"> Créer un outil</a>  
    {% endif %}
 
{% endblock %}




{% block body %}

 
 

    <section class="content_main"> 
        <form method="POST">
        {% csrf_token %}
        <div class="row" style="margin-left:0px; margin-right:0px; border:1px solid #CCC; background: #F0F0F0; background-image: url({% static 'img/fond_search.png' %});">
            <div class="col-sm-12 col-md-1 col-lg-1">
                <div class="form-group">
                    <span class="thin" style="background: #FFF; padding :5px; padding-top :4px;  border-radius:10px;font-size:1vw"> Recherche</span>
                </div>
            </div>
            <div class="col-sm-10 col-md-3 col-lg-2">
                <div class="form-group">
                    <select id="id_degre" name="degre" class="form-control select2" >
                        <option value=" ">Choisir un degré</option>
                        {% for d in degres %}
                            <option value="{{d.id}}">{{ d.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1">
                <div class="form-group" id="loading">
                </div>
            </div>

            <div class="col-sm-10 col-md-3 col-lg-4">
                <div class="form-group">
                    <select id="id_themes" name="themes" class="form-control select2" multiple>
                        <option value=" ">Choisir un degré puis un thème</option>
                    </select>
                </div>
            </div>
        </div>
        </form>



        <div class="row">
            <div class="col-sm-12 col-md-12" id="result_search">
                {% include 'tool/tool_after_ajax.html' %}
            </div>
        </div>
 
        <div class="row">
            <div class="col-sm-12 col-md-12">     
                    <a href="javascript:history.back()"  class="btn btn-default " >Retour </a>
            </div>
        </div>
    </section>


<div class="modal fade" id="toolChoice" tabindex="-1" role="dialog" aria-labelledby="toolChoice">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h1 class='thin'  >Création de l'outil</h1>
            </div>
            <div class="modal-body">
                <form action="{% url 'create_tool'  %}" method="POST"  enctype='multipart/form-data'>

                    {% include 'tool/form_tool_items.html' %}
                </form>


            </div>
        </div>
    </div>
</div>

{% endblock %}