{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}
 
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    <script>
        require(['script/ajax-videocopy']);
    </script> 
    <script src="{% static 'js/lib/qrcode.min.js' %}"></script>     
{% endblock %}

{% block page_title %}
    <a href="{% url 'index' %}" ><i class="bi bi-webcam"></i> VisioCopies</a>
{% endblock %}

{% block page_menu_right %}

{% endblock %}




{% block body %}
<section class="content_main">
	 <div class="row">
	   <div align="center" class="col-sm-9 col-md-9">
      <div>
		   <a class="btn btn-default" onclick="avance(-1)"><</a><span id="numero"> 0/0 </span>
	       <a class="btn btn-default" onclick="avance(1)">></a>
	    </div>
	   <div id="image"></div>
	 </div>
     <div align="center" id="capt" class="col-sm-3 col-md-3 mx-auto">
    		<a id="lienCapt" href="#"  class="btn btn-new">Cliquer pour ouvrir<br>la page de capture
</a><br><br>
    		<a id="qrcode" href="#"></a>
     </div>    
  </div> 
</section>
<script>
  
  var tabImage=new Array(); // tableau des images
  var imageVue=-1   // l'image actuellement affichée	
  var t=document.getElementById("image"); // la div ou est affiché l'image
  var nu=document.getElementById("numero"); // la div ou est affiché 2/2 etc...
  var largIm=700;   // dimensions du canvas qui reçoit l'image
  var hautIm=1120;
  var avance = function(n) {
	  if (tabImage.length!=0  && imageVue+n>=0 && imageVue+n<tabImage.length)
	    {imageVue=imageVue+n;
	     t.replaceChild(tabImage[imageVue],t.childNodes[0]);
	     nu.childNodes[0].textContent=" "+(imageVue+1)+"/"+tabImage.length;
	 }
	  }
	     
  var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
  var ws_path = ws_scheme + '://' + window.location.host + "/tool/visiocast/";
  window.socket = new WebSocket(ws_path); // window pour rendre globale la variable
  socket.onopen = function () {
      socket.send(JSON.stringify({"command":"joinDestinataire"} )); 
      };        
            // Handle incoming messages
  socket.onmessage = function (message) {
	  var lien=document.getElementById("lienCapt");
      var data = JSON.parse(message.data);
      if (data.error) {alert(data.error);return;}
      if (data.command=="joinDestinataire"){
		  code=data.code;
		  lien.href="{% url 'create_visiocopie_vierge' %}"+code;
		  qrcode=document.getElementById("qrcode")
		  new QRCode(qrcode, {text:lien.href, width:180,height:180,
			                  correctLevel:QRCode.CorrectLevel.L,
			                  colorDark : "#0000FF"
			                  });
		  qrcode.href=lien.href;
		  lien.innerHTML="Flashez ce qrcode avec votre téléphone<br>"+lien.href;
	  }
	  if (data.command=="joinExpediteur"){
		 lien.className="btn btn-danger";
	  }
	  if (data.command=="tousDeco"){
		 lien.className="btn btn-new pull-right";
	  }
     if (data.command=="cast"){
		 console.log("cast", data.Imgb64.length);
        if (tabImage.length==0) {
	    canvas=document.createElement("canvas");
	    canvas.width=largIm;
	    canvas.height=hautIm;
	    ctx=canvas.getContext("2d");
	}
	 image=document.createElement("img");
	     image.src=data.Imgb64;
	 image.onload=function(){
	     ratio=Math.max(image.width/largIm, image.height/hautIm)
	     image.height=image.height/ratio;
	     image.width=image.width/ratio;
	     dx=(largIm-image.width)/2;
	     dy=(hautIm-image.height)/2;
	     ctx.drawImage(image,dx,0,image.width,image.height);
	     tabImage.push(image);
	     imageVue=tabImage.length-1;
	     if (t.children.length>=1) {t.replaceChild(image,t.childNodes[0]);}
		        else { t.appendChild(image);}
	     nu.textContent=" "+tabImage.length+"/"+tabImage.length;
	 }
     }
  }
 
</script>

{% endblock %}
