{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}
 
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>


    <script>
        require(['script/ajax-quizz']);
    </script> 

{% endblock %}



{% block page_title %}
        <a href="{% url 'index' %}" ><i class="fa fa-cloud"></i> </a> Les quizz
{% endblock %}

{% block page_menu_right %}

     <a href="#" data-toggle='modal' data-target='#quizz_choice'  class="btn btn-new pull-right"><img width="25px" src="{% static 'img/plus.png' %}"/> Créer un quizz</a>  

 
{% endblock %}






 

    <section class="content_main"> 
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <table id="standard_tab" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <td>Titre</td>
                        <td>  </td>
                        <td>  </td>
                    </tr>
                    </thead>
                    <tbody>
                        {% for quizz in quizzes %}
                            <tr>
                                <td>
                                   <a href="{% url 'create_question' quizz.id  %}">{{ quizz.title }}</a> 
                                </td>
 
                                <td>
                                    {% if quizz.vignette %}<img src="{{ quizz.vignette.url }}" width="200px" />{% endif %}
                                </td>
                                <td>
                                  <a href="{% url 'show_quizz'  quizz.id %}" ><i class="fa fa-play"></i></a>


                                  <a href="{% url 'delete_quizz'  quizz.id %}"  onclick="return TestDelete('ce quizz')"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
 
        <div class="row">
            <div class="col-sm-12 col-md-12">     
                    <a href="javascript:history.back()"  class="btn btn-default " >Retour </a>
            </div>
        </div>
    </section>


<div class="modal fade" id="quizz_choice" tabindex="-1" role="dialog" aria-labelledby="quizz_choice">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h1 class='thin'  >Création du quizz</h1>
            </div>
            <div class="modal-body">
                <form action="{% url 'create_quizz' %}" method="POST"  enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-12 col-md-12">  
                            {{ form.title.label_tag }}
                            {{ form.title|add_class:"form-control" }}
 
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12"> 
                            <div class="form-group"> 
                                {{ form.vignette.label_tag }} <label><small>Factultatif</small></label>
                                {{ form.vignette|add_class:"btn btn-default" }}
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px">
                        <div class="col-sm-12 col-md-12"> 
                            <table class="table">
                                <tr class="no_border">
                                    <td>{{ form.is_publish.label_tag }} </td>
                                    <td> {{ form.is_publish|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:danger"|attr:"data-on:Oui"|attr:"data-off:Non" }}  </td>
                                </tr>
                                <tr class="no_border">
                                    <td>{{ form.is_share.label_tag }} </td>
                                    <td> {{ form.is_share|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non" }}  </td>
                                </tr>
                                <tr class="no_border">
                                    <td>{{ form.is_mark.label_tag }} </td>
                                    <td>{{ form.is_mark|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Smartphone"|attr:"data-off:Papier"|attr:"data-width:130" }}  </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <hr class="divider">



                    <div class="row">
                        <div class="col-sm-12 col-md-6">  
                            <label>Enseignement : <small>Factultatif</small></label>
                            {{ form.subject|add_class:"form-control select2" }}
                        </div>
                        <div class="col-sm-12 col-md-6"> 
                            <label>Niveaux : <small>Factultatif</small></label>
                            {{ form.levels|add_class:"form-control select2" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-2" id="loading"> 
                        </div>
 
                        <div class="col-sm-12 col-md-10"> 
                            <label>Thèmes : <small>Factultatif</small></label>
                            <select id="id_theme" name="theme" class="form-control select2" multiple>
                            </select>
                        </div>
                    </div>



 
                    <hr class="divider">
 

 

                    <div class="row">
                        <div class="col-sm-12 col-md-12"> 
                            <div class="form-group">
                                <input value="Enregistrer" type="submit" class="btn btn-primary"/>
                                <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default "/></a>
                            </div>
                        </div>    
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>

{% endblock %}