{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}
 
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

    <script>
        require(['script/ajax-quizz-complement']);
    </script> 

{% endblock %}



{% block page_title %}
        <a href="{% url 'index' %}" ><i class="fa fa-cubes"></i> Mes quizz {% if is_archive %}archivés{% endif %}</a> 
{% endblock %}

{% block page_menu_right %}
    <li>
        {% if sacado_asso %} 
            {% if not is_archive %}
                <a href="{% url 'all_quizzes_archived' %}"  class="no_button"><i class="fa fa-archive"></i> Mes quizz archivés ({{ nba }})</a> 
            {% else %}
                <a href="{% url 'list_quizzes' %}"  class="no_button" >Mes quizz  </a> 
            {% endif %}

        {% else %}
            <a href="#"  class="no_sacado_asso" >{% if not is_archive %}<i class="fa fa-archive"></i>{% endif %} Mes quizz {% if not is_archive %}archivés{% endif %}</a> 
        {% endif %} 
    </li>
    {% include 'tool/submenu_creation_quizz.html' %}
{% endblock %}




{% block body %}
<section class="content_main"> 
    <form action="{% url 'quizz_actioner' %}" method="POST" enctype='multipart/form-data'>    
        {% csrf_token %}
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <table id="standard_tab" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Parcours rattachés</th>
                    <th style="width:40%">Groupes attribués et type</th>
                    <th>  </th>
                </tr>
                </thead>
                <tbody>
                    {% for quizz in quizzes %}
                        <tr id="this_quizz{{quizz.id}}">
                            <td style="position: relative">
                                {% if not is_archive %}
                                <input type="checkbox" name="selected_quizz" value="{{ quizz.id}}"/> 
                                {% endif  %}
                                {% if quizz.vignette %}<img src="{{ quizz.vignette.url }}" width="110px" style="position: absolute; bottom:0; right:0" />{% endif %}
                                <a href="{% url 'update_quizz' quizz.id  %}"> 
                                    {{ quizz.title }}
                                </a>
                                {% if quizz.is_random %}
                                    <span class="helper_tip"  style="line-height: 30px"> <i class="fa fa-random" style="font-size:12px"></i> 
                                        <div class="helper_tip_text" >Questions aléatoires </div>
                                    </span> 
                                {% endif %}
                                <br/>
                                {% if  quizz.is_publish %}
                                    <div class="text-success">publié 
                                        <span class="helper_tip text-success"> <sup><i class="fa fa-question-circle"></i></sup>
                                        <div class="helper_tip_text" >
                                            Les élèves du.des groupe.s désigné.s peuvent le lire depuis leur parcours.
                                        </div>
                                        </span>
                                    </div> 
                                {% elif quizz.start  %}
                                    <div class="text-success">{{ quizz.start|date:"d N Y H:i" }}</div>  {% if  quizz.stop %}  <div class="text-danger">{{ quizz.stop|date:"d N Y H:i" }}</div> {% endif %}
                                {% else %} 
                                    <div class="text-danger">
                                        <small>dépublié</small> 
                                    </div>
                                {% endif %}
                                {% if quizz.is_share %}
                                    <div class="text-success">
                                        mutualisé 
                                   </div>
                                {% else %} 
                                    <div class="text-danger">
                                        <small>privé</small> 
                                    </div>
                                {% endif %}
                                {{ quizz.duration|time_done }}
                            </td>
                            <td>{% for p in quizz.parcours.all %}
                                    {{ p }}{% if not forloop.last %}, {% endif %} 
                                {% endfor %}
                            </td>
                            <td> 
                                {% for g in quizz.groups.all %} 
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <label style="color:{{g.color}}"> {{ g }} </label><br/>
                                            {% if sacado_asso %}
                                                {% if  quizz.is_video %}
                                                <span class="sanspuce historic_li"  style="border:1px solid {{g.color}}; border-radius:20px; width:70px;color:{{g.color}};">
                                                    <i class="fa fa-gamepad"></i> Numérique
                                                    <a href="{% url 'play_quizz_teacher'  quizz.id   g.id  %}" target="_blank"  class="quizz_action" title="En version à tester"
                                                        style="color:{{g.color}};"> <i class="fa fa-play fa-x"></i> Lancer
                                                    </a>  
                                                </span>
                                                {% elif  quizz.is_numeric %}
                                                <span class="sanspuce historic_li"  style="border:1px solid {{g.color}}; border-radius:20px; width:70px;color:{{g.color}};">
                                                    <i class="fa fa-desktop"></i> Numérique
                                                    <a href="{% url 'create_quizz_code'  quizz.id   g.id  %}" class="quizz_action" title="Générer un quizz"
                                                        style="color:{{g.color}};"><i class="fa fa-play fa-xs"></i> Générer
                                                    </a>  |
                                                    <a href="{% url 'show_quizz_group'  quizz.id   g.id  %}" class="quizz_action" title="voir ce quizz"  target="_blank"
                                                        style="color:{{g.color}};"> <small>Voir</small>
                                                    </a> 
                                                </span>
                                                {% else %}
                                                <span  class="sanspuce historic_li"  style="color:{{g.color}};border:1px solid {{g.color}}; border-radius:20px; width:70px;margin-right: 10px;">
                                                    <i class="fa fa-edit fa-xs"></i> Papier
                                                    <a href="{% if quizz.is_random %}{% url 'show_quizz_random_group'  quizz.id  g.id %}{% else %}{% url 'show_quizz_group'  quizz.id  g.id %}{% endif %}" style="color:{{g.color}}"
                                                       class="quizz_action {% if quizz.is_random %} confirm_create_historic{% endif %}" target="_blank" >
                                                       <i class="fa fa-play fa-xs"></i>  Projeter
                                                    </a>

                                                </span>
                                                {% endif %}
                                            {% endif %}
                                            {% if not forloop.last %}, {% endif %} 
                                        </div>
                                        <div class="col-sm-6 col-md-6 quizz_historic_div">
 
                                                {% get_quizz_generated quizz g as generated_historic %} 
                                                    {% for gq in generated_historic %} 
                                                    <li class="sanspuce historic_li btn-new">
                                                        <a href="{% url 'delete_historic_quizz' gq.id %}" class="pull-right" 
                                                           onclick="return TestDelete('cet historique et tous les résultats associés')">
                                                            <i class="fa fa-trash"></i>
                                                        </a> 
                                                        <small style="margin-right:10px"  class="pull-right" >{{ gq.date_created|date:"d-m-Y" }}</small>
                                                        <small style="margin-right:20px"  class="pull-right" >
                                                        {% if gq.is_game and quizz.is_video %}
                                                           <i class="fa fa-gamepad"></i>
                                                        {% elif not gq.is_game and quizz.is_numeric %}
                                                           <i class="fa fa-desktop"></i>
                                                        {% else %}
                                                           <i class="fa fa-play fa-xs"></i> 
                                                        {% endif %}
                                                        </small> 
                                                        <a  {% if quizz.is_random %}
                                                                {% if quizz.is_numeric %}
                                                                    href="{% url 'result_quizz'  gq.id %}" 
                                                                {% else %}
                                                                    href="#" 
                                                                    data-toggle='modal' 
                                                                    data-target='#historic_modal' 
                                                                    class="generated_quizz" 
                                                                    data-gq_id="{{ gq.id }}"
                                                                {% endif %}
                                                            {% else %}
                                                                href="{% url 'result_quizz'  gq.id %}"
                                                            {% endif %}>
                                                            {{ gq.code }} <small>Résultats</small> 
                                                        </a>       
                                                    </li>
                                                {% endfor %}
 
                                        </div>
                                    </div>
                                    {% if not forloop.last %}<hr  style="margin:5px; border-color:#CCC">{% endif %}                                           
                                {% empty %}
                                    <div class="alert alert-danger"><a href="{% url 'update_quizz' quizz.id  %}">Assigner au moins un de vos groupes</a></div>
                                {% endfor %}
                            </td>
                            <td> 
                                <div class="quizz_action"><a href="{% url 'create_question'  quizz.id 0 %}" ><i class="fa fa-plus"></i> Ajouter/modifier des questions</a> 
                                    <span style="font-size:10px">
                                        <b>{% if quizz.is_random %}
                                        {{ quizz.nb_slide }}
                                        {% else %}
                                        {{ quizz.questions.all|length }}
                                        {% endif  %} question{% if quizz.nb_slide > 1 or quizz.questions.all|length > 1 %}s{% endif %}</b>
                                    </span>
                                </div>  

                                {% if not quizz.is_numeric and not quizz.is_video %}
                                    {% if quizz.qrandoms.count > 0 or quizz.questions.count > 0 %}
                                    <div class="quizz_action"><a href="{% url 'play_printing_teacher'  quizz.id   %}"  class="quizz_action"><i class="fa fa-print"></i> Créer les fiches réponses imprimables</a> </div>    
                                    {% else  %}
                                    <div class="alert alert-danger"><i class="fa fa-ban"></i> Aucune question actuellement</div> 
                                    {% endif  %}
                                {% else  %}
                                    <div class="alert alert-danger"><i class="fa fa-ban"></i> Version numérique sans fiche</div> 
                                {% endif  %}
                                <a href="{% url 'delete_quizz'  quizz.id %}"  class="quizz_action"  onclick="return TestDelete('ce quizz')"><i class="fa fa-trash"></i>  Supprimer</a> 
                            </td>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <button class="btn btn-default" name="action" value="archiver" onclick="return TestArchive('ces quizz')"> 
                <i class="fa fa-archive"> </i>   Archiver la sélection
            </button>
            <button class="btn btn-default" name="action" value="deleter" onclick="return TestDelete('ces quizz')"> 
                <i class="fa fa-trash"> </i>   Supprimer la sélection
            </button>
     
            <a href="javascript:history.back()"  class="btn btn-default " >Retour </a>
        </div>
    </div>    
    </form>
</section>


<div class="modal fade" id="quizz_choice" tabindex="-1" role="dialog" aria-labelledby="quizz_choice">
    <div class="modal-dialog" role="document" style="width: 750px;">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h1 class='thin'>Création du quizz</h1>
            </div>
            <div class="modal-body">
                <form action="{% url 'create_quizz' %}" method="POST"  enctype='multipart/form-data'>
                    {% include 'tool/form_quizz_items.html' %}
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="historic_modal" tabindex="-1" role="dialog" aria-labelledby="historic_modal">
    <div class="modal-dialog" role="document" style="width: 750px;">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h1 class='thin'>Historique des questions</h1>
            </div>
            <div class="modal-body" id="body_gq">
 
            </div>
        </div>
    </div>
</div>

{% endblock %}