{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}
 
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

    <script>
        require(['script/ajax-quizz-complement']);
    </script> 

{% endblock %}



{% block page_title %}
        <a href="{% url 'index' %}" ><i class="fa fa-cubes"></i> Les quizz</a> 
{% endblock %}

{% block page_menu_right %}

     <a href="#" data-toggle='modal' data-target='#quizz_choice'  class="btn btn-new pull-right">  Créer un quizz</a>  

{% endblock %}




{% block body %}
<section class="content_main"> 
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <table id="standard_tab" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Groupes attribués et type</th>
                    <th>  </th>
                </tr>
                </thead>
                <tbody>
                    {% for quizz in quizzes %}
                        <tr>
                            <td>
                               <a href="{% url 'update_quizz' quizz.id  %}"> {% if quizz.vignette %}<img src="{{ quizz.vignette.url }}" width="200px" />{% endif %}{{ quizz.title }}</a>
                               {% if quizz.is_random %}
                                <span class="helper_tip"  style="line-height: 30px"> <i class="fa fa-random" style="font-size:12px"></i> 
                                    <div class="helper_tip_text" >Questions aléatoires </div>
                                </span> 
                               {% endif %}
                            </td>
                            <td> 
                                {% for g in quizz.groups.all %} 
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <label style="color:{{g.color}}"> {{ g }} </label><br/>
                                            <span  class="sanspuce historic_li"  style="color:{{g.color}};border:1px solid {{g.color}}; border-radius:20px; width:70px;margin-right: 10px;">
                                                
                                                <a href="{% if quizz.is_random %}{% url 'show_quizz_random_group'  quizz.id  g.id %}{% else %}{% url 'show_quizz_group'  quizz.id  g.id %}{% endif %}" style="color:{{g.color}}"
                                                   class="quizz_action {% if quizz.is_random %} confirm_create_historic{% endif %}">
                                                   <i class="fa fa-play fa-xs"></i>  Papier
                                                </a>

                                            </span>
                                            {% if sacado_asso %}
                                                {% if not quizz.is_random %}
                                                <span class="sanspuce historic_li"  style="border:1px solid {{g.color}}; border-radius:20px; width:70px">
                                                    <a href="{% url 'play_quizz_teacher'  quizz.id   g.id  %}" target="_blank"  class="quizz_action" title="En version à tester"
                                                        style="color:{{g.color}};"><i class="fa fa-gamepad"></i> Numérique 
                                                    </a>  
                                                </span>
                                                {% endif %}
                                            {% endif %}
                                            {% if not forloop.last %}, {% endif %} 
                                        </div>
                                        <div class="col-sm-6 col-md-6 quizz_historic_div">
                                            <form method="POST">
                                                {% get_quizz_generated quizz g as generated_historic %} 
                                                    {% for gq in generated_historic %} 
                                                    <li class="sanspuce historic_li btn-new">
                                                        <a href="{% url 'delete_historic_quizz' gq.id %}" class="pull-right" 
                                                           onclick="return TestDelete('cet historique et tous les résultats associés')">
                                                            <i class="fa fa-trash"></i>
                                                        </a> 
                                                        <small style="margin-right:10px"  class="pull-right" >{{ gq.date_created|date:"d-m-Y" }}</small>
                                                        <small style="margin-right:20px"  class="pull-right" >
                                                        {% if gq.is_game %}
                                                           <i class="fa fa-gamepad"></i>
                                                        {% else %}
                                                           <i class="fa fa-play fa-xs"></i> 
                                                        {% endif %}
                                                        </small> 
                                                        <a  {% if quizz.is_random %}
                                                                {% if quizz.is_numeric %}
                                                                    href="{% url 'result_quizz'  gq.id %}" 
                                                                {% else %}
                                                                    href="#" 
                                                                    data-toggle='modal' 
                                                                    data-target='#historic_modal' 
                                                                    class="generated_quizz" 
                                                                    data-gq_id="{{ gq.id }}"
                                                                {% endif %}
                                                            {% else %}
                                                                href="{% url 'result_quizz'  gq.id %}"
                                                            {% endif %}>
                                                            {{ gq.code }}
                                                        </a>       
                                                    </li>
                                                {% endfor %}
                                            </form>
                                        </div>
                                    </div>
                                    <hr  style="margin:5px; border-color:#CCC">                                            
                                {% endfor %}
                            </td>
                            <td> 
                                <div class="quizz_action"><a href="{% url 'create_question'  quizz.id 0 %}" ><i class="fa fa-plus"></i> Ajouter/modifier des questions</a> 
                                    <span style="font-size:10px">
                                        <b>{% if quizz.is_random %}
                                        {{ quizz.nb_slide }}
                                        {% else %}
                                        {{ quizz.questions.all|length }}
                                        {% endif  %} question{% if quizz.quizz.nb_slide > 1 or quizz.questions.all|length > 1 %}s{% endif %}</b>
                                    </span>
                                </div>  
                                {% if quizz.qrandoms.count > 0 or quizz.questions.count > 0 %}
                                <div class="quizz_action"><a href="{% url 'play_printing_teacher'  quizz.id   %}"  class="quizz_action"><i class="fa fa-print"></i> Créer les fiches réponses imprimables</a> </div>    
                                {% else  %}
                                <div class="alert alert-danger"><br/>Aucune question actuellement<br/> <br/></div> 
                                {% endif  %}
                                <a href="{% url 'delete_quizz'  quizz.id %}"  class="quizz_action"  onclick="return TestDelete('ce quizz')"><i class="fa fa-trash"></i>  Supprimer</a> 
                            </td>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">     
                <a href="javascript:history.back()"  class="btn btn-default " >Retour </a>
        </div>
    </div>
</section>


<div class="modal fade" id="quizz_choice" tabindex="-1" role="dialog" aria-labelledby="quizz_choice">
    <div class="modal-dialog" role="document" style="width: 750px;">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h1 class='thin'>Création du quizz</h1>
            </div>
            <div class="modal-body">
                <form action="{% url 'create_quizz' %}" method="POST"  enctype='multipart/form-data'>
                    {% include 'tool/form_quizz_items.html' %}
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="historic_modal" tabindex="-1" role="dialog" aria-labelledby="historic_modal">
    <div class="modal-dialog" role="document" style="width: 750px;">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h1 class='thin'>Historique des questions</h1>
            </div>
            <div class="modal-body" id="body_gq">
 
            </div>
        </div>
    </div>
</div>

{% endblock %}