{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


   
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    <script>
        require(['script/ajax-list-associations']);
    </script> 
{% endblock %} 

  
{% block page_title %}
    <img src="{% static 'img/ggb.png' %}" width="25px"> Les questions aléatoires  <img width="25px" src="{% static 'img/angle-right.png' %}"/> Attendus de fin de {{ level.name }}
{% endblock %}

{% block page_menu_right %}
 

{% endblock %}


{% block body %}
<section class="content_container">  
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <form action="" method="POST" enctype='multipart/form-data'> 
            {% csrf_token %}
                <table class="table table-hover standard_tab_1000" style="width:100%">
                    <thead> 
                        <tr>
                            <td></td>
                            <td style="width:100px"></td>
                        </tr>
                    </thead> 
                    <tbody>
                        {% for theme in data.themes  %} 
                            <tr style="background:#5d4391; color:#FFF">
                                <td>{{theme.name}}</td>                             
                                <td></td>
                            </tr>   
                            {% for waiting in theme.waitings  %} 
                                <tr style="background:#8c73bf; color:#FFF"> 
                                    <td>{{ waiting.name.name|capfirst }}</td>
                                    <td></td>
                                </tr>
                                {% for knowledge in waiting.knowledges   %} 
                                    <tr style="background:#d4cbe7">
                                        <td>{{ knowledge.name }}</td>
                                        <td>
                                            <a href="{% url 'admin_create_question_ia' knowledge.name.id  0 %}"><i class="fa fa-plus"></i></a>
                                        </td>
                                    </tr> 
 

                                    {% for question  in  knowledge.questions    %} 
                                        <tr>
                                            <td>
                                                <a href="{% url 'admin_update_question_ia' knowledge.name.id question.id %}">
                                                    <b>
                                                        {{ question.qtype.title }}
                                                    </b>
                                                    {{ question.title|safe }} 
                                                    {% if question.imagefile %}
                                                        <img src="{{ question.imagefile.url }}" class="imagefile" />
                                                    {% endif %}
                                                    {% if question.qtype == 2 %}<b>Réponse attendue : {{ question.answer}}</b> 
                                                    {% elif question.qtype == 9 %}{{ question.filltheblanks|filltheblanks_safe|safe}}
                                                    {% elif question.qtype == 18 %} 
                                                    <div style="height:50px;width:100%;">
                                                        <div style="height:30px;width:100%;"><b>{{ question.height }} <span class="pull-right">{{ question.width}}</span></b></div>
                                                        <div id="axe" style="position:relative;height:10px;width:95%;background-color: #CCC;margin:60px"></div>
                                                    </div>
                                                    {% elif question.qtype == 5 %} 

                                                    <table class="table borderless">
                                                        <tr>
                                                        {% for c in question.choices.all %}
                                                        <td>
                                                            {% if c.imagefile %}
                                                                <img src="{{ c.imagefile.url }}" class="imagefile" />
                                                            {% endif %}  
                                                            {{ c.answer }}
                                                            <i class="bi bi-arrow-left-right"></i>
                                                            {% if c.imagefilebis %}
                                                                <img src="{{ c.imagefilebis.url }}" class="imagefile" />
                                                            {% endif %} 
                                                            {{ c.answerbis }}
                                                        </td>
                                                        {% endfor %}
                                                        </tr>
                                                    </table>
                                                    {% else %}
                                                    <table class="table borderless">
                                                        <tr>
                                                        {% for c in question.choices.all %}
                                                        <td>
                                                            {% if c.imagefile %}
                                                                <img src="{{ c.imagefile.url }}" class="imagefile" />
                                                            {% endif %}  
                                                                {{ c.answer }}
                                                            {% if question.qtype == 3 or question.qtype == 4 %} 
                                                            {% if c.is_correct %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{% endif %}
                                                            {% endif %}
                                                            {% if question.qtype == 2 %}{{ question.answer}} <i class="fa fa-check text-success"></i> {% endif %}
                                                            {% if question.qtype == 1 and question.is_correct %} <span class="text-success">VRAI</span> {% elif question.qtype == 1 and not question.is_correct %} <span class="text-danger">FAUX</span> {% endif %}

                                                        </td>
                                                        {% endfor %}
                                                        </tr>
                                                    </table>
                                                    {% endif %}
                                                </a>
                                            </td>
                                            <td>                                          
                                                <a href="{% url 'admin_delete_question_ia' knowledge.name.id question.id  %}" onclick="return TestDelete('cette question')"><i class="fa fa-trash text-danger"></i></a>
                                                <label><input type="checkbox" class="q_is_ia" name="q_is_ia" {% if question.is_ia %} checked {% endif %} data-id="{{ question.id }}" /> IA ? </label>
                                            </td>
                                        </tr> 
                                    {% endfor %}  
                                {% endfor %}    
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</section>

{% endblock %}