{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}
 
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

{% endblock %}



{% block page_title %}
    <i class="bi bi-lightning"></i> Question flash <img src="{% static 'img/angle-right.png' %}" width="25px"/> Mes Niveaux
{% endblock %}





{% block page_menu_right %}

  

{% endblock %}

 

{% block body %}

<section class="content_main"> 
    <div class="row">

        {% for level in levels %}

            <div class="col-xs-6 col-md-4 col-lg-3" >
                <div class="small-box" style="background-color:#007bc9;color:white;height:250px">
                <!-- modal qui affiche la liste des élèves -->
                    <div class="inner" style="color:white;opacity:0.9"><br/>
                        <span style="color:{{ level.color|contrast_color }};font-size: 35px">{{ level.name |truncatechars:"14" }} </span>  <br/><br><br>


                     
                         <br/> <br/>

                    </div>

                        
 
                    <div class="small-box-footer" >

                        <div class="row">                                      
                            <div class="col-lg-12 col-xs-12" style="padding-right:10px; margin-bottom: 18px; margin-top: 12px">
                            
                                <a href="{% url 'list_questions_flash_sub' level.id  %}" class="btn btn-default btn-accueil" style="width:280px;color:{{ group.color}}"> 
                                    Accéder aux Flashpacks                             
                                </a>
                        


                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</section>

{% endblock %}


 

     
 


 
{% block modale %}


{% endblock %}