{% load static %}

<li class="sorted_list{% if slide %}{% if not slide.is_publish %} no_published{% endif %}{% endif %}">
	<input type="hidden" value="{{ slide.id }}" class="sorted_question_id"   />
    <div class="row"> 
        <div class="col-xs-12 col-md-12">
            <label>{% if from_ajax %}{{ nbq }}{% else %}{{ forloop.counter }}{% endif %}. {{ slide.title|truncatechars:"15"}} {% if slide %}{% if not slide.is_publish %} <i class="fa fa-eye-slash"></i> {% endif %}{% endif %}</label>
        </div>
    </div>
    <div class="row"> 
        <div class="col-xs-2 col-md-2" class="delete_question_div"><hr style="border-color: transparent"/>

            <a href="#" class="update_slide delete_question" data-slide_id="{{ slide.id }}"  data-diaporama_id="{{ diaporama.id }}"   ><i class="fa fa-edit"></i></a> 

            <a href="{% url 'delete_slide' slide.id diaporama.id %}"  class="delete_question" onclick="return TestDelete('cette diapositive')"><i class="fa fa-trash"></i></a>
        </div>
        <div class="col-xs-10 col-md-30">
 
                <img src="{% static 'img/quizz_typing.png' %}" width="90%" />
 
        </div>
    </div>
</li>