{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}
 
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

{% endblock %}



{% block page_title %}
    <i class="bi bi-lightning"></i> Mes questions flash 
{% endblock %}





{% block page_menu_right %}

             <a href="{% url 'create_questions_flash' 0 %}" class="btn btn-new pull-right">Nouvelles questions flash</a>  

{% endblock %}

 

{% block body %}

<section class="content_main"> 
    <table class="table table-sacado table-hovered standard_tab_1000"  style="width:100%" >
        <thead> 
            <tr> 
                <th style="width:200px">Titre</th>
                <th>Thèmes</th>
                <th>Nb questions</th>
                <th style="width:200px">Support</th>
                <th style="width:150px;"></th>
                <th></th>
            </tr> 
        </thead>
        <tbody>
            {% for q in quizzes %}
            <tr> 
                <td style="width:200px"><a href="{% url 'update_questions_flash' q.id %}" title="Dupliquer le format de ces questions">{{ q.title }}</a>
                    <a href="{% url 'duplicate_questions_flash' q.id %}" title="Dupliquer le format de ces questions"><i class="bi bi-clipboard-plus"></i></a></td>
                <td>{% for ma in q.mental_activities %}{{ ma }}{% if not forloop.last %}<br/>{% endif %}{% endfor %}</td>
                <td>{{ q.nb_slide }} questions</td> 
                <td style="width:200px">
                    {% if q.is_numeric %}<a href="{% url 'show_questions_flash' q.id %}" title="Projeter les questions"><i class="bi bi-webcam"></i></a>
                        <small>{% if q.is_video %}<i class="bi bi-phone"></i>{% else %}<i class="bi bi-pencil"></i>{% endif %} </small>
                    {% else %}
                        <a href="{% url 'goto_quizz_numeric' q.id %}" target='_blank' title="Voir le test - Nouvel onglet"><i class="bi bi-laptop"></i></a>
                        {% if q.students.count %}
                        <span class="helper_tip"><i class="bi bi-people"></i>{{q.students.count}}
                            <div class="helper_tip_text" >{% for s in q.students.all %}{{ s }}<br/>{% endfor %}</div>
                        </span> 
                        {% else %}
                        <i class="bi bi-people"></i><small>0 </small>
                        {% endif %} 
                    {% endif %}   
                </td>
                <td style="width:150px;">
                    {% if q.is_video %}
                    <a href="{% url 'result_quizz' q.id 0 %}" title="Résultats des questions"><i class="fa fa-trophy"></i></a>
                    {% endif %} 

                    <a href="{% url 'delete_questions_flash' q.id %}" title="Supprimer les questions" onclick="return TestDelete('Ces questios flash')"><i class="bi bi-trash"></i></a>
                </td>
                <td>
                    <form action="" method="POST" enctype='multipart/form-data'>     
                        {% csrf_token %}
                        <div class="btn-group no_padding_margin" >

                            <a href="#" class="btn btn-default qpublisher" id="qpublisher{{q.id}}" data-quizz_id="{{q.id}}">  
                                <i class="fa fa-circle-o-notch"></i>
                            </a><span class="btn btn-{% if  q.is_publish %}success{% else  %}danger{% endif  %}" id="quizz{{q.id}}" style="cursor:auto;display:inline;padding:3px 6px"  >  
                              {% if q.is_publish %} Publié  {% else %} Dépublié {% endif  %} 
                            </span>

                        </div>
                    </form>
                </td>
            </tr> 
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}


 

     
 


 
{% block modale %}
 

{% endblock %}