{% extends 'tool/play_quizz.html' %}
{% load static %}


{% block form %}

<form action="{% url 'play_quizz_start' %}" method="POST">
    {% csrf_token %}




    {% if n %}
      <h1>{{ question.title }}</h1>
      {% if question.kind == 1 %}
              <div class="row bottom_space">  
                  <div class="col-sm-12 col-md-12" >
                      <button type="submit" name="answers"  value="1" class="button_answer bgcolorBlue" >Vrai</button>
                  </div>
              </div> 
              <div class="row">  
                  <div class="col-sm-12 col-md-12" >
                      <button type="submit"  name="answers"  value="0"   class="button_answer bgcolorRed" >Faux</button>
                  </div>
              </div> 
      {% elif question.kind == 2 %}
              <div class="row bottom_space">  
                  <div class="col-sm-12 col-md-12" align="center">
                      <input type="text" name="answers"  class="quizz_box_answer" placeholder="Ecris ta réponse" required />
                  </div>
              </div> 
      {% elif question.kind == 3 %}
              <div class="row bottom_space">  
                  <div class="col-sm-12 col-md-6" >
                      <button type="submit" name="answers"  value="1" class="button_answer bgcolorRed" ></button>
                  </div>  
                  <div class="col-sm-12 col-md-6" >
                      <button type="submit"  name="answers"  value="2"   class="button_answer bgcolorBlue" ></button>
                  </div>
              </div> 
              <div class="row bottom_space">  
                  <div class="col-sm-12 col-md-6" >
                      <button type="submit" name="answers"  value="3" class="button_answer bgcolorOrange" ></button>
                  </div>  
                  <div class="col-sm-12 col-md-6" >
                      <button type="submit"  name="answers"  value="4"   class="button_answer bgcolorGreen" ></button>
                  </div>
              </div> 
      {% else %}
              <div class="row bottom_space">  
                  <div class="col-sm-12 col-md-6" >
                      <button type="submit" name="answers"  value="1" class="button_answer bgcolorRed" ></button>
                  </div>  
                  <div class="col-sm-12 col-md-6" >
                      <button type="submit"  name="answers"  value="2"   class="button_answer bgcolorBlue" ></button>
                  </div>
              </div> 
              <div class="row bottom_space">  
                  <div class="col-sm-12 col-md-6" >
                      <button type="submit" name="answers"  value="3" class="button_answer bgcolorOrange" ></button>
                  </div>  
                  <div class="col-sm-12 col-md-6" >
                      <button type="submit"  name="answers"  value="4"   class="button_answer bgcolorGreen" ></button>
                  </div>
              </div> 
      {% endif %}
    {% endif  %}


</form>
{% endblock %}
 
 
      
 