{% extends 'tool/play_quizz.html' %}
{% load static %}




 
{% block form %}
<h1 class="title">SACADO Quizz Player</h1>


<form action="{% url 'play_quizz_start' %}" method="POST">
    {% csrf_token %}

    {% for student in students %}
        <input type="hidden" value="{{ quizz.id }}" name="quizz_id"  />
        <input type="hidden" value="{{ student.user.id }}" name="student_id"  />
        <button type="submit" class="form-control space_round" >{{ student }}</button>

    {% endfor  %}
</form>
{% endblock %}
 
 
      
 