{% load static %}

<html>
    <head>
        <title>SacAdo Quizz Play</title>
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>
 
        <link href="{% static 'css/AdminLTEperso.css' %}" rel="stylesheet">
        <link href="{% static 'css/play_quizz.css' %}" rel="stylesheet">
   


    </head>
    <body>

      {% block form %}
      <h1 class="title">SACADO Quizz Play</h1>
      <form action="{% url 'play_quizz_login' %}" method="POST">
            {% csrf_token %}
            <div class="row bottom_space">  
                <div class="col-sm-12 col-md-12" align="center">
                    <input type="text" name="code" id="code" class="form-control" placeholder="Tape le code" required />
                </div>
            </div> 
            <div class="row">  
                <div class="col-sm-12 col-md-12" align="center">
                    <button type="submit"  class="form-control" >Rentre dans le quizz</button>
                </div>
            </div> 
      </form>
    {% endblock %}

    {% block script %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    <script>
        require(['script/ajax-quizz-complement']);
    </script> 
    {% endblock %}

    </body>
</html>


      
 