{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


 

{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
    <script>
        require(['script/ajax-quizz-create','script/ajax-question-flash']);
    </script>  
{% endblock %}



{% block page_title %}
        <a href="{% url 'index' %}" ><i class="bi bi-aspect-ratio"></i> </a> {{ quizz }} <img src="{% static 'img/angle-right.png' %}"/>  {{ title_type_of_question }}
{% endblock %}

{% block page_menu_right %}

    <a href="{% url 'list_quizzes' %}" class="btn btn-new pull-right" >  Mes quizz </a> 
    <a href="{% url 'show_quizz' quizz.id %}" target="_blank" class="btn btn-new pull-right">Lire le quizz</a>
{% endblock %}
 



{% block body %}
<section class="content_list"> 
    <form action="{% url 'create_quizz_random' quizz.id %}" method="POST" id="question_form"  enctype='multipart/form-data' >
    {% csrf_token %}    
    <div class="row">
        <div class="col-sm-12 col-md-2">
            <div style="background-color: white;border-radius: 10px;padding:10px;font-size: 15px;font-weight: 500">
                <h3>{{ quizz.subject}}  </h3> 
                <div class="form-group">
                    {% for l in quizz.levels.all %} <li class="sanspuce">{{ l.name }}</li> {% endfor %}   
                </div>
                <div class="form-group">
                    {% for g in quizz.groups.all %} <li class="sanspuce">{{ g.name }} [{{ g.students.count }}  élèves]</li> {% endfor %}   
                </div>
                <div class="form-group">
                    {% for f in quizz.folders.all %} <li class="sanspuce">{{ f  }}</li> {% endfor %}   
                </div>
                <div class="form-group">
                    {% for p in quizz.parcours.all %} <li class="sanspuce">{{ p }}</li> {% endfor %}   
                </div>
                <div class="form-group">
                    {% for t in quizz.themes.all %} <li class="sanspuce">{{ t.name }}</li> {% endfor %}   
                </div>
            </div>
            <div style="background-color: white;border-radius: 10px;padding:10px;font-size: 15px;font-weight: 500;margin-top:20px">
                <label>Nombre de questions</label>
                <input type="number" name="noq" min=0 step=1  class="form-control" value="{% if quizz.nb_slide %}{{ quizz.nb_slide }}{% else %}1{% endif %}" />
            </div>
        </div>
        <div class="col-sm-12 col-md-10" >  
            {{ all_mentals }}
            <div class="row" >
                <div class="col-sm-12 col-md-12" > 
                     <table class="table table-hover borderless display1000" style="width:100%;" >
                        <thead> 
                            <tr>
                                <th></th>
                            </tr>
                        </thead> 
                        <tbody>
                            {% for all_mental  in all_mentals %}   
                                <tr class="title_tr">
                                    <td style="width:85%"> {{ all_mental.level.name  }}</td> 
                                </tr>
                                {% for all_mental_sub  in all_mental.sub %} 
                                    {% if all_mental_sub.mentals.count > 0 %}
                                    <tr class="subtitle_tr opener out"   id="{{ all_mental_sub.mentaltitle.id }}">
                                        <td style="width:85%"><i class="fa fa-caret-right"></i> {{ all_mental_sub.mentaltitle.title }}</td> 
                                    </tr> 
                                    {% for m in all_mental_sub.mentals.all %}
                                        <tr style="background:white; cursor: pointer;" class="opener_k opened{{ all_mental_sub.mentaltitle.id }} out no_visu_on_load" >
                                            <td ><label> <input type="checkbox" value="{{m.id }}" name="mental_ids" /> {{ m.content }} </label></td> 
                                        </tr>  
                                    {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% empty %}
                                <tr>
                                    <td>
                                        <div class="alert alert-danger">
                                            Aucune question ne correspond à cette recherche.
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-12 col-md-12" > 
                    <div class="form-group">                                
                        <input value="Générer les questions" type="submit" class="btn btn-primary  btn-lg" id="click_button" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</section>
{% endblock %} 