{% extends 'tool/show_quizz.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}



{% block page_title %}
   <a href="{% url 'list_questions_flash' %}" ><i class="bi bi-lightning"></i> </a> Outils pédagogiques 
   <img width="25px" src="{% static 'img/angle-right.png' %}"/> Questions flash 
 
{% endblock %}


{% block page_menu_right %}


    {% if request.user.is_superuser and is_test_admin  %}
        <a href="{%  url 'admin_delete_test_mental' %}" class="btn btn-danger">OK ça marche. Suppression</a>
    {% endif %}

    {% if request.user.user_type == 2 %}
    <a href="{% url 'list_questions_flash' %}" class="btn btn-new">Mes questions flash </a>
    {% else %}
    <a href="javascript:history.back()"><input type="button" value="Retour" class="btn btn-default "/></a>
    {% endif %}

{% endblock %}


{% block title_quizz %} 
    {% if quizz.mental_activities.count == 1 %}
    <h1 style="font-size:3em;padding-top:100px;line-height: 100px;">
        {% for ma in quizz.mental_activities %}
            <li class="sanspuce">{{ ma }}</li> 
        {% endfor %}
    </h1>
    {% else %}
    <h1 style="font-size:4em;padding-top:100px;line-height: 100px;">
       {{ quizz.title|safe }}
    </h1> 
    {% endif %}
{% endblock %}



{% block calculator %}
<div class="col-sm-2 col-md-2" align="left">
Question {{forloop.counter}}
</div>
{% endblock %}


{% block logo_qf %}
<img src="{% static 'img/sacado_qf.png' %}" width="80px"  />
{% endblock %}



{% block question_intro %}
<li class="my_slide">
    <input type="hidden" value="2" id="inter_slide{{ forloop.counter }}" /> 
    <div class="row consigne_diapo"  align="center">  
        <div class="col-sm-12 col-md-12">

            
            <h1 style="font-size:4em" class="thin">
                <b>Question {{forloop.counter}}.</b>
            </h1>
            <div class="starter_in" style="font-size:2em"> Démarrage dans 
                <span class="instruction counterdown" id="countdown{{ forloop.counter }}" > 
                    {{ quizz.interslide }}
                </span> s
            </div>



        </div>
    </div> 
</li>
{% endblock %}



{% block question_title %}

    {% if question.mental.jquery %}
        {% if question.filltheblanks %}
        <h1 style="font-size:2.5em;padding-top:20px" class="thin"> {{ question.filltheblanks|safe }} </h1>
        {% endif %}
        <h1 style="font-size:{% if question.title|length > 27 %}1.5{% else%}2.5{% endif %}em" class="thin"> {{ question.title|safe }} </h1>
        <canvas class="this_canvas" id="canvas{{ forloop.counter0}}" width="900px" height="450px" style="border:1px solid #CCC; background-color: white;"></canvas>
    {% else %}
        <h1 style="font-size:3.6em;padding-top:100px" class="thin"> {{ question.filltheblanks|safe}} </h1>
        <h1 style="font-size:3.6em" class="thin"> {{ question.title|safe}} </h1>
    {% endif %}

{% endblock %}


{% block question_correction %}
    {% if question.mental.jquery %}
    <canvas class="this_canvas" id="canvas_corrector{{ forloop.counter0}}" width="900px" height="100px" style="border:1px solid #CCC; background-color: white;"></canvas>   
    <span style="font-size:2.5em" class="thin text-blue">La réponse est <span id="answer_cor{{ forloop.counter0}}"></span>{{ question.writinganswer }}</span>
    <script>{{  question.mental.jquery|add_parameters:forloop.counter0 }}</script>
    {% else %}
        <span style="font-size:2.5em" class="thin text-blue">{{ question.writinganswer }}</span>
    {% endif %}
{% endblock %}


{% block question_correction_inside %}
    {% if question.mental.jquery %}
        <canvas class="this_canvas" id="canvas_corrector{{ forloop.counter0}}" width="900px" height="100px" style="border:1px solid #CCC; background-color: white;"></canvas>   
        <span style="font-size:2.5em" class="thin text-blue">La réponse est <span id="answer_cor{{ forloop.counter0}}"></span>{{ question.writinganswer }}</span>
        <script>{{  question.mental.jquery|add_parameters:forloop.counter0 }}</script>
    {% else %}
        <span style="font-size:2.5em" class="thin text-blue">{{ question.writinganswer }}</span>
    {% endif %}
{% endblock %}




{% block python %} 
    <script src="{% static 'js/script/geometry.js' %}"></script>

{% endblock %}
