{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    <script>
        require(['script/ajax-quizz']);
    </script> 
{% endblock %}



{% block page_title %}
   <a href="{% url 'list_quizzes' %}" ><i class="fa fa-cubes"></i> </a> Outils pédagogiques 
   <img width="25px" src="{% static 'img/angle-right.png' %}"/> <small>Vue du quizz</small> 
   <img width="25px" src="{% static 'img/angle-right.png' %}"/> <small> {{ quizz.title }}</small>
{% endblock %}


{% block page_menu_right %}
    <a href="{% url 'list_quizzes' %}" target="_blank" class="btn btn-new">Mode jeu</a>
    <a href="{% url 'list_quizzes' %}" target="_blank" class="btn btn-new">Mes quizz</a>
{% endblock %}






{% block body %}

<div class="row" align="center">  
    <div class="col-sm-12 col-md-12">
        <div class="alert alert-danger">
            <h3>Visulaisation du quizz. Chaque slide dure 10 secondes, utiliser les boutons si vous voulez activer les passages.</h3>
        </div>    
    </div>
</div> 

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">

         <div class="item consigne_diapo active ">

            <div class="row" align="center">  
                <div class="col-sm-12 col-md-12">
                    <h1 style="font-size:4em" class="thin">Préparez vous, le questionnaire va débuter. <br/><br/>Vous devez vous munir
                        {% if quizz.is_questions   %}
                            du terminal de votre choix et vous connectez à l'adresse https://play.sacado.xyz/{{ quizz.code}}
                        {% else %}
                            de votre feuille de réponse et d'un stylo.
                        {% endif  %}
                        L'utilisation de la calculatrice est précisée pour chaque question. 
                    </h1>
                </div>
            </div> 


        </div>



        {% for question in questions %}
            <div class="item consigne_diapo">

                <div class="row">  
                    <div class="col-sm-12 col-md-12">
                        <h1 style="font-size:5em" class="thin">La durée de cette question est  {{ question.duration }} secondes. <br/> 
                            {% if question.kind == 1 %}
                                Cette question est un vrai/faux
                            {% elif question.kind == 2 %}
                                Vous devez répondre en écrivant la bonne réponse.
                            {% elif question.kind == 3 %}
                                Vous devez choisir <b>la ou les bonnes réponses</b> parmi les 4 réponses proposées.
                            {% else %}
                                Vous devez choisir la <b>seule bonne</b> réponse parmi les 4 réponses proposées.
                            {% endif %}
                        </h1>
                    </div>
                </div> 

 
            </div>

            <div class="item consigne_diapo">

                <div class="row slide_body">  
                    <div class="col-sm-12 col-md-6" align="left">
                        <img src="{% if question.calculator %}{% static 'img/calculator.png' %}{% else %}{% static 'img/no_calculator.png' %}{% endif %}" height="50px" />
                    </div>
                    <div class="col-sm-12 col-md-6" align="RIGHT">
                        <div class="chrono" id="chrono{{ forloop.counter }}" data-time="{{ question.duration }}">
                        </div>
                    </div>
                </div> 

 
                <div class="row">  
                    <div class="col-sm-12 col-md-12"align="center">
                            <h1 style="font-size:6em" class="thin">{{ question.title }} </h1>
                    </div>
                </div>

                {% if question.imagefile %}
                <div class="row">  
                    <div class="col-sm-12 col-md-12"align="center">
                         <img src="{{ question.imagefile.url }}" />
                    </div>
                </div>
                {% endif %}
            </div>
        {% endfor %}



  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endblock %} 