{% extends 'tool/show_quizz.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


 {% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>


    {% if quizz.is_result and not quizz.is_result_final %}
    <script>
        require(['script/quizz-slider_correction']);
    </script> 
    {% else %}
    <script>
        require(['script/quizz-slider']);
    </script> 
    {% endif %}

{% endblock %}



{% block page_title %}
   <a href="{% url 'list_questions_flash' %}" ><i class="bi bi-lightning"></i> </a> Outils pédagogiques 
   <img width="25px" src="{% static 'img/angle-right.png' %}"/> Questions flash 
 
{% endblock %}


{% block page_menu_right %}


    {% if request.user.is_superuser and is_test_admin  %}
        <a href="{%  url 'admin_delete_test_mental' %}" class="btn btn-danger">OK ça marche. Suppression</a>
    {% endif %}

    {% if request.user.user_type == 2 %}
    <a href="{% url 'list_questions_flash' %}" class="btn btn-new">Mes questions flash </a>
    {% else %}
    <a href="javascript:history.back()"><input type="button" value="Retour" class="btn btn-default "/></a>
    {% endif %}

{% endblock %}


{% block title_quizz %} 

 
    {% if quizz.mental_activities.count == 1 %}
    <h1 style="font-size:3em;padding-top:100px;line-height: 100px;">
        {% for ma in quizz.mental_activities %}
            <li class="sanspuce">{{ ma }}</li> 
        {% endfor %}
    </h1>
    {% else %}
    <h1 style="font-size:4em;padding-top:100px;line-height: 100px;">
       {{ quizz.title }}
    </h1> 
    {% endif %}



{% endblock %}


{% block question_title %}

    {% if question.mental.jquery %}
        <h1 style="font-size:2.5em;padding-top:20px" class="thin"> {{ question.title}} </h1>
        <canvas class="this_canvas" id="canvas{{ forloop.counter0}}" width="900px" height="450px" style="border:1px solid #CCC; background-color: white;"></canvas>
    {% else %}
        <h1 style="font-size:4em;padding-top:100px" class="thin"> {{ question.title}} </h1>
    {% endif %}

{% endblock %}


{% block question_correction %}
    {% if question.mental.jquery %}
    <canvas class="this_canvas" id="canvas_corrector{{ forloop.counter0}}" width="900px" height="100px" style="border:1px solid #CCC; background-color: white;"></canvas>   
    <span style="font-size:1.5em" class="thin text-blue">La réponse est <span id="answer_cor{{ forloop.counter0}}"></span>{{ question.writinganswer }}</span>
    <script>{{  question.mental.jquery|add_parameters:forloop.counter0 }}</script>
    {% endif %}
{% endblock %}


{% block question_correction_inside %}
    {% if question.mental.jquery %}
    <canvas class="this_canvas" id="canvas_corrector{{ forloop.counter0}}" width="900px" height="100px" style="border:1px solid #CCC; background-color: white;"></canvas>   
    <span style="font-size:1.5em" class="thin text-blue">La réponse est <span id="answer_cor{{ forloop.counter0}}"></span>{{ question.writinganswer }}</span>
    <script>{{  question.mental.jquery|add_parameters:forloop.counter0 }}</script>
    {% endif %}
{% endblock %}




{% block python %} 
    <script src="{% static 'js/script/geometry.js' %}"></script>

{% endblock %}
