{% load static %}
{% load widget_tweaks %}


{% for document in documents %}  

    {% if this_type == "GGB" %}
        <div class="this_css_template_all_document" >
            <div class="this_search_document_get">
                <input type="checkbox" name="select_this_document_for_chapter" value ='{{ document.id }}-GGB' />
                <img src='{{ document.supportfile.imagefile.url }}' class='get_this_document this_css_template_exercise_document' 
                        data-type="GGB" data-book_id='{{ book.id }}'  
                     data-document_id='{{ document.id }}'  data-chapter_id='{{ chapter.id }}'/>
            </div>
        </div>

    {% else %}
        <div class="this_css_template_all_document" >
            <div class="this_search_document_get">
                <input type="checkbox" name="select_this_document_for_chapter" value ='{{ document.id }}-{{ this_type}}' />
            </div>
            <a href="javascript:void();" data-toggle='modal' data-target='#show_this_document'  class="this_search_document_label" data-document_id='{{ document.id }}'>{{document.title}} </a>
        </div>
    {% endif %}


{% endfor %} 
<div style="clear:both"></div>  

<div class="row" align="left">
    <div class="col-sm-12 col-md-12">
        <div class="form-group">         
            <button type="submit" class="btn btn-primary" name="form_type" value="get_doc" >Récupérer</button>   
            <a href="javascript:history.back()" data-dismiss="modal" ><input type="button" value="Fermer la fenêtre" class="btn btn-default"   /></a>
        </div>
    </div>
</div>                                  