{% load static %}
{% load widget_tweaks %}


{% for document in documents %}  
    <div class="this_css_template_all_document" id="this_css_template_all_document{{ document.id }}">
        <div class="this_search_document_get">
            <input type="checkbox" name="select_this_document_for_chapter" class="select_document_into_section" value ='{{ document.id }}-{{ this_type}}' />
            {% if this_type == "GGB" %}
                {% if document.supportfile.imagefile %}
                <img src='{{ document.supportfile.imagefile.url }}' class='get_this_document this_css_template_exercise_document' 
                    data-type="GGB" data-book_id='{{ book.id }}'  data-document_id='{{ document.id }}'  data-chapter_id='{{ chapter.id }}'/>
                {% else %}
                <span class='get_this_document this_css_template_exercise_document' 
                    data-type="GGB" data-book_id='{{ book.id }}'  data-document_id='{{ document.id }}'  data-chapter_id='{{ chapter.id }}'></span>
                {% endif %}
                    <br/>
            {% elif this_type == "Course" %}
            <a href="javascript:void();" data-toggle='modal' data-target='#show_this_document' class="show_this_document" data-document_id='{{ document.id }}' data-this_type='{{ this_type }}'>{{document.title|safe}}</a>
            {% else %}
            <span class="show_this_document">{{document.title|safe}}</span>
            {% endif %}
        </div>
    </div>
{% endfor %} 
<div style="clear:both"></div>  


<div class="row" align="left">
    <div class="col-xs-12 col-md-12">
        <div class="form-group">         
            <a href="javascript:void(0);" class="btn btn-primary" id="insert_document_into_this_section">Récupérer</a>   
            <a href="javascript:history.back()" data-dismiss="modal" class="pull-right"><input type="button" value="Fermer la fenêtre" class="btn btn-default"   /></a>
            {% if this_type == "GGB" %}
            <a href="javascript:void(0);" class="btn btn-xs btn-default modify_number_display" data-n="1" data-type="{{ this_type }}">100-200</a>
            <a href="javascript:void(0);" class="btn btn-xs btn-default modify_number_display" data-n="2" data-type="{{ this_type }}">200-300</a>
            <a href="javascript:void(0);" class="btn btn-xs btn-default modify_number_display" data-n="3" data-type="{{ this_type }}">300-400</a>
            <a href="javascript:void(0);" class="btn btn-xs btn-default modify_number_display" data-n="4" data-type="{{ this_type }}">400-500</a>
            <a href="javascript:void(0);" class="btn btn-xs btn-default modify_number_display" data-n="5" data-type="{{ this_type }}">500-600</a>
            <a href="javascript:void(0);" class="btn btn-xs btn-default modify_number_display" data-n="6" data-type="{{ this_type }}">600-700</a>
            {% endif %}
        </div>
    </div>
</div>                                  