{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}



 

 

{% block page_title %}
     Les livres numériques  <img src="{% static 'img/angle-right.png' %}"/>  
{% endblock %}

{% block page_menu_right %}

    {% if request.user.is_superuser %}
        <li><a href="{% url 'create_book' %}" class="btn btn-new pull-right" ><i class="fa fa-plus"></i> Nouveau Livre</a> </li> 
    {% endif %}

{% endblock %}

{% block body  %} 
<section class="content_main"> 

        {% regroup mybooks by subject as subject_list %}
        {% for subject in subject_list %}
        <div class="row">
            <div class="col-xs-12 col-md-12">
                {{ subject.grouper.name }}
            </div>
        </div><hr/>
        <div class="row" align="center">
            {% regroup subject.list by level as level_list %}
            {% for level in level_list %}
               <div class="col-xs-12 col-md-3 col-lg-3">
               <div class="book_level">

                   <div>{{ level.grouper.name }}</div>

                    {% for book in level.list %}
                        <div style="float: left;margin-right: 5px;">
                            

                            {% if request.user.is_extra or request.user.is_superuser %}
                            <a href="{% url 'mybooks' %}">{% if book.imagefile  %}<img src='{{ book.imagefile.url }}' width="99px"  />{% else  %}{{book.title }}</a>{% endif  %}
                            {% else  %}
                            <a href="{% url 'show_book' book.id 0 %}">{% if book.imagefile  %}<img src='{{ book.imagefile.url }}' width="99px"  />{% else  %}{{book.title }}</a>{% endif  %}
                            {% endif %}


            
                            {% if request.user.is_extra or request.user.is_superuser %}
                            <div style="font-size:12px;"> <a href="{% url 'update_book' book.id %}">Modifier </a>
                            {% if book.is_student %} |
                                <a href="{% url 'student_book_builder' book.id 0 %}">Pages</a> 
                            {% endif %}

                            </div>
                            {% endif %}

                        </div>
                    {% endfor %}
                    <div style="clear: both;"></div>
                </div>
                </div>
            {% endfor %}
        </div>  
        {% endfor %}

    </div>
</section>
{% endblock  %}   