{% extends 'book/conception_book.html' %}
{% load static %}
{% load widget_tweaks %}


 



{% block sommaire %}
    Sommaire <a href="#" data-toggle='modal' data-target='#book_new_chapter' title="Nouveau chapitre" class="book_new_chapter" id="new_chapter_button"><i class="bi bi-plus-circle"></i> Chapitre</a>
    <hr/>
    <div id="droppable_sommary">    
    {% for ch in chapters %}
        <li class="book_chapters_in_menu sorter_chapter {% if chapter.id == ch.id %}book_chapters_in_menu_selected{% endif %}" data-chapter_id='{{ ch.id }}'>
            <span class="book_chapter_number">{{ forloop.counter}}.</span> 

            <a href="{% url 'conception_book' book.id ch.id %}" class="book_chapter_shower">
            {{ ch.title|truncatechars:40|lower|capfirst }}
            </a>
            <a href="{% url 'delete_chapter' book.id ch.id %}" class="book_new_chapter" title="Supprimer" onclick="return TestDelete('le chapitre {{ch.title}}')"><i class="bi bi-trash"></i></a>                            
            <a href="#" data-toggle='modal' data-target='#book_new_chapter' class="book_new_chapter get_the_title" title="Modifier"  data-title="{{ ch.title }}" data-pk="{{ ch.id }}"><i class="bi bi-pen"></i></a>
        </li>
    {% endfor %}

        <a href="{% url 'reset_all_chapters' book.id %}" class="btn btn-primary btn-xs" onclick="return reset_all_chapters()">Ré initialiser les chapitgres</a>
    </div>
{% endblock %}


{% block main_page %}
 
    <h2 class="sacado_color_text">{{ chapter }}  
        <a href="{% url 'conception_book' book.id idch %}"   title="vers une organisation thématique des documents" class="chapter_new_document chapter_new_document_circle"><i class="fa fa-bars"></i></a>   
        {% if chapter.parcours.id %}
        <a href="javascript:void(0);"  data-toggle="modal"  data-target="#book_new_parcours"  class="link_parcours"><i class="bi bi-pen" style="font-size:10px"></i></a>
        <a href="{% url 'parcours_show_only_exercises' chapter.parcours.id  %}"  target="_blank" class="link_parcours"><i class="fa fa-th"></i> Vers le parcours</a>

        {% else %}
        <a href="javascript:void(0);"  data-toggle="modal"  data-target="#book_new_parcours"  class="link_parcours"><i class="fa fa-th"></i> Lier un parcours</a>
        {% endif %}          
    </h2>
 

    <div id="dropzone_chrono_concept" >


            {% for document in documents %}
                <div class="book_main_page_section_document_chrono book_main_page_section_document_type" data-document_id="{{ document.id }}">

  
                         <div class="row book_main_page_section_document_type">
                            <div class="col-xs-8 col-md-9">

                                

                                <div style="font-size:2em"><i class="bi bi-arrows-move"></i> <b class="forlooper">{{forloop.counter }}</b><b>.</b> {{ document.section.title|truncatechars:30  }}</div>
                                <div style="font-size:1.5em">{{ document.title|truncatechars:30  }}


                                    {% comment %}
                                    <a href="{% url 'duplicate_book_document' book.id chapter.id document.id %}"  title="Dupliquer {{document.title}}" onclick="return Test_duplicate('{{document.title}}')" >
                                        <i class="bi bi-clipboard-plus-fill"></i>
                                    </a> 
                                    <a href="#" class="book_main_page_section_document_eraser" title="Supprimer {{document.title}}" data-document_id="{{ document.id }}" onclick="return TestDelete('{{document.title}}')">
                                        <i class="bi bi-trash text-danger"></i>
                                    </a>
                                    {% endcomment %}

                                </div>
                            </div>
                            <div class="col-xs-4 col-md-3">
                                <a href="#" data-toggle='modal' class="show_this_document" data-target='#show_this_document' title="Voir  {{document.title}}" data-document_id="{{ document.id }}" >{{ document.icon_doctype|safe}}</a> 
                            </div>
                         </div>
                </div>
            {% endfor %}

                {% comment %}
                <div class="book_main_page_section_document_chrono book_main_page_section_document_type">
                    <div class="row book_main_page_section_document_type">
                        <div class="col-xs-12">
                            <a href="#" data-toggle='modal' data-target='#chapter_new_document' title="Ajouter" data-chapter_id="{{ chapter.id }}" data-section_id="{{  section.id }}"><i class="bi bi-file-plus-fill book_main_page_section_document_section"></i>Ajouter un document</a>
                        </div>                
                    </div>
                </div>
                {% endcomment %}


            <div style="clear:both"></div>

    </div>
{% endblock %}
 

 