{% extends 'book/show_book.html' %}
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}




{% block conception_creation %}
  
    <a href="{% url 'show_book' book.id idch %}" class="btn btn-sacado" style="margin-left:70px"  title="Conception => Visualisation"> <i class="bi bi-pen"></i><i class="bi bi-arrow-left-right" style="margin:0px 5px"></i><i class="bi bi-eye"></i></a>

{% endblock %} 





{% block sommaire %}
    Sommaire <a href="#" data-toggle='modal' data-target='#book_new_chapter' class="book_new_chapter" id="new_chapter_button"><i class="bi bi-plus-circle"></i> Chapitre</a>
    <hr/>
    <div id="droppable_sommary">    
    {% for ch in chapters %}
        <li class="book_chapters_in_menu sorter_chapter {% if chapter.id == ch.id %}book_chapters_in_menu_selected{% endif %}" data-chapter_id='{{ ch.id }}'>
            <span class="book_chapter_number">{{ forloop.counter}}.</span> 


            {% block details_section %}
            <a href="{% url 'conception_book' book.id ch.id %}" class="book_chapter_shower">
            {{ ch.title|truncatechars:43|lower|capfirst }}
            </a>
            <a href="{% url 'delete_chapter' book.id ch.id %}" class="book_new_chapter" title="Supprimer" onclick="return TestDelete('le chapitre {{ch.title}}')"><i class="bi bi-trash"></i></a>                            
            <a href="#" data-toggle='modal' data-target='#book_new_chapter' class="book_new_chapter get_the_title" title="Modifier"  data-title="{{ ch.title }}" data-pk="{{ ch.id }}"><i class="bi bi-pen"></i></a>
            {% endblock %}


        </li>
    {% endfor %}

        <a href="{% url 'reset_all_chapters' book.id %}" class="btn btn-primary btn-xs" onclick="return reset_all_chapters()">
        {% if book.chapters.count %}
            Ré-initialiser les chapitres
        {% else %}
            Générer le livre SACADO
        {% endif %}
    </a>
    </div>
{% endblock %}


{% block main_page %}


    <h2 class="sacado_color_text">{{ chapter }}  
        <a href="{% url 'chapter_chrono_concept_document' book.id idch %}"  class="chapter_new_document chapter_new_document_circle"  title="Classer les documents par chronologie"><i class="bi bi-sort-numeric-down"></i></a> 
        {% if chapter.parcours.id %}
        <a href="javascript:void(0);"  data-toggle="modal"  data-target="#book_new_parcours"  class="link_parcours"><i class="bi bi-pen" style="font-size:10px"></i></a>
        <a href="{% url 'parcours_show_only_exercises' chapter.parcours.id  %}"  target="_blank" class="link_parcours"><i class="bi bi-link"></i> Vers le parcours</a>

        {% else %}
        <a href="javascript:void(0);"  data-toggle="modal"  data-target="#book_new_parcours"  class="link_parcours"><i class="bi bi-link"></i> Lier un parcours</a>
        {% endif %}          
    </h2>

    <div id="dropzone" >

    {% for section in sections %}
        <div class="book_main_page_section"  id="book_main_page_section{{ section.id }}" data-over_section_id="{{ section.id }}" style="border-color: {{ section.color}}" >
            <div class="book_main_page_section_title" style="background-color: {{ section.color}}">
                <i class="fa fa-sort this_sorter_handle"></i> <span id="section_title{{ section.id }}">{{ section.title }}</span>   

                <a href="javascript:void(0);" class="publish_section white" title="Visible par les élèves" data-section_id="{{ section.id }}">{% if section.is_publish %}<i class="bi bi-eye"></i>{% else %}<i class="bi bi-eye-slash"></i>{% endif %}</a>                

                <a href="javascript:void(0);" data-toggle='modal' data-target='#update_section' class="section_up_and_del white" title="Modifier" data-section_id = "{{ section.id }}"><i class="bi bi-pen"></i></a>
                
                <a href="javascript:void(0);" class="delete_section white" title="Supprimer" data-section_id="{{ section.id }}"><i class="bi bi-trash"></i></a>


            </div> 
            <div class="book_main_page_body {% if not section.is_publish %}opacity_color{% endif %}">
            {% for document in section.documents.all|dictsort:'ranking' %}
                <div class="book_main_page_section_document_detail" id="this_document{{ document.id }}" data-document_id="{{ document.id }}"  data-section_id="{{ section.id }}" >
                    <i class="bi bi-arrows-move book_main_page_section_document_move"></i>
                    
                    {% if document.doctype == 0 %}
                    <a href="{% url 'duplicate_book_document' book.id chapter.id document.id %}" class="book_main_page_section_document_duplicate" title="Dupliquer {{document.title}}" onclick="return Test_duplicate('{{document.title}}')" >
                        <i class="bi bi-clipboard-plus-fill"></i>
                    </a> 
                    {% endif  %}

                    <a href="javascript:void();" data-toggle='modal' class="show_this_document" data-target='#show_this_document' title="Voir  {{document.title}}" data-document_id="{{ document.id }}" >
                         {{ document.icon_doctype|safe}}
                    </a><br/>
                    {% if document.doctype == 0 and document.author == request.user.teacher %}
                    <a href="{% url 'update_book_document' book.id chapter.id document.id %}"  class="update_this_document" title="Modifier {{document.title}}" data-document_id="{{ document.id }}" >{{ document.title|truncatechars:30 }}</a> 
                    {% else %}
                    <a href="#" data-toggle='modal' class="show_this_document" data-target='#show_this_document' title="Voir  {{document.title}}" data-document_id="{{ document.id }}" >{{ document.title|truncatechars:30  }} </a>
                    {% endif  %}
                    <small>
                        <a href="javascript:void(0);" class="book_main_page_section_document_eraser" title="Supprimer {{document.title}}" data-document_id="{{ document.id }}" onclick="return TestDelete('{{document.title}}')"><i class="bi bi-trash text-danger"></i></a>
                    </small>
                </div>
            {% endfor %}

                 <a href="javascript:void(0);" data-toggle='modal' data-target='#chapter_new_document' class="selector_book_section_document" title="Ajouter" data-chapter_id="{{ chapter.id }}" data-section_id="{{  section.id }}"><i class="bi bi-file-plus-fill book_main_page_section_document_section"></i></a>
            </div>     
            <div style="clear:both"></div>
        </div>

 

    {% endfor %}

        <div class="row" align="center">
            <div class="col-sm-12 col-md-12">
                 <a href="javascript:void();" data-toggle='modal' data-target='#chapter_new_section' class="btn btn-primary" title="Ajouter" data-chapter_id="{{ chapter.id }}"><i class="bi bi-plus-circle-dotted"></i> Nouvelle section</a>
            </div>
        </div>

    </div>
{% endblock %}
 


{% block modal_chapter %}
    <div class="modal fade" id="book_new_chapter" tabindex="-1" role="dialog" aria-labelledby="book_new_chapter">
        <div class="modal-dialog modal-lg" role="document"  style="width:750px">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                    <h2 id='modal_title' >Nouveau chapitre</h2>              
                </div>
                <div class="modal-body">
                    <form method="POST" action="" enctype='multipart/form-data' id="new_chapter">                    
                        <input type="hidden" value="book" name="form_type"/>
                        {% csrf_token %}
                        {{ form.book}}
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label>{{ form.title.label_tag }}</label>
                                    {{ form.title |add_class:"form-control" }}
                                    {{ form.title.errors }}
                                </div>
                                <input name="is_update" id="is_update" type="hidden" />
                                <input name="pk_update" id="pk_update" type="hidden" /> 
                            </div>    
                            <div class="col-sm-12 col-md-12">         
                                <button type="submit" class="btn btn-primary" form_type="book">Enregistrer</button>   
                                <a href="javascript:history.back()" data-dismiss="modal" ><input type="button" value="Annuler" class="btn btn-default"   /></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </div>

     


    <div class="modal fade" id="chapter_new_document" tabindex="-1" role="dialog" aria-labelledby="chapter_new_document">
        <div class="modal-dialog modal-lg" role="document"  style="width:1000px">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                    <h2>Ajouter un document</h2>              
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <a href="javascript:void();" class="new_document_button_selector btn-primary" id="get_an_existing_document"  >
                               Choisir vos documents existants
                            </a>
                            <a href="javascript:void();" class="new_document_button_selector"  id="create_a_new_document_button">
                                Créer un nouveau document
                            </a>
                        </div>
                    </div>
                    <div id="get_this_existing_document">
                        <form method="POST" action="" enctype='multipart/form-data'>
                            <input type="hidden" name="book_section_id_get" id="book_section_id_get" />
                            <input type="hidden" name="book_subject_id" value="{{ book.subject.id }}" />
                            <input type="hidden" name="book_level_id"   value="{{ book.level.id }}" />
                            <input type="hidden" name="book_chapter_id" value="{{ chapter.id }}" />
                            {% csrf_token %}


                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <a href="javascript:void();" class="selector_existant_book_document_choice existant_book_document_choice" data-type="BiblioTex" data-chapter_id="{{ chapter.id}}">
                                             <i class="bi bi-bootstrap"></i> BiblioTex ?
                                        </a>
                                        <a href="javascript:void();" class="existant_book_document_choice" data-type="Course" data-chapter_id="{{ chapter.id}}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-c-square" viewBox="0 0 16 16">
                                                    <path d="M8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z"/>
                                                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2Zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2Z"/>
                                                </svg>
                                            Cours ?
                                        </a>
                                        <a href="javascript:void();" class="selector_existant_book_document_choice existant_book_document_choice" data-type="Exotex" data-chapter_id="{{ chapter.id}}"> 
                                            <i class="bi bi-explicit"></i> Exercice rédigé ?
                                        </a>
                                        <a href="javascript:void();" class="selector_existant_book_document_choice existant_book_document_choice" data-type="GGB" data-chapter_id="{{ chapter.id}}"> 
                                            <i class="bi bi-explicit-fill"></i> Exercice autocorrigé ? 
                                        </a>
                                        <a href="javascript:void();" class="selector_existant_book_document_choice existant_book_document_choice" data-type="Flashpack" data-chapter_id="{{ chapter.id}}">
                                            <i class="bi bi-stack"></i> Flashpack ?
                                        </a>
                                        <a href="javascript:void();" class="selector_existant_book_document_choice existant_book_document_choice" data-type="Quizz" data-chapter_id="{{ chapter.id}}">
                                            <i class="bi bi-aspect-ratio"></i> Quizz ?
                                        </a>
                                        <a href="javascript:void();" class="selector_existant_book_document_choice existant_book_document_choice" data-type="QF" data-chapter_id="{{ chapter.id}}">
                                            <i class="bi bi-lightning"></i> Questions flash ?
                                        </a>
                                    </div>
                                </div>  
                            </div> 
                            <div id="show_document_by_type" align='center'>
     
                            </div> 
                        </form>
                    </div>
                    <div id="create_a_new_document" class="no_visu_on_load">
                        <form method="POST" action="" enctype='multipart/form-data' id="form_new_document">
                            <input type="hidden" value="document" name="form_type"/>
                            <input type="hidden" name="doctype" id="doctype" />
                            <input type="hidden" name="book_section_id" id="book_section_id" />
                            <input type="hidden" name="book_subject_id" id="book_subject_id" value="{{ book.subject.id }}" />
                            <input type="hidden" name="book_level_id"   id="book_level_id" value="{{ book.level.id }}" />
                            <input type="hidden" name="book_chapter_id" id="book_chapter_id"  value="{{ chapter.id }}" />
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <label>{{ formdoc.title.label_tag }}</label>
                                        {{ formdoc.title |add_class:"form-control" }}
                                        {{ formdoc.title.errors }}
                                    </div>
                                </div>  
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="javascript:void();" class="book_document_choice" id="show_text_part">Ecrire du texte ?</a>
                                    <a href="javascript:void();" class="book_document_choice" id="show_link_part">Attacher un lien externe ?</a>
                                    <a href="javascript:void();" class="book_document_choice" id="show_file_part">Téléverser un fichier ?</a>
                                    <a href="javascript:void();" class="book_document_choice" id="show_qf_part">Créer des questions flash ?</a>
                                </div> 
                            </div>
                            <div class="row no_visu_on_load disappear_div" id="text_part">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <label>{{ formdoc.content.label_tag }}</label>
                                        {{ formdoc.content }}
                                        {{ formdoc.content.errors }}
                                    </div>
                                </div>  
                            </div>
                            <div class="row no_visu_on_load disappear_div" id="file_part">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <label>{{ formdoc.file.label_tag }}</label>
                                        {{ formdoc.file |add_class:"form-control btn btn-default" }}
                                        {{ formdoc.file.errors }}
                                    </div>
                                </div>  
                            </div>
                            <div class="row no_visu_on_load disappear_div" id="link_part">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <label>{{ formdoc.url.label_tag }}</label>
                                        {{ formdoc.url |add_class:"form-control"|attr:"placeholder:https://" }}
                                        {{ formdoc.url.errors }}
                                    </div>
                                </div>  
                            </div>
                            <div class="no_visu_on_load disappear_div" id="qf_part">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-4 col-md-3">
                                            <label>Nombre de questions</label>
                                            {{ form_qf.nb_slide |add_class:"form-control" }}
                                            {{ form_qf.nb_slide.errors }}
                                            {{ form_qf.title.as_hidden }}
                                        </div>
                                        <div class="col-sm-4">
                                            <label>{{ form_qf.is_result.label_tag }} </label>
                                            {{ form_qf.is_result|attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non" }} 
                                            {{ form_qf.is_result.errors }}
                                        </div>
                                        <div class="col-sm-4">
                                            <label>{{ form_qf.is_publish.label_tag }}</label>
                                            {{ form_qf.is_publish |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"  }}
                                            {{ form_qf.is_publish.errors }}
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <table class="table borderless">
                                                <tbody>
                                                    {% for all_mental  in all_mentals %}   
                                                        <tr class="title_tr">
                                                            <td style="width:85%"> {{ all_mental.level.name  }} </td><td ></td>
                                                        </tr>
                                                        
                                                        {% for all_mental_sub  in all_mental.sub %} 
                                                            <tr>
                                                                <td style="width:85%">
                                                                    <input type="checkbox" class="class_select_all_these_items" data-document_id="{{ all_mental_sub.mentaltitle.id }}" /> <i class="fa fa-caret-right"></i> {{ all_mental_sub.mentaltitle.title }} 
                                                                </td> 
                                                                <td>Temps par question</td>
                                                            </tr> 
                                                            {% for m in all_mental_sub.mentals.all %}
                                                                {% if m %}
                                                                <tr>
                                                                    {% get_question_is_already_used m teacher as is_already_used %}
                                                                    <td >
                                                                        <label {% if is_already_used.date %} class="text-success" title="Déjà utilisé le {{ is_already_used.date|date:'Y-m-d' }}"{% endif %}  > 
                                                                            <input type="checkbox" value="{{m.id }}" name="mental_ids"  class="groupcheckbox these_items_to_be_selected{{ all_mental_sub.mentaltitle.id }}" /> {{ m.content }}   
                                                                        </label> 
                                                                    </td> 
                                                                    <td >
                                                                        <small>{{ m.duration }} secondes </small>
                                                                    </td>  
                                                                </tr> 
                                                                {% endif %} 
                                                            {% endfor %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                </tbody>
                                            </table> 
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12">  
                                    <div class="form-group">  
                                        <button type="submit" class="btn btn-primary no_visu_on_load" name="form_type" value="new_qf_document" id="new_qf_document">Générer</button>
                                        <button type="submit" class="btn btn-primary no_visu_on_load" name="form_type" value="new_document" id="new_document">Enregistrer</button>   
                                        <a href="javascript:history.back()" data-dismiss="modal" ><input type="button" value="Annuler" class="btn btn-default"   /></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    </div>


    <div class="modal fade" id="chapter_new_section" tabindex="-1" role="dialog" aria-labelledby="chapter_new_section">
        <div class="modal-dialog modal-lg" role="document"  style="width:500px">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                    <h2>Nouvelle section</h2>              
                </div>
                <div class="modal-body" id='modal_document_body' >
                    <form method="POST" action="" enctype='multipart/form-data'  id='new_form_sec'> 
                        {% csrf_token %}                          
                        <input type="hidden" value="emplacement" name="form_type"/>
                        <div class="row">
                            <div class="col-sm-12 col-md-12"> 
                                <label>Titre :</label><br/> 
                                {{ formsec.title|add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12"> 
                                <div class="form-group">
                                <label>Bordure :</label>  
                                            <a href="#"><i class="fa fa-square fa-2x selector_section_color" data-color="5D4391" style="color:#5D4391"></i></a>
                                            <a href="#"><i class="fa fa-square fa-2x selector_section_color" data-color="AD4B91" style="color:#AD4B91"></i></a>
                                            <a href="#"><i class="fa fa-square fa-2x selector_section_color" data-color="A31512" style="color:#A31512"></i></a>
                                            <a href="#"><i class="fa fa-square fa-2x selector_section_color" data-color="E76080" style="color:#E76080"></i></a>                                             
                                            <a href="#"><i class="fa fa-square fa-2x selector_section_color" data-color="FF8B69" style="color:#FF8B69"></i></a>
                                            <a href="#"><i class="fa fa-square fa-2x selector_section_color" data-color="FFC05C" style="color:#FFC05C"></i></a> 
                                            <a href="#"><i class="fa fa-square fa-2x selector_section_color" data-color="0960B5" style="color:#0960B5"></i></a>
                                            <a href="#"><i class="fa fa-square fa-2x selector_section_color" data-color="0093CA" style="color:#0093CA"></i></a>
                                            <a href="#"><i class="fa fa-square fa-2x selector_section_color" data-color="00A7B8" style="color:#00A7B8"></i></a>
                                            <a href="#"><i class="fa fa-square fa-2x selector_section_color" data-color="00B999" style="color:#00B999"></i></a>
                                {{ formsec.color.as_hidden }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">         
                                    <button type="submit" class="btn btn-primary"  name="form_type" value="emplacement"  >Enregistrer</button>   
                                    <a href="javascript:history.back()" data-dismiss="modal" ><input type="button" value="Annuler" class="btn btn-default"   /></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </div>

     
    <div class="modal fade" id="update_section" tabindex="-1" role="dialog" aria-labelledby="update_section">
        <div class="modal-dialog modal-lg" role="document"  style="width:300px">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                    <h2>Modifier la section</h2>              
                </div>
                <div class="modal-body" >
                    <form method="POST" action="" enctype='multipart/form-data' id='update_form_sec'> 
                        {% csrf_token %}                          
                        <input type="hidden" id="section_id" name="section_id" />
                        <div class="row">
                            <div class="col-sm-12 col-md-12">         
                                {{ formsec.title|add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12"> 
                                <div class="form-group">
                                <label>Bordure :</label><br/>  
                                            <a href="#"><i class="fa fa-square fa-2x selector_section_color_update" data-color="9274C7" style="color:#9274C7"></i></a>
                                            <a href="#"><i class="fa fa-square fa-2x selector_section_color_update" data-color="AD4B91" style="color:#AD4B91"></i></a>
                                            <a href="#"><i class="fa fa-square fa-2x selector_section_color_update" data-color="A31512" style="color:#A31512"></i></a>
                                            <a href="#"><i class="fa fa-square fa-2x selector_section_color_update" data-color="E76080" style="color:#E76080"></i></a>                                             
                                            <a href="#"><i class="fa fa-square fa-2x selector_section_color_update" data-color="FF8B69" style="color:#FF8B69"></i></a>
                                            <a href="#"><i class="fa fa-square fa-2x selector_section_color_update" data-color="FFC05C" style="color:#FFC05C"></i></a> 
                                            <a href="#"><i class="fa fa-square fa-2x selector_section_color_update" data-color="0960B5" style="color:#0960B5"></i></a>
                                            <a href="#"><i class="fa fa-square fa-2x selector_section_color_update" data-color="0093CA" style="color:#0093CA"></i></a>
                                            <a href="#"><i class="fa fa-square fa-2x selector_section_color_update" data-color="00A7B8" style="color:#00A7B8"></i></a>
                                            <a href="#"><i class="fa fa-square fa-2x selector_section_color_update" data-color="00B999" style="color:#00B999"></i></a>
                                {{ formsec.color.as_hidden }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">         
                                <button type="submit"  name="form_type"  value="udpate_section_button"  class="btn btn-primary">Enregistrer</button>   
                                <a href="javascript:history.back()" data-dismiss="modal" ><input type="button" value="Annuler" class="btn btn-default"   /></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </div>




    <div class="modal fade" id="delete_section" tabindex="-1" role="dialog" aria-labelledby="delete_section">
        <div class="modal-dialog modal-lg" role="document"  style="width:300px">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                    <h2 ></h2>              
                </div>
                <div class="modal-body"  >
                    {% for section in sections %}
                        <div class="row" id="this_section_in_modal{{ section.id }}">
                            <div class="col-sm-10 col-md-10">         
                                {{ section.title }}
                            </div>
                            <div class="col-sm-2 col-md-2">         
                                <a href="javascript:void();" class="delete_section" data-section_id="{{ section.id }}" onclick="return TestDelete('la section {{section.title}}')" ><i class="bi bi-trash"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div> 
    </div>


    <div class="modal fade" id="show_this_document" tabindex="-1" role="dialog" aria-labelledby="show_this_document">
        <div class="modal-dialog modal-lg" role="document"  style="width:1100px">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                    <h2 id='show_modal_document_title' ></h2>              
                </div>
                <div class="modal-body">
                    <div class="row"  id='show_modal_document_body' >
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">         
                            <a href="javascript:history.back()" data-dismiss="modal" ><input type="button" value="Fermer la fenêtre" class="btn btn-default"   /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>



    <div class="modal fade" id="book_new_parcours" tabindex="-1" role="dialog" aria-labelledby="book_new_parcours">
        <div class="modal-dialog modal-lg" role="document"  >
            <div class="modal-content" >
                <form method="POST" action="" enctype='multipart/form-data'  > 
                    {% csrf_token %}  
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> 
                        <h2 >Lier un parcours</h2>              
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            {% for p in parcours %}
                                <div class="col-xs-3" style="height:150px;text-align: center"> 
                                    <label><input type="radio" name="my_parcours" value="{{ p.id }}" />
                                    <br/>
                                    {% if p.vignette %}
                                    <img src="{{ p.vignette.url }}" width='80px'/><br/>
                                    {% endif %}
                                    {{ p.title }}</label>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12">                            
                                <button type="submit" class="btn btn-primary"  name="form_type"   value='link_form_parcours' >Enregistrer</button>           
                                <a href="javascript:history.back()" data-dismiss="modal" ><input type="button" value="Fermer la fenêtre" class="btn btn-default"   /></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div> 
    </div>


    <div class="modal fade" id="book_new_section" tabindex="-1" role="dialog" aria-labelledby="book_new_section">
        <div class="modal-dialog modal-lg" role="document"  style="width:1100px">
            <div class="modal-content" >
                <div class="modal-body" id='update_modal_document_body' >
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label>Document à placer dans</label>
                                {{ formdoc.section |add_class:"form-control select2" }}
                                {{ formdoc.section.errors }}
                            </div>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">         
                            <button type="submit" class="btn btn-primary">Enregistrer</button>   
                            <a href="javascript:history.back()" data-dismiss="modal" ><input type="button" value="Annuler" class="btn btn-default"   /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
{% endblock %}