{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>

    <script>
        require(['script/ajax-book']);
    </script> 

{% endblock %}


{% block page_title %}
    {{ book.level.shortname }} <img src="{% static 'img/angle-right.png' %}"/> Création du livret numérique Elève   <img src="{% static 'img/angle-right.png' %}"/>  
{% endblock %}




{% block page_menu_right %}
  <a href="{% url 'create_chapter' book.id 0 %}"> Créer un chapitre</a>
{% endblock %}





{% block body  %}  


<section class="content_main"> 

    <div class="col-sm-12 col-md-12">
        <table class="table borderless">
        {% for chapter in chapters %}
            <tr>
                <td width='450px'>{{ chapter }} 
                    <a href="{% url 'delete_student_book_chapter' book.id chapter.id %}" class="pull-right"><i class="bi bi-trash"></i>
                    <a href="{% url 'update_student_book_chapter' book.id chapter.id %}" class="pull-right"><i class="bi bi-pencil"></i>
                </td>
                <td width='40px'><a href="{% url 'create_page' book.id chapter.id %}" class="btn btn-sacado">+</a></td>
                <td id="this_page_is_sorter{{ chapter.id }}" data-chapter_id="{{ chapter.id }}" class="book_sorter_page">
                    {% for page in chapter.pages.all|dictsort:"number" %}
                        <a href="{% url 'update_page' book.id page.id %}" data-page_id="{{ page.id }}"  
                           class="btn btn-{% if this_page_id_created == page.id %}primary{% else %}sacado{% endif %} sorter_items_pages">{{ page.number }}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
</section>
{% endblock  %}   


