{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
 
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
 
    <script>
        require(['script/ajax-book_shower']);
    </script> 


{% endblock %}


{% block page_title %}
    {{ bloc.title  }} <img src="{% static 'img/angle-right.png' %}"/>  
{% endblock %}


{% block styleMk4ht %}
    <link rel="stylesheet" href="{% static use_this_css %}">
{% endblock %} 



{% block page_menu_right %}
 

{% endblock %}





{% block body  %}  
<section class="content_main"> 
 


                <div class="col-xs-12">
                    <div class="{{ bloc.typebloc.css }}" style="margin:20px 0px; width:90%" > 
                        <div class="bloc_title">
                            {{ bloc.title }}
                        </div>
                        <div class="bloc_content">
                            {{ bloc.content_html|safe }}
                        </div>
                    </div>
                </div>

  


 
                <div class="col-xs-12">
                    <h2>Activités complémentaires</h2>
                </div>






        {% if appliquettes %}
        <div class="col-sm-12 col-md-6" align='center'> 
            <h3>appliquettes</h3>      
            {% for a in appliquettes %}
                <li class="sanspuce"><a href="{% url 'goto_appliquette_after_qrcode' a.code %}" target="_blank">{{ a.iframe|safe }}</a></li>
            {% endfor %}
        </div>
        {% endif %}
        {% if exercises %}
        <div class="col-sm-12 col-md-3" align='center'>  
            <h3>Exercices GGB</h3>              
            {% for e in exercises %}
               {% if e.supportfile.imagefile %}
                    <a href="{% url 'execute_exercise_from_book' e.id %}" target="_blank"><img src="{{ e.supportfile.imagefile.url }}" width="300px"></a>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% if exotexs %}
        <div class="col-sm-12 col-md-3">
            <h3>Exo Latex</h3>             
            {% for e in exotexs %}
                <li><a href="{% url 'show_exotex' e.id %}" target="_blank">{{ e.title }}</a></li>
            {% endfor %}
        </div>
        {% endif %}


</section>






{% endblock  %}   


