{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}



{% block require %}
 
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
 
{% endblock %}

 

{% block page_title %}
     Livres numériques  <img src="{% static 'img/angle-right.png' %}"/>  
     {% if chapter %}
     <small>Modification {{ chapter.title }}</small>
    {% else %}
     <small>Nouveau chapitre</small>
    {% endif %} 
{% endblock %}

{% block page_menu_right %}
{% endblock %}





{% block body  %} 
<section class="content_main">             
    <form method="post" action="" enctype='multipart/form-data'>{% csrf_token %}
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="form-group">
                <label>{{ form.title.label_tag }}</label>
                {{ form.title |add_class:"form-control" }}
                {{ form.title.errors }}
            </div>
            <div class="form-group">
                <label>{{ form.is_publish.label_tag }}</label>
                {{ form.is_publish|attr:"data-toggle:toggle" |attr:"data-onstyle:success"|attr:"data-offstyle:danger"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                {{ form.is_publish.errors }}
            </div>
            <div class="form-group">
                <label>{{ form.is_share.label_tag }}</label>
                {{ form.is_share|attr:"data-toggle:toggle" |attr:"data-onstyle:success"|attr:"data-offstyle:danger"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                {{ form.is_share.errors }}
            </div>

            <input name="level" id="id_level" value="{{ book.level.id }}" type="hidden"/>
            <input name="subject" id="id_subject" value="{{ book.subject.id}}" type="hidden"/>

            <div class="form-group">
                <label>{{ form.ranking.label_tag }}</label>
                {{ form.ranking|add_class:"form-control" }}
                {{ form.ranking.errors }}
            </div>
            
        </div>  
        
  
        <div class="col-sm-12">         
            <button type="submit" class="btn btn-primary">Enregistrer</button>   
            <a href="javascript:history.back()" data-dismiss="modal" ><input type="button" value="Annuler" class="btn btn-default"   /></a>
        </div>
    </div>
    </form>
</section>
{% endblock  %}       

 