{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}

    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    <script>
        require(['script/ajax-update_page']);
    </script> 

{% endblock %}


{% block page_title %}
     Livre élève  <b>{{ book.level.shortname }}</b> 
    {% if chapter %}
    <img src="{% static 'img/angle-right.png' %}"/> <a href="{% url 'student_book_builder' book.id 0 %}"> {{ chapter.title }}</a>  <a href="{% url 'print_latex_to_pdf'  chapter.id 0 %}" title="imprimer le pdf depuis Latex" target="_blank"><i class="bi bi-printer"></i></a>
    {% endif %}
    <img src="{% static 'img/angle-right.png' %}"/> page {{ page.number }}  
    {% if page.number > 0 %}
    <a href="{% url 'goto_update_page' book.id page.number|add:-1   %}" class="btn btn-default" title="page précédente"><</a> 
    {% endif %}
    {% if page.number < book.total_page %} 
    <a href="{% url 'goto_update_page' book.id page.number|add:1 %}" class="btn btn-default"  title="page suivante">></a>
    {% endif %}
{% endblock %}



{% block styleMk4ht %}
    <link rel="stylesheet" href="{% static use_this_css %}">
{% endblock %} 



{% block page_menu_right %}
    <li><a href="#" data-toggle='modal'  data-target="#book_new_bloc" class="btn btn-new" ><i class="bi bi-plus"></i> bloc</a> </li> 
    <li><a href="#" data-toggle='modal'  data-target="#book_new_paragraph" class="btn btn-new" ><i class="bi bi-plus"></i> paragraphe</a> </li> 
    {% comment %}<li><a href="#" data-toggle='modal'  data-target="#book_new_typebloc" class="btn btn-new" ><i class="bi bi-plus"></i> type de bloc</a> </li>{% endcomment %} 
    <li><a href="#" data-toggle='modal'  data-target="#update_page" class="btn btn-new" ><i class="bi bi-pen"></i> page</a> </li> 
{% endblock %}


 
{% block body  %}  


<div class="{{ page.css}}" id="top_page">
    <i class="bi bi-{% if page.is_publish %}eye{% else %}eye-slash{% endif %}"></i> <span id="top_page_title">{{ page.title }} </span> <a href="{% url 'print_latex_to_pdf' 0 page.id  %}" class="white" title="imprimer le pdf depuis Latex"  target="_blank"><i class="bi bi-printer"></i></a>               
    <select name="type_page" id="type_de_page" data-book_id ="{{ book.id }}" data-page_id ="{{ page.id }}" style="float:right;font-size: 16px;color:black">
        <option value="course_page_top">Type de page ?</option>
        <option value="intro_page_top">Introduction</option>
        <option value="course_page_top">Cours</option>
        <option value="ad_page_top">Applications directes</option>
        <option value="parcoursu_page_top">Parcours 1</option>
        <option value="parcoursd_page_top">Parcours 2</option>
        <option value="parcourst_page_top">Parcours 3</option>
        <option value="auto_page_top">Autonomie</option>
        <option value="algo_page_top">Algorithmique</option>
    </select>
</div>
<div class="course_page_main"  id="course_page_main">
    {% for paragraph in page.paragraphs.all|dictsort:"ranking" %}
        <div class="this_paragraph" id="this_paragraph{{ paragraph.id }}"  data-paragraph_id ="{{ paragraph.id }}">
            <div class="row">
                <div class="col-xs-12">
                    <span class="paragraph_number" id="paragraph_number{{ paragraph.id }}">{{ paragraph.number }}</span>
                    <span class="paragraph_title" id="paragraph_title{{ paragraph.id }}">{{ paragraph.title }}</span>
                    <a href="{% url 'update_paragraph' book.id  page.id  paragraph.id  %}" class="this_updater_paragraph"><i class="bi bi-pen"></i></a>
                    <a href="{% url 'delete_paragraph' book.id  page.id  paragraph.id  %}" class="this_updater_paragraph" onclick="TestDelete('{{ paragraph.title}}')" ><i class="bi bi-trash"></i></a>
                </div>
            </div>
            <div class="row" id="this_bloc{{ paragraph.id }}" >
                
                {% for bloc in paragraph.blocs.all|dictsort:"ranking" %} 
                    <div class="this_div_bloc_sort">
                    <a href="{% url 'update_bloc' book.id page.id bloc.id %}" class="to_sorter_div_left"><i class="bi bi-pen"></i></a>
                    <a href="{% url 'delete_bloc' book.id page.id bloc.id %}" class="to_sorter_div" onclick="TestDelete('{{ bloc.title}}')"><i class="bi bi-trash"></i></a> 
                    <a href="{% url 'goto_details_bloc_after_qrcode' bloc.id %}" class="to_sorter_div_sub_left" target="_blank"><i class="bi bi-link"></i></a>

                        <div class="col-xs-{{ bloc.size }} this_bloc_sort" id="this_bloc_content{{ bloc.id }}" data-bloc_id = "{{bloc.id}}" data-paragraph_id = "{{ paragraph.id }}"  >
                            <div class="{{ bloc.typebloc.css }}"> 
                                <div class="bloc_title"><i class="fa fa-sort bloc_sorter" data-bloc_id = "{{bloc.id}}"></i>
                                    #{{ bloc.id }}. {{ bloc.title }} 
                                    
                                </div>
                                <div class="bloc_content">
                                    {{ bloc.content_html|safe }}
                                </div>
                            </div>
                            {% if bloc.display_qr %} 
                            <div class="this_div_bloc_complements">  
                                <label> 
                                        {% if bloc.correction_html %}
                                            <a href="javascript:void(0);"    data-target="#book_shower_correction{{ bloc.id }}" data-toggle="modal" >
                                                <i class="bi bi-c-square text-success"></i>
                                            </a>
                                        {% endif %}    
                                    Compléments :
                                </label> 
                                {% for a in bloc.appliquettes.all %}
                                    <a href="{% url 'goto_appliquette_after_qrcode' a.code %}" target="_blank" style="margin-right:10px"><i class="bi bi-badge-vr"></i></a>
                                {% endfor %}
                                {% for e in bloc.exercises.all %} 
                                   {% if e.supportfile.imagefile %}
                                        <a href="{% url 'execute_exercise_from_book' e.id %}" target="_blank" style="margin-right:10px"><img src="{{ e.supportfile.imagefile.url }}" width="20px"></a>
                                    {% endif %}
                                {% endfor %}
                                {% for e in bloc.exotexs.all %} 
                                    <a href="{% url 'show_exotex' e.id %}" target="_blank" style="margin-right:10px"><i class="bi bi-explicit"></i></a>
                                {% endfor %}
                             </div>
                             {% endif %}                        
                        </div>

                    </div>

                    {% get_bloc_col_width paragraph  forloop.counter as col_width %}
                    {% if col_width|divisibleby:"12"  and paragraph.total_size > 12 %}</div><div class="row">{% endif %}   
                {% endfor %}
            </div>


        </div>
    {% endfor %}
</div>



<div class="modal fade" id="book_new_paragraph" tabindex="-1" role="dialog" aria-labelledby="book_new_paragraph">
    <div class="modal-dialog modal-lg" role="document"  style="width:750px">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h2>Nouveau paragraphe</h2>              
            </div>
            <div class="modal-body">
                <form method="post" action="" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <label>{{ form_p.title.label_tag }}</label>
                            {{ form_p.title |add_class:"form-control" }}
                            {{ form_p.title.errors }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-2">
                            <label>{{ form_p.number.label_tag }}</label>
                            {{ form_p.number |add_class:"form-control" }}
                            {{ form_p.number.errors }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" name="form_action" value="new_paragraph">Enregistrer</button>  
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>





<div class="modal fade" id="book_new_typebloc" tabindex="-1" role="dialog" aria-labelledby="book_new_typebloc">        
    <div class="modal-dialog modal-lg" role="document"  style="width:750px">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h2>Nouveau type de bloc</h2>              
            </div>
            <div class="modal-body">
                <form method="post" action="" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <label>{{ form_tb.title.label_tag }}</label>
                            {{ form_tb.title |add_class:"form-control" }}
                            {{ form_tb.title.errors }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                          <div class="form-group">
                              <label>{{ form_tb.css.label_tag }}</label>
                              {{ form_tb.css |add_class:"form-control" }}
                              {{ form_tb.css.errors }}
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <button type="submit" class="btn btn-primary" name="form_action" value="new_typebloc">Enregistrer</button>   
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>   
 

<div class="modal fade" id="update_page" tabindex="-1" role="dialog" aria-labelledby="update_page">        
    <div class="modal-dialog modal-lg" role="document"  style="width:750px">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h2>Modification de la page</h2>              
            </div>
            <div class="modal-body">
                <form method="post" action="" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <label>Titre</label>
                            {{ form_page.title |add_class:"form-control" }}
                            {{ form_page.title.errors }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <label>Numéro de page</label>
                            {{ form_page.number |add_class:"form-control" }}
                            {{ form_page.number.errors }}
                        </div>
                        <div class="col-xs-6 col-md-6">
                          <div class="form-group">
                              <label>{{ form_page.is_publish.label_tag }}</label>
                              {{ form_page.is_publish |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                              {{ form_page.is_publish.errors }}
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                          <div class="form-group">
                              <label>{{ form_page.css.label_tag }}</label>
                              {{ form_page.css |add_class:"form-control" }}
                              {{ form_page.css.errors }}
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                          <div class="form-group">
                              <label>{{ form_page.chapter.label_tag }}</label>
                              {{ form_page.chapter |add_class:"form-control" }}
                              {{ form_page.chapter.errors }}
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <button type="submit" class="btn btn-primary" name="form_action" value="update_page">Enregistrer</button>   
                            <a href="{% url 'delete_page' book.id page.id %}"  class="btn btn-danger" onclick="return TestDelete('la page {{ page.title }}')">Supprimer</a>   
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>  




<div class="modal fade" id="book_new_bloc" tabindex="-1" role="dialog" aria-labelledby="book_new_bloc">        
    <div class="modal-dialog modal-lg" role="document"  style="width:100%">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <h2>Nouveau bloc</h2>              
            </div>
            <div class="modal-body">
                <form method="POST" action="" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <label>{{ form_b.typebloc.label_tag }}</label>
                            {{ form_b.typebloc |add_class:"form-control" }}
                            {{ form_b.typebloc.errors }}
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <label>{{ form_b.size.label_tag }}</label>
                            {{ form_b.size |add_class:"form-control" }}
                            {{ form_b.size.errors }}
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <label>Paragraphe</label>
                            {{ form_b.paragraph |add_class:"form-control" }}
                            {{ form_b.paragraph.errors }}
                        </div>
                    </div>



                    <div class="row no_visu_on_load" id="select_choice_exercise">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <a href="javascript:void(0);" id="get_exercise_from_database" class="btn btn-sacado">Exercice existant dans la base de donnée</a>
                                <a href="javascript:void(0);" id="create_exercise_from_scratch"  class="btn btn-sacado no_visu_on_load">Nouvel exercice</a>
                            </div>
                        </div>
                    </div>
  
                    <div class="row div_exercise_from_scratch">
                        <div class="col-xs-12 col-md-12">
                            <label>{{ form_b.title.label_tag }}</label>
                            {{ form_b.title |add_class:"form-control" }}
                            {{ form_b.title.errors }}
                        </div>
                    </div>


                    <div class="row div_exercise_from_scratch">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label>{{ form_b.content_html.label_tag }}</label>
                                {{ form_b.content_html |add_class:"form-control" }}
                                {{ form_b.content_html.errors }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label>{{ form_b.content.label_tag }}</label>
                                {{ form_b.content |add_class:"form-control"|attr:"rows:13" }}
                                {{ form_b.content.errors }}
                            </div>
                        </div>
                    </div>

                    <div class="row div_exercise_from_scratch">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label>{{ form_b.correction_html.label_tag }}</label>
                                {{ form_b.correction_html |add_class:"form-control" }}
                                {{ form_b.correction_html.errors }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label>{{ form_b.correction.label_tag }}</label>
                                {{ form_b.correction |add_class:"form-control"|attr:"rows:13" }}
                                {{ form_b.correction.errors }}
                            </div>
                        </div>
                    </div>

                    <div class="row div_exercise_from_scratch">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label>Savoir faire principal</label>
                                {{ form_b.knowledge |add_class:"form-control select2" }}
                                {{ form_b.knowledge.errors }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label>Thème</label>
                                {{ form_b.theme |add_class:"form-control select2" }}
                                {{ form_b.theme.errors }}
                            </div>
                        </div>
                    </div>

                    <div class="row div_exercise_from_scratch">
                        <div class="col-xs-12 col-md-6">
                            <label>Compétences</label>
                            {{ form_b.skills |add_class:"form-control select2" }}
                            {{ form_b.skills.errors }}
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <label>Savoir faire </label>
                            {{ form_b.knowledges |add_class:"form-control select2" }}
                            {{ form_b.knowledges.errors }}
                        </div>
                    </div>

                    <div class="row div_exercise_from_scratch">
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                <label>{{ form_b.is_calculator.label_tag }}</label>
                                {{ form_b.is_calculator |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                                {{ form_b.is_calculator.errors }}
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                <label>{{ form_b.is_python.label_tag }}</label>
                                {{ form_b.is_python |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                                {{ form_b.is_python.errors }}
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                <label>{{ form_b.is_scratch.label_tag }}</label>
                                {{ form_b.is_scratch |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                                {{ form_b.is_scratch.errors }}
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                <label>{{ form_b.is_tableur.label_tag }}</label>
                                {{ form_b.is_tableur |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                                {{ form_b.is_tableur.errors }}
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                <label>{{ form_b.is_annals.label_tag }}</label>
                                {{ form_b.is_annals |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                                {{ form_b.is_annals.errors }}
                            </div>
                        </div>
                    </div>


                    <div class="row div_exercise_from_database no_visu_on_load" id="super_exercise_from_database">
                        <input name="id_level_book" id="id_book" type="hidden" value="{{ book.id}}" />
                        <input name="get_from_database" id="get_from_database" type="hidden"  />
                        <div class="col-xs-12 col-md-12" id="search_exercise_from_database">
                        </div>
                    </div>

                    <div class="row" >
                        <div class="col-xs-12">
                            <hr/><label>Association d'appliquettes, d'exercices GGB et/ou Latex. </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label>{{ form_b.exercises.label_tag }}</label>
                                {{ form_b.exercises |add_class:"form-control select2" }}
                                {{ form_b.exercises.errors }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label>{{ form_b.exotexs.label_tag }}</label>
                                {{ form_b.exotexs |add_class:"form-control select2" }}
                                {{ form_b.exotexs.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <label>{{ form_b.appliquettes.label_tag }}</label>
                                {{ form_b.appliquettes |add_class:"form-control select2" }}
                                {{ form_b.appliquettes.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <button type="submit" class="btn btn-primary" name="form_action" value="new_bloc">Enregistrer</button>   
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>

{% endblock  %}   


