{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    {% if bloc %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common4.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    {% endif %}

    <script>
        require(['script/ajax-insidebloc']);
    </script> 

{% endblock %}


{% block page_title %}
    {{ book.level.shortname }} <img src="{% static 'img/angle-right.png' %}"/> Création du livret numérique Elève   <img src="{% static 'img/angle-right.png' %}"/>  
{% endblock %}

{% block page_menu_right %}
{% endblock %}





{% block body  %}  


<section class="content_main"> 
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <form method="post" action="" enctype='multipart/form-data'>
                {% csrf_token %}
     
 
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <label>{{ form_b.typebloc.label_tag }}</label>
                            {{ form_b.typebloc |add_class:"form-control" }}
                            {{ form_b.typebloc.errors }}
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <label>{{ form_b.size.label_tag }}</label>
                            {{ form_b.size |add_class:"form-control" }}
                            {{ form_b.size.errors }}
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <label>Paragraphe</label>
                            {{ form_b.paragraph |add_class:"form-control" }}
                            {{ form_b.paragraph.errors }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <label>{{ form_b.title.label_tag }}</label>
                            {{ form_b.title |add_class:"form-control" }}
                            {{ form_b.title.errors }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label>{{ form_b.content_html.label_tag }}</label>
                                {{ form_b.content_html |add_class:"form-control" }}
                                {{ form_b.content_html.errors }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label>{{ form_b.content.label_tag }}</label>
                                {{ form_b.content |add_class:"form-control"|attr:"rows:13" }}
                                {{ form_b.content.errors }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label>{{ form_b.correction_html.label_tag }}</label>
                                {{ form_b.correction_html |add_class:"form-control" }}
                                {{ form_b.correction_html.errors }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label>{{ form_b.correction.label_tag }}</label>
                                {{ form_b.correction |add_class:"form-control"|attr:"rows:13" }}
                                {{ form_b.correction.errors }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <div class="form-group">
                                <label>Thème</label>
                                {{ form_b.theme |add_class:"form-control select2" }}
                                {{ form_b.theme.errors }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-7">
                            <div class="form-group">
                                <label>Savoir faire principal</label>
                                <input type="hidden" name="level" id="id_level" value="{{book.level.id}}">
                                <select id="id_knowledge" name="knowledge" class="form-control select2">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-2">
                            <label>Compétences</label>
                            {{ form_b.skills |add_class:"form-control select2" }}
                            {{ form_b.skills.errors }}
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <label>Savoir faire </label>
                            {{ form_b.knowledges |add_class:"form-control select2" }}
                            {{ form_b.knowledges.errors }}
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <label>Insérer dans un bloc</label>
                            <select id="id_insidebloc" name="insidebloc"  class="form-control select2">
                                <option value="">Choisir un bloc parent</option>
                                {% if bloc %}
                                    {% for b in bloc.paragraph.blocs.all %}
                                    <option value="{{ b.id}}" {% if b.id == bloc.id %} selected{% endif %}>{{ b.title}}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                <label>{{ form_b.is_calculator.label_tag }}</label>
                                {{ form_b.is_calculator |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                                {{ form_b.is_calculator.errors }}
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                <label>{{ form_b.is_python.label_tag }}</label>
                                {{ form_b.is_python |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                                {{ form_b.is_python.errors }}
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                <label>{{ form_b.is_scratch.label_tag }}</label>
                                {{ form_b.is_scratch |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                                {{ form_b.is_scratch.errors }}
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                <label>{{ form_b.is_tableur.label_tag }}</label>
                                {{ form_b.is_tableur |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                                {{ form_b.is_tableur.errors }}
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                <label>{{ form_b.is_annals.label_tag }}</label>
                                {{ form_b.is_annals |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                                {{ form_b.is_annals.errors }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label>{{ form_b.exercises.label_tag }}</label>
                                {{ form_b.exercises |add_class:"form-control select2" }}
                                {{ form_b.exercises.errors }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label>{{ form_b.exotexs.label_tag }}</label>
                                {{ form_b.exotexs |add_class:"form-control select2" }}
                                {{ form_b.exotexs.errors }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <label>{{ form_b.appliquettes.label_tag }}</label>
                                {{ form_b.appliquettes |add_class:"form-control select2" }}
                                {{ form_b.appliquettes.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <button type="submit" class="btn btn-primary" name="form_action" value="new_bloc">Enregistrer</button>   
                        </div>
                        {% if bloc %}
                        <div class="col-xs-6 col-md-6">
                            <a href="{% url 'delete_bloc' idb  idp  bloc.id  %}" class="btn btn-danger" onclick="return TestDelete(' ce bloc')">Supprimer</a>
                        </div>
                        {% endif %}
                    </div>
  





            </form>
        </div>
    </div>
</section>
{% endblock  %}   


