{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}



{% block require %}

    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

{% endblock %}


 
{% block page_title %}
     Niveaux 
{% endblock %}

{% block page_menu_right %}
    <li><a href="{% url 'create_appliquette' idl %}" class="btn btn-new pull-right" ><i class="fa fa-plus"></i> Nouvelle appliquette</a> </li> 
{% endblock %}




{% block  body %}
<section class="content_main"> 

    <div class="row"> 
        <div class="col-sm-12 col-md-12">
            <table class="table table-sacado  table-hover standard_tab_sort2000" style="width:100%">
                  <thead>
                      <tr>
                        <th style="width:10px">Forme</th>                       
                        <th  style="width:200px">Titre</th>                  
                        <th>url</th> 
                        <th>iframe</th>
                      </tr>
                  </thead>
                  <tbody>
                        {% for appliquette in appliquettes %}
                        <tr> 
                          <td>{{ appliquette.forme }}</td>
                          <td>
                              <a href="{% url 'update_appliquette' appliquette.level.id %}">{{ appliquette.title }} </a> 
                              <a href="{% url 'delete_appliquette' appliquette.level.id %}"  onclick="return TestDelete('ce niveau')"><i class='fa fa-trash pull-right'></i></a>
                          </td>
                          <td>
                             {{ appliquette.url }}
                          </td>
                          <td>
                             {{ appliquette.iframe }}
                          </td>
                        </tr>
                        {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>

</section>

 



{% endblock  %}   


 