{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
 
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
 
    <script>
        require(['script/ajax-book_shower']);
    </script> 


{% endblock %}


{% block page_title %}

 
            <form action="{% url 'goto_direct_page' %}" method="post" style="display: inline-block; max-width: 300px;">
                <label for="id_acces_to_page" style="font-size:15px; display: inline-block;"> Accèder à une page </label><br/>
                <input type="text" name="acces_to_page" id="id_acces_to_page" maxlength="3" class="acces_to_page" required />
                <button type="submit" class="btn btn-xs btn-sacado"><i class="bi bi-search"></i></button>
            </form>
 
 
    {% if group %}
        {% if 'cours' not in this_page.title %}
        <span class="helper_tip display_correction_bloc_button" data-source_id = "{{this_page.id}}" data-type_id = "1"  data-paragraph_id = "0" data-is_correction = 1> 
            {% get_group_display_cor this_page group as this_page_is_cor %}
            <i class="bi bi-circle-fill text-{% if this_page_is_cor %}success{% else %}danger{% endif %}" id="cc_page_cor{{ this_page.id }}"></i> 
            <div class="helper_tip_text" >Publier/Dépublier les corrections des exercices de la page {{ n }}. </div>
        </span>
        <span class="helper_tip display_correction_bloc_button" data-source_id = "{{this_page.id}}" data-type_id = "1"  data-paragraph_id = "0" data-is_correction = 0> 
            {% get_group_display_comp this_page group as this_page_is_comp %}
            <i class="bi bi-circle-fill  text-{% if this_page_is_comp %}success{% else %}danger{% endif %}" id="cc_page{{ this_page.id }}"></i> 
            <div class="helper_tip_text" >Publier/Dépublier les compléments de la page {{ n }}. </div>
        </span>
        <span id="spinner-1-{{ this_page.id }}"></span>
        {% endif %}
    {% endif %}

    
    {% if request.user.is_superuser %}
        <a href="{% url 'print_latex_to_pdf' this_chapter.id 0  %}"  target="_blank"><small><i class="bi bi-printer"></i></small></a>
    {% endif %} 

{% endblock %}





{% block page_menu_right %}


            {% for fpage in first_pages %}
                {% if fpage %}
                <a href="{% url 'show_mybook' book.id fpage.number %}"   style="font-size:10px"
                    class="btn btn-xs btn-{% if fpage in page.chapter.pages.all %}primary{% else %}sacado{% endif %}">
                    {% if forloop.counter0 == 0 %}
                    <b>Sommaire</b>
                    {% else %}
                    <b>Chap. {{ forloop.counter0 }}</b>
                    {% endif %}
                </a>
                {% endif %}
            {% endfor %} 
            <label class="pull-right"> 
               
                {% if request.user.is_superuser %}
                    <a href="{% url 'print_latex_to_pdf' 0 page.id  %}" class="white" target="_blank"><i class="bi bi-printer"></i></a>
                {% endif %}            
            </label>  
 
{% endblock %}










{% block styleMk4ht %}
    <link rel="stylesheet" href="{% static use_this_css %}">
{% endblock %} 









{% block body  %} 
<section class="main_book"> 
    <div class="row" style="border:solid 1px #7F62B4;">
        <div class="col-xs-1" style="padding:10px;background-color: #efe9ff;text-align:center"> 
            <div>
                <img src="{% static 'img/pageBook.png' %}" />
            </div>
            <div style="padding:2px; border-radius:3px;background-color: #7F62B4;color:white;text-align:center">
                Page {{ n }}
            </div> 
        </div>
        <div class="col-xs-11" style="padding:10px;color:#7F62B4;"><b>Chapitre . {{this_chapter}}</b>
            <div class="pull-right" style="padding:10px;">
                <a href="{% url 'show_mybook_two_pages' book.id page.number %}" class="btn btn-default" title="Voir les pages 2 par 2"><i class="bi bi-book-fill"></i></a>

                <button id="start_fullscreen" class="btn btn-default"><i class="bi bi-arrows-fullscreen"></i></button>
                <button id="stop_fullscreen" class="btn btn-default"><i class="bi bi-fullscreen-exit"></i></button>
            </div>
        </div>
    </div>





    {% if  prev_page %}
    <a href="{% url 'show_mybook' book.id prev_page.number %}" class="prev_page"  title="Page précédente"><i class="bi bi-chevron-left"></i></a>
     {% endif %}
    {% if  next_page %}
    <a href="{% url 'show_mybook' book.id next_page.number %}" class="next_page"  title="Page suivante"><i class="bi bi-chevron-right"></i></a>
     {% endif %}




    <div id="page_controller"> 
        {% if  prev_page %}
        <a href="{% url 'show_mybook' book.id prev_page.number %}" class="page_controller_prev_page" title="Page précédente"><i class="bi bi-chevron-left"></i> Page précédente</a>
        {% endif %}
        {% if  next_page %} |
        <a href="{% url 'show_mybook' book.id next_page.number %}" class="page_controller_next_page" title="Page suivante"> Page suivante <i class="bi bi-chevron-right"></i></a>
        {% endif %}
    </div>

    <div class="row {{ page.css }} one_page" style="margin-top:20px;"> 
        <div class="col-xs-12 page_book" {% if page.css == 'intro_page_top' %} style="height:1100px" {% endif %}>
            {% if n == 0  %}

                <div style="padding:10px; border-radius:0px 0px 4px 4px ;background-color:white">
                {% for fpage in first_pages %}
                    <div {% if n == 0 %}class="this_paragraph0"{% else %}class="this_paragraph"{% endif %} id="this_paragraph{{ fpage.chapter.id }}" style="margin:10px 0px">
                        <div class="row">
                            <div class="col-xs-12" >
                                {% if forloop.counter0 > 0 %}<span class="paragraph_number">{{ forloop.counter0 }}</span>{% endif %}  
                                <a href="{% url 'show_mybook' book.id fpage.number %}" class="paragraph_title">
                                    {{ fpage.chapter.title }} 
                                </a>
                                {% if group %}
                                    {% if not forloop.first %}
                                    {% get_group_display_cor fpage.chapter group as this_chapter_is_cor %}
                                    {% get_group_display_comp fpage.chapter group as this_chapter_is_comp %}
                                    <div class="relative pull-right" style="width: 410px;">
                                        <div style="font-size: 12px;text-align:center">
                                            <a href="javascript:void(0);" 
                                                class="display_correction_complements_div" 
                                                style="font-size: 12px; border:solid 1px gray; padding:5px; border-radius:4px"
                                                data-source_id = "{{fpage.chapter.id}}">
                                                {{ forloop.counter0 }}. <span id="label_cor{{fpage.chapter.id}}" class="text-{% if this_chapter_is_cor %}success{% else %}danger{% endif %}">CORRIGES</span> 
                                                et <span id="label_comp{{fpage.chapter.id}}" class="text-{% if this_chapter_is_comp %}success{% else %}danger{% endif %}">COMPLEMENTS</span>  <i class="bi bi-chevron-down"></i>
                                            </a>
                                        </div>
                                        <div    id="cor_and_comp{{ fpage.chapter.id }}"  
                                                class="all_cor_and_comp no_visu_on_load">
                                            <div  style="background-color: #FFF;padding:10px">
                                                <div  style="font-size: 12px; text-align: center;">
                                                    Gérer tout le chapitre {{ forloop.counter }}.
                                                </div>
                                            </div> 
                                            <div class="padding-top:10px" >
                                                <div class="col-xs-6" style="background-color: #FFF;text-align: center;padding:10px" >
                                                    <div>
                                                        <i id="bi-c-circle-fill{{fpage.chapter.id}}" class="bi bi-c-circle-fill text-{% if this_chapter_is_cor %}success{% else %}danger{% endif %}"></i>
                                                    </div>
                                                    <div class="margin-top:10px;margin-bottom:10px" >
                                                        <a href="javascript:void(0);" 
                                                        class="display_correction_bloc_button active_small_size" 
                                                            data-source_id = "{{fpage.chapter.id}}" 
                                                            data-type_id = "0"  
                                                            data-paragraph_id = "0" 
                                                            data-is_correction = 1 
                                                            style="font-size:30px!important; padding:10px"> 
                                                             
                                                            <i class="bi {% if this_chapter_is_cor %}bi-toggle-on  text-success{% else %} bi-toggle-off{% endif %}" 
                                                            id="cc_chapter_cor{{ fpage.chapter.id }}"
                                                            title="Compléments{% if this_chapter_is_cor %} visibles par les élèves{% else %} cachés aux élèves{% endif %}"></i>
                                                        </a>
                                                    </div>
                                                    <div style="font-size:12px">Corrigés <br/>
                                                        <span id="legendcor{{fpage.chapter.id}}">{% if this_chapter_is_cor %}visibles{% else %}cachés{% endif %}</span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6" style="background-color: #FFF;text-align: center;padding:10px">
                                                    <div>                                                        
                                                        <i id="bi-plus-square-fill{{fpage.chapter.id}}" class="bi bi-plus-square-fill text-{% if this_chapter_is_comp %}success{% else %}danger{% endif %}"></i>
                                                    </div>
                                                    <div > 
                                                        <a href="javascript:void(0);"  class="display_correction_bloc_button active_small_size" 
                                                            data-source_id = "{{fpage.chapter.id}}" 
                                                            data-type_id = "0"  
                                                            data-paragraph_id = "0" 
                                                            data-is_correction = 0  
                                                            style="font-size:30px!important; padding:10px"> 
                                                             
                                                            <i class="bi {% if this_chapter_is_comp %}bi-toggle-on  text-success{% else %} bi-toggle-off{% endif %}" 
                                                            id="cc_chapter{{ fpage.chapter.id }}"></i> 
                                                        </a>
                                                    </div>
                                                    <div style="font-size:12px">Compléments <br/>
                                                        <span id="legend{{fpage.chapter.id}}">{% if this_chapter_is_comp %}visibles{% else %}cachés{% endif %}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="padding-top:10px;text-align:center" >
                                                <a href="javascript:void(0);" 
                                                    class="close_correction_complements_div" 
                                                    data-source_id = "{{fpage.chapter.id}}" 
                                                    style="font-size:16px!important; padding:10px"> 
                                                    Fermer
                                                </a>
                                            </div>
                                        </div>
                                    </div>


                                    {% endif %}
                                {% else %}
                                    {% if not forloop.first %}

                                    <!-- Dans cette partie, il n'y a pas de groupe affecté, donc les boutons deviennent inactifs mais restent apparents. -->
                                    <div class="relative pull-right" style="width: 410px;">
                                        <div style="font-size: 12px;text-align:center">
                                            <a href="javascript:void(0);" 
                                                class="display_correction_complements_div" 
                                                style="font-size: 12px; border:solid 1px gray; padding:5px; border-radius:4px"
                                                data-source_id = "{{fpage.chapter.id}}">
                                                {{ forloop.counter0 }}. <span id="label_cor{{fpage.chapter.id}}" class="text-{% if this_chapter_is_cor %}success{% else %}danger{% endif %}">CORRIGES</span> 
                                                et <span id="label_comp{{fpage.chapter.id}}" class="text-{% if this_chapter_is_comp %}success{% else %}danger{% endif %}">COMPLEMENTS</span>  <i class="bi bi-chevron-down"></i>
                                            </a>
                                        </div>
                                        <div    id="cor_and_comp{{ fpage.chapter.id }}"  
                                                class="all_cor_and_comp no_visu_on_load">
                                            <div  style="background-color: #FFF;padding:10px">
                                                <div  style="font-size: 12px; text-align: center;">
                                                    Gérer tout le chapitre {{ forloop.counter0 }}.
                                                </div>
                                            </div> 
                                            <div class="padding-top:10px" >
                                                <div class="col-xs-6" style="background-color: #FFF;text-align: center;padding:10px" >
                                                    <div>
                                                        <i id="bi-c-circle-fill{{fpage.chapter.id}}" class="bi bi-c-circle-fill text-{% if this_chapter_is_cor %}success{% else %}danger{% endif %}"></i>
                                                    </div>
                                                    <div class="margin-top:10px;margin-bottom:10px" >
                                                        <a href="javascript:void(0);" 
                                                        class="display_correction_bloc_button active_small_size" 
                                                            data-source_id = "{{fpage.chapter.id}}" 
                                                            data-type_id = "0"  
                                                            data-paragraph_id = "0" 
                                                            data-is_correction = 1 
                                                            style="font-size:30px!important; padding:10px"> 
                                                             
                                                            <i class="bi {% if this_chapter_is_cor %}bi-toggle-on  text-success{% else %} bi-toggle-off{% endif %}" 
                                                            id="cc_chapter_cor{{ fpage.chapter.id }}"
                                                            title="Compléments{% if this_chapter_is_cor %} visibles par les élèves{% else %} cachés aux élèves{% endif %}"></i>
                                                        </a>
                                                    </div>
                                                    <div style="font-size:12px">Corrigés <br/>
                                                        <span id="legendcor{{fpage.chapter.id}}">{% if this_chapter_is_cor %}visibles{% else %}cachés{% endif %}</span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6" style="background-color: #FFF;text-align: center;padding:10px">
                                                    <div>                                                        
                                                        <i id="bi-plus-square-fill{{fpage.chapter.id}}" class="bi bi-plus-square-fill text-{% if this_chapter_is_comp %}success{% else %}danger{% endif %}"></i>
                                                    </div>
                                                    <div > 
                                                        <a href="javascript:void(0);"  class="display_correction_bloc_button active_small_size" 
                                                            data-source_id = "{{fpage.chapter.id}}" 
                                                            data-type_id = "0"  
                                                            data-paragraph_id = "0" 
                                                            data-is_correction = 0  
                                                            style="font-size:30px!important; padding:10px"> 
                                                             
                                                            <i class="bi {% if this_chapter_is_comp %}bi-toggle-on  text-success{% else %} bi-toggle-off{% endif %}" 
                                                            id="cc_chapter{{ fpage.chapter.id }}"></i> 
                                                        </a>
                                                    </div>
                                                    <div style="font-size:12px">Compléments <br/>
                                                        <span id="legend{{fpage.chapter.id}}">{% if this_chapter_is_comp %}visibles{% else %}cachés{% endif %}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="padding-top:10px;text-align:center" >
                                                <a href="javascript:void(0);" 
                                                    class="close_correction_complements_div" 
                                                    data-source_id = "{{fpage.chapter.id}}" 
                                                    style="font-size:16px!important; padding:10px"> 
                                                    Fermer
                                                </a>
                                                <span style="font-size:12px; color:gray">Vous n'avez pas acheté la version papier. Les boutons sont inactifs sur les contenus.</span>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% elif n < 9  %}
            
                {% for paragraph in page.paragraphs.all|dictsort:"ranking" %}
  
                        {% for bloc in paragraph.blocs.all|dictsort:"ranking" %} 
                            {{bloc.content_html|safe }}
                        {% endfor %}
                 
                {% endfor %}

            {% else %} 
                <div {% if  page.css == 'parcoursu_page_top' %} style="width:100%;background-image: url('/static/img/parcours_u.png'); background-repeat: no-repeat ;height:100px"   
                    {% elif page.css == 'parcoursd_page_top' %} style="width:100%;background-image:url('/static/img/parcours_d.png'); background-repeat: no-repeat ;height:100px"   
                    {% elif page.css == 'parcourst_page_top' %} style="width:100%;background-image:url('/static/img/parcours_t.png'); background-repeat: no-repeat ;height:100px"  
                    {% elif page.css == 'algo_page_top' %} style="width:100%;background-image:url('/static/img/parcours_algo.png'); background-repeat: no-repeat ;height:100px"  
                    {% elif page.css == 'auto_page_top' %} style="width:100%;background-image:url('/static/img/parcours_eval.png'); background-repeat: no-repeat ;height:100px"
                    {% elif page.css == 'intro_page_top' %} class="chapter_title"
                    {% elif page.css == 'ad_page_top' %} style="width:100%;background-image: url('/static/img/ad_book.png'); background-repeat: repeat-x;height:70px"
                    {% elif page.css == 'course_page_top' %} style="width:100%;background-image: url('/static/img/course_book.png'); background-repeat: no-repeat ;height:100px"
                    {% endif %}> 
                    {% if page.css == 'intro_page_top' %}<span style="font-weight: 300;">Chapitre {{ this_chapter.ranking }} </span><br />
                    {{ this_chapter.title }}{% endif %}
                </div>


                {% for paragraph in page.paragraphs.all|dictsort:"ranking" %}
                    <div id="this_paragraph{{ paragraph.id }}" class="this_paragraph {% if  page.css == 'parcoursu_page_top' %} this_paragraph_u  
                                                                        {% elif page.css == 'parcoursd_page_top' %} this_paragraph_d  
                                                                        {% elif page.css == 'parcourst_page_top' %} this_paragraph_t 
                                                                        {% elif page.css == 'ad_page_top' %} this_paragraph_none
                                                                        {% elif page.css == 'course_page_top' %} this_paragraph_course
                                                                        {% elif page.css == 'algo_page_top' %} this_paragraph_a
                                                                        {% elif page.css == 'auto_page_top' %} this_paragraph_e
                                                                        {% else %} this_paragraph_none{% endif %}">
                        {% if paragraph.number > 0 %}
                        <div class="row paragraph_label">
                            <div class="col-xs-12">
                                {% if group %}
                                    <span class="paragraph_number">{{ paragraph|transform_number_to_letter  }}</span>
                                    {% if paragraph.title %}
                                    <span class="paragraph_title">{{ paragraph.title }}</span>
                                    {% endif %}
                                    <a href="javascript:void(0);"  class="display_correction_bloc_button"   data-paragraph_id = "{{paragraph.id}}" data-is_correction = 1
                                            data-source_id = "{{paragraph.id}}" data-type_id = "2" > 
                                        {% get_group_display_cor paragraph group as this_paragraph_is_cor %}
                                        <i class="bi bi-circle-fill text-{% if this_paragraph_is_cor %}success{% else %}danger{% endif %}" id="cc_paragraph_cor{{ paragraph.id }}"></i> Afficher/Cacher les corrections  
                                    </a>
                                    |
                                    <a href="javascript:void(0);"  class="display_correction_bloc_button"   data-paragraph_id = "{{paragraph.id}}" data-is_correction = 0
                                    data-source_id = "{{paragraph.id}}" data-type_id = "2" > 
                                        {% get_group_display_comp paragraph group as this_paragraph_is_comp %}
                                        <i class="bi bi-circle-fill text-{% if this_paragraph_is_comp %}success{% else %}danger{% endif %}" id="cc_paragraph{{ paragraph.id }}"></i> 
                                        Afficher/Cacher les compléments  </a>
                                    <span id="spinner-2-{{paragraph.id}}"></span>

                                {% else %}
                                    <span class="paragraph_number">{{ paragraph|transform_number_to_letter }}</span>
                                    {% if paragraph.title %}
                                    <span class="paragraph_title">{{ paragraph.title }}</span>
                                    {% endif %}

                                    <a href="javascript:void(0);" class="no_sacado_asso small_size"> 
                                        <i class="bi bi-circle-fill text-default"></i>  Afficher/Cacher toutes les corrections 
                                        
                                    </a>
                                    <a href="javascript:void(0);"  class="no_sacado_asso small_size"   > 
                                        <i class="bi bi-circle-fill text-default"></i> Afficher/Cacher tous les compléments 
                                         
                                    </a>
    
                                {% endif %}

                            </div>
                        </div>
                        {% elif page.css == 'intro_page_top' %}
                        <div></div>
                        {% else %}
                            <div class="row" align="right">
                                <div class="col-xs-12">
                                    {% if group %}
                                        <a href="javascript:void(0);"  class="display_correction_bloc_button"   data-paragraph_id = "{{paragraph.id}}" data-is_correction = 1
                                                data-source_id = "{{paragraph.id}}" data-type_id = "2" > 
                                            {% get_group_display_cor paragraph group as this_paragraph_is_cor %}
                                            <i class="bi bi-circle-fill text-{% if this_paragraph_is_cor %}success{% else %}danger{% endif %}" id="cc_paragraph_cor{{ paragraph.id }}"></i> 
                                            Afficher/Cacher les corrections  </a>
                                        |
                                        <a href="javascript:void(0);"  class="display_correction_bloc_button"   data-paragraph_id = "{{paragraph.id}}" data-is_correction = 0
                                        data-source_id = "{{paragraph.id}}" data-type_id = "2" > 
                                            {% get_group_display_comp paragraph group as this_paragraph_is_comp %}
                                            <i class="bi bi-circle-fill text-{% if this_paragraph_is_comp %}success{% else %}danger{% endif %}" id="cc_paragraph{{ paragraph.id }}"></i> 
                                            Afficher/Cacher les compléments   </a>
                                        <span id="spinner-2-{{paragraph.id}}"></span>
                                {% else %}
                                    {% if not forloop.first %}
                                    <a href="javascript:void(0);"   class="no_sacado_asso small_size" > 
                                        <i class="bi bi-circle-fill text-default"></i>Afficher/Cacher toutes les corrections du chapitre
                                         
                                    </a>
                                    <a href="javascript:void(0);"  class="no_sacado_asso small_size"> 
                                        <i class="bi bi-circle-fill text-default"></i>  Afficher/Cacher tous les compléments du chapitre 
                                        
                                    </a>
                                    {% endif %}
                                {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            {% for bloc in paragraph.blocs.all|dictsort:"ranking" %} 
                                <div class="col-xs-{{ bloc.size }}" >
                                    <div class="global_bloc {{ bloc.typebloc.css }} to_projection" data-paragraph_id="{{paragraph.id}}" > 
                                        <div id="title_bloc{{ bloc.id }}" {% if 'exo' in bloc.typebloc.css  %} style="float:left"{% endif %}>
                                            {% if 'exo' in bloc.typebloc.css  %}
                                                {% if bloc.title %}
                                                <div class="bloc_title {{ bloc.typebloc.css }}">
                                                    {{ bloc.title }}
                                                </div> 
                                                {% endif %}
                                            {% elif 'sf' in bloc.typebloc.css  %}
                                                <div class="bloc_title">
                                                    {{ bloc.title }}
                                                </div> 
                                            {% elif 'mm' in bloc.typebloc.css or 'img' in bloc.typebloc.css or 'rl' in bloc.typebloc.css %}
                                                <div></div> 
                                            {% else %}
                                                <span class="bloc_title {{ bloc.typebloc.css }}">
                                                    {% if 'def' in bloc.typebloc.css %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0z"/>
                                                    </svg>
                                                    {% endif %}
                                                    {{ bloc.title }}
                                                </span> 
                                            {% endif %}
                                        </div> 

                                        {% if bloc.correction_html %}
                                        <div {% if 'exo' in bloc.typebloc.css  %}style="position:absolute; top:40px;left:25px"
                                             {% else %} style="position:absolute; top:40px;left:5px"
                                             {% endif %} >
                                            <a href="javascript:void(0);" data-target="#book_shower_correction" data-toggle="modal" 
                                                class="show_this_bloc_correction"  data-bloc_id="{{ bloc.id }}" >
                                                <i class="bi bi-c-circle text-success"></i>
                                            </a> 
                                            <div class="no_visu_on_load" id="book_shower_this_correction{{ bloc.id }}">{{ bloc.correction_html|safe }}</div>
                                            <div style="margin-top :10px;">
                                            {% if group %}
                                                {% get_group_display_cor bloc group as this_bloc_is_cor %}
                                                <a class="display_correction_bloc_button" data-source_id = "{{bloc.id}}" data-is_correction = 1   data-paragraph_id = "{{paragraph.id}}" data-type_id = "3" > 
                                                    <i class="bi bi-circle-fill text-{% if this_bloc_is_cor %}success{% else %}danger{% endif %} these_blocs_cor{{ paragraph.id }} all_these_blocs_cor"
                                                        id="cc_bloc_cor{{ bloc.id }}">
                                                    </i> 
                                                </a>
                                                <span id="spinnerCor-3-{{bloc.id}}"></span>
                                            {% else %}
                                                {% if not forloop.first %}
                                                <span class="no_sacado_asso small_size"> 
                                                    <i class="bi bi-circle-fill text-default"></i> 
                                                </span>
                                                {% endif %}
                                            {% endif %}
                                            </div>
                                        </div>
                                        {% endif %} 
                                        <div class="bloc_content" 
                                            {% if 'exo' in bloc.typebloc.css  %} style="margin-left:65px;"
                                            {% elif bloc.correction_html %} style="margin-left:20px"
                                            {% endif %}
                                             data-toggle='modal'   data-target='#book_shower_page'>
                                            {{ bloc.content_html|safe }}
                                        </div>
                                    </div>
                                    {% if bloc.display_qr %} 
                                    <div {% if 'exo' in bloc.typebloc.css %} style="margin-left:80px" {% endif %}>  
                                        <label>
                                        Compléments 
                                        {% if group %}
                                            {% get_group_display_comp bloc group as this_bloc_is_comp %}
                                            <a class="display_correction_bloc_button" data-source_id="{{bloc.id}}" data-is_correction = 0   data-paragraph_id = "{{paragraph.id}}" data-type_id = "3" > 
                                                <i class="bi bi-circle-fill text-{% if this_bloc_is_comp %}success{% else %}danger{% endif %} these_blocs{{ paragraph.id }} all_these_blocs"
                                                    id="cc_bloc{{ bloc.id }}">
                                                </i> 
                                                Afficher/Cacher
                                            </a>
                                            <span id="spinnerµ-3-{{bloc.id}}"></span>
                                            :
                                            </label>
                                            {% for a in bloc.appliquettes.all %}
                                                <a href="{% url 'goto_appliquette_after_qrcode' a.code %}" target="_blank" style="margin-right:10px"><i class="bi bi-badge-vr"></i></a>
                                            {% endfor %}
                                            {% for e in bloc.exercises.all %} 
                                            {% if e.supportfile.imagefile %}
                                                    <a href="{% url 'execute_exercise_from_book' e.id %}" target="_blank" style="margin-right:10px"><img src="{{ e.supportfile.imagefile.url }}" class="complements_img"></a>
                                                {% endif %}
                                            {% endfor %}
                                            {% for e in bloc.exotexs.all %} 
                                                <a href="{% url 'show_exotex' e.id %}" target="_blank" style="margin-right:10px"><i class="bi bi-explicit"></i></a>
                                            {% endfor %}
                                            <span id="spinner-3-{{bloc.id}}"></span>
                                            {% else %}
                                            <a class="no_sacado_asso small_size"  > 
                                                <i class="bi bi-circle-fill text-default"></i> 
                                                Afficher/Cacher
                                            </a>
                                            :
                                            </label>
                                            {% for a in bloc.appliquettes.all %}
                                                <a href="#" target="_blank" style="margin-right:10px"><i class="bi bi-badge-vr"></i></a>
                                            {% endfor %}
                                            {% for e in bloc.exercises.all %} 
                                                {% if e.supportfile.imagefile %}
                                                    <a href="#" target="_blank" style="margin-right:10px"><img src="{{ e.supportfile.imagefile.url }}" class="complements_img"></a>
                                                {% endif %}
                                            {% endfor %}
                                            {% for e in bloc.exotexs.all %} 
                                                <a href="#" target="_blank" style="margin-right:10px"><i class="bi bi-explicit"></i></a>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    {% endif %}                                
                                </div>
                                {% get_bloc_col_width paragraph  forloop.counter as col_width %}
                                {% if col_width|divisibleby:"12" and paragraph.total_size > 12 %}</div><div class="row">{% endif %}  
                                <div class="bottom_bloc"></div>     
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %} 
        
        
        
        </div>

    </div>
</section>



<div class="modal fade" id="book_shower_page" tabindex="-1" role="dialog" aria-labelledby="book_shower_page">
    <div class="modal-dialog" role="document" style="width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <div class="row">
                    <div class="col-xs-3 col-md-2">
                        <label class="pull-right">Taille du texte</label>
                    </div>
                    <div class="col-xs-3">
                        <input type="range" class="form-range customRange" min="1" max="3"  value="1">
                    </div>
                    <div class="col-xs-3 col-md-2">
                        <label class="pull-right">Taille des images</label>
                    </div>
                    <div class="col-xs-3" >
                        <input type="range" class="form-range customRangeImage" min="1" max="3" value="1">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="global_bloc" id="book_shower_page_content">
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="book_shower_correction" tabindex="-1" role="dialog" aria-labelledby="book_shower_correction">
    <div class="modal-dialog" role="document" style="width:70%;">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> 
            <div class="row">
                <div class="col-xs-3 col-md-2">
                    <label class="pull-right">Taille du texte</label>
                </div>
                <div class="col-xs-3">
                    <input type="range" class="form-range customRangeCor" min="1" max="3"  value="1">
                </div>
                <div class="col-xs-3 col-md-2">
                    <label class="pull-right">Taille des images</label>
                </div>
                <div class="col-xs-3" >
                    <input type="range" class="form-range customRangeImageCor" min="1" max="3" value="1">
                </div>
            </div>
            <div class="modal-body">
                <div class="global_bloc_exo" id="book_shower_correction_exo">
                </div>
                <div class="global_bloc_cor" id="book_shower_correction_content">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}   


