{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}



{% block require %}

    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

{% endblock %}


 
{% block page_title %}
     Niveaux 
{% endblock %}

{% block page_menu_right %}

{% endblock %}




{% block  body %}
<section class="content_main"> 

    <div class="row"> 
        <div class="col-xs-12 col-md-4">
            {{ app.title }}
        </div>
        <div class="col-xs-12 col-md-4">
            {{ app.forme }}
        </div>
        <div class="col-xs-12 col-md-4">
            {{ app.level.name }}
        </div>
    </div>




    <div class="row" align="center"> 
        <div class="col-xs-12 col-md-12">
            {{ app.iframe }}
        </div>
    </div>
    <div class="row"> 
        <div class="col-xs-12 col-md-12">         
            <a href="javascript:history.back()" data-dismiss="modal" ><input type="button" value="Annuler" class="btn btn-default"   /></a>
        </div>
    </div>

</section>

 



{% endblock  %}   


 