{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
    {% if knowledge %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    {% endif %}
{% endblock %}


{% block page_title %}
    {{ book.level.shortname }} <img src="{% static 'img/angle-right.png' %}"/> Création du livret numérique Elève   <img src="{% static 'img/angle-right.png' %}"/>  
{% endblock %}




{% block page_menu_right %}
 
{% endblock %}





{% block body  %}  


<section class="content_main"> 

    <div class="col-sm-12 col-md-12">
        {% for page in pages %}
            <a href="" class="btn btn-sacado">{{ page.numero }}</a>
        {% endfor %}
    </div>
</section>
{% endblock  %}   


