{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}



{% block require %}
 
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    <script>
        require(['script/ajax-book']);
    </script> 

{% endblock %}

 

{% block page_title %}

    {% if book.is_student %}
        <b>{{ book.level.shortname_full|safe }}</b> <img src="{% static 'img/angle-right.png' %}"/>  Livret Elève <img src="{% static 'img/angle-right.png' %}"/> {{ book.subject.shortname }} 
    {% else %}
        <img src="{{ book.imagefile.url }}" height="45px" />  Mon livre numérique 
 
        <img src="{% static 'img/angle-right.png' %}"/>  {{ book.subject.shortname }}    

        {% block conception_creation %}
            <a href="{% url 'conception_book' book.id idch %}" class="btn btn-sacado"  style="margin-left:70px" title="Visualisation => Conception"><i class="bi bi-pen"></i><i class="bi bi-arrow-left-right" style="margin:0px 5px"></i><i class="bi bi-eye"></i></a>
        {% endblock %}

    {% endif %}
{% endblock %}



{% block page_menu_right %}


    <li><a href="{% url 'books' %}" class="btn btn-new pull-right" > Mes Livres numériques</a> </li> 
{% endblock %}


{% block body %} 
<style>
.navbar{margin-bottom:0px;}
h1{margin-bottom:0px;}
</style>

        <div class="row" id="book_all_main_page" >
            <div class="book_menu" id="sort_chapter">
                {% block sommaire %}
                    Sommaire 
                    <a href="#" id="collapse_menu_button" class="pull-right white"><i class="bi bi-box-arrow-in-left"></i></a>
                    <hr/>
                    {% for chapter in chapters %}
                        <li class="book_chapters_in_menu {% if chapter.id == idch %}book_chapters_in_menu_selected{% endif %}">
                            <span class="book_chapter_number">{{ forloop.counter}}.</span>             
                            <a href="{% url 'show_book' book.id chapter.id %}"  class="white">
                                {{ chapter.title|lower|capfirst|truncatechars:40 }} 
                            </a>                   
                        </li>
                    {% endfor %}
                {% endblock %}
            </div>
            <div class="book_main_page"  id="id_book_main_page">

                {% block main_page %}
 
                    <h2 class="sacado_color_text">{{ chapter }}  
                        <a href="{% url 'chapter_chrono_show_document' book.id idch %}"   title="Classer les documents par chronologie" class="chapter_new_document chapter_new_document_circle"><i class="bi bi-sort-numeric-down"></i></a> 

                        {% if chapter.parcours.id %}
                        <a href="{% url 'parcours_show_only_exercises' chapter.parcours.id  %}"  target="_blank" class="link_parcours"><i class="fa fa-th"></i> Vers le parcours</a>
                        {% endif %}  

                    </h2>
 
                    {% for section in sections %}
                        <div class="book_main_page_section" >
                            <div class="book_main_page_section_title">
                                {{ section.title }}        
                            </div> 
                            {% for document in section.documents.all|dictsort:'ranking' %}
                                <div class="book_main_page_section_document_detail {% if document.is_done %}book_main_page_section_document_is_done{% endif %}" id="this_document{{ document.id }}" data-document_id="{{ document.id }}"  data-section_id="{{ section.id }}" >
                                    <a href="#" data-toggle='modal' class="show_this_document" data-target='#show_this_document' title="Voir  {{document.title}}" data-document_id="{{ document.id }}" >
                                         {{ document.icon_doctype|safe}}
                                    </a><br/>
                                    {{ document.title|truncatechars:30  }}
                                </div>
                            {% endfor %}
                            <div style="clear:both"></div>
                        </div>
                    {% endfor %}
                {% endblock %}

            </div>

        </div>
    
        {% block modal_chapter %} 
        <div class="modal fade" id="show_this_document" tabindex="-1" role="dialog" aria-labelledby="show_this_document"  style="padding-right:0!important">
            <div class="modal-dialog modal-lg" role="document"  style="max-width:100%;margin:0!important">
                <div class="modal-content" >
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> 
                        <h2 id='show_modal_document_title' ></h2>              
                    </div>
                    <div class="modal-body">
                        <div class="row"  id='show_modal_document_body' >
                            
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">         
                                <a href="javascript:history.back()" data-dismiss="modal" ><input type="button" value="Fermer la fenêtre" class="btn btn-default"   /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>

        {% endblock  %} 


{% endblock  %} 


 