{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
 
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
 
    <script>
        require(['script/ajax-book_shower']);
    </script> 


{% endblock %}


{% block page_title %}
    {{ book.level.shortname }} <img src="{% static 'img/angle-right.png' %}"/> Création du livret numérique Elève   <img src="{% static 'img/angle-right.png' %}"/>  
{% endblock %}


{% block styleMk4ht %}
    <link rel="stylesheet" href="{% static use_this_css %}">
{% endblock %} 



{% block page_menu_right %}
{% if  prev_page %}
<a href="{% url 'show_student_book' book.id prev_page.number %}" class="btn btn-default">Précédente</a>
 {% endif %}
{% if  next_page %}
<a href="{% url 'show_student_book' book.id next_page.number %}" class="btn btn-default">Suivante</a>
 {% endif %}

{% endblock %}





{% block body  %}  
<section class="content_main"> 
    <div class="row">
        <div class="col-sm-12 col-md-12">
            {% for fpage in first_pages %}
                {% if fpage %}
                <a href="{% url 'show_student_book' book.id fpage.number %}" class="btn btn-{% if fpage.number == page.number %}primary{% else %}sacado{% endif %}"> 
                
                    <b>{% if fpage.chapter.theme %}  {{ fpage.chapter.theme }}{% else %}{{ fpage.chapter.title }} {% endif %} {{ forloop.counter0 }}</b>


                </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-12 {% if page in first_pages %}col-md-12{% else %}col-md-6{% endif %} {{ page.css}}">            
            {% for paragraph in page.paragraphs.all %}
                <div class="this_paragraph" id="this_paragraph{{ paragraph.id }}">
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="paragraph_number">{{ paragraph.number }}</span>
                            <span class="paragraph_title">{{ paragraph.title }}</span>
                        </div>
                    </div>
                    <div class="row">
                        {% for bloc in paragraph.blocs.all %} 
                            <div class="col-xs-{{ bloc.size }} to_projection" data-toggle='modal'   data-target='#book_shower_page' >
                                <div class="{{ bloc.typebloc.css }}" > 
                                    <div class="bloc_title">
                                        {{ bloc.title }}
                                    </div>
                                    <div class="bloc_content">
                                        {{ bloc.content_html|safe }}
                                    </div>
                                </div>
                            </div>
                            {% get_bloc_col_width paragraph  forloop.counter as col_width %}
                            {% if col_width|divisibleby:"12"  and paragraph.total_size > 12 %}</div><div class="row">{% endif %}   
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

        </div>
        {% if not page in first_pages %}
        <div class="col-sm-12 col-md-6 {{ next_page.css}}">
            {% for paragraph in next_page.paragraphs.all %}
                <div class="this_paragraph">
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="paragraph_number">{{ paragraph.number }}</span>
                            <span class="paragraph_title">{{ paragraph.title }}</span>
                        </div>
                    </div>
                    <div class="row">
                        {% for bloc in paragraph.blocs.all %} 
                            <div class="col-xs-{{ bloc.size }} to_projection"  data-toggle='modal'   data-target='#book_shower_page' >
                                <div class="{{ bloc.typebloc.css }}"> 
                                    <div class="bloc_title">
                                        {{ bloc.title }}
                                    </div>
                                    <div class="bloc_content">
                                        {{ bloc.content_html|safe }}
                                    </div>
                                </div>
                            </div>
                            {% get_bloc_col_width paragraph  forloop.counter as col_width %}
                            {% if col_width|divisibleby:"12"  and paragraph.total_size > 12 %}</div><div class="row">{% endif %}   
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %} 

    </div>
</section>



<div class="modal fade" id="book_shower_page" tabindex="-1" role="dialog" aria-labelledby="book_shower_page">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <input type="range" class="form-range" id="customRange"  min="1" max="5" step="1" value="1">
            </div>
            <div class="modal-body" id="book_shower_page_content">
 
            </div>
        </div>
    </div>
</div>





{% endblock  %}   


