{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


{% block require %}
 
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
 
    <script>
        require(['script/ajax-book_shower']);
    </script> 


{% endblock %}


{% block page_title %}
    Livret {{ book.level.shortname_full|safe }} <img src="{% static 'img/angle-right.png' %}"/> {{ this_chapter }}
    
    {% if request.user.is_superuser %}
        <a href="{% url 'print_latex_to_pdf' this_chapter.id 0  %}"  target="_blank"><small><i class="bi bi-printer"></i></small></a>
    {% endif %} 

    <span class="helper_tip display_correction_bloc_button" data-source_id = "{{this_chapter.id}}" data-type_id = "0"  data-paragraph_id = "0" data-is_correction = 0 > 
    {% get_group_display_cor this_chapter group as this_chapter_is_cor %}
        <i class="bi bi-eye text-{% if this_chapter_is_cor %}success{% else %}danger{% endif %}" id="cc_chapter{{ this_chapter.id }}"></i> 
        <div class="helper_tip_text" >Publier/Dépublier l'ensemble des corrections des exercices du chapitre. </div>
    </span>
    <img src="{% static 'img/angle-right.png' %}"/> 

    {% if 'cours' not in this_page.title %}
    <span class="helper_tip display_correction_bloc_button" data-source_id = "{{this_page.id}}" data-type_id = "1"  data-paragraph_id = "0" data-is_correction = 1> 
        {% get_group_display_cor this_page group as this_page_is_cor %}
        <i class="bi bi-circle-fill text-{% if this_page_is_cor %}success{% else %}danger{% endif %}" id="cc_page{{ this_page.id }}"></i> 
        <div class="helper_tip_text" >Publier/Dépublier les corrections des exercices de la page {{ n }}. </div>
    </span>
    <span class="helper_tip display_correction_bloc_button" data-source_id = "{{this_page.id}}" data-type_id = "1"  data-paragraph_id = "0" data-is_correction = 0> 
        {% get_group_display_comp this_page group as this_page_is_comp %}
        <i class="bi bi-circle-fill  text-{% if this_page_is_comp %}success{% else %}danger{% endif %}" id="cc_page{{ this_page.id }}"></i> 
        <div class="helper_tip_text" >Publier/Dépublier les compléments de la page {{ n }}. </div>
    </span>
    <span id="spinner-1-{{ this_page.id }}"></span>
    {% else %}
    <span class="helper_tip"> <i class="bi bi-question-circle" id="this_page"></i> 
        <div class="helper_tip_text" >Page de cours. Pas d'exercice affichable. </div>
    </span>
    {% endif %}

    <form action="{% url 'goto_direct_page' %}" method="post" style="display: inline-block; max-width: 300px;">
        <label for="id_acces_to_page" style="font-size:15px; display: inline-block;"> Accèder à la page :</label>
        <input type="text" name="acces_to_page" id="id_acces_to_page" maxlength="3" class="acces_to_page" required />
        <button type="submit" class="btn btn-xs btn-sacado"><i class="bi bi-arrow-right"></i></button>
    </form>
{% endblock %}


{% block styleMk4ht %}
    <link rel="stylesheet" href="{% static use_this_css %}">
{% endblock %} 



{% block page_menu_right %}


 
{% if  prev_page %}
<a href="{% url 'show_mybook' book.id prev_page.number %}" class="btn btn-default">Précédente</a>
 {% endif %}
{% if  next_page %}
<a href="{% url 'show_mybook' book.id next_page.number %}" class="btn btn-default">Suivante</a>
 {% endif %}

{% endblock %}





{% block body  %}  
<section class="main_book"> 
    <div class="row">
        <div class="col-xs-12 col-md-12">
            {% for fpage in first_pages %}
                {% if fpage %}
                <a href="{% url 'show_mybook' book.id fpage.number %}" class="btn btn-xs btn-{% if fpage in page.chapter.pages.all %}primary{% else %}sacado{% endif %}"> 
                    <b>{% if fpage.chapter.theme %}  {{ fpage.chapter.theme }}{% else %}{{ fpage.chapter.title }} {% endif %} {{ forloop.counter0 }}</b>
                </a>
                {% endif %}
            {% endfor %} 
            <span class="pull-right"> 
                page {{ n }} 
                {% if request.user.is_superuser %}
                    <a href="{% url 'print_latex_to_pdf' 0 page.id  %}" class="white" target="_blank"><i class="bi bi-printer"></i></a>
                {% endif %}            
            </span>   
        </div>
    </div>

    <div class="row {{ page.css }}"  style="padding-top:20px;"> 
        <div class="col-xs-12 col-md-12">
            {% if n == 0  %} 
                <div style="padding:10px; border-radius:0px 0px 4px 4px ;background-color:white">
                {% for fpage in first_pages %}
                    <div class="this_paragraph" id="this_paragraph{{ fpage.chapter.id }}" style="margin:10px 0px">
                        <div class="row">
                            <div class="col-xs-12" >
                                <span class="paragraph_number">{{ forloop.counter }}</span>
                                <a href="{% url 'show_mybook' book.id fpage.number %}" class="paragraph_title">
                                    {{ fpage.chapter.title }} 
                                </a>
                                {% if not forloop.first %}
                                <a href="javascript:void(0);" class="display_correction_bloc_button" style="color:gray;font-weight:normal" 
                                        data-source_id = "{{fpage.chapter.id}}" data-type_id = "0"  data-paragraph_id = "0" data-is_correction = 1 > 
                                    {% get_group_display_cor fpage.chapter group as this_chapter_is_cor %}
                                    Afficher/cacher toutes les corrections du chapitre
                                    <i class="bi bi-circle-fill text-{% if this_chapter_is_cor %}success{% else %}danger{% endif %}" 
                                    id="cc_chapter_cor{{ fpage.chapter.id }}"
                                    title="Compléments{% if this_chapter_is_cor %} visibles par les élèves{% else %} cachés aux élèves{% endif %}"></i>
                                </a>
                                <a href="javascript:void(0);"  class="display_correction_bloc_button"   style="color:gray;font-weight:normal" 
                                data-source_id = "{{fpage.chapter.id}}" data-type_id = "0"  data-paragraph_id = "0" data-is_correction = 0  > 
                                    {% get_group_display_comp fpage.chapter group as this_chapter_is_comp %}
                                    Afficher/cacher tous les compléments du chapitre 
                                    <i class="bi bi-circle-fill text-{% if this_chapter_is_comp %}success{% else %}danger{% endif %}" 
                                    id="cc_chapter{{ fpage.chapter.id }}"></i> 
                                </a>
                                <span id="spinner-0-{{ fpage.chapter.id }}"></span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% else %} 
                <div {% if  page.css == 'parcoursu_page_top' %} style="width:100%;background-image: url('/static/img/parcours_u.png'); background-repeat: no-repeat ;height:100px"   
                    {% elif page.css == 'parcoursd_page_top' %} style="width:100%;background-image:url('/static/img/parcours_d.png'); background-repeat: no-repeat ;height:100px"   
                    {% elif page.css == 'parcourst_page_top' %} style="width:100%;background-image:url('/static/img/parcours_t.png'); background-repeat: no-repeat ;height:100px"  
                    {% elif page.css == 'algo_page_top' %} style="width:100%;background-image:url('/static/img/parcours_algo.png'); background-repeat: no-repeat ;height:100px"  
                    {% elif page.css == 'auto_page_top' %} style="width:100%;background-image:url('/static/img/parcours_eval.png'); background-repeat: no-repeat ;height:100px"
                    {% elif page.css == 'intro_page_top' %} style="width:30%; border-radius:0px 50px 50px 0px;color:white;background-color:#3fc5e8;font-size:25px;padding:20px"
                    {% endif %}> 
                    {% if page.css == 'intro_page_top' %}Chapitre {{ this_chapter.ranking }}_{% endif %}
                </div>
                {% if page.css == 'intro_page_top' %}
                <div style="position:absolute; top:60px; right:0 ; width:75%; opacity:0.9; border-radius:50px 0px  0px 50px;color:white;background-color:#f0558d; font-size:30px;padding:20px"> 
                    {{ this_chapter.title }}
                </div>
                {% endif %}

                {% for paragraph in page.paragraphs.all|dictsort:"ranking" %}
                    <div class="this_paragraph" id="this_paragraph{{ paragraph.id }}"
                    {% if  page.css == 'parcoursu_page_top' %} style="padding-top:20px;background-image: url('/static/img/fond_u.png'); background-repeat: repeat-y "   
                    {% elif page.css == 'parcoursd_page_top' %} style="padding-top:20px;background-image:url('/static/img/fond_d.png'); background-repeat: repeat-y "   
                    {% elif page.css == 'parcourst_page_top' %} style="padding-top:20px;background-image:url('/static/img/fond_t.png'); background-repeat: repeat-y"  
                    {% elif page.css == 'algo_page_top' %} style="padding-top:20px;background-image:url('/static/img/fond_a.png'); background-repeat: repeat-y "  
                    {% elif page.css == 'auto_page_top' %} style="padding-top:20px;background-image:url('/static/img/fond_e.png'); background-repeat: repeat-y"
                    {% else %} style="padding-top:20px;"
                    {% endif %}
                    >
                        {% if paragraph.number > 0 %}
                        <div class="row paragraph_label">
                            <div class="col-xs-12">
                                <span class="paragraph_number">{{ paragraph.number }}</span>
                                <span class="paragraph_title">{{ paragraph.title }}</span>
                                <a href="javascript:void(0);"  class="display_correction_bloc_button"   data-paragraph_id = "{{paragraph.id}}" data-is_correction = 1
                                        data-source_id = "{{paragraph.id}}" data-type_id = "2" > 
                                    {% get_group_display_cor paragraph group as this_paragraph_is_cor %}
                                    Afficher/cacher les corrections <i class="bi bi-circle-fill text-{% if this_paragraph_is_cor %}success{% else %}danger{% endif %}" id="cc_paragraph{{ paragraph.id }}"></i> 
                                </a>
                                |
                                <a href="javascript:void(0);"  class="display_correction_bloc_button"   data-paragraph_id = "{{paragraph.id}}" data-is_correction = 0
                                data-source_id = "{{paragraph.id}}" data-type_id = "2" > 
                                    {% get_group_display_comp paragraph group as this_paragraph_is_comp %}
                                    Afficher/cacher les compléments <i class="bi bi-circle-fill text-{% if this_paragraph_is_comp %}success{% else %}danger{% endif %}" id="cc_paragraph{{ paragraph.id }}"></i> 
                                </a>
                                <span id="spinner-2-{{paragraph.id}}"></span>
                            </div>
                        </div>
                        {% elif page.css == 'intro_page_top' %}
                        <div></div>
                        {% else %}
                            <div class="row" align="right">
                                <div class="col-xs-12">
                                    <a href="javascript:void(0);"  class="display_correction_bloc_button"   data-paragraph_id = "{{paragraph.id}}" data-is_correction = 1
                                            data-source_id = "{{paragraph.id}}" data-type_id = "2" > 
                                        {% get_group_display_cor paragraph group as this_paragraph_is_cor %}
                                        Afficher/cacher les corrections <i class="bi bi-circle-fill text-{% if this_paragraph_is_cor %}success{% else %}danger{% endif %}" id="cc_paragraph{{ paragraph.id }}"></i> 
                                    </a>
                                    |
                                    <a href="javascript:void(0);"  class="display_correction_bloc_button"   data-paragraph_id = "{{paragraph.id}}" data-is_correction = 0
                                    data-source_id = "{{paragraph.id}}" data-type_id = "2" > 
                                        {% get_group_display_comp paragraph group as this_paragraph_is_comp %}
                                        Afficher/cacher les compléments <i class="bi bi-circle-fill text-{% if this_paragraph_is_comp %}success{% else %}danger{% endif %}" id="cc_paragraph{{ paragraph.id }}"></i> 
                                    </a>
                                    <span id="spinner-2-{{paragraph.id}}"></span>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            {% for bloc in paragraph.blocs.all|dictsort:"ranking" %} 
                                <div class="col-xs-{{ bloc.size }}" >
                                    <div class="global_bloc {{ bloc.typebloc.css }}"  > 
                                        <div>
                                            {% if 'exo' in bloc.typebloc.css  %}
                                                <div class="bloc_title {{ bloc.typebloc.css }}">
                                                    {{ bloc.title }}
                                                </div> 
                                            {% elif 'sf' in bloc.typebloc.css  %}
                                                <div class="bloc_title">
                                                    {{ bloc.title }}
                                                </div> 
                                            {% elif 'mm' in bloc.typebloc.css or 'rl' in bloc.typebloc.css %}
                                                <div></div> 
                                            {% else %}
                                                <span class="bloc_title {{ bloc.typebloc.css }}">
                                                    {% if 'def' in bloc.typebloc.css %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0z"/>
                                                    </svg>
                                                    {% endif %}
                                                    {{ bloc.title }}
                                                </span> 
                                            {% endif %}
                                        </div> 

                                        {% if bloc.correction_html %}
                                        <div {% if 'exo' in bloc.typebloc.css  %}style="position:absolute; top:30px;left:20px"
                                             {% else %} style="position:absolute; top:40px;left:5px"
                                             {% endif %} >
                                            <a href="javascript:void(0);" data-target="#book_shower_correction" data-toggle="modal" 
                                                class="show_this_bloc_correction"  data-bloc_id="{{ bloc.id }}" >
                                                <i class="bi bi-c-circle text-success"></i>
                                            </a> 
                                            <div class="no_visu_on_load" id="book_shower_this_correction{{ bloc.id }}">{{ bloc.correction_html|safe }}</div>
                                            <div style="margin-top :10px;">
                                                {% get_group_display_cor bloc group as this_bloc_is_cor %}
                                                <a class="display_correction_bloc_button" data-source_id = "{{bloc.id}}" data-is_correction = 1   data-paragraph_id = "{{paragraph.id}}" data-type_id = "3" > 
                                                    <i class="bi bi-circle-fill text-{% if this_bloc_is_cor %}success{% else %}danger{% endif %} these_blocs_cor{{ paragraph.id }} all_these_blocs_cor"
                                                        id="cc_bloc_cor{{ bloc.id }}">
                                                    </i> 
                                                </a>
                                                <span id="spinnerCor-3-{{bloc.id}}"></span>
                                            </div>
                                        </div>
                                        {% endif %} 
                                        <div class="bloc_content to_projection" 
                                            {% if 'exo' in bloc.typebloc.css  %} style="margin-left:80px"
                                            {% elif bloc.correction_html %} style="margin-left:20px"
                                            {% endif %}
                                             data-toggle='modal'   data-target='#book_shower_page'>
                                            {{ bloc.content_html|safe }}
                                        </div>
                                    </div>
                                    {% if bloc.display_qr %} 
                                    <div {% if 'exo' in bloc.typebloc.css %} style="margin-left:80px" {% endif %}>  
                                        <label>
                                        Compléments 
                                        {% get_group_display_comp bloc group as this_bloc_is_comp %}
                                        <a class="display_correction_bloc_button" data-source_id="{{bloc.id}}" data-is_correction = 0   data-paragraph_id = "{{paragraph.id}}" data-type_id = "3" > 
                                            <i class="bi bi-circle-fill text-{% if this_bloc_is_comp %}success{% else %}danger{% endif %} these_blocs{{ paragraph.id }} all_these_blocs"
                                                id="cc_bloc{{ bloc.id }}">
                                            </i> 
                                             Afficher/cacher
                                        </a>
                                        <span id="spinnerµ-3-{{bloc.id}}"></span>
                                        :
                                        </label>
                                        {% for a in bloc.appliquettes.all %}
                                            <a href="{% url 'goto_appliquette_after_qrcode' a.code %}" target="_blank" style="margin-right:10px"><i class="bi bi-badge-vr"></i></a>
                                        {% endfor %}
                                        {% for e in bloc.exercises.all %} 
                                        {% if e.supportfile.imagefile %}
                                                <a href="{% url 'execute_exercise_from_book' e.id %}" target="_blank" style="margin-right:10px"><img src="{{ e.supportfile.imagefile.url }}" class="complements_img"></a>
                                            {% endif %}
                                        {% endfor %}
                                        {% for e in bloc.exotexs.all %} 
                                            <a href="{% url 'show_exotex' e.id %}" target="_blank" style="margin-right:10px"><i class="bi bi-explicit"></i></a>
                                        {% endfor %}
                                        <span id="spinner-3-{{bloc.id}}"></span>
                                    </div>
                                    {% endif %}                                
                                </div>
                                {% get_bloc_col_width paragraph  forloop.counter as col_width %}
                                {% if col_width|divisibleby:"12" and paragraph.total_size > 12 %}</div><div class="row">{% endif %}  
                                <div class="bottom_bloc"></div>     
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %} 
        </div>

    </div>
</section>



<div class="modal fade" id="book_shower_page" tabindex="-1" role="dialog" aria-labelledby="book_shower_page">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <input type="range" class="form-range" id="customRange"  min="1" max="5" step="1" value="1">
            </div>
            <div class="modal-body" id="book_shower_page_content">
 
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="book_shower_correction" tabindex="-1" role="dialog" aria-labelledby="book_shower_correction">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 
                <input type="range" class="form-range" id="customRanger"  min="1" max="5" step="1" value="1">
            </div>
            <div class="modal-body" id="book_shower_correction_content">
 
            </div>
        </div>
    </div>
</div>


{% endblock  %}   


