{% load static %}
{% load widget_tweaks %}
 
 
<section class="content_main">             
    <form method="POST" action="" enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="form-group">
                <label>{{ form_update.title.label_tag }}</label>
                {{ form_update.title |add_class:"form-control" }}
                {{ form_update.title.errors }}
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-sm-12 col-md-3">
                <label>{{ form_update.is_publish.label_tag }}</label>
                {{ form_update.is_publish  |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                {{ form_update.is_publish.errors }}
        </div>
        <div class="col-sm-12 col-md-3">
                <label>{{ form_update.is_share.label_tag }}</label>
                {{ form_update.is_share  |attr:"data-toggle:toggle" |attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                {{ form_update.is_share.errors }}
        </div>
    </div>        
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="form-group">
                <label>{{ form_update.content.label_tag }}</label>
                {{ form_update.content }}
                {{ form_update.content.errors }}
            </div>
        </div>  
    </div>        
    <div class="row">
        <div class="col-sm-12 col-md-12">         
            <button type="submit" class="btn btn-primary" name="document_is_update" value="1">Enregistrer</button>   
            <a href="javascript:history.back()" data-dismiss="modal" ><input type="button" value="Annuler" class="btn btn-default"   /></a>
        </div>
    </div>
    </form>
</section>
 
 