{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


<div class="row">
    <div class="col-xs-12 col-md-12">
        <h1 class="thin">
            Personnaliser mon thème
        </h1>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-xs-12">
        <p>Police et couleur de thème :</p>
        <p>Dès que vous cliquez sur une couleur, le thème coloré prend effet. Il n'est pas utile d'enregistrer.</p>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-xs-12">
        <p>Police et couleur de thème :</p>
        <p>Dès que vous cliquez sur une couleur, le thème coloré prend effet. Il n'est pas utile d'enregistrer.</p>
    </div>
</div>