{% extends 'dashboard.html' %}
{% load static %}
{% load item_tags %}
{% load widget_tweaks %}


{% block require %}
    <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common4.js' %}"></script> 
    <script>
        require(['script/ajax-list-group']); 
    </script>
{% endblock %}

{% block page_title %}
    <span style="color:{{ group.color }}"><i class='fa fa-mortar-board'></i></span>        
     {% include 'group/breadcrumb.html' %} 
Livret de compétences par exercices proposés
 
{% endblock %}




{% block page_menu_right %}
    {% if group %}
        {% include 'group/submenu_group.html'  %}
    {% endif %}
{% endblock %}

 
{% block body %} 

<div class="content_list"> 
    <div class="row">
        <div class="col-sm-12 col-md-12">
        </div>
    </div> 
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <table class="table table-sacado-color  table-hover display1000" style="width:100%" >
                <tbody  id="supportfile_ranking">  
                    {% regroup waitings by theme as theme_list %}
                    {% for theme in theme_list  %} 
                        <tr> 
                            <th>{{theme.grouper.subject.name}} : {{theme.grouper.name}}</th> 
                            <th style="width:50%;color:white">Les vignettes en surbrillance sont les exercices déjà faits par les élèves.</th>
                        </tr> 



                        {% for waiting in theme.list  %}
                            {% get_my_relationships waiting group as data %}
                            <tr class="opener out"  id="{{ waiting.id }}">
                                <td class="colored"><i class="fa fa-caret-right"></i> {{waiting.name}} <b>{{data.nb}} exercice{{data.nb|pluralize}}</b> </td>
                                <td class="colored">
                                    
                                    {% for r in  data.relationships  %}
                                        {% get_used_in_group r group as used %}
                                        <div style="float: left;position: relative;height:20px;width:30px;">
                                            {% if r.exercise.supportfile.imagefile %}
                                            <img src="{{ r.exercise.supportfile.imagefile.url }}" height="20px" style="position: absolute;{% if not used %}opacity: 0.3{% endif %}"/>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>  
                            {% for knowledge in waiting.knowledges.all  %}
                                    {% get_my_relationships knowledge group as my_relationships %} 
                                    <tr  class="listingtd opener_k opened{{ waiting.id }} out"  id="{{ knowledge.id}}"> 
                                        <td> 
                                            {{ knowledge.name|capfirst }} <b>{{data.nb}} exercice{{data.nb|pluralize}}</b>
                                        </td>
                                        <td>
                                            
                                            {% for r in data.relationships  %}
                                                {% get_used_in_group r group as is_used %}
                                                <div style="float: left;position: relative;height:35px;width:48px;">
                                                    {% if r.exercise.supportfile.imagefile %}
                                                    <img src="{{ r.exercise.supportfile.imagefile.url }}" height="35px" style="position: absolute;{% if not used %}opacity: 0.3{% endif %}"/>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </td>
                                    </tr>

                            {% endfor %}
                            
                        {% endfor %}
                    {% endfor %}  
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">     
            <a href="javascript:history.back()" class="btn btn-default" >Retour </a>
        </div>
    </div>
</div>

{% endblock %}