{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
 
    {% if group %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    {% else %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
    {% endif %}

    <script>
        require(['script/ajax-group']);
        {% if not group %}
        require(['script/ajax-group-complement']);
        {% endif %}
    </script>
 
 
{% endblock %}


{% block page_title %}  
    <span style="color:{{group.color}}" ><i class="fa fa-user-plus"></i></span>
    {% include 'group/breadcrumb.html' %}
    <span style="color:#5d4391" >Ajouter des élèves </span>
{% endblock %}

{% block page_menu_right %}
    {% if group %}
        {% include 'group/submenu_group.html'  %}
    {% endif %}
{% endblock %}


 


 
     
{% block body %}     

<div class="content_main">
    <form action="" method="POST"><input id="is_update" value="{% if group %}yes{% else %}no{% endif %}" type="hidden" />
    <div class="row">
        {% csrf_token %}
        <div class="col-sm-12 col-md-6">
            <div class="form_card">   

                
                {% if not sacado_asso  %}
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <li class="sans_puce"><label><input type="radio" name="record_student" id="record_student_now" /> J'ai la liste de mes élèves et je veux les inscrire maintenant.</label>  </li>
                            <li class="sans_puce"><label><input type="radio" name="record_student" id="record_student_auto" /> 
                               Je veux lire le lien d'inscription. <small>Avec ce lien, les élèves pourront s'inscrire seuls. Ce lien est donné après la création du groupe.</small></label>
                           </li>
                        </div>
                    </div>
                    <div class="row recording" id="teacher_record">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>Inscrire les élèves par leur prénom et nom. <em> L'adresse mail est facultative. L'identifiant est généré directement.</em> <br><span style="color:#cb2131">Respecter le format donné : 1 élève par ligne : nom; prénom; email. Ces informations séparées par un ;  <br/>Le mot de passe par défaut est : <b>sacado2020</b>, chaque identifiant élève s'obtient dans le détail du groupe. </span>  </label> <br> 
                                <textarea name="students" id="students_id"  style="border:1px #CCC solid;" class="form-control insert_student_to_this_group" rows="10" placeholder="Turing ; Alan ; alan.turing@enigma.com"></textarea>

                                 <label style="color:#cb2131"><small> <b>Conseil :</b> Après la création du groupe, accéder à votre groupe via Détails et télécharger la liste des identifiants au format pdf pour la distribuer à vos élèves.</small></label>
                            </div>
                        </div>
                    </div> 
                    <div class="row recording" id="auto_record"  style="color:{{ group.color}}">
                        <div class="col-sm-12 col-md-12"> 
                            <div class="form-group">
                                <label>Les élèves s'inscrivent à ce groupe par cette URL à leur donner : <strong>https://sacado.xyz/group/{{ group.code }}</strong></label>
                            </div>
                        </div>
                    </div>  
                {% elif is_managing == 0  %}
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            {% if not is_gar_check %}
                            <li class="sans_puce"><label><input type="radio" name="record_student" id="record_student_now" /> J'ai la liste de mes élèves et je veux les inscrire maintenant.</label></li>
                            <li class="sans_puce"><label><input type="radio" name="record_student" id="record_student_auto" /> {% if group %}Je veux lire le {% else %} Je veux inscrire mes élèves plus tard et générer un{% endif  %}  lien d'inscription. <small>Avec ce lien, les élèves pourront s'inscrire seuls. Ce lien est donné après la création du groupe.</small></label></li>
                            {% endif %}
                            <li class="sans_puce"><label><input type="radio" name="record_student" id="record_student_add" /> Sélectionner des élèves déjà inscrits sur ce niveau dans l'établissement</label></li>
                        </div>
                    </div>
                    <div class="row recording" id="teacher_record">
                        <div class="col-sm-12 col-md-12"><hr>
                            <div class="form-group">
                                <label>Inscrire les élèves par leur prénom et nom.<em> L'adresse mail est facultative. L'identifiant est généré directement.</em> <br><span style="color:#cb2131">Respecter le format donné : 1 élève par ligne : nom; prénom; email. Ces informations séparées par un ;  <br/>Le mot de passe par défaut est : <b>sacado2020</b>, chaque identifiant élève s'obtient dans le détail du groupe. </span></label> <br> 
                                <textarea name="students" id="students_id"  style="border:1px #CCC solid" class="form-control insert_student_to_this_group" rows="10" placeholder="Turing ; Alan ; alan.turing@enigma.com"></textarea>

                                 <label style="color:#cb2131"><small> <b>Conseil :</b> Après la création du groupe, accéder à votre groupe via Détails et télécharger la liste des identifiants au format pdf pour la distribuer à vos élèves.</small></label>
                            </div>
                        </div>
                    </div> 
                    <div class="row recording" id="auto_record">
                        <div class="col-sm-12 col-md-12"><hr>
                            <div class="form-group" style="color:{{ group.color}}">
                                <div style="font-size: 16px"><i class="fa fa-question-circle"></i>
                                    <label>Les élèves s'inscrivent à ce groupe par cette URL à leur donner : <strong>https://sacado.xyz/group/{{ group.code }}</strong></label>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                
                {% if is_managing == 2  %}
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <h5><i class="fa fa-users"></i> Ajouter des élèves parmi les élèves proposés ci-dessous</h5>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-sm-12 col-md-12" style="overflow-y:auto; height: 500px;margin-bottom: 20px">                           
                            <table  class="table table-sacado table-hover standard_tab_sort2000" id='table_o'>
                                <thead>
                                <tr>
                                    <td></td>
                                    <td>Nom</td>
                                    <td>Prénom</td>
                                    <td>Groupes</td>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for student in all_students %}
                                        <tr id="tr{{student.user.id}}">
                                            <td>
                                                 <input type="checkbox" class="student_select_to_school" data_student_id="{{student.user.id}}" data_group_id="{{ group.id}}" id="std{{student.user.id}}" /> 
                                            </td>
                                            <td>
                                               <label for="std{{student.user.id}}">{{ student.user.last_name|lower|capfirst }}  </label>
                                            </td>
                                            <td>
                                                {{ student.user.first_name|lower|capfirst }} 
                                            </td>
                                            <td>
                                                {% for g in student.students_to_group.all %}{{ g }}{% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> 
                    {% else %}
                    <div class="row collapse" id="collapsed"  >
                        <div class="col-sm-12 col-md-12" style="overflow-y:auto; height: 500px;margin-bottom: 20px">
                            {% if not group.lock %}                            
                            <table  class="table table-sacado table-hover standard_tab_sort2000" id='table_o'>
                                <thead>
                                <tr>
                                    <td></td>
                                    <td>Nom</td>
                                    <td>Prénom</td>
                                    <td>Groupes</td>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for student in all_students %}
                                        <tr id="tr{{student.user.id}}">
                                            <td>
                                                 <input type="checkbox" class="student_select_to_school" data_student_id="{{student.user.id}}" data_group_id="{{ group.id}}" id="std{{student.user.id}}" /> 
                                            </td>
                                            <td>
                                               <label for="std{{student.user.id}}">{{ student.user.last_name|lower|capfirst }}  </label>
                                            </td>
                                            <td>
                                                {{ student.user.first_name|lower|capfirst }} 
                                            </td>
                                            <td>
                                                {% for g in student.students_to_group.all %}{{ g }}{% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                <div class="form-group alert alert-danger">
                                    Votre groupe est verrouillé. Vous devez déverrouiller votre groupe pour ajouter des élèves.
                                </div>
                            {% endif   %}
                        </div>
                    </div> 
                {% endif   %}
                {% if is_managing == 1 and sacado_asso %}
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group alert alert-danger">
                                Vous avez la version ETABLISSEMENT. La gestion des groupes et des élèves est assurée par l'administrateur SACADO de votre établissement. Vous ne pouvez donc pas assigner d'élèves à ce groupe.
                            </div>
                        </div>
                    </div>
                {% endif   %}



            </div>



            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                        <input value="Enregistrer les élèves dans ce groupe" type="submit" class="btn btn-primary"  />
                        <a href="javascript:history.back()"><input type="button" value="Retour"
                                                                   class="btn btn-default "/></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            {% if group %}
            <div class="form_card">
                <table class="table table-sacado table-striped table-hover display50" id="maTable">
                    <thead> 
                    <tr>
                        <th>Nom  
                        </th>
                         <th>  Prénom
                        </th>
                        {% if not is_gar_check %}
                         <th>  Identifiant
                        </th>
                         <th>  
                        </th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in students  %}
                        <tr id="tr_school{{ student.user.id }}">
                            <td>{{ student.user.last_name|lower|capfirst  }}  
                            </td>
                            <td>{{ student.user.first_name|lower|capfirst    }}  
                            </td>
                            {% if not is_gar_check %}
                            <td>{{ student.user.username    }}  
                            </td>
                            <td>                             
                                {% if sacado_asso %}
                                    <a class="btn btn-xs btn-danger student_remove_from_school" data_student_id="{{student.user.id}}" data_group_id="{{ group.id}}" title="dissocier du groupe">
                                        <i class="fa fa-chain-broken"></i>
                                    </a> 
                                {% else %}
                                    <a href="{% url 'delete_student' student.user.id  group.id %}" class="btn btn-xs btn-danger" title="Supprimer cet élève">
                                        <i class="fa fa-times"></i>
                                    </a> 
                                {% endif %}
                                </td>  
                            {% endif %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td><div class="alert alert-danger">Aucun élève inséré.</div></td>
                          
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>            
            {% endif %}
        </div>
    </div>
    </form>
</div> 

{% endblock %}