{% load widget_tweaks %}
{% load static %}
{% load item_tags %}
<div class="parcours_choice_list">


        {% for folder in folders %}

                    <div  class="box box-widget widget-user-2 div_sorter"   
                          style="cursor: move;{% if folder.vignette %}background-image: url('{{ folder.vignette.url }}'); background-size: cover; {% endif %}background-color:{{folder.color }};">
                        <div class="handler widget-user-header">
                            <!-- Add signet to folder -->

                            {% if  folder.vignette  %}
                                <img src="{% static 'img/rabat_parcours.png' %}" class="rabat_dossier" />
                            {% else  %}
                                <img src="{% static 'img/signet.png' %}" class="rabat_dossier" />
                            {% endif  %}


                            {% if folder.vignette %}                
                                <div class="box_title_underlay_vignette" style="background-color:{{ folder.color }};">
                                </div> 
                            {% endif  %}
                            <div class="box_title_vignette"> 
                                <span class='thin' style="color:{{ folder.color|contrast_color }};font-size:20px">{{ folder.title|truncatechars:"28" }}</span>
                            </div>
                        </div>



                        <div class="box-footer">
                            <div class="row" align="center">
                                <span style="color:#222">
                                    <i class="fa fa-folder"></i> Dossier <small>avec  {{ folder.parcours.count }} parcours  </small>
                                </span>
                            </div> 
                            <div class="row" align="center">
                                <label class="btn btn-xs btn-mastering"><input type="checkbox" name="folder_ids" value="{{ folder.id}}"/> Sélectionner</label> 
                            </div>  
                        </div>

                    </div> 

        {% endfor %} 


</div>  