{% load static %}
{% load item_tags %}

{% get_score2 results exercise.pk  as score %}

{% if score %}
    <a class="helper_tip markdown white
            {% if score < stage.low %}
             red 
            {% elif score < stage.medium %}
            orange
            {% elif score < stage.up %}
            green
            {% else %}
            darkgreen
            {% endif %}" style="border : 2px solid #CCC; font-size:12px;cursor:help">
        {{ score }}
         <span class="helper_tip_text_center"><img src="{{ exercise.supportfile.imagefile.url }}" width="400px" /></span>
    </a>
{% else %}
    <a class="markdown"   style="border : 2px solid #CCC"  > 
          {{ score }}
    </a>
{% endif %}