{% extends 'dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}


   
{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>
{% endblock %} 


{% block page_title %}
    <i class="fa fa-cloud"></i> Tableau de bord administrateur</a>
{% endblock %} 

{% block page_menu_right %}
    <p>{{ school.name }}</p>
{% endblock %}


{% block body %}
<section class="content_main"> 
    {% if request.user.is_manager %}
 
    <div class="row">
        <!-- ./col -->
        <div class="col-lg-3 col-md-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                     <span style="font-size: 35px">Établissement </span>
                 </div>
                 <p style="padding-left:5px">{{ school }}</p>

                    <br><br>
                <a href="{% url 'csv_full_group'  %}" class="btn btn-default btn-accueil" style="width:95%"> Importer  groupes d'élèves </a>      


                {% if request.user.school %}
                <a href="{% url 'update_school' request.user.school.id %}" class="small-box-footer"><i
                        class="fa fa-arrow-circle-right"></i> En détails </a>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                     <span style="font-size: 35px">Enseignants </span>
                    
                </div>
                <div class="icon">
                    {{ nb_teachers }} 
                </div>
                <a href="{% url 'school_teachers' %}" class="small-box-footer"><i
                        class="fa fa-arrow-circle-right"></i> En détails </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="small-box bg-purple">
                <div class="inner">
                     <span style="font-size: 35px">Groupes </span>
                </div>
                <div class="icon">
                    {{ nb_groups }} 
                </div>
                <a href="{% url 'school_groups' %}" class="small-box-footer"><i
                        class="fa fa-arrow-circle-right"></i> En détails </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="small-box bg-purple">
                <div class="inner">
                     <span style="font-size: 35px">Élèves </span>
 
                </div>
                <div class="icon">
                    {{ nb_students }}  
                </div>
                <a href="{% url 'school_students' %}" class="small-box-footer"><i
                        class="fa fa-arrow-circle-right"></i> En détails </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 ">
            <h2 class="thin">Seuils d'acquisition des savoir faire et compétences  <a href="{% url 'manage_stage' %}" style="font-size : 14px">Modifier</a></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 ">
            {% if stage %}
            <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:{{ stage.low   }}%">
                    Maitrise insuffisante < {{ stage.low }}%
                </div>
                <div class="progress-bar progress-bar-warning" role="progressbar" style="width:{{ eca }}%">
                    Maitrise fragile  < {{ stage.medium }}%
                </div>
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{ ac }}%">
                    Bonne maitrise < {{ stage.up }}%
                </div>
                <div class="progress-bar progress-bar-primary" role="progressbar" style="width:{{ dep }}%">
                    Très bonne maitrise
                </div>
            </div>
            {% else %}
                <div class="alert alert-danger">
                    Seuils non renseignés
                </div>
            {% endif %}


        </div>
    </div>

 

    {% endif %} 


</section> 
{% endblock %}