{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}




{% block body %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="container alert alert-info" role="alert" style="top:100px">
        {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}




{% if form.errors %}
<div class="container alert alert-danger" role="alert" style="top:100px">
    <i class="fa fa-warning"></i> Votre connexion a échoué. Vérifier votre identifiant et/ou votre mot de passe.
</div>
{% endif %}
<!--==========================
Intro Section -
============================-->
<section id="intro" class="clearfix">
    <div class="container h-100">

        <div class="col-xs-12" >
          <a href="#" data-toggle='modal' data-target='#sacadopopup'  class="btn btn-index"> <span class="sacado">SACADO </span><br>Version<br>Établissement <small>RGPD compatible</small></a>
        </div>
        <!--
        <div class="col-xs-12" >
          <a href="{% url 'student_to_association' %}" class="btn btn-index"> <span class="sacado">SACADO </span><br>Aide<br>Perso  </a>
        </div>
        -->

        <div class="row justify-content-center align-self-center intro-info order-md-first order-last" style="padding-bottom:20px">
            <div class="col-xs-12 col-md-12 col-lg-6">
                <div class="title marginbottom50" style="margin-bottom: 40px;">
                    <span class="exo">{{ nb_exercise }}</span> exercice{{  nb_exercise|pluralize }} de<br>
      			       Mathématiques<br> interactif{{ nb_exercise|pluralize }} et corrigé{{  nb_exercise|pluralize }}<br> du CP à la Terminale.
                </div>
                <div class="row" style="margin-top:0px">
 
                    <img src="{% static 'img/real_time.png' %}" height="50px" style="margin-left: 5px; margin-right: 10px; vertical-align: baseline"/>  Suivis en<br/>   temps réel 
                    <img src="{% static 'img/python_logo.png' %}" height="50px" width="50px" style="margin-left: 15px; margin-right: 10px; vertical-align: baseline"/>  Interface <br/> Python  
                    <img src="{% static 'img/pronote.png' %}" height="50px" width="50px" style="margin-left: 20px; margin-right: 10px; vertical-align: baseline"/> Export CSV <br/>des résultats  

                </div>
                <div class="row" style="color:#cb2131;margin-top:0px" aligne="center">
                      <div ><br/>
                         <b>Nouveauté :</b> <br>Tutoriels en vidéo <a href="#" data-toggle='modal' data-target='#tutos_sacado'>ici</a> et dans votre tableau de bord
                      </div>
                </div>
                                        
                             
                                        

                <div class="row" style="margin-top: 50px">
                    <div class="col-xs-12 col-md-12 col-lg-6">
                        <a href="#" data-toggle='modal' data-target='#connexion' class="btn btn-primary">
                            Se connecter
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-6">
                        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger index_size">
                            Se connecter avec <img src="{% static 'img/Googlelogo.png' %}" height="15"
                                                   style="margin-left: 5px; vertical-align: baseline"/>
                        </a>
                    </div>
                </div>
                <br>


                    <div class="row counters">
                        <div class="col-lg-4 col-4 text-center">
                            <span data-toggle="counter-up">{{ nb_teacher }}</span>
                            <p>Enseignants</p>
                        </div>
                        <div class="col-lg-4 col-4 text-center">
                            <span data-toggle="counter-up">{{ nb_student }}</span>
                            <p>Elèves</p>
                        </div>
 
                        <div class="col-lg-4 col-4 text-center">
                            <span data-toggle="counter-up">{{ nb_student_answers }}</span>
                            <p>Exercices traités <a href="#" data-toggle='modal' data-target='#worldwide' > <i class="fa fa-globe"></i></a></p>
                        </div>
                    </div>
 
            </div>
            <div class="col-xs-12 col-md-12 col-lg-6 no_mobile_exercises" >
                <div style="position: relative;text-align:center">
                    <a href="{% url 'show_exercise'   exercise.id     %}" target="_blank">
                        <img src="{{ exercise.supportfile.imagefile.url }}" width="400"
                             style="position: absolute; top :40px; left:133px;z-index:-1"/>

                        {% if exercise.id|divisibleby:"3" %}
                        <img src="{% static 'img/mains_ip.png' %}" height="490" width="610" style=" z-index: 999"/>
                        {% elif exercise.id|divisibleby:"4" %}
                        <img src="{% static 'img/ordinateur.png' %}" height="490" style=" z-index: 999"/>
                        {% else %}
                        <img src="{% static 'img/ordi_portable.png' %}" height="490" style="  z-index: 999"/>
                        {% endif %}

                    </a>
                </div>
                <div style="margin-top: 20px; padding-left : 90px;text-align:center;">
                    <img src="{% static 'img/edge.png' %}" width="35px"/>
                    <img src="{% static 'img/chrome.png' %}" width="35px"/>
                    <img src="{% static 'img/safari.png' %}" width="35px"/>
                    <i class="fa fa-apple"></i>
                    <a href="https://java.com/fr/download/help/mac_install.xml"
                       target="_blank" >
                        <small>Pour safari, installer Java si nécessaire.</small>
                    </a>
                    <img src="{% static 'img/firefox.png' %}" width="35px"/>
                        <small>A éviter.</small>
                </div>


                <div style="margin-top: 20px; padding-left : 90px;text-align:center;">

                    <form action="https://www.paypal.com/donate" method="post" target="_top">
                    <input type="hidden" name="hosted_button_id" value="4D67PSZSQHSLU" />
                    <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1" />
                    </form>


                </div>


            </div>


        </div>
    </div>
  </section><!-- #intro -->

 
  <main id="main">
    <!--==========================
      Exercises exercises
    ============================-->
    <section id="exercises">
      <div class="container">

        <header class="section-header">
          <h3>Exercices</h3>
          <p style="padding-bottom:30px">Classés par niveaux, par thème, par savoir faire. </p>
        </header>

        <div class="row">

        {% for level in levels %}
          {% with level.exotot as nb_exo %}
          <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
          	<a href="{% url 'exercises_level'  level.id  %}" style="color:#FFF;">
	            <div class="imagebox">
	              <div class="icon {{ level.cycle }}" > {{ level.name }}<br>{{ nb_exo}} exercice{{ nb_exo|pluralize }}</div>
                <img src="../../static/img/levels/level{{ forloop.counter }}.png" width="250" />
	              <p class="description"></p>
	            </div>
	          </a>
          </div>
          {% endwith %}
        {% endfor %}
        </div>
        <div style="height: 100px"></div>




      </div>
    </section><!-- #services -->

    <!--==========================
      Teachers Section
    ============================-->
    <section id="teachers"  style="clear: both">
      <div class="container">

        <header class="section-header">
          <h3>Enseignants</h3>
        </header>


        <div class="row">

          <div class="col-lg-5 col-xs-12">
              <div class="teachers-img">
                  <iframe width="480" height="275" src="https://www.youtube.com/embed/8nudNs-sRaA?rel=0&start=2" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="features wow bounceInUp clearfix" style="text-align: center;margin-top:50px">
                <h4 class="thin">Proposer des parcours individualisés,<br>suivre les acquisitions de savoir faire,<br> de compétences en quelques clics</h4>
              </div>
          </div>
          <div class="col-lg-1 col-xs-12">
          </div>
          <div class="col-lg-6 col-xs-12">
              <div class="features wow bounceInUp clearfix">
                <h4>Devenir membre  <span class="sacado">SACADO</span></h4>
                <form action="{%  url 'register_teacher' %}" method="POST" id="teacher_form"  > 
                {% csrf_token %}
                    {% include 'user_form.html' %}

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-xs-3" align="center">  
                            <div class="form-group">
                                <a href="#" data-toggle='modal' data-target='#sacadopopup' > <i class="fa fa-question-circle text-warning fa-4x"></i></a>
                            </div>    
                        </div> 

                        <div class="col-lg-10 col-md-10 col-xs-9">  
                            <div class="form-group">
                                <small>Exportations PRONOTE ou CSV, suivi des acquisitions, co-animation, espace de stockage accru, image de présentation, mutualisations des ressources, .... <br/>Optez pour la version établissement. <a href="#footer"> Nous contacter</a></small>
                            </div>    
                        </div>                   
                    </div> 

                    <div class="row">
                        <div class="col-lg-6 col-xs-6">   
                            <div class="form-group"><input name="envoi" type="submit" class="btn btn-primary sendit" value="S'inscrire" /></div>
                        </div>        
                        <div class="col-lg-6 col-xs-6">   
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button> 
                        </div>             
                    </div> 
                </form>            
              </div>
          </div>
        </div>

      </div>
    </section>

    <!--==========================
      Student  Section
    ============================-->
    <section id="students" class="wow fadeIn">
        <div style="height: 40px"></div>
      <div class="container">
        <header class="section-header">
          <h3>Elèves</h3>
        </header>


        <div class="row">

          <div class="col-lg-6">
            <div class="teachers-img">
              <img src="{% static 'img/students.jpg' %}" width="700" class="img-fluid">
            </div>

              <div class="features wow bounceInUp clearfix" style="text-align: center">
              <h4 class="thin"><br>A chacun son style<br>
                 {{ nb_exercise }} exercice{{  nb_exercise|pluralize }} interactif{{ nb_exercise|pluralize }} varié{{  nb_exercise|pluralize }} et corrigé{{  nb_exercise|pluralize }}</h4>
              </div>



          </div>

          <div class="col-lg-6">

                <form action="{%  url 'register_student' %}" method="POST" id="student_form"  >
                {% csrf_token %}
                    {% include 'student_form.html' %}
                    <div style="height: 40px"></div>
                    <div class="row">
                        <div class="col-lg-6 col-xs-6">
                            <div class="form-group"><input name="envoi" id="join_group" type="submit" class="btn btn-primary sendit"  disabled value="Rejoindre mon groupe" /></div>
                        </div>
                        <div class="col-lg-6 col-xs-6" id="join_alone">
                            <div class="form-group"><input name="send_alone" type="submit" class="btn btn-primary" id='send_alone'  disabled value="S'inscrire individuellement" /></div>
                        </div>
                    </div>
                </form>
          </div>
        </div>

        <div style="height: 100px"></div>
      </div>
    </section>

      <!--==========================
      Parent  Section
    ============================-->
    <section id="parents" class="wow fadeIn">
        <div style="height: 40px"></div>
      <div class="container">
        <header class="section-header">
          <h3>Parents</h3>
        </header>
        <div class="row">

          <div class="col-lg-6">
            <div class="teachers-img">
              <img src="{% static 'img/parents.jpg' %}" width="400" class="img-fluid">
            </div>

              <div class="features wow bounceInUp clearfix">
              <br>
                <h3 class="thin">Suivi des activités en temps réel</h3>
              </div>



          </div>

          <div class="col-lg-6">

                <form action="{%  url 'register_parent' %}" method="POST" id="parent_form"  >
                {% csrf_token %}
                    {% include 'parent_form.html' %}
                    <div style="height: 40px"></div>
                    <div class="row">

                        <div class="col-lg-6 col-xs-6">
                            <div class="form-group"><input name="envoi" type="submit" class="btn btn-primary is_child_exist" value="Valider" /></div>
                        </div>

                    </div>
                </form>
          </div>
        </div>
        <div style="height: 100px"></div>
      </div>
    </section>
    <!--==========================
      About  Section
    ============================-->
    <section id="about" class="wow fadeIn">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-5">
          <h3>Progressivité et Programmes </h3>

      <li class="sanspuce"><a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/73/2/02-Maths-CP-attendus-eduscol_1114732.pdf" target="_blank"> CP - Repère de progressivité</a></li>

      <li class="sanspuce"><a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/73/4/04-Maths-CE1-attendus-eduscol_1114734.pdf" target="_blank"> CE1 - Repère de progressivité</a></li>

      <li class="sanspuce"><a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/73/6/06-Maths-CE2-attendus-eduscol_1114736.pdf" target="_blank"> CE2 - Repère de progressivité</a></li>


      <li class="sanspuce"><a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/73/8/08-Maths-CM1-attendus-eduscol_1114738.pdf" target="_blank">CM1 - Repère de progressivité</a></li>

      <li class="sanspuce"><a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/74/0/10-Maths-CM2-attendus-eduscol_1114740.pdf" target="_blank">CM2 - Repère de progressivité</a></li>

      <li class="sanspuce"><a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/74/2/12-Maths-6e-attendus-eduscol_1114742.pdf" target="_blank">6<sup>ème</sup> - Repère de progressivité</a> </li>


      <li class="sanspuce"><a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/74/4/14-Maths-5e-attendus-eduscol_1114744.pdf" target="_blank">5<sup>ème</sup> - Repère de progressivité</a> </li>

      <li class="sanspuce"><a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/74/6/16-Maths-4e-attendus-eduscol_1114746.pdf" target="_blank">4<sup>ème</sup> - Repère de progressivité </a></li>

      <li class="sanspuce"><a href="https://cache.media.eduscol.education.fr/file/Attendus_et_reperes_C2-3-4/74/8/18-Maths-3e-attendus-eduscol_1114748.pdf" target="_blank">3<sup>ème</sup> - Repère de progressivité </a></li>

      <li class="sanspuce"><a href="https://cache.media.education.gouv.fr/file/SP1-MEN-22-1-2019/95/7/spe631_annexe_1062957.pdf" target="_blank">2<sup>nde</sup> - Programme </a></li>

      <li class="sanspuce"><a href="https://cache.media.education.gouv.fr/file/SP1-MEN-22-1-2019/16/8/spe632_annexe_1063168.pdf" target="_blank">1<sup>ère</sup> - Programme </a></li>

      <li class="sanspuce"><a href="https://cache.media.education.gouv.fr/file/SPE8_MENJ_25_7_2019/90/7/spe246_annexe_1158907.pdf" target="_blank">T<sup>ale</sup> - Programme </a> </li>


         <img src="{% static 'img/logo-france.jpg' %}" width="150px" class="img-fluid"/>


          </div>

            <div class="col-lg-7 col-md-7">
                <header class="section-header">
                    <h3>A propos de l'asso <span class="sacado">SACADO</span></h3>
                </header>
                <div class="about-content">
<!-- 
                    <h3>Les attendus et savoir faire des exercices sont issus des programmes officiels de l'éducation
                        nationale.</h3>
                    <p>En aucun cas, ces exercices se substituent aux attentes des enseignants mais sont un complément
                        pour un travail en autonomie.</p>

                    <h3>Les contributeurs <span class="sacado">SACADO</span></h3>
                    <p>
                        Audrey, Bruno, Mehdi, Philippe ..... Surtout Bruno
                    </p>
                    <h3>Le code </h3>
                    <p>
                        Audrey, Raphaël, Philippe
                    </p>
                    <h3>La veille <span class="sacado">SACADO</span></h3>
                    <p>
                        Hélène, Julie, David, Nicolas ...<br> et nos élèves...
                    </p> -->

                    <div class="index_label_icone" >
                      <a href="#"  data-toggle='modal' data-target='#actu'  >
                        <img src="{% static 'img/index_actu.png' %}" class="index_icone"/>L'actu  
                      </a>
                    </div>



                    <div class="index_label_icone" >
                      <a href="#"  data-toggle='modal' data-target='#historique'  ><img src="{% static 'img/index_historique.png' %}" class="index_icone"/>L'historique  
                      </a>
                    </div>
                    
                    <div class="index_label_icone" >
                      <a href="#"  data-toggle='modal' data-target='#statut'  >
                        <img src="{% static 'img/index_status.png' %}" class="index_icone"/>Les statuts   
                      </a>
                    </div>


                    <div class="index_label_icone" >
                      <a href="#"  data-toggle='modal' data-target='#comptes'  ><img src="{% static 'img/index_compte.png' %}" class="index_icone"/>Les comptes  
                      </a>
                    </div>
                    <div class="index_label_icone" >
                      <a href="#"  data-toggle='modal' data-target='#membres'  >
                        <img src="{% static 'img/index_membres.png' %}" class="index_icone"/>Les membres  
                      </a>
                    </div>

                    <div class="index_label_icone" >
                      <a href="#"  data-toggle='modal' data-target='#whos'  ><img src="{% static 'img/index_whos.png' %}" class="index_icone"/>On en parle 
                      </a>
                    </div>

                     <div class="index_label_icone" >
                      <a href="#"  data-toggle='modal' data-target='#connecteurs'  ><img src="{% static 'img/index_gar.png' %}" class="index_icone"/> Connecteur 
                      </a>
                    </div>

 
                     <div class="index_label_icone" >
                      <a href="#"  data-toggle='modal' data-target='#helpus'  ><img src="{% static 'img/index_helpus.png' %}" class="index_icone"/> Aider  
                      </a>
                    </div>
 
                </div>
            </div>
        </div>
      </div>
    </section>



  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg wow fadeIn">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

                <div class="col-sm-6">

                  <div class="footer-info">
                    <h3>SACADO</h3>
                    <p>SACADO est un créateur de parcours d'apprentissage construits à partir d'exercices à variables aléatoires. <br>Les élèves travaillent leurs savoir faire mathématiques en totale autonomie ou sous la supervision de leur enseignant. <br>Les enseignants suivent les acquisitions de leurs élèves. Les résultats s'exportent au format CSV, selon condition.<br>Les parents peuvent accéder aux résultats de leurs enfants.  </p>
                  </div>

                    <h4> <a href="#"  data-toggle='modal' data-target='#cgu'  style="color:#535074" >CGU & RGPD</a></h4>

 
                    
                    <h4>Contact</h4>
                    <p>
                      Bruno Serres - Nicaragua <br>
                      Philippe Demaria - Tunisie <br>
                      Audrey Ledoux - Italie <br> 
                      Nicolas Villemain - Canada 
                    </p>




                </div>

                <div class="col-sm-6">
                    <div class="footer-links">
                      <h4>Liens utiles</h4>
                       <a href="#intro" style="color:#535074">Accueil</a><br>
                           <a href="#exercises" style="color:#535074">Exercices</a><br>
                           <a href="#teachers" style="color:#535074">Enseignants</a><br>
                           <a href="#students" style="color:#535074">Elèves</a><br>
                          <a href="#about" style="color:#535074">A propos</a><br>
                          <a href="#footer" style="color:#535074">Contact</a>

                    </div>

                    <div class="footer-links">
                      <h4>Exercices</h4>
                      <p>
                        Bruno Serres - Nicaragua <br>
                        Philippe Demaria - Tunisie <br>
                        Mehdi Boulifa - Tunisie <br>
                        Nicolas Villemain - Canada <br> 
                        Olivier Evain - Gabon
                      </p>
                      <h4>Codeurs</h4>
                      <p>
                        Audrey Ledoux - Italie <br>
                        Raphaël Chay - Colombie <br>
                        Philippe Demaria - Tunisie <br>
                      </p>
                      <h4>Illustrations</h4>
                      <p>
                        Ilhiam Kervarrec <br><a href="https://www.freepik.com/free-photos-vectors/school"  style="color:#535074" target="_blank">freepik - www.freepik.com</a>
                      </p>
                    </div>
                </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">

              <h4>Envoyez un message</h4>
              <p>Vous souhaitez obtenir des infos, utiliser SACADO dans votre établissement, laisser un message. Utiliser cet espace.</p>
              <form action="{% url 'send_message' %}" method="post" >
                  {% csrf_token %}
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nom" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required />
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email" required />
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Objet" data-rule="minlen:4" data-msg="Au moins 8 caractères" required />
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" required data-msg="Ecrire votre message" placeholder="Message"></textarea>
                </div>

                <div class="form-group">
                  <img src="{% static 'img/som_token.png' %}" />
                  <input type="text" name="token" class="form-control" id="token" placeholder="Ecrire le résultat de la somme"  />
                </div>

                <div class="text-center"><button type="submit" class="btn btn-sacado">Envoyer</button></div>
              </form>
            </div>

          </div>

        </div>

      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  </main>
    
<div class="modal fade" id="tutos_sacado" tabindex="-1" role="dialog" aria-labelledby="tutos_sacado">
    <div class="modal-dialog modal-maxsize" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h2  class='sacado'  >Les tutos Sacado en vidéo</h2>              
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 

            </div>
            <div class="modal-body">
                {% include 'tutos_sacado.html' %}
            </div>
        </div>
    </div> 
</div>

<div class="modal fade" id="actu" tabindex="-1" role="dialog" aria-labelledby="actu">
    <div class="modal-dialog modal-maxsize" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h2  class='sacado'  >L'actu <span class="sacado">SACADO</span></h2>              
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 

            </div>
            <div class="modal-body">
                {% include 'sacado_actu.html' %}
            </div>
        </div>
    </div> 
</div>


<div class="modal fade" id="statut" tabindex="-1" role="dialog" aria-labelledby="statut">
    <div class="modal-dialog modal-maxsize" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h2  class='sacado'  >Les statuts <span class="sacado">SACADO</span></h2>              
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 

            </div>
            <div class="modal-body">
                {% include 'sacado_status.html' %}
            </div>
        </div>
    </div> 
</div>


<div class="modal fade" id="membres" tabindex="-1" role="dialog" aria-labelledby="membres">
    <div class="modal-dialog modal-maxsize" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h2  class='sacado'  >Les membres <span class="sacado">SACADO</span></h2>              
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 

            </div>
            <div class="modal-body">
                {% include 'sacado_membres.html' %}
            </div>
        </div>
    </div> 
</div>
<div class="modal fade" id="whos" tabindex="-1" role="dialog" aria-labelledby="whos">
    <div class="modal-dialog modal-maxsize" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h2  class='sacado'  >On parle de <span class="sacado">SACADO</span></h2>                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 

            </div>
            <div class="modal-body">
                 {% include 'sacado_whos.html' %}
            </div>
        </div>
    </div> 
</div>
<div class="modal fade" id="historique" tabindex="-1" role="dialog" aria-labelledby="historique">
    <div class="modal-dialog modal-maxsize" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h2  class='sacado'  >L'historique de <span class="sacado">SACADO</span></h2>              
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 

            </div>
            <div class="modal-body">
                 {% include 'sacado_historique.html' %}
            </div>
        </div>
    </div> 
</div>
<div class="modal fade" id="comptes" tabindex="-1" role="dialog" aria-labelledby="comptes">
    <div class="modal-dialog modal-maxsize" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h2  class='sacado'  >Les comptes de <span class="sacado">SACADO</span></h2>              
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 

            </div>
            <div class="modal-body">
                 {% include 'sacado_comptes.html' %}
            </div>
        </div>
    </div> 
</div>
<div class="modal fade" id="connecteurs" tabindex="-1" role="dialog" aria-labelledby="connecteurs">
    <div class="modal-dialog modal-maxsize" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h2  class='sacado'  >Le connecteur ENT/GAR</h2>              
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 

            </div>
            <div class="modal-body">
                 {% include 'sacado_gar.html' %}
            </div>
        </div>
    </div> 
</div>
<div class="modal fade" id="helpus" tabindex="-1" role="dialog" aria-labelledby="helpus">
    <div class="modal-dialog modal-maxsize" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h2  class='sacado'  >Aider <span class="sacado">SACADO</span></h2>              
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> 

            </div>
            <div class="modal-body">
                  {% include 'sacado_help_us.html' %}
            </div>
        </div>
    </div> 
</div>
 

{% endblock %}