{% load item_tags %} 
{% if teacher.levels.all.count > 0 %} 
<div class="events_title">
     A venir <small><span class="pull-right parcours_displayer pull-right_top"><i class="fa fa-calendar"></i> <a href="{% url 'calendar_initialize' %}" class="a_venir" >Afficher le calendrier</a> <a href="{% url 'calendar_initialize' %}" style="font-size:10px" target="_blank" title="Lien externe"><i class="fa fa-share"></i></a></span> </small>
</div>
<div class="events {% if relationships|length > 6  %}  div_events{% endif %}" >

    {% if relationships|length == 0 %} 
            {% for relationship in relationships %}
            <li class="sans_puce"><i class="fa fa-square" style="color: {{ relationship.parcours.color }}"></i> 
              {{ relationship.date_limit|date:"d.m.y" }} :

                      <a href="{% url 'detail_task_parcours' relationship.parcours.id relationship.exercise.id   %}" class="parcours_displayer"> 
                        {% if relationship.exercise.supportfile.annoncement  %} {{ relationship.exercise.supportfile.annoncement|cleanhtml }}{% else %}{{ relationship.exercise.knowledge.name }}{% endif %}
                      </a>        
       

            </li>
            {% empty %}
                <li class="sans_puce">Aucune tâche proposée</li>
            {% endfor %}
    {% else %}

        {% regroup relationships by parcours as parcours_list %}

            {% for pcs in parcours_list %}
            <li class="sans_puce"><span class="label" style="background-color: {{ pcs.grouper.color }};border-radius: 50%">{{ pcs.grouper.nb_task }}</span> 
                <a href="{% url 'detail_task_parcours' pcs.grouper.id 0 %}" class="parcours_displayer"> 
                    {{ pcs.grouper.title }}
                </a>        
            </li>
            {% endfor %}



    {% endif %} 
</div>





<li class="sans_puce"><a href="{% url 'create_group' %}" class="btn btn-primary full_width">Créer un groupe</a> </li>

<li class="sans_puce"> 
<div class="btn btn-primary full_width">

        <span data-toggle="collapse" data-parent="#accordion"  href="#collapser">
         Créer un parcours 
        </span>

    <div id="collapser" class="collapse">
        <div class="panel-body" style="padding:0px">
            <table class="table" style="margin-bottom: 0px;font-size:14px">
                <tr>
                    <td>
                         <a href="{% url 'create_parcours' %}"><i class="fa fa-caret-right"></i> + Nouveau parcours</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'all_parcourses' %}"><i class="fa fa-caret-right"></i> Parcours mutualisés</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#parcours_default_modal"   > <i class="fa fa-caret-right"></i> Parcours par défaut</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</li>

<li class="sans_puce"><a href="{% url 'create_evaluation' %}" class="btn btn-primary full_width">Créer une évaluation</a> </li> 


<hr>

<li class="sans_puce"><a href="{% url 'create_demand' %}" class="btn btn-default full_width">Demander un exercice</a> </li> 

<hr>
<p style="margin-top:-15px"><strong>Tous mes parcours</strong></p>
<div {% if parcourses|length > 8  %} class="div_accordion" {% endif %}>
    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
    {% for parcours in parcourses  %}
    <div class="btn btn-default full_width" style="text-align: left; font-size:15px; margin-bottom: 5px">

            <span data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" class="parcours_displayer" style="color : {{  parcours.color }}" >
               {% if parcours.is_publish %} <i class="fa fa-check-circle text-success pull-right pull-right_top"></i>  {% else %} <i class="fa fa-ban pull-right pull-right_top"></i>{% endif  %}  {{ parcours.title|truncatechars:"22" }} 
            </span>

        <div id="collapse{{ forloop.counter }}" class="collapse">
            <div class="panel-body"  style="padding:0px">
                <table class="table" style="margin-bottom: 0px;font-size:14px;color : {{  parcours.color }}">
                    <tr>
                        <td>
                        {% with  parcours.students.count as ct %}
                            {{ ct }} élève{{ ct|pluralize }}
                        {% endwith %}
                        </td>
                    </tr>  
                    <tr>
                        <td style="color : {{  parcours.color }}">
                            {% for g in  parcours.group_list %}
                                <div> <i class="fa fa-fw fa-users"  ></i>  {{ g.name }}</div>
                            {% empty %}
                                <div> <i class="fa fa-fw fa-ban"  ></i> Non attribué</div>
                            {% endfor %}
                        </td>
                    </tr>                                  
                    <tr>
                        <td>
                            <a href="{% url 'show_parcours' parcours.id   %}"  style="color : {{  parcours.color }}">
                                    {% with  parcours.exercises.count as cot %}
                                        {{ cot }} exercice{{ cot|pluralize }}
                                    {% endwith %}
                            </a> 
                        </td>
                    </tr>

                    <tr>
                        <td>
                             <a href="{% url 'update_parcours' parcours.id 99999999999 %}"  style="color : {{  parcours.color }}"> <i class="fa fa-fw fa-cogs"  ></i> Configurer</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <a href="{% url 'stat_parcours' parcours.id  %}"   style="color : {{  parcours.color }}"><i class="fa fa-fw fa-trophy"></i> Suivis </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'show_parcours' parcours.id  %}"  style="color : {{  parcours.color }}"><i class="fa fa-fw fa-arrow-circle-right"></i> En détails </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
      <!-- Accordion card -->
    {% empty %}
Aucun parcours
    {% endfor %}
    </div>
</div>
<hr>
 
<div class="btn btn-default full_width" style="text-align: left; font-size:15px; margin-bottom: 5px">

        <span data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
         {% with  nb_teacher_level as nbteacherlevel %}
            {{ nbteacherlevel }} niveau{{ nbteacherlevel|pluralize:"x" }}  préféré{{  nbteacherlevel|pluralize }}  <i class="fa fa-caret-down pull-right"></i>
         {% endwith %}
        </span>

    <div id="collapse{{ forloop.counter }}" class="collapse">
        <div class="panel-body" style="padding:0px">
            <table class="table" style="margin-bottom: 0px;font-size:14px">
                {% for l in teacher.levels.all %}
                <tr>
                    <td>
                        {{ l.name }}
                    </td>
                </tr>
                {% endfor %} 
                <tr>
                    <td>
                        <a href="{% url 'profile' %}" style="font-size: 12px">Gérer mes préférences</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<hr>




{% if user.user_type == 2 %}
    {% with  communications|length as communications_length %}
        {% if communications_length > 0 %}
        <a href="#" data-toggle='modal' data-target='#nouveaute'   class="btn btn-{% if communications_length > 0 %}danger{% else %}default{% endif %} full_width" >
            Lire Les nouveautés 
        </a>
        {% endif %}
    {% endwith %}
{% endif %}

{% endif %}