{% load widget_tweaks %}
{% load static %}

 
<h3> Voici les tarifs établissements 2021. Toute contribution est acceptée. L'association vous remercie.</h3> 

<table class="table table-striped table-hover" >
    <tr>
        <td>jusqu'à</td>        <td>500 élèves</td>        <td>1 000 élèves</td>        <td>1500 élèves</td> <td>+ de 1500 élèves</td>
    </tr>
    <tr>
        <td>Avant le 1 juillet 2021</td>        <td>60 €</td>        <td>120 €</td>        <td>180 €</td> <td><a href="{% url 'index' %}#footer"  data-dismiss="modal">Nous contacter</a></td>
    </tr>
    <tr>
        <td>Après le 1 juillet 2021</td>        <td>90 €</td>        <td>180 €</td>        <td>270 €</td> <td><a href="{% url 'index' %}#footer"  data-dismiss="modal">Nous contacter</a></td>
    </tr>
</table>

<h3> Toute contribution spontanée est acceptée. L'association vous remercie.</h3> 

 

