{% load widget_tweaks %}
{% load static %}

Toutes les fonctionnalités qui s'utilisent en établissement ou qui demandent de la ressource du serveur ne sont pas incluses dans la version enseignant. Lorsqu'une fonctionnalité est proposée <i class="fa fa-check text-success"></i>, elle reste à la discrétion de l'enseignant.  <a href="#" data-toggle='modal' data-target='#connexion'>Passez à la version Etablissement</a> <a href="#" data-toggle='modal' data-target='#worldwide' > <i class="fa fa-globe"></i></a>

<table class="table  table-hover standard_tab_1000" >
    <thead> 
        <tr style="background-color: #EEE">
            <th>Fonctionnalités</th>
            <th style="text-align: center">Enseignant</th>
            <th style="text-align: center">Etablissement</th>
        </tr>
    </thead> 
    <tbody>
            <tr style="background-color: #EEE">
                <td colspan="3"> Les groupes </td> 
            </tr> 
            <tr>
                <td> Création </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
                <td> Configuration </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
                <td> Co-animation </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr style="background-color: #EEE">
                <td colspan="3"> Les parcours </td> 
            </tr> 
            <tr>
                <td> Création  </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
                <td> Configuration </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
                <td> Dossier  </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Clonage de parcours par défaut </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Clonage de parcours mutualisé </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Vignette (Image d'accueil) </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
                <td> Mutualisation intra-établissement </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Mutualisation des parcours SACADO</td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr style="background-color: #EEE">
                <td colspan="3"> Les exercices </td> 
            </tr> 
            <tr>
                <td> Accès à tous  </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Personnalisation  </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Parcours de maîtrise </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Tâches</td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Compétences </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Pièces jointes </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Création d'exercices personnalisés </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Interface de correction en ligne </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Enregistrement audio </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr style="background-color: #EEE">
                <td colspan="3"> Les cours et évaluations </td> 
            </tr> 
            <tr>
                <td> Création  </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Association cours / parcours  </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Association cours / exercices  </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Mutualisation </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Elèves créateurs </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Cours SacAdo </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Évaluations </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr style="background-color: #EEE">
                <td colspan="3"> Les suivis </td> 
            </tr> 
            <tr>
                <td> Elèves </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Savoir faire </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Exercices </td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Compétences </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Export PRONOTE </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Accès parent </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr style="background-color: #EEE">
                <td colspan="3"> Les messages et notifications</td> 
            </tr> 
            <tr>
                <td> Envois des notifications</td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 
            <tr>
                <td> Envois/Réceptions des messages </td>
                <td style="text-align: center"><i class="fa fa-times text-danger"></i></td>
                <td style="text-align: center"><i class="fa fa-check text-success"></i></td>
            </tr> 


    </tbody>
</table>

