{% load widget_tweaks %}
{% load static %}

 
<p> Voici les tarifs établissements 2021. Toute contribution est acceptée. L'association vous remercie.</p> 

<table class="table table-sacado table-striped table-hover" >
    <tr>
        <td>jusqu'à</td>        <td>500 élèves</td>        <td>1 000 élèves</td>        <td>1500 élèves</td> <td>+ de 1500 élèves</td>
    </tr>
    <tr>
        <td>Après le 13 juillet 2023</td>        <td>100 €</td>        <td>200 €</td>        <td>300 €</td> <td><a href="{% url 'index' %}#footer"  data-dismiss="modal">Nous contacter</a></td>
    </tr>
</table>

<p> Toute contribution spontanée est acceptée. L'association vous remercie.</p> 

 
