<small>Tarif en vigueur pour l'année {{ school_year }}</small>
<table class="table table-striped table-hover" >
  <tr>
      <td>jusqu'à</td>        <td>500 élèves</td>        <td>1 000 élèves</td>        <td>1500 élèves</td> <td>+ de 1500 élèves</td>
  </tr>

 
  <tr>
      <td> </td>        
        {% for r in rates %}        
          <td>{{ r.amount }} €</td>        
        {% endfor  %} 
      <td><a href="{% url 'index' %}#footer"  data-dismiss="modal">Nous contacter</a></td>
  </tr>
</table>
 