<div class="row">
    <div class="col-lg-6 col-xs-6" style="text-align:center;">
            <iframe width="560" height="315" src="https://sacado.xyz/ressources/videos/creer_groupe.mp4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6 col-xs-6" style="text-align:center;">
            <iframe width="560" height="315" src="https://sacado.xyz/ressources/videos/individualiser.mp4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-xs-6" style="text-align:center;">
            <iframe width="560" height="315" src="https://sacado.xyz/ressources/videos/archiver_parcours.mp4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6 col-xs-6" style="text-align:center;">
            <iframe width="560" height="315" src="https://sacado.xyz/ressources/videos/ranger.mp4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-xs-6" style="text-align:center;">
            <iframe width="560" height="315" src="https://sacado.xyz/ressources/videos/suivi_parent.mp4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6 col-xs-6" style="text-align:center;">
            <iframe width="560" height="315" src="https://sacado.xyz/ressources/videos/suivis_bilan.mp4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>