@media screen{
	.rquiz-crossword{
		display:block;
		margin:10px;
		padding:0;
		width:calc(100% - 11px);
	}
	.rquiz-crossword table{
	border-collapse:collapse;
	margin:0 10px;
	}
	.rquiz-crossword table td{
	font-weight:700;
	font-family:Verdana,sans-serif;
	height:1.5em;
	margin:0;
	padding:0;
	text-align:center;
	width:1.5em
	}
	.rquiz-crossword table [data-c]{background:#fff;border:1px solid #000}.rquiz-crossword table [data-tag]{cursor:pointer}
	.rquiz-crossword table [data-tag]:before{color:red;content:attr(data-tag);font-size:80%;margin:-.3em 0 0 -.5em;opacity:.4;position:absolute}
	.rquiz-crossword dialog{background:rgba(255,255,255,0.8);border:none;display:none;margin:0;padding:0;position:absolute;width:calc(100vw - 21px)}
	.rquiz-crossword dialog div{background:#fff;border:1px solid #888;border-radius:5px;box-shadow:0 0 5px #bbb;display:block;margin:0;max-width:600px;min-height:120px;padding:0;position:relative;vertical-align:middle}
	.rquiz-crossword dialog div > span:first-of-type{color:#fff;cursor:pointer;display:block;font-weight:700;height:1em;position:absolute;right:.1em;top:.1em;width:1em}
	.rquiz-crossword dialog div > h2{background:#888;color:#fff;display:block;margin:0;padding:.1em .5em;text-shadow:0 0 1px #000;font:110% Arial,sans}
	.rquiz-crossword dialog div > p:first-of-type{cursor:help;font-family:Arial,sans;height:0;margin:0;overflow:hidden;padding:1.5em 0 0 1.5em;position:absolute;right:.5em;top:1.8em;width:0}
	.rquiz-crossword dialog div > p:first-of-type:before{
		background:#69f;
		border:3px double #fff;
		border-radius:1em;color:#fff;
		content:"?";
		display:block;
		font-weight:700;
		height:1em;
		overflow:visible;
		padding:0 .1em .2em;
		position:absolute;left:0;opacity:.5;text-align:center;top:0;width:1em
	}
	.rquiz-crossword dialog div > p:first-of-type.rquiz-show{background:#eef;border:1px solid #88f;border-radius:5px;height:auto;margin:.5em;overflow:visible;padding:.5em;width:auto;z-index:1}
	.rquiz-crossword dialog div > p:first-of-type.rquiz-show:before{background:#f88;content:"×";left:auto;opacity:1;right:-.6em;top:-.6em}
	.rquiz-crossword dialog form{display:block;margin:1em;padding:0}.rquiz-crossword dialog form p{display:block;margin:0;padding:0}
	.rquiz-crossword dialog div .rquiz-tag{border:1px solid #000;border-radius:5px;color:red;display:inline-block;margin:0 .3em 0 0;opacity:.4;text-align:center;width:2em}
	.rquiz-crossword dialog label{
		background:#cfc;border:1px solid #0b0;
		border-radius:5px;box-shadow:0 0 5px #bbb;
		color:#000;cursor:pointer;
		display:inline-block;font-weight:700;height:1em;margin:0 .1em 0 0;padding:.1em .2em .3em;text-align:center;vertical-align:middle;width:1em
	}
	.rquiz-crossword dialog label.rquiz-focus{background:#fcc;border:1px solid red;color:red}
	.rquiz-crossword dialog button{background:#efe;border-bottom:1px solid #888;border-left:1px solid #fff;border-right:1px solid #888;border-top:1px solid #fff;border-radius:5px;box-shadow:0 0 4px #888;color:#080;cursor:pointer;font-weight:700;margin:8px;padding:.1em .5em;text-align:center;text-shadow:0 0 1px #fff}
	.rquiz-crossword dialog input{clip:rect(0 0 0 0);overflow:hidden;position:absolute}
}
@media print{
	.rquiz-crossword{clear:both;display:block;page-break-before:always;page-break-inside:avoid;position:relative}
	.rquiz-crossword table{font-size:10pt}
	.rquiz-crossword table:first-of-type{border-collapse:collapse;margin:0 0 4em}
	.rquiz-crossword table:first-of-type td{font-weight:700;font-family:Verdana,sans-serif;height:1.5em;margin:0;padding:0;text-align:center;width:1.5em}
	.rquiz-crossword table:first-of-type [data-c]{border:.1pt solid #000}
	.rquiz-crossword table:first-of-type [data-tag]:before{content:attr(data-tag);font-size:70%;font-weight:400;margin:-.3em 0 0 -.5em;position:absolute}
	.rquiz-crossword dialog{display:none}
	.rquiz-crossword table:last-of-type,.rquiz-crossword table:last-of-type td,.rquiz-crossword table:last-of-type th{border-collapse:collapse;border-left:.1pt solid #000;border-right:.1pt solid #000}
	.rquiz-crossword table:last-of-type th{border-bottom:.1pt solid #000;width:49%}
	.rquiz-crossword table:last-of-type td{border-top:.1pt solid #000;padding:0 .5em;vertical-align:top}
	.rquiz-crossword table:last-of-type dl{margin:0;padding:.2em}
	.rquiz-crossword table:last-of-type dt{border:.1pt solid #000;display:block;margin:0 0 0 -3em;position:absolute;text-align:center;width:2em}
	.rquiz-crossword table:last-of-type dd{display:inline;margin:0;padding:0}
	.rquiz-crossword table:last-of-type dd:after{content:" ";display:block;margin:0 0 1em}
}

@media screen{
	.rquiz-gapfill{display:block;margin:10px;padding:0;width:calc(100% - 11px)}
	.rquiz-gapfill label{margin:0;padding:0;display:inline-block;vertical-align:middle}
	.rquiz-gapfill label img,.rquiz-gapfill .rquiz-target img{margin:0;padding:0;vertical-align:middle;}
	.rquiz-gapfill label input{font-size:95%;margin:0;padding:2px;text-align:center;width:8em}
	.rquiz-gapfill input.rquiz-error{color:red}
	.rquiz-gapfill.rquiz-finished label input{
		background:#efc;border:none;border-radius:5px;box-shadow:0 0 5px 0 #888;display:inline;padding:.1em .2em}
	.rquiz-gapfill .rquiz-target{
		background:#efe;
		border:1px dashed #0c0;
		display:inline-block;
		min-height:2em;
		min-width:5em;
		vertical-align:middle
	}
	.rquiz-gapfill .rquiz-target.rquiz-highlighted{
		background:#efe;
		border:1px solid #0e0;
		box-shadow:0 0 20px 20px #dfd;
		position:relative
	}
	.rquiz-gapfill table.puzzle{
		border:2px ridge #000;
		border-collapse:collapse;
		padding:0;margin-bottom:20px
	}
	.rquiz-gapfill table.puzzle tbody,.rquiz-gapfill table.puzzle td,.rquiz-gapfill table.puzzle th,.rquiz-gapfill table.puzzle thead,.rquiz-gapfill table.puzzle tr{
		border-collapse:collapse;
		height:auto;
		margin:0;
		padding:0;width:auto
	}
	.rquiz-gapfill table.puzzle td{
		border:1px solid #aaa;
	}
	.rquiz-gapfill table.puzzle .rquiz-target{
		background:#eee;
		border:none;
		height:100px;
		width:100px
	}
	.rquiz-gapfill table.puzzle .rquiz-target *{
		border:none;
		box-shadow:none;
		margin:0;padding:0
	}
	.rquiz-gapfill table.puzzle .rquiz-highlighted{
		background:#efe;
		border:1px dashed #0e0;
		box-shadow:none!important;
		margin:-1px}
	.rquiz-gapfill .rquiz-piece.puzzle{
		padding:0;
	}
	.rquiz-gapfill .rquiz-piece.puzzle img{
		margin:0
	}
}

@media print{
	.rquiz-gapfill{display:block;page-break-before:always;page-break-inside:avoid}
	.rquiz-gapfill .rquiz-pool{border-top:1px solid #d0d0d0;display:block;margin:1em 0 0;padding:1em 0 0}
	.rquiz-gapfill label{border-bottom:1px solid #ccc}
	.rquiz-gapfill label img{margin:0;vertical-align:middle}
	.rquiz-gapfill label input{border:none;visibility:hidden;width:7em}
	.rquiz-gapfill .rquiz-piece{border-radius:.2em;display:inline-block;margin:0 .5em 0 0;padding:.2em .7em;border:1px solid #ccc}
	.rquiz-gapfill .rquiz-piece.puzzle{border-radius:0;margin:0 1em 1em 0;padding:0}
	.rquiz-gapfill .rquiz-piece.puzzle img{margin:0;padding:0;vertical-align:bottom}
	.rquiz-gapfill .rquiz-target .rquiz-piece{display:none}
}

@media screen{
	.rquiz-matching{display:block;margin:10px;padding:0;width:calc(100% - 11px)}
	.rquiz-matching .rquiz-target{background:#f6f6f6;border-radius:2px;box-shadow:0 0 5px #bbb;margin:0 0 10px;padding:5px;width:calc(100% - 30px)}
	.rquiz-matching .rquiz-target .rquiz-piece:first-of-type{border:1px solid #aaa}
}

@media print{
	.rquiz-matching{clear:both;display:block;page-break-before:always;page-break-inside:avoid}
	.rquiz-matching .rquiz-pool{border-top:1px solid #ddd;display:block;margin:0;padding:5px 0}
	.rquiz-matching .rquiz-piece{border:.1pt solid #8f8;border-radius:.2em;display:inline-block;margin:0;padding:.2em .7em;text-align:center;vertical-align:middle}
	.rquiz-matching .rquiz-piece img{padding:0;margin:-.2em -.7em}
	.rquiz-matching .rquiz-target{border:.1pt solid #ccc;border-radius:.2em;display:block;margin:0 0 1em;min-height:4em;padding:.5em}
	.rquiz-matching .rquiz-target .rquiz-piece{border:.1pt solid #aaa;border-radius:.2em}
	.rquiz-matching .rquiz-pool .rquiz-piece{margin-right:2em}
}

@media screen{
	.rquiz-memo{display:block;margin:10px;padding:0;width:calc(100% - 11px)}
	.rquiz-memo .rquiz-pool{background:none;box-shadow:none}
	.rquiz-memocard{cursor:pointer;display:inline-block;font-size:12px;height:120px;margin:0 10px 10px 0;padding:0;perspective:400px;position:relative;transform-style:preserve-3d;width:120px}
	.rquiz-memocard.rquiz-fixed > span > span:last-child,.rquiz-memocard.rquiz-open > span > span:last-child,.rquiz-finished .rquiz-memocard > span > span:last-child{transform:rotateY(0deg)}
	.rquiz-memocard.rquiz-fixed > span > span:first-child,.rquiz-memocard.rquiz-open > span > span:first-child,.rquiz-finished .rquiz-memocard > span > span:first-child{transform:rotateY(-180deg);box-shadow:none}
	.rquiz-memocard > span,.rquiz-memocard > span > span:first-child,.rquiz-memocard > span > span:last-child{height:120px;left:0;position:absolute;top:0;width:120px}
	.rquiz-memocard > span{background:transparent;transform-style:preserve-3d;transition:.6s}
	.rquiz-memocard > span > span:first-child,.rquiz-memocard > span > span:last-child{backface-visibility:hidden;transition:.6s;transform-style:preserve-3d}
	.rquiz-memocard > span > span:first-child{background:url(./images/memo.png);box-shadow:0 0 5px #bbb;transform:rotateY(0deg);z-index:2}
	.rquiz-memocard > span > span:last-child{background:#fff;display:inline-table;transform:rotateY(180deg)}
	.rquiz-memocard > span > span:last-child span{border:6px solid #f88;display:table-cell;height:108px;text-align:center;vertical-align:middle;width:108px}
	.rquiz-memocard.rquiz-fixed > span > span:last-child span,.rquiz-finished .rquiz-memocard > span > span:last-child span{border-color:#af8}
	.rquiz-memocard img{vertical-align:middle}}@media print{.rquiz-memo{display:none}
}

@media screen{
	.rquiz-multichoice{display:block;margin:10px;padding:0;width:calc(100% - 11px)}
	.rquiz-multichoice ol{counter-reset:level01;list-style:none;margin:0;padding:0}
	.rquiz-multichoice ol li{display:inline-block;margin:0 1em 1em 0;padding:0}
	.rquiz-multichoice ol input{clip:rect(0 0 0 0);cursor:pointer;margin:0;overflow:hidden;position:absolute}
	.rquiz-multichoice ol label{border-radius:5px;box-shadow:0 0 5px 1px #bbb;cursor:pointer;display:block;padding:.5em 1em;position:relative;margin:0}
	.rquiz-multichoice ol label:before{display:inline-block;content:counter(level01, upper-latin) ")";counter-increment:level01;margin:0;padding:0 0 0 .2em}
	.rquiz-multichoice ol input:checked + label{background:#eee;border:1px solid #999;box-shadow:0 0 5px #bbb inset;margin:-1px}
	.rquiz-multichoice.rquiz-finished ol label{color:#0a0}
	.rquiz-multichoice.rquiz-finished li[data-x] label{color:#a00}
	.rquiz-multichoice.rquiz-finished ol label:after{bottom:-.5em;color:red;content:"✗";font-size:150%;position:absolute;right:-.2em;text-shadow:2px 1px 3px #888}
	.rquiz-multichoice.rquiz-finished li:not([data-x]) input:checked + label:after,.rquiz-multichoice.rquiz-finished li[data-x] input:not(:checked) + label:after{bottom:-.1em;color:#0b0;content:"✓";right:-.3em}
	}

@media print{
	.rquiz-multichoice{display:block;page-break-before:always;page-break-inside:avoid}
	.rquiz-multichoice ol{counter-reset:level01;list-style:none;margin:0;padding:0}
	.rquiz-multichoice ol li{display:inline-block;margin:0 1em .5em 0;padding:0;list-style-position:inside;list-style-type:upper-alpha}
	.rquiz-multichoice ol li:before{content:counter(level01, upper-latin) ") ";counter-increment:level01;padding-right:.1em}
	.rquiz-multichoice ol li label{padding:.5em 1em .5em 0}.rquiz-multichoice ol li input{display:none}
}

@media screen{
	body:not(.rquiz) .zuordnungs-quiz,body:not(.rquiz) .rquiz-matching, body:not(.rquiz) .lueckentext-quiz,body:not(.rquiz) .rquiz-gapfill,body:not(.rquiz) .memo-quiz,body:not(.rquiz) .rquiz-memo,body:not(.rquiz) .multiplechoice-quiz,body:not(.rquiz) .rquiz-multichoice,body:not(.rquiz) .schuettel-quiz,body:not(.rquiz) .rquiz-wordjumble,body:not(.rquiz) .kreuzwort-quiz,body:not(.rquiz) .rquiz-crossword,body:not(.rquiz) .suchsel-quiz,body:not(.rquiz) .rquiz-wordsearch,body:not(.rquiz) .buchstabenraten-quiz,body:not(.rquiz) .rquiz-wordguess{display:none}
	.rquiz-print{display:none}[id^="rquiz"]{margin:0 0 2em}[id^="rquiz"]:after{clear:left;content:"";display:block}
	.rquiz-piece{background:#fff;border-radius:5px;display:inline-block;margin:5px;padding:.5em 1em;text-align:center;vertical-align:middle}
	.rquiz-piece img{vertical-align:bottom;margin:-.3em -.8em;padding:0}
	.rquiz-piece.rquiz-draggable{background:#efc;box-shadow:0 0 5px 0 #888;cursor:move}
	.rquiz-dragging{position:relative;z-index:1}
	.rquiz-target.rquiz-highlighted{background:#ffc0c0;box-shadow:0 0 5px #e00000}
	.rquiz-pool{background:#eee;box-shadow:0 0 5px #bbb;display:block;margin:0;padding:0;width:calc(100% - 20px)}
	.rquiz-result{background:#cfc;box-shadow:0 0 5px #bbb;font-weight:700;text-align:center;width:calc(100% - 20px)}
	:not(.rquiz-finished) > .rquiz-result,.rquiz-finished .rquiz-pool{display:none}
	.rquiz-pool button,.rquiz-result button{border-bottom:1px solid #888;border-left:1px solid #fff;border-right:1px solid #888;border-top:1px solid #fff;border-radius:5px;box-shadow:0 0 4px #888;cursor:pointer;font-weight:700;margin:8px;padding:.5em 2em;text-align:center;text-shadow:0 0 1px #fff}.rquiz-pool button{background:#fee;color:red}.rquiz-result button{background:#efe;color:#080}
	.rquiz-pool button:active,.rquiz-result button:active{border-bottom:1px solid #fff;border-left:1px solid #888;border-right:1px solid #fff;border-top:1px solid #888}
}

@media print{
	.rquiz-screen{display:none}
	.rquiz-pool button,.rquiz-result{display:none}
	.rquiz-pool span{border:1pt solid #aaa}
}

@media screen{
	.rquiz-wordguess{display:block;margin:10px;padding:0;width:calc(100% - 11px)}
	.rquiz-wordguess h2{margin:0;padding:15px 20px}.rquiz-wordguess p{margin:0;padding:10px}
	.rquiz-wordguess div{display:block;position:relative;width:auto;margin:0 20px 20px}
	.rquiz-wordguess>div{float:left;box-shadow:0 0 5px red}
	.rquiz-wordguess div :last-child:after{content:" ";display:block;clear:both}
	.rquiz-wordguess .start-link{color:red;padding:2px 5px;text-align:center;font-weight:700;cursor:pointer;margin:.7rem}
	.rquiz-wordguess .start-link:hover{text-decoration:none}
	.rquiz-wordguess .statusbild{float:left;margin:10px;padding:0}
	.rquiz-wordguess .statusbild img{float:left;padding:0;margin:0;background:#fff}
	.rquiz-wordguess .eingabehinweis{position:absolute;top:0;right:0;width:18px;height:18px;background:url(./images/help.gif) right top no-repeat;cursor:help;border:1px solid transparent}
	.rquiz-wordguess .eingabehinweis span{display:none;position:absolute;top:-1px;right:-1px;margin:0;padding:1em 2em 1em 1em;font-size:75%;font-weight:700;width:300px;height:auto;background:#fff url(./images/help.gif) right top no-repeat;border:1px solid #888}
	.rquiz-wordguess .erkannte-woerter{position:static;float:right;margin-top:2em;border:none}
	.rquiz-wordguess .erkannte-woerter p{text-align:center;font-weight:700;margin:0;padding:0}
	.rquiz-wordguess .erkannte-woerter li.erkannt{font-weight:700}
	.rquiz-wordguess .geratene-buchstaben{position:static;border:none;clear:both;padding:0}
	.rquiz-wordguess .geratene-buchstaben p{float:left;font-weight:700;margin:0;padding:0 20px 0 0}
	.rquiz-wordguess .geratene-buchstaben ul{list-style:none}
	.rquiz-wordguess .geratene-buchstaben li{float:left;min-width:1.2em;margin:0 5px 5px 0;padding:0;border:1px solid red;background:#f88;text-align:center;font-weight:700;color:red}
	.rquiz-wordguess .geratene-buchstaben li.treffer{border:1px solid #0f0;background:#cfc;color:#00a000}
	.rquiz-wordguess .ratewort{float:left;font-size:130%;margin-top:4em;list-style:none}
	.rquiz-wordguess .ratewort li{display:inline-block;width:1.2em;border:1px solid #666;background:#ccc;margin:0 5px;text-align:center}
	.rquiz-wordguess .ratewort li.erraten{border:1px solid #0f0;background:#cfc;color:#00a000}
}

@media print{
	.rquiz-wordguess{display:none}
}

@media screen{
	.rquiz-wordjumble{display:block;margin:10px;padding:0;width:calc(100% - 11px)}
	.rquiz-wordjumble label{background:#efd;border-radius:5px;box-shadow:0 0 5px #694;cursor:pointer;display:inline-block;margin:0 .3em;padding:.1em}
	.rquiz-wordjumble label input{font-size:95%;padding:0 .2em;text-align:center;width:5em}
	.rquiz-wordjumble label input.rquiz-error{color:red}
}

@media print{
	.rquiz-wordjumble{display:block;page-break-before:always;page-break-inside:avoid}
	.rquiz-wordjumble label{background:#eee;border-bottom:.11pt solid #ccc;margin:0 0 10px;padding:0;white-space:nowrap}
	.rquiz-wordjumble label input{margin:0;padding:0;visibility:hidden;width:8em}
}

@media screen{
	.rquiz-wordsearch{display:block;margin:10px;padding:0;width:calc(100% - 11px)}
	.rquiz-wordsearch table{border-collapse:collapse;display:inline-table;margin:0 2em 2em 10px;vertical-align:top}
	.rquiz-wordsearch table td{background:#fff;border:1px solid #000;cursor:pointer;font-weight:700;font-family:Verdana,sans-serif;height:1.5em;margin:0;padding:0;text-align:center;width:1.5em}
	.rquiz-wordsearch.rquiz-finished table td{cursor:default}
	.rquiz-wordsearch table .rquiz-fixed{background:#cfc}
	.rquiz-wordsearch table .rquiz-highlighted{background:#fcc;border-color:#fcc;box-shadow:0 0 20px 10px #fcc;color:red;z-index:1}
	.rquiz-wordsearch table + aside{display:inline-block;margin:0;padding:0;width:20em}
	.rquiz-wordsearch table + aside h2{font-size:105%;margin:0;padding:0;text-align:center}
	.rquiz-wordsearch table + aside ol{margin:.5em 0 2em;padding:0 0 0 2em}
	.rquiz-wordsearch table + aside li:empty{border-bottom:1px solid #000;margin:0;padding:0 0 .2em}
}

@media print{
	.rquiz-wordsearch{clear:both;display:block;page-break-before:always;page-break-inside:avoid}
	.rquiz-wordsearch table{border-collapse:collapse;font-size:10pt;margin:0 2em 0 0;padding:0}
	.rquiz-wordsearch table td{background:#fff;border:.1pt solid #000;font-weight:700;font-family:Verdana,sans-serif;height:1.5em;margin:0;padding:0;text-align:center;width:1.5em}
	.rquiz-wordsearch table + aside{display:block;margin:2em 0 0;padding:0;width:20em}
	.rquiz-wordsearch table + aside h2{font-size:105%;margin:0;padding:0;text-align:center}
	.rquiz-wordsearch table + aside li:empty{border-bottom:.1pt solid #000;margin:0;padding:0 0 1em}
}
