.search_bar{
  height:70px;
}


.widget-user-header .shared {
    position: absolute;
    font-size: 10px;
    right: 0px;
    top: 20px;
    font-weight: normal;
}



/***************************************************************************/
/********************* navigation ******************************************/
/***************************************************************************/
.navbar-default{
    background-color: #FFF;
    border :  transparent !important;
    margin-bottom: 20px;
    border-radius:0px;
}

.content_title {
    padding-left: 35px;
    background-color: #FFF;
    margin-left: 0px ;
    min-height: 40px;  
}

.main-header .navbar {
  -webkit-transition: margin-left 0.3s ease-in-out;
  -o-transition: margin-left 0.3s ease-in-out;
  transition: margin-left 0.3s ease-in-out;
  margin-bottom: 0;
  margin-left: 230px;
  border: none;
  min-height: 40px;
  border-radius: 0;
}
 
 .navbar{
  margin-bottom: 25px;
  margin-top: 5px;
  min-height: 45px;

}

.navbar-right {
    float: right !important;
    margin-right: 0px;
    padding-right: 15px;
}

/***************************************************************************/
/*********************     card   ******************************************/
/***************************************************************************/
.form_card{
  padding: 25px ;
  position:relative;
  border : 1px solid transparent!important;
  background-color: white;
  border-radius: 4px;
}

/***************************************************************************/
/*********************     round   ******************************************/
/***************************************************************************/


.round {
    margin-top: 150px;
    margin-bottom: 30px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 8px rgb(0 0 0 / 50%);
    -moz- box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px rgb(0 0 0 / 50%);
    background-color: #F7F7F7;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.onclic{
  font-weight: normal;
  font-size: 15px;
}


/***************************************************************************/
/*********************   pop up tag   **************************************/
/***************************************************************************/

 .widget-user-header .group_show{
  position: absolute;
  top:0px;
  left:0px;
  font-size: 16px;
  border-radius:2px;
  width:310px;
  padding: 10px;
  background-color:#FFF;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  z-index:60;
}



.ia_options{
  padding:10px;
  background-color: white;
  position: absolute;
  width: 301px;
  top:3px;
  z-index:2;
  height:135px;
  opacity:0.97;
}


/***************************************************************************/
/*********************       btn      **************************************/
/***************************************************************************/
.btn-secondary{
  border-radius: 5px;
  border : 1px solid #BBB;
  background-color: #CCC;
  color:white;
  font-weight:100;
  padding: 1px 7px;
}

.btn-sacado_active,.btn-sacado_active:hover, .btn-sacado_active:active,.btn-sacado_active:focus{
  border-radius: 5px;
  border : 1px solid #5d4391;
  background-color: #5d4391;
  color:white;
}

.qrandom{
  min-height:100px;
}
 

/***************************************************************************/
/*********************      quizz     **************************************/
/***************************************************************************/

li.sorted_list {
    border: 1px solid #885ba3;
    border-radius: 4px;
    padding: 5px;
    list-style-type: none;
    font-size: 14px;
    background-color: #fff;
    margin: 3px 3px 3px 0;
    cursor: move;
}


.quizz_font30 {
    font-size: 20px;
    text-align: left;
}


.multiple_quizz_box_answer {
    width: 100%;
    overflow: hidden;
    border: 1px solid #CCC;
    color: #666;
    background: #FFF;
    word-break: break-word;
    overflow-wrap: break-word;
    resize: none;
    align-items: center;
    border-radius: 5px;
}

.quizz_box_answer_numeric{
  background-color: white;
  border: 1px solid #5c5c5c;
  font-size: 40px;
  text-align: center;
  min-width: 10em;
  padding:15px;
}

.quizz_box{
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    color: #666;
    background: white;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
    align-items: center;
    border-radius: 5px;
    align-items: center;
    min-height: 90px;
    max-height: 200px;
    border: 1px solid #CCC;
    -webkit-box-shadow: 0px 0px 0px rgb(0 0 0 / 26%);
    box-shadow: 0px 0px 0px rgb(79 73 66 / 26%);
}

#latex_formula{

    float: left;
    margin: 0px;
    position: relative;
    border: 1px solid #e6e2dd; 
    background-color: white;
    padding: 15px;
}


.formula{
  border:1px solid #CCC;
  background-color: #F7F7F7 ;
  border-radius: 3px;
  padding:3px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}


.quizz_assets {
    background-color: white;
}

.formula_answer{
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*********************************************************************************/
/*********************  Classement sur axe  **************************************/
/*********************************************************************************/
div.carte {
  position: absolute;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  width:150px;
}
#tableau {
    width:80%;
    height:500px;
    border:2px solid; 
    resize:both ; 
    overflow:auto;
}
#axe {
  width:80%;
  height:3px;
  background-color: #000000;
  border: 0 px solid;
  position:relative;
  top:70px;
  left:10%;
}


.draggable{
  cursor: -webkit-grab; 
  cursor: grab;
}


.draggable:hover{
  cursor: -webkit-grab; 
  cursor: grab;
  font-weight: bold;
}
