/********************************************************************/
/***********  dark-bleu_index : #0960B5     ---------> fond #d6f4ff
/***********  dark-green_index : #00B999
/***********  bleu_index :  #0093CA         ---------> fond #d6f4ff
/********************************************************************/
/*body{
background:-webkit-gradient(linear, left bottom, right top, from(#38438b), color-stop(#944b94), color-stop(#d75a88), color-stop(#ff7e71), color-stop(#ffb25f), to(#ffeb68));background:-webkit-linear-gradient(left bottom, #38438b, #944b94, #d75a88, #ff7e71, #ffb25f, #ffeb68);background:-o-linear-gradient(left bottom, #38438b, #944b94, #d75a88, #ff7e71, #ffb25f, #ffeb68);background:linear-gradient(to right top, #38438b, #944b94, #d75a88, #ff7e71, #ffb25f, #ffeb68);

height: 100vh;
background-image:-webkit-gradient(linear, left bottom, right top, from(#6d327c), color-stop(#485DA6), color-stop(#00a1ba), color-stop(#00BF98), to(#36C486));background-image:-webkit-linear-gradient(left bottom, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);background-image:-o-linear-gradient(left bottom, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);background-image:linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);
}
*/
/********************************************* bleu :  #005e74 ********************************************/
/********************************************* violet       :  #5d4391 ************************************/
/********************************************* violet light :  #f1eef7 ************************************/
/********************************************* vert : #1bc074 *********************************************/
/********************************************* orange: #ffb400 ********************************************/
/********************************************* rouge: #cb2131 *********************************************/
/********************************************* bleu side bar #364e61   ************************************/
/********************************************* bleu content #f5f8f9 ***************************************/
/********************************************* moutarde #cb9500 *******************************************/
/********************************************* violet #364e61  ********************************************/
/********************************************* FOND DE PAGE #f4f6f9 ***************************************/
/********************************************* gris #657574 ***********************************************/
/********************************************* beige #e6e2dd **********************************************/
/********************************************* beige clair #f2f1f0*****************************************/
.to_projection{
	cursor:pointer;
}


.content-wrapper, .right-side {
    min-height: 100%;
    margin-right: 0px;
}

.navbar {
    margin-bottom: 0px;
    min-height: 45px;
}
.navbar-default {
    background-color: #FFF;
    border: transparent !important;
    margin-bottom: 0px; 
    border-radius: 0px;
}
h1 {
    margin-bottom: 0px;
}

.content_main {
    margin-left: 35px;
    margin-right: 35px;
}
.this_page_left{
	height:890px;
	background-color: white;
    box-shadow: 0px 10px 30px rgba(160,153,172, 0.7);
    -webkit-box-shadow: 0px 5px 5px rgba(160,153,172, 0.7);
    -moz-box-shadow:0px 5px 5px rgba(160,153,172,0.7);
    border-radius: 0px 0px 0px 5px;
}

.this_page_right{
	height:890px;
	background-color: white;
    box-shadow: 0px 10px 30px rgba(160,153,172, 0.7);
    -webkit-box-shadow: 0px 5px 5px rgba(160,153,172, 0.7);
    -moz-box-shadow:0px 5px 5px rgba(160,153,172,0.7);
    border-radius: 0px 0px 5px 0px;	
}
/******************************************* TOP **********************************************************/
.course_page_top{
    background-color: #f2ebff;
    color: #5d4391;
    font-size: 18px;
    font-weight: 600;
}

.ad_page_top{
	background-color: #FFF;
	background-image: url('/static/img/fond_ad.png');
	background-repeat: repeat-y;
}

.parcoursu_page_top{
  background-color: #FFF;  /* #16b900; */
  padding:10px;
  font-size:14px;
  font-weight: 700;
  color:#5d4391;        
}

.parcoursd_page_top{
  background-color:#FFF; /* #0093CA;*/
  padding:10px;
  font-size:14px;
  font-weight: 700;  
  color:#5d4391;     
}

.parcourst_page_top{
  background-color:#FFF; /* #cb2131;*/
  padding:10px;
  font-size:14px;
  font-weight: 700;
  color:#5d4391;       
}

.auto_page_top{
  background-color:#FFF;/* #ffb400;*/
  padding:10px;
  color:#5d4391;  
  font-size:14px;
  color:#5d4391;     
}
.intro_page_top{
  background-color:#FFF;/* #FCF8FF;*/
  padding:10px;
  color:#5d4391;  
  font-size:30px;
  font-weight: 700;
  height:150vh;    
  overflow: hidden
}

.algo_page_top{
  background-color: #FFF;/*#B0A8BA;*/
  padding:10px;
  color:#5d4391;  
  font-size:30px;
  font-weight: 700;
  color:#5d4391;     
}


.page_book{
	padding: 0px;
    border-radius: 5px;
    border: 1px solid #523193;
    box-shadow: 0px 10px 30px rgba(234,225,225, 0.7);
    -webkit-box-shadow: 10px 10px 30px rgb(89 90 125 / 70%);
    -moz-box-shadow: 0px 5px 5px rgba(234,225,225, 0.7);
}

.one_page{
	width: 1000;
	margin-left: auto;
	margin-right: auto;  
}

.two_page{
	width: 95%;
	margin-left: auto;
	margin-right: auto;  
}

.two_page *  {
	font-size:0.8rem!important;  
}


.no_padding_right{
	padding-right:1px!important;  
	padding-left: 0px;
	padding-top: 0px;
	border-radius: 4px 0px 0px 4px;
	box-shadow: -6px 0px 6px rgb(89 90 125 / 70%) inset;
    -webkit-box-shadow: -6px 0px 6px rgb(89 90 125 / 70%) inset;
    -moz-box-shadow: -6px 0px 6px rgb(89 90 125 / 70%) inset;
	border-left:2px solid  rgb(89 90 125 / 70%);
}


.no_padding_left{
	padding-left:1px!important;
	padding-right: 0px;
	padding-top: 0px;
	border-radius:0px 4px 4px 0px;
	box-shadow: 1px -3px 20px rgb(89 90 125 / 70%) inset;
    -webkit-box-shadow: 1px -3px 20px rgb(89 90 125 / 70%) inset;
    -moz-box-shadow: 1px -3px 20px rgb(89 90 125 / 70%) inset;
	border-right:2px solid  rgb(89 90 125 / 70%);
}




.btn-course_page_top{
  background-color: #5d4391;  
  color:white;
}
.btn-ad_page_top{
  background-color: #9274C7;  
  color:white;
}
.btn-parcoursu_page_top{
  background-color: #5c9143;  
  color:white;
}
.btn-parcoursd_page_top{
  background-color: #0093CA;  
  color:white;
}
.btn-parcourst_page_top{
  background-color: #cb2131;
  color:white;
}
.btn-auto_page_top{
  background-color: #ffb400;  
  color:white;
}
.btn-algo_page_top{
  background-color: gray;
}
/******************************************* MAIN **********************************************************/

.course_page_main{
  background-color: white ;
  color:#5d4391;
  position:relative;
  padding-left:30px;
  padding: 30px;
}


.course_page_ad_main{
    position:relative;
	background-color: #e8dcff!important;
    box-shadow: 0px 10px 30px rgba(24, 24, 25, 0.7);
    -webkit-box-shadow: 0px 5px 5px  rgba(24, 24, 25, 0.7);
    -moz-box-shadow:0px 5px 5px rgba(24, 24, 25, 0.7);
    border-radius: 0px 0px 5px 5px;
}


.course_page_u_main{
    position:relative;
	background-color: #e3fffb!important;;
    box-shadow: 0px 10px 30px rgba(24, 24, 25, 0.7);
    -webkit-box-shadow: 0px 5px 5px  rgba(24, 24, 25, 0.7);
    -moz-box-shadow:0px 5px 5px rgba(24, 24, 25, 0.7);
    border-radius: 0px 0px 5px 5px;
}



.course_page_d_main{
    position:relative;
	background-color: #def3f9!important;;
    box-shadow: 0px 10px 30px rgba(24, 24, 25, 0.7);
    -webkit-box-shadow: 0px 5px 5px  rgba(24, 24, 25, 0.7);
    -moz-box-shadow:0px 5px 5px rgba(24, 24, 25, 0.7);
    border-radius: 0px 0px 5px 5px;
}



.course_page_t_main{
    position:relative;
	background-color: #ffe3e4!important;;
    box-shadow: 0px 10px 30px rgba(24, 24, 25, 0.7);
    -webkit-box-shadow: 0px 5px 5px  rgba(24, 24, 25, 0.7);
    -moz-box-shadow:0px 5px 5px rgba(24, 24, 25, 0.7);
    border-radius: 0px 0px 5px 5px;
}

.course_page_al_main{
    position:relative;
	background-color: #e3fffb!important;;
    box-shadow: 0px 10px 30px rgba(24, 24, 25, 0.7);
    -webkit-box-shadow: 0px 5px 5px  rgba(24, 24, 25, 0.7);
    -moz-box-shadow:0px 5px 5px rgba(24, 24, 25, 0.7);
    border-radius: 0px 0px 5px 5px;
}

 
.course_page_a_main{
    position:relative;
	background-color: #fff0d6!important;;
    box-shadow: 0px 10px 30px rgba(24, 24, 25, 0.7);
    -webkit-box-shadow: 0px 5px 5px  rgba(24, 24, 25, 0.7);
    -moz-box-shadow:0px 5px 5px rgba(24, 24, 25, 0.7);
    border-radius: 0px 0px 5px 5px;
}




.this_paragraph{
	border-radius: 0px 0px 0px 5px;
	padding:20px;
}

.paragraph_label{
	margin-top: 10px;
	margin-bottom: 10px;
}


.paragraph_comp{
	margin-top: 10px;
	margin-bottom: 10px;
	position:absolute;
	right:0px;
}




.paragraph_number{
	padding :3px 10px;
	background-color:#5d4391;
	color:white;
	font-size:16px;
	font-weight: normal;
	border-radius: 50%;
}

.paragraph_title{
	padding :10px;
	color:#5d4391;
	font-size:18px;
	font-weight: 600;
}


.main_book{
	margin : 0px 15px;
}


/*  global_bloc  */
.global_bloc{
	color:#5d4391;
	position:relative;
	margin: 10px 0px;
	padding:0px;
	font-size: 16px;
}


.global_bloc .bloc_title{
	color :  white ;
	border-radius: 3px 3px 0px 0px;
	background-color:#5d4391;
	padding:3px;  
}



.global_bloc .bloc_content{
	color:#5d4391;
	padding:15px!important;
	font-size: 16px;
	font-weight: normal;
	background-color: white;
}

.global_bloc .bloc_content table tr td {
	color :  #5d4391 ;
	border-radius:0px 0px 3px 3px;
	background-color: #FFF;
	padding:5px;
	font-weight: normal;
	background-color: white;
}



.bottom_bloc{height:20px}


.parcoursu_page_top .global_bloc .bloc_title {
	background-color:#54ba4f;
	font-size: 16px;
}

.parcoursd_page_top .global_bloc .bloc_title {
	background-color:#3fc5e8;
	font-size: 16px;
}
.parcourst_page_top .global_bloc .bloc_title {
	background-color:#f0558d;
	font-size: 16px;
}
.algo_page_top .global_bloc .bloc_title {
	background-color:#fed87b;
	font-size: 16px;
}


.this_paragraph_u .global_bloc .bloc_title {
	background-color:#54ba4f;
	font-size: 16px;
}
  
.this_paragraph_d .global_bloc .bloc_title {
	background-color:#3fc5e8;
	font-size: 16px;
}
.this_paragraph_t .global_bloc .bloc_title {
	background-color:#f0558d;
	font-size: 16px;
}
.this_paragraph_a .global_bloc .bloc_title {
	background-color:#fed87b;
	font-size: 16px;
}






/*  paragraph_bloc_def  */
.paragraph_bloc_def{
	color:#5d4391;
	position:relative;
	margin: 10px 0px 0px 0px;
	padding:0px;
	font-size: 16px;
}

.paragraph_bloc_def .bloc_title{
	color :  white ;
	border-radius: 3px 3px 0px 0px;
	background-color:#5d4391;
	padding:3px;  
}

.paragraph_bloc_def .bloc_content, .paragraph_bloc_def .bloc_content table tr td {
	color :  #5d4391 ;
	border-radius:0px 0px 3px 3px;
	background-color: #FFF;
	padding:5px;
	font-weight: normal;
}



.paragraph_bloc_ex .bloc_content, .paragraph_bloc_at .bloc_content, .paragraph_bloc_rm .bloc_content , .paragraph_bloc_pp .bloc_content {
	border-left: 2px solid #5d4391;
	background-color: white;
} 




.paragraph_bloc_mt{
	color:#002804;
	position:relative;
	margin: 10px 0px 0px 0px;
	padding:0px;
	font-size: 12px;
}

.paragraph_bloc_mt .bloc_title, .modal-body .paragraph_bloc_mt .bloc_title{
	color :  white ;
	border-radius: 3px 3px 0px 0px;
	background-color:#54ba4f;
	padding:3px;  
}
 
.paragraph_bloc_mt .bloc_content, .paragraph_bloc_mt .bloc_content table tr td {
	color :  #002804 ;
	border-left: 2px solid #54ba4f;
}  






/*  paragraph_bloc_exo  */
 .paragraph_bloc_exo{
	border-radius: 4px 0px 0px 4px!important;
}

.paragraph_bloc_exo .bloc_title{
	padding:5px;
	/*margin-left:15px;*/
	width:45px;
	text-align: center;
}
 

.paragraph_bloc_exo .bloc_content{
	padding:0px!important;
	border-radius: 4px 0px 0px 4px!important;
}


.modal-body .paragraph_bloc_exo  .bloc_content{
	padding:15px!important;
	border-radius: 0px 4px 4px  0px !important;
}


.exo_u{
	background-color:#54ba4f!important ;
}
.exo_d{
	background-color:#0093CA!important ;
}

.exo_t{
	background-color:#cb2131!important ;
}

.exo_auto{
	background-color:#ffb400!important ;
}


.exo_bloc_u{
	border: 2px solid  #54ba4f;
	border-radius: 5px;
	color:#222;
	position:relative;
	padding:0px;
}
.exo_bloc_d{
	border: 2px solid  #0093CA;
	border-radius: 5px;
	color:#222;
	position:relative;
	padding:0px;
}

.exo_bloc_t{
	border: 2px solid  #cb2131;
	border-radius: 5px;
	color:#222;
	position:relative;
	padding:0px;
}

.exo_auto{
	border: 2px solid  #ffb400;
	border-radius: 5px;
	color:#222;
	position:relative;
	padding:0px;
}


.paragraph_bloc_exo .bloc_content img, .paragraph_bloc_exo .bloc_content p img {
	width:50%;
}



.paragraph_bloc_mm{
	border-radius: 30px 0px 0px 30px;
	background-color:#5d4391;
	color:white;
	position:absolute;
	padding:40px;
	right:0px;
	top:110px;
	width:70%;
}

.paragraph_bloc_mm .bloc_content, .modal-body .paragraph_bloc_mm .bloc_title{
	color:white!important;   
	background-color: #5d4391;
}

.paragraph_bloc_sf{
	position:absolute;
	right:0px;
	top:450px;
	width:60%;
}

.paragraph_bloc_sf .bloc_title, .modal-body .paragraph_bloc_sf .bloc_title{
	color :  #54ba4f ;
	background-color: white;
	font-weight: normal;
	font-size:20px;
}



.paragraph_bloc_sf .bloc_content{
	color :  #5d4391 ;
	font-weight: normal;
	border-top : dotted 2px #54ba4f ;
}

.paragraph_bloc_img{
	position:absolute;
	width:200px;
	height:200px;
	top: 100px;
	left: 15%;
	z-index:999;
}

.paragraph_bloc_img img{
	height:150px;
	border : solid 2px #5d4391 ;
}


.paragraph_bloc_rl{
	position:absolute;
	width:300px;
	top: 250px;
	left: 10%;
	border : solid 2px #5d4391 ;
	border-left : solid 1px #5d4391 ;
	border-top : solid 1px #5d4391 ;
	z-index: 999;
	background-color: white;
	opacity:0.95;
}


.this_paragraph_u{
	padding-top:20px;background-image: url('/static/img/fond_u.png'); background-repeat: repeat-y
}


.this_paragraph_d{
	padding-top:20px;background-image: url('/static/img/fond_d.png'); background-repeat: repeat-y
}
.this_paragraph_t{
	padding-top:20px;background-image: url('/static/img/fond_t.png'); background-repeat: repeat-y
}

.this_paragraph_a{
	padding-top:20px;background-image: url('/static/img/fond_a.png'); background-repeat: repeat-y
}


.this_paragraph_e{
	padding-top:20px;background-image: url('/static/img/fond_e.png'); background-repeat: repeat-y
}

.this_paragraph_none, .this_paragraph_course{
	padding-top:20px; 
}

.modal-dialog .this_paragraph_none{
	padding-top:20px;background-image: url('/static/img/fond_ad.png'); background-repeat: repeat-y
}

.modal-dialog .this_paragraph_course{
	padding-top:20px;background-color:#e8dcff;
}
/****************************************** IMAGE ;*/

.bloc_image_right{
	float:none;
}


.bloc_image_left{
	float:none;
}


.complements_img{ 
	width: 30px;
  }
.complements_img:hover  {
	width: 300px;
	position: absolute;
	z-index:999;
  }

  
a.small_size{
	font-size:12px!important;
	color:#657574;
	font-weight:normal
}

a.active_small_size{
	font-size:12px!important;
	font-weight:normal
}

.display_correction_bloc_button {
	cursor: pointer!important ;
	font-size:12px;
  }

.max_width_book{
	max-width: 60%;
}

@media (max-width: 768px) {
	.max_width_book{
		max-width: 100%;
	} 
}


@media (max-width: 1200px) {
	.max_width_book{
		max-width: 85%;
	} 
}

#book_shower_page_content{
	color:	#5d4391 ;
	font-weight : 500 ;
	border-radius: 5px;
}

