/********************************************************************/
/***********  dark-bleu_index : #0960B5     ---------> fond #d6f4ff
/***********  dark-green_index : #00B999
/***********  bleu_index :  #0093CA         ---------> fond #d6f4ff
/********************************************************************/
/*body{
background:-webkit-gradient(linear, left bottom, right top, from(#38438b), color-stop(#944b94), color-stop(#d75a88), color-stop(#ff7e71), color-stop(#ffb25f), to(#ffeb68));background:-webkit-linear-gradient(left bottom, #38438b, #944b94, #d75a88, #ff7e71, #ffb25f, #ffeb68);background:-o-linear-gradient(left bottom, #38438b, #944b94, #d75a88, #ff7e71, #ffb25f, #ffeb68);background:linear-gradient(to right top, #38438b, #944b94, #d75a88, #ff7e71, #ffb25f, #ffeb68);

height: 100vh;
background-image:-webkit-gradient(linear, left bottom, right top, from(#6d327c), color-stop(#485DA6), color-stop(#00a1ba), color-stop(#00BF98), to(#36C486));background-image:-webkit-linear-gradient(left bottom, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);background-image:-o-linear-gradient(left bottom, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);background-image:linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);
}
*/
/********************************************* bleu :  #005e74 ********************************************/
/********************************************* violet       :  #5d4391 ************************************/
/********************************************* violet light :  #f1eef7 ************************************/
/********************************************* vert : #1bc074 *********************************************/
/********************************************* orange: #ffb400 ********************************************/
/********************************************* rouge: #cb2131 *********************************************/
/********************************************* bleu side bar #364e61   ************************************/
/********************************************* bleu content #f5f8f9 ***************************************/
/********************************************* moutarde #cb9500 *******************************************/
/********************************************* violet #364e61  ********************************************/
/********************************************* FOND DE PAGE #f4f6f9 ***************************************/
/********************************************* gris #657574 ***********************************************/
/********************************************* beige #e6e2dd **********************************************/
/********************************************* beige clair #f2f1f0*****************************************/
.this_div_bloc_sort{
	position:relative;
}


.this_div_bloc_complements{
	position:relative;	
	left:70px;
}

.to_sorter_div_left{
	left:30px;
	top:30px;
	position: absolute;
	z-index: 10;
}

.to_sorter_div{
	left:30px;
	top:60px;
	position: absolute;
	z-index: 10;
}

.to_sorter_div_sub_left{
	left:30px;
	top:90px;
	position: absolute;
	z-index: 10;
}




.content-wrapper, .right-side {
    min-height: 100%;
    margin-right: 0px;
}

.navbar {
    margin-bottom: 0px;
    min-height: 45px;
}
.navbar-default {
    background-color: #FFF;
    border: transparent !important;
    margin-bottom: 0px; 
    border-radius: 0px;
}
h1 {
    margin-bottom: 0px;
}


/******************************************* TOP **********************************************************/
.course_page_top{
  background-color: #5d4391;
  padding:10px;
  color:white;
  font-size:18px;
  font-weight: 600;
}

.ad_page_top{
  background-color: #9274C7;
  padding:10px;
  color:white;
  font-size:14px;
  font-weight: 700;
}

.parcoursu_page_top{
  background-color: #00B999;
  padding:10px;
  color:white;
  font-size:14px;
  font-weight: 700;
}

.parcoursd_page_top{
  background-color: #0093CA;
  padding:10px;
  color:white;
  font-size:14px;
  font-weight: 700;
}

.parcourst_page_top{
  background-color: #cb2131;
  padding:10px;
  color:white;
  font-size:14px;
  font-weight: 700;
}

.auto_page_top{
  background-color: #ffb400;
  padding:10px;
  color:white;
  font-size:14px;
  font-weight: 700;
}

.intro_page_top{
  background-color: #FCF8FF;
  padding:10px;
  color:#5d4391;  
  font-size:30px;
  font-weight: 700;
}

.algo_page_top{
  background-color: #B0A8BA;
  padding:10px;
  color:white;
  font-size:30px;
  font-weight: 700;
}


.btn-course_page_top{
  background-color: #5d4391;  
  color:white;
}
.btn-ad_page_top{
  background-color: #9274C7;  
  color:white;
}
.btn-parcoursu_page_top{
  background-color: #00B999;  
  color:white;
}
.btn-parcoursd_page_top{
  background-color: #0093CA;  
  color:white;
}
.btn-parcourst_page_top{
  background-color: #cb2131;
  color:white;
}
.btn-auto_page_top{
  background-color: #ffb400;  
  color:white;
}
.btn-algo_page_top{
  background-color: #B0A8BA;
}
.btn-intro_page_top{
  background-color: #FCF8FF;
}

