<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>SacAdo</title>
</head>

<body>

 
 ===================================================================
  <br/> <br/>

{% for gar in gars %}

{{ gar }} <br/>

{% endfor   %}
   <br/> <br/>
 ===================================================================
  <br/> <br/>

{% for dico in dico_received %}

{{ dico.key }} ,  {{ dico.value }} <br/>

{% endfor   %}
   <br/> <br/>
 ===================================================================
 
 



</body>
</html>

 
