<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>SacAdo</title>
</head>

<body>

 {{ data_xml }}
 ===================================================================
  <br/> <br/>

{% for gar in gars %}

{{ gar }} <br/>

{% endfor   %}
   <br/> <br/>
 ===================================================================
  <br/> <br/>

{{ dico_received }}


{% for dico in dico_received %}

{{ dico }} <br/>

{% endfor   %}
   <br/> <br/>
 ===================================================================
 
 



</body>
</html>

 
