{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>SacAdo</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>

    <!-- Bootstrap CSS File -->
    <link href="{% static 'index/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">


    <!-- Libraries CSS Files -->
    <link href="{% static 'index/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'index/lib/animate/animate.min.css' %}" rel="stylesheet">

    <!--
    <link href="{% static 'index/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'index/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
    -->
    <!-- Main Stylesheet File -->
    <link href="{% static 'index/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/select2.css' %}"/>

 
    <link rel="stylesheet" type="text/css" href="{% static 'index/slick/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index/slick/slick-theme.css' %}">


</head>

<body  style="background-color: #FAEAFF">
<header id="header"  style="background-color: white">
<!--     <div class="jesuisprof">
        <a href="https://twitter.com/hashtag/jesuisprof?src=hashtag_click" target="_blank" style="color:#F0F0F0">#JeSuisProf<br> <span style="font-size:10px;">Depuis l'étranger, fidèles à la France, à ses valeurs laïques, républicaines et fraternelles.</span></a>
    </div> -->
    <div class="container">
        <div class="logo float-left">
            <a class="navbar-brand sacado" href="{% url 'index' %}#intro"><img src="{% static 'img/sacadoA1.png' %}"/> SACADO<img src="{% static 'img/approche_gar.png' %}" /></a>
        </div>
    </div>
</header><!-- #header -->
 
<section class="content_main" style="margin-top: 170px;background-color: #FAEAFF"> 
      <div class="row" align="center">
            <div class="col-sm-12 col-md-12">
                  {{ iframe|safe }}
            </div>
      </div>
</section>



<script src="{% static 'index/lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'index/lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'index/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script> 
<script src="{% static 'index/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'index/lib/mobile-nav/mobile-nav.js' %}"></script> 
<script src="{% static 'index/lib/waypoints/waypoints.min.js' %}"></script> 
<script src="{% static 'index/lib/wow/wow.min.js' %}"></script>   
<script src="{% static 'index/lib/counterup/counterup.min.js' %}"></script>   
<script src="{% static 'index/js/main.js' %}"></script> 

{% block general_js %}
<script src="{% static 'js/script/accueil.js' %}"></script> 
<script src="{% static 'js/lib/select2.min.js' %}"></script>      
<script src="{% static 'js/script/config-select2-accueil.js' %}"></script> 
<script src="{% static 'js/lib/bootstrap-toggle.min.js' %}"></script> 
<script src="{% static 'index/slick/slick.js' %}"></script>
{% endblock %}

</body>
</html>

 
