{% extends 'layout.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}



{% block body %} 
<section id="intro" class="clearfix">
    <div class="container h-100">
	    <h3 class='thin'> Mentions Légales</h3>

 

 
<p>Le site sacado.xyz est édité par l’association Sacado, association loi 1901 à but non lucratif.</p>
<p><b>Informations de l’association :</b> l’association Sacado  est immatriculée à la préfecture du Var, sous le numéro W832020065 et sous le numéro Siret 903345569 00011, dont le siège social est situé :<br/>
B Avenue de la pinède, La Capte, 83400 Hyères<br/>
adresse URL du site https://sacado.xyz</p>
 
<p><b>Direction de la publication :</b> L’édition et la direction de la publication du site https://sacado.xyz est assurée par Philippe Demaria, philippe.demaria83@gmail.com, domicilié à La Marsa (Tunisie) et Bruno Serres, bruno.serres33@gmail.com, domicilié à Managua (Nicaragua).</p>
<p>Contact : sacado.asso@gmail.com </p>
 
<p><b>Hébergement :</b> L'hébergeur du site https://sacado.xyz est la société LWS (Ligne Web Services - www.lws.fr) S.A.R.L au capital de 1 000 000 Euros, dont le siège social est situé au 10 Rue de Penthièvre, 75008 Paris France, avec le numéro de téléphone : +33 177 62 30 03.</p> 
 
<p><b>Données personnelles :</b> L’association Sacado est engagée dans une démarche continue de conformité selon les dispositions règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 applicable à compter du 25 mai 2018 (RGPD) et de la Loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, modifiée (dite Loi « informatique et libertés »).
Conformément à l'article 34 de la loi « Informatique et Libertés », l’association garantit à l'utilisateur la possibilité, pour des motifs légitimes, d'exercer son droit d'opposition, d'accès, de mise à jour, de suppression et de rectification sur les données le concernant. L'utilisateur a la possibilité d'exercer ce droit en envoyant sa demande par email à l'adresse suivante : sacado.asso@gmail.com.</p>
 
<p>Les conditions générales d'utilisation définissent les règles d'utilisation du site.</p>
 
<p><b>Propriété intellectuelle :</b> la marque et le logo Sacado sont la propriété intellectuelle de l’association Sacado.</p>
 
<p><b>COOKIES :</b> Les cookies sont de petits fichiers stockés temporairement sur le disque dur de l’ordinateur de l’Utilisateur par votre navigateur et qui sont nécessaires à l’utilisation du site https://sacado.xyz. Les cookies ne contiennent pas d’information personnelle et ne peuvent pas être utilisés pour identifier quelqu’un. Un cookie contient un identifiant unique, généré aléatoirement et donc anonyme. Certains cookies expirent à la fin de la visite de l’Utilisateur, d’autres restent.</p>
<p>L’information contenue dans les cookies est utilisée pour améliorer le site https://sacado.xyz. En naviguant sur le site, l’Utilisateur les accepte.</p>




	</div> 
</section>
{% endblock  %} 