{% extends 'layout.html' %}

{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

 

{% block body %} 
<section id="intro" class="clearfix">
    <div class="container h-100">
	    <h3 class='thin'>Mentions Légales </h3>


            <p>SacADo Académie, SA, est représentée par le cBureau SACADO<br/>
            adresse URL du site https://sacado.xyz/academy<br/>
            email : sacado.asso@gmail.com</p>
             
            <p>L'hébergeur du site https://sacado.xyz est la société LWS (Ligne Web Services -
            www.lws.fr), S.A.R.L au capital de 1 000 000 euros, dont le siège social est situé 10
            Rue de Penthièvre, 75008 Paris France, et que vous pouvez contacter au numéro
            de téléphone suivant : +33 177 62 30 03.</p>


	</div> 
</section>
{% endblock  %} 

 