{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}



{% block body %}

<section id="pricing">
    <div class="full_container">
        <form action="" method="POST">
            <div class="row">
                <div class="col-sm-12 col-md-12" align="center">
                        
                        <img src="{% if name == "autonomie" %}{% static 'img/menu_autonomie.png' %}{% else %}{% static 'img/menu_accompagnement.png' %}{% endif %}" width="60px">
                    
                        Menu <span class="sub_header"> {{  name }}</span> <span class="pull-right"><small> <a href="{% url 'student_to_association'  %}">Changer de menu</a></small> </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12" align="center">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-violet family_selected" id="one_child" >
                            <input type="radio" name="options" id="one_child_radio" value="1" checked   >  1 enfant
                        </label>
                        <label class="btn btn-violet_border family_selected" id="two_children">
                            <input type="radio" name="options"  id="two_children_radio" value="10"  >  2 enfants
                        </label>
                        <label class="btn btn-violet_border family_selected" id="three_children">
                            <input type="radio" name="options"  id="three_children_radio" value="10"  >  3 enfants
                        </label>
                        <label class="btn btn-violet_border family_selected" id="four_children">
                            <input type="radio" name="options"  id="four_children_radio" value="10"    >  4 enfants
                        </label>
                        <label class="btn btn-violet_border family_selected" id="more_children">
                            <input type="radio" name="options"  id="more_children_radio" value="10"   >  5 enfants
                        </label>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-sm-12 col-md-12" align="center">
                    <p></p>
                </div>
            </div> 
            <div class="row" id = "result_price">
                 {% for formule in formules %}
                    <div class="col-sm-4 col-md-4" align="center">
                        <div class="card">

                            <div class="row">
                                <div class="col-sm-12 col-md-12 child">
                                    1 enfant
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                  <div class="sub_header">Adhésion {{ formule.adhesion }}</div> 
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="currency">
                                    <span class="family one" id="currency_one{{ formule.nb_month }}">{{ formule.data.total1 }}</span>
                                    <span class="family two" id="currency_two{{ formule.nb_month }}">{{ formule.data.total2 }}</span>
                                    <span class="family three" id="currency_three{{ formule.nb_month }}">{{ formule.data.total3 }}</span>
                                    <span class="family four" id="currency_four{{ formule.nb_month }}">{{ formule.data.total4 }}</span>
                                    <span class="family more" id="currency_more{{ formule.nb_month }}">{{ formule.data.total5 }}</span>€ 


                                </div>
                                <div class="card-block">
                                    <p class="card-text this_center" ><small> Adhésion jusqu'au {{ formule.data.end|date:"d F Y" }} </small></p>
                                </div>
                                <a href=" " class="btn">Choisir ce menu</a>                            <br/>

                                <small>Facturé en un seul paiement.<br/> Soit <span class="family one" id="one_type{{ formule.nb_month }}">{{ formule.data.price1 }}</span>
                                                                              <span class="family two"  id="two_type{{ formule.nb_month }}">{{ formule.data.price2 }}</span>
                                                                              <span class="family three"  id="three_type{{ formule.nb_month }}">{{ formule.data.price3 }}</span>
                                                                              <span class="family four"  id="four_type{{ formule.nb_month }}">{{ formule.data.price4 }}</span>
                                                                              <span class="family more"  id="more_type{{ formule.nb_month }}">{{ formule.data.price5 }}</span>

                                                                            € x {{ formule.data.left_month }} mois.</small>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </form>



    </div>
</section> 

  








<section id="faq">
 
</section> 

 
    

{% endblock %}