 
 

Dernières mises à jour :

    29 novembre 2019 : ajout d'un lien vers l'article "10 questions d'enseignants sur la sécurité"

<h2>À propos du RGPD</h2>
<h3>1.1. Qu’est ce que le RGPD

Le règlement n° 2016/679, dit Règlement Général sur la Protection des Données (RGPD), est un règlement de l’Union européenne qui constitue le texte de référence en matière de protection des données à caractère personnel.

Il renforce et unifie la protection des données pour les individus au sein de l’Union européenne.

En France, c’est la CNIL qui est chargée de vérifier l’application de ce règlement, pour plus d’informations : page dédiée du site Internet de la CNIL

Le Ministère de l’Éducation nationale publie également une infographie « 10 principes clés pour protéger les données de vos élèves ».
<h3>1.2. Qu’est ce qu’une donnée personnelle ?

La CNIL définit une données personnelle comme :

    Toute information identifiant directement ou indirectement une personne physique (ex. nom, n° d’immatriculation, n° de téléphone, photographie, date de naissance, commune de résidence, empreinte digitale…).

Il existe une confusion fréquente entre donnée personnelle et donnée sensible (opinion politique, état de santé, etc.). postclass ne traite aucune donnée sensible.
<h3>1.3. Comment puis-je exercer mes droits ?

En tant qu’utilisateur des services de postclass, vous disposez de droits fondamentaux :

    Droit d’accès aux données : Vous disposez du droit d’accès à vos informations personnelles détenues par postclass.
    Droit de rectification : Vous disposez du droit de rectifier vos informations personnelles détenues par postclass.
    Droit d’opposition : Vous disposez du droit de vous opposer à l’utilisation de vos données personnelles détenues par postclass.
    Droit d’effacement : Vous disposez du droit de demander l’effacement de vos données personnelles détenues par postclass.
    Droit à la portabilité : Vous disposez du droit de récupérer vos données personnelles sous forme numérique, dans un format ouvert.

Afin d’exercer ces droits, vous pouvez contacter postclass à l’adresse : support@postclass.net
<h3>1.4. Qui est le délégué à la protection des données ?

Le délégué à la protection des données (ou data protection officer) déclaré auprès de la CNIL est monsieur Emmanuel Boutin, joignable à l’adresse dpo@jabberbees.com.

    Jabberbees SAS
    23 rue du président Kruger
    92600 Asnières sur Seine
    SIREN : 788 674 786

<h2>2 – Cadre général pour l’ENT postclass

Ce chapitre est construit selon le modèle proposé par la CNIL et le travail d’inventaire élaboré dans le cadre du RU-003.

Bien que l’engagement de conformité au RU-003 n’ait plus de valeur juridique depuis l’entrée en application du RGPD, il reste à ce jour la meilleure base de travail concernant la protection des données au sein des ENT.

Le Ministère de l’Éducation nationale publie le SDET (Schéma directeur des espaces numériques de travail) qui encadre l’exploitation générale de ce type de plateforme.
<h3>2.1. Responsables de traitement concernés

postclass est un « espace numérique de travail » pour les établissements scolaires à partir du collège. Le SDET est complété par l’acte réglementaire unique RU-003 qui précise que le responsable de traitement des données (définition) est :

        le chef d’établissement, pour les EPLE, les CFA et les établissements privés sous contrat ;
        le président de l'établissement, pour les établissements d’enseignement supérieur.

En fonction des traitements de données, postclass peut se positionner comme sous-traitant ou comme responsable de traitement.

postclass se positionne comme :

    sous-traitant pour ce qui concerne :
        l’exploitation de la plateforme d’espace numérique de travail dans le cadre de ses offres payantes ;
    responsable de traitement pour ce qui concerne :
        l’exploitation de la plateforme d’espace numérique de travail dans le cadre de son offre gratuite ;
        les services de commercialisation de ses produits : emailing, gestion de la relation clients, gestion des abonnements, facturation

<h3>2.2. Bases légales

Le RGPD prévoit qu’un traitement de données n’est licite que s’il remplit au moins l’une des 6 conditions prévues à l’Article 6 – Licéité du traitement.
<h4>2.2.1. Exploitation de l’ENT

Pour les offres payantes de postclass, la base légale de l’exploitation de l’ENT est la « mission d’intérêt public », pour laquelle le chef ou le président de l'établissement est responsable de traitement.

Pour l'offre gratuite de postclass, la base légale de l’exploitation de l’ENT est le consentement, pour laquelle postclass (société Jabberbees SAS) est responsable de traitement.
<h4>2.2.2. Commercialisation des produits

La base légale de la commercialisation des produits postclass est « l’exécution d’un contrat auquel la personne concernée est partie », pour laquelle postclass (société Jabberbees SAS) est responsable de traitement.
<h3>2.3. Objectifs poursuivis

Les ENT, qui permettent d’accéder, via un point d’entrée unifié, à des services et contenus numériques, ont pour objet de

    Saisir et mettre à la disposition des élèves et de leurs parents, des étudiants, des enseignants, des personnels administratifs et plus généralement de tous les membres de la communauté éducative, des contenus éducatifs et pédagogiques, des informations administratives, relatives à la vie scolaire, aux enseignements et au fonctionnement de l’établissement ainsi que de la documentation en ligne ;
    Permettre des échanges et des collaborations entre écoles et établissements d’un même ENT ainsi qu’avec des écoles et des établissements utilisant des ENT différents ;
    Permettre un accès à des services externes à l’ENT, dits services tiers.
    Fournir des statistiques en vue de permettre la mesure des accès aux différents services proposés ;

<h3>2.4. Catégories de personnes concernées

Outre les données créées lors de l’ouverture d’un compte ENT (identifiant et mot de passe), les catégories de personnes pouvant être concernées dans l’ENT sont

    Élève ;
    Personnel enseignant et non enseignant ;

Les données utilisées dans les ENT peuvent être issues notamment de systèmes d’information mis en œuvre par les ministères de l’éducation nationale et de l’enseignement supérieur et de la recherche ou de systèmes d’information mis en œuvre par les collectivités territoriales, soit fournies par les usagers des ENT.
<h3>2.5. Catégories de données collectées
<h4>2.5.1. État-civil, identité, données d’identification
	Élève	Personnel
Civilité	X	X
Prénom	X	X
Nom	X	X
Messages reçus et envoyés	X	X
Email	facultatif	X
Numéro de téléphone	-	facultatif
Avatar / photo	X	X
Date de naissance	X	X
Adresse IP	X	X

 
Chaque utilisateur est également lié à des espaces de travail (groupe, classe, école, etc.) par des affectations.

L’obligation de traçabilité est décrite par le décret n°2011-219 du 25 février 2011 relatif à la conservation et à la communication des données permettant d’identifier toute personne ayant contribué à la création d’un contenu mis en ligne.
2.5.2. Vie personnelle

Les liens entre les élèves. Les messages échangés entre élèves.
2.5.3. Vie scolaire, vie professionnelle

Les messages échangés entre élèves et enseignants.
2.5.4. Informations d’ordre économique et financier

Aucune.
2.5.5. Données de connexion

Adresses IP, nom et prénom, identifiant du terminal, horodatage des requêtes effectuées, type des requêtes effectuées, message d’erreur des services d’authentification externes.
2.5.6. Données de localisation (ex. déplacements, données GPS, GSM, …)

Aucune.
2.5.7. Internet

Aucune. (postclass n'utilise pas de cookies)
2.5.8. Données sensibles

Aucune.
2.5.9. Origine des données collectées

    Saisie par les utilisateurs
    Import depuis des sources de données des porteurs de projet
    Import depuis les annuaires académiques fédérateurs

2.6. Durées de conservation des données collectées
2.6.1. Comptes enseignants et gestionnaires

Lorsque tous ses abonnements ont expiré et après 1 an sans activité, le compte professeur et toutes les données personnelles associées sont supprimées : identifiant, profil, messages, notifications, documents.
2.6.2. Comptes élèves et autres utilisateurs

Lorsque plus aucun abonnement n’est actif dans les espaces de travail auxquels l’utilisateur est attaché, son compte est désactivé.

Les données personnelles associées sont alors supprimées.
2.7. Destinataires des données
2.7.1. Destinataires internes

Exclusivement les catégories de personnes susceptibles de disposer, dans la limite de leurs attributions respectives, d’un accès à l’ENT. Chaque catégorie d’utilisateur ne peut accéder qu’aux seules informations concernant ses fonctions au sein de l’établissement. Dans l’enseignement primaire :

    les élèves, en ce qui concerne leurs informations personnelles et la vie scolaire ;
    les personnels enseignants, en ce qui concerne les informations relatives à la scolarité de leurs élèves ;
    les personnels autres que les personnels enseignants, en ce qui concerne leurs fonctions dans l’établissement ;
    les intervenants extérieurs, en ce qui concerne des activités scolaires ou périscolaires auxquelles ils participent et qui sont organisées en accord avec le responsable de l’établissement ;

2.7.2. Organismes externes

Les fournisseurs proposant des services tiers via l’ENT en dehors du GAR et dans le respect des conditions strictement définies dans le SDET peuvent également être destinataires des seules données nécessaires au fonctionnement de ces services.
2.7.3. Sous-traitants

La liste détaillée des sous-traitants de postclass fait l’objet d’un chapitre dédié ci-après.
<h3>2.8. Transfert des données hors UE

Des données personnelles sont transmises hors de l’Union européenne vers les pays suivants:

    USA

Les entreprises américaines sous-traitantes de postclass étant certifiées « Privacy Shield », ces zones sont adéquates selon le RGPD.

Le chapitre dédié aux sous-traitants de postclass présente la liste de ces entreprises et les traitements de données associés.

La durée de conservation des données hors UE est allongée de sept jours pour prendre en compte le temps nécessaire aux suppressions en cascade.
2.9. Mesures de sécurité

Les mesures de sécurité organisationnelles et techniques sont prévues par le « Schéma directeur des espaces numériques de travail » (SDET) et respectées par postclass.
2.9.1. Contrôle d’accès des utilisateurs

En conformité avec le SDET
2.9.2. Contrôle des autorisations

En conformité avec le SDET
2.9.3. Propagation des informations d’identité

En conformité avec le SDET
2.9.4. Mesures de traçabilité

En conformité avec le SDET
2.9.5. Mesures de protection des logiciels (antivirus, mises à jour et correctifs de sécurité, tests, etc.)

En conformité avec le SDET
2.9.6. Sauvegarde des données

En conformité avec le SDET
2.9.7. Chiffrement des données

En conformité avec le SDET
2.9.8. Contrôle des sous-traitants

La plateforme postclass est exploitée par postclass et ses sous-traitants. Donc seuls postclass et ses sous-traitants ont accès à tout ou partie des données personnelles.

Le personnel de postclass, en fonction du niveau d’accès qu’il détient, peut accéder à des données personnelles :

    L’équipe support, dans le but d’apporter une réponse personnalisée aux demandes des utilisateurs ;
    L’équipe exploitation, pour assurer la maintenance et la mise à jour des bases de données.

Les sous-traitants sont tous adéquats au sens du RGPD, ils sont présentés au chapitre dédié.
<h2>3. Traitements de données personnelles sur postclass
<h3>3.1. La plateforme postclass recueille t-elle des données personnelles ?

Oui, l’exploitation de la plateforme postclass nécessite de connaître des données personnelles, notamment à des fins d’authentification, de contrôle d’accès et de personnalisation des services.

postclass applique les principes de minimisation des données et de privacy by design, nous ne recueillons ainsi que les données utiles à l’exploitation des services que vous choisissez sur postclass.

Les données personnelles recueillies par la plateforme postclass sont strictement utilisées dans le cadre de l’exploitation du service.
<h3>3.2. Quelles sont les données personnelles recueillies par postclass ?

L’acte réglementaire unique RU-003 précise les données personnelles qui peuvent être recueillies par un « espace numériques de travail ». Bien que l’engagement de conformité au RU-003 n’ait plus de valeur juridique depuis l’entrée en application du RGPD, il reste à ce jour la meilleure base de travail concernant la protection des données au sein des ENT.

Les données personnelles recueillies par postclass sont les suivantes :
Données personnelles – Compte « enseignant »

    Nom
    Prénom
    Email
    Affectations aux espaces de travail
    Documents stockés sur la médiathèque
    Messages reçus et envoyés
    Avatar
    Date de naissance
    Adresse IP – obligation de traçabilité

Données personnelles – Compte « élève »

    Nom
    Prénom
    Email (optionnel)
    Affectations aux espaces de travail
    Documents stockés sur la médiathèque
    Messages reçus et envoyés
    Avatar
    Date de naissance
    Adresse IP – obligation de traçabilité

L’obligation de traçabilité est décrite par le décret n°2011-219 du 25 février 2011 relatif à la conservation et à la communication des données permettant d’identifier toute personne ayant contribué à la création d’un contenu mis en ligne.
<h3>3.3. Comment sont utilisées les adresses email recueillies par postclass ?

Renseigner une adresse email est facultatif dans postclass.

Lorsqu'une adresse email est associée à un compte, elle est utilisée pour :

    La gestion de l’identité : activation de compte, authentification, gestion du mot de passe
    L’information : notifications d’activité sur la plateforme, support utilisateur, informations sur l’abonnement, l’exploitation et la vie de la plateforme

<h2>4 – Sous-traitants de postclass

Chaque sous-traitant est lui-même conforme au RGPD et engagé par contrat avec postclass.
<h3>4.1. À propos du Privacy Shield

Certains sous-traitants de postclass hébergent des données aux États-Unis, pays adéquat selon le RGPD pour les entreprises certifiées « Privacy Shield ».

Ils sont tous certifiés « Privacy Shield », le bouclier de protection des données UE – États-Unis. Selon la CNIL :

    Le Bouclier de Protection des Données, mieux connu sous le nom de « Privacy Shield », est un mécanisme d’auto-certification pour les entreprises établies aux États-Unis qui a été reconnu par la Commission européenne comme offrant un niveau de protection adéquat aux données à caractère personnel transférées par une entité européenne vers des entreprises établies aux États-Unis. Ce mécanisme est par conséquent considéré comme offrant des garanties juridiques pour de tels transferts de données.

Les infrastructures d’exploitation principales des services postclass sont quant à elles hébergées en France, par OVH.
<h3>4.2. OVH

OVH est une entreprise française, spécialiste de l’hébergement de sites internet.

Nous confions à OVH l’exploitation des services de postclass. Les serveurs sont en France dans les datacentres de Roubaix et de Gravelines.

Données personnelles concernées : toutes.

Politique de protection des données du sous-traitant : https://www.ovh.com/fr/protection-donnees-personnelles/gdpr.xml

Familles d’offres concernées : Serveurs dédiés, services public cloud, SoYouStart.
<h3>4.3. AWS

Amazon Web Services Ireland est une entreprise irlandaise, branche européenne des « services cloud aux entreprises » d’Amazon.

Nous confions à AWS Ireland le stockage des documents partagés dans postclass.

AWS Ireland est hébergé en Irlande, pays membre de l’Union Européenne et par conséquent adéquat selon le RGPD.

Donnée personnelle concernée : documents partagés au sein des espaces de collaboration.

Politique de protection des données du sous-traitant : https://aws.amazon.com/fr/compliance/gdpr-center/

Familles d’offres concernées : Amazon Simple Notification Service, région Irlande
<h3>4.4. Apple

Apple est une entreprise multinationale américaine qui conçoit et commercialise des produits électroniques grand public, des ordinateurs personnels et des logiciels informatiques.

Nous confions à Apple l’envoi des notifications « push » vers les utilisateurs de la version iOS de postclass.

Les services d'Apple utilisés sont hébergés aux Etats-Unis, pays adéquat selon le RGPD et certifié « Privacy Shield » (voir « À propos du Privacy Shield »).

Donnée personnelle concernée : notifications « push ».

Politique de protection des données du sous-traitant : https://www.apple.com/fr/legal/privacy/

Services concernés : Apple Push Notification service
<h3>4.5. Alphabet

Alphabet Inc. est une entreprise américaine basée en Californie, créée en 2015 comme un conglomérat de sociétés précédemment détenues par la société Google.

Nous confions à Alphabet l’envoi des notifications « push » vers les utilisateurs de la version Android de postclass.

Les services d'Alphabet utilisés sont hébergés aux Etats-Unis, pays adéquat selon le RGPD et certifié « Privacy Shield » (voir « À propos du Privacy Shield »).

Donnée personnelle concernée : notifications « push ».

Politique de protection des données du sous-traitant : https://firebase.google.com/support/privacy

Services concernés : Firebase
<h3>4.6. Autres technologies

postclass utilise d’autres technologies pour exploiter ses services en ligne. Ces technologies n’exploitent pas de données personnelles et ne sont donc pas référencées sur cette page.