{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}



{% block body %}

<section class="container" style="margin-top:100px">
    <h3 class="thin">Demande d'adhésion à la version Etablissement

          <span  class="btn btn-periode_test"> 15 j d'essai gratuit* </span><span style="font-size : 10px;color: #CCC"> *Pour toute nouvelle adhésion</span>

    </h3>    

    <div class="row">
       <div class="col-xs-12 col-md-12">
        {% include 'table_price.html' %}
       </div>
    </div>

    <form action="" method="POST" enctype='multipart/form-data' id="teacher_form">
        <div class="row">   
            <div class="col-xs-12 col-md-12">
                <div class="alert alert-danger">
                    <li>Si le demandeur est déjà inscrit, la demande doit être effectuée depuis son <a href="{% url 'index' %}">interface SACADO > Compte</a>.</li>
                    <li>Si votre établissement est déjà inscrit, l'administrateur ou le DAF doit procéder à un renouvellement via son <a href="{% url 'index' %}">espace Admin</a>.</li> 
                    <li>Si le demandeur n'est pas inscrit, suivre la procédure décrite ci-dessous.</li> 
                </div>
            </div>
        </div>

 

        <div class="row">                    
            <div class="col-xs-12 col-md-6">
                   
                <li class="sanspuce">1. Vous devez créer un compte, gratuitement.</li>
 
                <li class="sanspuce">2. Opter pour la version établissement</li>

                <li class="sanspuce">2.1. Depuis votre espace personnel, cliquer sur renseigner mon profil</li>
                      <img src="{% static 'img/opter_pour0.png' %}" width="250px"  />
                
                <li class="sanspuce">2.2. Sélectionner le bouton orange Opter pour la version établissement</li>
                      <img src="{% static 'img/opter_pour.png' %}"  width="250px" />
                      <br/>
                <a href="{% url 'register_teacher_accueil' %}" class="btn btn-primary">Créer un compte</a>

            </div>
            <div class="col-xs-12 col-md-6">
                {% include 'table_fonctions.html' %}
            </div>

        </div>

    </form>
 

</section> 

 
{% endblock %}