{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}

{% block require %}

    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

{% endblock %}



{% block page_title %}
     test GAR  
{% endblock %}    
 




{% block page_menu_right %}
 
{% endblock %} 
 
 
 

{% block  body %} 

<section class="content_main"> 



    <div class="row">
         uai : {{   uai }}
    </div>


    <div class="row">
        {% for g in  gros %} <li>{{ g }}</li>{% endfor %}
    </div>

    <hr/>
    <div class="row">

         school : {{   school }}
    </div>
 
    <hr/>
    <div class="row">

         ens : {{   ens }}
    </div>
 
    <hr/>
    <div class="row">

         civilite : {{   civilite }}
    </div>
 
    <hr/>
    <div class="row">
        username : {{ username }}
    </div>
     <hr/>
    <div class="row">

         first_name : {{   first_name }}
    </div>
 
    <hr/>
    <div class="row">
        last_name : {{ last_name }}
    </div>
</section>
 
{% endblock  %}   


 