{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}

{% block require %}

    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common2.js' %}"></script>

{% endblock %}



{% block page_title %}
     test GAR  
{% endblock %}    
 




{% block page_menu_right %}
 
{% endblock %} 
 
 
 

{% block  body %} 

<section class="content_main"> 



    <div class="row">
         uai : {{   uai }}
    </div>


    <div class="row">
        {% for g in  groups %} {{ g }}{% endfor %}
    </div>

    <hr/>

    <div class="row">

         dico_received : {{   dico_received }}
    </div>
 
    <hr/>
    <div class="row">
        username : {{ username }}
    </div>
 
</section>


{% endblock  %}   


 