{% extends 'qcm/form_supportfile.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block body_qtype %}
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="form_card" style="margin-top:20px;">
            <div class="form-group">
                <label>Titre </label>
                {{ form.title|add_class:"form-control"|attr:"value:Appairement par glisser déposer"   }}
                {{ form.title.errors }}
            </div>
            <label>Enoncé :</label>
            {{ form.annoncement |add_class:"form-control"|attr:"rows:3" }}
            {{ form.annoncement.errors }}<br/>
        </div>                                                
    </div>
 
    <div class="col-sm-12 col-md-6">
        <div class="form_card" style="margin-top:20px">    
            {% include 'modes.html' %}
            <div class="no_visu"> 
                {% include 'qcm/qtype/0_config_middle.html' %}
            </div>
        </div>
    </div>  
</div>



<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="form_card" style="margin-top:20px;">
            <div class="row" style="margin-bottom:20px;">
                <div class="col-sm-5 col-md-3"> <label>Les paires</label>
                    <a href="javascript:void();" id="show_pseudorandomize_zone" class="btn btn-sacado">
                        <label>Question pseudo-aléatoire ? <span class="helper_tip"> <i class="fa fa-question-circle"></i> 
                                                                <div class="helper_tip_text" >
                                                                    Nombre de choix de réponses <br/>
                                                                    proposées parmi les réponses<br/> 
                                                                    enregistrées. Ex : Si vous<br/> 
                                                                    enregistrez 20 réponses<br/>
                                                                    possibles et que vous<br/>
                                                                    inscrivez 5, 5 réponses<br/> 
                                                                    seront aléatoirement choisies<br/>
                                                                    parmi les 20. <br/>
                                                                    Dans le cas d'un QCM/QCS,<br/> au moins une sera valide.</div>
                                                            </span>
                        </label>
                    </a>
                </div>
                <div class="col-sm-7 col-md-9">
                    <span class="row no_visu_on_load btn-sacado" id="pseudorandomize_zone">
                        {{ form.pseudoalea_nb }} <label>paires à proposer parmi les <span id="nb_pseudo_aleatoire">2</span> enregistrées ci-dessous. Si 0, les paires sont toutes proposées.</label>
                    </span>                                    
                </div>
            </div>  
            <script id="rowToClone" type="text/template">
                <div id="duplicate">
                    <div class="col-sm-12">
                        <div class="row quizz_line_answer quizz_box_answer multiple_quizz_box_answer quizz_box_answer_left" >  
                            <div class="col-sm-6">
                                <div class="row ">
                                    <div class="col-sm-2 col-md-1 get_image"  align="center" id="imager"> 
                                        <i class="fa fa-file-image-o answer_margin10 fa-2x" id="file-image"></i>
                                        {{ form_ans.empty_form.imageanswer|add_class:"choose_imageanswer" }}
                                        <img src="{% if form.imageanswer.url %}{{ form.imageanswer.url }}{% endif %}" height="90px" 
                                             class="choose_imageanswer preview" id="preview"> 
                                    </div>
                                    <div class="col-sm-9 col-md-10" > <a href="javascript:void()" id="delete_img" class="preview delete_img"><i class="fa fa-trash"></i></a>
                                        {{ form_ans.empty_form.answer|attr:"placeholder:Texte 1"|add_class:"quizz_font30 quizz_answer"  }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="row ">
                                    <div class="col-sm-2 col-md-1 get_image"  align="center" id="imagerbis"> 
                                        <i class="fa fa-file-image-o answer_margin10 fa-2x" id="file-imagebis"></i>
                                        {{ form_ans.empty_form.imageanswerbis|add_class:"choose_imageanswerbis" }}
                                        <img src="{% if form.imageanswerbis.url %}{{ form.imageanswerbis.url }}{% endif %}" height="90px" 
                                             class="choose_imageanswer preview" id="previewbis"> 
                                    </div>
                                    <div class="col-sm-9 col-md-10" > 
                                        <a href="javascript:void()" id="delete_imgbis" class="preview delete_imgbis"><i class="fa fa-trash"></i></a>
                                        {{ form_ans.empty_form.answerbis|attr:"placeholder:Texte 2"|add_class:"quizz_font30 quizz_answer"  }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <span class="input-group-addon input-group-addon-right remove_more"><i class="bi bi-trash"></i></span>
                            </div>            
                            <div class="row">
                                <div class="col-sm-12 col-md-12" >
                                    <a href="javascript:void()" class="automatic_insertion"   id="feed_back"><i class="bi bi-arrow-return-right"></i> Afficher un feedback si cette réponse est choisie. </a>
                                    <div id="div_feed_back" {% if not form.retroaction.value   %} class="checkbox_no_display"{% endif %}>
                                    {{ form_ans.empty_form.retroaction|add_class:"form-control"|attr:"rows:3"|attr:"placeholder:Ecrire le feedback" }}
                                    </div>
                                </div>
                            </div>      

                        </div>
                        <div class="row" id="cloningZone">                            

                        </div>
                    </div>
                </div>
            </script> 
             
            
                {{ form_ans.management_form }}
                <div id="formsetZone">
                <input id="qtype" value="{{ qtype }}" name="qtype" type="hidden" />
                {% for form in form_ans %} 
                    {{ form.id }}
                    <div class="col-sm-12">
                        <div class="row quizz_line_answer quizz_box_answer multiple_quizz_box_answer quizz_box_answer_left" >  
                            <div class="col-sm-6">
                                <div class="row ">
                                    <div class="col-sm-2 col-md-1 get_image"  align="center" id="imager{{ forloop.counter0 }}"> 
                                        <i class="fa fa-file-image-o answer_margin10 fa-2x" id="file-image{{ forloop.counter0 }}"></i>
                                        {{ form.imageanswer|add_class:"choose_imageanswer" }}
                                        <img src="{% if form.imageanswer.url %}{{ form.imageanswer.url }}{% endif %}" height="90px" class="choose_imageanswer preview" id="preview{{ forloop.counter0 }}"> 
                                        
                                    </div>
                                    <div class="col-sm-10 col-md-10" > 
                                        <a href="#" id="delete_img{{ forloop.counter0 }}" class="preview delete_img"><i class="fa fa-trash"></i></a>
                                        {{ form.answer|attr:"placeholder:Texte 1"|add_class:"quizz_font30 quizz_answer"  }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row ">
                                    <div class="col-sm-2 col-md-1 get_image"  align="center" id="imagerbis{{ forloop.counter0 }}"> 
                                        <i class="fa fa-file-image-o answer_margin10 fa-2x" id="file-imagebis{{ forloop.counter0 }}"></i>
                                        {{ form.imageanswerbis|add_class:"choose_imageanswerbis" }}
                                        <img src="{% if form.imageanswerbis.url %}{{ form.imageanswerbis.url }}{% endif %}" height="90px" class="choose_imageanswerbis preview" id="previewbis{{ forloop.counter0 }}"> 
                                        
                                    </div>
                                    <div class="col-sm-10 col-md-10" >
                                        <a href="#" id="delete_imgbis{{ forloop.counter0 }}" class="preview delete_imgbis"><i class="fa fa-trash"></i></a> 
                                        {{ form.answerbis|attr:"placeholder:Texte 2"|add_class:"quizz_font30 quizz_answer"  }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12" >
                                    <a href="javascript:void()" class="automatic_insertion"   id="feed_back{{ forloop.counter0 }}"><i class="bi bi-arrow-return-right"></i> Afficher un feedback si cette réponse est choisie. </a>
                                    <div id="div_feed_back{{ forloop.counter0 }}" {% if not form.retroaction.value   %} class="checkbox_no_display"{% endif %}>
                                    {{ form.retroaction|add_class:"form-control"|attr:"rows:3"|attr:"placeholder:Ecrire le feedback" }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>





                <div class="row">
                    <div class="col-sm-12 col-md-12" >
                        <a href="javascript:void();"  class="add_more btn btn-sacado" ><i class="bi bi-plus-circle"></i> Ajouter une paire </a><br/><br/>
                    </div>                            
                </div>
        </div>     
    </div>       
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="form_card" style="margin-top:20px;">
            {% include 'qcm/qtype/_content_correction.html' %} 
        </div>   
    </div>       
</div>

 
{% endblock %}


                
 