{% load static %}
<li  class='dropdown'>

    <a href="#" class="righter" id="mobile_version_button_closer">
        <i class="fa fa-times closer_tab"></i>
    </a>

    <a href="{% url 'logout' %}" class="main"><img src="{% static 'img/sacadoLogo.png' %}" style="vertical-align: text-bottom;" width="35px"/>

        <div class="captionmenu sacado_menu">
         SACADO
        </div>
    </a>




</li>



<li class="dropdown {% if '/account' in request.path and not 'admin' in    request.path %}active{% endif %}">
    <a href="#" class="main"  id="account">
        <i class="fa fa-user fa-2x"></i>
        {% if not user.country  %}
            <i class="fa fa-info-circle text-warning" aria-hidden="true" style="position: absolute;bottom: 20px; right: 25;"></i> 
        {% endif %}         
        <div class="captionmenu">Compte</div>
    </a>
</li>

<li class="dropdown {% if not '/account'  in request.path and not '/tool'  in request.path and not '/parcours'  in request.path and not '/school'  in request.path and not '/sendmail'  in request.path and not '/qcm'  in request.path  %}active{% endif %}">
    <a href="{% url 'index' %}" class="main" >
        <i class="fa fa-tachometer-alt fa-2x"></i> 
        <div class="captionmenu">Tableau de bord</div>
    </a>
</li>


 

 

<li  class="dropdown {% if '/parcours' in request.path and not 'evaluation' in request.path %}active{% endif %}">
    <a href="{% url 'parcours' %}" class="main" >
        <i class="fa fa-th fa-2x" aria-hidden="true"></i> 
        <div class="captionmenu">Parcours</div>
    </a>
</li>
<li  class="dropdown {% if 'evaluation' in request.path    %}active{% endif %}">

    {% if sacado_asso %}
    <a href="{% url 'evaluations' %}" class="main" >
        <i class="fa fa-th fa-trophy fa-2x" aria-hidden="true"></i> 
        <div class="captionmenu">Evaluations</div>
    </a>
    {% else %}
    <a href="#" class="main" style="cursor:not-allowed" title="Version établissement requise."  >
        <i class="fa fa-th fa-trophy fa-2x" aria-hidden="true"></i> 
        <div class="captionmenu">Evaluations</div>
    </a>
    {% endif %}
</li>

 <li  class="dropdown {% if '/exercise' in request.path %}active{% endif %}">
    <a href="{% url 'exercises' %}" class="main" >
        <i class="fa fa-laptop fa-2x" aria-hidden="true"></i> 
        <div class="captionmenu">Exercices</div>
    </a>
</li>


 
<li class="dropdown {% if '/tool' in request.path and not 'admin' in    request.path %}active{% endif %}">
    <a href="#" class="main"  id="tools">
        <i class="fa fa-cubes fa-2x"></i> 
        <div class="captionmenu">Outils péda.</div>
    </a>
</li>
 


<li  class="dropdown  {% if '/sendmail' in request.path %} active{% endif %}">

    {% if sacado_asso %}
    <a href="{% url 'emails' %}" class="main" >
        {% if nbe > 0 %}
        <span class="label label-warning notifications">{{nbe}}</span>
        {% endif %}
        {% if is_pending_studentanswers %}
            <i class="fa fa-info-circle text-warning" aria-hidden="true" style="position: absolute;bottom: 20px; right: 25;"></i> 
        {% endif  %}
        <i class="fa fa-inbox fa-2x"></i> 
        <div class="captionmenu">Communications</div>
    </a>
    {% else %}
    <a href="#" class="main" style="cursor:not-allowed" title="Version établissement requise."  >   
        <i class="fa fa-inbox fa-2x" aria-hidden="true"></i> 
        {{ is_pending_studentanswers }}
        {% if is_pending_studentanswers %}
            <i class="fa fa-info-circle text-warning" aria-hidden="true" style="position: absolute;bottom: 20px; right: 25;"></i> 
        {% endif  %}
        <div class="captionmenu">Communications</div>
    </a>
    {% endif %}

</li>
  


{% if request.user.is_superuser %}

<li  class="dropdown  {% if 'admin' in request.path  or 'school' in request.path  %} active{% endif %}">
    <a href="#"   id="admin" class="main">
        <i class="fa fa-cloud fa-2x"></i> 
        <div class="captionmenu">Admin</div>
    </a>
</li>

{% elif request.user.is_extra  %} <!-- Créateur de support -->

<li  class="dropdown  {% if 'admin' in request.path or '/school' in request.path %} active{% endif %}">
    <a href="#"   id="admin" class="main">
        <i class="fa fa-cloud fa-2x"></i> 
        <div class="captionmenu">Admin</div>
    </a>
</li>

{% elif request.user.is_manager   %} <!-- manager dans un établissement -->
<li  class="dropdown  {% if 'admin' in request.path or '/school' in request.path %} active{% endif %}">
    <a href="{% url 'admin_tdb' %}" class="main" >
        <i class="fa fa-cloud fa-2x"></i> 
        <div class="captionmenu">Admin</div>
    </a>
</li>




{% elif request.user.is_testeur   %} <!-- testeur des documents -->
<li  class="dropdown  {% if 'admin' in request.path or '/school' in request.path %} active{% endif %}">
    <a href="{% url 'admin_testeur' %}" class="main" >
        <i class="fa fa-cloud fa-2x"></i> 
        <div class="captionmenu">Admin</div>
    </a>
</li>

{% endif  %}



