{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

<div class="col-xs-12">
	{% for flashpack in flashpacks %}


		<div  class="box box-widget widget-user-2"  
		      style="{% if flashpack.vignette %}background-image: url('{{ flashpack.vignette.url }}'); background-size: cover; {% endif %}background-color:{{flashpack.color }};height:300px">
		    <div class="handler widget-user-header" style="height:150px">
		        <!-- Add signet to folder -->
		 
		        <div class="box_title_vignette"  style="padding:4px; opacity:0.95;background-color:{{flashpack.color }};color:{{color|contrast_color }};font-weight: 100;top:120px">

		                   
		                {% if flashpack.title|length > 26 %}
		                <span class="helper_tip" style=" font-size:16px;">{{ flashpack.title|truncatechars:"26" }}
		                    <div class="helper_tip_text_right" style="font-size:14px;">{{ flashpack.title }}</div>
		                </span>
		                {% elif flashpack.title|length > 22 %}
		                    {{ flashpack.title|truncatechars:"22"}}
		                {% else %}
		                    {{ flashpack.title}}
		                {% endif %}
		   
		        </div>
		    </div>
		    <!-- box-footer DES FONCTIONNALITES  -->
		    <div class="box-footer" style="position: relative; padding-top: 0px;height:150px">
		 
		        <div class="row dossier"  style="padding-top: 5px;padding-bottom: 5px;margin-bottom: 5px; padding-left :-10px;font-size:20px"> 
		            <div class="col-xs-6 col-md-6 col-lg-6"> 
		                {{  flashpack.flashcards.count }} flashcard{{  flashpack.flashcards.count|pluralize }} 
		            </div>
		            <div class="col-xs-3 col-md-3 col-lg-3" align="center"> 
		                <a href="{% url 'show_flashpack' flashpack.id  %}" style="font-size:20px" target="_blank"><i class="bi bi-eye"></i></a> 
		            </div>
		            <div class="col-xs-3 col-md-3 col-lg-3" align="center"> 
		                <a  href="#" data-toggle='modal' data-target='#duplication_modal' style="font-size:20px" 
		                    id='duplication_document' 
		                    data-document_id='{{ flashpack.id }}' data-document_title='{{ flashpack.title }}'><i class="bi bi-clipboard-plus"></i></a>  
		            </div>
		        </div>

		        <div class="row"> 
		            <div class="col-xs-12 col-md-12 col-lg-12 skill_knowledge_flashpack_title">
		                Thèmes : <span style="font-variant-caps:normal;font-size:15px;color:#222;" >                        
		                {% for t in flashpack.themes.all %}
		                    {{ t.name }}{% if not forloop.last %}, {% endif %}
		                {% endfor %}</span>
		            </div> 
		        </div>

		    </div>    
		</div>   

	{% empty %}
	<div class="row">
		<div class="col-xs-12">
			<div class="alert alert-sacado">Aucun résultat ne correspond à votre recherche.</div>
		</div>
	</div>
	{% endfor %}
</div>










<div style="clear: both;">
<script>
    MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
</script>
 

