{% load static %}
{% load widget_tweaks %}
{% load item_tags %}


<form action="#" method="POST" id="question_form"  enctype='multipart/form-data' > 
{% csrf_token %}    
    <input type="hidden" name="flashpack" id="id_flashpack" value="{{ flashpack.id }}" /> 
    <input type="hidden" name="subject" id="id_subject" value="{{ flashpack.subject.id }}" /> 
    <div class="row">
        <div class="col-sm-12 col-md-6">
                <label>Titre</label>
                {{ form.title|add_class:"form-control"  }}
                {{ form.title.errors }}
        </div>
        <div class="col-sm-12 col-md-2">
            <div class="form-group">
                <label>Calculatrice ?</label><br/>
                {{ form.calculator|attr:"data-toggle:toggle"|attr:"data-onstyle:primary"|attr:"data-offstyle:default"|attr:"data-on:Oui"|attr:"data-off:Non"}}
                {{ form.calculator.errors }}
            </div>
        </div>
        <div class="col-sm-12 col-md-2">
            <div class="form-group">
                <label>Taille de police</label>
                {{ form.size|add_class:"form-control select2" }} 
                {{ form.size.errors }}
            </div>
        </div>
        <div class="col-sm-12 col-md-2">
            <div class="form-group">
                <label>Durée (optionnel)</label>
                {{ form.duration|add_class:"form-control" }} 
                {{ form.duration.errors }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <label>Attendu (optionnel)</label>
            {{ form.waiting|add_class:"form-control select2"}} 
            {{ form.waiting.errors }} 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h2 class="thin">Question </h2>
        </div>
    </div>
    <div class="row">  
        <div class="col-sm-12 col-md-12">
                {{ form.question|add_class:"formulaire" }}
                {{ form.question.errors }}             
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h2 class="thin">Réponse </h2>
        </div>
    </div>
    <div class="row">  
        <div class="col-sm-12 col-md-12">
            {{ form.answer|add_class:"formulaire" }}
            {{ form.answer.errors }}    
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h2 class="thin">Aide </h2>
        </div>
    </div>
    <div class="row">  
        <div class="col-sm-12 col-md-8">
            {{ form.helper|add_class:"formulaire" }}
            {{ form.helper.errors }}   
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12"> 
            <div class="form-group">
                <input value="Enregistrer" type="submit" class="btn btn-primary"/>
                <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default "/></a>
            </div>
        </div>    
    </div>
</form>
 