{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

{% block require %}
    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
    <script>
        require(['script/ajax-flashpack']);
    </script> 
{% endblock %} 


{% block page_title %}
    {% include 'flashcard/logo.html' %}  
    Mes flashpacks
{% endblock %}



{% block page_menu_right %}

    {% if request.user.is_in_academy %}
        <a href="{% url 'create_flashpack_academy' 0 %}" class="btn btn-new-violet">Créer un flashpack</a>
    {% endif %}

{% endblock %}




{% block body %}
<section class="content_main"> 
    {% if not fpacks and not flashpacks and request.user.is_in_academy   %}
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12"> 
            <div class="alert alert-warning">
                <p>Un flashpack est un ensemble de flashcards (ou cartes mémoire). </p>
                <p>Depuis plusieurs décennies, les neuroscientifiques, pédagogues, psychologues, informaticiens cherchent à déterminer une méthode efficace pour apprendre. Stanislas Dehaene bâtit une thèse sur ses <a href="http://parisinnovationreview.com/article/les-quatre-piliers-de-lapprentissage-stanislas-dehaene" target="_blank">4 piliers de l'apprentissage</a> :
                <ol>
                  <li>L'attention</li>
                  <li>L'engagement actif</li>
                  <li>Le retour d’information</li>
                  <li>La consolidation</li>
                </ol> 
                </p>
                <p>De son coté, <a href="https://supermemo.guru/wiki/Piotr_Wozniak" target="_blank">Piotr Wozniak</a> code dès 1985 un algorithme d'apprentissage par répétitions espacées, le <a href="https://www.supermemo.com/en/articles/history" target="_blank">SUPERMEMO</a>. Aujourd'hui cette base algorithmique est largement utilisée, amendée, recalculée et de nombreuses applications utilisent ce procédé.</p>
                <p>SACADO se lance dans les répétitions espacées selon un algorithme simplifié de SUPERMEMO. Chaque enseignant peut alors choisir l'algorithme sur une période donnée. Il crée ses flashpacks à partir de flashcards existantes ou crée ses propres flashcards ou demandent à ses élèves de construire leurs cartes mémoires.  

                <ol>Deux modes d'utilisation des flashpacks : 
                    <li>Répétitions espacées : SACADO prévient l'élève des dates de répétitions dès que l'élève se connecte à son espace.</li>
                    <li>Autonomie :  L'élève s'entraine à souhait sur son flashpack et à date échéance, son score est enregistré.</li>
                </ol> 
                </p>
                <p>Convaincue de l'étude des neurosciences, l'équipe SACADO place les flashpacks dans son application pour permettre à chaque élève de s'engager dans son apprentissage encore un peu plus efficacement.</p>
            </div>
        </div>        
    </div>
    {% endif %}




    {% if flashpacks %}
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12"> 
           <h2 class="thin">Flashpack sur l'année</h2>
        </div>        
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12"> 
                {% for flashpack in flashpacks %}
                    {%  include 'flashcard/flashpack_student_data_index.html'  %}
                {% endfor %}   
            <!-- ******************************************************************************************** -->
        </div>        
    </div>
    {% endif %}
    {% if fpacks %}

        {% if not request.user.is_in_academy %}
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12"> 
               <h2 class="thin">Flashpack par parcours</h2>
            </div>        
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12"> 
                    {% for flashpack in fpacks %}
                        {%  include 'flashcard/flashpack_student_data_index.html'  %}
                    {% endfor %}   
                <!-- ******************************************************************************************** -->
            </div>        
        </div>
    {% endif %}
</section>
{% endblock %}