    <li class="dropdown">

        <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-action"> Nouveau flashpack </a>

        <ul id="products-menu" class="dropdown-menu clearfix pull-right" role="menu">
            <li> <a href="{% url 'create_flashpack' 0 %}" > Créer un flashpack</a> </li> 
            <li> {% if sacado_asso %} 
                <a href="{% url 'flashpacks' %}" > Récupérer un flashpack mutualisé
                    {% if not folder or not parcours %} 
                        <span class="helper_tip"> 
                                <i class="fa fa-warning text-danger"></i> 
                                <div class="helper_tip_text" >
                                    Préférer cloner depuis un <br/>parcours ou un dossier.  <br/>Le flashpack sera directement<br/> affecté à votre parcours ou <br/>votre dossier.    
                                </div>
                        </span>
                    {% endif %} 

                </a> 



                {% else %}<a href="#"  class="no_sacado_asso" > Récupérer un flashpack mutualisé </a> {% endif %} </li>         
           	<li class="divider"></li>
		    <li>
		        {% if sacado_asso %}
		            <a href="{% url 'my_flashpack_archives' %}" >Mes flashpacks archivés ({{ nba }})</a> 
		        {% else %}
		            <a href="#"  class="no_sacado_asso" > Mes flashpacks archivés ({{ nba }})</a> 
		        {% endif %} 
		    </li>


        </ul>
    </li>          
