 
<div class="row"> 
    <div class="col-lg-12 col-xs-12">
        <h3 class="thin">Groupes </h3>
    </div>
</div>
<div class="row">
{% for group in groups %}
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-{{ group.color }}">
            <div class="inner">
                <h3>{{ group.name }} </h3>  
        <p>{{ group.students.count }} élève{{ group.students.count|pluralize }} </p>
        <p><i class="fa fa-trophy"></i> <a href="{% url 'results' %}">Résultats</a> </p>
              
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>

            <div class="small-box-footer">
            <span class="white" style="margin-right: 30px; padding-left: 15px;">  <i class="fa fa-barcode"></i> {{ group.code }} </span>
              <a href="{% url 'groups'  %}" class="white" style="margin-right: 30px;  "><i class="fa fa-arrow-circle-right"></i> En détails </a>

            </div>

        </div>
    </div>
{% endfor %}
<div class="col-lg-3 col-xs-6">
    <p><a href="{% url 'create_group' %}" class="btn btn-subsacado  btn-large"><i class="fa fa-plus"></i> Créer un groupe </a></p>
</div>
</div>
<hr/>
<div class="row"> 
    <div class="col-lg-12 col-xs-12">
        <h3 class="thin">Parcours </h3>
    </div>
</div>
<div class="row">
{% for parcour in parcours %}
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-{{ group.color }}">
            <div class="inner">
                <h3>{{ group.name }} </h3>  
        <p>{{ group.students.count }} élève{{ group.students.count|pluralize }} </p>

              
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>

            <div class="small-box-footer">
            <span class="white" style="margin-right: 30px; padding-left: 15px;">  <i class="fa fa-barcode"></i> {{ group.code }} </span>
              <a href="{% url 'groups'  %}" class="white" style="margin-right: 30px;  "><i class="fa fa-arrow-circle-right"></i> En détails </a>

            </div>

        </div>
    </div>
{% endfor %}
    <div class="col-lg-3 col-xs-6">
        <p><a href="{% url 'create_parcours' %}" class="btn btn-subsacado  btn-large"><i class="fa fa-plus"></i> Créer un parcours </a></p>
    </div>
</div>
 
 
{% if request.user.user_type > 1 or request.user.is_superuser %}
<hr/>
<div class="row" style="margin:0px"> 
    <div class="col-lg-12 col-xs-12">
        <p><a href="{% url 'create_exercise' %}" class="btn btn-subsacado  btn-large"><i class="fa fa-plus"></i> Créer un exercice </a></p>
    </div>
</div> 
{% endif %} 
 
 