

{% if contenttypes %}
<ul class="nav nav-pills nav-stacked">
    <li {% if '/index' in request.path %} class="active" {% endif %}><a href="{% url 'show_section' course.id section.id  %}"> Accueil</a></li>
    
    {% for ct in contenttypes %}

 
 		{% if section %}
           <li{% if  ctname  in request.path or ct.slug in request.path %} class="active" {% endif %}><a href="{% url 'sequence_contenttype' ct.slug ct.id  course.id  section.id %}"> {{ ct.name }} </a></li>
 		{% else  %}
           <li{% if  ctname  in request.path or ct.slug in request.path %} class="active" {% endif %}><a href="{% url 'sequence_contenttype' ct.slug ct.id  course.id    %}"> {{ ct.name }} </a></li> 
    	{% endif %}
      

    {% endfor %}


    <li{% if '/updater'   in request.path %} class="active" {% endif %}><a href="{% url 'update_section' course.id  section.id %}"> Paramètres</a></li>



</ul>
{% endif %}