{% extends 'dashboard.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_title %} 
   <a href="{% url 'admin_tdb' %}"> <i class="fa fa-cloud"></i></a> {% if request.user.is_superuser %}Nouvel établissement {% else %}Modifier l'établissement{% endif %}
{% endblock  %}


{% block require %}
{% if school %}
<script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common3.js' %}"></script>
{% else %}
<script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common-index.js' %}"></script>
{% endif %}
{% endblock %} 


{% block page_menu_right %}

{% endblock %}





{% block body  %}    
 
<section class="content_main">

    <form  action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    {{ form.name.label_tag }}
                    {{ form.name |add_class:"form-control" }}
                    {{ form.name.errors }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label>Pays :</label>
                    {{ form.country |add_class:"form-control select2" }}
                    {{ form.country.errors }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">                
                    {{ form.address.label_tag }}
                    {{ form.address |add_class:"form-control" }}
                    {{ form.address.errors }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">                
                    {{ form.complement.label_tag }}
                    {{ form.complement |add_class:"form-control" }}
                    {{ form.complement.errors }}
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">                
                    {{ form.zip_code.label_tag }}
                    {{ form.zip_code |add_class:"form-control" }}
                    {{ form.zip_code.errors }}
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">                
                    {{ form.town.label_tag }}
                    {{ form.town |add_class:"form-control" }}
                    {{ form.town.errors }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">                
                    {{ form.code_acad.label_tag }}
                    {{ form.code_acad |add_class:"form-control" }}
                    {{ form.code_acad.errors }}
                </div>
            </div>
        </div>   
 
 
    
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">                
                    {{ form.nbstudents.label_tag }}
                    {{ form.nbstudents |add_class:"form-control" }}
                    {{ form.nbstudents.errors }}
                </div>
            </div>
        </div>   
  



        <div class="row">
            <div class="col-sm-9 col-md-9">
                <div class="form-group">
                    <input value="Enregistrer" type="submit" class="btn btn-primary"/>            
                    <a href="javascript:history.back()"><input type="button" value="Annuler" class="btn btn-default "/></a>
                </div>
            </div>
 
   
            {% if school and  request.user.is_superuser %}
        
                <div class="col-sm-3 col-md-3">
                    <div class="form-group">
                        <a href="{% url 'delete_school'  school.id %}"  class="btn btn-danger"  onclick="return TestDelete(' cet établissement ')">Supprimer</a>
                    </div>           
                </div>
            
            {% endif %} 
        </div>
    </form>
   
</section>
{% endblock  %}