{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% load item_tags %}

 

{% block require %}
 

    <script src="{% static 'js/require.js' %}"   data-main="{% static 'js/common-index.js' %}"></script>
    <script>
        require(['script/ajax_get_school']);        
    </script>
 
{% endblock %}



{% block page_title %}  
     <i class="fa fa-university"></i> Rejoindre un établissement
{% endblock %}

{% block page_menu_right %}
    
{% endblock %}


 
     
{% block body %}     
<div class="content_main">
    <div class="row">  
        <div class="col-sm-12 col-md-12">
            <div class="alert alert-warning">
                <li>Séléctionner l'établissement dans la liste.</li>                
                <li>Pour la France : Vous devez connaitre le RNE de votre établissement à renseigner ici.</li>

            </div>
        </div>
    </div>
    <form action="" method="POST">
    {% csrf_token %}    
                      <div class="row">
                          <div class="col-sm-12 col-md-6">
                              <div class="form-group"><label>Sélectionner le pays. <small>Pour la France, munissez-vous du RNE.</small></label>
                                  <select id="id_country_school" name="country_school" class="form-control select2" required>
                                      <option value=" ">--------------</option>
                                      {% for c in countries %}
                                          <option value="{{ c.id }}">{{ c.name }}</option>
                                      {%  endfor %}
                                  </select>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-12 col-md-6" id="select_town">
                              <div class="form-group"><label>Sélectionner la ville</label>
                                  <select id="id_town_school" name="town_school" class="form-control select2">
                                  </select>
                              </div>
                          </div>
                      </div>
                      <div class="row"  id="select_rne">
                          <div class="col-sm-12 col-md-6 no_visu">
                              <div class="form-group"><label>Renseigner le code RNE</label>
                                  <input type="text" name="rne" id="id_rne" class="form-control" maxlength="10" />
                              </div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-sm-12 col-md-6">
                              <div class="form-group"><label>Sélectionner l'établissement</label>
                                  <select id="id_school" name="school" class="form-control select2 no_visu" required>
                                  </select>
                              </div>
                          </div>
                      </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group"> Vous n'avez pas trouvé votre établissement, <a href="{% url 'index' %}#contact">Nous contacter</a>.
                            </div>
                        </div>
                    </div>








        <div class="row">
            <div class="col-sm-12 col-md-8">
                <div class="form-group">
                    <input value="Rejoindre cet établissement" type="submit" class="btn btn-primary"   />
                    <a href="javascript:history.back()"><input type="button" value="Annuler"
                                                               class="btn btn-default "/></a>
                </div>


            </div>
        </div>
    </form>
</div> 
        
{% endblock %}