{% extends 'dashboard.html' %}
{% load static %}



{% block require %}
    <script src="{% static 'js/require.js' %}" data-main="{% static 'js/common-accueil.js' %}"></script> 
    <script>
    
        require(['script/ajax-dashboard']);
        require(['script/ajax_load_schools']);
    </script>
{% endblock %}


 
{% block page_title %}
   <a href="{% url 'admin_tdb' %}"> <i class="fa fa-cloud"></i></a> Etablissements Enregistrés
{% endblock %}



{% block page_menu_right %}
    <li><a href="{% url 'create_school' %}"  class="btn btn-new">+ Nouvel établissement</a> </li>
{% endblock %}


{% block body  %}    
 
<section class="content_main">
 
 
 
                  <div class="row">
                      <div class="col-sm-12 col-md-12">
                          <div class="form-group"><label>Sélectionner le pays. <small>Pour la France, munissez-vous du RNE.</small></label>
                              <select id="id_country_school" name="country_school" class="form-control select2" required>
                                  <option value=" ">--------------</option>
                                  {% for c in countries %}
                                      <option value="{{ c.id }}">{{ c.name }}</option>
                                  {%  endfor %}
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-12 col-md-12" id="select_town">
                          <div class="form-group"><label>Sélectionner la ville</label>
                              <select id="id_town_school" name="town_school" class="form-control select2">
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="row"  id="select_rne">
                      <div class="col-sm-12 col-md-12 no_visu">
                          <div class="form-group"><label>Renseigner le code RNE</label>
                              <input type="text" name="rne" id="id_rne" class="form-control" maxlength="10" />
                          </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-sm-12 col-md-12">
                          <div class="form-group">
                              <div id="id_school">
                              </div>
                          </div>
                      </div>
                  </div>
 
</section> 
{% endblock %}